@charset "utf-8";
/* CSS Document */

html {position: relative; min-height: 100%;}
body{ background:#eeeeee; /*margin-bottom: 60px;*/ font-family: 'Lato', sans-serif; font-weight:400;}

.nopadding{  padding: 0 !important;}
.nomargin{ margin: 0 !important;}
.nopadleft{ padding-left:0px !important;}
.nopadright{ padding-right:0px !important;}
.colcenter { float: none; margin: 0 auto;}
.clear{ clear:both;}


/*-----------------placeholder css -------------------------------*/

input::-moz-placeholder {  /* Firefox 19+ */ opacity:1; font-family: 'Lato', sans-serif; font-size:15px; font-weight:400; color:#666666 !important;}
input::-webkit-input-placeholder {  /* Firefox 19+ */ opacity:1; font-family: 'Lato', sans-serif; font-size:15px; font-weight:400; color:#666666 !important;}
input:-ms-input-placeholder {  /* Firefox 19+ */ opacity:1; font-family: 'Lato', sans-serif; font-size:15px; font-weight:400; color:#666666 !important;}
select::-ms-expand {display: none;}


/*========================== customs checkbox css aera  ================================= */

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
		font-size:16px; font-weight:400; color:#333333; font-family: 'Lato', sans-serif;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px !important; height: 17px !important;
  border: 1px solid #aaa;
  background: #fff !important;
  border-radius: 0px;
  /*box-shadow: inset 0 1px 3px rgba(0,0,0,.3)*/
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0; left: 4px;
  font-size: 16px;
  color: #0063b1;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}


input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: $DarkBrown;
    font-family:Arial, sans-serif;
    font-size:14px;
}
input[type="radio"] + label span {
    display:inline-block;
    width:16px;
    height:16px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
	border:1px solid #878787; background:#fff;
}

input[type="radio"] + label span {
     background-color:#fff;
}

input[type="radio"]:checked + label span{
     background-color:#2492d6;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

/*-----------------login_area css(13-07-2016) -------------------------------*/

.login_area{ width:100%; min-height:1000px; position:fixed; 
/*background: rgba(106,178,245,1);
background: -moz-linear-gradient(45deg, rgba(106,178,245,1) 0%, rgba(18,119,227,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(106,178,245,1)), color-stop(100%, rgba(18,119,227,1)));
background: -webkit-linear-gradient(45deg, rgba(106,178,245,1) 0%, rgba(18,119,227,1) 100%);
background: -o-linear-gradient(45deg, rgba(106,178,245,1) 0%, rgba(18,119,227,1) 100%);
background: -ms-linear-gradient(45deg, rgba(106,178,245,1) 0%, rgba(18,119,227,1) 100%);
background: linear-gradient(45deg, rgba(106,178,245,1) 0%, rgba(18,119,227,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ab2f5', endColorstr='#1277e3', GradientType=1 );*/

  
}

.login_area_page{ width:100%; background:rgba(255,255,255,0.6); min-height:300px; position:relative; border-top-left-radius:5px; border-top-right-radius:5px; display:inline-block; box-shadow:0px 0px 10px rgba(0,0,0,0.2);}
.logos_area{ width:100%; position:relative; margin-top:calc(100% - 300px); text-align:center; margin-bottom:10px; }
.login_header{ width:100%; position:relative; background:#fff; border-top-left-radius:5px; border-top-right-radius:5px; box-shadow:0px 1px 10px rgba(0,0,0,0.2);}
.login_header h3{font-family: 'Lato', sans-serif; display:block; text-decoration:none; font-size:22px; font-weight:400; color:#35505d; margin:0px; padding:10px; text-align:center; }

.login_body{ padding:50px 20px 20px; position:relative; float:left; width:100%; text-align:center;}
.login_body .form-group .input-group .form-control{ padding:12px 5px; border:1px solid #35505d; font-family: 'Lato', sans-serif; color:#35505d; height:auto; font-size:16px; background:rgba(255,255,255,0.6);}
.login_body .input-group-addon{ border:1px solid #35505d; background:#fff; padding:5px 20px; border-right:none;}

.login_submit_bt{ border:none; background:#35505d; color:#fff; padding:12px 40px;}



/*-----------------header_area css -------------------------------*/

header{ width:100%; min-height:75px; background:#fff; box-shadow:0px 0px 3px rgba(0,0,0,0.3); position:fixed; z-index:999;}
header .logo{ display:block; margin:20px 0px;}
header .dropdown{margin:20px 0px;}
header .dropdown .users{ display:inline-block; background:#e4e3e3; border-radius:5px; padding:2px 9px; color:#fff; font-size:20px; margin-right:3px;}
header .dropdown a{font-family: 'Lato', sans-serif; display:inline-block; text-decoration:none; font-size:14px; font-weight:400; color:#7f7f7f;}
header .dropdown a:hover{ text-decoration:none;}
header .dropdown .dropdown-menu { }
header .dropdown .dropdown-menu li{ list-style-type:none; width:100%; border-bottom:1px solid #e4e3e3; float:left; margin:0px; padding:0px; position:relative;}
header .dropdown .dropdown-menu li a{font-family: 'Lato', sans-serif; font-size:16px; color:#7f7f7f; display:block; padding:7px;}

.dat_time{ width:100%; position:relative; float:left; min-height:50px; margin:12px 0px; background:#f1f1f1; border:1px solid #dadada;}
.date_area{ background:#35505d; width:45%; float:left;}
.date_area p{font-family: 'Lato', sans-serif; color:#fff; font-size:12px; padding:3px 0px; text-align:center; margin:0px;}
.date_area #dates{ width:60%; text-align:center; font-size:25px; line-height:20px; float:left;}
.date_area #motns{ width:40%; text-align:center; font-size:12px; line-height:20px; float:left;}
.getTims{width:55%; float:left;}
.getTims p{color:#808080; font-size:19px; text-align:center; margin:0px; padding:10px 0px 5px;}



section{ width:100%; position:relative; float:left; margin-top:75px;}
.left_menu_area{ width:100%; min-height:500px; background:#fff; border:1px solid #cfcfcf; margin-top: 40px;}
.left_menu_area ul{ position:relative; float:left; margin:5px 0px; padding:0px; /*margin-top:0px;*/}
.left_menu_area ul li{ list-style-type:none; width:100%; position:relative; float:left; margin:0px; padding:0px;}
.left_menu_area ul li:nth-child(4):after{font-family: FontAwesome; content: "\f078"; position:absolute; padding:0px 5px; font-size:12px; right:14px; top:10px; color:#7f7f7f;}
/*.left_menu_area ul li:after{font-family: FontAwesome; content: "\f078"; position:absolute; paddingt:0px 5px; font-size:12px; right:14px; top:10px; color:#7f7f7f;}*/
.left_menu_area ul li a{ text-decoration:none; width:100%; float:left; padding:14px 10px 14px 0px; margin:0px 0px; line-height:18px; font-family: 'Lato', sans-serif; font-size:13px; text-transform:uppercase; color:#7f7f7f; border-bottom:1px solid #f1f1f1;}
.left_menu_area ul li a:hover{background:#35505d; color:#fff;}
.left_menu_area ul li a:focus{outline:none;}
.left_menu_area ul li a:hover span{color:#fff;}
/*.left_menu_area ul li a:focus span{color:#fff;}*/
.left_menu_area ul li span{ width:40px; float:left; padding:0px 10px; font-size:16px; color:#7f7f7f; margin:0px; text-align:center;}

.active{ background:#35505d !important;}
.active a{color:#fff !important;}
.active a span{color:#fff !important;}

.left_menu_area ul li ul{position:relative; float:left; margin:0px; padding:0px; display:none;}
.left_menu_area ul li ul li{ list-style-type:none; width:100%; position:relative; float:left; margin:0px; padding:0px 0px; background:#f1f1f1;}
.left_menu_area ul li ul li:after{font-family: FontAwesome; content: ""; position:absolute; paddingt:0px 5px; font-size:12px; right:14px; top:10px; color:#7f7f7f;}
.left_menu_area ul li ul li a{ text-decoration:none; width:100%; float:left; padding:14px 10px 14px 30px; margin:0px; line-height:18px; font-family: 'Lato', sans-serif; font-size:13px; text-transform:uppercase; color:#7f7f7f !important; border-bottom:1px solid #f1f1f1;}
.left_menu_area ul li ul li a:before{ font-family: FontAwesome; content: "\f111"; position:absolute; paddingt:0px 5px; font-size:8px; left:14px;}
.left_menu_area ul li ul li:hover a:after{ font-family: FontAwesome; content: "\f061"; position:absolute; background:#2486c8; padding:14px; top:0px; color:#fff; font-size:12px; right:0px;}

.left_menu_area ul li ul li a:hover{background:#e4e3e3 !important; color:#2486c8 !important;}
.subliActive a:after{ font-family: FontAwesome; content: "\f061"; position:absolute; background:#2486c8; padding:14px; top:0px; color:#fff; font-size:12px; right:0px;}
.subliActive{background:#e4e3e3 !important;}
.subliActive a:hover{background:#e4e3e3 !important; color:#2486c8 !important;}

/* ============================  left area page css file  ======================== */
.marginTop_btom{ margin:30px 0px;}

.img_area{ min-height:245px; float:left; width:100%; background:#fff; border:1px solid #ebe9e9; position:relative;}
.btn-file { border-radius: 0; border:0px; left: calc(40% - 20px); margin: 0 auto; overflow: hidden; padding: 8px 50px; position: absolute; top: calc(50% - 20px);
	-webkit-box-shadow:2px 2px 5px #999; 
	-moz-box-shadow:2px 2px 5px #999; 
	box-shadow:2px 2px 5px #999;
}
.btn-file input[type=file] { position: absolute; top: 0; right: 0; min-width: 100%; min-height: 100%; font-size: 100px; text-align: right; filter: alpha(opacity=0); opacity: 0; outline: none; background: white; cursor: inherit; display: block;}
.box_area_mofit{ width:100%; position:relative; float:left; border:1px solid #e1e1e1; min-height:245px; background:#f8f8f8;}
.box_area_mofit .form-control{ border-radius:0px; margin:10px 0px;}
.box_area_mofit .form-control:focus{ border-color:#e1e1e1; box-shadow:none;}
.create_box{ border:1px solid #dddcdc; width:100%; margin:10px 0px; background:#fff; float:left;}

.moftiBtn{ display:inline-block; background:#2492d6;  padding:8px 30px; color:#fff; text-decoration:none; margin:10px;}
.moftiBtn:hover{ color:#fff; text-decoration:none;}

.input_area{ width:100%; position:relative; float:left; margin:10px;}
.input_area label{font-weight: 300;}
.defalt_txt{ width:100%; position:relative; float:left; margin:0px; padding:0px;}
.defalt_txt p{ color:#565656; font-size:13px; font-family: 'Lato', sans-serif; margin:0px; padding:0px;}

.txtArea textarea{ width:100%; min-height:10px; border:1px solid #dddcdc; padding:10px; resize:none; margin:10px 0px;}
.social_area{ width:100%; position:relative; bottom:0px; }
.social_area a{ display:inline-block; padding:5px 15px; background:#f8f8f8; border:1px solid #dddcdc; margin-right:10px; color:#c8c8c8;}
.social_area a .fa{ padding-right:8px; color:#c8c8c8;}

.margisTop{ margin-top:30px;}
.margisbtm{ margin-bottom:100px;}
.graph_box{border:1px solid #dddcdc; background:#f8f8f8; margin:10px 0px;}
.graph_box h2{ font-family: 'Lato', sans-serif; font-size:18px; color:#2a2a2a; margin:0px; padding:10px;}
.graph_box .boxes{ background:#f3f3f3; border:1px solid #e1e1e1; /*width:94%;*/ margin:2%; padding:5px;}

.accrodian_area{ width:100%; position:relative; float:left; min-height:300px; border:1px solid #e1e1e1; background:#fff;}
.accrodian_area_head{width:100%; position:relative; float:left; background:#35505d; padding:10px; margin:0px;}

.boxs_area{width:100%; position:relative; float:left;}
.boxs_area table thead{ background:#3c8dbc;}
.boxs_area table thead tr th{ font-size:10px; font-family: 'Lato', sans-serif; color:#fff; border:none; padding:20px 5px; text-align:center;}
.cross{ background:#8b8b8b; padding:3px 5px; border-radius:100%; color:#fff;}

/*====================== slider extra css area ===========================*/

.search_area{position:relative; padding:6px 0px;}
.search_area input{ background:#fff url(../../images/search.png) no-repeat right center; position:relative; border:none; padding:6px 5px; width:95%;}
.search_area input:after{font-family: FontAwesome; content: "\f078"; position:absolute; paddingt:0px 5px; font-size:12px; right:14px; top:10px; color:#7f7f7f;}

.txt_area{ position:relative; padding:6px 0px;}
.txt_area p{ text-align:right; font-size:18px; font-family: 'Lato', sans-serif; color:#fff;}

.selects label{ float:left; font-size:12px; font-family:Arial; padding-left:15px; color:#fff; padding-top:6px;}
.selects .form-control{ width:58%; float:right; padding:6px 5px; border: none; border-radius: 0px;  -moz-appearance: none; -webkit-appearance:none; appearance:none; background: #fff url(../../images/select_arrow.png) no-repeat right center; }
.selects .form-group {  margin-bottom: 5px;  margin-top:7px;}
/*.sets{}
.sets span{ float:left; position:absolute; z-index:99; padding:5px 3px; background:#fff;}
.sets .form-control{ width:85%; position:absolute; padding:6px 5px; border: none; border-radius: 0px;  -moz-appearance: none; -webkit-appearance:none; appearance:none; background: #fff url(../../images/select_arrow.png) no-repeat right center; }*/

.sets{ position: relative;}
.sets .arows{ float:left; position:absolute; z-index:99; padding:5px 0px 5px 3px; background:#fff; margin: 7px 0px;}
.details .arows a{ padding: 0px 4px !important;}
.sets .arows a{ padding: 0px 8px;}
.sets .arows a:hover{ color: #3c8dbc;}

.dropdown_area{ width: 300px; /*height: 300px;*/ position: absolute; box-shadow: 0px 0px 5px #999; background: #fff; z-index: 9; top: 35px; left: -150px; display: none;}
.pan-menu-ul{ padding: 0px; margin: 0px; float: left; width: 100%;}

.dropdown_area ul{ float: left; position: relative; width: 50%; margin: 0px; padding: 0px;}
.dropdown_area ul li { list-style: outside none none; float: left; width:100%; padding:4px 5px; margin: 0px; }
.dropdown_area input[type=checkbox]{ display: none;}
.dropdown_area input[type=checkbox] + label{ display: inline-block; /*width: 16px;*/ height: 16px; padding-left: 25px; padding-top: 2px; background-position: 0 0px; background-repeat: no-repeat; line-height: 12px; cursor: pointer;
  color: #0c0c0c; font-family: "lato-regular"; vertical-align: middle; font-weight: normal; font-size: 13px;}

.dropdown_area input[type=checkbox]:checked + label{background-position: left -16px;}
.dropdown_area label{ background-image:url(../../images/csscheckbox.png); }
.dropdown_area span{ padding:5px; display: block; font-family: "lato-regular"; font-size: 13px; font-weight: normal;}

.drop_cls{ position: absolute; right: 10px; top: 0px; color: #3c8dbc;}
.drop_cls:hover{color: #3c8dbc;}

.contor_bx{}
.contor_bx span{ display:inline-block; float:left; padding:8px 0px 5px 5px;}
.contor_bx span [type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label{ color:#fff !important; font-size:13px !important;}

.category .form-group{ margin:0px;}
.category .form-control{ width:100%; float:right; padding:6px 5px; border:1px solid #dddcdc; border-radius: 0px;  -moz-appearance: none; -webkit-appearance:none; appearance:none; background: #fff url(../../images/select_arrow.png) no-repeat right center; }


.slider_inpust{float:left; width:170px; padding:3px 0px;}
.sliders{ float:left; width:130px; padding-top:5px;}

.slider_inpust input{ border: medium none; float: right; position: relative; top: -5px; width: 20%; background:none;}



.sliders .ui-widget-content{ background:#afafaf; height:5px; border:none; border-radius:0px;}
.sliders .ui-slider .ui-slider-range{ background:#3c8dbc;}
.sliders .ui-slider .ui-slider-handle{height: 12px; width: 12px; background:#fff; border:none;}
.sliders .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{background: #fff; border:none; border-radius: 100%; box-shadow: 2px 2px 5px #999; color: #555555; font-weight: normal;}

.boxs_area .table { margin-bottom: 0px; font-family: 'Lato', sans-serif; background:#fff;}
.boxs_area table tbody .accrdian_head1{ background:#ebe9e9;}
.boxs_area table tbody tr td:nth-child(4){ width:200px;}
.boxs_area table tbody tr td:nth-child(2){ width:226px !important;}
.boxs_area table tbody tr td:nth-child(2) a:hover{ color:#3c8dbc;}
.boxs_area table tbody tr td{ border:none; font-family: 'Lato', sans-serif; position: relative;}
.boxs_area .baseDecrese_dwn{ padding:0px;}
.boxs_area .baseDecrese_dwn p{ font-size:13px;}
.boxs_area .baseDecrese_dwn p span{font-size:13px !important; padding: 0 15px 0 0;}

.boxs_area table thead tr th:nth-child(5){ border-right:1px solid #cecdcd;}
.boxs_area table tbody tr td:nth-child(5){ border-right:1px solid #cecdcd;}


.boxs_area .baseDecrese_up{padding:0px; display:block;}
.boxs_area .baseDecrese_up p{ font-size:13px;}
.boxs_area .baseDecrese_up p span{ font-size:13px !important; padding: 0 15px 0 5px;}

.arrowsClick{ padding:0px 25px; outline:none; color:#8b8b8b;}
.arrowsClick:hover{color:#8b8b8b;}
.arrowsClick:focus{color:#8b8b8b; outline:none;}
.mybuttons{ width:100%; text-align:center; text-decoration:none; padding:8px 20px; margin:10px 0px; font-family: 'Lato', sans-serif; font-size:13px; color:#fff; text-transform:uppercase; background:#2492d6; float:left; display:block;}
.mybuttons:hover{ text-decoration:none; color:#fff;}

.baseDecrese_dwn{ display:inline-block; float:left; margin:0px; padding:10px 0px 10px 3px;}
.baseDecrese_dwn p{ font-family: 'Lato', sans-serif; font-size:28px; color:#d83939; padding:0px 5px; margin:0px;}
.baseDecrese_dwn p span{ color:#d83939; padding:0px 5px 0px 0px; margin:0px; font-size:16px !important;}

.baseDecrese_up{ display:none; float:left; margin:0px; padding:10px 0px 10px 3px;}
.baseDecrese_up p{ font-family: 'Lato', sans-serif; font-size:28px; color:#44b944; padding:0px; margin:0px;}
.baseDecrese_up p span{ color:#44b944; padding:0px 5px; margin:0px; font-size:16px !important;}



/*class="form-control"*/

/*============================= 2nd page css area  ================================*/
.upper_area{ width:100%; background:#faf9f9; border:1px solid #dddcdc; float:left; /*min-height:500px;*/}
.input_box{ width:100%; position:relative; float:left; padding:30px 20px;}
.input_box label{ width:30%; float:left; padding:10px 0px; margin:0px; font-family: 'Lato', sans-serif; position: relative; font-size:12px; color:#7f7f7f; font-weight:400;}
.input_box .form-control{width:70%; float: left; border-radius:0px;}
.input_box .form-control input{ width:70%; float: left; border-radius:0px;}
.input_box .form-control:focus{ box-shadow:none;}
.input_box select{ width:70%; float:right; padding:6px 5px; border:1px solid #dddcdc; border-radius: 0px;  -moz-appearance: none; -webkit-appearance:none; appearance:none; background: #fff url(../../images/select_arrow.png) no-repeat right center; }

.underline{ width:94%; margin:0px 3%; height:1px; background:#dddcdc; position:relative; float:left;}

.parent_category{width:100%; position:relative; float:left; padding:30px 20px;}
.parent_category h2{font-family: 'Lato', sans-serif; position: relative; font-size:18px; margin:0px; padding:0px 0px 10px; color:#2486c8; font-weight:500;}

.parent_category_radio{width:100%; position:relative; float:left;}
.parent_category_radio p{font-family: 'Lato', sans-serif; position: relative; font-size:12px; margin:0px; color:#7f7f7f; font-weight:400; width:20%; float:left;}
.parent_category_radio .form-group{ width:10%; float:left; margin:0px;}
.parent_category_radio .form-group label{font-family: 'Lato', sans-serif; position: relative; font-size:13px; color:#7f7f7f; font-weight:400;}

.parent_category .selt_Box{ width:50%; float:left;}
.parent_category select{ width:70%; float:left; padding:6px 5px; border:1px solid #dddcdc; border-radius: 0px; margin-top:20px;  -moz-appearance: none; -webkit-appearance:none; appearance:none; background: #fff url(../../images/select_arrow.png) no-repeat right center; }

.parent_category .mybuttons{ width:25%; float:right; margin-top:20px;}


.table_area{ width:100%; position:relative; float:left; margin-top:30px; background:#fff; border:1px solid #e2e1e1;margin-bottom:100px;}
.table_area table{ margin:0px;}
.table_area table thead{ padding:10px 0px; background:#e4e3e3;}
.table_area table thead tr th{ padding:15px 10px; font-family: 'Lato', sans-serif; position: relative; font-size:15px; color:#7f7f7f; font-weight:400; border-right:1px solid #d7d6d6;}
.table_area table thead tr th:last-child{ border:none;}

.table_area table tbody tr td{ font-family: 'Lato', sans-serif; position: relative; font-size:15px; color:#7f7f7f; font-weight:400; border-right:1px solid #d7d6d6; /*border-bottom:1px solid #d7d6d6;*/}
.table_area table tbody tr td:last-child{ border-right:none;}
.table_area table tbody tr td:last-child{ border-right:none; width:25%;}
.table_area table tbody tr td a{ text-decoration:none;}

.active{background:#5c9e16; display:inline-block; padding:5px 10px; color:#fff; text-decoration:none;}
.active:hover{color:#fff;}
.edit{background:#2492d6; display:inline-block; padding:5px 15px; color:#fff; text-decoration:none;}
.edit:hover{color:#fff;}
.deactive{background:#d83939; display:inline-block; padding:5px; color:#fff; text-decoration:none;}
.deactive:hover{color:#fff;}



.recording{ overflow-x: scroll;}
.video_cap_area {
    border: 1px solid #2486c8;
    border-radius: 5px;
    height: 350px;
    position: relative;
    width: 100%; overflow: hidden;
}





.footer_area{background:#fff; min-height:50px; position:absolute; bottom:0px; width:100%; box-shadow:0px 0px 3px rgba(0,0,0,0.2);}
.foterTxt{ padding:15px; text-align:center; margin:0px;}
