{% include 'inner_header.html' %}
{% load staticfiles %}
<style>
    .upload_details_area{ display:none; width:100%; position:relative;}
.thanku_page{ display:block; width:100%; position:relative; min-height:200px; background:#fff; float:left; padding:25px; margin:50px 0px;}
.thanku_page h3{color:#333; font-family: "Open Sans",sans-serif; font-size: 36px; font-weight: 600; text-align:center; text-decoration:none; display:block; line-height:48px; padding:0px 10px 5px; margin:0px;}
.thanku_page p{ font-family: "Open Sans",sans-serif; font-size: 18px; color:#333; font-weight: 500; display: inline-block;}

.complete_area{ width:100%; min-height:300px; margin:20px 0px;}
.complete_area .check_bt{ width:120px; height:120px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); background:#02d305; border-radius:100%; margin:10px auto; display:flex;justify-content: center; align-items: center; font-family: "Open Sans",sans-serif; font-size: 35px; color:#fff; font-weight:600;}

.complete_area .cross_bt{ width:120px; height:120px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); background:#a21a0b; border-radius:100%; margin:10px auto; display:flex; justify-content: center; align-items: center; font-family: "Open Sans",sans-serif; font-size: 35px; color:#fff; font-weight:600;}


.complete_area h4{color:#333; font-family: "Open Sans",sans-serif; font-size: 26px; font-weight: 600; text-align:center; text-decoration:none; display:block; line-height:48px; padding:0px 10px 5px; margin:0px;}
.complete_area p{ font-family: "Open Sans",sans-serif; font-size: 18px; color:#333; font-weight: 500; display: inline-block;}
.thanku_page .mysubmit_btn2{ margin:0px;}


.account_section_area .mysubmit_btn2{ display:block; text-align:center; border-radius:5px; text-decoration:none; padding:15px;}
.account_section_area .cancelBt { background-color: #fff !important; border: 1px solid #2486c8; color: #2486c8 !important;}
@media screen, print {
    .pdf_details_area {
        display: block;
        width: 100%;
        position: relative;
        background: #fff;
        float: left;
    }

    .pdf_details_area h2 {
        color: #333;
        font-family: "Open Sans", sans-serif;
        font-size: 36px;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        display: block;
        line-height: 48px;
        padding: 10px 10px 15px;
        margin: 0px;
    }

    .pdf_details_area h3 {
        color: #333;
        font-family: "Open Sans", sans-serif;
        font-size: 22px;
        font-weight: 500;
        text-align: left;
        text-decoration: none;
        display: block;
        padding: 0px 15px 20px;
        margin: 0px;
    }

    .pdf_details_area label {
        color: #333;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 600;
        text-align: left;
        padding: 5px 0px;
        float: left;
    }

    .pdf_details_area p {
        color: #333;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        padding: 5px 15px;
        margin: 0px;
        display: inline-block;
    }

    .pdf_details_area .form-group {
        margin-bottom: 0px;
    }

    .pdf_details_area h4 {
        color: #333;
        font-family: "Open Sans", sans-serif;
        font-size: 22px;
        font-weight: 500;
        text-align: left;
        text-decoration: none;
        display: block;
        float: left;
        width: 100%;
        padding: 30px 15px 20px;
        margin: 0px;
    }

    .uploaded_img {
        width: 200px;
        height: 200px;
        border: 1px solid #999;
        position: relative;
        float: left;
        margin: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .uploaded_img img {
        width: 100%;
    }
}
</style>
<section>
	<div class="container-fluid">
        <div class="row">
         	
            <div class="col-md-12">
            	<div class="account_section_area">
                	
                    <div class="container">

                        <div class="thanku_page">
                        	<h3>Congratulations !!!</h3>
                            <p>Your application form has been submitted for review and it's under processing. We will send pre-filled PDF form after verification,  that you need to print and sign in order complete the application process.</p>
                        	
                            <div class="col-md-4">
                            	<div class="complete_area">
                                	<span class="check_bt"><i class="fa fa-check" aria-hidden="true"></i></span>
                                    <h4>Application Form</h4>
                                    <p>Your account opening form has been submitted successfully.</p>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                            	<div class="complete_area">
                                	<span class="check_bt"><i class="fa fa-check" aria-hidden="true"></i></span>
                                    <h4>Document Proofs</h4>
                                    <p>Your document proof has been uploaded successfully.</p>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                            	<div class="complete_area">
                                	<!--<span class="check_bt"><i class="fa fa-check" aria-hidden="true"></i></span>-->
                                    <span class="check_bt"><i class="fa fa-check" aria-hidden="true"></i></span>
                                    <h4>In-Person Verification</h4>
                                    <p>your in person verification has been recorded.</p>
                                </div>
                            </div>
                            
                            <div class="col-md-4 col-center">
                                <div class="col-md-12 pull-right">
                                    <a class="mysubmit_btn2" href="/user_dashboard/">GO TO DASHBOARD</a>
                                </div>
                            </div>
                            
                            
                            
                        </div>
                        
                        
                    </div>
                    
                    
                    
                    
                    
                
                </div>
            </div>
         <!--/. body right portion area -->
         
    	</div>
        
        
    
	</div>
</section>
{% include 'inner_footer.html' %}