{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>Investak - Activate Email</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<!--<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>  font-family: 'Roboto', sans-serif;-->
<link rel="icon" href="{% static "investak/images/favicon.png" %}" sizes="16x16" type="image/16x16.png">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"> <!--font-family: 'Open Sans', sans-serif;-->





<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/bootstrap-material-design.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/font-awesome/css/font-awesome.min.css" %}">

<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/styles.css" %}">
<script src="{% static "investak/dist/js/jquery.1.11.3.min.js" %}" type="text/javascript"></script>
<script src="{% static "investak/dist/js/bootstrap.min.js" %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static "investak/dist/js/material.min.js" %}"></script>
<script type="text/javascript" src="{% static "investak/dist/js/ripples.min.js" %}"></script>





<link rel="stylesheet" href="{% static 'frontend/css/jquery-ui.css' %}">
<script type="text/javascript" src="{% static 'frontend/js/bank_jquery-2.1.4.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static "investak/dist/js/material.min.js" %}"></script>

<!--<script type="text/javascript" src="dist/js/custom_login.js"></script>-->
<script>
  $.material.init();
</script>


<style>
.error {
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #ff0000 !important;
  }
.ui-datepicker table {
    width: 100%;
    background:#ffffff;
}
.ui-datepicker td span, .ui-datepicker td a{
    margin:0px;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title select{
    padding: 7px;
}

.sliders .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
   background: #fff none repeat scroll 0 0;
    /*border: medium none;*/
    border-radius: 0;
    box-shadow: none;
    color: #555555;
    font-weight: normal;
}
</style>
<script>
  !function(e,t,a,n,c,s,o){e.GoogleAnalyticsObject=c,e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},e[c].l=1*new Date,s=t.createElement(a),o=t.getElementsByTagName(a)[0],s.async=1,s.src=n,o.parentNode.insertBefore(s,o)}(window,document,"script","https://www.google-analytics.com/analytics.js","ga"),ga("create","UA-85280233-1","auto"),ga("send","pageview");
</script>
</head>
<body>
<div id="bg"><img src="{% static "investak/images/login_page.jpg" %}" alt=""></div>
<div class="clearfix"></div>
<header class="header_area {% ifequal current_path '/signup/' %} login_head {% endifequal %}">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
        	</button>
        	<a class="navbar-brand" href="{{ SITE_URL }}"><img class="white" src="{% static "investak/images/logo_white.png" %}">
            <img class="blue" src="{% static "investak/images/logo.png" %}">
            </a>
        </div>

        <div class="before_login_menu">
        <div id="navbar" class="navbar-collapse collapse">

            <div class="login_attr">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="active_logs" href="/login/">Log in</a></li>
                <li><a href="/signup/">Sign Up</a></li>
            </ul>
            </div>

        	
            <ul class="nav navbar-nav pull-right">
                <li><a href="{{ SITE_URL }}#aboutus">about us</a></li>
                <!--<li><a href="javascript:void(0)">approach</a></li>-->
               <!--  <li><a href="{{ SITE_URL }}#markit2">testimonials</a></li> -->
                <li><a href="{{ SITE_URL }}#Analyze">Approach</a></li>
                <li><a href="{{ SITE_URL }}#markit2">testimonials</a></li>
                <li><a href="{{ SITE_URL }}#team">team</a></li>
                <li><a href="{{ SITE_URL }}#partners">partners</a></li>
                <li><a href="{{ SITE_URL }}#contactus">contact us</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a> 
                    <ul class="dropdown-menu">
                        <li><a href="/faq/">faq</a></li>
                        <li><a href="/news/">newsroom</a></li>
                    </ul>
                </li>
            {% if request.session.id %}
            {% else %}    
                <!-- <li><a href="/login/" class="hvr-underline-from-center scroller">login in</a></li> -->    
            {% endif %}     
            </ul>
            

        </div><!--/.nav-collapse -->
        </div>
    </div><!--/.container-fluid -->
</nav>
</header>

<section>
	<div class="container">
        <div id="confirmdiv" class="col-md-7 col-center">
            <div class="login_page_area" style="margin-top:40%;">
            {% if flag == 0 %}
                <label style="color:#e3411f; font-weight:800; margin-bottom:20px; font-size: 20px;">Sorry! Your account is not valid!</label>
                <label style="color:#666666; font-weight:600; margin-bottom:20px;">Please check your email address and try again. Please activate your account within 30 days of receiving mail.</label>

            {% else %}
                <label style="color:#008800; font-weight:800; margin-bottom:20px; font-size: 20px;">Congratulations!</label>
                <label style="color:#666666; font-weight:600; margin-bottom:20px;">Welcome to Investak and thank you for joining us. </label>
                <!--<a href="/login/" style="color:#2486c8; font-weight:800;">LogIn</a> and enjoy!-->
                <label style="color:#666666; font-weight:600; margin-bottom:20px;">You will be redirected to our Analyze page after <span id = "lblCount"></span> seconds.</label>
                <!--<label style="color:#666666; font-weight:800; margin-bottom:20px;"><a href="/login/">LogIn</a></label>-->
            {% endif %}
            </div>
        </div>
	</div>
    <input type=hidden" id="flag" name="flag" value="{{ flag }}" />
</section>

<script>
$( function() {
    var flag = $("#flag").val();
    if(parseInt(flag)>0)
    {
        DelayRedirect();
        //window.location.href='/analyze/';
    }
});
function DelayRedirect() {
    var seconds = 15;
    var lblCount = document.getElementById("lblCount");
    lblCount.innerHTML = seconds;
    setInterval(function () {
        seconds--;
        if (seconds >= 0) lblCount.innerHTML = seconds;
        if (seconds == 0) {
            lblCount.innerHTML = 0;
            window.location.href='/analyze/';
        }
    }, 1000);
}
</script>

<script type="text/javascript" src="{% static "investak/dist/js/gplus.js" %}" ></script>
</body>
<div id="modelTC" class="modal fade modaloverall" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Terms & Conditions</h4>
      </div>

      <div class="modal-body">
          <p>
            {{ site_settings.terms_conditions |safe }}
        </p>

      </div>
      <div class="modal-footer">

      </div>
    </div>

  </div>
</div>

<div id="modelPrivecy" class="modal fade modaloverall" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Privacy Policy</h4>
      </div>

      <div class="modal-body">
          <p>
            {{ site_settings.privacy_policy |safe }}
        </p>

      </div>
      <div class="modal-footer">

      </div>
    </div>

  </div>
</div>
</html>