{% include 'inner_header.html' %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "frontend/dashboard/dist/js/jquery-ui.js" %}"></script>
<link href="{% static "investak/dist/ion.rangeSlider-2.1.2/css/ion.rangeSlider.css" %}" rel="stylesheet">
<link href="{% static "investak/dist/ion.rangeSlider-2.1.2/css/ion.rangeSlider.skinHTML5.css" %}" rel="stylesheet">
<script src={% static "admin/js/jquery.blockUI.js" %}></script>
<style type="text/css">
    .vcenter
    {
        padding:10px;
        background-color:none;
        min-height: 25px;   
        display: table-cell;   
        vertical-align: top;    
        height: 50px
    }
    .vcenter img {
        vertical-align: bottom;
        border: 0
    }

    /*.professionalCluster {
    display: block;
    width: 100%;
    height: 500px;
    overflow: scroll;
}*/

    .MyCustomContainer
{
    width: 100%;
    overflow-y: auto;
}
.MyCustomContent
{
    width: 100%;
}

.MyCustomFlipped, .MyCustomFlipped .MyCustomContent
{
    transform:rotateX(180deg);
    -ms-transform:rotateX(180deg); /* IE 9 */
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */

}
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(36,134,200,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(36,134,200,0.4); 
}

</style>
<script type="text/javascript">
    var asc_sort_act=0;
    var global_symbol = '';
    var co_code_arr = new Array();
    var slider_value = 0.00;
    var prev_value = 0;
    var i=0;
    var counter = 0;
    var data_id = 0;
    var co_code = 0;
    var data_graph = new Array();
    var data_graph_idx = new Array();
    var flag = 0;
    var rem_value = 0.00;
    var searchIDs = '';
    var fromStockValue = 1;
    var toStockValue = 30;
    var fromPriceValue = '{{ min_inv|floatformat:2 }}';
    var toPriceValue = '{{ max_inv|floatformat:2 }}';
    var fromYieldValue = '{{ minimum_yield|floatformat:2 }}';
    var toYieldValue = '{{ maximum_yield|floatformat:2 }}';
    var exchange = 'NSE';
    var select_value = 1;
    var page_no = 1;
    var login_user = '{{ request.session.id }}';
    var fromReturnValue = '{{ min_index_value|floatformat:2 }}';
    var toReturnValue = '{{ max_index_value|floatformat:2 }}';
    var cluster_stat = "P";
    var catagoryval = 'One Year Return';
    var sortbyval = 'r1_yearret';
    var user_id = '{{ request.session.id }}';
    var searchValue = '';
    function accrodian_pan(){

        $(".accrodian_bars").find(".pan-menu-ul-title").click(function(){

            //var tgt = $(this).parent().index();
            //alert(tgt);
            //$(".pan-menu-ul").eq(tgt-1).slideToggle();
            $(this).next("ul.pan-menu-ul").slideToggle();
            $(this).find('.fa').toggleClass("fa-plus fa-minus");
        });
    }
    /*---------- mobile analyze page left area ----------- */
    $(document).ready(function(e){
        if($(window).width() <= 768) {
                $(".mobile_arrow").click(function(){
                $(this).next('.mobiles_toggle').slideToggle();
                $(this).find('.fa').toggleClass("fa-caret-down fa-caret-up");
            });
        }

        if ($(window).width() <= 768) {
            $("#professionalClusterMobile").show();
            $("#professionalClusterDesktop").hide();
            $("#tableHeadForMobile").show();
            $("#tableHeadForDesktop").hide();
        } else {
            $("#professionalClusterMobile").hide();
            $("#professionalClusterDesktop").show();
            $("#tableHeadForMobile").hide();
            $("#tableHeadForDesktop").show();
        }

    });
    $(document).ready(function(e){
        $(".filter_boxnw").text("One Year Return");
        loadCategory();
        loadProfessionalCluster();
        $(".sortbyicon > a > i").click(function(e){
            $(".dropdown").slideToggle();
        });
        $(".dropdownul > li").click(function(e){
            sortbyval = $(this).attr('sort-value');
            if(sortbyval == 'index_value_y1'){
                catagoryval = 'Index Value';
            }else if(sortbyval == 'r1_mret'){
                catagoryval = 'One Month Return';
            }else if(sortbyval == 'r1_yearret'){
                catagoryval = 'One Year Return';
            }else if(sortbyval == 'div_yield_Y1'){
                catagoryval = 'One Year Dividend';
            }else{
                catagoryval = 'Index Value';
            }
            call_cluster();
            $(".filter_boxnw").text(catagoryval);
            $(".dropdown").slideToggle();
            $(".dropdownul > li").removeClass('selected_cus');
            $(this).addClass('selected_cus');
        });
        $('#wc').prop('checked', true);
        $("#wc").click(function(e){
            $('#cc').prop('checked', false);
             if(!$(this).is(':checked')) {
                e.preventDefault();

                return false;
            }
            cluster_stat = "P";
            loadProfessionalCluster();
        });
        $("#cc").click(function(e){
            $('#wc').prop('checked', false);
            if(!$(this).is(':checked')) {
                e.preventDefault();

                return false;
            }
            cluster_stat = "C";
            loadCommunityCluster();

        });

        $("#sort_by_value").change(function(e){

            sortbyval = $("#sort_by_value").val();
            if(sortbyval == 'index_value_y1'){
                catagoryval = 'Index Value';
            }else if(sortbyval == 'r1_mret'){
                catagoryval = 'One Month Return';
            }else if(sortbyval == 'r1_yearret'){
                catagoryval = 'One year Return';
            }else if(sortbyval == 'div_yield_Y1'){
                catagoryval = 'One year Dividend';
            }else{
                catagoryval = 'Index Value';
            }
            call_cluster();
        });

        $("#autocomplete").autocomplete({
            minLength: 2,
            source: function(request, response) {
            $.getJSON("/frontend/getProfessionalCluster/", { term:request.term, cluster_stat:cluster_stat },
              response);
        },
            response:function(event, ui) {
                if(ui.content.length == 0) {
                    $(".professionalCluster").html('<div class="body_section_area"><p align="center" style="font-weight:bold;"><img src="/static/investak/images/nocluster.png" /></p></div>');
                    $(".gridviews_prof").html('<div class="body_section_area"><p align="center" style="font-weight:bold;"><img src="/static/investak/images/nocluster.png" /></p></div>');
                }
            },
            select:function(event, ui)
            {
                event.preventDefault();
                $("#autocomplete").val(ui.item.label);
                searchValue = $("#autocomplete").val();
                call_cluster();
            }
        });

        $("#autocomplete_mobile").autocomplete({
            minLength: 2,
            source: function(request, response) {
            $.getJSON("/frontend/getProfessionalCluster/", { term:request.term, cluster_stat:cluster_stat },
              response);

        },
            response:function(event, ui) {
                if(ui.content.length == 0) {
                    $(".professionalCluster").html('<div class="body_section_area"><p align="center" style="font-weight:bold;"><img src="/static/investak/images/nocluster.png" /></p></div>');
                    $(".gridviews_prof").html('<div class="body_section_area"><p align="center" style="font-weight:bold;"><img src="/static/investak/images/nocluster.png" /></p></div>');
                }
            },
            select:function(event, ui)
            {
                event.preventDefault();
                $("#autocomplete_mobile").val(ui.item.label);
                searchValue = $("#autocomplete_mobile").val();
                call_cluster();
            }
        });

        $("#autocomplete").keyup(function(e){

            if((e.keyCode==8 || e.keyCode==46) && $.trim($("#autocomplete").val())=="")
            {
                searchValue = '';
                call_cluster();
            }

        });

        $("#autocomplete_mobile").keyup(function(e){

            if((e.keyCode==8 || e.keyCode==46) && $.trim($("#autocomplete_mobile").val())=="")
            {
                searchValue = '';
                call_cluster();
            }

        });
            accrodian_pan();
    });

    $(document).on('click','.cluster_grids_box',function(e){
        var cluster_id = $(this).attr('data-id');
        if(cluster_id) {
            window.location.href= "/cluster_list/"+cluster_id;
        }
    }).on('click', '.subscribe_btn, .dhop', function(e) {
        var other_value = $(this).attr('data-type');
        if(other_value == "buy") {
            window.location.href="/buy_cluster/"+$(this).closest('.cluster_grids_box').attr('data-id');
        }
    e.stopPropagation();
});

    $(document).on('click','.professionalCluster > tr',function(e){
        var cluster_id = $(this).attr('data-id');
        if(cluster_id) {
            window.location.href= "/cluster_list/"+cluster_id;
        }
    });
    $(document).on('click','.child-category',function(e){
            searchIDs = $(".child-category:checked").map(function(){
              return parseInt($(this).attr('child-id'));
        }).get();
            call_cluster();
        });
    function loadCategory(){
        $.ajax({
            type:"POST",
            url:"/frontend/load_category/",
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'},
            success:function(response){
                for(var j=0;j<response.length;j++){
                    $(".ddl-category").append('<option value="'+response[j].id+'">'+response[j].cat_name+'</option>');
                }
            }
        });
    }
    function call_cluster()
    {
        $(".notification_down_area").hide();
        $(".drops_down_area").hide();
        $("input:checkbox[name=catagory]:checked").each(function () {
                var catagory =  $(this).val();
                if(catagory == 'prof'){
                    loadProfessionalCluster();
                }else{
                    loadCommunityCluster();
                }
            });
    }
    function loadProfessionalCluster(){
        var sort_by_value = sortbyval;
        $.ajax({
           type:"POST",
            url:"/frontend/load_professional_cluster/",
            data:{csrfmiddlewaretoken:'{{ csrf_token }}', sort_order:asc_sort_act,sort_by_value:sort_by_value, cat_id:searchIDs, fromStockValue:fromStockValue, toStockValue:toStockValue, fromPriceValue:fromPriceValue, toPriceValue:toPriceValue, fromYieldValue:fromYieldValue, toYieldValue:toYieldValue, searchValue:searchValue,page_no:page_no,fromReturnValue: fromReturnValue, toReturnValue: toReturnValue},
            beforeSend:function() {
                $.blockUI({ message: '<img src="/static/investak/images/loader1.gif" />'

                });

            },
            success:function(response){
                $.unblockUI();
                loadAjaxCluster(response);
            },
            error: function(){
                $(".professionalCluster").empty();
                $(".gridviews_prof").html('');
                $(".pagination-sm").hide();
                $('.pull-left').hide();
                $(".professionalCluster").html('<div class="body_section_area "><p align="center" style="font-weight:bold;"><img src="/static/investak/images/nocluster.png" /></p></div>');
                $(".gridviews_prof").html('<div class="body_section_area"><p align="center" style="font-weight:bold;"><img src="/static/investak/images/nocluster.png" /></p></div>');
                $("#autocomplete").prop('disabled',true);
                $("#autocomplete_mobile").prop('disabled',true);
                $("#sort_by_value").prop('disabled',true);
            }
        });
    }
    function loadCommunityCluster() {
        var sort_by_value = sortbyval;
        $.ajax({
           type:"POST",
            url:"/frontend/load_community_cluster/",
            data:{csrfmiddlewaretoken:'{{ csrf_token }}', sort_by_value:sort_by_value, cat_id:searchIDs, fromStockValue:fromStockValue, toStockValue:toStockValue, fromPriceValue:fromPriceValue, toPriceValue:toPriceValue, fromYieldValue:fromYieldValue, toYieldValue:toYieldValue, searchValue:searchValue,page_no:page_no,fromReturnValue: fromReturnValue, toReturnValue: toReturnValue},
            beforeSend:function() {
                $.blockUI({ message: '<img src="/static/investak/images/loader1.gif" />'
                });
            },
            success:function(response){
                $.unblockUI();
                loadAjaxCluster(response);
            },
            error : function(){
                $(".professionalCluster").empty();
                $(".gridviews_prof").html('');
                $(".pagination-sm").hide();
                $('.pull-left').hide();
                $(".professionalCluster").html('<div class="body_section_area "><p align="center" style="font-weight:bold;"><img src="/static/investak/images/nocluster.png" /></p></div>');
                $(".gridviews_prof").html('<div class="body_section_area"><p align="center" style="font-weight:bold;"><img src="/static/investak/images/nocluster.png" /></p></div>');
                $("#autocomplete").prop('disabled',true);
                $("#autocomplete_mobile").prop('disabled',true);
                $("#sort_by_value").prop('disabled',true);
            }
        });
    }
    function loadAjaxCluster(response){

        $("#sort_by_value").change(function(e){

        });
        if(response.length>0){
            var total_page_count = Math.ceil(response[0].total_page_count/30);

            $(".gridviews_prof").html('');
            $(".professionalCluster").html('');
            $(".pagination-sm").show();
            $('.pull-left').show();
            $("#autocomplete").prop('disabled',false);
            $("#autocomplete_mobile").prop('disabled',false);
            $("#sort_by_value").prop('disabled',false);
            if(total_page_count > 1) {
                $(".body_section_area_bottom").css('display','block');
                $(".pagination-sm").html('<li class="page-item"><a aria-label="Previous" href="javascript:void(0)" page-id="'+response[0].first_page+'" class="page-link"><span aria-hidden="true"><i class="fa fa-backward" aria-hidden="true"></i></span> </a> </li>' +
            '<li class="page-item"><a aria-label="Previous" href="javascript:void(0)" page-id="'+response[0].prev_page+'" class="page-link"><span aria-hidden="true"><i class="fa fa-caret-left" aria-hidden="true"></i></span> </a> </li>');
            for(var k=1;k<=total_page_count;k++)
            {
                $(".pagination-sm").append('<li class="page-item"><a href="javascript:void(0)" page-id="'+k+'" class="page-link">'+k+'</a></li>');
            }
            $(".pagination-sm").append('<li class="page-item"><a aria-label="Next" href="javascript:void(0)" page-id="'+response[0].next_page+'" class="page-link"><span aria-hidden="true"><i class="fa fa-caret-right" aria-hidden="true"></i></span> </a> </li>' +
            '<li class="page-item"><a aria-label="Next" href="javascript:void(0)" page-id="'+response[0].last_page+'" class="page-link"><span aria-hidden="true"><i class="fa fa-forward" aria-hidden="true"></i></span> </a> </li>');
            }
            else {
                /*$(".pagination-sm").html('<li class="page-item"><a href="javascript:void(0)" page-id="1" class="page-link">1</a></li>');*/
                $(".body_section_area_bottom").css('display','none');
            }

            for(var k=0;k<response.length;k++){
                var one_month_avg = 0.00;
                var i_class_name_month = '';
                var div_class_month = '';
                var td_class_month = '';
                var one_year_ratting = 0.00;
                var i_class_name_year = '';
                var div_class_year = '';
                var td_class_year = '';
                var div_class_color = '';
                var dividend_yield = 0.00;
                var i_class_name_yield ='';
                var div_class_yield = '';
                var td_class_yield = '';
                var one_year_index = 0.00;
                var i_class_index = '';
                var div_class_index = '';
                var td_class_index = '';
                var watch_list_style ='';
                var new_min_investment_value = response[k].new_min_investment_value;
                if(response[k].one_month_avg == null){
                    one_month_avg = 0.00;
                    i_class_name_month  = "fa fa-caret-up";
                    div_class_month     = "arrowUp";
                    td_class_month      = "share_up1";
                    div_class_color    = "ovals upcolors";
                }else{
                    one_month_avg = parseFloat(response[k].one_month_avg);
                    if(one_month_avg>=0.00){
                        i_class_name_month = "fa fa-caret-up";
                        div_class_month    = "arrowUp";
                        td_class_month     = "share_up1";
                        div_class_color    = "ovals upcolors";
                    }
                    else{
                        i_class_name_month = "fa fa-caret-down";
                        div_class_month = "arrowDown";
                        td_class_month = "share_down1";
                        div_class_color    = "ovals downcolors";
                    }
                }
                if(response[k].one_year_ratting == null){
                    one_year_ratting  = 0.00;
                    i_class_name_year = "fa fa-caret-up";
                    div_class_year    = "arrowUp";
                    td_class_year     = "share_up1";
                    div_class_color    = "ovals upcolors";
                }else{
                    one_year_ratting = parseFloat(response[k].one_year_ratting);
                    if(one_year_ratting>=0.00){
                        i_class_name_year = "fa fa-caret-up";
                        div_class_year    = "arrowUp";
                        td_class_year     = "share_up1";
                        div_class_color    = "ovals upcolors";
                    }
                    else{
                        i_class_name_year = "fa fa-caret-down";
                        div_class_year = "arrowDown";
                        td_class_year  = "share_down1";
                        div_class_color    = "ovals downcolors";
                    }
                }
                if(response[k].dividend_yield == null){
                    dividend_yield = 0.00;
                    i_class_name_yield = "fa fa-caret-up";
                    div_class_yield    = "arrowUp";
                    td_class_yield     = "share_up1";
                }else{
                    dividend_yield = parseFloat(response[k].dividend_yield);
                    if(dividend_yield>=0.00){
                        i_class_name_yield = "fa fa-caret-up";
                        div_class_yield    = "arrowUp";
                        td_class_yield     = "share_up1";

                    }
                    else{
                        i_class_name_yield = "fa fa-caret-down";
                        div_class_yield    = "arrowDown";
                        td_class_yield     = "share_down1";

                    }
                }
                /*if(response[k].one_year_index == null){
                    one_year_index  = 0.00;
                    i_class_index   = "fa fa-caret-up";
                    div_class_index = "arrowUp";
                    td_class_index  = "share_up1";
                }else{
                    one_year_index = parseFloat(response[k].one_year_index);
                    if(one_year_index>=1000.00){
                        i_class_index   = "fa fa-caret-up";
                        div_class_index = "arrowUp";
                        td_class_index  = "share_up1";
                    }
                    else{
                        i_class_index   = "fa fa-caret-down";
                        div_class_index = "arrowDown";
                        td_class_index  = "share_down1";
                    }
                }*/

                if(response[k].indexvalue == "" || response[k].indexvalue == 0.00){
                    one_year_index  = 0.00;
                    i_class_index   = "fa fa-caret-up";
                    div_class_index = "arrowUp";
                    td_class_index  = "share_up1";
                } else {
                    diff = parseFloat(response[k].indexvalue - response[k].previndexvalue)
                    one_year_index = parseFloat(response[k].indexvalue);
                    if(diff>0){
                        i_class_index   = "fa fa-caret-up";
                        div_class_index = "arrowUp";
                        td_class_index  = "share_up1";
                    }
                    else{
                        i_class_index   = "fa fa-caret-down";
                        div_class_index = "arrowDown";
                        td_class_index  = "share_down1";
                    }
                }

                var display_value = 0.00;
                var perc = '';

                if(sortbyval=='indexvalue')
                {
                    display_value = one_year_index;
                    perc = '';
                }
                else if(sortbyval=='r1_mret') {
                    display_value = one_month_avg;
                    perc = '%';
                }
                 else if(sortbyval=='r1_yearret') {
                    display_value = one_year_ratting;
                    perc = '%';
                }
                 else if(sortbyval=='div_yield_Y1') {
                    display_value = dividend_yield;
                    perc = '%';
                }
                if(response[k].watch_list_status > 0) {
                    watch_list_style = 'color: #ffc71a!important;';
                }
                else {
                    watch_list_style = '';
                }
                $("#professionalClusterMobile").append('<tr data-id="'+response[k].cluster_id+'">'+
                    '<td>' + '<div class="list_img_area"><img src="" data-src="/static/media/images/cluster/' + response[k].cluster_image + '" width="100px" height="100px">' + '</div>' + '</td>' +
                    '<td style="width:10%;">'+
                        '<h2>'+response[k].cluster_name+'</h2>'+
                        '<p>By '+response[k].user_name+'</p>'+
                        (response[k].invested>0?'<p style="width: 70px;height: 20px;background: #56c156!important;color: white;align-content: center;text-align: center;border-radius: 10%;font-size: small;padding-top: 0;padding-left: 0;">Invested</p>':'')+
                    '</td>'+
                    //'<td class="'+td_class_index+'">'+'<i aria-hidden="true" class="'+i_class_index+'">'+'</i>'+one_year_index.toFixed(2)+'</td>'+
                    '<td style="width:5%;" class="'+td_class_month+'">'+'<i aria-hidden="true" class="'+i_class_name_month+'">'+'</i>'+one_month_avg.toFixed(2).replace("-","")+'%</td>'+
                    '<td style="width:5%;" class="'+td_class_year+'">'+'<i aria-hidden="true" class="'+i_class_name_year+'">'+'</i>'+one_year_ratting.toFixed(2).replace("-","")+'%</td>'+
                    '<td style="width:5%;"><i aria-hidden="true" >'+'</i>'+dividend_yield.toFixed(2)+'%</td>'+
                    '<td style="width:5%;"><i aria-hidden="true" >'+'</i>Rs.'+new_min_investment_value+'</td>'+
                    '<td style="width:4%;padding:0px;"><a href="/buy_cluster/' + response[k].cluster_id + '" class="btn-default subscribe_btn" style="margin:0px;">BUY</a></td><td style="width:4%;padding:0px;"><a href="/edit_cluster/' + response[k].cluster_id + '" class="btn-default subscribe_btn_ed" style="margin:0px;">EDIT</a></td>' +
                    //'<td><table><tr><td><a href="/buy_cluster/' + response[k].cluster_id + '" class="BuyButton">BUY</a></td><td><a href="/edit_cluster/' + response[k].cluster_id + '" class="EditButton" >EDIT</a></td></tr></table></td>' +
                    //'<td><div class="vcenter"><p><a href="/buy_cluster/' + response[k].cluster_id + '"><img src="/static/media/images/analyze/Add.png" height="20px" width="20px"></a>&nbsp;&nbsp;<a href="/edit_cluster/' + response[k].cluster_id + '"><img src="/static/media/images/analyze/Edit.png" height="20px" width="20px"></a></p></div></td>' +
                '</tr>');

                $("#professionalClusterDesktop").append('<tr data-id="' + response[k].cluster_id + '">' +
                    '<td>' + '<div class="list_img_area"><img src="" data-src="/static/media/images/cluster/' + response[k].cluster_image + '" width="100px" height="100px">' + '</div>' + '</td>' +
                    '<td>' +
                        '<h2>' + response[k].cluster_name + '</h2>' +
                        '<p>By ' + response[k].user_name + '</p>' +
                        (response[k].invested>0?'<p style="width: 70px;height: 20px;background: #56c156!important;color: white;align-content: center;text-align: center;border-radius: 10%;font-size: small;padding-top: 0;padding-left: 0;">Invested</p>':'')+
                    '</td>' +
                    '<td class="'+td_class_index+'">'+'<i aria-hidden="true" class="'+i_class_index+'">'+'</i>'+one_year_index.toFixed(2)+'</td>'+
                    '<td class="' + td_class_month + '">' + '<i aria-hidden="true" class="' + i_class_name_month + '">' + '</i>' + one_month_avg.toFixed(2).replace("-", "") + '%</td>' +
                    '<td class="' + td_class_year + '">' + '<i aria-hidden="true" class="' + i_class_name_year + '">' + '</i>' + one_year_ratting.toFixed(2).replace("-", "") + '%</td>' +
                    '<td><i aria-hidden="true" >' + '</i>' + dividend_yield.toFixed(2) + '%</td>' +
                    '<td ><i aria-hidden="true" >' + '</i>Rs.' + new_min_investment_value + '</td>' +
                    '<td><table><tr><td><a href="/buy_cluster/' + response[k].cluster_id + '" class="btn-default subscribe_btn">BUY</a></td><td><a href="/edit_cluster/' + response[k].cluster_id + '" class="btn-default subscribe_btn_ed" >EDIT</a></td></tr></table></td>' +
                    //'<td><table><tr><td><a href="/buy_cluster/' + response[k].cluster_id + '" class="BuyButton">BUY</a></td><td><a href="/edit_cluster/' + response[k].cluster_id + '" class="EditButton" >EDIT</a></td></tr></table></td>' +
                    //'<td><div class="vcenter"><p><a href="/buy_cluster/' + response[k].cluster_id + '"><img src="/static/media/images/analyze/Add.png" height="20px" width="20px"></a>&nbsp;&nbsp;<a href="/edit_cluster/' + response[k].cluster_id + '"><img src="/static/media/images/analyze/Edit.png" height="20px" width="20px"></a></p></div></td>' +
                '</tr>');

                $(".gridviews_prof").append('<div class="cluster_grids_box cluster_grids_boxnew" data-id="'+response[k].cluster_id+'">'+'<div class="cluster_des_head">'+'' +
                '<a href="/cluster_list/'+response[k].cluster_id+'" >'+response[k].cluster_name+'</a>'+'<p >By '+response[k].user_name+'</p><p style="width:70%!important;">Created Date : '+response[k].created_date+'</p>'+
                   '<a class="buys_btn" href="/buy_cluster/'+response[k].cluster_id+'" data-type="buy" class="btn-default subscribe_btn">BUY</a>'+
                   '</div>'+'' +
                '' +
                '<div class="cluster_img_area"><a href="javascript:void(0)" class="dhop a-fa-heart" data-id="'+response[k].cluster_id+'" user-id="'+user_id+'" data-type="watch" style="'+watch_list_style+'">'+'' +
                '<i class="fa fa-heart" aria-hidden="true"></i>'+'</a>'+'' +
                '<a href="/cluster_list/'+response[k].cluster_id+'" class="over_lay">'+'' +
                '<p class="descpt">'+response[k].cluster_desc.replace(/(<([^>]+)>)/ig,"").slice(0,100)+'....</p>'+'' +
                        (response[k].invested>0?'<div style="width: 70px;height: 20px;background: #56c156!important;color: white;position: absolute;left: 10px;bottom: 15px;align-content: center;text-align: center;border-radius: 10%;">Invested</div>':'')+
                '<div class="'+div_class_color+'">'+
                    '<span class="'+div_class_year+'">'+'<i class="'+i_class_name_year+'" aria-hidden="true">'+'</i>'+'</span>'+
                    '<figcaption>'+display_value.toFixed(2)+perc+'</figcaption>'+
                    '</div>'+
                    '<span>'+catagoryval+'</span>'+
                    '</a>'+'<img src="" data-src="/static/media/images/cluster/'+response[k].cluster_image+'" >'+'</div>'+'</div>');
            }
            /* lazy load */
            [].forEach.call(document.querySelectorAll('img[data-src]'), function(img) {
                img.setAttribute('src', img.getAttribute('data-src'));
                img.onload = function() {
                    /*console.log(img.getAttribute('data-src'));*/
                    img.removeAttribute('data-src');
                };
            });
        }else{
            $(".professionalCluster").empty();
            $(".gridviews_prof").html('');
            $(".pagination-sm").hide();
            $('.pull-left').hide();
            $(".professionalCluster").html('<div class="body_section_area "><p align="center" style="font-weight:bold;"><img src="/static/investak/images/nocluster.png" /></p></div>');
            $(".gridviews_prof").html('<div class="body_section_area"><p align="center" style="font-weight:bold;"><img src="/static/investak/images/nocluster.png" /></p></div>');
            $("#autocomplete").prop('disabled',true);
            $("#autocomplete_mobile").prop('disabled',true);
            $("#sort_by_value").prop('disabled',true);
        }
    }
    var getIONValue = function(data){
        fromStockValue = data.from;
        toStockValue = data.to;

        call_cluster();
    }

    var getIONValuePrice = function(data){
        fromPriceValue = data.from;
        toPriceValue = data.to;
        call_cluster();
    }

    var getIONValueDivYield = function(data){
        fromYieldValue = data.from;
        toYieldValue = data.to;
        call_cluster();
    }
    var getIONReturnValue = function(data)
    {
        fromReturnValue = data.from;
        toReturnValue = data.to;
        call_cluster();
    }
    $(function(){
        $("#range_1").ionRangeSlider({
            type: 'double',
            postfix: "%",
            min:'{{ min_index_value|floatformat:2 }}',
            max:'{{ max_index_value|floatformat:2 }}',
            onFinish: getIONReturnValue
        });
        $("#range_2").ionRangeSlider({
            type: 'double',
            min:1,
            max:30,
            onFinish: getIONValue
        });
        $("#range_3").ionRangeSlider({
            type: 'double',
            prefix: "Rs.",
            min:'{{ min_inv|floatformat:2 }}',
            max:'{{ max_inv|floatformat:2 }}',
            onFinish: getIONValuePrice
        });

        $("#range_4").ionRangeSlider({
            type: 'double',
            postfix: "%",
            min:'{{ minimum_yield|floatformat:2 }}',
            max:'{{ maximum_yield|floatformat:2 }}',
            onFinish: getIONValueDivYield
        });
    });
    $(document).on('click', ".page-link", function(e){
        page_no = $(this).attr('page-id');
        if(page_no > 0){
            call_cluster();
        }
    });
    $(document).on('click','.a-fa-heart',function(e){

        var cluster_id = $(this).attr('data-id');
        var user_id = $(this).attr('user-id');

        if(cluster_id && user_id)
        {
            var flag = 0;
            $.ajax({
                type:"POST",
                url:"/frontend/watchCluster/",
                data:{cluster_id:cluster_id,user_id:user_id,csrfmiddlewaretoken:'{{ csrf_token }}'},
                async:false,
                beforeSend:function()
                {

                },
                success:function(data)
                {
                    flag = data[0].flag;
                    Notify(data[0].message, null, null, 'success');

                },
                error:function(xhr)
                {
                    Notify("Error Occurred", null, null, 'danger');
                }
            });
            if(flag == 1) {
                $(this).css({color:'#ffc71a'});
            }
            else {
                $(this).css({color:'#fff'});
            }
        }
});
    $(document).on('click','.dropdownul li', function(){
        var THIS = $(this);
        $(".dropdownul li").each(function(){
            $(this).removeClass("selected_cus");
        });
        THIS.addClass("selected_cus");
    });
</script>
<style>
/*.cluster_des_head h2{cursor:pointer;}*/
.selected_cus {
    color: black;
    font-weight: bold;
}
</style>
<section>
    <div class="container-fluid">
        <div class="row">

        <!--/.breadcrumb-area -->
            <div class="col-md-12">
                <div class="breadcrumb_area">
                <ol class="breadcrumb">
                  <!--<li class="breadcrumb-item"><a href="/user_dashboard/">Dashboard</a></li>-->
                  <li class="breadcrumb-item active">Analyze</li>
                </ol>
                </div>
            </div>
        <!--/.breadcrumb-area -->

        <!-- mobile design start -->
        <!-- sankar mobile 5-5-2017 -->
        <div class="grid_list_bar grid_list_bar_up mobileone">
            <div class="body_section_area">
                <div class="search_box">
                        <input id="autocomplete_mobile" class="ui-autocomplete-input" autocomplete="off" name="search" placeholder="Search Staks.." list="motifs" type="text">
                </div>
                <div class="icon_sets">
                            <a class="grid_con icon_actives" href="javascript:void(0)"><i class="fa fa-th" aria-hidden="true"></i></a>
                            <a class="list_con" href="javascript:void(0)"><i class="fa fa-list" aria-hidden="true"></i></a>
                        </div>

            </div>

        </div>
        <!-- sankar mobile end 5-5-2017 -->
         
        <div class="grid_list_bar grid_list_bar_up mobileone">
                    <div class="body_section_area">
                        <div class="filter_boxnw"></div>
                        <div class="sortbyicon"><a href="javascript:void(0)">
        <i class="fa fa-caret-down" aria-hidden="true"></i> </a>

                        </div>
                    <div class="dropdown">
                                <ul class="dropdownul"><li sort-value="r1_mret">One Month Return</li>
                                <li sort-value="r1_yearret">One Year Return</li>
                                <li sort-value="indexvalue">Index value</li>
                                <li sort-value="div_yield_Y1">One Year Dividend</li>
                                </ul>

                            </div>
                    </div>
                </div>
        <!-- mobile design start -->


        <!--/. body left portion area -->
            <div class="buy_left_section_fixed buy_left_section_fixed_nw">
            <!--/. Order_area portion area -->
                <div class="body_section_area" id="body_section_area_mobile">
                    <div class="Order_area">
                        <h2>Narrow Result</h2><span class="mobile_arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                        <div class="mobiles_toggle">
                        <div class="accrodian_bars">
                          <p class="pan-menu-ul-title"><a href="javascript:void(0)"><i class="fa fa-minus" aria-hidden="true"></i>Category</a></p>
                          <ul class="pan-menu-ul" style="display: block!important;">
                            <li>
                              <div class="in-checkbox">
                                <input id="wc" type="checkbox" name="catagory" value="prof" autocomplete="off">
                                <label for="wc"> Proffesional Staks <span></span></label>
                              </div>
                            </li>
                            <li>
                              <div class="in-checkbox">
                                <input id="cc" type="checkbox" name="catagory" value="comm" autocomplete="off">
                                <label for="cc"> Community Created Staks <span></span></label>
                              </div>
                            </li>

                          </ul>
                        </div>

                        {% if uList %}
                            {% for item in uList %}
                                <div class="accrodian_bars">
                                    <p class="pan-menu-ul-title"><a href="javascript:void(0)"><i aria-hidden="true" class="fa fa-minus"></i>{{ item.parent_category.cat_name }}</a></p>
                                    {% if item.child_category %}
                                        <ul class="pan-menu-ul" style="display:block!important;">
                                            {% for childItem in item.child_category %}
                                                {% with iterator.next as itr %}
                                                    <li>
                                                        <div class="in-checkbox">
                                                            <input id="{{ itr }}" type="checkbox" class="child-category"  child-id="{{ childItem.id }}" autocomplete="off">
                                                            <label for="{{ itr }}">{{ childItem.cat_name }} <span></span></label>
                                                        </div>
                                                    </li>
                                                {% endwith %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="accrodian_bars">
                          <p class="pan-menu-ul-title"><a href="javascript:void(0)"><i aria-hidden="true" class="fa fa-plus"></i>Returns</a></p>

                          <ul class="pan-menu-ul">
                            <li>
                              <input type="text" id="range_1" name="range_name" value="" autocomplete="off" />
                            </li>
                          </ul>

                        </div>



                        <div class="accrodian_bars">
                          <p class="pan-menu-ul-title"><a href="javascript:void(0)"><i aria-hidden="true" class="fa fa-plus"></i>No Of Stocks</a></p>

                          <ul class="pan-menu-ul">
                            <li>
                              <input type="text" id="range_2" name="range_name" value="" autocomplete="off" />
                            </li>
                          </ul>

                        </div>

                        <div class="accrodian_bars">
                          <p class="pan-menu-ul-title"><a href="javascript:void(0)"><i aria-hidden="true" class="fa fa-plus"></i>Minimum Investment</a></p>

                          <ul class="pan-menu-ul">
                            <li>
                              <input type="text" id="range_3" name="range_name" value="" autocomplete="off" />
                            </li>
                          </ul>

                        </div>
                        <div class="accrodian_bars">
                          <p class="pan-menu-ul-title"><a href="javascript:void(0)"><i aria-hidden="true" class="fa fa-plus"></i>Dividend Yield</a></p>

                          <ul class="pan-menu-ul">
                            <li>
                              <input type="text" id="range_4" name="range_name" value="" autocomplete="off" />
                            </li>
                          </ul>

                        </div>

                   </div>
                    </div>
                </div>
            <!--/. Order_area portion area -->
            </div>

            <div class="buy_right_section_fixed">

                <div class="grid_list_bar grid_list_bar_up mobilehide">
                    <div class="body_section_area">
                        <div class="search_box">
                        <input type="text" id="autocomplete" class="ui-autocomplete-input" autocomplete="off" name="search" placeholder="Search Stak.." list="motifs"></div>
                        <div class="icon_sets">
                            <a class="grid_con icon_actives" href="javascript:void(0)"><i class="fa fa-th" aria-hidden="true"></i></a>
                            <a class="list_con" href="javascript:void(0)"><i class="fa fa-list" aria-hidden="true"></i></a>
                        </div>

                        <div class="selet_box" id="sort_select_box">
                            <label>Sort by:   </label>
                            <select id="sort_by_value" name="carlist" form="carform">
                                <option value="r1_yearret">One Year Return</option>
                                <option value="r1_mret">One Month Return</option>
                                <option value="indexvalue">Index value</option>
                                <option value="div_yield_Y1">One Year Dividend</option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="grid_views gridviews_prof">


                </div>

                <div class="list_views">

                    <div class="cluster_list_box">
                        <div class="MyCustomContainer MyCustomFlipped">
                            <div class="MyCustomContent">
                                <table id="tableForMobile" width="100%" cellpadding="0" cellspacing="0">
                                    <thead id="tableHeadForMobile">
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th style="width: 10%">Stock Name</th>
                                            <!--<th>Index<div class="questios"><span><i class="fa fa-question" aria-hidden="true"></i></span>
                                                <div class="despQust">
                                                A stak index shows a staks performance. It is set to 1000 at its inception date and moves up/down daily. If it is above 1000, it means that the stak has given positive returns since inception and is shown in green.
                                                </div>
                                                </div></th>-->
                                            <th style="width:5%;">1 month return</th>
                                            <th style="width:5%;">1 year return</th>
                                            <th style="width:5%;">
                                                div yield<!-- <div class="questios">
                                                    <span><i class="fa fa-question" aria-hidden="true"></i></span>
                                                    <div class="despQust">

                                                        The dividend yield for a stak is calculated as a weighted composite of the cash dividends for the stocks in the stak. So for example: a dividend yield of 5% indicates that if a person had invested Rs.100 in the stak one year back, he would have got Rs.5 as dividends.
                                                    </div>
                                                </div> -->
                                            </th>
                                            <th style="width:5%;">Min. Invest.</th>
                                            <th colspan="2" style="width:8%;text-align: center;padding-left: 0px;padding-right: 0px;">action</th>
                                            <!-- <th style="width:5%;"></th> -->
                                        </tr>
                                    </thead>
                                    <tbody id="professionalClusterMobile" class="professionalCluster" style="cursor: pointer!important;"></tbody>
                                </table>
                                <style type="text/css">
                                    @media screen and (max-width: 768px){

.cluster_list_box table, .virtual_listing_view_area table {
    width: auto;
}}
@media screen and (max-width: 768px)
{
.subscribe_btn_ed {
padding: 2px 10px!important;}}
                                </style>
                                <table id="tableForDesktop" width="100%"  cellpadding="0" cellspacing="0">
                                    <thead id="tableHeadForDesktop">
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th>Stock Name</th>
                                            <th onclick="table_sort(this,'indexvalue')"><span><i class="fa fa-sort" aria-hidden="true"></i></span>
                                                Index<div class="questios">
                                                    <span><i class="fa fa-question" aria-hidden="true"></i></span>
                                                    <div class="despQust">
                                                        A stak index shows a staks performance. It is set to 1000 at its inception date and moves up/down daily. If it is above 1000, it means that the stak has given positive returns since inception and is shown in green.
                                                    </div>
                                                </div>
                                            </th>
                                            <th onclick="table_sort(this,'r1_mret')"><span><i class="fa fa-sort" aria-hidden="true"></i></span>1 month return</th>
                                            <th onclick="table_sort(this,'r1_yearret')"><span><i class="fa fa-sort" aria-hidden="true"></i></span>1 year return</th>
                                            <th onclick="table_sort(this,'div_yield_Y1')"><span><i class="fa fa-sort" aria-hidden="true"></i></span>
                                                div yield<div class="questios">
                                                    <span><i class="fa fa-question" aria-hidden="true"></i></span>
                                                    <div class="despQust">

                                                        The dividend yield for a stak is calculated as a weighted composite of the cash dividends for the stocks in the stak. So for example: a dividend yield of 5% indicates that if a person had invested Rs.100 in the stak one year back, he would have got Rs.5 as dividends.
                                                    </div>
                                                </div>
                                            </th>
                                            <th /*onclick="table_sort(this,'market_value')"*/>Min. Invest.</th>
                                            <th>action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="professionalClusterDesktop" class="professionalCluster" style="cursor: pointer!important;"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
         <!--/. body left portion area -->
         <!--/. body right portion area -->

         <!--/. body right portion area -->
<script type="application/javascript">
var prevsort="";
var asc_sort=0;
    function table_sort(caller,sortval){
        console.log($(caller).children('span').html());
        if (prevsort!="")
        {
            if(prevsort==caller) {
               if(asc_sort%2==0)
               {
                    $(caller).children('span').html('');
                    $(caller).children('span').html('<i class="fa fa-sort-desc" aria-hidden="true"></i>');

               }
             else{
                    $(caller).children('span').html('');
                    $(caller).children('span').html('<i class="fa fa-sort-asc" aria-hidden="true"></i>');

               }

            }
            else
            {
                prevsort.style.backgroundColor="white";
                asc_sort=0;
                $(prevsort).children('span').html('<i class="fa fa-sort" aria-hidden="true"></i>');
                $(caller).children('span').html('<i class="fa fa-sort-desc" aria-hidden="true"></i>');
            }

        }
        else
        {
            $(caller).children('span').html('');

            $(caller).children('span').html('<i class="fa fa-sort-desc" aria-hidden="true"></i>');
            asc_sort=0;
        }
        caller.style.backgroundColor="azure";
        prevsort=caller;
        asc_sort_act=asc_sort%2;
        sort_by_value=sortval;
        sortbyval=sortval;
        call_cluster();
        asc_sort++;
    }
</script>
        <div class="grid_list_bar bottoms_area pull-right">
                    <div class="body_section_area body_section_area_bottom">
                       <div class="pagination_bar">
                          <ul class="pagination pagination-sm pull-right">
                            <li class="page-item">
                              <a aria-label="Previous" href="javascript:void(0)" class="page-link">
                                <span aria-hidden="true"><i class="fa fa-backward" aria-hidden="true"></i></span>
                              </a>
                            </li>
                            <li class="page-item">
                              <a aria-label="Previous" href="javascript:void(0)" class="page-link">
                                <span aria-hidden="true"><i class="fa fa-caret-left" aria-hidden="true"></i></span>
                              </a>
                            </li>
                            <li class="page-item"><a href="javascript:void(0)" class="page-link">1</a></li>
                            <li class="page-item">
                              <a aria-label="Previous" href="javascript:void(0)" class="page-link">
                                <span aria-hidden="true"><i class="fa fa-caret-right" aria-hidden="true"></i></span>
                              </a>
                            </li>
                            <li class="page-item">
                              <a aria-label="Next" href="javascript:void(0)" class="page-link">
                                <span aria-hidden="true"><i class="fa fa-forward" aria-hidden="true"></i></span>
                              </a>
                            </li>
                          </ul>
                        </div>

                        <div class="selet_box pull-left">
                            <label>Showing:   </label>
                            <select id="sel1" name="carlist" form="carform">
                                <option value="30">30 per page</option>
                                <option value="60">60 per page </option>
                                <option value="80">80 per page</option>
                            </select>
                        </div>

                    </div>
                </div>

        </div>



    </div>
</section>
{% include 'inner_footer.html' %}
