{% include 'inner_header.html' %}
{% load staticfiles %}
<script src={% static "admin/js/jquery.blockUI.js" %}></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">

<link href="{% static "investak/dist/css/responsive.dataTables.css" %}" rel="stylesheet" type="text/css">
<script>
$().ready(function() {
    if($(window).width()<768) {
        $('#tbl_buy_cluster_details').DataTable({
           "paging":   false,
            "ordering": false,
            "info":     false,
            "searching": false,
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate,
                    type: ''
                }
            }
        });

        $('#buy_order_summary').DataTable({
           "paging":   false,
            "ordering": false,
            "info":     false,
            "searching": false,
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate,
                    type: ''
                }
            }
        });
    }
    //------------------------------//
    submit_buy_share_unit_onkey();
    //------------------------------//

});
</script>
<script type="text/javascript">
var order_url = 0;
function submit_buy_share_unit_onkey()
{

	$(document).keypress(function(event){
        //alert('test');
		var keycode = (event.keyCode ? event.keyCode : event.which);
		if(keycode == '13'){
			submit_buy_share_unit();
		}
	});
}
function hide_error(id)
{
    $("#"+id).hide();
}
function submit_buy_share_unit()
{
    $("#butn_submit_div").hide();
    $("#butn_no_submit_div").show();

    var value = $("#no_of_unit").val();
    if(trim(value) == '')
    {

    }
    else
    {
        value = parseInt(value);
        if(value <= 0)
        {
            $("#no_of_unit").val(1);
            value = 1;
        }
        $("#frmPostDetails").submit();
    }
}
function submit_payment_login()
{
    close_payment_login();
}
function open_payment_login()
{
    $('#modalChangePaymentLogin').addClass('in');
    $('#modalChangePaymentLogin').show();
    //$('#modalChangePaymentLogin').removeClass('fade');
    $(document.body).addClass('modal-open');
}
function close_payment_login()
{
    $('#modalChangePaymentLogin').removeClass('in');
    $('#modalChangePaymentLogin').hide();
    //$('#modalChangePaymentLogin').removeClass('fade');
    $(document.body).removeClass('modal-open');
}
function submit_place_order()
{
    //for Google Analytics//
    ga('send', {
      hitType: 'event',
      eventCategory: 'Order',
      eventAction: 'Buy',
      eventLabel: 'Buy Cluster'
    });

    //open_payment_login();
    var cluster_id = $("#cluster_id").val();
    var user_id = $("#user_id").val();
    var no_of_unit = $("#no_of_unit").val();
    if(trim(no_of_unit) == '')
    {
        return false;
    }
    no_of_unit = parseInt(no_of_unit);
    //alert('no_of_unit'+no_of_unit);

    $("#butn_submit_div").hide();
    $("#butn_no_submit_div").show();

    var order_id = 0;
    var minimum_investment_amount = $("#minimum_investment_amount").val();

    if(cluster_id && user_id && minimum_investment_amount && no_of_unit)
    {
         var order_details_arr = new Array();
        $(".tr-virtual").each(function(index) {
            var co_code = $(this).find('.co-code').attr('co-code');
            var co_name = $(this).find('a').html();
            var no_of_share = $(this).find('.no-of-share').text();
            var price = $(this).find('.price').attr('data-price');
            var value = $(this).find('.value').attr('data-value');
            var old_weigh = $(this).find('.old-weigh').attr('data-old-weight');
            var new_weigh = $(this).find('.new-weigh').attr('data-new-weight');
            //---------------------------------------------//
            var exchange = $(this).find('.exchange').attr('data-exchange');
            var symbol = $(this).find('.symbol').attr('data-symbol');
            //---------------------------------------------//
            //var value = $(this).find('.value').text();
            //var old_weigh = $(this).find('.old-weigh').text();
            //var new_weigh = $(this).find('.new-weigh').text();
            //alert('no_of_share'+no_of_share);
            //alert('price'+price);
            //alert('value'+value);

            order_details_arr.push({co_code:co_code,co_name:co_name,no_of_share:no_of_share,price:price,value:value,old_weigh:old_weigh,new_weigh:new_weigh,exchange:exchange,symbol:symbol});
        });

        $.ajax({
           type:"POST",
           url:"/frontend/place_virtual_order/",
           async:false,
           data:{cluster_id:cluster_id,
                 user_id:user_id,
                 no_of_unit:no_of_unit,
                 minimum_investment_amount:minimum_investment_amount,
                 csrfmiddlewaretoken:'{{ csrf_token }}',
                 order_details:JSON.stringify(order_details_arr)
           },
           beforeSend:function() {
               //$.blockUI({ message: 'Please Wait...' });
           },
           success:function(response) {
               if(response) { //alert('response'+response);
                   order_id = response;
                   //$.unblockUI();
               }
               else { //alert('response'+response);
                   //$.blockUI({ message: 'There is something wrong while placing order' });
                   //$.unblockUI();
               }
           },
           error:function(xhr) { //alert('responseerror');
               //$.blockUI({ message: 'There is something wrong while placing order' });
               //$.unblockUI();
           }
        });

    }
    //e.preventDefault();

    if(order_id > 0)
    {
        window.location.href="/portfolio/orders"+order_id;
    }
    else
    {
         $("#butn_submit_div").show();
         $("#butn_no_submit_div").hide();
    }
}
</script>
<section>
    <div class="container-fluid">
        <div class="row">
        
        <!--/.breadcrumb-area -->
            <div class="col-md-12">
                <div class="breadcrumb_area">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/user_dashboard/">Dashboard</a></li>
                  <li class="breadcrumb-item"><a href="/analyze/">Analyze</a></li>
                  <li class="breadcrumb-item"><a href="/cluster_list/{{ cluster_id }}">{{ cluster_name }}</a></li>
                  <li class="breadcrumb-item active">Virtual Buy Order</li>
                </ol>
                </div>
            </div>

        <div class="virtual_up_fixed mobile_cluster">

            <!--/. Order_area portion area -->
            <div class="body_section_area">
                <div class="Order_area dsk_tbl">
                    <h2>Order Details</h2>
                    <ul class="Order_executive_area">
                        <li>
                            <p>Cluster:</p>
                            <span>{{ cluster_name }}</span>
                        </li>
                        <li>
                            <p>Buy Date:</p>
                            <span>{{ buy_print_date }}</span>
                        </li>
                        <li>
                              <p>Type:</p>
                                <span>Buy</span>
                        </li>

                        <li>
                            <p>Lots:</p>
                            <span>{{ no_of_unit }}</span>
                        </li>

                        <li>
                            <p>Value:</p>
                            <span id="left_nav_investment"><strong><i class="fa fa-inr" aria-hidden="true"></i> {{ display_minimum_investment }}</strong></span>
                        </li>
                        <li>
                            <p>Transaction Cost:</p>
                            <span><i class="fa fa-inr" aria-hidden="true"></i> {{ transaction_cost }}</span>
                        </li>
                        <li>
                            <p>Cash Available:</p>
                            <span><strong><i class="fa fa-inr" aria-hidden="true"></i> {{ display_cash_available }}</strong></span>
                        </li>
                    </ul>
                </div>

                <!-- Mobile Data -->
                <div class="buy_mobile_cluster buy_cluster_mobile mobi_tbl">
                    <h2>Order Details</h2>
                    <table id="buy_order_summary">
                        <tr>
                            <td>Cluster</td>
                            <td style="text-align:right;">{{ cluster_name }}</td>
                        </tr>
                        <tr>
                            <td>Buy Date</td>
                            <td style="text-align:right;">{{ buy_print_date }}</td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td style="text-align:right;">BUY</td>
                        </tr>
                        <tr>
                            <td>Lots</td>
                            <td style="text-align:right;">{{ no_of_unit }}</td>
                        </tr>
                        <tr>
                            <td>Value</td>
                            <td style="text-align:right;"><i class="fa fa-inr" aria-hidden="true"></i> {{ display_minimum_investment }}</td>
                        </tr>
                        <tr>
                            <td>Transaction Cost</td>
                            <td style="text-align:right;"><i class="fa fa-inr" aria-hidden="true"></i> {{ transaction_cost }}</td>
                        </tr>
                        <tr>
                            <td>Cash Available</td>
                            <td style="text-align:right;"><i class="fa fa-inr" aria-hidden="true"></i> {{ display_cash_available }}</td>
                        </tr>
                    </table>
               </div>
            </div>
            <!--/. Order_area portion area -->
            <!--/. Account Details portion area -->
            <div class="body_section_area" style="display: none;">
                <div class="Order_area">
                    <h2>Account Details</h2>
                    <ul class="Order_executive_area">
                        <li>
                            <p>Current Cash Balance:</p>
                            <span><i class="fa fa-inr" aria-hidden="true"></i> {{ display_cash_available }}</span>
                        </li>
                        <li>
                            <p>Expected Cash Flow:</p>
                            <span>(-)<i class="fa fa-inr" aria-hidden="true"></i> {{ expected_cash_flow }}</span>
                        </li>
                        <li>
                            <p>Final Balance:</p>
                            <span><i class="fa fa-inr" aria-hidden="true"></i> {{ final_balance }}</span>
                        </li>
                    </ul>
               </div>
            </div>
            <!--/. Account Details portion area -->
        </div>

        <!--/. body left portion area -->
            <div class="virtual_down_fixed">
            
                <div class="body_section_area">
                    <div class="overview_details">
                        <h1 class="dsk_tbl">Virtual Buy Order</h1>
                        <h1 class="mobi_tbl" style="font-size:15px; color:#666666;">Virtual Buy Order</h1>
                        <div class="virtual_listing_area">
                        
                            <div class="virtual_listing_view_area">
                                <div class="dsk_tbl">
                                <table class="table-responsive dsk_tbl">
                                    <thead>
                                        <tr>
                                            <th><div>Stock Name</div></th>
                                            <th><div>Exchange</div></th>
                                            <th><div>Symbol</div></th>
                                            <th><div>Order</div></th>
                                            <th><div>Shares</div></th>
                                            <th><div>Price</div></th>
                                            <th><div>Value</div></th>
                                            <th>Proposed Allocation<div class="questios"><span><i class="fa fa-question" aria-hidden="true"></i></span>
                                            <div class="despQust">
                                            <!--<h4>Heading</h4>-->
                                            This is the allocation as proposed. Since shares can only be bought in integers, there will be a slight difference in the proposed allocation and final allocation.
                                            </div>
                                            </div></th>
                                            <th>Final Allocation<div class="questios"><span><i class="fa fa-question" aria-hidden="true"></i></span>
                                            <div class="despQust">
                                            <!--<h4>Heading</h4>-->
                                            This is the final allocation as calculated when taking into account that the shares are being bought/sold in integers. This represents the final allocation of weights to each stock.
                                            </div>
                                            </div></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% if buy_order_list %}
                                        {% for item in buy_order_list %}
                                            {% if item.0.no_of_share > 0 %}

                                            <tr class="tr-virtual">
                                                <td style="width:20%;" class="co-code" co-code="{{ item.0.co_code }}"><a href="/stock_details/{{ item.0.co_code }}/{{ cluster_id }}">{{ item.0.co_name }}</a></td>
                                                <td style="width:10%;" class="exchange" data-exchange="{{ item.0.exchange }}" >{{ item.0.exchange }}</td>
                                                <td style="width:10%;" class="symbol" data-symbol="{{ item.0.symbol }}" >{{ item.0.symbol }}</td>
                                                <td style="width:8%;">Buy</td>
                                                <td style="width:7%;" class="no-of-share">{{ item.0.no_of_share|floatformat:0 }}</td>
                                                <td style="width:7%;" class="price" data-price="{{ item.0.value_since_share_fraction }}"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ item.0.value_since_share_fraction|floatformat:2 }}</td>
                                                <td style="width:10%;" class="value" data-value="{{ item.0.value }}"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ item.0.value|floatformat:2}}</td>
                                                <td style="width:14%;" class="old-weigh" data-old-weight="{{ item.0.old_weightage|floatformat:2 }}">{{ item.0.old_weightage|floatformat:2 }}%</td>
                                                <td style="width:14%;" class="new-weigh" data-new-weight="{{ item.1.new_weigh_value|floatformat:2 }}">{{ item.1.new_weigh_value|floatformat:2 }}%</td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                                </div>

                                <!--Mobile Data-->
                                <div class="buy_mobile_cluster mobi_tbl">
                                <table class="buy_order_mobi_tbl mobi_tbl" id="tbl_buy_cluster_details">
                                    <thead>
                                        <th>STOCK</th>
                                        <th>SHARES</th>
                                        <th style="text-align:right;">PRICE</th>
                                        <th style="text-align:right;">VALUE</th>
                                    </thead>
                                    <tbody>
                                    {% if buy_order_list %}
                                        {% for item in buy_order_list %}
                                            {% if item.0.no_of_share > 0 %}

                                            <tr>
                                                <td><a href="/stock_details/{{ item.0.co_code }}/{{ cluster_id }}">{{ item.0.co_name }}</a></td>
                                                <td style="text-align:center;">{{ item.0.no_of_share|floatformat:0 }}</td>
                                                <td style="text-align:right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ item.0.value_since_share_fraction|floatformat:2}}</td>
                                                <td style="text-align:right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ item.0.value|floatformat:2}}</td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                                </div>


                                <form name="frmPostDetails" id="frmPostDetails" method="post" action="/buy_cluster/{{ cluster_id }}" >{% csrf_token %}
                                    <input type="hidden" name="minimum_investment_amount" id="minimum_investment_amount" value="{{ minimum_investment }}">
                                    <input type="hidden" name="cluster_id" id="cluster_id" value="{{ cluster_id }}" />
                                    <input type="hidden" name="user_id" id="user_id" value="{{ request.session.id }}" />
                                    <input type="hidden" name="final_balance" id="final_balance" value="{{ final_balance }}" />.

                                {% if int_minimum_investment == 0 %}

                                    <div class="col-md-2 pull-right" id="butn_submit_div" style="display:none;">
                                        <button class="btn mysubmit_btn2" type="submit" id="btnSubmit" >Place Order</button>
                                    </div>
                                    <div class="col-md-2 pull-right" id="butn_no_submit_div" style="display:block;">
                                        <button class="btn mysubmit_btn2" type="button" id="btnNoSubmit" style="background: #2486c8 none repeat scroll 0 0; opacity:0.9;" disabled="disabled" >Place Order</button>
                                    </div>

                                {% else %}

                                    {% if cash_available >= minimum_investment %}
                                        <div class="col-md-2 col-xs-12 pull-right" id="butn_submit_div" style="display:block;">
                                            <button class="btn mysubmit_btn2" type="button" id="btnSubmit" onclick="submit_place_order();">Place Order</button>
                                        </div>
                                        <div class="col-md-2 col-xs-12 pull-right" id="butn_no_submit_div" style="display:none;">
                                            <button class="btn mysubmit_btn2" type="button" id="btnNoSubmit" style="background: #2486c8 none repeat scroll 0 0; opacity:0.9;" disabled="disabled" >Place Order</button>
                                        </div>
                                    {% else %}
                                        <div class="col-md-2 col-xs-12 pull-right" id="butn_submit_div" style="display:none;">
                                            <button class="btn mysubmit_btn2" type="button" id="btnSubmit" >Place Order</button>
                                        </div>
                                        <div class="col-md-3 col-xs-12 pull-right" id="butn_no_submit_div" style="display:block;">
                                            <button class="btn mysubmit_btn2" type="button" id="btnNoSubmit" style="background: #2486c8 none repeat scroll 0 0; opacity:0.9;" disabled="disabled" >Place Order</button>
                                        </div>

                                        <!-- Error Message -->
                                        <div class="col-md-5 pull-right" style="margin-top:50px; color:#ed5d09; font-weight:600;" id="invalid_lots_submit_div" >
                                            CASH AVAILABLE IS NOT ENOUGH TO PLACE THIS ORDER.
                                        </div>
                                    {% endif %}

                                {% endif %}



                                    <div class="col-md-3 pull-left">
                                        <div id="dropdown-menu">
                                            <div class="form-group">
                                            <label for="s1">Select Lots</label>
                                            <input type="text" name="no_of_unit" id="no_of_unit" value="{{ no_of_unit }}" onkeypress="hide_error('invalid_lots_submit_div');return keyRestrict(event, '1234567890');" style="width:70px;">
                                            <input type="button" name="lots_input_butn" id="lots_input_butn" class="btn mysubmit_btn2" value="Go" style="width:35px;  margin-top:0px; padding:2px;" onclick="submit_buy_share_unit();">
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="test_cash" name="test_cash" value="{{ cash_available }}" />
                                    <input type="hidden" id="test_investment" name="test_investment" value="{{ minimum_investment }}" />
                                 </form>
                            </div>
                    </div>
                        
                    </div>
                </div>
             
            </div>
         <!--/. body left portion area -->
        </div>
    </div>
</section>

<div id="modalChangePaymentLogin" class="modal fade modaloverall" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body" style="padding:10px 25px;">

       <form role="form" name="frmPaymentLogin" id="frmPaymentLogin" method="post" action="">{% csrf_token %}

            <div class="form-group label-floating is-empty">
            <label for="loginemail" class="control-label">Email</label>
            <input type="text" class="form-control" id="loginemail" name="loginemail">
            </div>

            <div class="form-group label-floating is-empty">
            <label for="loginpassword" class="control-label">Password</label>
            <input type="password" class="form-control" id="loginpassword" name="loginpassword" >
            </div>

        </form>


      </div>
      <div class="modal-footer">

        <div class="col-md-3 pull-right"><button type="button" data-dismiss="modal" class="btn mysubmit_btn_cnl_am" onclick="close_payment_login()">Cancel</button></div>
        <div class="col-md-3 pull-right"><button type="button" class="btn mysubmit_btn_Am" id="btnPaymentLogin" onclick="submit_payment_login()">Submit</button></div>

      </div>
    </div>

  </div>
</div>

{% include 'inner_footer.html' %}
<!--Login Payment-->


<!-- end login -->
<script>
//-------------- Common Function -------------//
//Function for alpha-numeric|numeric check
function keyRestrict(e, validchars) {
	 var key='', keychar='';
	 key = getKeyCode(e);
	 if (key == null) return true;
	 keychar = String.fromCharCode(key);
	 keychar = keychar.toLowerCase();
	 validchars = validchars.toLowerCase();
	 if (validchars.indexOf(keychar) != -1)
	  return true;
	 if ( key==null || key==0 || key==8 || key==9 || key==13 || key==27 )
	  return true;
	 return false;
}
function getKeyCode(e) {
	 if (window.event)
		return window.event.keyCode;
	 else if (e)
		return e.which;
	 else
		return null;
}
function trim(s)
{
	while(s.substring(0,1) == ' ')	{
		s = s.substring(1,s.length);	}
	while(s.substring(s.length-1,s.length) == ' ')	{
		s = s.substring(0,s.length-1);	}
	return s;
}
</script>