	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
     <meta name="viewport" content="width=device-width">
 
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="format-detection" content="telephone=no" /> <!-- disable auto telephone linking in iOS -->
		<title></title>
		
	</head>
	<body bgcolor="#f0f0f0" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">

		<center style="background-color:#f0f0f0;">
			<table background="#f0f0f0" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="table-layout: fixed;max-width:100% !important;width: 100% !important;min-width: 100% !important;">
       
				<tr>
					<td align="center" valign="top" id="bodyCell" >

						<table  border="0" cellpadding="0" cellspacing="0" width="600" >

							<!-- HEADER ROW // -->
							<tr>
								<td align="center" valign="top">
									<!-- CENTERING TABLE // -->
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td align="center" valign="top" height="10">
												
											</td>
										</tr>
									</table>
									<!-- // CENTERING TABLE -->
								</td>
							</tr>
							<!-- // END -->

						</table>
						
						 <table bgcolor="#FFFFFF"  border="0" cellpadding="0" cellspacing="0" width="650" id="emailBody">

							
                    <!-- ///////////////////////// SH ////////////////////////////////// -->        
                            <tr>
                            	<td align="center" valign="top" >
                                	<table border="0" cellpadding="0" cellspacing="0" width="100%" >
                                    
                                   <!-- // MODULE ROW -->
                                		<tr>
                                            <td align="center" valign="top" width="100%">
                                                <!-- CENTERING TABLE // -->
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#f0f0f0;">

                                                    <tr>
                                                        <td align="center" valign="top"  style="background-color:#f0f0f0; padding:10px 0px;" >
                                                          
                                                           <a href="https://www.investak.in/"><img src="https://www.investak.in/static/investak/images/logo.png" /></a>
                                                        </td>
                                                   </tr>
                                                   
                                                   <!--<tr>
                                                       <td align="left" valign="top" width="100%" style=" background-color:#f0f0f0; font-size:18px;  padding:0px 30px 10px; text-align:left; font-family: Arial, sans-serif, Helvetica " >
                                                            <h4 style="color:#2486c8; font-weight:normal; font-size:16px; text-align:center; font-family: Arial, sans-serif, Helvetica;margin:0px;">Investak: A new world of investing</h4>
                                                       </td>
                                                   </tr>-->
                                                    
                                                   <tr> <td align="center" valign="top" height="20" >&nbsp;</td></tr>
                                                   
                                                </table>
                                            </td>
                                		</tr>             
                                
                            <!-- MODULE ROW // -->
                                          
                                        
                                       <tr>
                                           <td align="left" valign="top" width="100%" style=" background-color:#fff; font-size:18px;  padding:0px 30px 0px; text-align:left; font-family: Arial, sans-serif, Helvetica " >
                                           		<h2 style="color:#2486c8; font-weight:bold; font-size:16px; text-align:left; font-family: Arial, sans-serif, Helvetica;margin:30px 0px 5px;">{{ cluster_name }}<span style="color:#2486c8; font-weight:normal; font-size:16px; text-align:left; font-family: Arial, sans-serif, Helvetica;">&nbsp;(By {{ user_name }})</span></h2>


                                                <p style="color:#333; font-weight:normal; font-size:14px; font-family: Arial, sans-serif, Helvetica;margin:0px; display:block;">Returns:
                                               {% if one_year_return >= 0.00 %}
                                                   <span style="color:#00b800; font-weight:bold; font-size:14px; font-family: Arial, sans-serif, Helvetica;margin:0px;">
                                                        <img style="padding-right:5px;" src="https://www.investak.in/static/frontend/images/up_arrow.png" />{{ one_year_return|floatformat:2 }}%</span> (1 Year)
                                               {% else %}
                                                   <span style="color:#FF0000; font-weight:bold; font-size:14px; font-family: Arial, sans-serif, Helvetica;margin:0px;">
                                                        <img style="padding-right:5px;" src="https://www.investak.in/static/frontend/images/dwn_arrow.png" />{{ one_year_return|floatformat:2 }}%</span> (1 Year)
                                               {% endif %}
                                                {% if five_year_return >= 0.00 %}
                                                   <span style="color:#00b800; font-weight:bold; font-size:14px; font-family: Arial, sans-serif, Helvetica;margin:0px;">
                                                        <img style="padding-right:5px;" src="https://www.investak.in/static/frontend/images/up_arrow.png" />{{ five_year_return|floatformat:2 }}%</span> (5 Year)
                                               {% else %}
                                                   <span style="color:#FF0000; font-weight:bold; font-size:14px; font-family: Arial, sans-serif, Helvetica;margin:0px;">
                                                        <img style="padding-right:5px;" src="https://www.investak.in/static/frontend/images/dwn_arrow.png" />{{ five_year_return|floatformat:2 }}%</span> (5 Year)
                                               {% endif %}

                                                </p>
                           						<!--<a href="#"><img src="banner_img.png" /></a>-->
                                           </td>
                                        </tr>
                            <!-- MODULE ROW // -->
                            
                                        <tr>
                                        	<td align="left" valign="top" >
                                            	<table border="0" cellpadding="0" cellspacing="0" width="100%">

                                                     <td  align="left" width="420" valign="top"  style="font-size:16px; color:#343944; line-height:26px; padding-left:10px; padding:10px 30px 10px; text-align:left; font-family: Arial, sans-serif, Helvetica;">
                                                     
                                                     <!--<span><img src="img.png" /></span>-->
                                                     <span style="width:295px; height:190px; float:left; margin:10px 20px 20px 0px; display:flex; justify-content:center; align-content:center; align-item:center; overflow:hidden;"><img style="width: 100%;" src="https://www.investak.in/static/media/images/cluster/{{ cluster_image }}" /></span>
                                                     <h3 style="color:#2486c8; font-weight:bold; font-size:16px; text-align:left; font-family: Arial, sans-serif, Helvetica;margin:5px 0px 10px;">Stak Description</h3>
                                                     
													 <p style="font-size:14px; color:#343A3F; line-height:22px; margin:0px; padding:0px 0px 5px; text-align:left; font-family: Arial, sans-serif, Helvetica;">
                                                     	{{ cluster_description }}
                                                     </p>

                                                     </td>
                                                     	
                                                </table>
                                            </td>
                                        </tr>
                            			
                                        <tr> <td align="center" valign="top" height="20" >&nbsp;</td></tr>
                                       
                                       <tr>
                                           <td align="left" valign="top" width="100%" style=" background-color:#fff; font-size:18px;  padding:0px 30px 0px; text-align:left; font-family: Arial, sans-serif, Helvetica " >
                                                <h5 style="color:#333; font-weight:bold; font-size:18px; font-style:italic; padding:0px; font-family: Arial, sans-serif, Helvetica;margin:0px;">Stock Details:-</h5>
                                           </td>
                                       </tr>
                                       
                                       <tr>
                                       	<td align="left" valign="top" width="100%" style="padding:5px 25px;">
                                        	<table cellpadding="0" cellspacing="0" width="100%" border="1" bordercolor="#999999" >
                                            	<tr >
                                                	<th style="padding:5px 10px; text-align:left; font-size:14px; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">Stock Name</th>
                                                    <th style="padding:5px 10px; text-align:left; font-size:14px; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">Exchange</th>
                                                    <th style="padding:5px 10px; text-align:left; font-size:14px; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">1 Month Return(%)</th>
                                                    <th style="padding:5px 10px; text-align:left; font-size:14px; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">1 Year Return(%)</th>
                                                    <th style="padding:5px 10px; text-align:left; font-size:14px; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">Div Yield(%)</th>
                                                    <th style="padding:5px 10px; text-align:left; font-size:14px; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">Weightage(%)</th>
                                                </tr>
                                                {% for std in cluster_stock_details %}
                                                <tr >
                                                	<td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">{{ std.co_name }}</td>
                                                    <td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">{{ std.exchange }}</td>
                                                    <td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">{{ std.r1_mret|floatformat:2 }}</td>
                                                    <td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">{{ std.r1_yearret|floatformat:2 }}</td>
                                                    <td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">{{ std.div_yield|floatformat:2 }}</td>
                                                    <td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">{{ std.weightage }}</td>
                                                </tr>
                                                {% endfor %}
                                                
                                            </table>
                                        </td>
                                       </tr>
                                        
                                        
                            <!-- MODULE ROW // -->
                            			 <tr>
                                    		<td align="center" valign="top" width="100%" style="background-color:#fff;">
                                            	<table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                	
                                                    <tr>
                                    					<td align="center" valign="top" width="100%" colspan="2" height="25">&nbsp;</td>
                                                    </tr>  
                                                    
                                                    <tr>
                                                    	<td style="padding:10px 10px 10px 30px; text-align:left; font-family: Arial, sans-serif, Helvetica;" width="50%" valign="top" align="left">
                                                        <h5 style="color:#333; font-weight:bold; font-size:16px; font-style:italic; padding:10px 0px; font-family: Arial, sans-serif, Helvetica;margin:0px;"><a style="text-decoration:none; color:#2486c8;" href="https://www.investak.in/cluster_list/{{ cluster_id }}" target="_blank">See more details</a></h5>
                                                        <p style="color:#333; font-weight:normal; font-size:14px; font-style:italic; line-height:18px; font-family: Arial, sans-serif, Helvetica;margin:0px;">Visit: <a style="text-decoration:none; color:#2486c8;" href="https://www.investak.in/cluster_list/{{ cluster_id }}" target="_blank">https://www.investak.in/cluster_list/{{ cluster_id }}</a></p>
                                                        <br />
                                                        </td>
                                                        
                                                        <td style="padding:10px 30px 10px 10px; text-align:left; font-family: Arial, sans-serif, Helvetica;" width="50%" valign="top" align="left" >
                                                        <h5 style="color:#333; font-weight:bold; font-size:18px; font-style:italic; padding:10px 0px; font-family: Arial, sans-serif, Helvetica;margin:0px;">Being part of Investak Family</h5>
                                                        <p style="color:#333; font-weight:normal; font-size:14px; font-style:italic; line-height:18px; font-family: Arial, sans-serif, Helvetica;margin:0px;">The team at Investak wants to extend a hearty 'thank you' to all of our wonderful members.</p>
                                                        </td>
                                                        
                                                    </tr>
                                                    
                                                    <tr>
                                    					<td align="center" valign="top" width="100%" colspan="2" height="25">&nbsp;</td>
                                                    </tr>
                                                    
                                                </table>
                                            </td>
                                         </tr>   
                            <!-- MODULE ROW // -->
                            
							<!-- // MODULE ROW -->
                         				<tr>
                                            <td align="center" valign="top" width="100%">
                                                <!-- CENTERING TABLE // -->
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#343a3f;">

                                                    <tr>
                                                        <td align="center" valign="top" style="padding-top: 9px;padding-right: 9px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        								<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            		<tbody>
                            		<tr>
                                		<td align="center" valign="top" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                        
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display: inline;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                <tbody>
                                                <tr>
                                                    <td valign="top" style="padding-right: 10px;padding-bottom: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                            <tbody>
                                                            <tr>
                                                                <td align="left" valign="middle" style="padding-top: 5px;padding-right: 10px;padding-bottom: 5px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td align="center" valign="middle" width="24" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                <a href="https://www.linkedin.com/company/13217873?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A13217873%2Cidx%3A2-1-2%2CtarId%3A1479203010769%2Ctas%3Ainvestak" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><img src="https://www.investak.in/static/media/images/color-linkedin-48.png" style="display: block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" height="24" width="24" class=""></a>
                                                                            </td>
                                                                        </tr>
                                                                    	</tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        	</tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            	</tbody>
                                            </table>
                                        
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display: inline;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                <tbody>
                                                <tr>
                                                    <td valign="top" style="padding-right: 10px;padding-bottom: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                            <tbody>
                                                            <tr>
                                                                <td align="left" valign="middle" style="padding-top: 5px;padding-right: 10px;padding-bottom: 5px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td align="center" valign="middle" width="24" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                <a href="https://plus.google.com/collection/QntTkB" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><img src="https://www.investak.in/static/media/images/color-googleplus-48.png" style="display: block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" height="24" width="24"></a>
                                                                            </td>
                                                                        </tr>
                                                                    	</tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        	</tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            	</tbody>
                                            </table>
                                        
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display: inline;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                <tbody>
                                                <tr>
                                                    <td valign="top" style="padding-right: 10px;padding-bottom: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                            <tbody>
                                                            <tr>
                                                                <td align="left" valign="middle" style="padding-top: 5px;padding-right: 10px;padding-bottom: 5px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td align="center" valign="middle" width="24" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                <a href="https://www.facebook.com/Investak/" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><img src="https://www.investak.in/static/media/images/color-facebook-48.png" style="display: block;border: 0;height: 24px!important;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" height="24px" width="24px"></a>
                                                                            </td>
                                                                        </tr>
                                                                      </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                        
                                		</td>
                            		</tr>
                        			</tbody>
                        		</table>
                    									</td>
                                                   </tr>
                                                   
                                                </table>
                                            </td>
                                		</tr>
                                        
                                        <tr style="background-color:#343a3f;">
                                        	<td align="center" valign="top" width="100%"><p style="color:#fff; font-size:16px; padding:10px 0px; font-family: Arial, sans-serif, Helvetica; margin:0px;">Copyright © *2016|* *|Investak|*, All rights reserved.</p>
                                            </td>
                                        </tr>
							

                       
                          
                          
						</table>
                        
                         </table>
                       </td>
                      </tr>
                            <!-- bottom Space -->
                            <tr>
                                <td align="center" valign="top" height="10">&nbsp;</td>
                            </tr>
                            <!-- bottom Space -->
			<!-- /////////////////////////////////////////////////////////////////////////// -->
					</td>
				</tr>
			</table>
		</center>
	</body>
</html>