{% include 'inner_header.html' %}
{% load staticfiles %}
{% load investak_filters %}
<script type="text/javascript" src="{% static "investak/dist/js/jquery-ui.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "frontend/dashboard/dist/css/jquery-ui.css" %}">
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src={% static "admin/js/jquery.blockUI.js" %}></script>
<script type="text/javascript" src="{% static "investak/dist/js/canvasjs.min.js" %}" ></script>
<script type="text/javascript">
    var exchange = 'NSE';
    var cluster_id = '{{ cluster_id }}';
    var prev_value = 0.00;
    var company_array = new Array();
    var sector_array = new Array();
    var flag = 0;
    var symbol = '';
    var slider_counter = 0;
    var slider_value = 0.00;
    var tool_tip = '';
    var select_exchange = 'NSE';
    var select_value = 1;
    var axis = '';
    var count_to_be_hundred = 0.00;
    var rowIndex = 0;
    var is_custom = false;
    function load_company_sector() {
        {% if sector_details %}
            {% for csd in sector_details %}
                sector_array.push('{{ csd.sector_name|safe }}');
                flag++;
                {% if csd.stock_details %}
                    {% for sd in csd.stock_details %}
                         company_array.push({{ sd.0.co_code }});
                         slider_counter++;
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}

    }
    function check_slider_count()
    {
        var ln = $(".slider-range-min").length;
        if(ln==1)
        {
            $(".slider-range-min").slider({ disabled: true });
            $(".amount").attr('readonly', true);

        }
        else {
            $(".amount").attr('readonly', false);
            $(".slider-range-min").slider({ disabled: false });
            $(".slider-range-min").addClass("ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all");

        }
    }
    function generate_slider() {

        var co_code_list = '';
        var weigh_list = '';
        $(".slider-range-min").each(function(index, Element){

             $(this ).slider({
              range: "min",
              step: 0.01,
              value: parseFloat($(this).attr('data-value')).toFixed(2),
              min: 0.00,
              max: 100.00,
              start: function(event, ui) {
                        prev_value = ui.value;
              },
              slide: function( event, ui ) {
                $( "#amount"+$( this).attr('data-id') ).val( ui.value.toFixed(2) );
              },
              change: function(event,ui) {

              },
                 stop: function(event,ui)
                 {
                     $( "#amount"+$( this).attr('data-id') ).val( ui.value.toFixed(2));
                     change_slider_value(ui.value,$( this).attr('data-id'));
                     //historical_graph($(this).attr('data-co-code'),ui.value);

                 }
            });
            $( "#amount"+$( this).attr('data-id') ).val( $( this ).slider( "value" ).toFixed(2) );
            co_code_list = co_code_list + $(this).attr('data-co-code') +",";
            weigh_list = weigh_list + $(this).slider('value') + ",";
        });
        if(cluster_id && co_code_list && weigh_list) {
             $.blockUI({ message: '<img src="/static/investak/images/loader1.gif" />'
        });
            historical_graph(cluster_id,co_code_list,weigh_list);
        }

    }
    function calculate_total_weigh() {
        console.log("world");
        var total_weigh = 0;
        var ind = '';
        var last_val = 0.00;
        $(".amount").each(function(index){
            total_weigh = parseFloat(parseFloat(total_weigh) + parseFloat($(this).val()));
            ind = index;
            last_val = parseFloat($(this).val());
        });
        if(!is_custom){
            var diff = parseFloat(100-parseFloat(total_weigh).toFixed(2)).toFixed(2);
            if(diff > 0.00){
              adjust_val = parseFloat(last_val)+parseFloat(diff);
              adjust_val = adjust_val.toFixed(2)
              $(".amount").eq(ind).val(adjust_val);
              $("#slider-range-min"+ind).attr("data-value",adjust_val);
              total_weigh = 100.00;
            }
        }
        $("#total-weigh").html('Total Weightage : '+parseFloat(total_weigh).toFixed(2)+'%');
        $("#remain-weigh").html('Remaining Weightage : '+parseFloat(100 - parseFloat(total_weigh).toFixed(2)).toFixed(2)+'%');
    }
   function load_slider() {
   $(".sell-weight").change(function(e) {
        var weight_value = $(".sell-weight").val();
        is_custom = (weight_value == "EQ")?false:true;
        if (weight_value == "EQ") {
             if($(".table-responsive > tbody > tr.tr-count").length > 0) {
                 $(".slider-range-min").slider({disabled: true});
                 $(".amount").attr('readonly', true);
                 $.blockUI({
                     message: '<img src="/static/investak/images/loader1.gif" />'
                 });
                 generate_slider_static();
                  count_to_be_hundred = 0.00;
                $(".slider-range-min").each(function(index){
                    $(this).slider('value', slider_value);
                    count_to_be_hundred = count_to_be_hundred + parseFloat($(this).slider('value'));
                });
                    if((100 - count_to_be_hundred) > 0 )
                    {
                        var temp = parseFloat((100 - count_to_be_hundred)).toFixed(2);
                        var temp_1 = parseFloat(slider_value).toFixed(2);

                        $(".amount:last").val(parseFloat(parseFloat(temp)+parseFloat(temp_1)).toFixed(2));
                        $(".slider-range-min:last").slider('value', parseFloat(parseFloat(temp)+parseFloat(temp_1)).toFixed(2));
                    }

             }
        }
        else {
             if($(".table-responsive > tbody > tr.tr-count").length > 0) {
                 $.blockUI({
                     message: '<img src="/static/investak/images/loader1.gif" />'
                 });
                 $(".slider-range-min").slider({disabled: false});
                 $(".amount").attr('readonly', false);
                 $(".slider-range-min").addClass("ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all");
                 generate_slider();
                 check_slider_count();
                 count_to_be_hundred = 0.00;
                $(".slider-range-min").each(function(index){

                    count_to_be_hundred = count_to_be_hundred + parseFloat($(this).slider('value'));
                });
                    if((100 - count_to_be_hundred) > 0 )
                    {

                        var temp = parseFloat((100 - count_to_be_hundred)).toFixed(2);
                        var temp_1 = parseFloat(slider_value).toFixed(2);
                        $(".amount:last").val(parseFloat(parseFloat(temp)+parseFloat(temp_1)).toFixed(2));
                        $(".slider-range-min:last").slider('value', parseFloat(parseFloat(temp)+parseFloat(temp_1)).toFixed(2));
                    }

             }
        }

    });
    }
    function load_cluster_image() {
        var cluster_image = '{{ cluster_details.0.cluster_image }}';
        if(cluster_image) {
            $(".fileUpload").css("background","url(/static/media/images/cluster/"+cluster_image+") no-repeat");
        }
    }
    function generate_slider_static() {
        var co_code_list = '';
        var weigh_list = '';
        slider_value = parseFloat(100 / $(".table-responsive > tbody > tr.tr-count").length);
        $(".slider-range-min").each(function(index, Element){
            $(this).attr('data-value', parseFloat(slider_value).toFixed(2));
            console.log($(this).attr('data-value'));
             $(this ).slider({
              range: "min",
              step: 0.01,
              value: parseFloat(slider_value).toFixed(2),
              min: 0.00,
              max: 100.00,
              start: function(event, ui) {
                        prev_value = ui.value;
              },
              slide: function( event, ui ) {
                $( "#amount"+$( this).attr('data-id') ).val( ui.value.toFixed(2) );
              },
              change: function(event,ui) {

              },
                 stop: function(event,ui)
                 {
                     $.blockUI({ message: '<img src="/static/investak/images/loader1.gif" />'
                     });
                     $( "#amount"+$( this).attr('data-id') ).val( ui.value.toFixed(2));
                     change_slider_value(ui.value,$( this).attr('data-id'));
                     //historical_graph($(this).attr('data-co-code'),ui.value);

                 }
            });
            $( "#amount"+$( this).attr('data-id') ).val( $( this ).slider( "value" ).toFixed(2));
            co_code_list = co_code_list + $(this).attr('data-co-code') +",";
            weigh_list = weigh_list + $(this).slider('value') + ",";
        });
        historical_graph(cluster_id,co_code_list,weigh_list);
    }
    function readURL_Customize_Edit(input)
    {

        if (input.files && input.files[0]) {
        var f_name = input.files[0].name;
        var ext = f_name.split(".").pop();
        if(ext=="jpg" || ext=="JPG" || ext=="png" || ext=="PNG" || ext=="GIF" || ext=="gif" || ext=="bmp" || ext=="BMP") {

            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img_preview').attr('src', e.target.result);
                $('#img_preview').css('display','block');
            }

            reader.readAsDataURL(input.files[0]);
            $("#hidden_new_cluster_image").val(input.files[0].name);

        }
        else {
            alert("Please Select Image File");
            $('#img_preview').css('display','none');

        }

    }
    }
    function add_to_table(co_code)
    {
        $.ajax({
            url:"/frontend/add_co_code_details/",
            type:"GET",
            data:{co_code:co_code,exchange:exchange},
             beforeSend:function() {
              $.blockUI({ message: '<img src="/static/investak/images/loader1.gif" />'
                });
            },
            success:function(response) {
                console.log(response);
                if(response.response.hasOwnProperty('error'))
                {
                    alert("No Details Found Of "+$("#searchBox").val());
                    $("#searchBox").val('');
                    $.unblockUI();
                }
                else {
                    var company_code = parseInt(response.response.data.Companylist.company.co_code) != null ? parseInt(response.response.data.Companylist.company.co_code) : 0;
                var sector_name = response.response.data.Companylist.company.sectorname != null ? response.response.data.Companylist.company.sectorname : 'N/A';
                var sector_class_name = sector_name.replace(/\s+/g, '').replace(/[^a-zA-Z]/g, '');
                var co_name = response.response.data.Companylist.company.lname != null ? response.response.data.Companylist.company.lname : 'N/A';
                var ltp = parseFloat(response.response.data.Companylist.company.ltp) != null  ? parseFloat(response.response.data.Companylist.company.ltp) : '0.00';
                var map = parseFloat(response.response.data.Companylist.company.mcap) != null ? parseFloat(response.response.data.Companylist.company.mcap) : '0.00' ;
                var r1yearret = parseFloat(response.response.data.Companylist.company.r1yearret) != null ? parseFloat(response.response.data.Companylist.company.r1yearret) : '0.00';
                var avgvol_3m = response.response.data.Companylist.company.avgvol_3m != null ? response.response.data.Companylist.company.avgvol_3m : '0.00';
                var beta = response.response.data.Companylist.company.beta != null ? response.response.data.Companylist.company.beta : '0.00';
                var dayhigh = response.response.data.Companylist.company.dayhigh != null ? response.response.data.Companylist.company.dayhigh : '0.00';
                var daylow = response.response.data.Companylist.company.daylow != null ? response.response.data.Companylist.company.daylow : '0.00' ;
                var dayopen = response.response.data.Companylist.company.dayopen != null ? response.response.data.Companylist.company.dayopen : '0.00';
                var dayvolume = response.response.data.Companylist.company.dayvolume != null ? response.response.data.Companylist.company.dayvolume : '0.00';
                var divyield = response.response.data.Companylist.company.divyield != null ? response.response.data.Companylist.company.divyield : '0.00';
                var eps = response.response.data.Companylist.company.eps != null ? response.response.data.Companylist.company.eps : '0.00';
                var hi_52_wk = response.response.data.Companylist.company.hi_52_wk != null ? response.response.data.Companylist.company.hi_52_wk : '0.00';
                var lo_52_wk = response.response.data.Companylist.company.lo_52_wk != null ? response.response.data.Companylist.company.lo_52_wk : '0.00';
                var pe = response.response.data.Companylist.company.pe != null ? response.response.data.Companylist.company.pe : '0.00';
                var perchange = response.response.data.Companylist.company.perchange != null ? response.response.data.Companylist.company.perchange : '0.00';
                var prevclose = response.response.data.Companylist.company.prevclose != null ? response.response.data.Companylist.company.prevclose : '0.00';
                var pricediff = response.response.data.Companylist.company.pricediff != null ? response.response.data.Companylist.company.pricediff : '0.00';
                var r1mret = response.response.data.Companylist.company.r1mret != null ? response.response.data.Companylist.company.r1mret : '0.00';
                var r6mret = response.response.data.Companylist.company.r6mret != null ? response.response.data.Companylist.company.r6mret :'0.00';
                var sc_code = response.response.data.Companylist.company.sc_code != null ? response.response.data.Companylist.company.sc_code : '0.00';
                var tradedate = response.response.data.Companylist.company.tradedate != null ? response.response.data.Companylist.company.tradedate : '0.00';
                var td_class ='';
                var i_class ='';
                //console.log(beta);
                //map = parseFloat(map/100.00);
                if(r1yearret.toFixed(2)>= 0.00)
                {
                    td_class ='share_up1';
                    i_class = 'fa fa-caret-up';
                }
                else {
                    td_class ='share_down1';
                    i_class = 'fa fa-caret-down';
                }
                if($.inArray(sector_name,sector_array) === -1)
                {
                    sector_array.push(sector_name);
                    flag++;

                    $(".tbody-stock-details").append(
                     '<tr class="accrdian_head" id="inbox'+flag+'">' +
                     '<td><a href="javascript:void(0)" class="header_cross" data-toggle="tooltip" data-placement="top" title="If deleted, all stocks addedd in this segment will be deleted"><i class="fa fa-times" aria-hidden="true" i_flag="'+flag+'" sec-name="'+sector_name+'"></i></a></td>' +
                     '<td><a class="virtualDrops" href="javascript:void(0)">'+sector_name+'</a></td>' +
                     '<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;</td></tr>'
                    );
                    if($.inArray(company_code,company_array) === -1)
                    {
                        slider_counter++;
                        company_array.push(company_code);
                        console.log("Inside If"+$(".sell-weight").val());
                        if($(".sell-weight").val() == "EQ") {
                            slider_value = (100.00/company_array.length);

                        }
                        else {
                            slider_value = 0.00;
                        }
                        prev_value = (100.00/company_array.length);
                        $(".tbody-stock-details").append(
                                '<tr class="tr-count inbox' + flag + ' ' + sector_class_name + '" tr-co-code="'+co_code+'"' +
                                'sector_name="'+sector_name+'" co_name="'+co_name+'" ltp="'+ltp+'" mcap="'+map+'" r1yearret="'+r1yearret+'"' +
                                'avgvol_3m="'+avgvol_3m+'" beta="'+beta+'" dayhigh="'+dayhigh+'" daylow="'+daylow+'" dayopen="'+dayopen+'"' +
                                ' dayvolume="'+dayvolume+'" divyield="'+divyield+'" eps="'+eps+'" hi_52_wk="'+hi_52_wk+'" lo_52_wk="'+lo_52_wk+'"' +
                                ' pe="'+pe+'" perchange="'+perchange+'" prevclose="'+prevclose+'" pricediff="'+pricediff+'" r1mret="'+r1mret+'" ' +
                                'r6mret="'+r6mret+'" sc_code="'+sc_code+'" tradedate="'+tradedate+'" exchange="'+exchange+'" data-stock-info >' +
                                '<td><a href="javascript:void(0)" class="cross"><i class="fa fa-times" aria-hidden="true" co-id="'+co_code+'" i_flag="'+flag+'" sec-name="'+sector_name+'"></i></a></td>' +
                                '<td><a class="virtualDrops hoverPops" href="/stock_details/'+co_code+'/'+cluster_id+'" co-code="'+co_code+'">' + co_name + '</a>&nbsp;<div class="pophover"></div></td>' + //<span class="glyphicon glyphicon-share stock-information" data-toggle="tooltip" data-original-title="Share" style="cursor:pointer; padding-left:5px; font-size:12px;"></span>
                                '<td>' +
                                '<div class="slider_inpust">' +
                                '<div class="sliders">' +
                                '<div id="slider-range-min'+slider_counter+'" data-id="'+slider_counter+'" data-co-code="'+co_code+'" data-value="'+parseFloat(slider_value).toFixed(2)+'" class="slider-range-min"></div>' +
                                '</div>' +
                                '<input type="text" id="amount'+slider_counter+'" class="amount" text-data="'+slider_counter+'" >' +
                                '</div>' +
                                '<span>%</span>' +
                                '</td>' +
                                '<td>' + symbol + '</td>' +
                                ' <td>Rs. ' + ltp.toFixed(2) + '/-</td>' +
                                '<td>Rs.' + map.toFixed(2) + 'Cr.</td>' +
                                '<td class="' + td_class + '"><i class="' + i_class + '" aria-hidden="true"></i>' + r1yearret.toFixed(2) + '%</td>' +
                                '</tr>'
                        );

                    }
                     else {
                        alert("Company Already Added");
                        $.unblockUI();
                    }

                }
                else
                {

                    if($.inArray(company_code,company_array) === -1)
                    {

                        slider_counter++;
                        company_array.push(company_code);
                        console.log("Inside Else"+$(".sell-weight").val());
                        if($(".sell-weight").val() == "EQ") {
                            slider_value = (100.00/company_array.length);

                        }
                        else {
                            slider_value = 0.00;
                        }
                        prev_value = (100.00/company_array.length);
                        $('<tr class="tr-count inbox' + flag + ' ' + sector_class_name + '" tr-co-code="'+co_code+'"' +
                                'sector_name="'+sector_name+'" co_name="'+co_name+'" ltp="'+ltp+'" mcap="'+map+'" r1yearret="'+r1yearret+'"' +
                                'avgvol_3m="'+avgvol_3m+'" beta="'+beta+'" dayhigh="'+dayhigh+'" daylow="'+daylow+'" dayopen="'+dayopen+'"' +
                                ' dayvolume="'+dayvolume+'" divyield="'+divyield+'" eps="'+eps+'" hi_52_wk="'+hi_52_wk+'" lo_52_wk="'+lo_52_wk+'"' +
                                ' pe="'+pe+'" perchange="'+perchange+'" prevclose="'+prevclose+'" pricediff="'+pricediff+'" r1mret="'+r1mret+'" ' +
                                'r6mret="'+r6mret+'" sc_code="'+sc_code+'" tradedate="'+tradedate+'" exchange="'+exchange+'" data-stock-info >' +
                                '<td><a href="javascript:void(0)" class="cross"><i class="fa fa-times" aria-hidden="true" co-id="'+co_code+'" i_flag="'+flag+'" sec-name="'+sector_name+'"></i></a></td>' +
                                '<td><a class="virtualDrops hoverPops" href="/stock_details/'+co_code+'/'+cluster_id+'" co-code="'+co_code+'">' + co_name + '</a>&nbsp;<div class="pophover"></div></td>' + //<span class="glyphicon glyphicon-share stock-information" data-toggle="tooltip" data-original-title="Share" style="cursor:pointer; padding-left:5px; font-size:12px;"></span>
                                '<td>' +
                                '<div class="slider_inpust">' +
                                '<div class="sliders">' +
                                '<div id="slider-range-min'+slider_counter+'" data-id="'+slider_counter+'" data-co-code="'+co_code+'" data-value="'+parseFloat(slider_value).toFixed(2)+'" class="slider-range-min"></div>' +
                                '</div>' +
                                '<input type="text" id="amount'+slider_counter+'" class="amount" text-data="'+slider_counter+'" >' +
                                '</div>' +
                                '<span>%</span>' +
                                '</td>' +
                                '<td>' + symbol + '</td>' +
                                ' <td>Rs. ' + ltp.toFixed(2) + '/-</td>' +
                                '<td>Rs.' + map.toFixed(2) + 'Cr.</td>' +
                                '<td class="' + td_class + '"><i class="' + i_class + '" aria-hidden="true"></i>' + r1yearret.toFixed(2) + '%</td>' +
                                '</tr>').insertAfter($('.'+sector_class_name+'').last());

                    }
                     else {
                        alert("Company Already Added");
                        $.unblockUI();
                    }
                }

                console.log(company_array);
                console.log(sector_array);
                $(".sell-weight").change();

                 count_to_be_hundred = 0.00;
                $(".slider-range-min").each(function(index){

                    count_to_be_hundred = count_to_be_hundred + parseFloat($(this).slider('value'));
                });
                    //console.log(count_to_be_hundred);
                    if((100 - count_to_be_hundred) > 0 )
                    {
                        var temp = parseFloat((100 - count_to_be_hundred)).toFixed(2);
                        var temp_1 = parseFloat(slider_value).toFixed(2);

                        $(".amount:last").val(parseFloat(parseFloat(temp)+parseFloat(temp_1)).toFixed(2));
                        $(".slider-range-min:last").slider('value', parseFloat(parseFloat(temp)+parseFloat(temp_1)).toFixed(2));
                    }
                    else if((100 - count_to_be_hundred) < 0) {
                         var temp = parseFloat((count_to_be_hundred - 100)).toFixed(2);
                         var temp_1 = parseFloat(slider_value).toFixed(2);
                        $(".amount:last").val(parseFloat(parseFloat(temp_1)- parseFloat(temp)).toFixed(2));
                        $(".slider-range-min:last").slider('value', parseFloat(parseFloat(temp_1)- parseFloat(temp)).toFixed(2));
                    }
                calculate_total_weigh();
                $("#no_of_stock").html(company_array.length);
                }


            },
            error:function(xhr) {

            }
        });


    }

    function historical_graph(cluster_id,co_code,weightage)
    {
        $('#historicalgraph').show();
        $.ajax({
            url:"/frontend/historical_graph/",
            type:"GET",
            data:{cluster_id:cluster_id,co_code:co_code,exchange:select_exchange,weightage:weightage},
            dataType : "JSON",
            success:function(response) {
              if(response.res == 0){
                Notify("Connection error occured while displaying graph.", null, null, 'danger');
              } else{
                Investak_Historical(response);
              }
            },
            error:function(xhr) {
                Notify("Error occured while displaying graph.", null, null, 'danger');
                /*alert("Error occurred");*/
            }
        });
    }
    function Investak_Historical(response)
    {
       var obj1 = $.parseJSON(JSON.stringify(response));
        //console.log(obj1);
        var object = new Object();
        var object1 = new Object();
        data_graph = new Array();
        data_graph_idx = new Array();
        $.unblockUI();
       for(var i=0;i<obj1['response']['data']['Companylist']['company'].length;i++)
       {
           var str = obj1['response']['data']['Companylist']['company'][i].date;
           str = str.replace("AM","");
           str = str.replace("12:00:00","");
           myDate = str.split("/");
           var newDate=myDate[1]+"/"+myDate[0]+"/"+myDate[2];
           if(select_value==1)
           {
                var cluster_value = parseFloat(obj1['response']['data']['Companylist']['company'][i].clustervalue);
                var index_value = parseFloat(obj1['response']['data']['Companylist']['company'][i].indexvalue);
                object.data = [new Date(myDate[2],myDate[0],myDate[1]).getTime(),parseFloat(cluster_value.toFixed(2))];
                object1.data = [new Date(myDate[2],myDate[0],myDate[1]).getTime(),parseFloat(index_value.toFixed(2))];

               axis =  {
                opposite:false,
                allowDecimals: false,
                 labels: {
                    formatter: function () {
                            return this.value;
                        }
                }
            };
               tool_tip = {
                   valuePrefix: 'Rs.',
                   valueSuffix: ' /-'
               };
           }
           else {
               var ret = parseFloat(obj1['response']['data']['Companylist']['company'][i].ret);
               var ret_idx =  parseFloat(obj1['response']['data']['Companylist']['company'][i].ret_idx);

                object.data = [new Date(myDate[2],myDate[0],myDate[1]).getTime(),parseFloat(ret.toFixed(2))];
                object1.data = [new Date(myDate[2],myDate[0],myDate[1]).getTime(),parseFloat(ret_idx.toFixed(2))];
               axis =  {
                opposite:false,
                allowDecimals: false,
                 labels: {
                    formatter: function () {
                            return this.value + "%";
                        }
                }
            };
                tool_tip = {
                   valuePrefix: '',
                   valueSuffix: ' %'
               };
           }

           data_graph.push(object.data);
           data_graph_idx.push(object1.data);
       }
        data_graph.sort();
        data_graph_idx.sort();
        display_graph();
    }
    function display_graph()
    {
         Highcharts.setOptions({
		lang: {
			thousandsSep: ','
		}
	});
         $('#historicalgraph').highcharts('StockChart', {
             credits: {
            enabled: false
      },
        exporting: {
         enabled: false
        },
      rangeSelector: {
            enabled: false
        },
       chart: {
            renderTo: 'historicalgraph',
            zoomType: 'x'
                },
               xAxis: {
            events: {
                setExtremes: function (e) {
                    if(typeof e.min == 'undefined' && typeof e.max == 'undefined'){
                         console.log('reset zoom clicked');
                    } else {
                         console.log('zoom-in');
                    }
                }
            }
        },
             tooltip: tool_tip,
             legend: {
                borderColor: "#999999",
                borderRadius: 5,
                borderWidth: 2,
                lineHeight: 26,
                floating: false,
                itemDistance: 50,
                itemMarginTop: 10,
                itemMarginBottom: 10,
                symbolWidth: 30,
                enabled: true
            },
             yAxis: axis,
                series : [{
                    data : data_graph
                },
                {
                    data: data_graph_idx
                }
                ]
            },
         function(chart) {

            chart.series[0].name = '{{ cluster_details.0.cluster_name|safe }}';
            if(select_exchange == "BSE") {
                chart.series[1].name='Sensex';
            }
            else {
                chart.series[1].name='Nifty';
            }
            chart.redraw();
            chart.legend.render();

    });
        $('#historicalgraph').closest('img').hide();
        $("#searchBox").val('');

    }
    function change_slider_value(sld_value,data_id)
    {
        var sum_rem_value = 100-parseFloat(prev_value);
        console.log(sum_rem_value);
        var inc_value = Math.abs((parseFloat(sld_value)-parseFloat(prev_value)));
        var rem_value = 0.00;
        var co_code_list = '';
        var weigh_list = '';

        $(".slider-range-min").each(function(index, Element){

                var local_data_id = parseInt($(this).attr('data-id'));
                /* please remove the 1==2 expression to access the if block */
                if(local_data_id!=data_id && 1==2)
                {

                    if(sum_rem_value==0)
                    {
                        var counter_length = $(".table-responsive > tbody > tr.tr-count").length;
                        console.log(counter_length);
                        console.log(inc_value);
                        rem_value = (inc_value/(counter_length-1));
                        //rem_value = 0;
                        console.log(rem_value+"If");
                    }
                    else {
                         if(sld_value>prev_value)
                        {

                            rem_value = parseFloat($( this ).slider( "value" )) - ((parseFloat($( this ).slider( "value" ))/parseFloat(sum_rem_value))*parseFloat(inc_value));


                        }
                        else if(sld_value<=prev_value)
                        {
                            rem_value = parseFloat($( this ).slider( "value" )) + ((parseFloat($( this ).slider( "value" ))/parseFloat(sum_rem_value))*parseFloat(inc_value));

                        }
                        //console.log(rem_value);
                    }

                  }
                  rem_value = parseFloat($( this ).slider( "value" ));
                     $(this ).slider({
                      range: "min",
                      step: 0.01,
                      value: rem_value.toFixed(2),
                      min: 0.00,
                      max: 100.00,
                      start: function(event, ui) {
                            prev_value = ui.value;
                        },
                      slide: function( event, ui ) {
                        $( "#amount"+$( this).attr('data-id') ).val( ui.value.toFixed(2)  );

                      },
                      change: function(event,ui) {

                      },
                     stop: function(event,ui)
                     {

                         change_slider_value(ui.value,$( this).attr('data-id'));
                     }
                    });
                    $( "#amount"+$( this).attr('data-id') ).val( $( this ).slider( "value" ).toFixed(2) );

                
                    co_code_list = co_code_list + $(this).attr('data-co-code') +",";
                    weigh_list = weigh_list + $(this).slider('value') + ",";
                    $(this).attr('data-value',parseFloat($(this).slider('value')));

            });
        historical_graph(cluster_id,co_code_list, weigh_list);
         calculate_total_weigh();
    }
    function pop_graph(cluster_id,co_code,weightage)
{
    $.ajax({
        type:"GET",
        url:"/frontend/pop_graph/",
        data:{co_code:co_code,exchange:exchange,period:"1M"},
        success:function(response) {
            pop_up_graph(response);
        },
        error:function(xhr) {
          Notify("Error occured while displaying popup graph.", null, null, 'danger');
           //alert("Error Occurred");
        }
    });
}
function pop_up_graph(response)
{
   var obj1 = $.parseJSON(JSON.stringify(response));
   var object = new Object();
    var object1 = new Object();
    pop_array = new Array();
    pop_array_idx = new Array();
   for(var i=0;i<obj1['response']['data']['Companylist']['company'].length;i++)
   {
       var str = obj1['response']['data']['Companylist']['company'][i].tradedate;
       str = str.replace("AM","");
       str = str.replace("12:00:00","");
       myDate = str.split("/");
       var last_price = parseFloat(obj1['response']['data']['Companylist']['company'][i].last_price);
       pop_array.push({x:new Date(myDate[2],myDate[0],myDate[1]) , y: parseFloat(last_price.toFixed(2))});
       //pop_array_idx.push({x:new Date(myDate[2],myDate[0],myDate[1]) , y: parseInt(obj1['response']['data']['Companylist']['company'][i].daylow)});
   }

      var chart = new CanvasJS.Chart("returs_area",
    {
      theme: "theme2",
      animationEnabled: true,
      axisX: {
        valueFormatString: "MMM",
        interval:1,
        intervalType: "month"

      },
      axisY:{
        includeZero: false

      },
      data: [
      {
        type: "line",
        color: "#000",
        //lineThickness: 3,
        dataPoints: pop_array
      }


      ]
    });

  chart.render();

}
    $(document).ready(function(e){
        is_custom = $(".sell-weight").val() == "EQ"?false:true;
        load_company_sector();
        //load_cluster_image();
        generate_slider();
        load_slider();
        calculate_total_weigh();

        $('[data-toggle="tooltip"]').tooltip();


        $("#cluster_image").change(function(e){
           readURL_Customize_Edit(this);
        });
        $("#cluster_name").keypress(function(e) {
           if(e.which === 32 && e.target.selectionStart === 0) {
               return false;
           }
        });

        $("#cluster_full_desc").keypress(function(e) {
           if(e.which === 32 && e.target.selectionStart === 0) {
               return false;
           }
        });
        $("#cluster_category").change(function(e) {
            var cluster_category = $("#cluster_category").val();

            if(cluster_category) {
                $("#cluster_category-error").remove();
                $.ajax({
                type:"POST",
                url:"/frontend/child_category_load/",
                data:{cat_id:cluster_category,csrfmiddlewaretoken:'{{ csrf_token }}'},
                async:false,
                success:function(data)
                {
                    $('#cluster_sub_category').find('option:gt(0)').remove();
                    if(data.length>0)
                    {
                        for(var k=0;k<data.length;k++)
                        {
                            $("#cluster_sub_category").append('<option value="'+data[k].id+'">'+data[k].cat_name+'</option>');
                        }
                        $("#cluster_sub_category-error").remove();
                    }


                },
                error:function(data){
                    Notify("Could Not Load Child Category.", null, null, 'danger');
                    /*alert('Could Not Load Child Category');*/

                }
            });
            }
            else {
                $("#cluster_sub_category").find('option').not(':first').remove();
            }
        });

        $(".searchBox").autocomplete({
            minLength: 2,
            source: "/frontend/get_companies/",
            select: function (event, ui) {
                event.preventDefault();

                $(".searchBox").val(ui.item.label);
                $.ajax({
                   type:"POST",
                    url:"/frontend/selectCompany/",
                    data:{co_code:ui.item.value,csrfmiddlewaretoken:'{{ csrf_token }}'},
                    beforeSend:function()
                    {

                    },
                    success:function(response)
                    {
                        symbol = response[0].symbol;
                        add_to_table(ui.item.value);
                    },
                    error:function(xhr)
                    {
                        Notify("Could Not Load Companies.", null, null, 'danger');
                    }
                });
            },
            focus: function (event, ui) {

            }
        });
        $("#select_exchange").change(function(e){
            select_exchange = $(this).val();
            select_value = $("#select_value").val();
            var rowCount = $(".table-responsive > tbody > tr.tr-count").length;
            if(rowCount > 0) {
                 $.blockUI({ message: '<img src="/static/investak/images/loader1.gif" />'
                });
                 var co_code_list = '';
                var weigh_list = '';
                $(".slider-range-min").each(function (index, Element) {

                    co_code_list = co_code_list + $(this).attr('data-co-code') + ",";
                    weigh_list = weigh_list + $(this).slider('value') + ",";
                });
                historical_graph('{{ cluster_id }}',co_code_list , weigh_list);
            }
        });
        $("#select_value").change(function(e){
                select_exchange = $("#select_exchange").val();
                select_value = $(this).val();
                var rowCount = $(".table-responsive > tbody > tr.tr-count").length;
                if(rowCount > 0) {
                     $.blockUI({ message: '<img src="/static/investak/images/loader1.gif" />'
                    });
                     var co_code_list = '';
                    var weigh_list = '';
                    $(".slider-range-min").each(function (index, Element) {

                        co_code_list = co_code_list + $(this).attr('data-co-code') + ",";
                        weigh_list = weigh_list + $(this).slider('value') + ",";
                    });
                    historical_graph('{{ cluster_id }}',co_code_list , weigh_list);
                }
            });
        $("#bse").click(function(e){

            if($("#bse").is(":checked"))
            {
                $("#nse").attr('checked',false);
                exchange = "BSE";
                var rowCount = $(".table-responsive > tbody > tr.tr-count").length;

            }
            if(!$(this).is(':checked')) {
                e.preventDefault();

                return false;
            }

        });
        $("#nse").click(function(e){

            if($("#nse").is(":checked"))
            {
                $("#bse").attr('checked',false);
                 exchange = "NSE";
                var rowCount = $(".table-responsive > tbody > tr.tr-count").length;

            }
            if(!$(this).is(':checked')) {
                e.preventDefault();
                return false;
            }

        });

    });

$(document).on('keypress','.amount', function(e){
    if(e.keyCode==13)
    {
        var text_data = $(this).attr('text-data');
        var value = $(this).val();

        prev_value = $("#slider-range-min"+text_data).slider('value');

        $("#slider-range-min"+text_data).slider({
              range: "min",
              value: parseFloat(value).toFixed(2),
              min: 0.00,
              max: 100.00
            });
        change_slider_value(parseFloat(value).toFixed(2),text_data);
        console.log("hi");
    }
});
    $(document).on('keyup','.amount', function(e){
         var val = $(this).val();
         var text_data = $(this).attr('text-data');
         prev_value = $("#slider-range-min"+text_data).slider('value');
        if(isNaN(val)){
             val = val.replace(/[^0-9\.]/g,'');
             if(val.split('.').length>2)
                 val =val.replace(/\.+$/,"");
        }
        if(val > 100) {
            $(this).val(prev_value);
        }
        else {

            $(this).val(val);
        }
        console.log("hello");
        calculate_total_weigh();
    });

    $(document).on('click','.cross > i', function(e) {
        if(confirm("Are you sure you want to delete?")) {
          var co_code = $(this).attr('co-id');
          var sec_name = $(this).attr('sec-name');
          var i_flag = $(this).attr('i_flag');
          var co_code_list = '';
          var weigh_list = '';
          var data_flag = 0;
          if(confirm("Are You Sure You Want To Delete?")) {
             company_array = $.grep(company_array, function (value) {
              return value != co_code;
          });

              var temp = $(this).closest('tr').find('.slider-range-min').slider('value');

              slider_counter = slider_counter -1;
              var prev_row_count =  $('.inbox'+i_flag+'').length;
              if((prev_row_count) == 1)
              {
                  $('#inbox'+i_flag+'').remove();
                  flag=flag-1;
                  sector_array = $.grep(sector_array, function (value) {
                  return value != sec_name;
              });
              }

              $(this).closest('tr').remove();
              var temp_value = parseFloat(temp / $(".table-responsive > tbody > tr.tr-count").length);

               $(".amount").each(function(index) {
                  $(this).attr('text-data', (index+1));
                  $(this).attr('id', "amount"+(index+1));
              });
              $(".slider-range-min").each(function (index, Element) {
                  $(this).attr('data-id',(index+1));
                  $(this).attr('id',"slider-range-min"+(index+1));

                  $(this).slider({
                      range: "min",
                      step: 0.01,
                      value: parseFloat($(this).slider('value') + temp_value).toFixed(2),
                      min: 0.00,
                      max: 100.00
                  });
                  var value = parseFloat($(this).slider('value'));

                  $(this).attr('data-value', parseFloat(value).toFixed(2));
                  $("#amount" + $(this).attr('data-id')).val(value.toFixed(2));

                  co_code_list = co_code_list + $(this).attr('data-co-code') + ",";
                  weigh_list = weigh_list + $(this).slider('value') + ",";
              });
              if($(".table-responsive > tbody > tr.tr-count").length > 0)
              {
                  historical_graph(cluster_id,co_code_list , weigh_list);
              }
              else {
                  //$('#historicalgraph').html('<h2>Historical Graph</h2><div class="boxes" ><img class="img-responsive" src="/static/frontend/dashboard/images/graph2.png"></div> ');
                  //window.location.href="/edit_cluster/{{ cluster_id }}";
                  $("#historicalgraph").hide();
              }
              check_slider_count();
              $("#no_of_stock").html(company_array.length);
               count_to_be_hundred = 0.00;
              $(".slider-range-min").each(function(index){

                  count_to_be_hundred = count_to_be_hundred + parseFloat($(this).slider('value'));
              });

              if((100 - count_to_be_hundred) > 0 )
              {
                  var temp = 0.00;
                  var slider_last_value = 0.00;
                  temp = parseFloat((100 - count_to_be_hundred)).toFixed(2);
                  slider_last_value = $(".slider-range-min:last").slider('value');
                  $(".amount:last").val(round(parseFloat(parseFloat(slider_last_value)+parseFloat(temp)),2));
                  $(".slider-range-min:last").slider('value', round(parseFloat(parseFloat(slider_last_value)+parseFloat(temp)),2));
              }
              var weight_value = $(".sell-weight").val();
              if (weight_value == "EQ") {

               if($(".table-responsive > tbody > tr.tr-count").length > 0) {
                   $(".slider-range-min").slider({disabled: true});
                   $(".amount").attr('readonly', true);

               }

               slider_value = parseFloat(100 / $(".table-responsive > tbody > tr.tr-count").length);
          }
          else {

                  if ($(".table-responsive > tbody > tr.tr-count").length > 0) {
                      $.blockUI({
                          message: '<img src="/static/investak/images/loader1.gif" />'
                      });
                      $(".slider-range-min").slider({disabled: false});
                      $(".amount").attr('readonly', false);
                      $(".slider-range-min").addClass("ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all");

                  }
              }
              calculate_total_weigh();
          }
        }
        

    });
    function round(value, decimals) {
    return Number(Math.round(value + 'e' + decimals) + 'e-' + decimals);
}

    $(document).on('click','.customize_table_heads input[type=checkbox]', function(e){
        //e.stopPropagation();
        if(confirm("Are you sure you want to change the exchange? All stock under current exchange will be deleted.")) {
            $(".header_cross > i").each(function(){
                var i_flag = $(this).attr('i_flag');
                var sec_name = $(this).attr('sec-name');
                var slider_value = 0.00;
                var co_code_list = '';
                var weigh_list = '';
                var class_name = sec_name.replace(/\s+/g, '').replace(/[^a-zA-Z]/g, '');
                $('.'+class_name+'').each(function(){
                   var co_code = $(this).attr('tr-co-code');
                    company_array = $.grep(company_array, function (value) {
                    return value != co_code;
                    });
                    var temp = $(this).closest('tr').find('.slider-range-min').slider('value');
                    slider_value = slider_value + temp;
                    $(this).remove();
                    slider_counter = slider_counter -1;
                });

                sector_array = $.grep(sector_array, function (value) {
                    return value != sec_name;
                });
                flag=flag-1;
                $(this).closest('tr').remove();
                $(".amount").each(function(index) {
                    $(this).attr('text-data', (index+1));
                    $(this).attr('id', "amount"+(index+1));
                });
                if($(".table-responsive > tbody > tr.tr-count").length > 0)
                {
                var temp_value = parseFloat(slider_value / $(".table-responsive > tbody > tr.tr-count").length);
                $(".slider-range-min").each(function (index, Element) {
                    $(this).attr('data-id',(index+1));
                    $(this).attr('id',"slider-range-min"+(index+1));
                    $(this).slider({
                        range: "min",
                        step: 0.01,
                        value: parseFloat($(this).slider('value') + temp_value).toFixed(2),
                        min: 0.00,
                        max: 100.00
                    });
                    var value = parseFloat($(this).slider('value'));

                    $(this).attr('data-value', parseFloat(value).toFixed(2));
                    $("#amount" + $(this).attr('data-id')).val(value.toFixed(2) );

                    co_code_list = co_code_list + $(this).attr('data-co-code') + ",";
                    weigh_list = weigh_list + $(this).slider('value') + ",";
                });
                    //$.blockUI({ message: '<img src="/static/investak/images/loader1.gif" />' });
                    //historical_graph(co_code_list , weigh_list);
                    $('#historicalgraph').html("");
                }
                else
                {
                    sector_array = new Array();
                    //window.location.href="/customize/";
                }
                check_slider_count();
                $("#no_of_stock").html(company_array.length);
                count_to_be_hundred = 0.00;
                $(".slider-range-min").each(function(index){

                    count_to_be_hundred = count_to_be_hundred + parseFloat($(this).slider('value'));
                });
                if((100 - count_to_be_hundred) > 0 )
                {
                    var temp = parseFloat((100 - count_to_be_hundred)).toFixed(2);
                    var temp_1 = parseFloat(slider_value).toFixed(2);

                    $(".amount:last").val(parseFloat(parseFloat(temp)+parseFloat(temp_1)).toFixed(2));
                    $(".slider-range-min:last").slider('value', parseFloat(parseFloat(temp)+parseFloat(temp_1)).toFixed(2));
                }
            })
        } else {
            window.location.reload();
        }
    });

    $(document).on('click','.header_cross > i',function(e){
        if(confirm("Are you sure you want to delete?")) {
          var i_flag = $(this).attr('i_flag');
        var sec_name = $(this).attr('sec-name');
        var slider_value = 0.00;
        var co_code_list = '';
        var weigh_list = '';
        var data_flag = 0;
        var cluster_id = '{{ cluster_id }}';
        var class_name = sec_name.replace(/\s+/g, '').replace(/[^a-zA-Z]/g, '');
        var co_code_array = new Array();
        if(confirm("Are You Sure You Want To Delete?"))
        {
            $('.inbox'+i_flag+'').each(function(){
               var co_code = $(this).attr('tr-co-code');
               co_code_array.push({"cluster_id":cluster_id,"co_code":co_code});
            });
            if(cluster_id && co_code_array.length>0) {
               $('.'+class_name+'').each(function(){
                       var co_code = $(this).attr('tr-co-code');
                        company_array = $.grep(company_array, function (value) {
                        return value != co_code;
                    });
                      var temp = $(this).closest('tr').find('.slider-range-min').slider('value');
                      slider_value = slider_value + temp;
                     $(this).remove();
                     slider_counter = slider_counter -1;
                    });

                    sector_array = $.grep(sector_array, function (value) {
                        return value != sec_name;
                    });
                    flag=flag-1;
                    $(this).closest('tr').remove();
                $(".amount").each(function(index) {
                    $(this).attr('text-data', (index+1));
                    $(this).attr('id', "amount"+(index+1));
                });
                if($(".table-responsive > tbody > tr.tr-count").length > 0)
                {
                var temp_value = parseFloat(slider_value / $(".table-responsive > tbody > tr.tr-count").length);

                $(".slider-range-min").each(function (index, Element) {
                    $(this).attr('data-id',(index+1));
                    $(this).attr('id',"slider-range-min"+(index+1));
                    $(this).slider({
                        range: "min",
                        step: 0.01,
                        value: parseFloat($(this).slider('value') + temp_value).toFixed(2),
                        min: 0.00,
                        max: 100.00
                    });
                    var value = parseFloat($(this).slider('value'));

                    $(this).attr('data-value', parseFloat(value).toFixed(2));
                    $("#amount" + $(this).attr('data-id')).val(value.toFixed(2));

                    co_code_list = co_code_list + $(this).attr('data-co-code') + ",";
                    weigh_list = weigh_list + $(this).slider('value') + ",";
                });

                    historical_graph(cluster_id,co_code_list , weigh_list);
                }
                else
                {
                    sector_array = new Array();
                    //window.location.href="/edit_cluster/{{ cluster_id }}";
                    $("#historicalgraph").hide();
                }
                check_slider_count();

                $("#no_of_stock").html(company_array.length);
                 count_to_be_hundred = 0.00;
                $(".slider-range-min").each(function(index){

                    count_to_be_hundred = count_to_be_hundred + parseFloat($(this).slider('value'));
                });
                if((100 - count_to_be_hundred) > 0 )
                {
                    var temp = 0.00;
                    var slider_last_value = 0.00;
                    temp = parseFloat((100 - count_to_be_hundred)).toFixed(2);
                    slider_last_value = $(".slider-range-min:last").slider('value');
                    $(".amount:last").val(round(parseFloat(parseFloat(slider_last_value)+parseFloat(temp)),2));
                    $(".slider-range-min:last").slider('value', round(parseFloat(parseFloat(slider_last_value)+parseFloat(temp)),2));
                }
            }
            if (weight_value == "EQ") {

             if($(".table-responsive > tbody > tr.tr-count").length > 0) {
                 $(".slider-range-min").slider({disabled: true});
                 $(".amount").attr('readonly', true);

             }

             slider_value = parseFloat(100 / $(".table-responsive > tbody > tr.tr-count").length);
        }
        else {

                if ($(".table-responsive > tbody > tr.tr-count").length > 0) {
                    $.blockUI({
                        message: '<img src="/static/investak/images/loader1.gif" />'
                    });
                    $(".slider-range-min").slider({disabled: false});
                    $(".amount").attr('readonly', false);
                    $(".slider-range-min").addClass("ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all");

                }
            }
            calculate_total_weigh();
        }

        }
        
    });
    $(document).on('click','.stock-information',function(e){
            var stock_info = $(this).closest('tr').attr('data-stock-info');
            $("#txtNotify").val(stock_info);
            rowIndex = $('.table-responsive > tbody > tr').index($(this).closest('tr'));
            $("#replymodelpops").modal('show');
});
 $(document).on('click','#btnStockInfoSubmit',function(e){
    var txtNotify = $.trim($("#txtNotify").val());
    if(txtNotify!="")
    {
        $('.table-responsive > tbody > tr').eq(rowIndex).attr('data-stock-info',txtNotify);
    }
     $("#txtNotify").val('');
    $("#replymodelpops").modal('hide');
 });
</script>
<section>
	<div class="container-fluid">
        <div class="row">

        <!--/.breadcrumb-area -->
            <div class="col-md-12">
                <div class="breadcrumb_area">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/user_dashboard/">Dashboard</a></li>
                  <li class="breadcrumb-item"><a href="/cluster_list/{{ cluster_id }}">Stak Details</a></li>
                  <li class="breadcrumb-item active">Edit Stak</li>
                </ol>
                </div>
            </div>
    	<!--/.breadcrumb-area -->

        <!--/. body left portion area -->
            <div class="left_section_fixed">
                <div class="body_section_area">
                    <form name="frmClusterEdit" id="frmClusterEdit" enctype="multipart/form-data" method="post">{% csrf_token %}
                    <input type="hidden" name="posted_by" id="posted_by" value="G" />
                    <input type="hidden" name="created_by" id="created_by" value="{{ request.session.id }}" />
                    <input type="hidden" name="user_id" id="user_id" value="{{ cluster_details.0.created_by }}" />
                    <input type="hidden" name="cluster_id" id="cluster_id" value="{{ cluster_id }}" />
                    <input type="hidden" name="hidden_old_cluster_image" id="hidden_old_cluster_image" value="{{ cluster_details.0.cluster_image }}" />
                    <input type="hidden" name="hidden_new_cluster_image" id="hidden_new_cluster_image"  />
                    <div class="col-md-3">
                        <div class="row">

                        	<div class="fileUpload btn btn-primary" style="display:table; position:relative;">
                                <span style="position:absolute; top:50%; left:35%; color:#666;padding top:25px;display: table-cell;vertical-align: middle; z-index:9999; ">Upload Photo</span>
                                <input type="file" class="upload" name="cluster_image" id="cluster_image" />
                                <img src="/static/media/images/cluster/{{ cluster_details.0.cluster_image }}" style="" id="img_preview" height="208px" /> 
                            </div>

                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="description_area">

                            <div class="form-group cluster">
                                <label>Enter Stak Name</label>
                                <input type="text" placeholder="Cluster Name ..." id="cluster_name" name="cluster_name" class="form-control" value="{{ cluster_details.0.cluster_name }}">

                                <span>Created by: {{ cluster_details.0.user_name }}</span> <span>Date Created: {{ cluster_details.0.created_on }}</span>
                            </div>


                            <div class="form-group">
                            	<label for="exampleTextarea">Full Description</label>
                            	<textarea class="form-control" id="cluster_full_desc" name="cluster_full_desc" placeholder="Cluster Details ..." rows="4">{{ cluster_details.0.cluster_desc|striptags|safe|escape }}</textarea>
                            </div>

                        </div>
                    </div>
                </form>
                </div>

                <div class="body_section_area">

                	<div class="tabber_section customize">

                        <!-----------customize tabber area start ------------->
                        <div class="tab-content" style="display: block!important;">
                        <!-- Repo -->
                            <div class="tab-pane active" id="Repository">
                            	<!-- Repo Tabs --->
                                <!--<ul class="nav nav-tabs" id="repoTabs">
                                    <li><a href="#repoInfo" data-toggle="tab">Historical</a></li>

                                </ul>-->
                                <div class="drops_area">
                                  <div class="form-control">
                                    <select id="select_exchange" name="select_exchange">
                                      <option value="NSE">NIFTY</option>
                                      <option value="BSE">SENSEX</option>
                                    </select>
                                    </div>

                                    <div class="form-control">
                                    <select id="select_value" name="select_value">
                                      <option value="1">VALUE</option>
                                      <option value="2">RETURN</option>

                                    </select>
                                    </div>

                                </div>
                            	<!-- Repo Tabs -->
                                <div class="tab-content" style="display: block!important;">
                                	<div class="tab-pane active" id="repoInfo">
                                    	<div class="graph_area_full">

                                        	<div class="graphs" id="historicalgraph"></div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                  <!-----------customize tabber area end ------------->
                    </div>



                    <div class="cluster_listing_area">

                        <div class="col-md-12">
                        	<div class="customize_table_heads">

                                <div class="col-md-1 col-sm-1 col-xs-3">
                                    <input type="checkbox" id="nse" checked="checked" />
                                    <label class="trams" for="nse">NSE</label>
                                    <br>
                                    <input type="checkbox" id="bse" />
                                    <label class="trams" for="bse">BSE</label>
                                </div>

                            	<div class="search_box col-md-3 col-sm-6 col-xs-9">
									<input type="text" placeholder="Type Stock Name or Symbol" name="searchBox" id="searchBox" class="searchBox">
                                </div>

                                <!--<div class="col-md-1 setings pull-right">
                                	<span><i class="fa fa-cog" aria-hidden="true"></i></span>
                                </div>-->

                                <div class="col-md-3 col-xs-12 pull-right">
                                    <div class="drops_area_cluster">
                                        <div class="form-group">
                                        <select class="form-control sell-weight" id="exampleSelect1">
                                          <option value="EQ">Equal</option>
                                          <option value="CU" selected="selected">Custom </option>
                                        </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        	<div class="customize_table">
                                <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>Segment & Stocks</th>
                                        <th>Weight</th>
                                        <th>Symbol</th>
                                        <th>price</th>
                                        <th>Market Cap</th>
                                        <th>1 Year Return</th>
                                    </tr>
                                </thead>

                                <tbody class="tbody-stock-details">
                                   <!-------------------- 1st table with drop down  ---------------------------->
                              {% if sector_details %}
                               {% for csd in sector_details %}
                                 {% with forloop.counter as counter %}
                                    <tr class="accrdian_head" id="inbox{{ counter }}">
                                        <td><a href="javascript:void(0)" class="header_cross" data-toggle="tooltip" data-placement="top" title="If deleted, all stocks addedd in this segment will be deleted"><i class="fa fa-times" aria-hidden="true" i_flag="{{ counter }}" sec-name="{{ csd.sector_name }}"></i></a></td>
                                        <td><a class="virtualDrops" href="javascript:void(0)">{{ csd.sector_name }}</a></td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                   {% for scd in csd.stock_details %}
                                        {% with iterator.next as itr %}
                                             <tr class="tr-count inbox{{ counter }} {{ csd.sector_name|replace_special_char }}" tr-co-code="{{ scd.0.co_code }}"
                                             sector_name="{{ csd.sector_name|safe }}" co_name="{{ scd.0.co_name }}" ltp="{{ scd.0.ltp }}" mcap="{{ scd.0.mcap }}" r1yearret="{{ scd.0.r1_yearret }}"
                                            avgvol_3m="{{ scd.0.avg_vol_3m }}" beta="{{ scd.0.beta }}" dayhigh="{{ scd.0.day_high }}" daylow="{{ scd.0.day_low }}" dayopen="{{ scd.0.day_open }}"
                                             dayvolume="{{ scd.0.day_volume }}" divyield="{{ scd.0.div_yield }}" eps="{{ scd.0.eps }}" hi_52_wk="{{ scd.0.hi_52_wk }}" lo_52_wk="{{ scd.0.lo_52_wk }}"
                                             pe="{{ scd.0.pe }}" perchange="{{ scd.0.per_change }}" prevclose="{{ scd.0.prev_close }}" pricediff="{{ scd.0.price_diff }}" r1mret="{{ scd.0.r1_mret }}"
                                            r6mret="{{ scd.0.r6_mret }}" tradedate="{{ scd.0.trade_date }}" exchange="{{ scd.0.exchange }}" data-stock-info="{{ scd.0.stock_information }}" >
                                            <td><a href="javascript:void(0)" class="cross"><i class="fa fa-times" aria-hidden="true" co-id="{{ scd.0.co_code }}" i_flag="{{ counter }}" sec-name="{{ csd.sector_name }}"></i></a></td>
                                            <td><a class="virtualDrops hoverPops" href="/stock_details/{{ scd.0.co_code }}/{{ cluster_id }}" co-code="{{ scd.0.co_code }}">{{ scd.0.co_name }}</a>&nbsp;<!--span class="glyphicon glyphicon-share stock-information" data-toggle="tooltip" data-original-title="Share" style="cursor:pointer; padding-left:5px; font-size:12px;"></span-->
                                            <div class="pophover"></div>
                                            </td>
                                            <td>
                                            <div class="slider_inpust">
                                            <div class="sliders">
                                            <div id="slider-range-min{{ itr }}" data-id="{{ itr }}" data-co-code="{{ scd.0.co_code }}" data-value="{{ scd.0.weightage }}" class="slider-range-min"></div>
                                            </div>
                                            <input type="text" id="amount{{ itr }}" class="amount" text-data="{{ itr }}" >
                                            <span>%</span>
                                            </div>
                                            </td>
                                            <td>{{ scd.1.symbol }}</td>
                                            <td>Rs. {{ scd.0.ltp|floatformat:2 }}/-</td>
                                            <td>Rs.{{ scd.0.mcap }}Cr.</td>
                                            {% if scd.0.r1_yearret|to_float > 0.00 %}
                                                 <td class="share_up1"><i class="fa fa-caret-up" aria-hidden="true"></i>{{ scd.0.r1_yearret|floatformat:2 }}% </td>
                                            {% else %}
                                                 <td class="share_down1"><i class="fa fa-caret-down" aria-hidden="true"></i>{{ scd.0.r1_yearret|floatformat:2 }}% </td>
                                             {% endif %}
                                            </tr>
                                    {% endwith %}
                                {% endfor %}
                                {% endwith %}
                               {% endfor %}
                              {% endif %}
                                </tbody>


                            </table>
                            </div>

                            <div class="excel_downs">
                            	<!--<a href="javascript:void(0)"><img src="{% static "investak/images/excel_icon.png" %}">Download Excel Worksheet</a>-->
                                <p align="left" id="total-weigh">Total Weightage : <span>0.00%</span></p>
                                <p align="left" id="remain-weigh">Remaining Weightage : <span>100.00%</span></p>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
         <!--/. body left portion area -->
         <!--/. body right portion area -->
            <div class="right_section_fixed">

                <div class="body_section_area">
                    <div class="drops_area_cluster">

                    <div class="form-group">
                    <label for="exampleSelect1">Select Category</label>
                    <select class="form-control" id="cluster_category" name="cluster_category">
                         {% if category_details %}
                           {% for cd in category_details %}
                             <option value="{{ cd.id }}" {% ifequal cd.id cluster_details.0.cluster_category %} selected="selected" {% endifequal %} >{{ cd.cat_name }}</option>
                           {% endfor %}
                         {% endif %}
                    </select>
                    </div>

                    <div class="form-group">
                    <label for="exampleSelect1">Select Sub-category</label>
                    <select class="form-control" id="cluster_sub_category" name="cluster_sub_category">
                        <option value="">Select Any</option>
                        {% if sub_category_details %}
                          {% for scd in sub_category_details %}
                            <option value="{{ scd.id }}" {% ifequal scd.id cluster_details.0.cluster_sub_category %} selected="selected" {% endifequal %} >{{ scd.cat_name }}</option>
                          {% endfor %}
                        {% endif %}
                    </select>
                    </div>
                    {% ifequal request.session.owner_id request.session.id %}
                    <div class="form-group">
                    <input type="checkbox" id="public_cluster" name="public_cluster" {% ifequal cluster_details.0.public_cluster 1 %} checked="checked" {% endifequal %} />
                    <label class="trams" for="public_cluster">Make Your Stak Public</label>
                    {% endifequal %}
                    </div>

                    </div>
                    <a class="buy_cluster_btn" id="buy_cluster_btn_edit_buy" href="javascript:void(0)" button-id="2">Buy Stak </a>
                    <a class="buy_cluster_btn" id="buy_cluster_btn_edit" href="/other_cluster/" button-id="1">Save Stak </a>
                    <!------- Summary section area start ------>
                <div class="body_section_area">
                   <div class="summry_area">
                   		<h2>Summary</h2>
                        <div class="mob_summary">
                        <p>STOCKS IN STAK</p>

                        <p><span>{{ total_stock_count }}</span></p>
                        </div>
                        <div class="fixed_forms">
                        	<div class="form-group">
                            	<label for="exampleTextarea">Research</label>
                            	<textarea class="form-control" id="research_desc" name="research_desc" placeholder="Research ..." rows="4">{{ cluster_details.0.research_desc }}</textarea>
                            </div>

                            <div class="form-group">
                            	<label for="exampleTextarea">Weight</label>
                            	<textarea class="form-control" id="weight_desc" name="weight_desc" placeholder="Weight ..." rows="4">{{ cluster_details.0.weight_desc }}</textarea>
                            </div>

                        </div>

                   </div>

                </div>
                <!------- Summary section area End ------>
                </div>



            </div>
         <!--/. body right portion area -->

    	</div>



	</div>
</section>
{% include 'inner_footer.html' %}
<div class="stock-info" style="display:none;"></div>
<div class="stock-info" style="display:none;">
    <h5>Gramin Ltd <span class='pull-right' style='text-align:right'><span class="pull-right">RS. 503.82</span></span></h5>
    <p></p>
    <table>
        <tr style="background:#f3f3f3;">

            <td style="background:#f3f3f3; padding-left: 0 !important; height:110px;">
                <img src="{% static "investak/images/asas.png" %}">
            </td>
            <td style='vertical-align:middle; padding-right: 0 !important; width: 50%; height:110px; '>
                <div class="returs_area">
                    <p>Returns</p>
                    <p>1 MO:<span class="trend-down"><i class="fa fa-arrow-down"></i> 20.5%</span></p>
                    <p>6 MO:<span class="trend-down"><i class="fa fa-arrow-down"></i> 07.5%</span></p>
                    <p>1 YR:<span class="trend-up"><i class="fa fa-arrow-up"></i> 30.5%</span></p>
                </div>
            </td>

        </tr>
    </table>
    <div class="small-box-1">
        <span class="pull-left">
            P/E: <b> 395.50</b>
        </span>
        <span class="pull-right">
            Market Cap: <b>327.2B</b> DIV YIELD : --
        </span>
        <div class="clearfix"></div>
    </div>
    <div class="stock-contant">
        <p>
            Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
        </p>
        <a href="#" style='font-size: 11px; margin-top: 5px'> See more</a>
    </div>

</div>
<div id="replymodelpops" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i aria-hidden="true" class="fa fa-times"></i></button>
        <h4 class="modal-title">Add Stock Information</h4>
      </div>
      <div class="modal-body">
            <div class="form-group">
                <textarea class="form-control" id="txtNotify" name="txtNotify" placeholder="Add Stock Information" rows="5"></textarea>
            </div>
      </div>
      <div class="modal-footer">
        <div class="col-md-3 pull-right"><button type="button" id="btnStockInfoCancel" name="btnStockInfoCancel" class="btn mysubmit_btn_cnl">Cancel</button></div>
		<div class="col-md-3 pull-right"><button type="button" id="btnStockInfoSubmit" name="btnStockInfoSubmit" class="btn mysubmit_btn">Save</button></div>
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
      </div>
    </div>

  </div>
    </div>