<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
 A new user has requested for AngelBroking Account<br/>
<table border="1">

<thead>
    <td>Name</td><td>{{ name }}</td></thead>
<tr><td>Location</td><td>{{location}}</td></tr>
    <tr><td>Phone</td> <td>{{phone}}</td></tr>
</table>


</body>
</html>