	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
     <meta name="viewport" content="width=device-width">

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="format-detection" content="telephone=no" /> <!-- disable auto telephone linking in iOS -->
		<title></title>
		<!--[if mso 12]>
			<style type="text/css">
				.flexibleContainer{display:block !important; width:100% !important;}
			</style>
		<![endif]-->
		<!--[if mso 14]>
			<style type="text/css">
				.flexibleContainer{display:block !important; width:100% !important;}
			</style>
		<![endif]-->
	</head>
	<body bgcolor="#666666" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
		<center style="background-color:#f0f0f0;">
			<table background="#f0f0f0" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="table-layout: fixed;max-width:100% !important;width: 100% !important;min-width: 100% !important;">

				<tr>
					<td align="center" valign="top" id="bodyCell" >

						<table  border="0" cellpadding="0" cellspacing="0" width="600" >

							<!-- HEADER ROW // -->
							<tr>
								<td align="center" valign="top">
									<!-- CENTERING TABLE // -->
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td align="center" valign="top" height="10">

											</td>
										</tr>
									</table>
									<!-- // CENTERING TABLE -->
								</td>
							</tr>
							<!-- // END -->

						</table>

						 <table bgcolor="#FFFFFF"  border="0" cellpadding="0" cellspacing="0" width="600" id="emailBody">


                    <!-- ///////////////////////// SH ////////////////////////////////// -->
                            <tr>
                            	<td align="center" valign="top" >
                                	<table border="0" cellpadding="0" cellspacing="0" width="100%" >

                                   <!-- // MODULE ROW -->
                                		<tr>
                                            <td align="center" valign="top" width="100%">
                                                <!-- CENTERING TABLE // -->
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#f0f0f0;">
                                                    <tr> <td align="center" valign="top" height="20" >&nbsp;</td></tr>
                                                    <tr>

                                                        <td align="center" valign="top"  style="background-color:#f0f0f0;" >

                                                           <a href="http://www.investak.in/" target="_blank"><img src="http://www.investak.in/static/frontend/images/logo.png" /></a>
                                                        </td>

                                                   </tr>
                                                   <tr> <td align="center" valign="top" height="20" >&nbsp;</td></tr>
                                                </table>
                                            </td>
                                		</tr>

                            <!-- MODULE ROW // -->
                                         <tr>
                                           <td align="left" valign="top" width="100%" style=" background-color:#fff; font-size:18px;  padding:10px 30px 0px; text-align:left; font-family: Arial, sans-serif, Helvetica " >&nbsp;
                                                <h2 style="color:#2486c8; font-weight:bold; font-size:25px; font-family: Arial, sans-serif, Helvetica; margin:0px;">Account Activation Email</h2>
                           						<h4 style="color:#999; font-weight:normal; font-size:18px; font-family: Arial, sans-serif, Helvetica;margin:0px;">Investak: A new world of investing</h4>
                                           </td>
                                        </tr>


                                        <tr>
                                            <td align="left" valign="top" width="100%"  style=" background-color:#fff; font-size:18px; color:#343944; padding:10px 30px 0px; text-align:left; font-family: Arial, sans-serif, Helvetica ">
                                                   <h3 style="color:#2486c8; font-weight:normal; font-size:16px; font-family: Arial, sans-serif, Helvetica; padding:0px; margin:30px 0 0;">Dear <span>{{ full_name }}</span></h3>
                                           </td>
                                        </tr>

                            <!-- MODULE ROW // -->
                            <!-- MODULE ROW // -->

                                        <tr>
                                        	<td align="left" valign="top" >
                                            	<table border="0" cellpadding="0" cellspacing="0" width="100%">

                                                     <td  align="left" width="420" valign="top"  style="font-size:16px; color:#343944; line-height:26px; padding-left:10px; padding:10px 30px 10px; text-align:left; font-family: Arial, sans-serif, Helvetica;">

                                                     <p>We would like to welcome you to the Investak family. Before you can start your new account, please click the button below to verify your email address.</p>
                                                     <a href="{{ activation_link }}" target="_blank"  style="text-decoration: none; background: #2486c8; border: none; border-radius: 0px; padding: 10px 30px; margin:0px; color: #fff !important; font-weight: 700; border-radius: 3px; font-family: 'Open Sans', sans-serif; font-size: 15px; text-transform: uppercase; cursor:pointer;">Verify Email</a>
                                                    <p>Investak is an innovative financial research and investment advisory platform that will provide you with the knowledge and tools necessary to make smart investment in Indian stock markets. Thank you for joining and happy investing!</p>

													<p>Thanks! And please don't hesitate to let me know if you have any additional thoughts or questions.</p>

                                                    <p style="padding-top:50px; margin:0px; font-size:16px;">Thanks and Regards,</p>
                                                    <p style="margin:0px; font-size:16px; color:#333;">Investak</p>
                                                    <!--<p style="margin:0px; font-size:15px; color:#999;">(Designer)</p>-->
                                                    <p style="margin:0px; color:#333; font-size:14px; font-weight:500;">E-mail : support@investak.in</p>
                                                    <p style="margin:0px; color:#333; font-size:14px;">Phone : 919831955404</p>

                                                     </td>

                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                        	<td align="left" valign="top" height="20" ></td>
                                        </tr>

                                         <tr>
                                        	<td align="left" valign="top" height="42" ></td>
                                        </tr>

                            <!-- MODULE ROW // -->
                            <!-- MODULE ROW // -->
                            			 <tr>
                                    		<td align="center" valign="top" width="100%" style="background-color:#f1f2f2;">
                                            	<table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                	<tr>
                                    					<td align="center" valign="top" width="100%" colspan="2" height="25">&nbsp;</td>
                                                    </tr>

                                                    <tr>
                                    					<td align="center" valign="top" width="100%" colspan="2" height="25">&nbsp;</td>
                                                    </tr>
                                                </table>
                                            </td>
                                         </tr>
                            <!-- MODULE ROW // -->
                            <!-- MODULE ROW // -->
                                <tr>

                                </tr>
							<!-- // MODULE ROW -->





						</table>

                         </table>
                       </td>
                      </tr>
                            <!-- bottom Space -->
                            <tr>
                                <td align="center" valign="top" height="10">&nbsp;</td>
                            </tr>
                            <!-- bottom Space -->
			<!-- /////////////////////////////////////////////////////////////////////////// -->
					</td>
				</tr>
			</table>
		</center>
	</body>
</html>