<html>
<body>
<div style="display:none">
   	<input type="hidden" name="csrfmiddlewaretoken" value="{% csrf_token %}">
</div>
<h2>transaction failed</h2>
function Redirect()
{
window.location="{{ redirect }}";
}
document.write("You will be redirected to a new page in 5 seconds");
setTimeout('Redirect()', 5000);
</body>
</html>
