{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>Investak - Forget Password</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<!--<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>  font-family: 'Roboto', sans-serif;-->
<link rel="icon" href="{% static "investak/images/favicon.png" %}" sizes="16x16" type="image/16x16.png">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"> <!--font-family: 'Open Sans', sans-serif;-->

<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/bootstrap-material-design.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/font-awesome/css/font-awesome.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/bootstrap-datetimepicker.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/styles.css" %}">
<script src="{% static "investak/dist/js/jquery.1.11.3.min.js" %}" type="text/javascript"></script>
<script src="{% static "investak/dist/js/bootstrap.min.js" %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static "investak/dist/js/material.min.js" %}"></script>
<script type="text/javascript" src="{% static "investak/dist/js/ripples.min.js" %}"></script>
<script type="text/javascript" src="{% static "investak/dist/js/bootstrap-datetimepicker.js" %}"></script>
<script src={% static "admin/js/jquery.blockUI.js" %}></script>
<!--<script type="text/javascript" src="dist/js/custom_login.js"></script>-->
<script>
  $.material.init();
  $(document).ready(function(){

        var tgt = $(document).height();
		//alert(tgt)
		$(".before_login_menu_mobile").height(tgt);
        mobilemenu();
    });

    function mobilemenu()
	{
		$(".onclickMob").click(function(){
			$('.before_login_menu_mobile').animate({right:0});
			$(".psuh_left").animate({right:240});
			$(this).hide();
			$(".cross").show();
			$(".psuh_left").addClass('opacity');
			$(".psuh_left").addClass('opaleft');
		});

		$(".cross").click(function(){
			$('.before_login_menu_mobile').animate({right:-270});
			$('.before_login_menu_mobile').show();
			$(".psuh_left").animate({right:0});
			$(this).hide();
			$(".onclickMob").show();
			$(".psuh_left").removeClass('opacity');
		});

	}
</script>
<script>
  !function(e,t,a,n,c,s,o){e.GoogleAnalyticsObject=c,e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},e[c].l=1*new Date,s=t.createElement(a),o=t.getElementsByTagName(a)[0],s.async=1,s.src=n,o.parentNode.insertBefore(s,o)}(window,document,"script","https://www.google-analytics.com/analytics.js","ga"),ga("create","UA-85280233-1","auto"),ga("send","pageview");
</script>
<style type="text/css">
    #email_id {
        text-transform: lowercase;
    }
</style>
</head>
<body>
<div id="bg"><img src="{% static "investak/images/login_page.jpg" %}" alt=""></div>
<div class="clearfix"></div>
<div class="total_body_area">
<div class="before_login_menu_mobile">
<div id="" class="">
    <div class="menu_area">

    <ul class="nav navbar-nav">
        <li><a href="{{ SITE_URL }}#aboutus">about us</a></li>
        <li><a href="{{ SITE_URL }}#Analyze">Approach</a></li>
        <li><a href="{{ SITE_URL }}#markit2">testimonials</a></li>
        <li><a href="{{ SITE_URL }}#team">team</a></li>
        <li><a href="{{ SITE_URL }}#partners">partners</a></li>
        <li><a href="{{ SITE_URL }}#contactus">contact us</a></li>
        <h3>Resources</h3>
        <li><a href="/faq/" style="padding-left:30px !important;">faq</a></li>
        <li><a href="/news/" style="padding-left:30px !important;">newsroom</a></li>
    </ul>
    </div>

</div>
</div>
<div class="psuh_left">
<header class="header_area {% ifequal current_path '/login/' %} login_head {% endifequal %} ">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        	<button type="button" class="navbar-toggle onclickMob">
                <i class="fa fa-bars" aria-hidden="true"></i>
        	</button>
            <a class="cross" href="javascript:void(0)"><i class="fa fa-bars" aria-hidden="true"></i></a>
        	<a class="navbar-brand" href="{{ SITE_URL }}"><img class="white" src="{% static "investak/images/logo_white.png" %}">
            <img class="blue" src="{% static "investak/images/logo.png" %}"></a>
        </div>

        <div class="before_login_menu">
        <div id="navbar" class="navbar-collapse collapse">

            <div class="login_attr">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="active_logs" href="/login/">Log in</a></li>
                <li><a href="/signup/">Sign Up</a></li>
            </ul>
            </div>


            <ul class="nav navbar-nav pull-right">
                <li><a href="{{ SITE_URL }}#aboutus">about us</a></li>
                <!--<li><a href="javascript:void(0)">approach</a></li>-->
                <li><a href="{{ SITE_URL }}#Analyze">Approach</a></li>
                <li><a href="{{ SITE_URL }}#markit2">testimonials</a></li>
                <li><a href="{{ SITE_URL }}#team">team</a></li>
                <li><a href="{{ SITE_URL }}#partners">partners</a></li>
                <li><a href="{{ SITE_URL }}#contactus">contact us</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/faq/">faq</a></li>
                        <li><a href="/news/">newsroom</a></li>
                    </ul>
                </li>
            {% if request.session.id %}
            {% else %}
                <!-- <li><a href="/signup/" class="hvr-underline-from-center scroller">Sign Up</a></li> -->
            {% endif %}
            </ul>


        </div><!--/.nav-collapse -->
        </div>
    </div><!--/.container-fluid -->
</nav>
</header>

<style>
.error {
    font-size: 12px !important;
    color: #ff0000 !important;
  }
</style>
<section>
	<div class="container">
    	<div class="col-md-5 col-sm-12 col-center">
        	<div class="login_page_area">
                <form name="frmForgotPassword" id="frmForgotPassword" method="post" action="">{% csrf_token %}
                  <div style="margin-bottom:30px;"><span id="loginError" style="color:#ff0000"></span></div>
                  <div class="form-group label-floating is-empty">
                    <label for="112" class="control-label">Email Address</label>
                    <input type="email" name="email_id" id="email_id" class="form-control" style="height:40px;" onkeypress="clean_error();">
                  </div>

                  <div class="col-md-6 col-sm-12 col-xs-12 nopadding">
                    <a href="/login/">Back To Login</a>
                  </div>

                  <button type="button" class="btn mysubmit_btn" id="btnLogin">Submit</button>
                </form>
            </div>
        </div>

	</div>
</section>
</div>
</div>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
 <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>
<script>
function clean_error()
{
    //alert('clear_error');
    $("#loginError").html("");
    $("#loginError").text("");
}
</script>
<script type="text/javascript">
    $(document).ready(function(e){
        $("#btnLogin").click(function(e){
            $("#loginError").html("");
            $("#loginError").text("");
            $("#frmForgotPassword").submit();
        });



        $("#frmForgotPassword").validate({
            rules: {
                email_id:{
                   required:true,
                   email:true
                }
            },
            messages: {
                email_id:{
                   required:"Please enter email id",
                   email:"Please enter valid email id"
                }
            },
            submitHandler:function(form){
                $.ajax({
                    type:"POST",
                    url:"/user_email_check/",
                    data:{email_id:$("#email_id").val(),csrfmiddlewaretoken:'{{ csrf_token }}'},
                    beforeSend:function() {
                        $.blockUI({ message: '<img src="/static/investak/images/loader1.gif" />'});
                    },
                    success:function(response){
                        $.unblockUI();
                        if(response == "Your password has been sent to your email. Please check your email")
                        {
                            response = '<span style="font-weight:400; color:#008800">'+response+'</span>';
                        }
                        else
                        {
                            response = '<span style="font-weight:400; color:#ff0000">'+response+'</span>';
                        }
                        $("#loginError").html(response);

                    },
                    error:function(xhr){
                        $("#loginError").html("Database error");
                    }
                })
            }
        });
    });

</script>
</body>
<!-- END BODY -->
</html>