{% load staticfiles %}

<script type="text/javascript">
    function load_images(){
        $("img").each(function(){
            $(this).attr("src",$(this).attr("src"));
        });   
    }
    var investak_broker_code = $.trim($("#investak_broker_code").val());
    var idleTime = 0;
    var call_live_session_ajax = true;
    $(document).ready(function(){
        load_images();
        
        /* idle time checking */
        //Increment the idle time counter every minute.    
        var idleInterval = setInterval(timerIncrement, 60000); 
        // 1 minute    
        //Zero the idle timer on mouse movement.    
        $(this).mousemove(function (e) {        
            idleTime = 0;    
        });    
        $(this).keypress(function (e) {        
            idleTime = 0;    
        });

        /* live session time extend */
        login_session_extend();
        /*setInterval(function(){
            if(call_live_session_ajax) login_session_extend();
        },30000);*/
        
    });
    function timerIncrement() {    
        var investak_broker_code = $.trim($("#investak_broker_code").val());
        if(investak_broker_code == "AB"){
            idleTime = idleTime + 1;    
            if (idleTime > {{ IDLE_TIME_CHK }}) { 
                // 15 minutes        
                live_account_status = $("#live_account_status").val();
                broker_linked_status = $("#broker_linked_status").val();
                if(broker_linked_status == "YES")
                {
                    if(live_account_status > 0)
                    {
                        tag = false;
                        status = 'live';
                    }
                }
                if(live_account_status > 0) set_toggle_status_session(tag, status, '');
            }
        }
    }
    function login_session_extend(){
        var investak_broker_code = $.trim($("#investak_broker_code").val());
        if(investak_broker_code == "AB"){
            call_live_session_ajax = false;
            $.when( $.ajax({
                url : "/frontend/live_session",
                method : "GET",
                beforeSend : function(){ 
                    
                         if ($(window).width() < 480) {
                            $("#session_ext_loader_mob").show();
                         }else{
                            $("#session_ext_loader_lap").show();
                         }
                    
                },
                success : function(res){
                    
                         if ($(window).width() < 480) {
                            $("#session_ext_loader_mob").hide();
                         }else{
                            $("#session_ext_loader_lap").hide();
                         }
                     
                    if(res == "FALSE") {
                        //window.location.reload();
                        $("#frmAngelBrokingLogin #loginError").text("Session expired. Please login again."); 
                        $('<div class="modal-backdrop"></div>').insertBefore('.account-modal');
                        $("#myLoginAngelBrokingModal").modal('show');
                        $("#investak_broker_code").val("");
                    } else if(res == "ERROR") {
                        //login_session_extend();
                        $("#frmAngelBrokingLogin #loginError").text(""); 
                        $('<div class="modal-backdrop"></div>').insertBefore('.account-modal');
                        $("#myLoginAngelBrokingModal").modal('show');
                        $("#investak_broker_code").val("");
                    }
                }
            }) ).then(function( data, textStatus, jqXHR ) {
                //alert( jqXHR.status ); // Alerts 200
                call_live_session_ajax = true;
            });
        }
    }


    $(window).click(function(event) {
        //alert("window_click");
        //$(".notification_down_area").hide();
        //$(".drops_down_area").hide();
        //hide_all_notification();
        //$(".drops_down_area").slideToggle();
        var target = event.target;
        var id = event.target.id;
        //alert(id);

        if(id == 'img_user_area')
        {
            //$(".drops_down_area").show();
            //$(".drops_down_area").slideToggle();
            //event.stopPropagation();
            if( $('.drops_down_area').is(':visible') )
            {
                $(".drops_down_area").hide();
            }
            else
            {
                $(".drops_down_area").show();
            }
        }
        if(id == 'link_open_notification' || id == 'link_open_notification2' || id == 'link_see_less' || id == 'link_see_all' || id == 'link_see_less_mobile' || id == 'link_see_all_mobile' || id == 'slm_out' || id == 'notification_down_area_div' || id == 'slimScrollDiv')
        {

            $(".drops_down_area").hide();
        }
        else
        {

            $(".slm_out").css('display','none');
            /*if(document.getElementById("notification_down_area_div"))
                $("#notification_down_area_div").hide();*/
            if(document.getElementById("notification_down_area_div_mobile"))
                $("#notification_down_area_div_mobile").hide();
            $(".notification_down_area").hide();
        }
    });
    /*function check_uri(){
        if(String(window.location.pathname) != "/account_open/" && String(window.location.pathname) != "/account_display/"){
            $("[name=onoffswitch]").attr("checked",true);
        } else {
             $("[name=onoffswitch]").removeAttr("checked");
        }
    } */
    function check_uri()
    {
        var toggle_button_status = $("#toggle_button_status").val();
        //var trading_application_status = $("#trading_application_status").val();
        var live_account_status = $("#live_account_status").val();
        var broker_linked_status = $("#broker_linked_status").val();
        //-----------------------------------------------------//
        //trading_application_status = parseInt(trading_application_status);
        live_account_status = parseInt(live_account_status);
        //-----------------------------------------------------//
        toggle_button_status = $("#toggle_button_status").val();
        login_toggle_status = $("#login_toggle_status").val();
        //-----------------------------------------------------//
        tag = true;

        if(broker_linked_status == "YES")
        {
            if(toggle_button_status == 'live')
            {
                if(live_account_status > 0)
                    tag = false;
            }
        }
        //-----------------------------------------------------//
        if(String(window.location.pathname) == "/account_open/" || String(window.location.pathname) == "/account_display/")
        {
            tag = false;
        }
        //-----------------------------------------------------//
        /*if(trading_application_status == "1")
        {
            if(String(window.location.pathname) == "/account_open/")
            {
                window.location.href = "/account_display/";
            }
        }*/
        //-----------------------------------------------------//
        set_toggle_button(tag);
        //set_toggle_status_session(tag, toggle_button_status, 'start');
        //-----------------------------------------------------//
    }
    function set_toggle_button(tag)
    { 
        if(!tag)
        {
            $("[name=onoffswitch]").removeAttr("checked");
            $(".onoffswitch-inner:before").show();
            $(".onoffswitch-inner").css("margin-left", "-100%");
            $(".onoffswitch-switch").css({"margin-left":"3px", "right":"auto"});
            //$("#toggle_button_status").val('live');
        }
        else
        { 
            $("[name=onoffswitch]").attr("checked",true);
            $(".onoffswitch-inner:after").show();
            $(".onoffswitch-inner").css("margin-left", "1%");
            $(".onoffswitch-switch").css({"margin-left":"auto", "right":"0px"});
            //$("#toggle_button_status").val('virtual');
        }
    }
    function set_toggle_status_session(tag, toggle_status, butn)
    { 
        console.log(tag);
        console.log(toggle_status);
        console.log(butn); 
        var url_name = String(window.location.pathname);
        url_arr = url_name.split("/");
        current_url = url_arr[1];
        //alert('current_url'+current_url);
        var broker_linked_status = $("#broker_linked_status").val();
        //alert('toggle_status'+toggle_status);
        if(butn == "")
        {
            $('<div class="modal-backdrop"></div>').insertBefore('.account-modal');
            $("#myLogoutAngelBrokingModal").modal('show');
            $('#myLogoutAngelBrokingModal').on('shown.bs.modal', function (e) {
                $.ajax({
                    type:"POST",
                    url:"/reset_toggle_session/",
                    async:false,
                    data:{toggle_status: toggle_status, current_url:current_url, broker_linked_status:broker_linked_status, csrfmiddlewaretoken:'{{ csrf_token }}'},
                    beforeSend : function(){
                        
                    },
                    success:function(response) { //alert('response'+response);
                        //window.location.reload();
                        return_url = response;
                        new_url = url_arr[0]+"/"+return_url+"/";
                        url2 = parseInt(url_arr[2]);
                        if(return_url == "place_order_cluster" || return_url == "buy_cluster")
                            if(url2 > 0)
                                new_url = url_arr[0]+"/"+return_url+"/"+url2;
                        /* logout so reset the values in the fields */
                        //if(butn == ''){
                            $("#live_account_status").val(1);
                            $("#broker_linked_status").val("NO");
                            $("#toggle_button_status").val("virtual");
                            $("#login_toggle_status").val("virtual");
                            $("#investak_broker_code").val("");
                            set_toggle_button(tag);
                            $("#myLogoutAngelBrokingModal").modal('hide');
                            $("#myLoginAngelBrokingModal #loginError").text("Your session has expired. Please login to continue.");
                            $("#myLoginAngelBrokingModal").modal('show');
                            //return false;
                        //}
                        //alert('new_url'+new_url);
                        /*if(current_url != return_url)
                            window.location.href = new_url;*/
                        //-------------------------------------//
                        /*if(current_url == return_url)
                        {
                            //set_toggle_button(tag);
                            if((current_url == 'user_dashboard') && (butn == 'click'))
                            {
                                var live_account_status = $("#live_account_status").val();
                                live_account_status = parseInt(live_account_status);
                                //---------------------------------------//
                                if(tag)
                                {
                                    if(live_account_status > 0)
                                     {
                                        window.location.reload();
                                     }
                                }
                                else
                                {
                                    if(toggle_status == 'live')
                                    {
                                        window.location.reload();
                                    }
                                }
                                //---------------------------------------//
                            } else {
                                window.location.reload();
                            }

                            set_toggle_button(tag);
                        }*/
                    },
                    error:function() {
                        //alert("Error Occurred");
                        window.location.reload();
                    }
                });
            });
            //alert("hi");
            //var toggle_status = $("#toggle_button_status").val();
            
        }
        else
        {
            //-----------------------------------------------------//
            /*if(String(window.location.pathname) == "/account_open/" || String(window.location.pathname) == "/account_display/")
            {
                set_toggle_button(tag);
            }*/
            //-----------------------------------------------------//
            //set_toggle_button(tag);
            $.ajax({
                type:"POST",
                url:"/frontend/toggle_account/",
                async:false,
                data:{csrfmiddlewaretoken:'{{ csrf_token }}'},
                beforeSend : function(){
                    
                },
                success:function(res) { //alert('response'+response);
                    //window.location.reload();
                    if($("#toggle_button_status").val() != res)
                        window.location.reload();
                },
                error:function() {
                    alert("Error Occurred");
                    window.location.reload();
                }
            });
        }

    }

    var is_visible = false;
    $(window).on('load resize', function(){ 
        $(".questios span").click(function(){
            var url_name = String(window.location.pathname);
            url_name = url_name.split("/")[0];
            if(url_name == "watchlist" || "my_built_cluster" || "other_cluster"){
                if(is_visible) $(this).next().css("display","none");
                else{ 
                    var val = $(this).parent().parent().hasClass("sorting_disabled")?($(this).closest("td").length > 0?$(this).closest("td").offset().left:-100):($(this).closest("td").offset().left);
                    console.log($(this).parent().hasClass("sorting_disabled"));
                    $(this).next().attr("style","left:-40px !important; display:block;"); 
                    //$(this).next().css("display","block");   
                }
                is_visible = (is_visible == false)?true:false;
            } else {
                $(this).next().show();
            }
        });
        $(".questios span").hover(function(){
            var url_name = String(window.location.pathname);
            url_name = url_name.split("/")[0];
            if(url_name == "watchlist"){
                //is_visible = (is_visible == false)?true:false;
                var val = $(this).parent().parent().hasClass("sorting_disabled")?($(this).closest("td").length > 0?$(this).closest("td").offset().left:-100):($(this).closest("td").offset().left);
                $(this).next().attr("style","left:"+val+"px !important; display:block;");
                //$(this).next().css("display","block");
            } else {
                $(this).next().show();
            }
        },function(){
            is_visible = (is_visible == false)?true:false;
            $(this).next().css("display","none");
        });
      
    });  
    var is_checkbox_click = false;
    $(document).ready(function(e){
        var live_account_status = $("#live_account_status").val();
        if(live_account_status > 0) is_checkbox_click = true;
        check_uri();    
        hide_all_notification();

        $("#change_profile_image").change(function(e){
            read_file(this);
        });
        $("#change_profile_image_mobile").change(function(e){
           read_file_mobile(this);
        });

        $(".spn_notifications").click(function(e){
            $.ajax({
                type:"POST",
                url:"/frontend/display_notifications/",
                async:false,
                data:{csrfmiddlewaretoken:'{{ csrf_token }}'},
                success:function(response) {
                    if(response == 1) {
                        $("#link_open_notification").html("0");
                        $("#link_open_notification2").html("0");
                        $(".spn_notifications").hide();
                    }
                },
                error:function() {
                    //alert("Error Occurred");
                    $("#link_open_notification").html("N/A");
                    $("#link_open_notification2").html("N/A");
                    $(".spn_notifications").hide();
                    window.location.reload();
                }
            });
        });

        /*$("#myonoffswitch").click(function(e){
            var is_checked = $(this).is(':checked');
            if(!is_checked)
            {
                $('<div class="modal-backdrop"></div>').insertBefore('.account-modal');
                $("#myAccountModal").modal('show');
            }
        });*/

        $("[name=onoffswitch]").click(function(e){
            var is_checked = $(this).is(':checked');
            //--------------------------------------//
            //var trading_application_status = $("#trading_application_status").val();
            var live_account_status = $("#live_account_status").val();
            var broker_linked_status = $("#broker_linked_status").val();
            var toggle_button_status = $("#toggle_button_status").val();
            var investak_broker_code = $("#investak_broker_code").val();
            //--------------------------------------//
            //trading_application_status = parseInt(trading_application_status);
            live_account_status = parseInt(live_account_status);
            

            tag = true;
            status = 'virtual';
            console.log(is_checkbox_click);
            if(!is_checked) {
                console.log("if");
                //$(this).removeAttr('checked');
                $(".onoffswitch-inner").css("margin-left","-100%");
                $(".onoffswitch-switch").css("margin-left","3px").css("right","auto");
                is_checkbox_click = true;
            } else {
                console.log("else");
                //$(this).attr('checked','checked');
                $(".onoffswitch-inner").css("margin-left","1%");
                $(".onoffswitch-switch").css("margin-left","auto").css("right","0px");
                is_checkbox_click = false;
            }
            console.log("is_checked : "+is_checked);
            /*console.log(broker_linked_status);
            console.log(live_account_status);*/
            if(!is_checked)
            {
                if(investak_broker_code == "AB") /*broker_linked_status*/
                {
                    /*if(live_account_status > 0)
                    {
                        tag = false;
                        status = 'live';
                    }
                    else
                    { 
                        $("#frmAngelBrokingLogin #loginError").text(""); 
                        $('<div class="modal-backdrop"></div>').insertBefore('.account-modal');
                        $("#myLoginAngelBrokingModal").modal('show');
                    }*/
                }
                else
                {
                    /*if(trading_application_status == 0)
                    {
                        window.location.href = "/account_open/";
                    }
                    else
                    {
                        window.location.href = "/account_display/";
                    }*/
                    $("#frmAngelBrokingLogin #loginError").text(""); 
                    $('<div class="modal-backdrop"></div>').insertBefore('.account-modal');
                    $("#myLoginAngelBrokingModal").modal('show');
                }
            }
            else
            {
                /*if(String(window.location.pathname) == "/account_open/" || String(window.location.pathname) == "/account_display/")
                {
                    window.location.href = "/analyze/";
                }
                else
                    { 
                        $('<div class="modal-backdrop"></div>').insertBefore('.account-modal');
                        $("#myLoginAngelBrokingModal").modal('show');
                    }*/
                if(broker_linked_status == "YES")
                {
                    if(live_account_status > 0)
                    {
                        tag = false;
                        status = 'live';
                    }
                    else
                    { 
                        $("#frmAngelBrokingLogin #loginError").text(""); 
                        $('<div class="modal-backdrop"></div>').insertBefore('.account-modal');
                        $("#myLoginAngelBrokingModal").modal('show');
                    }
                }
            }
            console.log("tag : "+tag);
            console.log("status : "+status);
            //---------------------------------------//
            set_toggle_status_session(tag, status, 'click'); //if(live_account_status > 0) 
            //set_toggle_button(tag);

        });

        $(".account-modal > .modal-content > .modal-header > .close, #go_back").click(function(e){
            //$("[name=onoffswitch]").attr("checked","checked");
            $("#myAccountModal").find('.modal-backdrop').remove();
            $("#myAccountModal").modal('hide');
            var request_path = '{{ request.path }}';
            /*if(request_path == "/account_open/") {
                window.location.href = '{{ request.META.HTTP_REFERER }}';
            }
            else {
                window.location.href = '{{ BASE_URL|slice:":-1" }}'+'{{ request.get_full_path }}';
            }*/
            $("[name=onoffswitch]").prop('checked',true);
            $(".onoffswitch-inner").css("margin-left","1%");
            $(".onoffswitch-switch").css("margin-left","auto").css("right","0px");
        });

        $(".account-modal > .modal-content > .modal-footer > #go_next").click(function(e){
            var request_path = '{{ request.path }}';
            if(request_path == "/account_open/") {
                window.location.href = '{{ request.META.HTTP_REFERER }}';
            }
            else {
                window.location.href = '/account_open/';
            }
        });

        $(".navbar-nav > li > a").click(function(e){ 
            var current_path = '{{ request.path }}';
            var request_path = $(this).attr('href');

            if(current_path == '/account_open/' && current_path != request_path) {
                //alert("You are going to your virtual portfolio from your Live Account ");
            }
        });

    });
    function userdropdown()
    {
        /*$(".user_area > a").click(function(event){
            $(".drops_down_area").slideToggle();
            //$(".notification_down_area").slideUp();
            event.stopPropagation();
        });*/
    }

    function notification()
    {
        /*$(".notification").find("a").click(function(event){
            //show_all_notification('hide');
            $(".notification_down_area").slideToggle();
            $(".drops_down_area").slideUp();
            event.stopPropagation();
        });*/
    }
    function show_hide_notification(device)
    {
        if(device == 'mobile')
        {
            document.getElementsByClassName('slimScrollBar')[0].style.visibility = 'hidden';
            if(document.getElementById("notification_down_area_div_mobile").style.display == 'block')
            {
                document.getElementById("notification_down_area_div_mobile").style.display = 'none';
                $(".slm_out").css('display', 'none');
                hide_all_notification();
            }
            else
            {
                $(".slm_out").css('display', 'block');
                document.getElementsByClassName('slimScrollBar')[0].style.visibility = 'hidden';
                document.getElementById("notification_down_area_div_mobile").style.display = 'block';
                $("#short_notification_mobile").show();
                $("#long_notification_mobile").show();
                $("#link_see_less_mobile").hide();
                $("#link_see_all_mobile").show();
            }
        }
        if(device == 'desk')
        {
            if (document.getElementById("notification_down_area_div").style.display == 'block') {
                document.getElementById("notification_down_area_div").style.display = 'none';
                $(".slm_out").css('display', 'none');
                hide_all_notification();
            }
            else {
                $(".slm_out").css('display', 'block');
                document.getElementById("notification_down_area_div").style.display = 'block';

                $("#short_notification").show();
                $("#long_notification").show();
                $("#link_see_less").hide();
                $("#link_see_all").show();
            }
        }
    }

    function read_file(input) {
        if (input.files && input.files[0]) {
        var f_name = input.files[0].name;
        var ext = f_name.split(".").pop();
        if(ext=="jpg" || ext=="JPG" || ext=="png" || ext=="PNG" || ext=="GIF" || ext=="gif" || ext=="bmp" || ext=="BMP") {
            $.ajax({
                url: "/frontend/change_profile_image/",
                type: "POST",
                data: new FormData($('#frmProfileImage').get(0)),
                contentType: false,
                cache: false,
                processData:false,
                success: function(data)
                {
                    if(data == 1) {
                        window.location.reload();
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#img_profile').attr('src', e.target.result);
                            $("#img_user_area").attr('src', e.target.result);
                            $("#footer_img").attr('src', e.target.result);
                        }
                        reader.readAsDataURL(input.files[0]);
                    }
                },
                error: function(){
                    alert("Unable to load image.");
                }
            });
        }
        else {
            alert("Please Select Image File");
        }

    }
    }

    function read_file_mobile(input) {
        if (input.files && input.files[0]) {
        var f_name = input.files[0].name;
        var ext = f_name.split(".").pop();
        if(ext=="jpg" || ext=="JPG" || ext=="png" || ext=="PNG" || ext=="GIF" || ext=="gif" || ext=="bmp" || ext=="BMP") {
            $.ajax({
                url: "/frontend/change_profile_image_mobile/",
                type: "POST",
                data: new FormData($('#frmProfileImageMobile').get(0)),
                contentType: false,
                cache: false,
                processData:false,
                success: function(data)
                {
                    if(data == 1) {
                        window.location.reload();
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#img_profile_mobile').attr('src', e.target.result);
                            $("#img_user_area_mobile").attr('src', e.target.result);
                            $("#footer_img").attr('src', e.target.result);
                        }
                        reader.readAsDataURL(input.files[0]);
                    }
                },
                error: function(){
                    alert("Unable to load image.");
                }
            });
        }
        else {
            alert("Please Select Image File");
        }

    }
    }
function show_all_notification(tag, device)
{
    if(device == 'mobile')
    {
        if (tag == 'show') {
            $("#short_notification_mobile").hide();
            $("#long_notification_mobile").show();
            $("#link_see_less_mobile").show();
            $("#link_see_all_mobile").hide();
        }
        else {
            $("#short_notification_mobile").show();
            $("#long_notification_mobile").hide();
            $("#link_see_less_mobile").hide();
            $("#link_see_all_mobile").show();
        }
        document.getElementById("notification_down_area_div_mobile").style.display = 'block';
    }
    if(device == 'desk')
    {
        if (tag == 'show') {
            $("#short_notification").hide();
            $("#long_notification").show();
            $("#link_see_less").show();
            $("#link_see_all").hide();
        }
        else {
            $("#short_notification").show();
            $("#long_notification").show();
            $("#link_see_less").hide();
            $("#link_see_all").show();
        }
        document.getElementById("notification_down_area_div").style.display = 'block';
    }
}
function hide_all_notification()
{
    if(document.getElementById("short_notification"))
        $("#short_notification").hide();
    if(document.getElementById("long_notification"))
        $("#long_notification").hide();
    if(document.getElementById("link_see_less"))
        $("#link_see_less").hide();
    if(document.getElementById("link_see_all"))
        $("#link_see_all").hide();
    if(document.getElementById("short_notification_mobile"))
        $("#short_notification_mobile").hide();
    if(document.getElementById("long_notification_mobile"))
        $("#long_notification_mobile").hide();
    if(document.getElementById("link_see_less_mobile"))
        $("#link_see_less_mobile").hide();
    if(document.getElementById("link_see_all_mobile"))
        $("#link_see_all_mobile").hide();
    if(document.getElementById("notification_down_area_div"))
        document.getElementById("notification_down_area_div").style.display = 'none';
    if(document.getElementById("notification_down_area_div_mobile"))
        document.getElementById("notification_down_area_div_mobile").style.display = 'none';
}
function show_hide_drops_down_area()
{
    //alert('show_hide_drops_down_area');
} 
function show_upload_form(){
    /*$(".show_img").attr("style","width:150px; height:150px;");
    $(".profile_img").removeClass("upload").addClass("upload");
    $("#footer_img").attr("src",$("#footer_img").attr("src"));
    $("#footer_img").attr("style","width : 100% !important;");*/
}
function fp(){
  var term=window.open("https://trade.angelbroking.com/ChangePassword/ForgotPassword",  "800", "600","scrollbars=yes,menubar=no,toolbar=no,location=no,status=yes,resizable=no","aboutus");
}
function cp(){
  var term=window.open("https://trade.angelbroking.com",  "800", "600","scrollbars=yes,menubar=no,toolbar=no,location=no,status=yes,resizable=no","aboutus");
}
</script>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle onclickMob">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <a class="mobmenu" href="javascript:void(0)"><i class="fa fa-bars" aria-hidden="true"></i></a>
            <a class="navbar-brand" href="/"><img class="white" src="{% static "investak/images/logo_white.png" %}">
                <img class="blue" src="{% static "investak/images/logo.png" %}">
            </a>
          <!-- -- mobile switch -- -->
           <div class="mobile_switch">
            <!--<span class="header_ac"><a href="{% if user_trading_application_status == 0 %} /account_open/ {% else %} /account_display/ {% endif %}">{% if user_trading_application_status == 0 %} Acc. Opening {% else %} Form Submmited  {% endif %}</a> </span>-->
            {% if is_login == True %}
            {% if broker_linked_status == "YES" %}
                <!--span class="header_ac" style="margin:0px; left: 18px;"><a href="/account_display/" style="border:0px;">{{ broker_name }}</a></span-->
            {% else %}
                <!--span class="header_ac" style="margin:0px; left: 19px;"><a href="/account_open/" style="border:0px;">Virtual Broker</a></span -->
                {% if user_trading_application_status == 0 %}
                    <!-- span class="header_ac" style="margin:0px; left: 19px;"><a href="/account_open/"style="border:0px;">Acc. Opening</a></span -->
                {% else %}
                    <!-- span class="header_ac" style="margin:0px; left: 20px;"><a href="/account_display/"style="border:0px;">Form Submitted</a></span -->
                {% endif %}
            {% endif %}
                <div class="onoffswitch floatr">
                <!--<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" >-->
                   <img src="/static/investak/images/small_loaderW.gif" id="session_ext_loader_mob" style="float:right; display :none;">
                   {% if user_profile_details_arr.0.stat == "1" and request.session.toggle_button_status == 'live' %}
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" >
                    {% else %}
                        <input type="checkbox" name="onoffswitch" checked class="onoffswitch-checkbox" id="myonoffswitch" >
                    {% endif %}
                <label class="onoffswitch-label" for="myonoffswitch"> <span class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span> </label>
                </div>
            {% endif %}    
           </div>
          <!-- -- mobile switch end -- -->
            {% if request.session.id %}
            <div class="notification">

                {% if request.session.user_notification %}
                  <a href="javascript:void(0)" onclick="show_hide_notification('mobile')" id="link_open_notification">{{ request.session.total_notification }}</a>
                {% else %}
                  <a href="javascript:void(0)">0</a>
                {% endif %}
                <div class="slm_out" id="slm_out">
                <div class="notification_down_area notification_mob_two mobi_tbl " id="notification_down_area_div_mobile" style="max-height: 380px !important;min-height: 150px !important; display: none !important;">
                    <font size="4" ;="" color="#333" face="Times New Roman" style="float:left;"><b><i>&nbsp;Notification </i></b></font>
                    {% if request.session.total_notification > 0 %}
                        <span class="spn_notifications" >Mark all as read</span>
                    {% endif %}
                    <ul id="short_notification_mobile">
                        {% if request.session.notification_shortlist %}
                            {% for un_short in request.session.notification_shortlist %}
                                <li style="border-bottom: 1px solid #d2d2d2;"><span><img src="{{ un_short.image }}"></span><a href="{{ un_short.link }}" style="{{ un_short.style }}"><b>{{ un_short.user_name }}</b> {% if un_short.notification_type == "R" %} re-balanced {% else %} commented {% endif %} in <b>{{un_short.cluster_name}} </b>on {{ un_short.weekday_name }} : {{ un_short.notification_text|slice:":10" }}..<p>{{ un_short.month_name }} {{ un_short.day_name }} at {{ un_short.posted_time }}</p></a></li>
                                <!--li><span><img src="{% if un_short_mobile.notification_type == "R" %}{{ un_short_mobile.cluster_name }}{% else %}{{ un_short_mobile.image }}{% endif %}"></span><a href="{{ un_short_mobile.link }}" style="{{ un_short_mobile.style }}">{% if un_short_mobile.notification_type == "R" %} Rebalanced updates : {{un_short_mobile.cluster_name}} has been rebalanced {% else %} <b>{{ un_short_mobile.user_name }}</b> commented in <b>{{un_short_mobile.cluster_name}}</b> {% endif %} on {{ un_short_mobile.weekday_name }} : {{ un_short_mobile.notification_text|slice:":10" }}..<p>{{ un_short_mobile.month_name }} {{ un_short_mobile.day_name }} at {{ un_short_mobile.posted_time }}</p></a></li-->
                            {% endfor %}
                        {% else %}
                                <li style="padding-top:20px; text-align:center; color:#999999;">No Notification Found!</li>
                        {% endif %}
                    </ul>
                    {% if request.session.notification_range > 5 %}
                        <!--<a href="javascript:void(0)" onclick="show_all_notification('show','mobile')" id="link_see_all_mobile">SEE ALL</a>-->
                    {% endif %}

                    <ul id="long_notification_mobile" style="display:none;">
                        {% if request.session.user_notification %}
                            {% for un in request.session.user_notification %}
                                <li style="border-bottom: 1px solid #d2d2d2;"><span><img src="{{ un.image }}"></span><a href="{{ un.link }}" style="{{ un.style }}"><b>{{ un.user_name }}</b> {% if un.notification_type == "R" %} re-balanced {% else %} commented {% endif %} in <b>{{un.cluster_name}}</b> on {{ un.weekday_name }} : {{ un.notification_text|slice:":10" }}..<p>{{ un.month_name }} {{ un.day_name }} at {{ un.posted_time }}</p></a></li>
                                <!--li><span><img src="{% if un.notification_type == "R" %}{{ un.cluster_name }}{% else %}{{ un.image }}{% endif %}"></span><a href="{{ un.link }}" style="{{ un.style }}">{% if un.notification_type == "R" %} Rebalanced updates : {{un.cluster_name}} has been rebalanced {% else %} <b>{{ un.user_name }}</b> commented in <b>{{un.cluster_name}}</b> {% endif %} on {{ un.weekday_name }} : {{ un_short_mobile.notification_text|slice:":10" }}..<p>{{ un.month_name }} {{ un.day_name }} at {{ un.posted_time }}</p></a></li-->
                            {% endfor %}
                        {% else %}
                            <li style="padding-top:20px; text-align:center; color:#999999;">No Notification Found!</li>
                        {% endif %}
                    </ul>
                    {% if request.session.notification_range > 5 %}
                        <!--<a href="javascript:void(0)" onclick="show_all_notification('hide','mobile')" id="link_see_less_mobile" style="display:none;">SEE LESS</a>-->
                    {% endif %}
                </div>
                </div>
            </div>
            {% endif %}








        </div>

        <div class="after_login_menu">
            <div class="collapse navbar-collapse desktops_menu" id="navbar-collapse-1">
                
                    <ul class="nav navbar-nav pull-right">
                    {% if is_login == True %}<!--  request.session.id if login -->
                        <li><a href="/user_dashboard/" {% if request.path == '/user_dashboard/' %}  class="active_logs" {% endif %}>Dashboard</a></li>
                        <li><a href="/analyze/" {% if request.path == '/analyze/' %}  class="active_logs" {% endif %}>Analyze</a></li>
                        <li><a href="/customize/" {% if request.path == '/customize/' %}  class="active_logs" {% endif %}>Customize</a></li>
                        <li><a href="/portfolio/" {% if request.path == '/portfolio/' or request.path == "/portfolio/your_orders" or request.path == "/portfolio/current_investment" or request.path == "/portfolio/past_investment" %}  class="active_logs" {% endif %} >Portfolio</a></li>
                        <li><!-- Rectangular switch by JAYATI dated 09-01-2017-->
                        <!--<span class="header_ac"><a href="{% if user_trading_application_status == 0 %} /account_open/ {% else %} /account_display/ {% endif %}">{% if user_trading_application_status == 0 %} Acc. Opening {% else %} Form Submitted{% endif %}</a> </span>-->
                        {% if broker_linked_status == "YES" %}
                            <!--span class="header_ac" style="margin:0px; left: 35px;"><a href="/account_display/" style="border:0px;">{{ broker_name }}</a></span-->
                        {% else %}
                            <!--span class="header_ac" style="margin:0px; left: 20px;"><a href="/account_display/" style="border:0px;">Virtual Boroker</a></span-->
                            {% if user_trading_application_status == 0 %}
                                <!-- span class="header_ac" style="margin:0px; left: 25px;"><a href="/account_open/" style="border:0px;">Acc. Opening{{ broker_linked_status }}</a></span -->
                            {% else %}
                                <!--span class="header_ac" style="margin:0px; left: 20px;"><a href="/account_display/" style="border:0px;">Form Submitted</a></span -->
                            {% endif %}
                        {% endif %}

                        <div class="onoffswitch floatr">
                        <img src="/static/investak/images/small_loaderW.gif" id="session_ext_loader_lap" style="float:right;  display :none;">
                        {% if user_profile_details_arr.0.stat == "1" and request.session.toggle_button_status == 'live' %}
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" >
                        {% else %}
                            <input type="checkbox" name="onoffswitch" checked class="onoffswitch-checkbox" id="myonoffswitch" >
                        {% endif %}
                            <label class="onoffswitch-label" for="myonoffswitch"> <span class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span> </label>
                        </div>
                        </li>
                        <li class="search_box"><input type="text" name="website_search" id="website_search" placeholder="Stak, Stock etc.."></li>
                    
                        <li class="notification">

                            {% if request.session.user_notification %}
                              <a style="padding:2px !important;" href="javascript:void(0)" id="link_open_notification2" onclick="show_hide_notification('desk')">{{ request.session.total_notification }}</a>
                            {% else %}  
                              <a style="padding:2px !important;" href="javascript:void(0)">0</a>
                            {% endif %}  
                            <div class="slm_out" id="slm_out">
                            <div id="notification_down_area_div" class="notification_down_area dsk_tbl" style="z-index:82;">
                            <font size="4"; color="#333"; face="Times New Roman";><b><i>&nbsp;&nbsp;&nbsp;Notification </i></b></font>
                                {% if request.session.total_notification > 0 %}
                                    <span class="spn_notifications"><b><i>Mark all as read</i></b></span>
                                {% endif %}
                                <ul id="short_notification" style="display: block; border-bottom:1px solid #d2d2d2;border-top:1px solid #d2d2d2;">
                                    {% if request.session.notification_shortlist %}
                                        {% for un_short in request.session.notification_shortlist %}
                                            <li style="border-bottom: 1px solid #d2d2d2;"><span><img src="{{ un_short.image }}"></span><a href="{{ un_short.link }}" style="{{ un_short.style }}"><b>{{ un_short.user_name }}</b> {% if un_short.notification_type == "R" %} re-balanced {% else %} commented {% endif %} in <b>{{un_short.cluster_name}} </b>on {{ un_short.weekday_name }} : {{ un_short.notification_text|slice:":10" }}..<p>{{ un_short.month_name }} {{ un_short.day_name }} at {{ un_short.posted_time }}</p></a></li>
                                        {% endfor %}
                                    {% else %}
                                            <li style="padding-top:20px; text-align:center; color:#999999;">No Notification Found!</li>
                                    {% endif %}
                                </ul>
                                {% if request.session.notification_range > 5 %}
                                    <!--<a href="javascript:void(0)" onclick="show_all_notification('show','desk')" id="link_see_all">SEE ALL</a>-->
                                {% endif %}
                                <ul id="long_notification">
                                    {% if request.session.user_notification %}
                                        {% for un in request.session.user_notification %}
                                            <li style="border-bottom: 1px solid #d2d2d2;"><span><img src="{{ un.image }}"></span><a href="{{ un.link }}" style="{{ un.style }}"><b>{{ un.user_name }}</b> {% if un.notification_type == "R" %} re-balanced {% else %} commented {% endif %} in <b>{{un.cluster_name}}</b> on {{ un.weekday_name }} : {{ un.notification_text|slice:":10" }}..<p>{{ un.month_name }} {{ un.day_name }} at {{ un.posted_time }}</p></a></li>
                                        {% endfor %}
                                    {% else %}
                                            <li style="padding-top:20px; text-align:center; color:#999999;">No Notification Found!</li>
                                    {% endif %}
                                </ul>
                                {% if request.session.notification_range > 5 %}
                                    <!--<a href="javascript:void(0)" onclick="show_all_notification('hide','desk')" id="link_see_less" style="display:none;">SEE LESS</a>-->
                                {% endif %}
                            </div>
                            </div>
                        </li>
                        <li class="user_area" id="li_user_area">
                            <a style="padding:0px !important;" href="javascript:void(0)" id="drop_user_area" onclick="show_hide_drops_down_area();">
                                <img src="{% if request.session.toggle_button_status == 'live'%}/static/investak/images/user_icon.jpg{%else%}
                    {{ request.session.profile_img }}
                {%endif%}" id="img_user_area">
                            </a>
                            <div class="drops_down_area">
                                <div class="user_names">
                                    <a class="user_names_pic" href="javascript:void(0)">
                                    <form name="frmProfileImage" id="frmProfileImage" method="post">{% csrf_token %}
                                    <input class="upload" name="change_profile_image" id="change_profile_image" type="file">
                                    </form>
                                        <img src="{% if request.session.toggle_button_status == 'live'%}/static/investak/images/user_icon.jpg{%else%}
                    {{ request.session.profile_img }}
                {%endif%}" id="img_profile">
                                    </a>
                                    <h4>{{ request.session.full_name }}</h4>
                      <p>{% if request.session.toggle_button_status == 'live'%}{{request.session.angel_id}}{%else%}
                    {{ request.session.email_id }}
                {%endif%}</p>

                                </div>
                                <ul>
                                    <!--<li><a href="javascript:void(0)">notification<span>{{ request.session.total_notification }}</span></a></li>-->
                                    <li><a href="javascript:void(0)" data-toggle="modal" onclick="show_upload_form();" data-target="#modalChangeProfile">My Profile</a></li>
                                    <li><a href="javascript:void(0)" data-toggle="modal" data-target="#modalChangePwd">Change Password</a></li>
                                    <li style = "border-bottom:1px dotted #ccc;"><a href="/logout/">Logout</a></li>
                                    <li><a href="/watchlist/">Watchlist</a></li>
                                    <li><a href="/my_built_cluster/">My Built Staks</a></li>
                                    <li><a href="/other_cluster/">My Edited Staks</a></li>
                                   <!-- {% if user_profile_details_arr.0.stat == "1" and request.session.toggle_button_status == 'live' %}
                                    <li id="profile_menubar_user_profile_details"><a href="javascript:void(0)" data-target="#user_profile_details" data-toggle="modal">Live Profile</a></li>
                                    {% endif %}
                                    {% if account_profile_details_arr.0.stat == "1" and request.session.toggle_button_status == 'live' %}
                                    <li id="profile_menubar_user_account_details"><a href="javascript:void(0)" data-target="#user_account_details" data-toggle="modal">Account Profile</a></li>
                                    {% endif %}-->
                                    {% if holding_val_arr and holding_arr and request.session.toggle_button_status == 'live' %}
                                    <li id="profile_menubar_user_holdings_details"><a href="javascript:void(0)" data-target="#user_holdings_details" data-toggle="modal">Holdings</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                    {% else %} 
                            <li><a href="{{ BASE_URL }}/#aboutus" class="hvr-underline-from-center scroller">About Us</a></li>
                            <li><a href="{{ BASE_URL }}/#Analyze" class="hvr-underline-from-center scroller">Approach</a></li>
                            <li><a href="{{ BASE_URL }}/#markit2" class="hvr-underline-from-center scroller">Testimonials</a></li>
                            <li><a href="{{ BASE_URL }}/#team" class="hvr-underline-from-center scroller">Team</a></li>
                            <li><a href="{{ BASE_URL }}/#partners" class="hvr-underline-from-center scroller">Partners</a></li>
                            <li><a href="{{ BASE_URL }}/#contactus" class="hvr-underline-from-center scroller">Contact Us</a></li>
                            <li class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/faq/">faq</a></li>
                                <li><a href="/news/">newsroom</a></li>
                            </ul>
                        </li>
                            <li><a href="/login/" class="hvr-underline-from-center scroller">log In</a></li>
                            <li><a href="/signup/" class="hvr-underline-from-center scroller">Sign Up</a></li>    
                    {% endif %}     
                    </ul>
                <input type="hidden" name="trading_application_status" id="trading_application_status" value="{{ user_trading_application_status }}" >
                <input type="hidden" name="live_account_status" id="live_account_status" value="1" >
                <input type="hidden" name="investak_broker_code" id="investak_broker_code" value="{{ request.session.investak_broker_code }}" >
                <input type="hidden" name="broker_linked_status" id="broker_linked_status" value="{{ broker_linked_status }}" >
                <input type="hidden" name="toggle_button_status" id="toggle_button_status" value="{{ request.session.toggle_button_status }}" >
                <input type="hidden" name="login_toggle_status" id="login_toggle_status" value="{{ request.session.login_toggle_status }}" >
            </div>
        </div>


        <!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
<div id="myAccountModal" class="modal fade" role="dialog">
  <div class="modal-dialog account-modal">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">You need to open an account to start trading </h4>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="go_back">Go Back</button>
        <button class="btn btn-primary" id="go_next" >Go Next</button>
      </div>
    </div>

  </div>
</div>

<!-- LOGIN ANGEL BROKING -->
<div id="myLoginAngelBrokingModal" class="modal fade" role="dialog">
  <div class="modal-dialog account-modal">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:10px 20px;">
          <button type="button" class="close" data-dismiss="modal">X</button>
      </div>
        <div class="modal-body" style="padding: 0px 30px 20px;">
            <!--<a href="javascript:void(0);" onclick="hide_element('myLogin2FAModal');" style="float:right;">X</a>-->
            <div class="login_page_area" id="loginDiv" style="margin: 0px; min-height: 150px; top:0px; height:auto;">
                <div class="custom_tab_box">
                    <!-- Nav tabs -->
                    <ul style="list-style-type: none;font-size: 25px;font-weight: 700; padding-left: 0px;">
                    <li role="presentation" class="activa"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Login with &nbsp; <img src="/static/media/images/angel.png" style="width:220px;height:45px;"></a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <form name="frmAngelBrokingLogin" id="frmAngelBrokingLogin" method="post" action="">{% csrf_token %}
                                <div style="margin-bottom:20px;"><span id="loginError" style="color:#ff0000; margin-bottom: 20px;"></span></div>
                                <div id="emdivid" class="form-group label-floating is-empty">
                                    <label id="emaillabelid" for="112" class="control-label" >Trading ID/Client Code: </label>
                                    <input type="text" name="angel_id" id="angel_id" class="form-control">
                                </div>
                                <div id="pwdivid" class="form-group label-floating is-empty">
                                    <label id="pwlabelid" for="112" class="control-label" >Trading Password</label>
                                    <input type="password" name="angel_password" id="angel_password" class="form-control">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 nopadding" style="width: 45%;"><a href="javascript:fp();">Forgot Password</a></div>
                                <div id="" class="form-group" style="float:right;margin: 0px;"><a target="__blank" href="/liveaccountopen">Open a trading account in one hour?</a></div>
                                <div id="loaderdiv" class="form-group label-floating" style="margin:0; padding:0; text-align:center; clear:both; display:none;"><img src="{% static "investak/images/loader2.gif" %}"></div>
                                <button type="button" class="btn mysubmit_btn" id="angel_btnGO">PROCEED</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
      <div class="modal-footer">
          <div id="angel_errordiv" style="display:none; color: #ff0000;text-align: center;">Angel Id not found!</div>
        <!--<button class="btn btn-primary" id="go_back">Go Back</button>
        <button class="btn btn-primary" id="go_next" >Go Next</button>-->
      </div>
    </div>

  </div>
</div>
<div id="myLogoutAngelBrokingModal" class="modal fade" role="dialog">
  <div class="modal-dialog account-modal">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:10px 20px;">
          <!--button type="button" class="close" data-dismiss="modal">X</button-->
      </div>
        <div class="modal-body" style="padding: 0px 30px 20px;">
            <div class="login_page_area" id="loginAnswerDiv" style="margin: 0px; min-height: 150px;  top:0px; height:auto;">
                <div class="custom_tab_box">
                <!-- Nav tabs -->
                  <ul class="nav nav-tabs cus_nav_tabs" role="tablist">
                    <li role="presentation" class="activa"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Logout from &nbsp; <img src="/static/media/images/angel.png" style="width:270px;height:45px;"></a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home3">
                        
                            <div style="margin-bottom:20px;"><span id="loginError3" style="color:#ff0000; margin-bottom: 20px;"></span></div>
                            <div id="loaderdivLogout" class="form-group label-floating" style="margin:0; padding:0; text-align:center; clear:both; display:block;"><img src="{% static "investak/images/loader2.gif" %}"></div>

                  
                    </div>
                  </div>

                </div>
            </div>
        </div>
      <div class="modal-footer">
          <div id="errordiv3" style="display:none; color: #ff0000;text-align: center;">Invalid answer.</div>
        <!--<button class="btn btn-primary" id="go_back">Go Back</button>
        <button class="btn btn-primary" id="go_next" >Go Next</button>-->
      </div>
    </div>

  </div>
</div>
<!-- LOGIN2FA POPUP MODAL -->
<div id="myLogin2FAModal" class="modal fade" role="dialog">
  <div class="modal-dialog account-modal">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:10px 20px;">
          <button type="button" class="close" data-dismiss="modal">X</button>
      </div>
        <div class="modal-body" style="padding: 0px 30px 20px;">
            <!--<a href="javascript:void(0);" onclick="hide_element('myLogin2FAModal');" style="float:right;">X</a>-->
            <div class="login_page_area" id="loginDiv" style="margin: 0px; min-height: 150px; top:0px; height:auto;">
                <div class="custom_tab_box">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs cus_nav_tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Login with TSO</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <form name="frm2fLogin" id="frm2fLogin" method="post" action="">{% csrf_token %}
                                <div style="margin-bottom:20px;"><span id="loginError" style="color:#ff0000; margin-bottom: 20px;"></span></div>
                                <div id="emdivid" class="form-group label-floating is-empty">
                                    <label id="emaillabelid" for="112" class="control-label" >Client ID</label>
                                    <input type="text" name="client_id" id="client_id" class="form-control">
                                </div>
                                <!--<div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                                    <a  href="/analyze/">Skip To Analyze Page</a>
                                </div>-->
                                <div class="col-md-6 col-sm-6 col-xs-6 nopadding">
                                    <a href="javascript:fp();">Forgot Password</a>
                                </div>

                                <div id="loaderdiv" class="form-group label-floating" style="margin:0; padding:0; text-align:center; clear:both; display:none;"><img src="{% static "investak/images/loader2.gif" %}"></div>

                                <button type="button" class="btn mysubmit_btn" id="btnGO">GO</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
      <div class="modal-footer">
          <div id="angel_errordiv" style="display:none; color: #ff0000;text-align: center;">Client Id not found!</div>
        <!--<button class="btn btn-primary" id="go_back">Go Back</button>
        <button class="btn btn-primary" id="go_next" >Go Next</button>-->
      </div>
    </div>

  </div>
</div>

<!-- LOGIN2FAPASSWORD -->

<div id="myLogin2FAPasswordModal" class="modal fade" role="dialog">
    <div class="modal-dialog account-modal">

        <!-- Modal content-->
        <div class="modal-content">
              <div class="modal-header" style="padding:10px 20px;">
                  <button type="button" class="close" data-dismiss="modal">X</button>
              </div>
            <div class="modal-body" style="padding: 0px 30px 20px;">
            <!--<a href="javascript:void(0);" onclick="hide_element('myLogin2FAPasswordModal');" style="float:right;">X</a>-->
                <div class="login_page_area" id="passwordDiv" style="margin: 0px; min-height: 150px; top:0px; height:auto;">
                    <div class="custom_tab_box">
                        <!-- Nav tabs -->
                          <ul class="nav nav-tabs cus_nav_tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Login with TSO</a></li>
                          </ul>

                          <!-- Tab panes -->
                          <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home2">
                                    <form name="frm2fLoginPassword" id="frm2fLoginPassword" method="post" action="">{% csrf_token %}
                                        <div style="margin-bottom:20px;"><span id="loginError2" style="color:#ff0000; margin-bottom: 20px;"></span></div>
                                        <div id="emdivid" class="form-group label-floating is-empty">
                                            <label id="client_id" for="112" class="control-label login_label" >Login Id : <b>{{request.session.client_id}}</b></label><br/>
                                            
                                        </div>
                                        <div class="">
                                            <input type="checkbox" style="position: static !important; left: 0 !important;" name="sai" id="sai" value="1">
                                            <span class="trams" for="sai">Please confirm your Secure Access Image</span>
                                        </div>
                                        <div id="client-password" class="form-group label-floating is-empty">

                                            <img id="login2faimage" src="" width="100px" height="100px" alt="" />
                                        </div>
                                        <div id="pwdivid" class="form-group label-floating is-empty">
                                            <label id="pwlabelid" for="112" class="control-label" >Password</label>
                                            <input type="password" name="client_password" id="client_password" class="form-control">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 nopadding"><a href="javascript:fp();">Forgot Password</a></div>
                                        <div id="loaderdiv2" class="form-group label-floating" style="margin:0; padding:0; text-align:center; clear:both; display:none;"><img src="{% static "investak/images/loader2.gif" %}"></div>

                                        <button type="button" class="btn mysubmit_btn" id="btnGO2">GO</button>
                                    </form>
                                </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <div id="errordiv2" style="display:none; color: #ff0000;text-align: center;">Invalid password.</div>
            <!--<button class="btn btn-primary" id="go_back">Go Back</button>
            <button class="btn btn-primary" id="go_next" >Go Next</button>-->
            </div>
        </div>

    </div>
</div>

<!-- LOGIN2FAANSWER POPUP MODAL -->
<div id="myLogin2FAAnswerModal" class="modal fade" role="dialog">
  <div class="modal-dialog account-modal">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:10px 20px;">
          <button type="button" class="close" data-dismiss="modal">X</button>
      </div>
        <div class="modal-body" style="padding: 0px 30px 20px;">
            <div class="login_page_area" id="loginAnswerDiv" style="margin: 0px; min-height: 150px;  top:0px; height:auto;">
                <div class="custom_tab_box">
                <!-- Nav tabs -->
                  <ul class="nav nav-tabs cus_nav_tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Login with TSO</a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home3">
                        <form name="frmLoginAnswer" id="frmLoginAnswer" method="post" >{% csrf_token %}
                            <div style="margin-bottom:20px;"><span id="loginError3" style="color:#ff0000; margin-bottom: 20px;"></span></div>
                          <div id="emdivid" class="form-group label-floating is-empty">
                            <label id="client_id" for="112" class="control-label login_label" >Login Id</label><br/>
                            <input type="text" name="client_id" id="client_id" disabled class="form-control" value="" />
                          </div>  
                          <div id="emdivid3" class="form-group label-floating is-empty">
                            <label id="login2fa_first_question" class="control-label login_label" >{{ request.session.first_question }}</label>
                            <input type="text" name="first_answer" id="first_answer" class="form-control">
                          </div>
                          <div id="emdivid4" class="form-group label-floating is-empty">
                            <label id="login2fa_second_question" class="control-label login_label" >{{ request.session.second_question }}</label>
                            <input type="text" name="second_answer" id="second_answer" class="form-control">
                          </div>

                            <div id="loaderdiv3" class="form-group label-floating" style="margin:0; padding:0; text-align:center; clear:both; display:none;"><img src="{% static "investak/images/loader2.gif" %}"></div>

                        <button type="button" class="btn mysubmit_btn" id="btnGO3">GO</button>
                        </form>
                    </div>
                  </div>

                </div>
            </div>
        </div>
      <div class="modal-footer">
          <div id="errordiv3" style="display:none; color: #ff0000;text-align: center;">Invalid answer.</div>
        <!--<button class="btn btn-primary" id="go_back">Go Back</button>
        <button class="btn btn-primary" id="go_next" >Go Next</button>-->
      </div>
    </div>

  </div>
</div>

<script>
function hide_element(id)
{
    //$("#"+id).hide();
    //$(".modal-backdrop").removeClass( "in" );
    //$(".modal-backdrop").hide();

    $("#"+id).find('.modal-backdrop').remove();
    $("#"+id).modal('hide');
}
</script>

<script type="text/javascript">
function fp(){
  var term=window.open("https://trade.angelbroking.com/ChangePassword/ForgotPassword",  "800", "600","scrollbars=yes,menubar=no,toolbar=no,location=no,status=yes,resizable=no","aboutus");
}
    // Create Base64 Object
    var Base64={_keyStr:"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=",encode:function(e){var t="";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t="";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/[^A-Za-z0-9+/=]/g,"");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/rn/g,"n");var t="";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t="";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}}
$(document).ready(function(){
      //------------------------- Angel Broking ---------------------------//
      $("#angel_errordiv").hide(); 
      $("#angel_btnGO").click(function(e){
          $("#frmAngelBrokingLogin #loginError").text("");  
          $("#frmAngelBrokingLogin").submit();
      });
      $("#frmAngelBrokingLogin .form-control").keyup(function(event){
        if(event.keyCode == 13){
            $("#frmAngelBrokingLogin #loginError").text("");
            $("#frmAngelBrokingLogin").submit();
        }
      });
       //---------------------------//
      $("#frmAngelBrokingLogin").validate({
          rules: {
            angel_id: {
              required: true,
            },
            angel_password: {
              required: true,
            },
          },
          messages: {
            angel_id: {
              required: "Please Enter Angel ID",
            },
            angel_password: {
              required: "Please Enter Angel Password",
            },
          },
          submitHandler:function(form) {
              $("#loaderdiv").show();
              $("#angel_errordiv").hide();
              var angel_id = $.trim($("#angel_id").val());
              var angel_password = $.trim($("#angel_password").val());
              $.ajax({
                  type:"POST",
                  url:"/login_angel_broking/",
                  data:{client_id:Base64.encode(angel_id), password:Base64.encode(angel_password), csrfmiddlewaretoken:'{{ csrf_token }}'},
                  success:function(response) {
                    $("#loaderdiv").hide();
                    //if(response == 1) {
                    if(response.message == 'Ok') {
                        hide_element("frmAngelBrokingLogin");
                        window.location.reload();
                    }
                    else {
                        $("#angel_errordiv").html(response.message).show();
                    }
                  },
                  error:function(response) {
                    $("#loaderdiv").hide();
                    $("#angel_errordiv").html("Invalid login.").show();
                  }
              });
          }
      });
      //-------------------------------------------------//


      $("#errordiv").hide(); $("#errordiv2").hide(); $("#errordiv3").hide();

      $("#btnGO").click(function(e){
          $("#frm2fLogin").submit();
      });
      $("#frm2fLogin .form-control").keyup(function(event){
        if(event.keyCode == 13){
            $("#frm2fLogin").submit();
        }
      });
       //---------------------------//
      $("#frm2fLogin").validate({
          rules: {
            client_id: {
              required: true,
            }
          },
          messages: {
            client_id: {
              required: "Please Enter Client ID",
            }
          },
          submitHandler:function(form) {
              $("#loaderdiv").show();
              $("#errordiv").hide();
              $.ajax({
                  type:"POST",
                  url:"/get_login_2fa/",
                  data:{client_id:$("#client_id").val(), loginpage:'popup', csrfmiddlewaretoken:'{{ csrf_token }}'},
                  success:function(response) {
                    $("#loaderdiv").hide();
                    //if(response == 1) {
                    if(response != '') {
                        hide_element("myLogin2FAModal");
                        $("#login2faimage").attr("src",response);
                        $('<div class="modal-backdrop"></div>').insertBefore('.account-modal');
                        $("#myLogin2FAPasswordModal").modal('show');
                        //window.location.href = "/login_2fa_password/";
                    }
                    else {
                        $("#errordiv").html("Invalid or user type is not valid for login.").show();
                    }
                  },
                  error:function(response) {
                    $("#loaderdiv").hide();
                    $("#errordiv").html("Invalid or user type is not valid for login.").show();
                  }
              });
          }
      });
      //-------------------------------------------------//
      $("#btnGO2").click(function(e){
          $("#frm2fLoginPassword").submit();
      });
      $("#frm2fLoginPassword .form-control").keyup(function(event){
        if(event.keyCode == 13){
            $("#frm2fLoginPassword").submit();
        }
      });
      $("#frm2fLoginPassword").validate({
          rules: {
            client_password: {
              required: true,
            },
            sai: {
              required: true,
            }
          },
          messages: {
            client_password: {
              required: "Please Enter Client Password",
            },
            sai: {
              required: "Please confirm the image.",
            }
          },
          submitHandler:function(form) {
              $("#loaderdiv2").show();
              $("#errordiv2").hide();
              $.ajax({
                  type:"POST",
                  url:"/check_login_2fa_password/",
                  data:{client_password:$("#client_password").val(), loginpage:'popup', csrfmiddlewaretoken:'{{ csrf_token }}'},
                  success:function(response) {
                    $("#loaderdiv2").hide();
                    if((response.first_question != '') && (response.second_question != '')) {
                        hide_element("myLogin2FAPasswordModal");
                        $("#login2fa_first_question").html(response.first_question);
                        $("#login2fa_second_question").html(response.second_question);
                        $('<div class="modal-backdrop"></div>').insertBefore('.account-modal');
                        $("#myLogin2FAAnswerModal").modal('show');
                        //window.location.href = "/login_2fa_answer/";
                    }
                    else {
                      $("#errordiv2").html("Password didn't matched").show();
                    }
                  },
                  error:function(response) {
                    $("#loaderdiv2").hide();
                    $("#errordiv2").html("Password didn't matched").show();
                  }
              });
          }
      });
      //--------------------------------------------------//
      $("#btnGO3").click(function(e){
          $("#frmLoginAnswer").submit();
      });
      $("#frmLoginAnswer .form-control").keyup(function(event){
        if(event.keyCode == 13){
            $("#frmLoginAnswer").submit();
        }
      });
      $("#frmLoginAnswer").validate({
          rules: {
            first_answer: {
              required: true,
            },
            second_answer: {
              required: true
            }
          },
          messages: {
            first_answer: {
              required: "Please Enter First Answer",
            },
            second_answer: {
              required: "Please Enter Second Answer"
            }
          },
          submitHandler:function(form) {
              $("#loaderdiv3").show();
              $("#errordiv3").hide();
              $.ajax({
                  type:"POST",
                  url:"/get_valid_ans/",
                  data:{first_answer:$("#first_answer").val(), second_answer:$("#second_answer").val(), loginpage:'popup', csrfmiddlewaretoken:'{{ csrf_token }}'},
                  success:function(response) {
                    $("#loaderdiv3").hide();
                    if(response == 1) {
                        hide_element("myLogin2FAAnswerModal");
                        window.location.reload();
                    }
                    else {
                      $("#errordiv3").html("Answers does not matched").show();
                    }
                  },
                  error:function(response) {
                    $("#loaderdiv3").hide();
                    $("#errordiv3").html("Answers does not matched").show();
                  }
              });
          }
      });
      //-------------------------------------------------//


});
</script>


<style type="text/css">
    .modal-backdrop.in {
        opacity: 0.9!important;
    }
</style>