{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>Investak - New world of investing</title>
<meta http-equiv="no-cache">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<!--<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>  font-family: 'Roboto', sans-serif;-->
<link rel="icon" href="{% static "investak/images/favicon.png" %}" sizes="16x16" type="image/16x16.png">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"> <!--font-family: 'Open Sans', sans-serif;-->

<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/bootstrap-material-design.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/font-awesome/css/font-awesome.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/bootstrap-datetimepicker.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/jquery.dropdown.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "frontend/dashboard/dist/css/jquery-ui.css" %}">
{% if user_profile_details_arr.0.stat == "1" %}
<link href="{% static "investak/dist/css/style_s.css" %}" rel="stylesheet">
{% endif %}
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/styles.css" %}?v=1.16">
<link href="{% static "investak/dist/css/toggle.css" %}?v=1.3" rel="stylesheet">
<script src="{% static "investak/dist/js/jquery.1.11.3.min.js" %}" type="text/javascript"></script>

<script type="text/javascript" src="{% static "investak/dist/js/material.min.js" %}"></script>
<script type="text/javascript" src="{% static "investak/dist/js/ripples.min.js" %}"></script>
<script type="text/javascript" src="{% static "investak/dist/js/bootstrap-datetimepicker.js" %}"></script>
<script type="text/javascript" src="{% static "investak/dist/js/jquery.dropdown.js" %}"></script>
<script type="text/javascript" src="{% static "investak/dist/js/jquery.slimscroll.js" %}"></script>
<script>
  $.material.init();
</script>

<script type="text/javascript">
    
    function fullviewtxt(){
        $(".see_less").hide();
        
        $(".see_more").click(function(e) {
            $(".view_more_area").slideDown(300);
            $(".see_less").show();
            $(this).hide();
        });
        
        $(".see_less").click(function(e) {
            $(".view_more_area").slideUp(300);
            $(this).hide();
            $(".see_more").show();
        });
        
    }
    
    
    $(document).ready(function(e) {
        
        
        $('.panel').on('show.bs.collapse', function (e) {
            //alert('Event fired on #' + e.currentTarget.id);
            $(this).find('.more-less').toggleClass("glyphicon-plus glyphicon-minus");
            //$(this).find('.more-less').toggleClass("fa-plus fa-minus");
        })
        
        $('.panel').on('hidden.bs.collapse', function (e) {
            //alert('Event fired on1 #' + e.currentTarget.id);
            $(this).find('.more-less').toggleClass("glyphicon-minus glyphicon-plus");
            //$(this).find('.more-less').toggleClass("fa-plus fa-minus");
        })
        
        
        
        fullviewtxt();
        //accridians();
        $("#dropdown-menu select").dropdown();
        
    });
    
    
    
            
</script>

</head>
<body>