{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>Investak - New world of investing</title>
<meta http-equiv="no-cache">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta content="" name="description"/>
<meta content="" name="author"/>

<!-- BEGIN GLOBAL MANDATORY STYLES -->
<!--<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>  font-family: 'Roboto', sans-serif;-->
<link rel="icon" href="{% static "investak/images/favicon.png" %}" sizes="16x16" type="image/16x16.png">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"> <!--font-family: 'Open Sans', sans-serif;-->

<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/bootstrap-material-design.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/font-awesome/css/font-awesome.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/bootstrap-datetimepicker.css" %}">

<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/jquery.dropdown.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/jquery-ui.css" %}" />

<link rel="stylesheet" type="text/css" media="screen" href="{% static "investak/dist/css/styles.css" %}?v=1.16" />

<link href="{% static "investak/dist/ion.rangeSlider-2.1.2/css/ion.rangeSlider.css" %}" rel="stylesheet">
<link href="{% static "investak/dist/ion.rangeSlider-2.1.2/css/ion.rangeSlider.skinHTML5.css" %}" rel="stylesheet">

<link href="{% static "investak/dist/css/toggle.css" %}?v=1.3" rel="stylesheet">
<script type="text/javascript" src="{% static 'frontend/js/bank_jquery-2.1.4.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/jquery-ui.js' %}"></script>

{% if user_profile_details_arr.0.stat == "1" %}
<link href="{% static "investak/dist/css/style_s.css" %}" rel="stylesheet">
{% endif %}
<script src="{% static "investak/dist/js/jquery.1.11.3.min.js" %}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/flexisel.css" %}">
<script type="text/javascript" src="{% static "investak/dist/js/jquery.flexisel.js" %}"></script>

<script type="text/javascript" src="{% static "investak/dist/js/material.min.js" %}"></script>
<script type="text/javascript" src="{% static "investak/dist/js/ripples.min.js" %}"></script>
<script type="text/javascript" src="{% static "investak/dist/js/jquery.dropdown.js" %}"></script>
<script type="text/javascript" src="{% static "investak/dist/ion.rangeSlider-2.1.2/js/ion-rangeSlider/ion.rangeSlider.min.js" %}"></script>
<script type="text/javascript" src="{% static "investak/dist/js/jquery.slimscroll.js" %}"></script>

<script>
    $.material.init();
    function createjscssfile(filename, filetype){
        if (filetype=="js"){ //if filename is a external JavaScript file
            var fileref=document.createElement('script')
            fileref.setAttribute("type","text/javascript")
            fileref.setAttribute("src", filename)
        }
        else if (filetype=="css"){ //if filename is an external CSS file
            var fileref=document.createElement("link")
            fileref.setAttribute("rel", "stylesheet")
            fileref.setAttribute("type", "text/css")
            fileref.setAttribute("href", filename)
        }
        return fileref
    }
    function replacejscssfile(oldfilename, newfilename, filetype){
        var targetelement=(filetype=="js")? "script" : (filetype=="css")? "link" : "none" //determine element type to create nodelist using
        var targetattr=(filetype=="js")? "src" : (filetype=="css")? "href" : "none" //determine corresponding attribute to test for
        var allsuspects=document.getElementsByTagName(targetelement)
        for (var i=allsuspects.length; i>=0; i--){ //search backwards within nodelist for matching elements to remove
            if (allsuspects[i] && allsuspects[i].getAttribute(targetattr)!=null && allsuspects[i].getAttribute(targetattr).indexOf(oldfilename)!=-1){
                var newelement=createjscssfile(newfilename, filetype)
                allsuspects[i].parentNode.replaceChild(newelement, allsuspects[i])
            }
        }
    }
    /* check if it is windows system and browser is safari */
    if(navigator.platform.indexOf('Win') > -1 && (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1)){
        //console.log("safari");
        var newelement=createjscssfile("/static/investak/dist/css/safari.css", "css");
        suspect = document.getElementsByTagName("link")[0];
        suspect.parentNode.appendChild(newelement);
    } else {
        //console.log("Not safari");
    }

</script>

<script type="text/javascript">

    function fullviewtxt(){
        $(".see_less").hide();

        $(".see_more").click(function(e) {
            $(".view_more_area").slideDown(300);
            $(".see_less").show();
            $(this).hide();
        });

        $(".see_less").click(function(e) {
            $(".view_more_area").slideUp(300);
            $(this).hide();
            $(".see_more").show();
        });

    }
    function gridslistviews(){
        $(".icon_sets").find('.list_con').click(function(e) {
            $("#sort_select_box").hide();
            $(".list_views").fadeIn();
            $(".grid_views").fadeOut();
            $(".grid_con").removeClass("icon_actives");
            $(".list_con").addClass("icon_actives");
        });

        $(".icon_sets").find('.grid_con').click(function(e) {
            $("#sort_select_box").show();
            $(".list_views").fadeOut();
            $(".grid_views").fadeIn();
            $(".list_con").removeClass("icon_actives");
            $(".grid_con").addClass("icon_actives");
        });

    } 
 
    $(function(){
        /* var page = window.location.pathname.split("/").pop();
        if(page == "user_dashboard") $(".se-pre-con").hide(); */
    });
        $(window).on('load resize', function(){ 
          // This will execute whenever the window is resized
          if($(window).width() > 768){
            $(".onclickMob").hide();
          } else {
             $(".onclickMob").show();
          }
          //if($(window).width() == 768){
            /*$(".mobile_arrow").click(function(){
                $(".mobiles_toggle").toggle();
            });*/
          //}
        });  

    $(document).ready(function(e) {

        $('.panel').on('show.bs.collapse', function (e) {
            $(this).find('.more-less').toggleClass("glyphicon-plus glyphicon-minus");
        });

        $('.panel').on('hidden.bs.collapse', function (e) {
            $(this).find('.more-less').toggleClass("glyphicon-minus glyphicon-plus");
        })
       $('html').prop('class','');

    });

    function accrodian_box(){

        $('#accordion .panel-heading').find("a").click(function() {

            $(this).parent().parent().next().slideToggle();
            $(this).find('.more-less').toggleClass("glyphicon-plus glyphicon-minus");

            return false;
        });

    }
    var item_0 = 2;
    var item_1 = 2;
    var item_2 = 2;
    var item_3 = 2;
    /* showcase cluster function */
    function request_cluster_from_db_0(item){
        if(String(window.location.pathname) == "/user_dashboard/" && item != -1){
            data_str = (item != 0)?item:0;
            /*if(call == 1){
                setTimeout(function(){
                    $("#flexiselDemo").css("left", "0px"); 
                    $("#flexiselDemo").css("display", "block");
                },500);
            }*/

            $.ajax({
                url : '/get_dashboard_content_0/',
                type : "GET",
                //contentType: false,
                //cache: false,
                data : {item : data_str},
                dataType : "json",
                beforeSend : function(){
                    $("#flexiselDemo").parent().block({
                        message: '<img src="/static/investak/images/loader1.gif" />',
                        css : {width : "100%", height : "100%", "margin-top" :"10%"}
                    });
                },
                success: function(data){
                    $("#flexiselDemo").parent().unblock();
                    item_0 = data.count > 0?data.start:-1;
                    $("#flexiselDemo").append(data.thirty_day_winners_list_str);
                    flexiselDemo_cnt = $("#flexiselDemo>li").length;
                    //if(flexiselDemo_cnt > 1){
                        
                    //}
                    if(flexiselDemo_cnt < 5 && $(window).width() >= 768){ 
                        if(call == 1){
                            $("#flexiselDemo").flexisel({
                                visibleItems: 5,
                                animationSpeed: 1000,
                                autoPlay: false,
                                autoPlaySpeed: 3000,
                                pauseOnHover: false,
                                enableResponsiveBreakpoints: true,
                                responsiveBreakpoints: {
                                    portrait: {
                                        changePoint:480,
                                        visibleItems: 1
                                    },
                                    landscape: {
                                        changePoint:640,
                                        visibleItems: 2
                                    },
                                    tablet: {
                                        changePoint:1024,
                                        visibleItems: 4
                                    },
                                    tablet: {
                                        changePoint:1170,
                                        visibleItems: 4
                                    }
                                }
                            }); 
                            flexiselDemo = [];
                            $("#flexiselDemo>li").each(function(){
                                var data_id = $(this).attr("data-id");
                                if($.inArray(data_id,flexiselDemo) == -1){
                                    flexiselDemo.push(data_id);
                                } else {
                                    $(this).remove();
                                }
                            });
                            /*setTimeout(function(){
                                $("#flexiselDemo").css("left", "0px"); 
                                $("#flexiselDemo").css("display", "block");
                            },500);*/
                        }
                    } else {
                        if(call == 1){    
                            $("#flexiselDemo").flexisel({
                                visibleItems: 5,
                                animationSpeed: 1000,
                                autoPlay: false,
                                autoPlaySpeed: 3000,
                                pauseOnHover: false,
                                enableResponsiveBreakpoints: true,
                                responsiveBreakpoints: {
                                    portrait: {
                                        changePoint:480,
                                        visibleItems: 1
                                    },
                                    landscape: {
                                        changePoint:640,
                                        visibleItems: 2
                                    },
                                    tablet: {
                                        changePoint:1024,
                                        visibleItems: 4
                                    },
                                    tablet: {
                                        changePoint:1170,
                                        visibleItems: 4
                                    }
                                }
                            });
                            flexiselDemo = [];
                            $("#flexiselDemo>li").each(function(){
                                var data_id = $(this).attr("data-id");
                                if($.inArray(data_id,flexiselDemo) == -1){
                                    //console.log(data_id);
                                    flexiselDemo.push(data_id);
                                } else {
                                    $(this).remove();
                                }
                            });
                            /*setTimeout(function(){
                                $("#flexiselDemo").css("left", "0px"); 
                                $("#flexiselDemo").css("display", "block");
                            },500);*/
                        }
                        /*if(call == 1){
                            setTimeout(function(){
                                $("#flexiselDemo").css("left", "0px"); 
                                $("#flexiselDemo").css("display", "block");
                            },500);
                        }*/
                    }
                    
                    /* lazy load */
                    [].forEach.call(document.querySelectorAll('img[data-src]'), function(img) {
                        img.setAttribute('src', img.getAttribute('data-src'));
                        img.onload = function() {
                            /*console.log(img.getAttribute('data-src'));*/
                            img.removeAttribute('data-src');
                            if(call == 1){
                                //setTimeout(function(){
                                    //$("#flexiselDemo").css("left", "0px"); 
                                    //$("#flexiselDemo").css("display", "block");
                                //},500);
                            }
                        };
                    });
                },
                error: function(){
                    $("#flexiselDemo").parent().unblock();
                    $("#flexiselDemo").next().html('<p align="center">NO STAK FOUND</p>');
                }
            }).then(function(data){
                /*if(call == 1){
                    setTimeout(function(){
                        $("#flexiselDemo").css("left", "0px"); 
                        $("#flexiselDemo").css("display", "block");
                    },2000);
                }*/
                if(call == 1){
                    call = 2;
                    request_cluster_from_db_1(0);
                }
            });
        }
    }
    function request_cluster_from_db_1(item){
        if(String(window.location.pathname) == "/user_dashboard/" && item != -1){
            data_str = (item != 0)?item:0;
            /*if(call == 2){
                setTimeout(function(){
                    
                },500);
            }*/
            $.ajax({
                url : '/get_dashboard_content_1/',
                type : "GET",
                //contentType: false,
                //cache: false,
                data : {item : data_str},
                dataType : "json",
                beforeSend : function(){
                    $("#flexiselDemo1").parent().block({
                        message: '<img src="/static/investak/images/loader1.gif" />',
                        css : {width : "100%", height : "100%", "margin-top" :"10%"}
                    });
                },
                success: function(data){
                    $("#flexiselDemo1").parent().unblock()
                    item_1 = data.count > 0?data.start:-1;
                    $("#flexiselDemo1").append(data.thirty_day_loosers_list_str);
                    
                    
                    flexiselDemo1_cnt = $("#flexiselDemo1>li").length;
                    /*if(call == 2){   
                        if(flexiselDemo1_cnt > 1){
                        
                            $("#flexiselDemo1").css("left", "0px"); 
                            $("#flexiselDemo1").css("display", "block");
                        }
                    }*/
                    if(flexiselDemo1_cnt < 5 && $(window).width() >= 768){
                        if(call == 2){
                            $("#flexiselDemo1").flexisel({
                                visibleItems: 5,
                                animationSpeed: 1000,
                                autoPlay: false,
                                autoPlaySpeed: 3000,
                                pauseOnHover: false,
                                enableResponsiveBreakpoints: true,
                                responsiveBreakpoints: {
                                    portrait: {
                                        changePoint:480,
                                        visibleItems: 1
                                    },
                                    landscape: {
                                        changePoint:640,
                                        visibleItems: 2
                                    },
                                    tablet: {
                                        changePoint:1024,
                                        visibleItems: 4
                                    },
                                    tablet: {
                                        changePoint:1170,
                                        visibleItems: 4
                                    }
                                }
                            });
                            flexiselDemo1 = [];
                            $("#flexiselDemo1>li").each(function(){
                                var data_id = $(this).attr("data-id");
                                if($.inArray(data_id,flexiselDemo1) == -1){
                                    flexiselDemo1.push(data_id);
                                } else {
                                    $(this).remove();
                                }
                            });
                            /*setTimeout(function(){
                                $("#flexiselDemo1").css("left", "0px"); 
                                $("#flexiselDemo1").css("display", "block");
                            },500);*/    
                        }
                    } else {
                        if(call == 2){
                            $("#flexiselDemo1").flexisel({
                                visibleItems: 5,
                                animationSpeed: 1000,
                                autoPlay: false,
                                autoPlaySpeed: 3000,
                                pauseOnHover: false,
                                enableResponsiveBreakpoints: true,
                                responsiveBreakpoints: {
                                    portrait: {
                                        changePoint:480,
                                        visibleItems: 1
                                    },
                                    landscape: {
                                        changePoint:640,
                                        visibleItems: 2
                                    },
                                    tablet: {
                                        changePoint:1024,
                                        visibleItems: 4
                                    },
                                    tablet: {
                                        changePoint:1170,
                                        visibleItems: 4
                                    }
                                }
                            });
                            flexiselDemo1 = [];
                            $("#flexiselDemo1>li").each(function(){
                                var data_id = $(this).attr("data-id");
                                if($.inArray(data_id,flexiselDemo1) == -1){
                                    flexiselDemo1.push(data_id);
                                } else {
                                    $(this).remove();
                                }
                            });
                            /*setTimeout(function(){
                                $("#flexiselDemo1").css("left", "0px"); 
                                $("#flexiselDemo1").css("display", "block");
                            },500);*/    
                        }
                    }
                    /* lazy load */
                    [].forEach.call(document.querySelectorAll('img[data-src]'), function(img) {
                        img.setAttribute('src', img.getAttribute('data-src'));
                        img.onload = function() {
                            /*console.log(img.getAttribute('data-src'));*/
                            img.removeAttribute('data-src');
                        };
                    });
                },
                error: function(){
                    $("#flexiselDemo1").parent().unblock();
                    $("#flexiselDemo1").next().html('<p align="center">NO STAK FOUND</p>');
                }
            }).then(function(data){
                /*if(call == 1){
                    setTimeout(function(){
                        $("#flexiselDemo1").css("left", "0px"); 
                        $("#flexiselDemo1").css("display", "block");
                    },2000);
                }*/
                if(call == 2){
                    call = 3;
                    request_cluster_from_db_2(0);
                }
            });
        }
    }
    function request_cluster_from_db_2(item){
        if(String(window.location.pathname) == "/user_dashboard/" && item != -1){
            data_str = (item != 0)?item:0;
            /*if(call == 3){
                setTimeout(function(){
                    $("#flexiselDemo2").css("left", "0px"); 
                    $("#flexiselDemo2").css("display", "block");
                },500);
            }*/
            $.ajax({
                url : '/get_dashboard_content_2/',
                type : "GET",
                //contentType: false,
                //cache: false,
                data : {item : data_str},
                dataType : "json",
                beforeSend : function(){
                    $("#flexiselDemo2").parent().block({
                        message: '<img src="/static/investak/images/loader1.gif" />',
                        css : {width : "100%", height : "100%", "margin-top" :"10%"}
                    });
                },
                success: function(data){
                    $("#flexiselDemo2").parent().unblock();
                    item_2 = data.count > 0?data.start:-1;
                    $("#flexiselDemo2").append(data.my_watch_list_str);
                    
                    
                    flexiselDemo2_cnt = $("#flexiselDemo2>li").length;
                    /*if(call == 3){
                        if(flexiselDemo_cnt2 > 1){
                            $("#flexiselDemo2").css("left", "0px"); 
                            $("#flexiselDemo2").css("display", "block");
                        }
                    }*/

                    if(flexiselDemo2_cnt < 5 && $(window).width() >= 768){
                        if(call == 3){
                            $("#flexiselDemo2").flexisel({
                                visibleItems: 5,
                                animationSpeed: 1000,
                                autoPlay: false,
                                autoPlaySpeed: 3000,
                                pauseOnHover: false,
                                enableResponsiveBreakpoints: true,
                                responsiveBreakpoints: {
                                    portrait: {
                                        changePoint:480,
                                        visibleItems: 1
                                    },
                                    landscape: {
                                        changePoint:640,
                                        visibleItems: 2
                                    },
                                    tablet: {
                                        changePoint:1024,
                                        visibleItems: 4
                                    },
                                    tablet: {
                                        changePoint:1170,
                                        visibleItems: 4
                                    }
                                }
                            });    
                            flexiselDemo2 = [];
                            $("#flexiselDemo2>li").each(function(){
                                var data_id = $(this).attr("data-id");
                                if($.inArray(data_id,flexiselDemo2) == -1){
                                    flexiselDemo2.push(data_id);
                                } else {
                                    $(this).remove();
                                }
                            });
                            /*setTimeout(function(){
                                $("#flexiselDemo2").css("left", "0px"); 
                                $("#flexiselDemo2").css("display", "block");
                            },500);*/
                        }
                    } else {
                        if(call == 3){
                            $("#flexiselDemo2").flexisel({
                                visibleItems: 5,
                                animationSpeed: 1000,
                                autoPlay: false,
                                autoPlaySpeed: 3000,
                                pauseOnHover: false,
                                enableResponsiveBreakpoints: true,
                                responsiveBreakpoints: {
                                    portrait: {
                                        changePoint:480,
                                        visibleItems: 1
                                    },
                                    landscape: {
                                        changePoint:640,
                                        visibleItems: 2
                                    },
                                    tablet: {
                                        changePoint:1024,
                                        visibleItems: 4
                                    },
                                    tablet: {
                                        changePoint:1170,
                                        visibleItems: 4
                                    }
                                }
                            });
                            flexiselDemo2 = [];
                            $("#flexiselDemo2>li").each(function(){
                                var data_id = $(this).attr("data-id");
                                if($.inArray(data_id,flexiselDemo2) == -1){
                                    flexiselDemo2.push(data_id);
                                } else {
                                    $(this).remove();
                                }
                            });
                            /*setTimeout(function(){
                                $("#flexiselDemo2").css("left", "0px"); 
                                $("#flexiselDemo2").css("display", "block");
                            },500);*/
                        }
                    }
                    
                    /* lazy load */
                    [].forEach.call(document.querySelectorAll('img[data-src]'), function(img) {
                        img.setAttribute('src', img.getAttribute('data-src'));
                        img.onload = function() {
                            /*console.log(img.getAttribute('data-src'));*/
                            img.removeAttribute('data-src');
                        };
                    });
                    
                    if(call == 3){
                        call = 4;
                        request_cluster_from_db_3(0);
                    }
                },
                error: function(){
                    $("#flexiselDemo2").parent().unblock();
                    $("#flexiselDemo2").next().html('<p align="center">NO STAK FOUND</p>');
                }
            });
        }
    }
    function request_cluster_from_db_3(item){
        if(String(window.location.pathname) == "/user_dashboard/" && item != -1){
            data_str = (item != 0)?item:0;
            /*if(call == 4){
                setTimeout(function(){
                    $("#flexiselDemo3").css("left", "0px"); 
                    $("#flexiselDemo3").css("display", "block");
                },500);
            }*/
            $.ajax({
                url : '/get_dashboard_content_3/',
                type : "GET",
                //contentType: false,
                //cache: false,
                data : {item : data_str},
                dataType : "json",
                beforeSend : function(){
                    $("#flexiselDemo3").parent().block({
                        message: '<img src="/static/investak/images/loader1.gif" />',
                        css : {width : "100%", height : "100%", "margin-top" :"10%"}
                    });
                },
                success: function(data){
                    $("#flexiselDemo3").parent().unblock();
                    item_3 = data.count > 0?data.start:-1;
                    $("#flexiselDemo3").append(data.my_built_cluster_str);
                    flexiselDemo3_cnt = $("#flexiselDemo3>li").length;
                    /*if(call == 4){
                        if(flexiselDemo3_cnt > 1){
                            $("#flexiselDemo3").css("left", "0px"); 
                            $("#flexiselDemo3").css("display", "block");
                        }
                    }*/

                    if(flexiselDemo3_cnt < 5 && $(window).width() >= 768){
                        if(call == 4){
                            $("#flexiselDemo3").flexisel({
                                visibleItems: 5,
                                animationSpeed: 1000,
                                autoPlay: false,
                                autoPlaySpeed: 3000,
                                pauseOnHover: false,
                                enableResponsiveBreakpoints: true,
                                responsiveBreakpoints: {
                                    portrait: {
                                        changePoint:480,
                                        visibleItems: 1
                                    },
                                    landscape: {
                                        changePoint:640,
                                        visibleItems: 2
                                    },
                                    tablet: {
                                        changePoint:1024,
                                        visibleItems: 4
                                    },
                                    tablet: {
                                        changePoint:1170,
                                        visibleItems: 4
                                    }
                                }
                            });
                            flexiselDemo3 = [];
                            $("#flexiselDemo3>li").each(function(){
                                var data_id = $(this).attr("data-id");
                                if($.inArray(data_id,flexiselDemo3) == -1){
                                    flexiselDemo3.push(data_id);
                                } else {
                                    $(this).remove();
                                }
                            });
                            /*setTimeout(function(){
                                $("#flexiselDemo3").css("left", "0px"); 
                                $("#flexiselDemo3").css("display", "block");
                            },500);*/
                        }
                    } else {
                        if(call == 4){
                            $("#flexiselDemo3").flexisel({
                                visibleItems: 5,
                                animationSpeed: 1000,
                                autoPlay: false,
                                autoPlaySpeed: 3000,
                                pauseOnHover: false,
                                enableResponsiveBreakpoints: true,
                                responsiveBreakpoints: {
                                    portrait: {
                                        changePoint:480,
                                        visibleItems: 1
                                    },
                                    landscape: {
                                        changePoint:640,
                                        visibleItems: 2
                                    },
                                    tablet: {
                                        changePoint:1024,
                                        visibleItems: 4
                                    },
                                    tablet: {
                                        changePoint:1170,
                                        visibleItems: 4
                                    }
                                }
                            });
                            flexiselDemo3 = [];
                            $("#flexiselDemo3>li").each(function(){
                                var data_id = $(this).attr("data-id");
                                if($.inArray(data_id,flexiselDemo3) == -1){
                                    flexiselDemo3.push(data_id);
                                } else {
                                    $(this).remove();
                                }
                            });
                            /*setTimeout(function(){
                                $("#flexiselDemo3").css("left", "0px"); 
                                $("#flexiselDemo3").css("display", "block");
                            },500);*/
                        }
                    }
                    
                    /* lazy load */
                    [].forEach.call(document.querySelectorAll('img[data-src]'), function(img) {
                        img.setAttribute('src', img.getAttribute('data-src'));
                        img.onload = function() {
                            /*console.log(img.getAttribute('data-src'));*/
                            img.removeAttribute('data-src');
                        };
                    });
                    call = 5;
                },
                error: function(){
                    $("#flexiselDemo3").parent().unblock();
                    $("#flexiselDemo3").next().html('<p align="center">NO STAK FOUND</p>');
                }
            });
        }
    }

    function request_cluster_from_db(){
        if(String(window.location.pathname) == "/user_dashboard/"){
            $.ajax({
                url : '/get_dashboard_content_3/',
                type : "GET",
                //contentType: false,
                //cache: false,
                dataType : "json",
                success: function(data){
                    $("#flexiselDemo").html(data.thirty_day_winners_list_str);
                    $("#flexiselDemo1").html(data.thirty_day_loosers_list_str);
                    $("#flexiselDemo2").html(data.my_watch_list_str);
                    $("#flexiselDemo3").html(data.my_built_cluster_str);
                    flexiselDemo_cnt = $("#flexiselDemo>li").length;
                    flexiselDemo1_cnt = $("#flexiselDemo1>li").length;
                    flexiselDemo2_cnt = $("#flexiselDemo2>li").length;
                    flexiselDemo3_cnt = $("#flexiselDemo3>li").length;
                    //if(flexiselDemo_cnt > 1){
                        $("#flexiselDemo").flexisel({
                            visibleItems: 5,
                            animationSpeed: 1000,
                            autoPlay: false,
                            autoPlaySpeed: 3000,
                            pauseOnHover: false,
                            enableResponsiveBreakpoints: true,
                            responsiveBreakpoints: {
                                portrait: {
                                    changePoint:480,
                                    visibleItems: 1
                                },
                                landscape: {
                                    changePoint:640,
                                    visibleItems: 2
                                },
                                tablet: {
                                    changePoint:1024,
                                    visibleItems: 4
                                },
                                tablet: {
                                    changePoint:1170,
                                    visibleItems: 4
                                }
                            }
                        });
                    //}
                    if(flexiselDemo_cnt < 5 && $(window).width() >= 768){
                        flexiselDemo = [];
                        $("#flexiselDemo>li").each(function(){
                            var data_id = $(this).attr("data-id");
                            if($.inArray(data_id,flexiselDemo) == -1){
                                flexiselDemo.push(data_id);
                            } else {
                                $(this).remove();
                            }
                        });
                        setTimeout(function(){
                            $("#flexiselDemo").css("left", "0px"); 
                            $("#flexiselDemo").css("display", "block");
                        },500);
                    }
                    /*$(".nbs-flexisel-nav-right").click(function(){
                        alert("hi right");
                    });
                    $(".nbs-flexisel-nav-left").click(function(){
                        alert("hi left");
                    });*/
                    //if(flexiselDemo1_cnt > 1){
                        $("#flexiselDemo1").flexisel({
                            visibleItems: 5,
                            animationSpeed: 1000,
                            autoPlay: false,
                            autoPlaySpeed: 3000,
                            pauseOnHover: false,
                            enableResponsiveBreakpoints: true,
                            responsiveBreakpoints: {
                                portrait: {
                                    changePoint:480,
                                    visibleItems: 1
                                },
                                landscape: {
                                    changePoint:640,
                                    visibleItems: 2
                                },
                                tablet: {
                                    changePoint:1024,
                                    visibleItems: 4
                                },
                                tablet: {
                                    changePoint:1170,
                                    visibleItems: 4
                                }
                            }
                        });
                    //}
                    if(flexiselDemo1_cnt < 5 && $(window).width() >= 768){
                        flexiselDemo1 = [];
                        $("#flexiselDemo1>li").each(function(){
                            var data_id = $(this).attr("data-id");
                            if($.inArray(data_id,flexiselDemo1) == -1){
                                flexiselDemo1.push(data_id);
                            } else {
                                $(this).remove();
                            }
                        });
                        setTimeout(function(){
                            $("#flexiselDemo1").css("left", "0px"); 
                            $("#flexiselDemo1").css("display", "block");
                        },500);    
                    }
                    //if(flexiselDemo_cnt2 > 1){
                        $("#flexiselDemo2").flexisel({
                            visibleItems: 5,
                            animationSpeed: 1000,
                            autoPlay: false,
                            autoPlaySpeed: 3000,
                            pauseOnHover: false,
                            enableResponsiveBreakpoints: true,
                            responsiveBreakpoints: {
                                portrait: {
                                    changePoint:480,
                                    visibleItems: 1
                                },
                                landscape: {
                                    changePoint:640,
                                    visibleItems: 2
                                },
                                tablet: {
                                    changePoint:1024,
                                    visibleItems: 4
                                },
                                tablet: {
                                    changePoint:1170,
                                    visibleItems: 4
                                }
                            }
                        });
                    //}
                    if(flexiselDemo2_cnt < 5 && $(window).width() >= 768){
                        flexiselDemo2 = [];
                        $("#flexiselDemo2>li").each(function(){
                            var data_id = $(this).attr("data-id");
                            if($.inArray(data_id,flexiselDemo2) == -1){
                                flexiselDemo2.push(data_id);
                            } else {
                                $(this).remove();
                            }
                        });
                        setTimeout(function(){
                            $("#flexiselDemo2").css("left", "0px"); 
                            $("#flexiselDemo2").css("display", "block");
                        },500);
                    }
                    //if(flexiselDemo3_cnt > 1){
                        $("#flexiselDemo3").flexisel({
                            visibleItems: 5,
                            animationSpeed: 1000,
                            autoPlay: false,
                            autoPlaySpeed: 3000,
                            pauseOnHover: false,
                            enableResponsiveBreakpoints: true,
                            responsiveBreakpoints: {
                                portrait: {
                                    changePoint:480,
                                    visibleItems: 1
                                },
                                landscape: {
                                    changePoint:640,
                                    visibleItems: 2
                                },
                                tablet: {
                                    changePoint:1024,
                                    visibleItems: 4
                                },
                                tablet: {
                                    changePoint:1170,
                                    visibleItems: 4
                                }
                            }
                        });
                    //}
                    if(flexiselDemo3_cnt < 5 && $(window).width() >= 768){
                        flexiselDemo3 = [];
                        $("#flexiselDemo3>li").each(function(){
                            var data_id = $(this).attr("data-id");
                            if($.inArray(data_id,flexiselDemo3) == -1){
                                flexiselDemo3.push(data_id);
                            } else {
                                $(this).remove();
                            }
                        });
                        setTimeout(function(){
                            $("#flexiselDemo3").css("left", "0px"); 
                            $("#flexiselDemo3").css("display", "block");
                        },500);
                    }

                    /* lazy load */
                    [].forEach.call(document.querySelectorAll('img[data-src]'), function(img) {
                        img.setAttribute('src', img.getAttribute('data-src'));
                        img.onload = function() {
                            /*console.log(img.getAttribute('data-src'));*/
                            img.removeAttribute('data-src');
                        };
                    });
                },
                error: function(){
                    alert("Error");
                }
            });
        }
    }
    var call = 1;
    $(document).on("click",".nbs-flexisel-nav-right",function(){
        if($(this).siblings(".nbs-flexisel-inner").find("#flexiselDemo").length > 0){
            //request_cluster_from_db_0(item_0)
        }
        else if($(this).siblings(".nbs-flexisel-inner").find("#flexiselDemo1").length > 0){
            //request_cluster_from_db_1(item_1)
        }
        else if($(this).siblings(".nbs-flexisel-inner").find("#flexiselDemo2").length > 0){
            request_cluster_from_db_2(item_2)
        }
        else if($(this).siblings(".nbs-flexisel-inner").find("#flexiselDemo3").length > 0){
            request_cluster_from_db_3(item_3)
        }
    });
    $(document).ready(function(e){
        /*$("#flexiselDemo").css("left", "0px"); 
        $("#flexiselDemo1").css("left", "0px"); 
        $("#flexiselDemo2").css("left", "0px"); 
        $("#flexiselDemo3").css("left", "0px");*/
        $(document).scroll(function(){ 
            /*var win_vis = $(document).scrollTop()+$(window).height();
            if(win_vis>$("#flexiselDemo").offset().top && win_vis<=$("#flexiselDemo1").offset().top){
                console.log((call == 1)+"hi");
                if(call == 1){
                    console.log(call);
                    request_cluster_from_db_0();
                }
            }
            else if(win_vis>$("#flexiselDemo1").offset().top && win_vis<=$("#flexiselDemo2").offset().top){
                console.log(call == 2);
                if(call == 2){
                    console.log(call);
                    //call = 3;
                    request_cluster_from_db_1();
                }
            }
            else if(win_vis>$("#flexiselDemo2").offset().top && win_vis<=$("#flexiselDemo3").offset().top){
                console.log(call+"#");
                if(call == 3){
                    console.log(call);
                    //call = 4;
                    request_cluster_from_db_2();
                }
            }
            else if(win_vis>$("#flexiselDemo3").offset().top){
                console.log(call+"%");
                if(call == 4){
                    console.log(call);
                    //call = 5;
                    request_cluster_from_db_3();
                }
            }*/
          
        });
        // show case clusters 
        //request_cluster_from_db();    
        request_cluster_from_db_0(0);
        fullviewtxt();
        gridslistviews();
        /*$("#flexiselDemo").flexisel({
            visibleItems: 5,
            animationSpeed: 1000,
            autoPlay: false,
            autoPlaySpeed: 3000,
            pauseOnHover: false,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint:480,
                    visibleItems: 1
                },
                landscape: {
                    changePoint:640,
                    visibleItems: 2
                },
                tablet: {
                    changePoint:1024,
                    visibleItems: 4
                },
                tablet: {
                    changePoint:1170,
                    visibleItems: 4
                }
            }

        });*/
        /*$(".nbs-flexisel-nav-right").click(function(){
            alert("hi right");
        });
        $(".nbs-flexisel-nav-left").click(function(){
            alert("hi left");
        });*/
        /*$("#flexiselDemo1").flexisel({
        visibleItems: 5,
        animationSpeed: 1000,
        autoPlay: false,
        autoPlaySpeed: 3000,
        pauseOnHover: false,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: {
            portrait: {
                changePoint:480,
                visibleItems: 1
            },
            landscape: {
                changePoint:640,
                visibleItems: 2
            },
            tablet: {
                changePoint:1024,
                visibleItems: 4
            },
            tablet: {
                changePoint:1170,
                visibleItems: 4
            }
        }
        });*/

        /*$("#flexiselDemo2").flexisel({
        visibleItems: 5,
        animationSpeed: 1000,
        autoPlay: false,
        autoPlaySpeed: 3000,
        pauseOnHover: false,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: {
            portrait: {
                changePoint:480,
                visibleItems: 1
            },
            landscape: {
                changePoint:640,
                visibleItems: 2
            },
            tablet: {
                changePoint:1024,
                visibleItems: 4
            },
            tablet: {
                changePoint:1170,
                visibleItems: 4
            }
        }
        });*/

        /*$("#flexiselDemo3").flexisel({
        visibleItems: 5,
        animationSpeed: 1000,
        autoPlay: false,
        autoPlaySpeed: 3000,
        pauseOnHover: false,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: {
            portrait: {
                changePoint:480,
                visibleItems: 1
            },
            landscape: {
                changePoint:640,
                visibleItems: 2
            },
            tablet: {
                changePoint:1024,
                visibleItems: 4
            },
            tablet: {
                changePoint:1170,
                visibleItems: 4
            }
        }
        });*/

        /*$("#flexiselDemo4").flexisel({
        visibleItems: 5,
        animationSpeed: 1000,
        autoPlay: false,
        autoPlaySpeed: 3000,
        pauseOnHover: false,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: {
            portrait: {
                changePoint:480,
                visibleItems: 1
            },
            landscape: {
                changePoint:640,
                visibleItems: 2
            },
            tablet: {
                changePoint:1024,
                visibleItems: 4
            },
            tablet: {
                changePoint:1170,
                visibleItems: 4
            }
        }
        });*/

        accrodian_box();
        mobilemenu();
         var tgt = $(document).height();
        $(".before_login_menu_mobile").height(tgt);
    });
    function mobilemenu()
    {
        $(".onclickMob").click(function(e){

            /*e.stopPropagation();
            $('.before_login_menu_mobile').animate({right:0});
            $(".psuh_left").animate({right:240});
            $(this).hide();
            $(".mobmenu").show();
            $(".psuh_left").addClass('opacity');
            $(".psuh_left").addClass('opaleft');*/
            e.stopPropagation();
            var right = $('.before_login_menu_mobile').css('right'); 
            if(parseInt(right) < 0){
                $('.before_login_menu_mobile').animate({right:0});
                $(".psuh_left").animate({right:240});
                $(this).show();
                $(".mobmenu").show();
                $(".psuh_left").addClass('opacity');
                $(".psuh_left").addClass('opaleft');
            } else {
                //console.log("hello");
                $('.before_login_menu_mobile').animate({right:-270});
                $('.before_login_menu_mobile').show();
                $(".psuh_left").animate({right:0});
                $(this).show();
                $(".onclickMob").show();
                $(".psuh_left").removeClass('opacity');
                $(".psuh_left").css('display','block');
            }


        });

        $(".before_login_menu_mobile").click(function(e){
            e.stopPropagation();
        });

        $(".mobmenu").click(function(e){
            $('.before_login_menu_mobile').animate({right:-270});
            $('.before_login_menu_mobile').show();
            $(".psuh_left").animate({right:0});
            $(this).hide();
            $(".onclickMob").show();
            $(".psuh_left").removeClass('opacity');

             //e.stopPropagation();
        });


    }

    $(document).ready(function(){

        var winW = $(window).width();
         //alert(winW);
        if(winW < 768){
               $(".questios").click(function(){
                   $(this).find(".despQust").toggle();
            });
        }else{

        }

        $("#mob_modal_profile").click(function(e){
            $("#modalChangeProfile").modal('show');
        });
        $("#mob_modal_password").click(function(e){
            $("#modalChangePwd").modal('show');
        });
    });
    $(document).on('click','.opacity',function(e){

         var right_value = $('.before_login_menu_mobile').css('right');

            if(right_value == "-270px") {
                $( ".onclickMob" ).trigger( "click" );
            }
            else {
                $('.before_login_menu_mobile').animate({right:-270});
                $('.before_login_menu_mobile').show();
                $(".psuh_left").animate({right:0});
                $(this).hide();
                $(".onclickMob").show();
                $(".psuh_left").removeClass('opacity');
                $(".psuh_left").css('display','block');
            }

            $(".onclickMob").focus();
            $(".mobmenu").hide();
    });
</script>

</head>

<body>

<div class="total_body_area">
    <div class="before_login_menu_mobile">
        {% if is_login == True %}
        <div id="" class="">
            <div class="menu_area">
            <div class="search_box"><input type="text" name="website_search_mob" id="website_search_mob" placeholder="Cluster, Stock etc.."></div>
            <div class="user_area"><a href="javascript:void(0)"><img src="{% if request.session.toggle_button_status == 'live'%}/static/investak/images/user_icon.jpg{%else%}
                    {{ request.session.profile_img }}
                {%endif%}" id="img_user_area"></a>
                <h4>{{ request.session.full_name }}
                <p>
{% if request.session.toggle_button_status == 'live'%}{{request.session.angel_id}}{%else%}
                    {{ request.session.email_id }}
                {%endif%}
                </p></h4>
                <div class="submenu">
                    <a href="javascript:void(0)" id="mob_modal_profile" >View Profile</a>
                    <a href="javascript:void(0)" id="mob_modal_password">Change Password</a>
                    <a href="/watchlist/">Watchlist</a>
                    <a href="/my_built_cluster/">My Built STAKs</a>
                    <a href="/other_cluster/">My Edited STAKs</a>
                    {% ifequal request.session.reg_type "S" %}
                        <a href="/logout/" >Logout</a>
                    {% else %}
                        <a href="/logout/" >Logout</a>
                    {% endifequal %}

                </div>
            </div>

            <ul class="nav navbar-nav">
                <li><a href="/user_dashboard/" {% if request.path == '/user_dashboard/' %}  class="active_logs" {% endif %}>Dashboard</a></li>
                <li><a href="/analyze/" {% if request.path == '/analyze/' %}  class="active_logs" {% endif %}>Analyze</a></li>
                <li><a href="/customize/" {% if request.path == '/customize/' %}  class="active_logs" {% endif %}>Customize</a></li>
                <li><a href="/portfolio/" {% if request.path == '/portfolio/' or request.path == "/portfolio/your_orders" or request.path == "/portfolio/current_investment" or request.path == "/portfolio/past_investment" %}  class="active_logs" {% endif %}>Portfolio</a></li>
            </ul>
            </div>
        </div>
        {% else %}
        <div id="" class="">
            <div class="menu_area">
                <ul class="nav navbar-nav">
                    <li><a href="/#aboutus">about</a></li>
                    <li><a href="/#Analyze">approach</a></li>
                    <li><a href="/#markit2">testimonials</a></li>
                    <li><a href="/#team">team</a></li>
                    <li><a href="/#partners">partners</a></li>
                    <li><a href="/#contactus">contact</a></li>
                    <li><a href="/login/">login</a></li>
                    <li><a href="/signup/">signup</a></li>
                    <h3>Resources</h3>
                    <li><a href="/faq/" style="padding-left:30px !important;">faq</a></li>
                    <li><a href="/news/" style="padding-left:30px !important;">newsroom</a></li>
                </ul>
            </div>
        </div>   
        {% endif %} 
    </div>
    <div class="psuh_left">
<header class="header_area">
{% include 'inner_nav.html' %}
</header>

