{% include 'inner_header.html' %}
{% load staticfiles %}


<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">

<link href="{% static "investak/dist/css/responsive.dataTables.css" %}" rel="stylesheet" type="text/css">
<script type="text/javascript">
    function accridians_portfolio(){
		$(".virtual_table").hide();

		$(".virtualDrops").click(function(e){
			e.preventDefault();
			$(this).parent().parent().next().slideToggle();
			//$(this).parent().parent().prev().slideUp();
			$(this).find('.fa').toggleClass("fa-plus fa-minus");
		});

	}
</script>
<script type="text/javascript">
$(document).ready(function(e){
    accridians_portfolio();
    $("#dropdown-menu select").dropdown();
    data_table();
});
</script>

<script type="text/javascript">

function data_table() {
    if($(window).width()<768)
    {
        $('#tbl_trade_summary_details').DataTable({
           "paging":   false,
            "ordering": false,
            "info":     false,
            "searching": false,
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate,
                    type: ''
                }
            }
        });
    }
}
</script>

<style>
    .trade_summary_mobi_tbl{ display: none; }

    @media (max-width: 768px) {

        .trade_summary_mobi_tbl{ display: block }
        .TradeSummary { display: none; }
    }
</style>

<section>
	<div class="container-fluid">
        <div class="row">

        <!--/.breadcrumb-area -->
            <div class="col-md-12">
                <div class="breadcrumb_area">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/user_dashboard/">Dashboard</a></li>
                  <li class="breadcrumb-item active">Portfolio</li>
                </ol>
                </div>
            </div>
        <!--/.breadcrumb-area -->
        <!--/. body right portion area -->

            <div class="col-md-12">
            	<div class="body_section_area">
                    <div class="virtual_protfolio_area">
                        <div id="exTab1">
                            <ul  class="nav nav-pills">
                                <li id="li_summary"><a href="/summary/">Summary</a></li>
                                <li id="li_current"><a href="/holdings/">Current Holdings</a></li>
                                <li id="li_trade"><a href="/tradebook/">Trade Summary</a></li>
                                <li id="li_order"><a href="/orders/">Orders</a></li>
                            </ul>

                            <div class="tab-content clearfix" id="portfolio_summary">
                                <!-- TRADE SUMMARY STARTS -->
                                <div class="tab-pane" id="TradeSummary" style="display: none;">
                                    <div class="TradeSummary">
                                        <table class="table table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>&nbsp;</th>
                                                    <th style="width:420px;">Cluster Name</th>
                                                    <th>Date</th>
                                                    <th>Types</th>
                                                    <th style="width:230px;">lots | shares</th>
                                                    <th style="text-align:right; padding-right:50px; width:200px;">price</th>
                                                    <th style="text-align:right; padding-right:25px; width:200px;">value</th>
                                                    <th style="width:200px; padding-left:20px;">trade id</th>
                                                </tr>
                                            </thead>

                                            {% if trade_summary_list %}
                                            <tbody>
                                            {% for trade_summary in trade_summary_list %}
                                                <tr style="border-top:2px solid #2486c8 !important;">
                                                    <td style="width:50px;"><a class="virtualDrops" href="#"><i aria-hidden="true" class="fa fa-plus"></i></a></td>
                                                    <td style="width:405px;"><a href="/cluster_list/{{ trade_summary.cluster_id }}">{{ trade_summary.cluster_name }}</a></td>
                                                    <td style="width:255px;">{{ trade_summary.print_order_date }}</td>
                                                    <td style="width:245px;">{{ trade_summary.order_type }}</td>
                                                    <td style="width:200px;">{{ trade_summary.no_of_lots }}</td>
                                                    <td>&nbsp;</td>
                                                    <td style="text-align:right; padding-right:20px;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ trade_summary.minimum_investment }}</td>
                                                    <td style="text-align:left; padding-left:20px;">INV500{{ trade_summary.order_id }}</td>
                                                </tr>

                                                <tr class="virtual_table">
                                                    <td>&nbsp;</td>
                                                    <td colspan="6" class="inner_table">
                                                    <table class="table table-responsive">
                                                        <tbody>
                                                        {% for trade_buy_details in trade_summary.order_buy_details %}
                                                            {% if trade_buy_details.status == 'complete' %}
                                                            <tr>
                                                                <td><a href="/stock_details/{{ trade_buy_details.co_code }}/{{ trade_summary.cluster_id }}">{{ trade_buy_details.co_name }}</a></td>
                                                                <td>{{ trade_buy_details.print_order_date }}</td>
                                                                <td>{{ trade_buy_details.no_of_share }}</td>
                                                                <td> </td>
                                                                <td style="padding:0px 20px; text-align: right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ trade_buy_details.unit_price }}</td>
                                                                <td style="padding:0px 20px; text-align: right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ trade_buy_details.value }}</td>
                                                            </tr>
                                                            {% else %}
                                                            <tr style="color:#c9c9c9;">
                                                                <td>{{ trade_buy_details.co_name }}<span style="color:#ff0000;">(Rejected)</span></td>
                                                                <td>{{ trade_buy_details.print_order_date }}</td>
                                                                <td>{{ trade_buy_details.no_of_share }}</td>
                                                                <td> </td>
                                                                <td style="padding:0px 20px; text-align: right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ trade_buy_details.unit_price }}</td>
                                                                <td style="padding:0px 20px; text-align: right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ trade_buy_details.value }}</td>
                                                            </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    </td>
                                                    <td>&nbsp;</td>
                                                </tr>

                                                {% for trade_order_list in trade_summary.trade_order_details %}
                                                <tr>
                                                    <td><a class="virtualDrops" href="#"><i aria-hidden="true" class="fa fa-plus"></i></a></td>
                                                    <td><a href="/cluster_list/{{ trade_order_list.cluster_id }}">{{ trade_order_list.cluster_name }}</a></td>
                                                    <td>{{ trade_order_list.print_order_date }}</td>
                                                    <td>{{ trade_order_list.order_type }}</td>
                                                    <td>{{ trade_order_list.no_of_lots }}</td>
                                                    <td>&nbsp;</td>
                                                    <td style="text-align:right; padding-right:20px;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ trade_order_list.minimum_investment }}</td>
                                                    <td style="text-align:left; padding-left:20px;">INV5000{{ trade_order_list.order_id }}/000{{ trade_order_list.order_track_id }}</td>
                                                </tr>

                                                <tr class="virtual_table">
                                                    <td>&nbsp;</td>
                                                    <td colspan="6" class="inner_table">
                                                    <table class="table table-responsive">
                                                        <tbody>
                                                        {% if trade_order_list.order_type == 'Archive' %}
                                                        {% for trade_order_row in trade_order_list.order_details %}
                                                            <tr>
                                                                <td><a href="/stock_details/{{ trade_order_row.co_code }}/{{ trade_order_row.cluster_id }}">{{ trade_order_row.co_name }}</a></td>
                                                                <td>{{ trade_order_row.print_order_date }}</td>
                                                                <td>&nbsp;</td>
                                                                <td>{{ trade_order_row.no_of_share }}</td>
                                                                <td style="padding:0px 20px; text-align: right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ trade_order_row.unit_price }}</td>
                                                                <td style="padding:0px 20px; text-align: right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ trade_order_row.value }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        {% endif %}

                                                        {% if trade_order_list.order_type == 'Repair' %}
                                                        {% for trade_order_row in trade_order_list.order_details %}
                                                            <tr>
                                                                <td><a href="/stock_details/{{ trade_order_row.co_code }}/{{ trade_order_row.cluster_id }}">{{ trade_order_row.co_name }}</a></td>
                                                                <td>{{ trade_order_row.print_order_date }}</td>
                                                                <td>&nbsp;</td>
                                                                <td>{{ trade_order_row.no_of_share }}</td>
                                                                <td style="padding:0px 20px; text-align: right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ trade_order_row.unit_price }}</td>
                                                                <td style="padding:0px 20px; text-align: right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ trade_order_row.value }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        {% endif %}


                                                        {% if trade_order_list.order_type == 'Sold' %}
                                                        {% for trade_order_row in trade_order_list.order_details %}
                                                            <tr>
                                                                <td><a href="/stock_details/{{ trade_order_row.co_code }}/{{ trade_order_row.cluster_id }}">{{ trade_order_row.co_name }}</a></td>
                                                                <td>{{ trade_order_row.print_order_date }}</td>
                                                                <td>&nbsp;</td>
                                                                <td>{{ trade_order_row.no_of_share }}</td>
                                                                <td style="padding:0px 20px; text-align: right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ trade_order_row.unit_price }}</td>
                                                                <td style="padding:0px 20px; text-align: right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ trade_order_row.value }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        {% endif %}

                                                        {% if trade_order_list.order_type == 'Rebalanced' %}
                                                        {% for trade_order_row in trade_order_list.order_details %}
                                                            <tr>
                                                                <td><a href="/stock_details/{{ trade_order_row.co_code }}/{{ trade_order_row.cluster_id }}">{{ trade_order_row.co_name }}</a></td>
                                                                <td>{{ trade_order_row.print_order_date }}</td>
                                                                <td>{{ trade_order_row.type }}</td>
                                                                <td>{{ trade_order_row.no_of_share }}</td>
                                                                <td style="padding:0px 20px; text-align: right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ trade_order_row.unit_price }}</td>
                                                                <td style="padding:0px 20px; text-align: right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ trade_order_row.value }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        {% endif %}
                                                        </tbody>
                                                    </table>
                                                    </td>
                                                   <td>&nbsp;</td>
                                                </tr>
                                                {% endfor %}
                                            {% endfor %}

                                            </tbody>
                                            {% else %}
                                                <tr>
                                                    <td colspan="8" style="text-align:center; font-weight:bold;">No Trade Summary Found!</td>
                                                </tr>
                                            {% endif %}

                                        </table>
                                    </div>
                                </div>
                                <!-- DATA TABLE STARTS -->
                                <div>
                                    <div class="trade_summary_mobi_tbl" style="display: none;">
                                        <table id="tbl_trade_summary_details">
                                            <thead>
                                                <tr>
                                                    <th>&nbsp;</th>
                                                    <th>CLUSTER NAME</th>
                                                    <th>DATE</th>
                                                    <th style="text-align:center;">TYPE</th>
                                                    <th style="text-align:right;">VALUE<br>(<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>)</th>
                                                </tr>
                                            </thead>

                                            {% if trade_summary_list %}
                                            <tbody>
                                            {% for trade_summary in trade_summary_list %}
                                                <tr style="background: #f3f3f3; border-bottom: 1px solid #dddddd;">
                                                    <td><a class="virtualDropsMobile" href="javascript:void(0);" ><i aria-hidden="true" class="fa fa-plus" onclick="show_trade_details(this, {{ trade_summary.order_track_id }});"></i></a></td>
                                                    <td><a href="/cluster_list/{{ trade_summary.cluster_id }}">{{ trade_summary.cluster_name }}</a></td>
                                                    <td>{{ trade_summary.mobile_order_date }}</td>
                                                    <td style="text-align:center;">{{ trade_summary.order_type }}</td>
                                                    <td style="text-align:right;">{{ trade_summary.minimum_investment }}</td>
                                                </tr>

                                                <tr class="trade_details_{{ trade_summary.order_track_id }} drops_area_bg" style="display:none;">
                                                    <td>&nbsp;</td>
                                                    <td style="font-weight: 600;">STOCK NAME</td>
                                                    <td style="font-weight: 600; text-align:center;">SHARES</td>
                                                    <td style="font-weight: 600; text-align:center;">TYPE</td>
                                                    <td style="font-weight: 600; text-align:right;">VALUE<br>(<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>)</td>
                                                </tr>

                                                {% for trade_buy_details in trade_summary.order_buy_details %}
                                                    {% if trade_buy_details.status == 'complete' %}
                                                    <tr class="trade_details_{{ trade_summary.order_track_id }} drops_area_bg" style="display:none;">
                                                        <td>&nbsp;</td>
                                                        <td><a href="/stock_details/{{ trade_buy_details.co_code }}/{{ trade_summary.cluster_id }}">{{ trade_buy_details.co_name }}</a></td>
                                                        <td style="text-align:center;">{{ trade_buy_details.no_of_share }}</td>
                                                        <td style="text-align: center;">{{ trade_buy_details.type }}</td>
                                                        <td style="text-align:right;">{{ trade_buy_details.value }}</td>
                                                    </tr>
                                                    {% else %}
                                                    <tr class="trade_details_{{ trade_summary.order_track_id }} drops_area_bg"  style="color:#c9c9c9; display:none;">
                                                        <td>&nbsp;</td>
                                                        <td>{{ trade_buy_details.co_name }}<span style="color:#ff0000;">(Rejected)</span></td>
                                                        <td style="text-align:center;">{{ trade_buy_details.no_of_share }}</td>
                                                        <td style="text-align: center;">{{ trade_buy_details.type }}</td>
                                                        <td style="text-align:right;">{{ trade_buy_details.value }}</td>
                                                    </tr>
                                                    {% endif %}
                                                {% endfor %}


                                                {% for trade_order_list in trade_summary.trade_order_details %}
                                                <tr style="background: #f3f3f3; border-bottom: 1px solid #dddddd;">
                                                    <td><a class="virtualDropsMobile" href="javascript:void(0);" ><i aria-hidden="true" class="fa fa-plus" onclick="show_trade_details(this, {{ trade_order_list.order_track_id }});"></i></a></td>
                                                    <td><a href="/cluster_list/{{ trade_order_list.cluster_id }}">{{ trade_order_list.cluster_name }}</a></td>
                                                    <td>{{ trade_order_list.mobile_order_date }}</td>
                                                    <td style="text-align:center;">{{ trade_order_list.order_type }}</td>
                                                    <td style="text-align:right;">{{ trade_order_list.minimum_investment }}</td>
                                                </tr>

                                                    {% if trade_order_list.order_type == 'Archive' %}
                                                    <!-- SUB HEADER -->
                                                    <tr class="trade_details_{{ trade_order_list.order_track_id }} drops_area_bg" style="display:none;">
                                                        <td>&nbsp;</td>
                                                        <td style="font-weight: 600; text-align:left;">STOCK NAME</td>
                                                        <td style="font-weight: 600; text-align:center;">SHARES</td>
                                                        <td style="font-weight: 600; text-align:center;">TYPE</td>
                                                        <td style="font-weight: 600; text-align:right;">VALUE<br>(<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>)</td>
                                                    </tr>
                                                    {% for trade_order_row in trade_order_list.order_details %}
                                                        <tr class="trade_details_{{ trade_order_list.order_track_id }} drops_area_bg" style="display:none;">
                                                            <td>&nbsp;</td>
                                                            <td><a href="/stock_details/{{ trade_order_row.co_code }}/{{ trade_order_row.cluster_id }}">{{ trade_order_row.co_name }}</a></td>
                                                            <td>{{ trade_order_row.no_of_share }}</td>
                                                            <td style="text-align: center;">ARCHIVE</td>
                                                            <td style="text-align: right;">{{ trade_order_row.value }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    {% endif %}

                                                    {% if trade_order_list.order_type == 'Repair' %}
                                                    <!-- SUB HEADER -->
                                                    <tr class="trade_details_{{ trade_order_list.order_track_id }} drops_area_bg" style="display:none;">
                                                        <td>&nbsp;</td>
                                                        <td style="font-weight: 600; text-align:left;">STOCK NAME</td>
                                                        <td style="font-weight: 600; text-align:center;">SHARES</td>
                                                        <td style="font-weight: 600; text-align:center;">TYPE</td>
                                                        <td style="font-weight: 600; text-align:right;">VALUE<br>(<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>)</td>
                                                    </tr>
                                                    {% for trade_order_row in trade_order_list.order_details %}
                                                        <tr class="trade_details_{{ trade_order_list.order_track_id }} drops_area_bg" style="display:none;">
                                                            <td>&nbsp;</td>
                                                            <td><a href="/stock_details/{{ trade_order_row.co_code }}/{{ trade_order_row.cluster_id }}">{{ trade_order_row.co_name }}</a></td>
                                                            <td>{{ trade_order_row.no_of_share }}</td>
                                                            <td style="text-align: center;">REPAIR</td>
                                                            <td style="text-align: right;">{{ trade_order_row.value }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    {% endif %}


                                                    {% if trade_order_list.order_type == 'Sold' %}
                                                    <!-- SUB HEADER -->
                                                    <tr class="trade_details_{{ trade_order_list.order_track_id }} drops_area_bg" style="display:none;">
                                                        <td>&nbsp;</td>
                                                        <td style="font-weight: 600; text-align:left;">STOCK NAME</td>
                                                        <td style="font-weight: 600; text-align:center;">SHARES</td>
                                                        <td style="font-weight: 600; text-align:center;">TYPE</td>
                                                        <td style="font-weight: 600; text-align:right;">VALUE<br>(<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>)</td>
                                                    </tr>
                                                    {% for trade_order_row in trade_order_list.order_details %}
                                                        <tr class="trade_details_{{ trade_order_list.order_track_id }} drops_area_bg" style="display:none;">
                                                            <td>&nbsp;</td>
                                                            <td><a href="/stock_details/{{ trade_order_row.co_code }}/{{ trade_order_row.cluster_id }}">{{ trade_order_row.co_name }}</a></td>
                                                            <td style="text-align:center;">{{ trade_order_row.no_of_share }}</td>
                                                            <td style="text-align: center;">SELL</td>
                                                            <td style="text-align: right;">{{ trade_order_row.value }}</td>

                                                        </tr>
                                                    {% endfor %}
                                                    {% endif %}

                                                    {% if trade_order_list.order_type == 'Rebalanced' %}
                                                    <!-- SUB HEADER -->
                                                    <tr class="trade_details_{{ trade_order_list.order_track_id }} drops_area_bg" style="display:none;">
                                                        <td>&nbsp;</td>
                                                        <td style="font-weight: 600; text-align:left";>STOCK NAME</td>
                                                        <td style="font-weight: 600; text-align:center;">SHARES</td>
                                                        <td style="font-weight: 600; text-align:center;">TYPE</td>
                                                        <td style="font-weight: 600; text-align:right;">VALUE<br>(<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>)</td>
                                                    </tr>
                                                    {% for trade_order_row in trade_order_list.order_details %}
                                                        <tr class="trade_details_{{ trade_order_list.order_track_id }} drops_area_bg" style="display:none;">
                                                            <td>&nbsp;</td>
                                                            <td><a href="/stock_details/{{ trade_order_row.co_code }}/{{ trade_order_row.cluster_id }}">{{ trade_order_row.co_name }}</a></td>
                                                            <td style="text-align:center;">{{ trade_order_row.no_of_share }}</td>
                                                            <td style="text-align: center;">{{ trade_order_row.type }}</td>
                                                            <td style="text-align: right;">{{ trade_order_row.value }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    {% endif %}

                                                {% endfor %}
                                            {% endfor %}

                                            </tbody>

                                            {% endif %}

                                        </table>
                                    </div>
                                </div>
                                <!-- DATA TABLE ENDS -->
                                <!-- TRADE SUMMARY ENDS -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/. body right portion area -->
    	</div>
	</div>

</section>
<style>

.TradeSummary .inner_table table tbody tr td:nth-child(1) {
    width: 19%;
}
.TradeSummary .inner_table table tbody tr td:nth-child(2) {
    width: 17%;
}

.TradeSummary .inner_table table tbody tr td:nth-child(3) {
    width: 9%;
}
.TradeSummary .inner_table table tbody tr td:nth-child(4) {
    width: 5%;
}

.TradeSummary .inner_table table tbody tr td:nth-child(5) {
    width: 10%;
}
.TradeSummary .inner_table table tbody tr td:nth-child(6) {
    width: 10%;
}
.rebalanceBtn{ background:#fff; padding:2px 5px; margin: 5px 0 0; position:relative; border:1px solid #ed5d09; font-family: "Open Sans",sans-serif; font-size: 12px; font-weight: 600; color:#ed5d09;}
.rebalanceBtn:hover{background:#ed5d09; color:#fff;}

/*table.dataTable, table.dataTable th, table.dataTable td{font-size: 12px;}*/
</style>

<script>
function show_trade_details(obj, row_id)
{
    var class_name = 'trade_details_'+row_id;
    var s = $("."+class_name).css("display");
    //alert('s'+s);
    if(s == 'none')
    {
        $("."+class_name).css("display","");
        $(obj).toggleClass("fa-plus fa-minus");
    }
    else
    {
        $("."+class_name).css("display","none");
        $(obj).toggleClass("fa-minus fa-plus");
    }
}
</script>
<script>
$(document).ready(function(e) {
    //----------------------------------------//
    $("#TradeSummary").hide();
    //-----------------------------------------//
    $(".trade_summary_mobi_tbl").hide();
    //-----------------------------------------//
    $("#Summary").removeClass("active");
    $("#CurrentHoldings").removeClass("active");
    $("#TradeSummary").removeClass("active");
    $("#Orders").removeClass("active");
    $("#exTab1 li").removeClass("active");
    //-----------------------------------------//
    if($(window).width()<768)
    {
        get_data_table();
    }
    else
    {
        //-----------------------------------------//
        set_web_tab();
        //-----------------------------------------//
    }
    //----------------------------------------//
});
function goto_tab()
{
    //----------------------------------------//
    $("#TradeSummary").hide();
    //-----------------------------------------//
    $(".trade_summary_mobi_tbl").hide();
    //-----------------------------------------//
    $("#Summary").removeClass("active");
    $("#CurrentHoldings").removeClass("active");
    $("#TradeSummary").removeClass("active");
    $("#Orders").removeClass("active");
    $("#exTab1 li").removeClass("active");
    //-----------------------------------------//
    if($(window).width()<768)
    {
        get_data_table();
    }
    else
    {
        set_web_tab();
    }
    //-----------------------------------------//
}
function set_web_tab()
{
    $("#TradeSummary").addClass("active");
    $("#li_trade").addClass("active");
    $("#TradeSummary").show();
}
function get_data_table()
{
    if($(window).width()<768) {
        //-----------------------------------------//
        $("#TradeSummary").hide();
        //-----------------------------------------//
        $(".trade_summary_mobi_tbl").hide();
        //-----------------------------------------//
        $(".trade_summary_mobi_tbl").show();
        $("#li_trade").addClass("active");
        //--------------------------------------------//
    }
}
</script>

{% include 'inner_footer.html' %}


<style>
/*================== external myModal(25-11-2016) =========================*/

.external{ cursor:pointer;}
#externalmyModal .modal-dialog{ width:950px; margin: 130px auto;}
#externalmyModal .modal-content .modal-header{ padding-top: 14px;}

.content_table table tbody tr:nth-child(even) {background: #fff;}
.content_table table tbody tr:nth-child(odd) {background: #f9f9f9;}
.content_table .table > thead > tr > th {border-bottom: 1px solid #666666; border-top: 1px solid #666666 !important; font-weight: 600; padding: 12px 5px; font-size: 12px; text-transform: uppercase;}

.content_table{ border-top:0px solid #74868f !important; padding:0px !important;}
.content_table table{ margin:0px 0px 25px; border:1px solid #eeeeee !important;}
.content_table table tbody tr td { width:12.4%;}
.content_table table tbody tr td:nth-child(1) { width:24%;}
.content_table table tbody tr td:nth-child(2) { width:19%;}
.content_table table tbody tr td:nth-child(3) { text-align:center;  padding-left:20px;}
.content_table table tbody tr td a { color:#2486c8; font-family: "Open Sans",sans-serif; font-size: 14px; font-weight: 400; text-decoration:none;}

</style>