                                            {% if current_holder_list %}
                                            {% for current_holder in current_holder_list %}
                                                <tr>
                                                    <td style="width:50px;"><a class="virtualDrops" href="#"><i aria-hidden="true" class="fa fa-plus"></i></a></td>
                                                    <td style="width:335px;"><a href="/cluster_list/{{ current_holder.cluster_id }}">{{ current_holder.cluster_name }}</a>
                                                        {% if current_holder.rebalance_id > 0 %}
                                                            <span class="external" ><i class="fa fa-external-link" aria-hidden="true" onclick="get_previous_block('{{ current_holder.id }}')"></i></span>
                                                            <p><span style="color:#ed5d09;">Re-balanced on {{ current_holder.print_rebalanced_date }}</span></p>
                                                        {% endif %}
                                                    </td>
                                                    <td style="width:255px;">{{ current_holder.print_order_date }}</td>
                                                    <td style="width:210px;">{{ current_holder.lots }}</td>
                                                    <td style="width:207px; text-align: right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ current_holder.bought_value }}</td>
                                                    <td style="width:210px; text-align: right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ current_holder.current_value }}</td>
                                                    <td style="width:185px; text-align: right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ current_holder.profit }}</td>
                                                    <td style="width:117px; text-align: center;">{{ current_holder.return }}%</td>
                                                    <td style="width:100px;">
                                                        <button class="btn-default sellBtn" onclick="place_sell({{ current_holder.order_buy_id }})">SELL</button>
                                                        {% if current_holder.rebalance_required == 'YES' %}
                                                            <button class="btn-default rebalanceBtn" onclick="place_rebalance_order({{ current_holder.order_buy_id }})">RE-BALANCE</button>
                                                        {% endif %}
                                                    </td>
                                                </tr>


                                                <tr class="virtual_table" style="display:none;">
                                                    <td>&nbsp;</td>
                                                    <td colspan="7" class="inner_table">
                                                    <table class="table table-responsive">
                                                        <tbody>
                                                        {% if current_holder.rebalance_id > 0 %}
                                                            {% for current_details in current_holder.order_details %}
                                                                   <tr>
                                                                    <td><a href="/stock_details/{{ current_details.co_code }}/{{ current_holder.cluster_id }}">{{ current_details.co_name }}</a></td>
                                                                    <td>{{ current_details.print_order_date }}</td>
                                                                    <td>{{ current_details.lots }}</td>
                                                                    <td><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ current_details.bought_value }}</td>
                                                                    <td><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ current_details.current_value }}</td>
                                                                    <td><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ current_details.profit }}</td>
                                                                    <td>{{ current_details.return }}%</td>
                                                                </tr>
                                                            {% endfor %}

                                                         {% else %}
                                                            {% for current_details in current_holder.order_details %}
                                                                <tr>
                                                                    <td><a href="/stock_details/{{ current_details.co_code }}/{{ current_holder.cluster_id }}">{{ current_details.co_name }}</a></td>
                                                                    <td>{{ current_details.print_order_date }}</td>
                                                                    <td>{{ current_details.lots }}</td>
                                                                    <td><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ current_details.bought_value }}</td>
                                                                    <td><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ current_details.current_value }}</td>
                                                                    <td><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ current_details.profit }}</td>
                                                                    <td>{{ current_details.return }}%</td>
                                                                </tr>
                                                            {% endfor %}
                                                        {% endif %}
                                                        </tbody>
                                                    </table>
                                                    </td>
                                                    <td>&nbsp;</td>
                                                </tr>

                                            <!--start previous order-->
                                            {% if current_holder.rebalance_id > 0 %}

                                                <tr style="display:none;">
                                                    <td colspan="9" id="previous_hold{{ current_holder.id }}" >

                                                    <!-- Display Modal Table -->
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                            <th>Cluster Name</th>
                                                            <th>Date</th>
                                                            <th>lots | shares</th>
                                                            <th>Bought Value</th>
                                                            <th>Current value</th>
                                                            <th>Profit</th>
                                                            <th>Return</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                        {% for previous_row in current_holder.previous_order %}
                                                            <tr>
                                                                <td><a href="/cluster_list/{{ previous_row.cluster_id }}">{{ previous_row.cluster_name }}</a></td>
                                                                <td>{{ previous_row.print_order_date }}</td>
                                                                <td style="text-align:left;">{{ previous_row.lots }}</td>
                                                                <td><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ previous_row.bought_value }}</td>
                                                                <td><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ previous_row.current_value }}</td>
                                                                <td><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ previous_row.profit }}</td>
                                                                <td>{{ previous_row.return }}%</td>
                                                            </tr>


                                                            <tr class="">
                                                                <td colspan="7" class="inner_table">
                                                                <table class="table table-responsive">
                                                                    <tbody>
                                                                    {% for previous_details in previous_row.order_details %}
                                                                        <tr>
                                                                            <td><a href="/stock_details/{{ previous_details.co_code }}/{{ previous_details.cluster_id }}">{{ previous_details.co_name }}</a></td>
                                                                            <td>{{ previous_details.print_order_date }}</td>
                                                                            <td>{{ previous_details.lots }}</td>
                                                                            <td><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ previous_details.bought_value }}</td>
                                                                            <td><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ previous_details.current_value }}</td>
                                                                            <td><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ previous_details.profit }}</td>
                                                                            <td>{{ previous_details.return }}%</td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    <!-- end modal display -->
                                                </td>
                                            </tr>
                                            {% endif %}

                                            <!--end previous order-->

                                            {% endfor %}
                                            {% endif %}