{% include 'inner_header.html' %}
{% load staticfiles %}
{% load investak_filters %}

<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">

<link href="{% static 'investak/dist/css/responsive.dataTables.css' %}" rel="stylesheet" type="text/css">

<script type="text/javascript">
function accridians_portfolio(){
    $(".virtual_table").hide();

    $(".virtualDrops").click(function(e){
        e.preventDefault();
        $(this).parent().parent().next().slideToggle();
        //$(this).parent().parent().prev().slideUp();
        $(this).find('.fa').toggleClass("fa-plus fa-minus");
    });

}
</script>
<script type="text/javascript">
$(document).ready(function(e){
    accridians_portfolio();
    $("#dropdown-menu select").dropdown();
    data_table();
    $("#scroll_load_div").hide();
});
/*$(window).scroll(function() {

   if($(window).scrollTop() + $(window).height() == $(document).height()) {
       //alert("Bottom Reached!");
       $("#scroll_load_div").hide();
       var if_load = $("#page_load").val();
       if(if_load != 'end'){
           var page = $("#page").val();
           var next = parseInt(page)+1;
           //alert('next'+next);
           $.ajax({
               type:"POST",
               url:"/current_holdings_ajax/",
               //async:false,
               data:
               {
                    page:next,
                    csrfmiddlewaretoken:'{{ csrf_token }}'
               },
               //beforeSend:function() {
                   //$.blockUI({ message: 'Please Wait...' });
               //},
               beforeSend: function () {
                    $("#scroll_load_div").show();
               },
               success:function(response) {alert(response);
                    $("#scroll_load_div").hide();
                   if(response) { //alert('response'+response);
                        if(response != 'no_records')
                        {
                            $("#load_more_row").append(response);
                            $("#page").val(next);
                        }
                        else
                        {
                            $("#page_load").val('end');
                        }
                   }
                   else { //alert('response'+response);
                       //$.blockUI({ message: 'There is something wrong while placing order' });
                       //$.unblockUI();
                   }
               },
               error:function(xhr) { //alert('responseerror');
                   //$.blockUI({ message: 'There is something wrong while placing order' });
                   //$.unblockUI();
               }
           });
       }
   }
});*/
</script>

<script type="text/javascript">

function data_table() {
    if($(window).width()<768)
    {
        $("#tbl_holding_details").DataTable({
           "paging":   false,
            "ordering": false,
            "info":     false,
            "searching": false,
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate,
                    type: ''
                }
            }
        });

        /*$('.previous_rebalance_tbl').DataTable({
           "paging":   false,
            "ordering": false,
            "info":     false,
            "searching": false,
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate,
                    type: ''
                }
            }
        });*/

    }
}
</script>
<script type="text/javascript">

    function get_previous_block(id)
    {
        var prev_id = 'previous_hold'+id;
        prevoius_hold_data = $("#"+prev_id).html();
        $("#modal_hold_data").html(prevoius_hold_data);
        $("#externalmyModal").modal("show");
    }
    function get_previous_live_block(id)
    {
        var prev_id = 'previous_live'+id;
        prevoius_hold_data = $("#"+prev_id).html();
        $("#modal_hold_data").html(prevoius_hold_data);
        $("#externalmyModal").modal("show");
    }

    function get_previous_mobile_block(id)
    {
        var class_name = 'previous_'+id;
        var class_name1 = class_name+' odd';
        var class_name2 = class_name+' even';
        //alert('class_name1'+class_name1);
        //alert('class_name2'+class_name2);

        var s = $("."+class_name).css("display");
        //alert('s'+s);
        //var s1 = $("."+class_name1).css("display");
        //alert('s1'+s1);
        //var s2 = $("."+class_name2).css("display");
        //alert('s2'+s2);
        if(s == 'none')
        {
            $("."+class_name).css("display","");
        }
        else
        {
            $("."+class_name).css("display","none");
        }
    }
    function get_rebalance_mobile_block(id)
    {
        var class_name = 'rebalance_'+id;
        var class_name1 = class_name+' odd';
        var class_name2 = class_name+' even';
        //alert('class_name1'+class_name1);
        //alert('class_name2'+class_name2);

        var s = $("."+class_name).css("display");
        //alert('s'+s);
        //var s1 = $("."+class_name1).css("display");
        //alert('s1'+s1);
        //var s2 = $("."+class_name2).css("display");
        //alert('s2'+s2);
        if(s == 'none')
        {
            $("."+class_name).css("display","");
        }
        else
        {
            $("."+class_name).css("display","none");
        }
    }
</script>

<style>
    .holding_mobi_tbl{ display: none; }
    @media (max-width: 768px) {
        .holding_mobi_tbl{ display: block; }
        .CurrentHoldings { display: none; }
    }
</style>

<section>
	<div class="container-fluid">
        <div class="row">

        <!--/.breadcrumb-area -->
            <div class="col-md-12">
                <div class="breadcrumb_area">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/user_dashboard/">Dashboard</a></li>
                  <li class="breadcrumb-item active">Portfolio</li>
                </ol>
                </div>
            </div>
        <!--/.breadcrumb-area -->
        <!--/. body right portion area -->

            <div class="col-md-12">
            	<div class="body_section_area">
                    <div class="virtual_protfolio_area">
                        <div id="exTab1">
                            <ul  class="nav nav-pills">
                                <li id="li_summary"><a href="/summary/">Summary</a></li>
                                <li id="li_current"><a href="/holdings/">Current Holdings</a></li>
                                <li id="li_trade"><a href="/tradebook/">Trade Summary</a></li>
                                <li id="li_order"><a href="/orders/">Orders</a></li>
                            </ul>

                            <div class="tab-content clearfix" id="portfolio_summary">

                                <!-- CURRENT HOLDINGS STARTS -->
                                <div class="tab-pane" id="CurrentHoldings" style="display: none;">
                                    <div class="CurrentHoldings">
                                        <table class="table table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>&nbsp;</th>
                                                    <th>Cluster Name</th>
                                                    <th>Date</th>
                                                    <th style="text-align: left; padding-left:40px;">lots | shares</th>
                                                    <th style="text-align: right;">bought Value(<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>)</th>
                                                    <th style="text-align: right;">Current value(<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>)</th>
                                                    <th style="text-align: right;">Profit(<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>)</th>
                                                    <th style="text-align: center;">return(%)</th>
                                                    <th>&nbsp;</th>
                                                </tr>
                                            </thead>

                                            <tbody id="load_more_row">
                                            {% if live_holder_list %}
                                            {% for current_holder in live_holder_list %}
                                                <tr>
                                                    <td style="width:50px;"><a class="virtualDrops" href="#"><i aria-hidden="true" class="fa fa-plus"></i></a></td>
                                                    <td style="width:335px;"><a href="/cluster_list/{{ current_holder.cluster_id }}">{{ current_holder.cluster_name }}</a>

                                                        {% if current_holder.rebalance_id > 0 %}
                                                            <span class="external" ><i class="fa fa-external-link" aria-hidden="true" onclick="get_previous_block('{{ current_holder.id }}')"></i></span>
                                                            <p><span style="color:#ed5d09;">Re-balanced on {{ current_holder.print_rebalanced_date }}</span></p>
                                                        {% endif %}
                                                        {% if current_holder.previous_live_order_id > 0 %}
                                                            <span class="external" ><i class="fa fa-external-link" aria-hidden="true" onclick="get_previous_live_block('{{ current_holder.id }}')"></i></span>
                                                            <p><span style="color:#ed5d09;">{{ current_holder.popup_name }}</span></p>
                                                        {% endif %}
                                                    </td>
                                                    <td style="width:255px;">{{ current_holder.print_order_date }}</td>
                                                    <td style="width:210px;">{{ current_holder.lots }}</td>
                                                    <td style="width:207px; text-align: right;">{{ current_holder.bought_value }}</td>
                                                    <td style="width:210px; text-align: right;">{{ current_holder.current_value }}</td>
                                                    <td style="width:185px; text-align: right; color:{% if current_holder.profit|to_float > 0 %}green{% elif current_holder.profit|to_float < 0 %}red{% else %}black{% endif %};">
                                                        {{ current_holder.profit|only_float }}</td>
                                                    <td style="width:117px; text-align: center; color:{% if current_holder.return|to_float > 0 %}green{% elif current_holder.return|to_float < 0 %}red{% else %}black{% endif %};">
                                                        {{ current_holder.return|only_float }}</td>
                                                    <td style="width:100px;">
                                                        {% if current_holder.button_status == 'complete' %}
                                                            <button class="btn-default sellBtn" onclick="place_api_sell({{ current_holder.order_id }})">SELL</button>
                                                            {% if current_holder.rebalance_required == 'YES' %}
                                                                {% if current_holder.rebalance_enable == 'YES' %}
                                                                    <button class="btn-default rebalanceBtn" onclick="place_rebalance_order({{ current_holder.order_buy_id }})">RE-BALANCE</button>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}

                                                        {% if current_holder.button_status == 'pending' %}
                                                            <button class="btn-default sellBtn" onclick="place_api_repair({{ current_holder.order_id }})">REPAIR</button>
                                                            <button class="btn-default sellBtn" onclick="place_api_archive({{ current_holder.order_id }})">ARCHIVE</button>
                                                        {% endif %}

                                                    </td>
                                                </tr>


                                                <tr class="virtual_table">
                                                    <td>&nbsp;</td>
                                                    <td colspan="7" class="inner_table">
                                                    <table class="table table-responsive">
                                                        <tbody>
                                                        {% for current_details in current_holder.order_details %}
                                                            {% if current_details.status != 'complete' %}
                                                            <tr style="color:#c9c9c9;">
                                                                <td>{{ current_details.co_name }}<span style="color:#ff0000;">(Rejected)</span></td>
                                                                <td>{{ current_details.print_order_date }}</td>
                                                                <td>{{ current_details.lots }}</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            {% else %}
                                                            <tr>
                                                                <td><a href="/stock_details/{{ current_details.co_code }}/{{ current_holder.cluster_id }}">{{ current_details.co_name }}</a></td>
                                                                <td>{{ current_details.print_order_date }}</td>
                                                                <td>{{ current_details.lots }}</td>
                                                                <td>{{ current_details.bought_value }}</td>
                                                                <td>{{ current_details.current_value }}</td>
                                                                <td style="color:{% if current_holder.profit|to_float > 0 %}green{% elif current_holder.profit|to_float < 0 %}red{% else %}black{% endif %};">
                                                                    {{ current_details.profit|only_float }}</td>
                                                                <td style="color:{% if current_holder.return|to_float > 0 %}green{% elif current_holder.return|to_float < 0 %}red{% else %}black{% endif %};">
                                                                    {{ current_details.return|only_float }}</td>
                                                            </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    </td>
                                                    <td>&nbsp;</td>
                                                </tr>

                                            <!--start previous order-->
                                            {% if current_holder.previous_live_order_id > 0 %}
                                                <tr style="display:none;">
                                                    <td colspan="9" id="previous_live{{ current_holder.id }}" >

                                                    <!-- Display Modal Table -->
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                            <th>Cluster Name</th>
                                                            <th>Date</th>
                                                            <th>lots | shares</th>
                                                            <th>Bought Value (<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>)</th>
                                                            <th>Current value (<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>)</th>
                                                            <th>Profit(<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>)</th>
                                                            <th>Return(%)</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                        {% for previous_row in current_holder.previous_order %}
                                                            <tr>
                                                                <td><a href="/cluster_list/{{ previous_row.cluster_id }}">{{ previous_row.cluster_name }}</a></td>
                                                                <td>{{ previous_row.print_order_date }}</td>
                                                                <td style="text-align:left;">{{ previous_row.lots }}</td>
                                                                <td>{{ previous_row.bought_value }}</td>
                                                                <td>{{ previous_row.current_value }}</td>
                                                                <td style="color:{% if previous_row.profit|to_float > 0 %}green{% elif previous_row.profit|to_float < 0 %}red{% else %}black{% endif %};">
                                                                    {{ previous_row.profit|only_float }}</td>
                                                                <td style="color:{% if previous_row.return|to_float > 0 %}green{% elif previous_row.return|to_float < 0 %}red{% else %}black{% endif %};">
                                                                    {{ previous_row.return|only_float }}</td>
                                                            </tr>


                                                            <tr class="">
                                                                <td colspan="7" class="inner_table">
                                                                <table class="table table-responsive">
                                                                    <tbody>
                                                                    {% for previous_details in previous_row.order_details %}
                                                                        {% if previous_details.status != 'complete' %}
                                                                        <tr style="color:#c9c9c9;">
                                                                            <td>{{ previous_details.co_name }} <span style="color:#ff0000;">(Rejected)</span></td>
                                                                            <td>{{ previous_details.print_order_date }}</td>
                                                                            <td>{{ previous_details.lots }}</td>
                                                                            <td>{{ previous_details.bought_value }}</td>
                                                                            <td>{{ previous_details.current_value }}</td>
                                                                            <td style="color:{% if previous_details.profit|to_float > 0 %}green{% elif previous_details.profit|to_float < 0 %}red{% else %}black{% endif %};">
                                                                                {{ previous_details.profit|only_float }}</td>
                                                                            <td style="color:{% if previous_details.return|to_float > 0 %}green{% elif previous_details.return|to_float < 0 %}red{% else %}black{% endif %};">
                                                                                {{ previous_details.return|only_float }}</td>
                                                                        </tr>
                                                                        {% else %}
                                                                        <tr>
                                                                            <td><a href="/stock_details/{{ previous_details.co_code }}/{{ previous_details.cluster_id }}">{{ previous_details.co_name }}</a></td>
                                                                            <td>{{ previous_details.print_order_date }}</td>
                                                                            <td>{{ previous_details.lots }}</td>
                                                                            <td>{{ previous_details.bought_value }}</td>
                                                                            <td>{{ previous_details.current_value }}</td>
                                                                            <td style="color:{% if previous_details.profit|to_float > 0 %}green{% elif previous_details.profit|to_float < 0 %}red{% else %}black{% endif %};">
                                                                                {{ previous_details.profit|only_float }}</td>
                                                                            <td style="color:{% if previous_details.return|to_float > 0 %}green{% elif previous_details.return|to_float < 0 %}red{% else %}black{% endif %};">
                                                                                {{ previous_details.return|only_float }}</td>
                                                                        </tr>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    <!-- end modal display -->
                                                </td>
                                            </tr>
                                            {% endif %}

                                            <!--end previous order-->

                                            <!--start rebalance order-->
                                            {% if current_holder.rebalance_id > 0 %}

                                                <tr style="display:none;">
                                                    <td colspan="9" id="previous_hold{{ current_holder.id }}" >

                                                    <!-- Display Modal Table -->
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                            <th>Cluster Name</th>
                                                            <th>Date</th>
                                                            <th>lots | shares</th>
                                                            <th>Bought Value(<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>)</th>
                                                            <th>Current value(<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>)</th>
                                                            <th>Profit(<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>)</th>
                                                            <th>Return(%)</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                        {% for rebalance_row in current_holder.rebalance_order %}
                                                            <tr>
                                                                <td><a href="/cluster_list/{{ rebalance_row.cluster_id }}">{{ rebalance_row.cluster_name }}</a></td>
                                                                <td>{{ rebalance_row.print_order_date }}</td>
                                                                <td style="text-align:left;">{{ rebalance_row.lots }}</td>
                                                                <td>{{ rebalance_row.bought_value }}</td>
                                                                <td>{{ rebalance_row.current_value }}</td>
                                                                <td style="color:{% if rebalance_row.profit|to_float > 0 %}green{% elif rebalance_row.profit|to_float < 0 %}red{% else %}black{% endif %};">
                                                                    {{ rebalance_row.profit|only_float }}</td>
                                                                <td style="color:{% if rebalance_row.return|to_float > 0 %}green{% elif rebalance_row.return|to_float < 0 %}red{% else %}black{% endif %};">
                                                                    {{ rebalance_row.return|only_float }}</td>
                                                            </tr>


                                                            <tr class="">
                                                                <td colspan="7" class="inner_table">
                                                                <table class="table table-responsive">
                                                                    <tbody>
                                                                    {% for rebalance_details in rebalance_row.order_details %}
                                                                        <tr>
                                                                            <td><a href="/stock_details/{{ rebalance_details.co_code }}/{{ rebalance_details.cluster_id }}">{{ rebalance_details.co_name }}</a></td>
                                                                            <td>{{ rebalance_details.print_order_date }}</td>
                                                                            <td>{{ rebalance_details.lots }}</td>
                                                                            <td>{{ rebalance_details.bought_value }}</td>
                                                                            <td>{{ rebalance_details.current_value }}</td>
                                                                            <td style="color:{% if rebalance_details.profit|to_float > 0 %}green{% elif rebalance_details.profit|to_float < 0 %}red{% else %}black{% endif %};">
                                                                                {{ rebalance_details.profit|only_float }}</td>
                                                                            <td style="color:{% if rebalance_details.return|to_float > 0 %}green{% elif rebalance_details.return|to_float < 0 %}red{% else %}black{% endif %};">
                                                                                {{ rebalance_details.return|only_float }}</td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    <!-- end modal display -->
                                                </td>
                                            </tr>
                                            {% endif %}

                                            <!--end rebalance order-->

                                            {% endfor %}

                                            {% else %}
                                                <tr>
                                                    <td colspan="9" style="text-align:center; font-weight:bold;">No Current Holdings Found!</td>
                                                </tr>
                                            {% endif %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <!-- DATA TABLE STARTS -->
                                <!-- current holding data table start -->
                                <div >
                                    <div class="holding_mobi_tbl" style="display: none;">
                                        <table id="tbl_holding_details">

                                            <thead>
                                                <tr style="font-size:10px;">
                                                    <th>&nbsp;</th>
                                                    <th style=" font-size:11px; padding:2px 0px; ">CLUSTER NAME</th>
                                                    <th style="text-align: center; font-size:11px; padding:2px 0px; ">BOUGHT VALUE(<span class="rss"><i class="fa fa-inr" aria-hidden="true" style="font-size:11px;"></i></span>)</th>
                                                    <th style="text-align: right; font-size:11px; padding:2px 0px; ">RETURN(%)</th>
                                                    <th>&nbsp;</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                            {% if live_holder_list %}
                                            {% for current_holder in live_holder_list %}
                                                <tr style="background: #f3f3f3; border-bottom: 1px solid #dddddd;">
                                                    <td><a class="virtualDropsMobile" href="javascript:void(0);" ><i aria-hidden="true" class="fa fa-plus" onclick="show_hold_details(this, {{ current_holder.id }});"></i></a></td>
                                                    <td><a href="/cluster_list/{{ current_holder.cluster_id }}">{{ current_holder.cluster_name }}</a>
                                                        {% if current_holder.rebalance_id > 0 %}
                                                            <p><span style="color:#ed5d09;">Re-balanced on {{ current_holder.print_rebalanced_date }}</span>
                                                            <span class="external" ><i class="fa fa-external-link" aria-hidden="true" onclick="get_rebalance_mobile_block('{{ current_holder.id }}')"></i></span>
                                                            </p>
                                                        {% endif %}
                                                        {% if current_holder.previous_live_order_id > 0 %}
                                                            <p><span style="color:#ed5d09;">{{ current_holder.popup_name }}</span>
                                                            <span class="external" ><i class="fa fa-external-link" aria-hidden="true" onclick="get_previous_mobile_block('{{ current_holder.id }}')"></i></span>
                                                            </p>
                                                        {% endif %}
                                                    </td>
                                                    <td style="text-align: right;">{{ current_holder.bought_value }}</td>
                                                    <td style="text-align: right; color:{% if current_holder.return|to_float > 0 %}green{% elif current_holder.return|to_float < 0 %}red{% else %}black{% endif %};">
                                                        {{ current_holder.return|only_float }}</td>
                                                    <td>
                                                        {% if current_holder.button_status == 'complete' %}
                                                            <a class="sellBt" href="javascript:void(0);" onclick="place_api_sell({{ current_holder.order_id }})"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                                                            {% if current_holder.rebalance_required == 'YES' %}
                                                                {% if current_holder.rebalance_enable == 'YES' %}
                                                                <a class="balanceBt" href="javascript:void(0);" onclick="place_rebalance_order({{ current_holder.order_buy_id }})"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span></a>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                        {% if current_holder.button_status == 'pending' %}
                                                            <!--<button class="btn-default sellBtn" style="padding:2px; float:left; margin-right:1px;" onclick="place_api_repair({{ current_holder.order_id }})">
                                                                <img src="{% static 'investak/images/repair_tool.png' %}" alt="Repair" /></button>
                                                            <button class="btn-default sellBtn" style="background:#ffffff; padding:2px;" onclick="place_api_archive({{ current_holder.order_id }})">
                                                                <i class="fa fa-archive" style="font-size:14px; color:#2486c8;" aria-hidden="true"></i>
                                                            </button>-->

                                                            <button class="btn-default sellBtn" style="padding:0px 2px;" onclick="place_api_repair({{ current_holder.order_id }})">Repair</button>
                                                            <button class="btn-default sellBtn" style="padding:0px 2px;" onclick="place_api_archive({{ current_holder.order_id }})">Archive</button>

                                                        {% endif %}
                                                    </td>
                                                </tr>

                                                <!--<tr class="virtual_table"><td colspan="5" ><table width="100%"><tbody>-->
                                                <tr class="hold_details_{{ current_holder.id }} drops_area_bg" style="display:none;">
                                                    <td>&nbsp;</td>
                                                    <td style="text-align: left; font-weight: 600; font-size:11px; padding:2px 0px; ">STOCK NAME</td>
                                                    <td style="text-align: center; font-weight: 600; font-size:11px; padding:2px 0px; ">CURRENT VALUE(<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>)</td>
                                                    <td style="text-align: right; font-weight: 600; font-size:11px; padding:2px 0px; ">SHARES</td>
                                                    <td>&nbsp;</td>
                                                </tr>

                                                {% for current_details in current_holder.order_details %}

                                                    {% if current_details.status != 'complete' %}
                                                        <tr class="hold_details_{{ current_holder.id }} drops_area_bg" style="color:#c9c9c9; display:none;">
                                                            <td>&nbsp;</td>
                                                            <td>{{ current_details.co_name }}<span style="color:#ff0000;">(Rejected)</span></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    {% else %}
                                                       <tr class="hold_details_{{ current_holder.id }} drops_area_bg" style="display:none;">
                                                            <td>&nbsp;</td>
                                                            <td class="subrow" ><a href="/stock_details/{{ current_details.co_code }}/{{ current_holder.cluster_id }}">{{ current_details.co_name }}</a></td>
                                                            <td class="subrow" style="text-align: right;">{{ current_details.current_value }}</td>
                                                            <td class="subrow" style="text-align: right;">{{ current_details.lots }}</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                <!--</tbody></table></td></tr>-->

                                                <!--start previous order-->
                                                {% if current_holder.previous_live_order_id > 0 %}
                                                    {% for previous_row in current_holder.previous_order %}
                                                        <tr class="previous_{{ current_holder.id }} drops_area_bg_prv" style="display:none;">
                                                            <td>&nbsp;</td>
                                                            <td style="font-weight: 600;">CLUSTER NAME</td>
                                                            <td style="text-align: center; font-weight: 600;">CURRENT VALUE(<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>)</td>
                                                            <td style="text-align: right; font-weight: 600;">RETURN(%)</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr class="previous_{{ current_holder.id }} drops_area_bg_prv" style="display:none;" >
                                                            <td>&nbsp;</td>
                                                            <td><a href="/cluster_list/{{ previous_row.cluster_id }}">{{ previous_row.cluster_name }}</a></td>
                                                            <td style="text-align: right;">{{ previous_row.current_value }}</td>
                                                            <td style="text-align: right; color:{% if previous_row.return|to_float > 0 %}green{% elif previous_row.return|to_float < 0 %}red{% else %}black{% endif %};">
                                                                {{ previous_row.return|only_float }}</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr class="previous_{{ current_holder.id }} drops_area_bg_prv" style="display:none;">
                                                            <td>&nbsp;</td>
                                                            <td style="font-weight: 600;">STOCK NAME</td>
                                                            <td style="text-align: center; font-weight: 600;">CURRENT VALUE(<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>)</td>
                                                            <td style="text-align: right; font-weight: 600;">SHARES</td>
                                                            <td>&nbsp;</td>
                                                        </tr>

                                                        {% for previous_details in previous_row.order_details %}
                                                            {% if previous_details.status != 'complete' %}
                                                            <tr class="previous_{{ current_holder.id }} drops_area_bg_prv" style="color:#c9c9c9; display:none;">
                                                                <td>&nbsp;</td>
                                                                <td>{{ previous_details.co_name }}<span style="color:#ff0000;">(Rejected)</span></td>
                                                                <td style="text-align: right;">{{ previous_details.current_value }}</td>
                                                                <td style="text-align: right;">{{ previous_details.lots }}</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            {% else %}
                                                            <tr class="previous_{{ current_holder.id }} drops_area_bg_prv" style="display:none;">
                                                                <td>&nbsp;</td>
                                                                <td><a href="/stock_details/{{ previous_details.co_code }}/{{ previous_details.cluster_id }}">{{ previous_details.co_name }}</a></td>
                                                                <td style="text-align: right;">{{ previous_details.current_value }}</td>
                                                                <td style="text-align: right;">{{ previous_details.lots }}</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                {% endif %}

                                                <!--end previous order-->

                                                <!--start rebalance order-->
                                                {% if current_holder.rebalance_id > 0 %}
                                                    {% for rebalance_row in current_holder.rebalance_order %}
                                                        <tr class="rebalance_{{ current_holder.id }} drops_area_bg_prv" style="display:none;">
                                                            <td>&nbsp;</td>
                                                            <td style="font-weight: 600;">CLUSTER NAME</td>
                                                            <td style="text-align: center; font-weight: 600;">CURRENT VALUE(<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>)</td>
                                                            <td style="text-align: right; font-weight: 600;">RETURN(%)</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr class="rebalance_{{ current_holder.id }} drops_area_bg_prv" style="display:none;" >
                                                            <td>&nbsp;</td>
                                                            <td><a href="/cluster_list/{{ rebalance_row.cluster_id }}">{{ rebalance_row.cluster_name }}</a></td>
                                                            <td style="text-align: right;">{{ rebalance_row.current_value }}</td>
                                                            <td style="text-align: right;">{{ rebalance_row.return }}</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr class="rebalance_{{ current_holder.id }} drops_area_bg_prv" style="display:none;">
                                                            <td>&nbsp;</td>
                                                            <td style="font-weight: 600;">STOCK NAME</td>
                                                            <td style="text-align: center; font-weight: 600;">CURRENT VALUE(<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>)</td>
                                                            <td style="text-align: right; font-weight: 600;">SHARES</td>
                                                            <td>&nbsp;</td>
                                                        </tr>

                                                        {% for rebalance_details in rebalance_row.order_details %}
                                                            <tr class="rebalance_{{ current_holder.id }} drops_area_bg_prv" style="display:none;">
                                                                <td>&nbsp;</td>
                                                                <td><a href="/stock_details/{{ rebalance_details.co_code }}/{{ rebalance_details.cluster_id }}">{{ rebalance_details.co_name }}</a></td>
                                                                <td style="text-align: right;">{{ rebalance_details.current_value }}</td>
                                                                <td style="text-align: right;">{{ rebalance_details.lots }}</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endfor %}
                                                {% endif %}

                                                <!--end previous order-->

                                            {% endfor %}

                                            {% endif %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- DATA TABLE ENDS -->
                                <input type="hidden" id="page" name="page" value="{{ page }}" />
                                <input type="hidden" id="page_load" name="page_load" value="load" />

                                <!-- CURRENT HOLDINGS ENDS -->

                                <div id="scroll_load_div" style="display:none; text-align:center;"><img src="/static/investak/images/loader2.gif" /></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/. body right portion area -->
    	</div>
	</div>

</section>
<style>

.CurrentHoldings .inner_table table tbody tr td:nth-child(1) {
    width: 14.5%; text-align: left;
}
.CurrentHoldings .inner_table table tbody tr td:nth-child(2) {
    width: 10%; text-align: left;
}
.CurrentHoldings .inner_table table tbody tr td:nth-child(3) {
    width: 9%; text-align: center;
}
.CurrentHoldings .inner_table table tbody tr td:nth-child(4) {
    width: 10%; text-align: right;
}
.CurrentHoldings .inner_table table tbody tr td:nth-child(5) {
    width: 9%; text-align: right;
}
.CurrentHoldings .inner_table table tbody tr td:nth-child(6) {
    width: 8%; text-align: right;
}
.CurrentHoldings .inner_table table tbody tr td:nth-child(7) {
    width: 5%; text-align: center;
}

.rebalanceBtn{ background:#fff; padding:2px 5px; margin: 5px 0 0; position:relative; border:1px solid #ed5d09; font-family: "Open Sans",sans-serif; font-size: 12px; font-weight: 600; color:#ed5d09;}
.rebalanceBtn:hover{background:#ed5d09; color:#fff;}

/*table.dataTable, table.dataTable th, table.dataTable td{font-size: 12px;}*/
</style>

<script>
function show_hold_details(obj, row_id)
{
    var class_name = 'hold_details_'+row_id;
    var s = $("."+class_name).css("display");
    //alert('s'+s);
    if(s == 'none')
    {
        $("."+class_name).css("display","");
        $(obj).toggleClass("fa-plus fa-minus");
    }
    else
    {
        $("."+class_name).css("display","none");
        $(obj).toggleClass("fa-minus fa-plus");
    }
}

function place_sell(order_buy_id)
{
    //alert('cluster_id'+cluster_id);
    window.location.href = "/sell_cluster/"+order_buy_id;
}
function place_rebalance_order(order_buy_id)
{
    //alert('cluster_id'+cluster_id);
    window.location.href = "/rebalance_cluster/"+order_buy_id;
}
//==========LIVE ORDER==============//
function place_api_repair(order_id)
{
    window.location.href = "/repair_cluster/"+order_id;
}
function place_api_archive(order_id)
{
    //window.location.href = "/archive_cluster/"+order_id;
    $.ajax({
       type:"POST",
       url:"/frontend/place_archive_order/",
       async:false,
       data:{
             order_tag:'live',
             order_id:order_id,
             csrfmiddlewaretoken:'{{ csrf_token }}'
       },
       beforeSend:function() {
           //$.blockUI({ message: 'Please Wait...' });
       },
       success:function(response) {
           if(response) { //alert('response'+response);

           }
           else { //alert('response'+response);
               //$.blockUI({ message: 'There is something wrong while placing order' });
               //$.unblockUI();
           }
       },
       error:function(xhr) { alert('responseerror');
           //$.blockUI({ message: 'There is something wrong while placing order' });
           //$.unblockUI();
       }
    });
     window.location.href="/holdings/";
}
function place_api_sell(order_id)
{
    //alert('order_id'+order_id);
    window.location.href = "/sell_live_cluster/"+order_id;
}
</script>
<script>
$(document).ready(function(e) {
    //----------------------------------------//
    $("#CurrentHoldings").hide();
    //-----------------------------------------//
    $(".holding_mobi_tbl").hide();
    //$(".previous_rebalance_tbl").hide();
    //-----------------------------------------//
    $("#Summary").removeClass("active");
    $("#CurrentHoldings").removeClass("active");
    $("#TradeSummary").removeClass("active");
    $("#Orders").removeClass("active");
    $("#exTab1 li").removeClass("active");
    //-----------------------------------------//
    if($(window).width()<768)
    {
        get_data_table();
    }
    else
    {
        //-----------------------------------------//
        set_web_tab();
        //-----------------------------------------//        
    }
    //----------------------------------------//
});
function goto_tab()
{  
    //----------------------------------------//
    $("#CurrentHoldings").hide();
    //-----------------------------------------//
    $(".holding_mobi_tbl").hide();
    $("#holdings_summary_mobi_tbl").hide();
    //$(".previous_rebalance_tbl").hide();
    //-----------------------------------------//
    $("#Summary").removeClass("active");
    $("#CurrentHoldings").removeClass("active");
    $("#TradeSummary").removeClass("active");
    $("#Orders").removeClass("active");
    $("#exTab1 li").removeClass("active");
    //-----------------------------------------//
    if($(window).width()<768)
    {
        get_data_table();
    }
    else
    {
        set_web_tab();
    }
    //-----------------------------------------//    
}
function set_web_tab()
{
    $("#CurrentHoldings").addClass("active");
    $("#li_current").addClass("active");
    $("#CurrentHoldings").show();
}
function get_data_table()
{
    if($(window).width()<768) {
        //-----------------------------------------//
        $("#CurrentHoldings").hide();
        //-----------------------------------------//
        $(".holding_mobi_tbl").hide();
        $("#holdings_summary_mobi_tbl").hide();
        //$(".previous_rebalance_tbl").hide();
        //-----------------------------------------//
        $(".holding_mobi_tbl").show();
        $("#li_current").addClass("active");
        //--------------------------------------------//
    }
}
</script>
<!-- External area pop Modal -->

<div id="externalmyModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Previous Holding Details</h4>
      </div>
      <div class="modal-body">

        <div class="content_table" id="modal_hold_data">
        	<table class="table" >
        	<thead>
            	<tr>
                    <th>Cluster Name</th>
                    <th>Date</th>
                    <th>lots | shares</th>
                    <th>bought Value</th>
                    <th>Current value</th>
                    <th>Profit</th>
                    <th>return</th>
                </tr>
            </thead>

            <tbody>
            	<tr>
                    <td><a href="#">Reliance Infrastructure Ltd</a></td>
                    <td>26 Aug 2016, 2:49 PM</td>
                    <td>36</td>
                    <td>Rs. 11,236.00</td>
                    <td>Rs. 11,236.00</td>
                    <td>Rs. 11,236.00</td>
                    <td>56.0%</td>
                </tr>

                <tr class="">
                    <td colspan="7" class="inner_table">
                    <table class="table table-responsive">
                        <tbody>
                            <tr>
                                <td><a href="#">Cras ut auctor erat, eget</a></td>
                                <td>26 Aug 2016, 2:49 PM</td>
                                <td>36</td>
                                <td>Rs. 11,236.00</td>
                                <td>Rs. 11,236.00</td>
                                <td>Rs. 11,236.00</td>
                                <td>36%</td>
                            </tr>
                            <tr>
                                <td><a href="#">Cras ut auctor erat, eget</a></td>
                                <td>26 Aug 2016, 2:49 PM</td>
                                <td>36</td>
                                <td>Rs. 11,236.00</td>
                                <td>Rs. 11,236.00</td>
                                <td>Rs. 11,236.00</td>
                                <td>36%</td>
                            </tr>
                            <tr>
                                <td><a href="#">Cras ut auctor erat, eget</a></td>
                                <td>26 Aug 2016, 2:49 PM</td>
                                <td>36</td>
                                <td>Rs. 11,236.00</td>
                                <td>Rs. 11,236.00</td>
                                <td>Rs. 11,236.00</td>
                                <td>36%</td>
                            </tr>
                            <tr>
                                <td><a href="#">Cras ut auctor erat, eget</a></td>
                                <td>26 Aug 2016, 2:49 PM</td>
                                <td>36</td>
                                <td>Rs. 11,236.00</td>
                                <td>Rs. 11,236.00</td>
                                <td>Rs. 11,236.00</td>
                                <td>36%</td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
            </tbody>


        </table>
        </div>

      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
      </div>
    </div>

  </div>
</div>

{% include 'inner_footer.html' %}


<style>
/*================== external myModal(25-11-2016) =========================*/

.external{ cursor:pointer;}
#externalmyModal .modal-dialog{ width:950px; margin: 130px auto;}
#externalmyModal .modal-content .modal-header{ padding-top: 14px;}

.content_table table tbody tr:nth-child(even) {background: #fff;}
.content_table table tbody tr:nth-child(odd) {background: #f9f9f9;}
.content_table .table > thead > tr > th {border-bottom: 1px solid #666666; border-top: 1px solid #666666 !important; font-weight: 600; padding: 12px 5px; font-size: 12px; text-transform: uppercase;}

.content_table{ border-top:0px solid #74868f !important; padding:0px !important;}
.content_table table{ margin:0px 0px 25px; border:1px solid #eeeeee !important;}
.content_table table tbody tr td { width:12.4%;}
.content_table table tbody tr td:nth-child(1) { width:24%;}
.content_table table tbody tr td:nth-child(2) { width:19%;}
.content_table table tbody tr td:nth-child(3) { text-align:center;  padding-left:20px;}
.content_table table tbody tr td a { color:#2486c8; font-family: "Open Sans",sans-serif; font-size: 14px; font-weight: 400; text-decoration:none;}

</style>