<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Open Acount in 1 hour</title>
{% load staticfiles %}
    <script src="{% static "investak/dist/js/jquery.1.11.3.min.js" %}" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/bootstrap.min.css" %}">

<link rel="stylesheet" type="text/css" href="{% static "investak/dist/font-awesome/css/font-awesome.min.css" %}">
<script type="text/javascript" src="{% static 'frontend/js/jquery-ui.js' %}"></script>

<link rel="icon" href="{% static "investak/images/favicon.png" %}" sizes="16x16" type="image/16x16.png">


<script src="{% static "investak/dist/js/bootstrap.min.js" %}" type="text/javascript"></script>


</head>
<body>
<style>
    body {
  padding-top: 50px;
}
    .nav-brandim{
        margin-left: -30px;
      width: 190px;
    height: 40px;
    margin-top: 7px;
}
.btn-default:hover,s .btn-default[disabled]:hover{
    color: white;
    background-color: #2486c8;
    border-color: #adadad;
}
.navbar-header>a{
color:white;}
.navbar{
  background:#2486c8;
    color: white;
    height: 70px;
  }
.nav>li>a{
    padding-top: 25px;
  color: white;
    font-size: 20px;
  }
  .nav>li>a:hover, .nav>li>a:focus{
color:#2486c8;}
.well{
  margin-top: 50px;

  }
    .demat_ac_second_cart {
    background: #515151;
    padding: 20px 0;
}
    .demat_ac_second_4_box_copy > ul > li > div > h4 {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    font-family: 'Open Sans';
}
    .demat_ac_second_4_box_copy > ul > li > div > span {
    font-size: 14px;
    color: #ffffff;
}
    .demat_ac_second_4_box_copy > ul > li {
    display: block;
    border-top: 1px solid #868686;
    padding: 20px 0;
}
    .demat_ac_first_cart_copy {
    text-transform: uppercase;

}
    .demat_ac_first_cart_copy > h1 {
    font-size: 46px;
    font-weight: 700;
    color: #0865ab;
    font-family: 'Oswald';
    text-align: center;
}
    .demat_ac_first_cart_copy > p {
    font-size: 46px;
    font-weight: 700;
    color: #0865ab;
    font-family: 'Oswald';
    text-align: center;
}
    .demat_ac_first_cart_copy > p > span {
    font-size: 75px;
    color: #0865ab;
    display: block;
    line-height: 75px;
}

    @media (max-width: 768px){
      .navbar-im{
            margin-left: -31px;
          height: auto;
    width: 190px;
     margin-top: 0px;

      }

.demat_ac_first_cart_copy > p > span {
    display: inline;
    font-size: 22px;
    line-height: 22px;
}
        .well{
            margin-top: 0px;
        }
        ul{
            padding-left: 10px;
        }
.demat_ac_first_cart_copy > p {
    display: inline;
    font-size: 20px;
    margin: 0;
}
    .hidden-xs {
    display: none !important;
}
    .demat_ac_first_cart_copy > h1 {
        font-size: 20px;
    }
    }
.demat_ac_second_4_box_copy > ul > li > div {
    width: 88%;
    float: left;
}

</style>
<div class="navbar  navbar-fixed-top">
  <div class="container" style="margin-left: 30px;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <a href="#about" class="navbar-brand"><img class="white nav-brandim" src="/static/investak/images/logo_white.png"></a>

        <a class="navbar-brand hidden-xs" href="#" style="margin-top: 18px;">partnered with</a>
        <a class="navbar-brand hidden-xs" href="#"><img class="white" src="https://www.angelbroking.com/themes/angel/images/Angel_logo_LP.svg"
                                            style="width: 200px;height: 40px;"></a>
           </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
<div class="container">
  <div class="row">
  <div class="col-md-8 col-xs-12">

<div class="well" style="text-align: center;color: #2486c8;background-color: transparent;border: none;-webkit-box-shadow: none;box-shadow: none">
{#    <h2 style="font-size: 38px">OPEN A DEMAT ACCOUNT WITH ANGELBROKING</h2>#}
{#  <h1>  &</h1><h1 style="font-size: 54px">#}
{#    START TRADING</h1>#}
{#<h1 style="font-size: 60px">IN JUST 1 HOUR</h1>#}
    <div class="demat_ac_first_cart_copy"><h1>Open a DEMAT account</h1><p class="hidden-xs">&amp;</p><p>start trading <span>in just 1 hour</span></p></div>
</div>

    </div><div class="col-md-4 col-xs-12">

<div class="well" style="background: #f9c945;">
<label style="font-size:20px;font-weight: bold ">LIFETIME FREE DEMAT ACCOUNT*</label>
<label style="font-size:15px;font-weight: bold ">Enter your Details</label>
    <form  role="form"  method="post" id="post-form">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        {{ form.name.label }}{{ form.name }}<div id="name_errors" style="color: red"></div>
    {{ form.phone.label }}{{ form.phone }}<div id="phone_errors" style="color: red"></div>
        {{ form.location.label }}<div class="ui-widget">{{ form.location }}</div><div id="location_errors" style="color: red"></div>
           <!--  <div class="mdl-textfield mdl-js-textfield">
             <input class="mdl-textfield__input" type="text" id="username">
    <label class="mdl-textfield__label" for="username">Username</label>

            </div>
        <br/>
      <div class="mdl-textfield mdl-js-textfield">
             <input class="mdl-textfield__input" type="password" id="password">
    <label class="mdl-textfield__label" for="password">password</label>

            </div>

            <br/> -->
            <br/>

        <button type="submit" style="margin-left: 30%" class="btn btn-default" id="btn_submit" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing Application">Apply Now</button>



        </form>
</div>

    </div>
  </div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Application Submitted</h4>
        </div>
        <div class="modal-body">
          <p>Your Application has been successfully submitted. We will contact you soon!.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
        </div>
      </div>

    </div>
  </div>
</div><!-- /.container -->
<div class="container-fluid demat_ac_second_cart"><div class="container"><div class="row">
    <div class="col-xs-12 col-md-12"><div class="demat_ac_second_copy"><h2 style="color:#fff">Why open a Demat account with Angel Broking</h2><div class="row">
        <div class="col-sm-12 col-md-6"><div class="demat_ac_second_4_box_copy"><ul><li class="clearfix"> <img src="//s3-ap-south-1.amazonaws.com/absite-mumbai/angelbroking/themes/angel/images/demat_ac_second_cart_img1.png"><div><h4>Flat 20% off on brokerage</h4> <span>Get 20% discount on brokerage charges for all your online transactions.<br><br></span></div></li><li class="clearfix"> <img src="//s3-ap-south-1.amazonaws.com/absite-mumbai/angelbroking/themes/angel/images/demat_ac_second_cart_img3.png"><div><h4>Expert stock recommendations</h4> <span>Get research-based trading advice from our team of experts. In the past year alone over 22 of our stock recommendations have given 100% returns.</span></div></li></ul></div></div>
        <div class="col-sm-12 col-md-6"><div class="demat_ac_second_4_box_copy"><ul><li class="clearfix"> <img src="//s3-ap-south-1.amazonaws.com/absite-mumbai/angelbroking/themes/angel/images/demat_ac_second_cart_img2.png"><div><h4>Start Trading in 1 hour</h4> <span>Powered by India’s first of its kind DKYC, we are now the fastest. You can start trading in 1 Hour only with us.</span></div></li><li class="clearfix"> <img src="//s3-ap-south-1.amazonaws.com/absite-mumbai/angelbroking/themes/angel/images/demat_ac_second_cart_img4.png"><div><h4>Best in class trading platforms</h4> <span>Get free access to multiple hi-tech online trading products that allows you to trade anytime anywhere.</span></div></li></ul></div></div></div></div></div></div></div></div>
<div id="footer" style="background-color: black; color: white;font-size: 12px;">
  <div class="container"><p>*T&amp;C Apply</p>
    <p>Angel Broking Pvt. Ltd: BSE Sebi Regn No: INB 010996539 / CDSL Regn No: IN - DP - CDSL - 234 - 2004 / PMS Regn Code: PM / INP000001546 Angel Commodities Broking (P) Ltd:</p><p>MCX Member ID: 12685 / FMC Regn No: MCX / TCM / CORP / 0037 NCDEX Member ID: 00220 / FMC Regn No: NCDEX / TCM / CORP / 0302.</p><p>NSE SEBI Reg. No. Cash: INB231279838 / F&amp;O: INF231279838 / Currency: INE231279838</p><p>MCX Currency SEBI Reg. No. INE261279838.</p>
  </div>
</div>
{#<div class="container"><div class="row"><div class="col-xs-12" style="color: white; background-color: black">#}
{#    <p>*T&amp;C Apply</p><p>Angel Broking Pvt. Ltd: BSE Sebi Regn No: INB 010996539 / CDSL Regn No: IN - DP - CDSL - 234 - 2004 / PMS Regn Code: PM / INP000001546 Angel Commodities Broking (P) Ltd:</p><p>MCX Member ID: 12685 / FMC Regn No: MCX / TCM / CORP / 0037 NCDEX Member ID: 00220 / FMC Regn No: NCDEX / TCM / CORP / 0302.</p><p>NSE SEBI Reg. No. Cash: INB231279838 / F&amp;O: INF231279838 / Currency: INE231279838</p><p>MCX Currency SEBI Reg. No. INE261279838.</p></div></div></div>#}
</body>
<script type="application/javascript">
    var tags=[];

{#source: function(request, response) {#}
{#    $.ajax({#}
{#        data:{csrfmiddlewaretoken:'{{ csrf_token }}',search:$('#id_location').val()},#}
{#        type: "POST",#}
{#        url: "/nearest_ab_cities/",#}
{#        success :function(response){#}
{#            console.log(response);#}
{#            console.log("Success");#}
{#            for(city in response.cities){#}
{#                console.log(response.cities[city]);#}
{#            }#}
{##}
{##}
{#            return response.cities#}
{#            }#}
{#          ,#}
{#        error:function(xhr){#}
{#            console.log('error');#}
{#        }#}
{#    });#}


 $(function() {
  $("#id_location").autocomplete({
    source: '/nearest_ab_cities/',
    focus:function( event, ui ) {

        return false;
      },
    minLength: 1,
      select:function( event, ui ) {

        $("#id_location").val(ui.item.label).trigger('input');


        return false;
      },
  });
});
{# function fn(){#}
{#     $.ajax({#}
{#        data:{csrfmiddlewaretoken:'{{ csrf_token }}',search:$('#id_location').val()},#}
{#        type: "POST",#}
{#        url: "/nearest_ab_cities/",#}
{#        success :function(response){#}
{#            console.log(response);#}
{#            console.log("Success");#}
{#            /*tags=[];*/#}
{#            for(city in response.cities){#}
{#                console.log(response.cities[city]);#}
{#                tags.push(response.cities[city])#}
{#            }#}
{#            return tags;#}
{#        },#}
{#        error:function(xhr){#}
{#            console.log('error');#}
{#        }#}
{#    });#}
{#    }#}
{#$("form input[name='location']").keyup(function () {#}
{#    $.ajax({#}
{#        data:{csrfmiddlewaretoken:'{{ csrf_token }}',search:$(this).val()},#}
{#        type: "POST",#}
{#        url: "/nearest_ab_cities/",#}
{#        success :function(response){#}
{#            console.log(response);#}
{#            console.log("Success");#}
{#            /*tags=[];*/#}
{#            for(city in response.cities){#}
{#                console.log(response.cities[city]);#}
{#                tags.push(response.cities[city]);#}
{#            }#}
{##}
{#        },#}
{#        error:function(xhr){#}
{#            console.log('error');#}
{#        }#}
{#    });#}
{#    // Handle the click event here#}
{#{);#}
    $('#post-form').on('submit', function(event){
         $('#btn_submit').button('loading');
    event.preventDefault();
    console.log("form submitted!")  // sanity check
        $.ajax({ // create an AJAX call...
                data: $(this).serialize(), // get the form data
                type: $(this).attr('method'), // GET or POST
                url: $(this).attr('action'), // the file to call
                success: function(response) { // on success..

                    console.log(response);
                    $("#phone_errors").html('');
                    $("#location_errors").html('');
                    $("#name_errors").html('');
                            console.log('name found');
                    for (error in response.errors){
                        console.log(error);
                        if (error=='phone'){
                            document.getElementById('phone_errors').innerText=response.errors[error];
                           /* $("#phone_errors").html(response.errors[error]);*/
                            console.log('phone found');
                        }
                        if (error=='location'){
                            document.getElementById('location_errors').innerText=response.errors[error];
                           /* $("#location_errors").html(response.errors[error]);*/
                            console.log('locaton found');
                        }
                        if (error=='name'){
                            document.getElementById('name_errors').innerText=response.errors[error];
                           /* $("#name_errors").html(response.errors[error]);*/
                            console.log('name found');
                        }
                        console.log(response.errors[error]);
                    //Do something with the error dict like map it to the field's div and turn it red
                 }
                    if(response.success){
// {#                        alert('Your Application has been successfully submitted. We will contact you soon!'+window.location.hostname);#}
                        $('#btn_submit').button('reset');
                        jQuery('#myModal').modal('show');

                    }
                    $('#btn_submit').button('reset');
                },
            error:function (response) {
                ('#btn_submit').button('reset');
            }
            });

});
    jQuery('#myModal').on('hidden.bs.modal', function () {
        document.location.href="/";});
</script>
<style>
    @font-face { font-family: 'Oswald'; font-style: normal; font-weight: 300; src: local('Oswald Light'), local('Oswald-Light'), url(https://fonts.gstatic.com/s/oswald/v11/l1cOQ90roY9yC7voEhngDBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2'); unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
@font-face { font-family: 'Oswald'; font-style: normal; font-weight: 300; src: local('Oswald Light'), local('Oswald-Light'), url(https://fonts.gstatic.com/s/oswald/v11/HqHm7BVC_nzzTui2lzQTDVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face { font-family: 'Oswald'; font-style: normal; font-weight: 400; src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v11/yg0glPPxXUISnKUejCX4qfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2'); unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
@font-face { font-family: 'Oswald'; font-style: normal; font-weight: 400; src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v11/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face { font-family: 'Oswald'; font-style: normal; font-weight: 700; src: local('Oswald Bold'), local('Oswald-Bold'), url(https://fonts.gstatic.com/s/oswald/v11/dI-qzxlKVQA6TUC5RKSb3xJtnKITppOI_IvcXXDNrsc.woff2) format('woff2'); unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
@font-face { font-family: 'Oswald'; font-style: normal; font-weight: 700; src: local('Oswald Bold'), local('Oswald-Bold'), url(https://fonts.gstatic.com/s/oswald/v11/bH7276GfdCjMjApa_dkG6VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2'); unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2'); unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2'); unicode-range: U+1F00-1FFF; }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2'); unicode-range: U+0370-03FF; }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format('woff2'); unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2'); unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
</style>
</html>