{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>Investak - Login with TSO Password</title>
<meta http-equiv="no-cache">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<link rel="icon" href="{% static "investak/images/favicon.png" %}" sizes="16x16" type="image/16x16.png">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"> 
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/bootstrap-material-design.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/font-awesome/css/font-awesome.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/styles.css" %}?v=1.5">
<!--link rel="stylesheet" type="text/css" media="screen" href="{% static "investak/dist/css/safari.css" %}" /-->
<script src="{% static "investak/dist/js/jquery.1.11.3.min.js" %}" type="text/javascript"></script>
<script src="{% static "investak/dist/js/bootstrap.min.js" %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static "investak/dist/js/material.min.js" %}"></script>

<script>
  !function(e,t,a,n,c,s,o){e.GoogleAnalyticsObject=c,e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},e[c].l=1*new Date,s=t.createElement(a),o=t.getElementsByTagName(a)[0],s.async=1,s.src=n,o.parentNode.insertBefore(s,o)}(window,document,"script","https://www.google-analytics.com/analytics.js","ga"),ga("create","UA-85280233-1","auto"),ga("send","pageview");
</script>
<script type="text/javascript">
  $(window).on('load resize', function(){ 
    // This will execute whenever the window is resized
    if($(window).width() > 768){
      $(".onclickMob").hide();
    } else {
       $(".onclickMob").show();
    }
  });
$(function(){
  // lazy load 
  [].forEach.call(document.querySelectorAll('img[data-src]'), function(img) {
      img.setAttribute('src', img.getAttribute('data-src'));
      img.onload = function() {
          /*console.log(img.getAttribute('data-src'));*/
          img.removeAttribute('data-src');
      };
  });
}); 
function fp(){
  var term=window.open("http://nestuat.tradesmartonline.in/VNSFINANCE/Trade/ForgotPassword.jsp",  "800", "600","scrollbars=yes,menubar=no,toolbar=no,location=no,status=yes,resizable=no","aboutus");
} 
function createjscssfile(filename, filetype){
    if (filetype=="js"){ //if filename is a external JavaScript file
        var fileref=document.createElement('script')
        fileref.setAttribute("type","text/javascript")
        fileref.setAttribute("src", filename)
    }
    else if (filetype=="css"){ //if filename is an external CSS file
        var fileref=document.createElement("link")
        fileref.setAttribute("rel", "stylesheet")
        fileref.setAttribute("type", "text/css")
        fileref.setAttribute("href", filename)
    }
    return fileref
}
function replacejscssfile(oldfilename, newfilename, filetype){
    var targetelement=(filetype=="js")? "script" : (filetype=="css")? "link" : "none" //determine element type to create nodelist using
    var targetattr=(filetype=="js")? "src" : (filetype=="css")? "href" : "none" //determine corresponding attribute to test for
    var allsuspects=document.getElementsByTagName(targetelement)
    for (var i=allsuspects.length; i>=0; i--){ //search backwards within nodelist for matching elements to remove
        if (allsuspects[i] && allsuspects[i].getAttribute(targetattr)!=null && allsuspects[i].getAttribute(targetattr).indexOf(oldfilename)!=-1){
            var newelement=createjscssfile(newfilename, filetype)
            allsuspects[i].parentNode.replaceChild(newelement, allsuspects[i])
        }
    }
}
/* check if it is windows system and browser is safari */
if(navigator.platform.indexOf('Win') > -1 && (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1)){
    /*console.log("safari");*/
    var newelement=createjscssfile("/static/investak/dist/css/safari.css", "css");
    suspect = document.getElementsByTagName("link")[0];
    suspect.parentNode.appendChild(newelement);
} else {
    /*console.log("Not safari");*/
}  
</script>
<style type="text/css">
  img {
      opacity: 1;
      transition: opacity 0.3s;
  }

  img[data-src] {
      opacity: 0;
  }
</style>
</head>
<body>
<div id="bg"><img src="{% static "investak/images/login_page.jpg" %}" alt=""></div>
<div class="clearfix"></div>
<div class="total_body_area">

<div class="before_login_menu_mobile">
<div id="" class="">
    <div class="menu_area">

    <ul class="nav navbar-nav">
        <li><a href="{{ SITE_URL }}#aboutus">about us</a></li>
        <li><a href="{{ SITE_URL }}#Analyze">Approach</a></li>
        <li><a href="{{ SITE_URL }}#markit2">testimonials</a></li>
        <li><a href="{{ SITE_URL }}#team">team</a></li>
        <li><a href="{{ SITE_URL }}#partners">partners</a></li>
        <li><a href="{{ SITE_URL }}#contactus">contact us</a></li>
        <h3>Resources</h3>
        <li><a href="/faq/" style="padding-left:30px !important;">faq</a></li>
        <li><a href="/news/" style="padding-left:30px !important;">newsroom</a></li>
    </ul>
    </div>

</div>
</div>

    <div class="psuh_left">
        <header class="header_area {% ifequal current_path '/login/' %} login_head {% endifequal %} ">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        	<button type="button" class="navbar-toggle onclickMob" style="display:none;">
                <i class="fa fa-bars" aria-hidden="true"></i>
        	</button>
            <a class="mobmenu" href="javascript:void(0)"><i class="fa fa-bars" aria-hidden="true"></i></a>
        	<a class="navbar-brand" href="{{ SITE_URL }}"><img class="white" src="{% static "investak/images/logo_white.png" %}">
            <img class="blue" src="{% static "investak/images/logo.png" %}"></a>
        </div>

        <div class="before_login_menu">
        <div id="navbar" class="navbar-collapse collapse">

            <div class="login_attr">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="active_logs" href="/login_2fa_password/">Log in</a></li>
            </ul>
            </div>


            <ul class="nav navbar-nav pull-right">
                <li><a href="{{ SITE_URL }}#aboutus">about us</a></li>
                <!--<li><a href="javascript:void(0)">approach</a></li>-->
                <li><a href="{{ SITE_URL }}#Analyze">Approach</a></li>
                <li><a href="{{ SITE_URL }}#markit2">testimonials</a></li>
                <li><a href="{{ SITE_URL }}#team">team</a></li>
                <li><a href="{{ SITE_URL }}#partners">partners</a></li>
                <li><a href="{{ SITE_URL }}#contactus">contact us</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/faq/">faq</a></li>
                        <li><a href="/news/">newsroom</a></li>
                    </ul>
                </li>
            {% if request.session.id %}
            {% else %}
                <!-- <li><a href="/signup/" class="hvr-underline-from-center scroller">Sign Up</a></li> -->
            {% endif %}
            </ul>


        </div><!--/.nav-collapse -->
        </div>
    </div><!--/.container-fluid -->
</nav>
</header>


<style>
.error {
    font-size: 12px !important;
    color: #ff0000 !important;
  }

[type=checkbox]:checked, [type=checkbox]:not(:checked) {
  position: static !important;
  content: '' !important;
  left: 0 !important;
  top: 2px !important;
  width: 17px !important;
  height: 17px !important;
  /*border: 1px solid #999;*/
  /*background: #fff;*/
  border-radius: 0 !important;
}
</style>
<section>
	<div class="container">
    	<div  class="col-md-5 col-sm-12 col-center">
        	<div class="login_page_area" id="loginDiv" style="min-height:450px;">
                <div class="custom_tab_box">
                    <!-- Nav tabs -->
                      <ul class="nav nav-tabs cus_nav_tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Login with TSO</a><!--span style="margin-left: 30px;border-bottom: 4px solid #2486c8 !important;"> <label>LOGIN ID: {{ request.session.client_id }}  </label></span--></li>
                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <form name="frm2fLoginPassword" id="frm2fLoginPassword" method="post" action="">{% csrf_token %}
                                    <div style="margin-bottom:20px;"><span id="loginError" style="color:#ff0000; margin-bottom: 20px;"></span></div>
                                    <div id="emdivid" class="form-group label-floating is-empty">
                                      <label id="client_id" for="112" class="control-label login_label" >Login Id</label><br/>
                                      <input type="text" name="client_id" id="client_id" disabled class="form-control" value="{{ request.session.client_id }}" />
                                    </div>
                                    <div class="">
                                      <input type="checkbox" name="sai" id="sai" value="1" />
                                      <span class="trams" for="sai">Please confirm your Secure Access Image</span>
                                    </div>
                                    <div id="client-password" class="form-group label-floating is-empty">

                                        <img src="{{imgsrc}}" width="100px" height="100px" alt="{{imgsrc}}" />
                                    </div>
                                    <div id="emdivid" class="form-group label-floating is-empty">
                                        <label id="emaillabelid" for="112" class="control-label" >Password</label>
                                        <input type="password" name="client_password" id="client_password" class="form-control">
                                        <div class="col-md-6 col-sm-6 col-xs-6 nopadding">
                                        <a href="javascript:fp();">Forgot Password</a> 
                                        </div>
                                    </div>

                                    <div id="loaderdiv" class="form-group label-floating" style="margin:0; padding:0; text-align:center; clear:both; display:none;"><img src="{% static "investak/images/loader2.gif" %}"></div>

                                    <button type="button" class="btn mysubmit_btn" id="btnGO">GO</button>
                                </form>
                            </div>
                            <div id="errordiv" style="display:none; color: #ff0000;text-align: center;">Password didn't matched.</div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</div>

<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
 <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>
<script type="text/javascript">
  $.material.init();
    $(document).ready(function(){
      var tgt = $(document).height();
      $(".before_login_menu_mobile").height(tgt);
      mobilemenu();

      $(".form-control").keyup(function(event){
        if(event.keyCode == 13){
            $("#frm2fLoginPassword").submit();
        }
      });

      $("#btnGO").click(function(e){
          $("#frm2fLoginPassword").submit();
      });

      $("#frm2fLoginPassword").validate({
          rules: {
            client_password: {
              required: true,
            },
            sai: {
              required: true,
            }
          },
          messages: {
            client_password: {
              required: "Please Enter Client Password.",
            },
            sai: {
              required: "Please confirm the image.",
            }
          },
          submitHandler:function(form) {
              $("#loaderdiv").show();
              $.ajax({
                  type:"POST",
                  url:"/check_login_2fa_password/",
                  data:{client_password:$("#client_password").val(),csrfmiddlewaretoken:'{{ csrf_token }}'},
                  success:function(response) {
                    if(response == 1) {
                      window.location.href = "/login_2fa_answer/";
                    }
                    else {
                      $("#loaderdiv").hide();
                      $("#errordiv").html("Password didn't matched.").show();
                    }
                  },
                  error:function(response) {
                    $("#loaderdiv").hide();
                    $("#errordiv").html("Password didn't matched.").show();
                  }
              });
          }
      });
    });
    function mobilemenu()
  {
    $(".onclickMob").click(function(e){

            e.stopPropagation();
      $('.before_login_menu_mobile').animate({right:0});
      $(".psuh_left").animate({right:240});
      $(this).hide();
      $(".mobmenu").show();
      $(".psuh_left").addClass('opacity');
      $(".psuh_left").addClass('opaleft');


    });

        $(".before_login_menu_mobile").click(function(e){
            e.stopPropagation();
        });

    $(".mobmenu").click(function(e){
      $('.before_login_menu_mobile').animate({right:-270});
      $('.before_login_menu_mobile').show();
      $(".psuh_left").animate({right:0});
      $(this).hide();
      $(".onclickMob").show();
      $(".psuh_left").removeClass('opacity');

             //e.stopPropagation();
    });


  }
$(document).on('click','.opacity',function(e){

         var right_value = $('.before_login_menu_mobile').css('right');

            if(right_value == "-270px") {
                $( ".onclickMob" ).trigger( "click" );
            }
            else {
                $('.before_login_menu_mobile').animate({right:-270});
                $('.before_login_menu_mobile').show();
                $(".psuh_left").animate({right:0});
                $(this).hide();
                $(".onclickMob").show();
                $(".psuh_left").removeClass('opacity');
                $(".psuh_left").css('display','block');
            }

            $(".onclickMob").focus();
            $(".mobmenu").hide();
    });
</script>
</body>
</html>