﻿{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>Investak - Login</title>
<meta http-equiv="no-cache">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>


<!-- BEGIN GLOBAL MANDATORY STYLES -->
<!--<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>  font-family: 'Roboto', sans-serif;-->
<link rel="icon" href="{% static "investak/images/favicon.png" %}" sizes="16x16" type="image/16x16.png">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"> <!--font-family: 'Open Sans', sans-serif;-->

<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/bootstrap-material-design.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/font-awesome/css/font-awesome.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/bootstrap-datetimepicker.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/styles.css" %}?v=1.6">
<!-- link rel="stylesheet" type="text/css" media="screen" href="{% static "investak/dist/css/safari.css" %}" /-->
<script src="{% static "investak/dist/js/jquery.1.11.3.min.js" %}" type="text/javascript"></script>
<script src="{% static "investak/dist/js/bootstrap.min.js" %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static "investak/dist/js/material.min.js" %}"></script>
<script type="text/javascript" src="{% static "investak/dist/js/ripples.min.js" %}"></script>
<script type="text/javascript" src="{% static "investak/dist/js/bootstrap-datetimepicker.js" %}"></script>

<!--<script type="text/javascript" src="dist/js/custom_login.js"></script>-->
<script type="text/javascript">
  var FACEBOOK_APP_ID = '{{ FACEBOOK_APP_ID }}'
  var GPLUS_APP_ID = '{{ GPLUS_APP_ID }}'
  $.material.init();
    $(document).ready(function(){

        var tgt = $(document).height();
    //alert(tgt)
    $(".before_login_menu_mobile").height(tgt);
        mobilemenu();
    });
    function mobilemenu()
  {
    $(".onclickMob").click(function(e){

            e.stopPropagation();
      $('.before_login_menu_mobile').animate({right:0});
      $(".psuh_left").animate({right:240});
      $(this).hide();
      $(".mobmenu").show();
      $(".psuh_left").addClass('opacity');
      $(".psuh_left").addClass('opaleft');


    });

        $(".before_login_menu_mobile").click(function(e){
            e.stopPropagation();
        });

    $(".mobmenu").click(function(e){
      $('.before_login_menu_mobile').animate({right:-270});
      $('.before_login_menu_mobile').show();
      $(".psuh_left").animate({right:0});
      $(this).hide();
      $(".onclickMob").show();
      $(".psuh_left").removeClass('opacity');

             //e.stopPropagation();
    });


  }


$(document).ready(function(){
  $('#tablist li a').mouseover(function(){ 
    if($(this).closest("li").hasClass("active")) {
      $(this).closest("li").removeClass("active");
      $(this).closest("li").addClass("was_active");
      $(this).closest("li").css("border-bottom","4px solid #2486c8 !important");
    }  
  });
  /*$('#tablist li a').mousedown(function(){ 
    if($(this).closest("li").hasClass("active")) {
      $(this).closest("li").removeClass("active");
      $(this).closest("li").addClass("was_active");
      $(this).closest("li").css("border-bottom","4px solid #2486c8 !important");
    }
  });*/
  $('#tablist li a').mouseleave(function(){
    if($(this).closest("li").hasClass("was_active")) { 
      $(this).closest("li").removeClass("was_active");
      $(this).closest("li").addClass("active");
    }
  });
  /*$('#tablist li a').mouseup(function(){
    if($(this).closest("li").hasClass("was_active")) {
      $(this).closest("li").removeClass("was_active");
      $(this).closest("li").addClass("active");
    }
  });*/
  /*$('#tablist li').unbind().click(function(){ console.log("hi");
    if(!$(this).hasClass("active")) {
      $(this).css("border-bottom","0");
      $('#tablist li').each(function(){
        if($(this).hasClass("active")) $(this).removeClass("active"); 
      });
      if(!$(this).hasClass("active")) $(this).addClass("active");
    } 
  });*/
});


$(window).on('load resize', function(){ 
  // This will execute whenever the window is resized
  if($(window).width() > 768){
    $(".onclickMob").hide();
    $("#navbar").show();
    $(".before_login_menu").show();
  } else {
     $(".onclickMob").show();
     $(".before_login_menu").hide();
  }
  //if($(window).width() == 768){
    /*$(".mobile_arrow").click(function(){
        $(".mobiles_toggle").toggle();
    });*/
  //}
});
  
$(document).on('click','.opacity',function(e){

         var right_value = $('.before_login_menu_mobile').css('right');

            if(right_value == "-270px") {
                $( ".onclickMob" ).trigger( "click" );
            }
            else {
                $('.before_login_menu_mobile').animate({right:-270});
                $('.before_login_menu_mobile').show();
                $(".psuh_left").animate({right:0});
                $(this).hide();
                $(".onclickMob").show();
                $(".psuh_left").removeClass('opacity');
                $(".psuh_left").css('display','block');
            }

            $(".onclickMob").focus();
            $(".mobmenu").hide();
    });
$(function(){
  // lazy load 
  [].forEach.call(document.querySelectorAll('img[data-src]'), function(img) {
      img.setAttribute('src', img.getAttribute('data-src'));
      img.onload = function() {
          /*console.log(img.getAttribute('data-src'));*/
          img.removeAttribute('data-src');
      };
  });
});
function fp(){
  var term=window.open("https://trade.angelbroking.com/ChangePassword/ForgotPassword",  "800", "600","scrollbars=yes,menubar=no,toolbar=no,location=no,status=yes,resizable=no","aboutus");
}
    function createjscssfile(filename, filetype){
        if (filetype=="js"){ //if filename is a external JavaScript file
            var fileref=document.createElement('script')
            fileref.setAttribute("type","text/javascript")
            fileref.setAttribute("src", filename)
        }
        else if (filetype=="css"){ //if filename is an external CSS file
            var fileref=document.createElement("link")
            fileref.setAttribute("rel", "stylesheet")
            fileref.setAttribute("type", "text/css")
            fileref.setAttribute("href", filename)
        }
        return fileref
    }
    function replacejscssfile(oldfilename, newfilename, filetype){
        var targetelement=(filetype=="js")? "script" : (filetype=="css")? "link" : "none" //determine element type to create nodelist using
        var targetattr=(filetype=="js")? "src" : (filetype=="css")? "href" : "none" //determine corresponding attribute to test for
        var allsuspects=document.getElementsByTagName(targetelement)
        for (var i=allsuspects.length; i>=0; i--){ //search backwards within nodelist for matching elements to remove
            if (allsuspects[i] && allsuspects[i].getAttribute(targetattr)!=null && allsuspects[i].getAttribute(targetattr).indexOf(oldfilename)!=-1){
                var newelement=createjscssfile(newfilename, filetype)
                allsuspects[i].parentNode.replaceChild(newelement, allsuspects[i])
            }
        }
    }
    /* check if it is windows system and browser is safari */
    if(navigator.platform.indexOf('Win') > -1 && (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1)){
        /*console.log("safari");*/
        var newelement=createjscssfile("/static/investak/dist/css/safari.css", "css");
        suspect = document.getElementsByTagName("link")[0];
        suspect.parentNode.appendChild(newelement);
    } else {
        /*console.log("Not safari");*/
    }
</script>
<style type="text/css">
  img {
      opacity: 1;
      transition: opacity 0.3s;
  }

  img[data-src] {
      opacity: 0;
  }
</style>

</head>
<body>
<div id="bg"><img data-src="{% static "investak/images/login_page.jpg" %}" alt=""></div>
<div class="clearfix"></div>
<div class="total_body_area">

<div class="before_login_menu_mobile">
<div id="" class="">
    <div class="menu_area">

    <ul class="nav navbar-nav">
        <li><a href="{{ SITE_URL }}#aboutus">about us</a></li>
        <li><a href="{{ SITE_URL }}#Analyze">Approach</a></li>
        <li><a href="{{ SITE_URL }}#markit2">testimonials</a></li>
        <li><a href="{{ SITE_URL }}#team">team</a></li>
        <li><a href="{{ SITE_URL }}#partners">partners</a></li>
        <li><a href="{{ SITE_URL }}#contactus">contact us</a></li>
        <h3>Resources</h3>
        <li><a href="/faq/" style="padding-left:30px !important;">faq</a></li>
        <li><a href="/news/" style="padding-left:30px !important;">newsroom</a></li>
    </ul>
    </div>

</div>
</div>

    <div class="psuh_left">
        <header class="header_area {% ifequal current_path '/login/' %} login_head {% endifequal %} ">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle onclickMob" style="display:none;">
                <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
            <a class="mobmenu" href="javascript:void(0)"><i class="fa fa-bars" aria-hidden="true"></i></a>
          <a class="navbar-brand" href="{{ SITE_URL }}"><img class="white" src="{% static "investak/images/logo_white.png" %}">
            <img class="blue" src="{% static "investak/images/logo.png" %}"></a>
        </div>

        <div class="before_login_menu">
        <div id="navbar" class="navbar-collapse collapse" style="display:none !important;">

            <div class="login_attr">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="active_logs" href="/login/">Log in</a></li>
                <li><a href="/signup/">Sign Up</a></li>
            </ul>
            </div>


            <ul class="nav navbar-nav pull-right">
                <li><a href="{{ SITE_URL }}#aboutus">about us</a></li>
                <!--<li><a href="javascript:void(0)">approach</a></li>-->
                <li><a href="{{ SITE_URL }}#Analyze">Approach</a></li>
                <li><a href="{{ SITE_URL }}#markit2">testimonials</a></li>
                <li><a href="{{ SITE_URL }}#team">team</a></li>
                <li><a href="{{ SITE_URL }}#partners">partners</a></li>
                <li><a href="{{ SITE_URL }}#contactus">contact us</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/faq/">faq</a></li>
                        <li><a href="/news/">newsroom</a></li>
                    </ul>
                </li>
            {% if request.session.id %}
            {% else %}
                <!-- <li><a href="/signup/" class="hvr-underline-from-center scroller">Sign Up</a></li> -->
            {% endif %}
            </ul>


        </div><!--/.nav-collapse -->
        </div>
    </div><!--/.container-fluid -->
</nav>
</header>


<style>
.error {
    font-size: 12px !important;
    color: #ff0000 !important;
  }
</style>
<section>
  <div class="container">
      <div  class="col-md-5 col-sm-12 col-center">
          <div class="login_page_area" id="loginDiv">
                <div class="custom_tab_box">
                <!-- Nav tabs -->
  <ul class="nav nav-tabs cus_nav_tabs" role="tablist" id="tablist">
    <li role="presentation"><a href="#live_account" aria-controls="live_account" role="tab" data-toggle="tab">Live</a></li>
    <li role="presentation" class="active"><a href="#virtual_account" aria-controls="virtual_account" role="tab" data-toggle="tab">Virtual</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="live_account">
        <form name="frmSignInLive" id="frmSignInLive" method="post" action="">{% csrf_token %}
      <div style="margin-bottom:20px;"><span id="loginError" style="color:#ff0000; margin-bottom: 20px;"></span></div>
      <div id="emdivid" class="form-group label-floating is-empty">
        <label id="emaillabelid" for="112" class="control-label" >Angel Broking Client ID <!--Trading ID/Client Code: --> </label>
        <input type="text" name="trading_id_live" id="trading_id_live" class="form-control" />
      </div>

      <div id="pwdivid" class="form-group label-floating is-empty">
        <label id="pwdlabelid" for="111" class="control-label" >Trading Password: </label>
        <input type="password" class="form-control" name="trading_password_live" id="trading_password_live" value="" />
      </div>

      <div class="col-md-6 col-sm-12 col-xs-6 nopadding">
        <input type="checkbox" name="remember_me_live" id="remember_me_live" value="1">
        <label class="trams" for="remember_me_live">Remember Me</label>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-6 nopadding">
        <a  href="javascript:fp();">Forgot Password</a>
      </div>
    <div id="" class="form-group">
    <br/>
    <a target="__blank" href="/liveaccountopen">Don't have a live account? Join Now.</a>
    </div>
    <div id="loaderdiv" class="form-group label-floating" style="margin:0; padding:0; text-align:center; clear:both; display:none;"><img src="{% static "investak/images/loader2.gif" %}"></div>

      <button type="button" class="btn mysubmit_btn" id="btnLoginLive">PROCEED</button>
            <div class="col-md-12 col-sm-12 col-xs-12 nopadding" style="color:#2486c8!important;font-size:15px;font-weight:bold;padding-bottom:10px;text-align:center;margin-top:10px;border-radius:5px;background-color: transparent">
                In Partnership with</div>
            <div class="col-md-12 col-sm-12 col-xs-12 nopadding" style="color:white;font-size:15px;font-weight:bold;padding-bottom:10px;text-align:center;margin-top:10px;border-radius:5px;background-color: #2486c8!important">
                <img src="http://www.angelbroking.com/themes/angel/images/Angel_logo_LP.svg" style="width:80% ;padding-top: 8px"/>
                <div style="width:100%;height:10px;"></div>
      </div>
    </form>

      <!-- <p class="mobileTxt">Not In Investak?<a style="padding-right: 5px;" href="/signup/">&nbsp&nbspJoin now</a> </p> -->
    </div>
    <div role="tabpanel" class="tab-pane active" id="virtual_account">
        <form name="frmSignInVirtual" id="frmSignInVirtual" method="post" action="">{% csrf_token %}
          <div style="margin-bottom:20px;"><span id="loginErrorV" style="color:#ff0000; margin-bottom: 20px;"></span></div>
          <div id="emdivid" class="form-group label-floating is-empty">
            <label id="emaillabelid" for="112" class="control-label" >Email ID: </label>
            <input type="email" name="email_id_virtual" id="email_id_virtual" class="form-control">
          </div>

          <div id="pwdivid" class="form-group label-floating is-empty">
            <label id="pwdlabelid" for="111" class="control-label" >Password: </label>
            <input type="password" class="form-control" name="password_virtual" id="password_virtual" value="" />
          </div>

          <div class="col-md-6 col-sm-12 col-xs-6 nopadding">
            <input type="checkbox" name="remember_me_virtual" id="remember_me_virtual" value="1">
            <label class="trams" for="remember_me_virtual">Remember Me</label>
          </div>

          <div class="col-md-6 col-sm-12 col-xs-6 nopadding">
            <a  href="/forgot_password/">Forgot Password</a>
          </div>
          <div id="" class="form-group">
          <br/>
          <a target="__blank" href="/signup">Don't have a virtual account? Join Now.</a>
          </div>
        <div id="" class="form-group">

        </div>
        <div id="loaderdiv" class="form-group label-floating" style="margin:0; padding:0; text-align:center; clear:both; display:none;"><img src="{% static "investak/images/loader2.gif" %}"></div>

          <button type="button" class="btn mysubmit_btn" id="btnLoginVirtual">PROCEED</button>
        </form>

          <p class="loginTxt">By Signing up you agree to our <a href="javascript:void(0)" data-toggle="modal" data-target="#modelTC">T&C </a> and <a href="javascript:void(0)" data-toggle="modal" data-target="#modelPrivecy"> Privacy Policy. </a></p>
            <p class="mobileTxt">Not Signed Up?<a style="padding-right: 5px;" href="/signup/">&nbsp&nbspJoin now</a> </p>
          <div class="divide_border"><span>Or</span></div>

          <div class="col-md-6 col-xs-6 no-pad-left mob-pad-left fb"><a href="javascript:void(0);" id="facebook2" class="fbarea"><i class="fa fa-facebook"  ></i>Log In</a>

          </div>
          <div class="col-md-6 col-xs-6 pull-right no-pad-right mob-pad-right gplus"><a href="javascript:void(0);" id="googlep" class="gplus_area" onclick="login()"><i class="fa fa-google-plus"></i>Log In</a></div>
    </div>

  </div>

</div>
              <!--<div class="login_attr">
                    <a class="active_logs" href="/login/">Log in</a>
                    <a href="/signup">Sign Up</a>
                </div>-->


            </div>
        </div>

  </div>
</section>
</div>
</div>
<div id="confirmdiv" class="col-md-7 col-center" style="display:none;">
            <div class="login_page_area">
                <!--<label style="color:#e3411f; font-weight:800; margin-bottom:20px; font-size: 20px;">One last step...</label>-->
                <label style="color:#2486c8; font-weight:800; margin-bottom:20px; font-size: 20px;">Your account is deactivated by the admin.</label>
                <label style="color:#666666; font-weight:600; margin-bottom:20px;">Please contact to the administrator to activate your account.</label>

            </div>
</div>
<div id="confirmdiv_signup" class="col-md-7 col-center" style="display:none;">
            <div class="login_page_area">
                <!--<label style="color:#e3411f; font-weight:800; margin-bottom:20px; font-size: 20px;">One last step...</label>-->
                <label style="color:#2486c8; font-weight:800; margin-bottom:20px; font-size: 20px;">One last step...</label>
                <label style="color:#666666; font-weight:600; margin-bottom:20px;">We sent you an email to confirm your email address. Please click on the given link to complete your registration.</label>
                <label style="color:#666666; font-weight:600; margin-bottom:20px;">
                    If you do not receive this email within the next hour, one of the two things may have happened.</label>
                <label style="color:#666666; font-weight:600; margin-bottom:20px; margin-left:20px;">
                    1. This email has landed in your Spam or Junk folder, or<br>
                    2. Your email address was incorrect and the mail bounced.
                </label>
                <label style="color:#666666; font-weight:600; margin-bottom:20px;">Please try again and check your email address. If you made a group email in Google Apps, it may not be configured to receive email from outside your domain.</label>
            </div>
        </div>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
 <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>



<script type="text/javascript">
$(document).ready(function(event){
 $("#password_login").keyup(function(event){
    if(event.keyCode == 13){
        $("#btnLoginLive").click();
    }
})});
</script>

 

<script type="text/javascript">
    // Create Base64 Object
    var Base64={_keyStr:"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=",encode:function(e){var t="";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t="";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/[^A-Za-z0-9+/=]/g,"");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/rn/g,"n");var t="";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t="";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}}

    $(document).ready(function(e){

          window.fbAsyncInit = function() {
          FB.init({
            appId      : FACEBOOK_APP_ID,
            xfbml      : true,
            version    : 'v2.7'
          });
          };
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
          $("#facebook2").click(function(e){

                var email_id = '';
                var full_name = '';
                var image_url = '';
                FB.login(function(response) {
                    if (response.authResponse) {
                        FB.getLoginStatus(function(response) {
                          if (response.status === 'connected') {
                              FB.api('/me?fields=id,email,name', function(response) {
                                 email_id = response.email;
                                 full_name = response.name;
                                if(response.id && response.email && response.name) {
                                    FB.api(
                                        "/"+response.id+"/picture?height=140&width=140&redirect=false",
                                        function (response) {
                                          image_url = response.data.url;
                                          if (response && response.data.is_silhouette == false) {
                                            image_url = response.data.url;
                                          }
                                          else {
                                            image_url = '';
                                          }
                                           $.ajax({
                                            type: "GET",
                                            url: "/frontEnd/social_login/",
                                            data: {
                                                email_id: email_id,
                                                full_name: full_name,
                                                image_url: image_url,
                                                reg_type: "S"
                                            },
                                            async: false,
                                            success: function(response) {
                                                if(response==9){
                                                    window.location.href = '/login_2fa/';
                                                }
                                                else if(response==1){
                                                    //window.location.href='/user_dashboard/';
                                                    window.location.href='/analyze/';
                                                }
                                                else if(response==2) {
                                                    alert("Your account is deactivated by admin");
                                                }
                                                else {
                                                    alert("Error Occurred During Facebook Sign In")
                                                }

                                            },
                                            error: function(xhr) {
                                                alert("Error Occurred During Facebook Sign In")
                                            }
                                        });

                                        }
                                    );

                                }
                                else {
                                    alert("Facebook restriction occurred");
                                }
                            });
                            }
                        });
                    }
                }, {scope: 'public_profile,email'});
          });

          /*$("#facebook3").click(function(e){

                var email_id = '';
                var full_name = '';
                var image_url = '';
                FB.login(function(response) {
                    if (response.authResponse) {
                        FB.getLoginStatus(function(response) {
                          if (response.status === 'connected') {
                              FB.api('/me?fields=id,email,name', function(response) {
                                 email_id = response.email;
                                 full_name = response.name;
                                if(response.id && response.email && response.name) {
                                    FB.api(
                                        "/"+response.id+"/picture?height=140&width=140&redirect=false",
                                        function (response) {
                                          image_url = response.data.url;
                                          if (response && response.data.is_silhouette == false) {
                                            image_url = response.data.url;
                                          }
                                          else {
                                            image_url = '';
                                          }
                                           $.ajax({
                                            type: "GET",
                                            url: "/frontEnd/social_login/",
                                            data: {
                                                email_id: email_id,
                                                full_name: full_name,
                                                image_url: image_url,
                                                reg_type: "S"
                                            },
                                            async: false,
                                            success: function(response) {
                                                if(response==9){
                                                    window.location.href = '/login_2fa/';
                                                }
                                                else if(response==1){
                                                    //window.location.href='/user_dashboard/';
                                                    window.location.href='/analyze/';
                                                }
                                                else if(response==2) {
                                                    alert("Your account is deactivated by admin");
                                                }
                                                else {
                                                    alert("Error Occurred During Facebook Sign In")
                                                }
                                            },
                                            error: function(xhr) {
                                                alert("Error Occurred During Facebook Sign In")
                                            }
                                        });

                                        }
                                    );

                                }
                                else {
                                    alert("Facebook restriction occurred");
                                }
                            });
                            }
                        });
                    }
                }, {scope: 'public_profile,email'});
          });*/

        $("#btnLoginLive").click(function(e){
            $("#loginError").html("");
            $("#frmSignInLive").submit();
        });

        $("#trading_id_live, #trading_password_live").keydown(function(e){
            if(e.which === 32) {
                return false;
            }
            if(e.which == 13) {
                $("#frmSignInLive").submit();
            }
        });

        $("#frmSignInLive").validate({
            rules: {
                trading_id_live:{
                   required:true
                },
                trading_password_live:{
                   required:true
                }
            },
            messages: {
                trading_id_live:{
                   required:"Please enter trading id"
                },
                trading_password_live:{
                   required:"Please enter password"
                }
            },
            submitHandler:function(form){
                $("#loaderdiv").show();
                var trading_id = $.trim($("#trading_id_live").val());
                var password = $.trim($("#trading_password_live").val());
                var remember_me = $.trim($("#remember_me_live").val());
                $.ajax({
                    type:"POST",
                    url:"/user_login/",
                    data:{trading_id:Base64.encode(trading_id),password:Base64.encode(password), mode : "live", remember_me:remember_me,csrfmiddlewaretoken:'{{ csrf_token }}'},
                    success:function(response){
                        $("#loaderdiv").hide();
                        if(response.message!='Ok'){
                            $("#loginError").html(response.message);
                        } else {
                          window.location.href='/analyze/';
                        }
                        /*if(response.message==9){
                            window.location.href = '/login_2fa/';
                        }else if(response.message==1){
                            //window.location.href='/user_dashboard/';
                            window.location.href='/analyze/';
                        }else if(response.message==2){
                            $("#loginDiv").hide();
                            $("#confirmdiv").show();
                        }else if(response.message==0){
                            $("#loginError").html("Email not matched");
                        }else if(response.message==3){
                            $("#loginError").html("Password not matched");
                        }*/
                    },
                    error:function(xhr){
                        $("#loaderdiv").hide();
                        $("#loginError").html("Invalid login.");
                    }
                })
            }
        });

        $("#btnLoginVirtual").click(function(e){
            $("#loginError").html("");
            $("#frmSignInVirtual").submit();
        });

        $("#email_id_virtual, #password_virtual").keydown(function(e){
            if(e.which === 32) {
                return false;
            }
            if(e.which == 13) {
                $("#frmSignInVirtual").submit();
            }
        });

        $("#frmSignInVirtual").validate({
            rules: {
                email_id_virtual:{
                   required:true,
                   email:true
                },
                password_virtual:{
                   required:true
                }
            },
            messages: {
                email_id_virtual:{
                   required:"Please enter email id",
                   email:"Please enter valid email id"
                },
                password_virtual:{
                   required:"Please enter password"
                }
            },
            submitHandler:function(form){
                $("#loaderdiv").show();
                var email_id = $.trim($("#email_id_virtual").val());
                var password = $.trim($("#password_virtual").val());
                var remember_me = $.trim($("#remember_me_virtual").val());
                $.ajax({
                    type:"POST",
                    url:"/user_login/",
                    data:{email_id:Base64.encode(email_id),password:Base64.encode(password), mode : "virtual", remember_me:remember_me,csrfmiddlewaretoken:'{{ csrf_token }}'},
                    success:function(response){
                        $("#loaderdiv").hide();
                        if(response.message==9){
                            window.location.href = '/analyze/'; ///login_2fa/
                        }else if(response.message==1){
                            //window.location.href='/user_dashboard/';
                            window.location.href='/analyze/';
                        }else if(response.message==2){
                            $("#loginDiv").hide();
                            $("#confirmdiv").show();
                        }else if(response.message==0){
                            $("#loginErrorV").html("Email not matched");
                        }else if(response.message==3){
                            $("#loginErrorV").html("Password not matched");
                        }
                    },
                    error:function(xhr){
                        $("#loaderdiv").hide();
                        $("#loginErrorV").html("Invalid login.");
                    }
                })
            }
        });
    });

</script>
<script>
function trim(s)
{
  while(s.substring(0,1) == ' ')  {
    s = s.substring(1,s.length);  }
  while(s.substring(s.length-1,s.length) == ' ')  {
    s = s.substring(0,s.length-1);  }
  return s;
}
</script>
<script>
$( function() {
    /*$("#pwdlabelid").css('top',-35);
    $("#emaillabelid").css('top',-35);
    $("#fullnamelabel").css('top', -35);
    $("#emaillabel").css('top', -35);
    $("#pawdlabel").css('top', -35);*/
});
</script>
<script type="text/javascript" src="{% static "investak/dist/js/gplus.js" %}" ></script>

</body>
<div id="modelTC" class="modal fade modaloverall" role="dialog" style="z-index:9999!important;">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Terms & Conditions</h4>
      </div>

      <div class="modal-body">
          <p>
            {{ site_settings.terms_conditions |safe }}
        </p>

      </div>
      <div class="modal-footer">

      </div>
    </div>

  </div>
</div>

<div id="modelPrivecy" class="modal fade modaloverall" role="dialog" style="z-index:9999!important;">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Privacy Policy</h4>
      </div>

      <div class="modal-body">
          <p>
            {{ site_settings.privacy_policy |safe }}
        </p>

      </div>
      <div class="modal-footer">

      </div>
    </div>

  </div>
</div>

<!-- END BODY -->

</html>