{% include 'inner_header.html' %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "frontend/dashboard/dist/js/notify.min.js" %}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<!--script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script-->
<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">

<link href="{% static "investak/dist/css/responsive.dataTables.css" %}" rel="stylesheet" type="text/css">

<script type="text/javascript">var switchTo5x=true;</script>

<script type="text/javascript">
    var user_id = '{{ request.session.id }}';
    var page_no = 1;
    var no_of_item = 15;
    var search_text = '';
    function load_my_built_cluster() {

        $.ajax({
           type: "GET",
           url: "/frontend/my_built_cluster/",
           data:{user_id:user_id, page_no:page_no, no_of_item:no_of_item,search_text:search_text},
           async:false,
           success:function(response) {
               $(".my_cluster_dtls").html('');
               
                $('#example').DataTable( {
                   "destroy": true,
                   "paging":   false,
                    "ordering": false,
                    "info":     false,
                    "searching": false,
                    responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive,
                        type: ''
                    }
                }
            } );
               $('#example').DataTable().clear();
               if(response.length) {
                   var total_page_count = Math.ceil(response[0].total_page_count/no_of_item);
                   $(".pagination-sm").html('<li class="page-item"><a aria-label="Previous" href="javascript:void(0)" page-id="' + response[0].first_page + '" class="page-link"><span aria-hidden="true"><i class="fa fa-backward" aria-hidden="true"></i></span> </a> </li>' +
                   '<li class="page-item"><a aria-label="Previous" href="javascript:void(0)" page-id="' + response[0].prev_page + '" class="page-link"><span aria-hidden="true"><i class="fa fa-caret-left" aria-hidden="true"></i></span> </a> </li>');
                   for (var k = 1; k <= total_page_count; k++) {
                       $(".pagination-sm").append('<li class="page-item"><a href="javascript:void(0)" page-id="' + k + '" class="page-link">' + k + '</a></li>');
                   }
                   $(".pagination-sm").append('<li class="page-item"><a aria-label="Next" href="javascript:void(0)" page-id="' + response[0].next_page + '" class="page-link"><span aria-hidden="true"><i class="fa fa-caret-right" aria-hidden="true"></i></span> </a> </li>' +
                   '<li class="page-item"><a aria-label="Next" href="javascript:void(0)" page-id="' + response[0].last_page + '" class="page-link"><span aria-hidden="true"><i class="fa fa-forward" aria-hidden="true"></i></span> </a> </li>');
                   
                   for (var k = 0; k < response.length; k++) {
                       var i_class_one_yr_index = '';
                       var i_class_one_mnth_rtn = '';
                       var i_class_one_yr_rtn = '';
                       var i_class_one_yr_divyield = '';

                       var td_class_one_yr_index = '';
                       var td_class_one_mnth_rtn = '';
                       var td_class_one_yr_rtn = '';
                       var td_class_one_yr_divyield = '';

                       /*if (parseFloat(response[k].one_year_index) >= 0.00) {
                           i_class_one_yr_index = 'fa fa-caret-up';
                           td_class_one_yr_index = 'share_up1';
                       }
                       else {
                           i_class_one_yr_index = 'fa fa-caret-down';
                           td_class_one_yr_index = 'share_down1';
                       }*/

                       indexvalue_diff = parseFloat(response[k].indexvalue - response[k].previndexvalue);
                       /*console.log("index_value : "+response[k].indexvalue+", previndexvalue : "+response[k].previndexvalue);*/

                       if (indexvalue_diff > 0) {
                           i_class_one_yr_index = 'fa fa-caret-up';
                           td_class_one_yr_index = 'share_up1';
                       }
                       else {
                           i_class_one_yr_index = 'fa fa-caret-down';
                           td_class_one_yr_index = 'share_down1';
                       }

                       if (parseFloat(response[k].one_month_ratting) >= 0.00) {
                           i_class_one_mnth_rtn = 'fa fa-caret-up';
                           td_class_one_mnth_rtn = 'share_up1';
                       }
                       else {
                           i_class_one_mnth_rtn = 'fa fa-caret-down';
                           td_class_one_mnth_rtn = 'share_down1';
                       }
                       
                       if (parseFloat(response[k].one_year_ratting) >= 0.00) {
                           i_class_one_yr_rtn = 'fa fa-caret-up';
                           td_class_one_yr_rtn = 'share_up1';
                       }
                       else {
                           i_class_one_yr_rtn = 'fa fa-caret-down';
                           td_class_one_yr_rtn = 'share_down1';
                       }

                        if (parseFloat(response[k].one_year_divyield) >= 0.00) {
                           i_class_one_yr_divyield = 'fa fa-caret-up';
                           td_class_one_yr_divyield = 'share_up1';
                       }
                       else {
                           i_class_one_yr_divyield = 'fa fa-caret-down';
                           td_class_one_yr_divyield = 'share_down1';
                       }
                       
                       $(".my_cluster_dtls").append('<tr>' +
                       '<td><div class="list_img_area"><span class="over_lay"></span><a href="/cluster_list/'+response[k].cluster_id+'"><img src="/static/media/images/cluster/' + response[k].cluster_image + '"></a></div></td>' +
                       '<td>' +
                       '<h2><a href="/cluster_list/'+response[k].cluster_id+'">' + response[k].cluster_name + '</a></h2>' +
                       '<p>' + response[k].created_on + '</p>' +
                       '</td>' +
                       '<td class="'+td_class_one_yr_index+'">' +
                       '<i aria-hidden="true" class="'+i_class_one_yr_index+'"></i>' + parseFloat(response[k].indexvalue).toFixed(2) + '' +
                       '</td>' +
                       '<td class="'+td_class_one_mnth_rtn+'">' +
                       '<i aria-hidden="true" class="'+i_class_one_mnth_rtn+'"></i>' + parseFloat(response[k].one_month_ratting) + '%' +
                       '</td>' +
                       '<td class="'+td_class_one_yr_rtn+'">' +
                       '<i aria-hidden="true" class="'+i_class_one_yr_rtn+'"></i>' + parseFloat(response[k].one_year_ratting) + '%' +
                       '</td>' +
                       '<td class="'+td_class_one_yr_divyield+'">' +
                       '<i aria-hidden="true" class="'+i_class_one_yr_divyield+'"></i>' + parseFloat(response[k].one_year_divyield) + '%' +
                       '</td>' +
                       '<td class="share_area">'+
                       '<div class="icons_list">' +
                       '<a href="/edit_cluster/' + response[k].cluster_id + '" title="Edit" class="btn-default subscribe_btn_ed">Edit</a>' +
                       '<a href="/buy_cluster/' + response[k].cluster_id + '" title="Buy" class="btn-default subscribe_btn_ed">Buy</a>' +
                       '<a href="javascript:void(0)" data-id="' + response[k].cluster_id + '" class="a_delete btn-default subscribe_btn_edd red" title="Delete" >DEL</a>' +
                       '</div>'+
                       '</td>'+
                       '</tr>');


                        $('#example').DataTable().row.add([
                         '<td><div class="list_img_area"><span class="over_lay"></span><a href="/cluster_list/'+response[k].cluster_id+'"><img src="/static/media/images/cluster/' + response[k].cluster_image + '"></a></div></td>',
                         '<td>' +
                       '<h2><a href="/cluster_list/'+response[k].cluster_id+'">' + response[k].cluster_name + '</a></h2>' +
                       '<p>' + response[k].created_on + '</p>' +
                       '</td>',
                        '<td><div class="'+td_class_one_yr_index+'">' +
                       '<i aria-hidden="true" class="'+i_class_one_yr_index+'"></i>' + parseFloat(response[k].indexvalue).toFixed(2) + '' +
                       '</div></td>',
                       '<td ><div class="'+td_class_one_mnth_rtn+'">' +
                       '<i aria-hidden="true" class="'+i_class_one_mnth_rtn+'"></i>' + parseFloat(response[k].one_month_ratting) + '%' +
                       '</div></td>',
                       '<td ><div class="'+td_class_one_yr_rtn+'">' +
                       '<i aria-hidden="true" class="'+i_class_one_yr_rtn+'"></i>' + parseFloat(response[k].one_year_ratting) + '%' +
                       '</div></td>',
                        '<td ><div class="'+td_class_one_yr_divyield+'">' +
                       '<i aria-hidden="true" class="'+i_class_one_yr_divyield+'"></i>' + parseFloat(response[k].one_year_divyield) + '%' +
                       '</div></td>',
                        '<td class="share_area">'+
                       '<div class="icons_list">' +
                       '<a href="/edit_cluster/' + response[k].cluster_id + '" title="Edit" class="btn-default subscribe_btn_ed">Edit</a>' +
                       '<a href="/buy_cluster/' + response[k].cluster_id + '" title="Buy" class="btn-default buys_btn2">Buy</a>' +
                       '<a href="javascript:void(0)" data-id="' + response[k].cluster_id + '" class="a_delete btn-default subscribe_btn_edd red" title="Delete" >DEL</a>' +
                       '</div>'+
                       '</td>'
                       ]);
                   }
                   $('#example').DataTable().draw();
                   //$('table.dataTable > tbody > tr.child span.dtr-title:last').css('display','none');
               }
               else {
                   $(".my_cluster_dtls").html('<tr><td colspan="7"><p style="text-align:center; font-weight:600; margin:10px;">NO DATA FOUND</p></td></tr>');
               }

           },
           error:function(xhr) {
               alert("Error Occurred");
           }
        });
    }

    $(document).ready(function(e){
        load_my_built_cluster();
        $("#no_of_item").change(function(e) {
           no_of_item = $("#no_of_item").val();
            load_my_built_cluster();

        });

         $("#autocomplete").autocomplete({
            minLength: 2,
            source: function(request, response) {
            $.getJSON("/frontend/getProfessionalCluster/", { term:request.term, cluster_stat:'',user_id: user_id },
              response);
        },
            select:function(event, ui)
            {
                event.preventDefault();
                $("#autocomplete").val(ui.item.label);
                search_text = ui.item.label;
                load_my_built_cluster();
            }
        });

        $("#autocomplete").keyup(function(e){

            if((e.keyCode==8 || e.keyCode==46) && $.trim($("#autocomplete").val())=="")
            {
                search_text = '';
                load_my_built_cluster();
            }

        });
        
    });
    $(document).on('click', '.a_delete', function(e) {
        var cluster_id = $(this).attr('data-id');
        var flag = 0;
        if(cluster_id) {
            if(confirm("Are you want to delete?"))
            {
                 $.ajax({
                type:"POST",
                url:"/frontend/delete_cluster/",
                async:false,
                data:{cluster_id:cluster_id, csrfmiddlewaretoken:'{{ csrf_token }}'},
                success:function(response) {
                    if(response == 1) {
                        flag = 1;
                    }
                },
                error:function(xhr) {
                    alert("Error Occurred");
                }
                });
                if(flag == 1) {
                    $(this).closest("tr").remove();

                }
            }

        }
    });
    $(document).on('click', '.a_wish', function(e) {
        var cluster_id = $(this).attr('data-id');
        var flag = 0;
        $.ajax({
                type:"POST",
                url:"/frontend/watchCluster/",
                data:{cluster_id:cluster_id,user_id:user_id,csrfmiddlewaretoken:'{{ csrf_token }}'},
                async:false,
                success:function(data)
                {
                    $.notify(data[0].message);
                    window.location.href = "/my_built_cluster/";
                },
                error:function(xhr)
                {
                    alert("Error occurred");

                }
            });
        if(flag == 1) {
            $(this).css('background','#2486c8 none repeat scroll 0 0!important');
        }
        else {
            $(this).css('background-color','transparent!important');
        }
    });
    $(document).on('click', ".page-link", function(e){
        page_no = $(this).attr('page-id');
        if(page_no > 0){
            load_my_built_cluster();

        }
    });
    $(document).on('mouseenter', ".a_social", function(e) {
        $(this).find('i').show();
    });
    $(document).on('mouseleave', ".a_social", function(e) {
         $(this).find('i').hide();
    });
    
</script>
<section>
	<div class="container-fluid">
        <div class="row">

        <!--/.breadcrumb-area -->
            <div class="col-md-12">
                <div class="breadcrumb_area">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/user_dashboard/">Dashboard</a></li>
                  <li class="breadcrumb-item"><a href="/analyze/">Analyze</a></li>
                  <li class="breadcrumb-item active">My built staks</li>
                </ol>
                </div>
            </div>
    	<!--/.breadcrumb-area -->
         <!--/. body right portion area -->

            <div class="col-md-12">
              
              <!--  search section start -->
              <div class="grid_list_bar mybuilt_grid">
                  <div class="body_section_area">
                      <div class="search_box"><input type="text" name="search" id="autocomplete" placeholder="Search.." list="motifs"></div>
                                                
                        <div class="selet_box">
                         <!--  <label>Sort by:   </label>
                            <select name="carlist" form="carform">
                              <option value="volvo">One Month Return</option>
                              <option value="saab">One Month Return</option>
                              <option value="opel">One Month Return</option>
                              <option value="audi">One Month Return</option>
                            </select> -->
                        </div>
                        
                    </div>
              </div>
               <!--  search section end -->
               
              <!--  cluster listing section start -->
            	<div class="body_section_area">
                
                    <div class="watch_view" style="display:block;">
                
                  <div class="cluster_list_box">
                        
                        <table width="100%" id="example">
                          
                            <thead>
                              <tr>
                                  <th>&nbsp;</th>
                                    <th>Stak Name</th>
                                    <th>Index<div class="questios"><span><i class="fa fa-question" aria-hidden="true"></i></span>
                                                <div class="despQust">
                                                A stak index shows a stak’s performance. It is set to 1000 at its inception date and moves up/down daily. If it is above 1000, it means that the stak has given positive returns since inception and is shown in green.
                                                </div>
                                                </div> </th>
                                    <th>1 month return</th>
                                    <th>1 year return</th>
                                    <th>div yield<div class="questios"><span><i class="fa fa-question i-div-yield" aria-hidden="true"></i></span>
                                                <div class="despQust">
                                                The dividend yield for a stak is calculated as a weighted composite of the cash dividends for the stocks in the stak. So for example: a dividend yield of 5% indicates that if a person had invested Rs.100 in the stak one year back, he would have got Rs.5 as dividends.
                                                </div>
                                                </div></th>
                                    <th class="th_action">Action</th>
                                </tr>
                            </thead>
                          
                            <tbody class="my_cluster_dtls">

                            </tbody>
                        </table>
                    </div>
                   
                </div>
                
                </div>
              <!--  cluster listing section end -->

                <div class="grid_list_bar bottoms_area mybuilt_grid">
                	<div class="body_section_area">

                        <!--  serach per page section start -->
                    	  <div class="selet_box pull-left">
                        	<label>Showing:   </label>
                            <select name="no_of_item" form="no_of_item" id="no_of_item">
                              <option value="15">15 per page</option>
                              <option value="20">20 per page</option>
                              <option value="30">30 per page</option>
                              <option value="50">50 per page</option>
                            </select>
                        </div>
                         <!--  serach per page section end -->

                        <!--  pagination section start -->
                        <div class="pagination_bar">
                          <ul class="pagination pagination-sm pull-right">

                          </ul>
                        </div>
                         <!--  pagination section end -->
                        

                	</div>
                </div>

            </div>
         <!--/. body right portion area -->

    	</div>



	</div>
</section>
{% include 'inner_footer.html' %}