{% include 'inner_header.html' %}
{% load staticfiles %}


<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">

<link href="{% static "investak/dist/css/responsive.dataTables.css" %}" rel="stylesheet" type="text/css">
<script type="text/javascript">
    function accridians_portfolio(){
		$(".virtual_table").hide();

		$(".virtualDrops").click(function(e){
			e.preventDefault();
			$(this).parent().parent().next().slideToggle();
			//$(this).parent().parent().prev().slideUp();
			$(this).find('.fa').toggleClass("fa-plus fa-minus");
		});

	}

</script>
<script type="text/javascript">
$(document).ready(function(e){
    accridians_portfolio();
    $("#dropdown-menu select").dropdown();
    data_table();
});
</script>

<script type="text/javascript">

function data_table() {
    if($(window).width()<768)
    {
        $("#tbl_order_details").DataTable({
           "paging":   false,
            "ordering": false,
            "info":     false,
            "searching": false,
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate,
                    type: ''
                }
            }
        });
    }
}
</script>

<style>
    .order_mobi_tbl{ display: none;}

    @media (max-width: 768px) {
        .order_mobi_tbl { display: block; }
        .Orders { display: none; }
    }
</style>

<section>
	<div class="container-fluid">
        <div class="row">

        <!--/.breadcrumb-area -->
            <div class="col-md-12">
                <div class="breadcrumb_area">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/user_dashboard/">Dashboard</a></li>
                  <li class="breadcrumb-item active">Portfolio</li>
                </ol>
                </div>
            </div>
        <!--/.breadcrumb-area -->
        <!--/. body right portion area -->

            <div class="col-md-12">
            	<div class="body_section_area">
                    <div class="virtual_protfolio_area">
                        <div id="exTab1">
                            <ul  class="nav nav-pills">
                                <li id="li_summary"><a href="/portfolio_summary/">Summary</a></li>
                                <li id="li_current"><a href="/current_holdings/">Current Holdings</a></li>
                                <li id="li_trade"><a href="/trade_summary/">Trade Summary</a></li>
                                <li id="li_order"><a href="/orders_list/">Orders</a></li>
                            </ul>

                            <div class="tab-content clearfix" id="portfolio_summary">

                                <!-- ORDER DETAILS STARTS -->

                                <div class="tab-pane" id="Orders" style="display: none;">
                                    <div class="Orders">
                                        <table class="table table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>&nbsp;</th>
                                                    <th style="width:18%;">Cluster Name</th>
                                                    <th style="width:17%;">Date</th>
                                                    <th style="width:6%;">Type</th>
                                                    <th style="width:11%;">Lots | shares</th>
                                                    <th style="padding-right:20px; text-align: center; width:10%;">price</th>
                                                    <th style="padding-right:35px; text-align: right; width:10%;">value</th>
                                                    <th style="padding-right:20px; text-align: right; width:10%;">transaction cost</th>
                                                    <th style="width:6%;">filled</th>
                                                    <th>status</th>
                                                </tr>
                                            </thead>

                                            <tbody>

                                            {% if order_list %}
                                            {% for order in order_list %}

                                                <tr>
                                                    <td><a class="virtualDrops" href="#"><i aria-hidden="true" class="fa fa-plus"></i></a></td>
                                                    <td><a href="/cluster_list/{{ order.cluster_id }}">{{ order.cluster_name }}</a></td>
                                                    <td>{{ order.print_order_date }}</td>
                                                    <td>Buy</td>
                                                    <td>{{ order.no_of_stock }}</td>
                                                    <td>&nbsp;</td>
                                                    <td style="padding-right:30px; text-align: right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ order.total_value }}</td>
                                                    <td style="padding-right:20px; text-align: right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ order.transaction_cost }}</td>
                                                    <td>&nbsp;</td>
                                                    {% if order.order_status == 'FILLED' %}
                                                        <td><button class="btn-default sellBtn sellBtn_active">Filled</button></td>
                                                    {% else %}
                                                        <td><button class="btn-default sellBtn sellBtn_De_active">Pending</button></td>
                                                    {% endif %}
                                                    <!--<td><button class="btn-default sellBtn sellBtn_active">partial</button></td>
                                                    <td><button class="btn-default sellBtn sellBtn_De_active">Unfilled</button></td>-->
                                                </tr>

                                                <tr class="virtual_table">
                                                    <td>&nbsp;</td>
                                                    <td colspan="9" class="inner_table">
                                                    <table class="table table-responsive">
                                                        <tbody>
                                                        {% for order_detail in order.order_details %}
                                                            <tr>
                                                                <td><a href="/stock_details/{{ order_detail.co_code }}/{{ order.cluster_id }}">{{ order_detail.co_name }}</a></td>
                                                                <td>{{ order.print_order_date }}</td>
                                                                <td>Buy</td>
                                                                <td>{{ order_detail.no_of_share }}</td>
                                                                <td style="padding-right:20px; text-align: right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ order_detail.price }}</td>
                                                                <td style="padding-right:20px; text-align: right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ order_detail.value }}</td>
                                                                <td>&nbsp;</td>
                                                                <td style="padding-right:55px; text-align: right; ">{{ order_detail.fill }}</td>
                                                                {% if order_detail.status == 'FILLED' %}
                                                                    <td><button class="btn-default sellBtn sellBtn_active">Filled</button></td>
                                                                {% else %}
                                                                    <td><button class="btn-default sellBtn sellBtn_De_active">Pending</button></td>
                                                                {% endif %}
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="10" style="text-align:center; font-weight:bold;">No Order Found!</td>
                                                </tr>
                                            {% endif %}

                                            </tbody>

                                        </table>
                                    </div>
                                </div>


                                <!-- DATA TABLE STARTS for order -->
                                <div>
                                    <div class="order_mobi_tbl" style="display: none;">
                                        <table id="tbl_order_details" style="width:98%;">
                                            <thead>
                                                <tr style="border-top:1px solid #333333; padding:4px;">
                                                    <th>&nbsp;</th>
                                                    <th>CLUSTER NAME</th>
                                                    <th style="text-align:center;">DATE</th>
                                                    <th style="text-align:right;">VALUE</th>
                                                </tr>
                                            </thead>

                                            <tbody>

                                            {% if order_list %}
                                            {% for order in order_list %}
                                                <tr>
                                                    <td><a class="virtualDropsMobile" href="javascript:void(0);" ><i aria-hidden="true" class="fa fa-plus" onclick="show_order_details(this, {{ order.order_track_id }});"></i></a></td>
                                                    <td><a href="/cluster_list/{{ order.cluster_id }}">{{ order.cluster_name }}</a></td>
                                                    <td style="text-align:center;">{{ order.mobile_order_date }}</td>
                                                    <td style="text-align:right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ order.total_value }}</td>
                                                </tr>

                                                <!-- SUB HEADER -->

                                                <tr class="order_details_{{ order.order_track_id }} drops_area_bg" style="display:none;">
                                                    <td>&nbsp;</td>
                                                    <td style="text-align:left; font-weight:600;">STOCK NAME</td>
                                                    <td style="text-align:center; font-weight:600;">SHARES</td>
                                                    <td style="text-align:right; font-weight:600;">VALUE</td>
                                                </tr>

                                                {% for order_detail in order.order_details %}
                                                    <tr class="order_details_{{ order.order_track_id }} drops_area_bg" style="display:none;">
                                                        <td>&nbsp;</td>
                                                        <td><a href="/stock_details/{{ order_detail.co_code }}/{{ order.cluster_id }}">{{ order_detail.co_name }}</a></td>
                                                        <td style="text-align:center;">{{ order_detail.no_of_share }}</td>
                                                        <td style="text-align:right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ order_detail.value }}</td>
                                                    </tr>
                                                {% endfor %}

                                            {% endfor %}

                                            {% endif %}

                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                                <!-- DATA TABLE ENDS -->
                                <!-- ORDER DETAILS ENDS -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/. body right portion area -->
    	</div>
	</div>

</section>
<style>
.Orders .inner_table table tbody tr td:nth-child(1) {
    width: 18.5%;
}
.Orders .inner_table table tbody tr td:nth-child(2) {
    width: 17.5%;
}
.Orders .inner_table table tbody tr td:nth-child(3) {
    width: 10%;
}
.Orders .inner_table table tbody tr td:nth-child(4) {
    width: 4%;
}
.Orders .inner_table table tbody tr td:nth-child(5) {
    width: 11%;
}
.Orders .inner_table table tbody tr td:nth-child(6) {
    width: 12%;
}
.Orders .inner_table table tbody tr td:nth-child(7) {
    width: 7%;
}
.Orders .inner_table table tbody tr td:nth-child(8) {
    width: 10%;
}
.Orders .inner_table table tbody tr td:nth-child(9) {
    width: 10%;
}

.rebalanceBtn{ background:#fff; padding:2px 5px; margin: 5px 0 0; position:relative; border:1px solid #ed5d09; font-family: "Open Sans",sans-serif; font-size: 12px; font-weight: 600; color:#ed5d09;}
.rebalanceBtn:hover{background:#ed5d09; color:#fff;}

/*table.dataTable, table.dataTable th, table.dataTable td{font-size: 12px;}*/
</style>

<script>
function show_order_details(obj, row_id)
{
    var class_name = 'order_details_'+row_id;
    var s = $("."+class_name).css("display");
    //alert('s'+s);
    if(s == 'none')
    {
        $("."+class_name).css("display","");
        $(obj).toggleClass("fa-plus fa-minus");
    }
    else
    {
        $("."+class_name).css("display","none");
        $(obj).toggleClass("fa-minus fa-plus");
    }
}

</script>
<script>
$(document).ready(function(e) {
    //----------------------------------------//
    $("#Orders").hide();
    //-----------------------------------------//
    $(".order_mobi_tbl").hide();
    //-----------------------------------------//
    $("#Summary").removeClass("active");
    $("#CurrentHoldings").removeClass("active");
    $("#TradeSummary").removeClass("active");
    $("#Orders").removeClass("active");
    $("#exTab1 li").removeClass("active");
    //-----------------------------------------//
    if($(window).width()<768)
    {
        get_data_table();
    }
    else
    {
        //-----------------------------------------//
        set_web_tab();
        //-----------------------------------------//        
    }
    //----------------------------------------//
});
function goto_tab()
{  
    //----------------------------------------//
    $("#Orders").hide();
    //-----------------------------------------//
    $(".order_mobi_tbl").hide();
    //-----------------------------------------//
    $("#Summary").removeClass("active");
    $("#CurrentHoldings").removeClass("active");
    $("#TradeSummary").removeClass("active");
    $("#Orders").removeClass("active");
    $("#exTab1 li").removeClass("active");
    //-----------------------------------------//
    if($(window).width()<768)
    {
        get_data_table();
    }
    else
    {
        set_web_tab();
    }
    //-----------------------------------------//    
}
function set_web_tab()
{
    $("#Orders").addClass("active");
    $("#li_order").addClass("active");
    $("#Orders").show();

}
function get_data_table()
{
    if($(window).width()<768) {
        //-----------------------------------------//
        $("#Orders").hide();
        //-----------------------------------------//
        $(".order_mobi_tbl").hide();
        //-----------------------------------------//
        $(".order_mobi_tbl").show();
        $("#li_order").addClass("active");
        //--------------------------------------------//
    }
}
</script>

{% include 'inner_footer.html' %}


<style>
/*================== external myModal(25-11-2016) =========================*/

.external{ cursor:pointer;}
#externalmyModal .modal-dialog{ width:950px; margin: 130px auto;}
#externalmyModal .modal-content .modal-header{ padding-top: 14px;}

.content_table table tbody tr:nth-child(even) {background: #fff;}
.content_table table tbody tr:nth-child(odd) {background: #f9f9f9;}
.content_table .table > thead > tr > th {border-bottom: 1px solid #666666; border-top: 1px solid #666666 !important; font-weight: 600; padding: 12px 5px; font-size: 12px; text-transform: uppercase;}

.content_table{ border-top:0px solid #74868f !important; padding:0px !important;}
.content_table table{ margin:0px 0px 25px; border:1px solid #eeeeee !important;}
.content_table table tbody tr td { width:12.4%;}
.content_table table tbody tr td:nth-child(1) { width:24%;}
.content_table table tbody tr td:nth-child(2) { width:19%;}
.content_table table tbody tr td:nth-child(3) { text-align:center;  padding-left:20px;}
.content_table table tbody tr td a { color:#2486c8; font-family: "Open Sans",sans-serif; font-size: 14px; font-weight: 400; text-decoration:none;}

</style>