{% include 'inner_header.html' %}
{% load staticfiles %}


<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">

<link href="{% static "investak/dist/css/responsive.dataTables.css" %}" rel="stylesheet" type="text/css">
<script type="text/javascript">
    function accridians_portfolio(){
		$(".virtual_table").hide();

		$(".virtualDrops").click(function(e){
			e.preventDefault();
			$(this).parent().parent().next().slideToggle();
			//$(this).parent().parent().prev().slideUp();
			$(this).find('.fa').toggleClass("fa-plus fa-minus");
		});

	}

    function set_graph_image(image_tag)
    {
        $("#account_graph_new_div").hide();
        $("#return_graph_new_div").hide();

        if(image_tag == 'account')
        {
            $("#account_graph_new_div").show();
        }
        else
        {
            $("#return_graph_new_div").show();
        }
    }
</script>
<script type="text/javascript">
$(document).ready(function(e){
    accridians_portfolio();
    $("#dropdown-menu select").dropdown();
    data_table();
});
</script>

<script type="text/javascript">

function data_table() {
    if($(window).width()<768)
    {
        $("tbl_summary_holdings").DataTable({
            "paging":   false,
            "paging":   false,
            "ordering": false,
            "info":  false,
            "searching": false,
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate,
                    type: ''
                }
            }
        });
         $("#tbl_summary_orders").DataTable({
            "paging": false,
            "ordering": false,
            "info":  false,
            "searching": false,
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate,
                    type: ''
                }
            }
        });

        /*$('.previous_rebalance_tbl').DataTable({
           "paging":   false,
            "ordering": false,
            "info":     false,
            "searching": false,
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate,
                    type: ''
                }
            }
        });*/

    }
}
</script>
<script type="text/javascript">

    function get_previous_block(id)
    {
        var prev_id = 'previous_hold'+id;
        prevoius_hold_data = $("#"+prev_id).html();
        $("#modal_hold_data").html(prevoius_hold_data);
        $("#externalmyModal").modal("show");
    }

    function get_previous_mobile_block(id)
    {
        var class_name = 'previous_'+id;
        var class_name1 = class_name+' odd';
        var class_name2 = class_name+' even';
        //alert('class_name1'+class_name1);
        //alert('class_name2'+class_name2);

        var s = $("."+class_name).css("display");
        //alert('s'+s);
        //var s1 = $("."+class_name1).css("display");
        //alert('s1'+s1);
        //var s2 = $("."+class_name2).css("display");
        //alert('s2'+s2);
        if(s == 'none')
        {
            $("."+class_name).css("display","");
        }
        else
        {
            $("."+class_name).css("display","none");
        }
    }
</script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script>
function get_table(li_id)
{
    //var color = $( this ).css( "background-color" );
}
</script>

<style>
    .order_mobi_tbl{ display: none;}
    .holding_mobi_tbl{ display: none; }
    .trade_summary_mobi_tbl{ display: none; }
    #order_summary_mobi_tbl{ display: none; }
    #holdings_summary_mobi_tbl{ display: none; }


    @media (max-width: 768px) {

        .holding_mobi_tbl{ display: block; }
        .trade_summary_mobi_tbl{ display: block }
        .order_mobi_tbl { display: block; }
        #order_summary_mobi_tbl { display: block; }
        #holdings_summary_mobi_tbl{ display: block; }


        .Orders { display: none; }
        .CurrentHoldings { display: none; }
        .TradeSummary { display: none; }
        #SummaryOrders{ display: none; }
        #SummaryHoldings{ display: none; }
    }
</style>

<section>
	<div class="container-fluid">
        <div class="row">

        <!--/.breadcrumb-area -->
            <div class="col-md-12">
                <div class="breadcrumb_area">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/user_dashboard/">Dashboard</a></li>
                  <li class="breadcrumb-item active">Portfolio</li>
                </ol>
                </div>
            </div>
        <!--/.breadcrumb-area -->
        <!--/. body right portion area -->

            <div class="col-md-12">
            	<div class="body_section_area">
                    <div class="virtual_protfolio_area">
                        <div id="exTab1">
                            <ul  class="nav nav-pills">
                                <!--<li id="li_summary" class="active"><a href="javascript:void(0);" onclick="goto_tab('summary');" data-toggle="tab">Summary</a></li>
                                <li id="li_current"><a href="#CurrentHoldings" data-toggle="tab" onclick="get_data_table('current_holdings');">Current Holdings</a></li>
                                <li id="li_trade"><a href="#TradeSummary" data-toggle="tab" onclick="get_data_table('trade_summary');">Trade Summary</a></li>
                                <li id="li_order"><a href="#Orders" data-toggle="tab" onclick="get_data_table('orders');">Orders</a></li>-->
                                <li id="li_summary"><a href="/portfolio_summary/">Summary</a></li>
                                <li id="li_current"><a href="/current_holdings/">Current Holdings</a></li>
                                <li id="li_trade"><a href="/trade_summary/">Trade Summary</a></li>
                                <li id="li_order"><a href="/orders_list/">Orders</a></li>
                            </ul>

                            <div class="tab-content clearfix" id="portfolio_summary">

                                <div class="tab-pane active" id="Summary" style="display: none;">
                                	<div class="summary row">

                                        <div class="col-md-3 col-xs-12">
                                            <div class="summery_details">
                                                <h2>Portfolio Summary</h2>

                                                <table width="100%" class="table-responsive">
                                                    <tbody>
                                                        <tr>
                                                            <td>Blocked Cash</td>
                                                            {% if account_details.blocked_cash > 0 %}
                                                            <td><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ account_details.blocked_cash }}</td>
                                                            {% else %}
                                                            <td>---</td>
                                                            {% endif %}
                                                        </tr>
                                                        <tr>
                                                            <td>Unrealized Profit/Loss</td>
                                                            <td><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ summary_data.un_realized_profit_loss }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Realized Profit/Loss</td>
                                                            <td><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ summary_data.realized_profit_loss }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Investment Returns</td>
                                                            <td><i aria-hidden="true" class="fa fa-caret-up"></i>{{ summary_data.summary_returns }}%</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-xs-12">
                                            <div class="account_details">
                                            	<h2>Account Details</h2>

                                                <table width="100%" class="table-responsive">
                                                    <tbody>
                                                        <tr>
                                                            <td>Cash Available</td>
                                                            <td><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ account_details.total_cash_balance }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Value of Positions</td>
                                                            <td><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ summary_data.summary_holdings }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Account Value</td>
                                                            <td><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ account_details.account_value }}</td>
                                                        </tr>

                                                        <tr>
                                                            <td>Invested Capital</td>
                                                            <td><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ account_details.invested_capital }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>

                                        <div class="col-md-6 col-xs-12" id="account_graph_new_div" style="display:block; padding:0px !important;">
                                            <input type="button" name="account_value_butn" id="account_value_butn" class="btn mysubmit_btn2" value="Account Value" style="width:100px; margin:0px 0px 10px 50px; padding:3px; background:#84a3b1; font-size: 13px; font-weight: normal; text-transform: none;" onclick="set_graph_image('account')">
                                            <input type="button" name="return_value_butn" id="return_value_butn" class="btn mysubmit_btn2" value="Return(%)" style="width:75px; margin:0px 0px 10px 2px; padding:3px; background:#dddddd; font-size: 13px; font-weight: normal; text-transform: none;" onclick="set_graph_image('return')">
                                            <div id="account_graph_container" style="overflow:hidden; width: 100%; height:250px;"></div>
                                        </div>

                                        <div class="col-md-6" id="return_graph_new_div" style="padding:0px !important; display:none;">
                                            <input type="button" name="account_value_butn" id="account_value_butn" class="btn mysubmit_btn2" value="Account Value" style="width:100px; margin:0px 0px 10px 50px; padding:3px; background:#dddddd; font-size: 13px; font-weight: normal; text-transform: none;" onclick="set_graph_image('account')">
                                            <input type="button" name="return_value_butn" id="return_value_butn" class="btn mysubmit_btn2" value="Return(%)" style="width:75px; margin:0px 0px 10px 2px; padding:3px; background:#84a3b1; font-size: 13px; font-weight: normal; text-transform: none;" onclick="set_graph_image('return')">
                                        	<!--<div id="return_graph_container" style="overflow:hidden; width: 100%; height:300px;"></div>-->
                                            <div id="portfolio_container" style="overflow:hidden; width: 100%; height:250px; margin: 0 auto"></div>
                                        </div>
                                        <input type="hidden" id="graph_container_width" name="graph_container_width" value="800" />

                                        <div class="holdings_area">


                                            <!-- CURRENT HOLDING SUMMARY START -->
                                            <div class="col-md-6" id="SummaryHoldings" style="display: none;">
                                                <div class="holdings_details">
                                                    <h2>Holdings</h2>
                                                    <table width="100%" class="table-responsive">
                                                        <thead>
                                                            <tr>
                                                                <th style="width:30%;">Cluster Name</th>
                                                                <th style="width:20%; text-align:right; padding:0px 20px;">Bought Value</th>
                                                                <th style="width:20%; text-align:right; padding:0px 20px;">Current Value</th>
                                                                <th style="width:25%; text-align:right; padding:0px 20px;">Profit</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% if current_holder_list %}
                                                        {% for current_row in current_holder_list %}
                                                            {% if forloop.counter < 5 %}
                                                            <tr>
                                                                <td style="padding-left:20px;">{{ current_row.cluster_name }}</td>
                                                                <td style="text-align:right; padding:0px 20px;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ current_row.bought_value }}</td>
                                                                <td style="text-align:right; padding:0px 20px;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ current_row.current_value }}</td>
                                                                <td style="text-align:right; padding:0px 20px;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ current_row.profit }}</td>
                                                            </tr>
                                                            {% endif %}
                                                        {% endfor %}

                                                        {% else %}
                                                            <tr>
                                                                <td colspan="4" style="text-align:center; font-weight:bold; font-size:14px;">No Current Holdings Found!</td>
                                                            </tr>

                                                        {% endif %}

                                                        </tbody>
                                                    </table>
                                                    {% if current_holder_list %}
                                                        <a href="javascript:void(0);" onclick="goto_tab('current_holdings');">VIEW MORE DETAILS</a>
                                                    {% endif %}

                                                </div>
                                            </div>

                                            <!-- DATA TABLE STARTS -->

                                            <div class="col-md-6" id="holdings_summary_mobi_tbl" style="display: none;">
                                                <div class="holdings_details">
                                                    <h2>Holdings</h2>
                                                    <table width="100%" class="table-responsive" id="tbl_summary_holdings">
                                                        <thead>
                                                            <tr>
                                                                <th>Cluster Name</th>
                                                                <th>Bought Value</th>
                                                                <th>Current Value</th>
                                                                <th>Profit</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% if current_holder_list %}
                                                            {% for current_row in current_holder_list %}
                                                                {% if forloop.counter < 5 %}
                                                                <tr>
                                                                    <td>{{ current_row.cluster_name }}</td>
                                                                    <td><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ current_row.bought_value }}</td>
                                                                    <td><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ current_row.current_value }}</td>
                                                                    <td><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ current_row.profit }}</td>
                                                                </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                        </tbody>
                                                    </table>
                                                    {% if current_holder_list %}
                                                        <a href="javascript:void(0);" onclick="goto_tab('current_holdings');">VIEW MORE DETAILS</a>
                                                    {% endif %}

                                                </div>
                                            </div>

                                            <!-- DATA TABLE ENDS -->

                                            <!-- CURRENT HOLDING SUMMARY ENDS -->

                                            <!-- ORDER SUMMARY START -->

                                            <div class="col-md-6" id="SummaryOrders" style="display: none;">
                                                <div class="holdings_details">
                                                    <h2>Orders</h2>
                                                    <table width="100%" class="table-responsive">
                                                        <thead>
                                                            <tr>
                                                                <th>Cluster Name</th>
                                                                <th>date</th>
                                                                <th>type</th>
                                                                <th style="padding-right: 30px; text-align: right;">value</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                        {% if order_list %}
                                                        {% for cluster_row in order_list %}
                                                            {% if forloop.counter < 5 %}
                                                            <tr>
                                                                <td style="padding-left:20px;">{{ cluster_row.cluster_name }}</td>
                                                                <td style="padding-left:20px;">{{ cluster_row.print_order_date }}</td>
                                                                <td style="padding-left:20px;">Buy</td>
                                                                <td style="padding:0px 20px; text-align: right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ cluster_row.total_value }}</td>
                                                            </tr>
                                                            {% endif %}
                                                        {% endfor %}

                                                        {% else %}
                                                            <tr>
                                                                <td colspan="4" style="text-align:center; font-weight:bold; font-size:14px;">No Order Found!</td>
                                                            </tr>
                                                        {% endif %}

                                                        </tbody>
                                                    </table>
                                                    {% if order_list %}
                                                        <a href="javascript:void(0);" onclick="goto_tab('orders');">VIEW MORE DETAILS</a>
                                                    {% endif %}

                                                </div>
                                            </div>

                                            <!-- DATA TABLE STARTS -->
                                            <div class="col-md-6" id="order_summary_mobi_tbl" style="display: none;">
                                                <div class="holdings_details" >
                                                    <h2>Orders</h2>
                                                    <table width="100%" id="tbl_summary_orders">
                                                        <thead>
                                                            <tr>
                                                                <th>Cluster Name</th>
                                                                <th>date</th>
                                                                <th>type</th>
                                                                <th>value</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                        {% if order_list %}
                                                        {% for cluster_row in order_list %}
                                                            {% if forloop.counter < 5 %}
                                                            <tr>
                                                                <td>{{ cluster_row.cluster_name }}</td>
                                                                <td>{{ cluster_row.print_order_date }}</td>
                                                                <td>Buy</td>
                                                                <td><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ cluster_row.total_value }}</td>
                                                            </tr>
                                                            {% endif %}
                                                        {% endfor %}

                                                        {% endif %}

                                                        </tbody>
                                                    </table>
                                                    {% if order_list %}
                                                        <a href="javascript:void(0);" onclick="goto_tab('orders');">VIEW MORE DETAILS</a>
                                                    {% endif %}

                                                </div>
                                            </div>
                                            <!-- DATA TABLE ENDS -->
                                            <!-- ORDER SUMMARY END -->

                                        </div>
                                    </div>
                                </div>

                                <!-- CURRENT HOLDINGS STARTS -->

                                <!-- CURRENT HOLDINGS ENDS -->


                                <!-- TRADE SUMMARY STARTS -->

                                <!-- TRADE SUMMARY ENDS -->


                                <!-- ORDER DETAILS STARTS -->

                                <!-- ORDER DETAILS ENDS -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/. body right portion area -->
    	</div>
	</div>

    <input type="hidden" id="date_id" name="date_id" value="{{ data_x }}" />
    <input type="hidden" id="account_id" name="account_id" value="{{ data_account }}" />
    <input type="hidden" id="returns_id" name="returns_id" value="{{ data_returns }}" />

</section>
<style>
.Orders .inner_table table tbody tr td:nth-child(1) {
    width: 18.5%;
}
.Orders .inner_table table tbody tr td:nth-child(2) {
    width: 17.5%;
}
.Orders .inner_table table tbody tr td:nth-child(3) {
    width: 10%;
}
.Orders .inner_table table tbody tr td:nth-child(4) {
    width: 4%;
}
.Orders .inner_table table tbody tr td:nth-child(5) {
    width: 11%;
}
.Orders .inner_table table tbody tr td:nth-child(6) {
    width: 12%;
}
.Orders .inner_table table tbody tr td:nth-child(7) {
    width: 7%;
}
.Orders .inner_table table tbody tr td:nth-child(8) {
    width: 10%;
}
.Orders .inner_table table tbody tr td:nth-child(9) {
    width: 10%;
}

.CurrentHoldings .inner_table table tbody tr td:nth-child(1) {
    width: 14.5%; text-align: left;
}
.CurrentHoldings .inner_table table tbody tr td:nth-child(2) {
    width: 10%; text-align: left;
}
.CurrentHoldings .inner_table table tbody tr td:nth-child(3) {
    width: 9%; text-align: center;
}
.CurrentHoldings .inner_table table tbody tr td:nth-child(4) {
    width: 10%; text-align: right;
}
.CurrentHoldings .inner_table table tbody tr td:nth-child(5) {
    width: 9%; text-align: right;
}
.CurrentHoldings .inner_table table tbody tr td:nth-child(6) {
    width: 8%; text-align: right;
}
.CurrentHoldings .inner_table table tbody tr td:nth-child(7) {
    width: 5%; text-align: center;
}


.TradeSummary .inner_table table tbody tr td:nth-child(1) {
    width: 19%;
}
.TradeSummary .inner_table table tbody tr td:nth-child(2) {
    width: 17%;
}

.TradeSummary .inner_table table tbody tr td:nth-child(3) {
    width: 9%;
}
.TradeSummary .inner_table table tbody tr td:nth-child(4) {
    width: 5%;
}

.TradeSummary .inner_table table tbody tr td:nth-child(5) {
    width: 10%;
}
.TradeSummary .inner_table table tbody tr td:nth-child(6) {
    width: 10%;
}
.rebalanceBtn{ background:#fff; padding:2px 5px; margin: 5px 0 0; position:relative; border:1px solid #ed5d09; font-family: "Open Sans",sans-serif; font-size: 12px; font-weight: 600; color:#ed5d09;}
.rebalanceBtn:hover{background:#ed5d09; color:#fff;}




/*table.dataTable, table.dataTable th, table.dataTable td{font-size: 12px;}*/
</style>

<script>
function show_hold_details(obj, row_id)
{
    var class_name = 'hold_details_'+row_id;
    var s = $("."+class_name).css("display");
    //alert('s'+s);
    if(s == 'none')
    {
        $("."+class_name).css("display","");
        $(obj).toggleClass("fa-plus fa-minus");
    }
    else
    {
        $("."+class_name).css("display","none");
        $(obj).toggleClass("fa-minus fa-plus");
    }
}
function show_trade_details(obj, row_id)
{
    var class_name = 'trade_details_'+row_id;
    var s = $("."+class_name).css("display");
    //alert('s'+s);
    if(s == 'none')
    {
        $("."+class_name).css("display","");
        $(obj).toggleClass("fa-plus fa-minus");
    }
    else
    {
        $("."+class_name).css("display","none");
        $(obj).toggleClass("fa-minus fa-plus");
    }
}
function show_order_details(obj, row_id)
{
    var class_name = 'order_details_'+row_id;
    var s = $("."+class_name).css("display");
    //alert('s'+s);
    if(s == 'none')
    {
        $("."+class_name).css("display","");
        $(obj).toggleClass("fa-plus fa-minus");
    }
    else
    {
        $("."+class_name).css("display","none");
        $(obj).toggleClass("fa-minus fa-plus");
    }
}

function place_sell(order_buy_id)
{
    //alert('cluster_id'+cluster_id);
    window.location.href = "/sell_cluster/"+order_buy_id;
}
function place_rebalance_order(order_buy_id)
{
    //alert('cluster_id'+cluster_id);
    window.location.href = "/rebalance_cluster/"+order_buy_id;
}
</script>
<script>
$(document).ready(function(e) {
    //----------------------------------------//
    $("#Summary").hide();
    $("#SummaryOrders").hide();
    $("#SummaryHoldings").hide();
    //-----------------------------------------//
    $("#order_summary_mobi_tbl").hide();
    $("#holdings_summary_mobi_tbl").hide();
    //$(".previous_rebalance_tbl").hide();
    //-----------------------------------------//
    $("#Summary").removeClass("active");
    $("#CurrentHoldings").removeClass("active");
    $("#TradeSummary").removeClass("active");
    $("#Orders").removeClass("active");
    $("#exTab1 li").removeClass("active");
    //-----------------------------------------//
    if($(window).width()<768)
    {
        get_data_table();
    }
    else
    {
        //-----------------------------------------//
        set_web_tab();
        //-----------------------------------------//        
    }
    //----------------------------------------//
    get_highchart_graph();
    //----------------------------------------//
});
function goto_tab()
{  
    //----------------------------------------//
    $("#Summary").hide();
    $("#SummaryOrders").hide();
    $("#SummaryHoldings").hide();
    //-----------------------------------------//
    $("#order_summary_mobi_tbl").hide();
    $("#holdings_summary_mobi_tbl").hide();
    //$(".previous_rebalance_tbl").hide();
    //-----------------------------------------//
    $("#Summary").removeClass("active");
    $("#CurrentHoldings").removeClass("active");
    $("#TradeSummary").removeClass("active");
    $("#Orders").removeClass("active");
    $("#exTab1 li").removeClass("active");
    //-----------------------------------------//
    if($(window).width()<768)
    {
        get_data_table();
    }
    else
    {
        set_web_tab();
    }
    //-----------------------------------------//    
}
function set_web_tab()
{
    //window.location.href="/portfolio_dev";
    $("#Summary").addClass("active");
    $("#li_summary").addClass("active");
    $("#SummaryOrders").show();
    $("#SummaryHoldings").show();
    $("#Summary").show();
}
function get_data_table()
{
    if($(window).width()<768) {
        //-----------------------------------------//
        $("#Summary").hide();
        $("#SummaryOrders").hide();
        $("#SummaryHoldings").hide();
        //-----------------------------------------//
        $("#order_summary_mobi_tbl").hide();
        $("#holdings_summary_mobi_tbl").hide();
        //$(".previous_rebalance_tbl").hide();
        //-----------------------------------------//
        $("#order_summary_mobi_tbl").show();
        $("#holdings_summary_mobi_tbl").show();
        $("#Summary").show();
        $("#li_summary").addClass("active");
        //--------------------------------------------//
    }
}
</script>

<script>
function get_highchart_graph()
{
    //------------find highcharts width-----------//
    set_graph_image('account');
    graph_width = $("#account_graph_container").width();
    //alert('get_highchart_graph graph_width'+graph_width);
    //--------------------------------------------//

    Highcharts.setOptions({
        lang: {
            thousandsSep: ','
        }
    });
    //----------------------------------//
    var return_data_object = new Object();
    return_data_graph = new Array();
    var object = new Object();
    data_graph = new Array();
    //----------------------------------//
    var x_data = $("#date_id").val();
    var account_data = $("#account_id").val();
    var returns_data = $("#returns_id").val();

    //alert('x_data'+x_data);
    //alert('account_data'+account_data);
    //alert('returns_data'+returns_data);

    var x_date_array = x_data.split("|");
    var account_array = account_data.split("|");
    var returns_array = returns_data.split("|");

    //alert('x_data length'+x_date_array.length);

    for (i = 0; i < x_date_array.length; i++)
    {
        //alert('x_data_value'+x_date_array[i]);
        //alert('account_data'+account_array[i]);
        //alert('return_data'+returns_array[i]);
        test_date = x_date_array[i];
        //alert(new Date(test_date));
        //alert(new Date(test_date).toUTCString());
        //alert(new Date(test_date).getTimezoneOffset());
        //alert(new Date(test_date).getTime());
        //---------------------------------------//
        t_dt = x_date_array[i].split(',');
        t_dt_y = t_dt[0];
        t_dt_m = t_dt[1];
        t_dt_d = t_dt[2];
        //test_date = t_dt_y + ',' + t_dt_m + ',' + t_dt_d;
        //---------------------------------------//
        //x_dt_prev = new Date(x_date_array[i]).getTime();
        x_dt = new Date(test_date).getTime() + Math.abs(new Date(test_date).getTimezoneOffset() * 60000);
        y_dt = parseFloat(account_array[i]);
        ret_dt = parseFloat(returns_array[i]);
        //----------------------------------------//
        object.data = [x_dt, y_dt];
        data_graph.push(object.data);
        //---------------------------------------//
        return_data_object.data = [x_dt, ret_dt];
        return_data_graph.push(return_data_object.data);
        //---------------------------------------//
        if(x_date_array.length == 1)
        {
            //----today----//
            x_dt_d = new Date().getDate();
            x_dt_m = new Date().getMonth()+1;
            x_dt_y = new Date().getFullYear();
            //alert(x_dt_y);alert(x_dt_m);alert(x_dt_d);
            //--------------------------//
            if((parseInt(t_dt_d)==parseInt(x_dt_d)) && (parseInt(t_dt_m)==parseInt(x_dt_m)) && (parseInt(t_dt_y)==parseInt(x_dt_y)))
            {
                x_dt_today = new Date().getTime() + Math.abs(new Date().getTimezoneOffset() * 60000);
                object.data_today = [x_dt_today, y_dt];
                data_graph.push(object.data_today);
                //----------------------------------------//
                //x_dt_1 = x_dt + (3600*10);
                //x_dt_2 = x_dt + (3600*15);
                //----------------------------------------//
                //object.data_1 = [x_dt_1, y_dt];
                //object.data_2 = [x_dt_2, y_dt];
                //----------------------------------------//
                //data_graph.push(object.data_1);
                //data_graph.push(object.data_2);
                //----------------------------------------//
            }
        }
    }

    data_graph.sort();
    return_data_graph.sort();

     //data_graph = [[1476729000000, 1000000], [1476729000000, 1000000], [1476729000000, 1000000]];
    //----------------------------------//
    //data_object.data = [new Date(myDate[2],myDate[0],myDate[1]).getTime(),parseFloat(cluster_value.toFixed(2))];
    /*object.data = [new Date(2013,5,2).getTime(), parseFloat(1299505.00)];
    data_graph.push(object.data);
    object.data = [Date.UTC(2013,5,5), 1399505.00];
    data_graph.push(object.data);
    object.data = [Date.UTC(2013,5,7), 1499505.00];
    data_graph.push(object.data);
    object.data = [Date.UTC(2013,5,9), 1399505.00];
    data_graph.push(object.data);
    data_graph.sort();*/

    //$.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename=usdeur.json&callback=?', function (data) {
        console.log(data_graph);
        //console.log(return_data_graph)

        $('#account_graph_container').highcharts({

            credits: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
             rangeSelector: {
                enabled: false
            },
            chart: {
                zoomType: 'x',
                type: 'line',
                width: graph_width
            },
            title: {
                text: ''
            },
            /*subtitle: {
                text: document.ontouchstart === undefined ?
                        'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
            },*/
            scrollbar: {
                enabled: false
            },
            xAxis: {
                type: 'datetime',
                scrollbar: {
                    enabled: false
                }
            },
            yAxis: {
                title: {
                    text: 'Account Value (Rs.)'
                },
                labels: {
                    format: 'Rs.{value}'
                }
            },
            legend: {
                enabled: false
            },
            tool_tip: {
                //pointFormat: "Rs. {point.y:.2f}"

               formatter: function () {
                    var point = this.points[0];
                    return Highcharts.dateFormat('%A, %B %e, %Y', this.x) + '<br/>' +Highcharts.numberFormat(point.y, 2)+'%';
                },
                shared: true
           },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1,
                                Highcharts.Color(Highcharts.
                                        getOptions().
                                        colors[0]).
                                        setOpacity(0).
                                        get('rgba')]
                        ]
                    },

                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },

                    threshold: null
                }
            },

            series: [{
                type: 'area',
                name: 'Account Value (Rs.)',
                data: data_graph
            }]
        });
    //});

    //-------------return graph----------------//
    /*$('#return_graph_container').highcharts({
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
         rangeSelector: {
            enabled: false
        },
        chart: {
            zoomType: 'x'
        },
        title: {
            text: ''
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            title: {
                text: 'Return Value'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'Return Value',
            data: return_data_graph
        }]
    });*/
    //------------------------------------------------//

    //$.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename=usdeur.json&callback=?', function (data) {
        var detailChart;

        $(document).
                ready(function () {

                    // create the detail chart
            function createDetail(masterChart) {

                // prepare the detail chart
                var detailData = [],
                    detailStart = return_data_graph[0][0];

                $.each(masterChart.series[0].data, function () {
                    if (this.x >= detailStart) {
                        detailData.push(this.y);
                    }
                });
                // create a detail chart referenced by a global variable

                detailChart = $('#detail-container').highcharts({
                    chart: {
                        //marginBottom: 120,
                        reflow: false,
                        type: 'line',
                        width: graph_width,
                        //marginLeft: 50,
                        //marginRight: 20,
                        style: {
                            position: 'absolute'
                        }
                    },
                    credits: {
                        enabled: false
                    },
                    title: {

                        //text: 'Historical USD to EUR Exchange Rate'
                        text: null
                    },
                            /*subtitle: {
                        text: 'Select an area by dragging across the lower chart'
                    },*/
                    xAxis: {
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: 'Returns (%)'
                        },
                        labels: {
                            format: '{value}%'
                        },
                        maxZoom: 0.1
                    },

                    tooltip: {
                        formatter: function () {
                            var point = this.points[0];
                            /*return '<b>' + point.series.name + '</b><br/>' + Highcharts.dateFormat('%A %B %e %Y', this.x) + ':<br/>' +
                                '1 USD = ' + Highcharts.numberFormat(point.y, 2) + ' EUR';*/
                            return '' + Highcharts.dateFormat('%A, %B %e, %Y', this.x) + '<br/>Returns:' +Highcharts.numberFormat(point.y, 2)+'%';
                        },
                        shared: true
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            marker: {
                                enabled: false,
                                states: {
                                    hover: {
                                        enabled: true,
                                        radius: 3
                                    }
                                }
                            }
                        }
                    },
                    series: [{
                        name: 'Returns',
                        pointStart: detailStart,
                        pointInterval: 24 * 3600 * 1000,
                        data: detailData
                    }],

                    exporting: {
                        enabled: false
                    }

                }).highcharts(); // return chart
            }

            // create the master chart
            function createMaster() {
                $('#master-container').
                        highcharts({
                    chart: {
                        reflow: false,
                        borderWidth: 0,
                        backgroundColor: null,
                        //marginLeft: 50,
                        //marginRight: 20,
                        zoomType: 'x',
                        events: {
                            // listen to the selection event on the master chart to update the
                            // extremes of the detail chart
                            selection: function (event) {
                                var extremesObject = event.xAxis[0],
                                    min = extremesObject.min,
                                    max = extremesObject.max,
                                    detailData = [],
                                    xAxis = this.xAxis[0];

                                // reverse engineer the last part of the data
                                $.each(this.series[0].data, function () {
                                    if (this.x > min && this.x < max) {
                                        detailData.push([this.x, this.y]);
                                    }
                                });
                                // move the plot bands to reflect the new detail span
                                xAxis.removePlotBand('mask-before');
                                xAxis.addPlotBand({
                                    id: 'mask-before',
                                    from: return_data_graph[0][0],
                                    to: min,
                                    color: 'rgba(0, 0, 0, 0.2)'
                                });

                                xAxis.removePlotBand('mask-after');
                                xAxis.addPlotBand({
                                    id: 'mask-after',
                                    from: max,
                                    to: return_data_graph[return_data_graph.length - 1][0],
                                    color: 'rgba(0, 0, 0, 0.2)'
                                });

                                detailChart.series[0].setData(detailData);

                                return false;
                            }
                        }
                    },
                    title: {
                        text: null
                    },
                    xAxis: {
                        type: 'datetime',
                        showLastTickLabel: true,
                        maxZoom: 14 * 24 * 3600000, // fourteen days
                        plotBands: [{
                            id: 'mask-before',
                            from: return_data_graph[0][0
                                    ],
                            to: return_data_graph[
                            return_data_graph.length - 1][0],
                            color: 'rgba(0, 0, 0, 0.2)'
                        }],
                        title: {
                            text: null
                        }
                    },
                    yAxis: {

                        gridLineWidth: 0,
                        labels: {
                            enabled: false
                        },
                        title: {
                            text: null
                        },
                        min: 0.6,
                        showFirstLabel: false
                    },
                            tooltip: {
                                formatter: function () {
                            return false;
                        }
                    },
                    legend: {
                        enabled: false
                    } ,
                    credits: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            fillColor: {

                                linearGradient: [0, 0, 0, 70],
                                stops: [
                                    [0, Highcharts.getOptions().colors[0]],
                                    [1, 'rgba(255,255,255,0)']
                                ]
                            },
                            lineWidth: 1,
                            marker: {
                                enabled: false
                            },
                            shadow: false,
                            states: {
                                hover: {

                                    lineWidth: 1
                                }
                            },
                            enableMouseTracking: false
                        }
                    },

                    series: [{
                        type: 'area',
                        name: 'Returns(%)',
                        pointInterval: 24 * 3600 * 1000,
                        pointStart: return_data_graph[0][0],
                        data: return_data_graph
                    }],

                    exporting: {
                        enabled: false
                    }

                }, function (masterChart) {
                    createDetail(masterChart);
                })
                    .highcharts(); // return chart instance
            }

            // make the container smaller and add a second container for the master chart
            var $container = $('#portfolio_container')
                .css({position: 'relative',
                    height: 250,
                    width: '100%'});

            //$(".highcharts-container").css("width", "800px");

            $('<div id="detail-container">')
                .css({
                    height: 250,
                    width: graph_width
                })
                .appendTo($container);

            $('<div id="master-container">')
                .css({
                    position: 'absolute',
                    top: 250,
                    height: 100,
                    width: '100%',
                    display: 'none'
                })
                    .appendTo($container);

            // create master and in its callback, create the detail chart
            createMaster();
        });
    $(".highcharts-container").css("width", "100%");
    //});
    //------------------------------------------------//
}
</script>

{% include 'inner_footer.html' %}


<style>
/*================== external myModal(25-11-2016) =========================*/

.external{ cursor:pointer;}
#externalmyModal .modal-dialog{ width:950px; margin: 130px auto;}
#externalmyModal .modal-content .modal-header{ padding-top: 14px;}

.content_table table tbody tr:nth-child(even) {background: #fff;}
.content_table table tbody tr:nth-child(odd) {background: #f9f9f9;}
.content_table .table > thead > tr > th {border-bottom: 1px solid #666666; border-top: 1px solid #666666 !important; font-weight: 600; padding: 12px 5px; font-size: 12px; text-transform: uppercase;}

.content_table{ border-top:0px solid #74868f !important; padding:0px !important;}
.content_table table{ margin:0px 0px 25px; border:1px solid #eeeeee !important;}
.content_table table tbody tr td { width:12.4%;}
.content_table table tbody tr td:nth-child(1) { width:24%;}
.content_table table tbody tr td:nth-child(2) { width:19%;}
.content_table table tbody tr td:nth-child(3) { text-align:center;  padding-left:20px;}
.content_table table tbody tr td a { color:#2486c8; font-family: "Open Sans",sans-serif; font-size: 14px; font-weight: 400; text-decoration:none;}

</style>