	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <meta name="viewport" content="width=device-width">
 
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="format-detection" content="telephone=no" /> <!-- disable auto telephone linking in iOS -->
		<title></title>
		
	</head>
	<body bgcolor="#f0f0f0" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">

		<center style="background-color:#f0f0f0;">
			<table background="#f0f0f0" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="table-layout: fixed;max-width:100% !important;width: 100% !important;min-width: 100% !important;">
       
				<tr>
					<td align="center" valign="top" id="bodyCell" >

						<table  border="0" cellpadding="0" cellspacing="0" width="600" >

							<!-- HEADER ROW // -->
							<tr>
								<td align="center" valign="top">
									<!-- CENTERING TABLE // -->
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td align="center" valign="top" height="10">
												
											</td>
										</tr>
									</table>
									<!-- // CENTERING TABLE -->
								</td>
							</tr>
							<!-- // END -->

						</table>
						
						 <table bgcolor="#FFFFFF"  border="0" cellpadding="0" cellspacing="0" width="800" id="emailBody">

							
                    <!-- ///////////////////////// SH ////////////////////////////////// -->        
                            <tr>
                            	<td align="center" valign="top" >
                                	<table border="0" cellpadding="0" cellspacing="0" width="100%" >
                                    
                                   <!-- // MODULE ROW -->
                                		<tr>
                                            <td align="center" valign="top" width="100%">
                                                <!-- CENTERING TABLE // -->
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#f0f0f0;">

                                                    <tr>
                                                        <td align="center" valign="top"  style="background-color:#f0f0f0; padding:10px 0px;" >
                                                          
                                                           <a href="http://www.investak.in/" target="_blank"><img src="http://www.investak.in/static/media/images/logos.jpg" /></a>
                                                        </td>
                                                   </tr>
                                                   
                                                   <tr>
                                                       <td align="left" valign="top" width="100%" style=" background-color:#f0f0f0; font-size:18px;  padding:0px 30px 10px; text-align:left; font-family: Arial, sans-serif, Helvetica " >
                                                            <h4 style="color:#2486c8; font-weight:normal; font-size:16px; text-align:center; font-family: Arial, sans-serif, Helvetica;margin:0px;">Investak: A new world of investing</h4>
                                                       </td>
                                                   </tr>
                                                    
                                                   <tr> <td align="center" valign="top" height="20" >&nbsp;</td></tr>
                                                   
                                                </table>
                                            </td>
                                		</tr>             
                                
                            <!-- MODULE ROW // -->
                                          
                                         <tr>
                                           <td align="left" valign="top" width="100%" style=" background-color:#fff; font-size:18px;  padding:30px 30px 10px; text-align:left; font-family: Arial, sans-serif, Helvetica " >
                                           		<p style="color:#333; font-weight:normal; font-size:20px; text-align:left; font-family: Arial, sans-serif, Helvetica;margin:10px 0px;">Dear, <span>{{ user.full_name }}</span></p>
                                                <p style="color:#333; font-weight:normal; font-size:16px; text-align:left; font-family: Arial, sans-serif, Helvetica;margin:0px;">Investak has just re-balanced the stak: <span style="font-weight:bold;">{{ cluster_name }}</span> of your portfolio.<br><br> Please find below the details:</p>
                                           </td>
                                       </tr>
                                                                              
                                       <!--<tr>
                                           <td align="left" valign="top" width="100%" style=" background-color:#fff; font-size:18px;  padding:0px 30px 0px; text-align:left; font-family: Arial, sans-serif, Helvetica " >
                                                <h5 style="color:#333; font-weight:bold; font-size:18px; font-style:italic; padding:0px 0px; font-family: Arial, sans-serif, Helvetica;margin:0px;">Table - 1</h5>
                                           </td>
                                       </tr>-->
                                       
                                       <tr>
                                       	<td align="left" valign="top" width="100%" style="padding:10px 25px;">
                                        	<table cellpadding="0" cellspacing="0" width="100%" border="1" bordercolor="#999999" >
                                            	<tr >
                                                	<th style="padding:5px 10px; text-align:left; font-size:14px; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">Stock Name</th>
                                                    <th style="padding:5px 10px; text-align:left; font-size:14px; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">Exchange</th>
                                                    <th style="padding:5px 10px; text-align:left; font-size:14px; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">Previous Weightage</th>
                                                    <th style="padding:5px 10px; text-align:left; font-size:14px; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">New Weightage</th>
                                                </tr>
                                                {% for email_cluster_data in email_cluster %}
                                                <tr >
                                                	<td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">{{ email_cluster_data.co_name }}</td>
                                                    <td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">{{ email_cluster_data.exchange }}</td>
                                                    {% if email_cluster_data.old_weightage == 'NA' %}
                                                        <td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">{{ email_cluster_data.old_weightage }}</td>
                                                    {% else %}
                                                        <td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">{{ email_cluster_data.old_weightage|floatformat:2 }}%</td>
                                                    {% endif %}

                                                    {% if email_cluster_data.new_weightage == 'NA' %}
                                                        <td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">{{ email_cluster_data.new_weightage }}</td>
                                                    {% else %}
                                                        <td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">{{ email_cluster_data.new_weightage|floatformat:2 }}%</td>
                                                    {% endif %}
                                                </tr>
                                                {% endfor %}
                                                
                                            </table>
                                        </td>
                                       </tr>
                                       
                                       <tr> <td align="center" valign="top" height="20" >&nbsp;</td></tr>
                                       
                                       <tr>
                                           <td align="left" valign="top" width="100%" style=" background-color:#fff; font-size:18px;  padding:0px 30px 0px; text-align:left; font-family: Arial, sans-serif, Helvetica " >
                                                <h5 style="color:#333; font-weight:bold; font-size:18px; font-style:italic; padding:0px; font-family: Arial, sans-serif, Helvetica;margin:0px;">Please <a style=" display:inline-block; font-size:13px; background:#2486c8; color:#fff; border-radius:4px; padding:7px 13px; text-decoration:none;" href="https://www.investak.in/rebalance_cluster/{{ order_buy_id }}">Click here</a> to rebalance:-</h5>
                                           </td>
                                       </tr>
                                       
                                       <tr>
                                       	<td align="left" valign="top" width="100%" style="padding:5px 25px;">
                                        	<table cellpadding="0" cellspacing="0" width="100%" border="1" bordercolor="#999999" >
                                            	<tr >
                                                	<th style="padding:5px 10px; text-align:left; font-size:14px; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">Stock Name</th>
                                                    <th style="padding:5px 10px; text-align:left; font-size:14px; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">Exchange</th>
                                                    <th style="padding:5px 10px; text-align:left; font-size:14px; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">Symbol</th>
                                                    <th style="padding:5px 10px; text-align:left; font-size:14px; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">Order</th>
                                                    <th style="padding:5px 10px; text-align:left; font-size:14px; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">Share</th>
                                                    <th style="padding:5px 10px; text-align:left; font-size:14px; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">Price</th>
                                                    <th style="padding:5px 10px; text-align:left; font-size:14px; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">Value</th>
                                                </tr>
                                                {% if buy_cluster %}
                                                {% for buyclust in buy_cluster %}
                                                <tr>
                                                	<td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">{{ buyclust.co_name }}</td>
                                                    <td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">{{ buyclust.exchange }}</td>
                                                    <td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">{{ buyclust.symbol }}</td>
                                                    <td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">BUY</td>
                                                    <td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">{{ buyclust.no_share }}</td>
                                                    <td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">{{ buyclust.unit_price|floatformat:2 }}</td>
                                                    <td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">{{ buyclust.amount|floatformat:2 }}</td>
                                                </tr>
                                                {% endfor %}
                                                {% endif %}
                                                {% if sell_cluster %}
                                                {% for sellclust in sell_cluster %}
                                                <tr>
                                                	<td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">{{ sellclust.co_name }}</td>
                                                    <td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">{{ sellclust.exchange }}</td>
                                                    <td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">{{ sellclust.symbol }}</td>
                                                    <td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">SELL</td>
                                                    <td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">{{ sellclust.no_share }}</td>
                                                    <td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">{{ sellclust.unit_price|floatformat:2 }}</td>
                                                    <td style="padding:5px 10px; font-size:14px; text-align:left; font-family: Arial, sans-serif, Helvetica; font-weight:normal;">{{ sellclust.amount|floatformat:2 }}</td>
                                                </tr>
                                                {% endfor %}
                                                {% endif %}
                                                
                                            </table>
                                        </td>
                                       </tr>
                            <!-- MODULE ROW // -->
                            
                                        
                            
                            <!-- MODULE ROW // -->
                            			 <tr>
                                    		<td align="center" valign="top" width="100%" style="background-color:#fff;">
                                            	<table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                	
                                                    <tr>
                                    					<td align="center" valign="top" width="100%" colspan="2" height="25">&nbsp;</td>
                                                    </tr>  
                                                    
                                                    <tr>
                                                    	<td style="padding:10px 10px 10px 30px; text-align:left; font-family: Arial, sans-serif, Helvetica;" width="50%" valign="top" align="left">
                                                        <h5 style="color:#333; font-weight:bold; font-size:18px; font-style:italic; padding:10px 0px; font-family: Arial, sans-serif, Helvetica;margin:0px;">Further Reading</h5>
                                                        <p style="color:#333; font-weight:normal; font-size:14px; font-style:italic; line-height:18px; font-family: Arial, sans-serif, Helvetica;margin:0px;">Visit: www.investak.in</p>
                                                        <br />
                                                        </td>
                                                        
                                                        <td style="padding:10px 30px 10px 10px; text-align:left; font-family: Arial, sans-serif, Helvetica;" width="50%" valign="top" align="left" >
                                                        <h5 style="color:#333; font-weight:bold; font-size:18px; font-style:italic; padding:10px 0px; font-family: Arial, sans-serif, Helvetica;margin:0px;">Thanks for Subscribing</h5>
                                                        <p style="color:#333; font-weight:normal; font-size:14px; font-style:italic; line-height:18px; font-family: Arial, sans-serif, Helvetica;margin:0px;">The team at Investak wants to extend a hearty 'thank you' to all of our wonderful readers.</p>
                                                        </td>
                                                        
                                                    </tr>
                                                    
                                                    <tr>
                                    					<td align="center" valign="top" width="100%" colspan="2" height="25">&nbsp;</td>
                                                    </tr>
                                                    
                                                </table>
                                            </td>
                                         </tr>   
                            <!-- MODULE ROW // -->
                            
							<!-- // MODULE ROW -->
                         				<tr>
                                            <td align="center" valign="top" width="100%">
                                                <!-- CENTERING TABLE // -->
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#343a3f;">

                                                    <tr>
                                                        <td align="center" valign="top" style="padding-top: 9px;padding-right: 9px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        								<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            		<tbody>
                            		<tr>
                                		<td align="center" valign="top" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                        
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display: inline;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                <tbody>
                                                <tr>
                                                    <td valign="top" style="padding-right: 10px;padding-bottom: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                            <tbody>
                                                            <tr>
                                                                <td align="left" valign="middle" style="padding-top: 5px;padding-right: 10px;padding-bottom: 5px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td align="center" valign="middle" width="24" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                <a href="https://www.linkedin.com/company/13217873?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A13217873%2Cidx%3A2-1-2%2CtarId%3A1479203010769%2Ctas%3Ainvestak" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><img src="http://www.investak.in/static/media/images/color-linkedin-48.png" style="display: block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" height="24" width="24" class=""></a>
                                                                            </td>
                                                                        </tr>
                                                                    	</tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        	</tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            	</tbody>
                                            </table>
                                        
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display: inline;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                <tbody>
                                                <tr>
                                                    <td valign="top" style="padding-right: 10px;padding-bottom: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                            <tbody>
                                                            <tr>
                                                                <td align="left" valign="middle" style="padding-top: 5px;padding-right: 10px;padding-bottom: 5px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td align="center" valign="middle" width="24" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                <a href="https://plus.google.com/collection/QntTkB" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><img src="http://www.investak.in/static/media/images/color-googleplus-48.png" style="display: block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" height="24" width="24"></a>
                                                                            </td>
                                                                        </tr>
                                                                    	</tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        	</tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            	</tbody>
                                            </table>

                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display: inline;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                <tbody>
                                                <tr>
                                                    <td valign="top" style="padding-right: 10px;padding-bottom: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                            <tbody>
                                                            <tr>
                                                                <td align="left" valign="middle" style="padding-top: 5px;padding-right: 10px;padding-bottom: 5px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td align="center" valign="middle" width="24" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                <a href="https://www.facebook.com/Investak/" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><img src="https://www.investak.in/static/media/images/color-facebook-48.png" style="display: block;border: 0;height: 24px!important;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" height="24px" width="24px"></a>
                                                                            </td>
                                                                        </tr>
                                                                      </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                        
                                		</td>
                            		</tr>
                        			</tbody>
                        		</table>
                    									</td>
                                                   </tr>
                                                   
                                                </table>
                                            </td>
                                		</tr>
                                        
                                        <tr style="background-color:#343a3f;">
                                        	<td align="center" valign="top" width="100%"><p style="color:#fff; font-size:16px; padding:10px 0px; font-family: Arial, sans-serif, Helvetica; margin:0px;">Copyright © *2016|* *|Investak|*, All rights reserved.</p>
                                            </td>
                                        </tr>
							

                       
                          
                          
						</table>
                        
                         </table>
                       </td>
                      </tr>
                            <!-- bottom Space -->
                            <tr>
                                <td align="center" valign="top" height="10">&nbsp;</td>
                            </tr>
                            <!-- bottom Space -->
			<!-- /////////////////////////////////////////////////////////////////////////// -->
					</td>
				</tr>
			</table>
		</center>
	</body>
</html>