{% include 'inner_header.html' %}
{% load staticfiles %}

<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">

<link href="{% static "investak/dist/css/responsive.dataTables.css" %}" rel="stylesheet" type="text/css">
<script src='{% static "admin/js/jquery.blockUI.js" %}'></script>
<script type="text/javascript">
    var site_url = 0;
    $(document).ready(function(e){

        $("#btnSubmit").click(function(e){
            var order_id = $("#order_id").val();
            var cluster_id = $("#cluster_id").val();
            var order_buy_id = $("#order_buy_id").val();

            $("#butn_submit_div").hide();
            $("#butn_no_submit_div").show();

            if(order_id && cluster_id && order_buy_id)
            {
                $.ajax({
                   type:"POST",
                   url:"/frontend/rebalance_virtual_order/",
                   async:false,
                   data:{
                        order_id:order_id,
                        cluster_id:cluster_id,
                        order_buy_id:order_buy_id,
                         csrfmiddlewaretoken:'{{ csrf_token }}'
                   },
                   beforeSend:function() {//alert('eeeeeeeeeeeeeeeeeeeeeeeee');
                       //$.blockUI({ message: 'Please Wait...' });
                   },
                   success:function(response) {//alert('aaaaaaaaaaaaaaaaaaa'+response);
                       if(response) {
                           site_url = 1;
                           //$.unblockUI();
                       }
                       else {//alert('bbbbbbbbbbbbbbbbb');
                           //$.blockUI({ message: 'There is something wrong while placing order' });
                           //$.unblockUI();
                       }
                   },
                   error:function(xhr) {//alert('ccccccccccccccccc'+xhr);
                       //$.blockUI({ message: 'There is something wrong while placing order' });
                       //$.unblockUI();
                   }
                });
            }
            e.preventDefault();
            //alert('site_url'+site_url);
            if(site_url > 0)
            {
                window.location.href="/portfolio/trade_summary";
            }
            else
            {
                $("#butn_submit_div").show();
            }
        });

        //-----------------------------------------//
        if($(window).width()<768)
        {
            //---------------------------------------//
            $('#tbl_previous_cluster_details').DataTable({
               "paging":   false,
                "ordering": false,
                "info":     false,
                "searching": false,
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.childRowImmediate,
                        type: ''
                    }
                }
            });
            //---------------------------------------//
            $('#tbl_current_cluster_details').DataTable({
               "paging":   false,
                "ordering": false,
                "info":     false,
                "searching": false,
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.childRowImmediate,
                        type: ''
                    }
                }
            });
            //---------------------------------------//
            $('#tbl_rebalance_details').DataTable({
               "paging":   false,
                "ordering": false,
                "info":     false,
                "searching": false,
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.childRowImmediate,
                        type: ''
                    }
                }
            });
            //-----------------------------------------//
            $('#buy_order_summary').DataTable({
               "paging":   false,
                "ordering": false,
                "info":     false,
                "searching": false,
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.childRowImmediate,
                        type: ''
                    }
                }
            });
            //-----------------------------------------//
        }
    });

</script>
<section>
    <div class="container-fluid">
        <div class="row">
        
        <!--/.breadcrumb-area -->
            <div class="col-md-12">
                <div class="breadcrumb_area">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/user_dashboard/">Dashboard</a></li>
                  <li class="breadcrumb-item"><a href="/portfolio/">Portfolio</a></li>
                  <li class="breadcrumb-item"><a href="/cluster_list/{{ cluster_id }}">{{ cluster_name }}</a></li>
                  <li class="breadcrumb-item active">Re-balance Order</li>
                </ol>
                </div>
            </div>
        <!--/.breadcrumb-area -->
        <!--/. body right portion area -->
            <div class="virtual_up_fixed mobile_cluster">

            <!--/. Order_area portion area -->
                <div class="body_section_area">
                    <div class="Order_area dsk_tbl">
                        <h2>Order Details</h2>
                        <ul class="Order_executive_area">
                            <li>
                                <p>Stak:</p>
                                <span>{{ cluster_name }}</span>
                            </li>
                            <li>
                                <p>Sell Date:</p>
                                <span>{{ sell_print_date }}</span>
                            </li>
                            <li>
                                <div style="width:100px; float:left;">
                                    <p>Type:</p>
                                    <span>Re-balance</span>
                                </div>
                                <div style="width:100px; float:left;">
                                    <p>Lots:</p>
                                    <span>{{ no_of_lots }}</span>
                                </div>
                            </li>
                            <li>
                                <p>Value:</p>
                                <span><strong><i class="fa fa-inr" aria-hidden="true"></i> {{ rebalance_min_investment }}</strong></span>
                            </li>
                            <li>
                                <p>Transaction Cost:</p>
                                <span><i class="fa fa-inr" aria-hidden="true"></i> {{ transaction_cost }}</span>
                            </li>
                        </ul>
                   </div>

                    <!-- Mobile Data -->
                    <div class="buy_mobile_cluster buy_cluster_mobile mobi_tbl">
                        <h2>Order Details</h2>
                        <table id="buy_order_summary"style="width:100%;">
                            <tr>
                                <td>Stak</td>
                                <td style="text-align:right;">{{ cluster_name }}</td>
                            </tr>
                            <tr>
                                <td>Buy Date</td>
                                <td style="text-align:right;">{{ sell_print_date }}</td>
                            </tr>
                            <tr>
                                <td>Type</td>
                                <td style="text-align:right;">RE-BALANCE</td>
                            </tr>
                            <tr>
                                <td>Lots</td>
                                <td style="text-align:right;">{{ no_of_unit }}</td>
                            </tr>
                            <tr>
                                <td>Value</td>
                                <td style="text-align:right;"><i class="fa fa-inr" aria-hidden="true"></i> {{ rebalance_min_investment }}</td>
                            </tr>
                            <tr>
                                <td>Transaction Cost</td>
                                <td style="text-align:right;"><i class="fa fa-inr" aria-hidden="true"></i> {{ transaction_cost }}</td>
                            </tr>
                        </table>
                   </div>

                </div>
            <!--/. Order_area portion area -->
             <!--/. Account Details portion area -->
                <div class="body_section_area" style="display:none;">
                    <div class="Order_area">
                        <h2>Account Details</h2>
                        <ul class="Order_executive_area">
                            <li>
                                <p>Current Cash Balance:</p>
                                <span><i class="fa fa-inr" aria-hidden="true"></i> {{ display_cash_available }}</span>
                            </li>
                            <li>
                                <p>Expected Cash Flow:</p>
                                <span><i class="fa fa-inr" aria-hidden="true"></i> {{ expected_cash_flow }}</span>
                            </li>
                            <li>
                                <p>Transaction Cost:</p>
                                <span><i class="fa fa-inr" aria-hidden="true"></i> {{ transaction_cost }}</span>
                            </li>
                            <li>
                                <p>Final Balance:</p>
                                <span><i class="fa fa-inr" aria-hidden="true"></i> {{ final_balance }}</span>
                            </li>
                        </ul>
                   </div>
                </div>
            <!--/. Account Details portion area -->
            </div>
         <!--/. body right portion area -->
        <!--/. body left portion area -->
            <div class="virtual_down_fixed">
            
                <div class="body_section_area">

                    <!-- current cluster stock details -->
                    <div class="overview_details dsk_tbl">
                        <h1>Current Stak Details</h1>
                        <div class="virtual_listing_area">

                            <div class="virtual_listing_view_area">
                                <table class="table-responsive">
                                    <thead>
                                        <tr>
                                            <th>STOCK NAME</th>
                                            <th>EXCHANGE</th>
                                            <th>SYMBOL</th>
                                            <th>SHARES</th>
                                            <th>PRICE</th>
                                            <th>VALUES</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% if cluster_status %}
                                            {% for cluster in cluster_status %}
                                                {% if cluster.no_of_share > 0 %}
                                            <tr class="tr-virtual">
                                                <td class="co-code" co-code="{{ cluster.co_code }}"><a href="/stock_details/{{ cluster.co_code }}/{{ cluster_id }}">{{ cluster.co_name }}</a></td>
                                                <td >{{ cluster.exchange }}</td>
                                                <td >{{ cluster.symbol }}</td>
                                                <td class="no-of-share">{{ cluster.no_of_share|floatformat:0 }}</td>
                                                <td class="price" data-price="{{ cluster.unit_price }}"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ cluster.unit_price|floatformat:2 }}</td>
                                                <td class="value" data-value="{{ cluster.value }}"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ cluster.value|floatformat:2}}</td>

                                            </tr>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>


                    <!-- DATA TABLE Start for Current Cluster Details -->

                    <div class="overview_details mobi_tbl">
                        <h1 style="font-size:15px; color:#666666;">Current Stak Details</h1>
                        <div class="virtual_listing_area">

                            <div class="buy_mobile_cluster mobi_tbl">
                                <table class="buy_order_mobi_tbl" id="tbl_current_cluster_details"style="width:100%;">
                                    <thead>
                                        <th style="font-size: 11px; padding-bottom:0px;">STOCK</th>
                                        <th style="font-size: 11px; padding-bottom:0px;">SHARES</th>
                                        <th style="text-align:right; padding-left: 1px;font-size: 11px;">
                                            PRICE(<span class="rss"><i class="fa fa-inr" aria-hidden="true" style="font-size: 11px; "></i></span>)</th>
                                        <th style="text-align:right; padding-left: 1px; font-size: 11px;">
                                            VALUE(<span class="rss"><i class="fa fa-inr" aria-hidden="true" style="font-size: 11px; "></i></span>)</th>
                                    </thead>

                                    <tbody>
                                        {% if cluster_status %}
                                            {% for cluster in cluster_status %}
                                                {% if cluster.no_of_share > 0 %}
                                            <tr>
                                                <td><a href="/stock_details/{{ cluster.co_code }}/{{ cluster_id }}">{{ cluster.co_name }}</a></td>
                                                <td style="text-align:center;">{{ cluster.no_of_share|floatformat:0 }}</td>
                                                <td style="text-align:right;">{{ cluster.unit_price|floatformat:2 }}</td>
                                                <td style="text-align:right;">{{ cluster.value|floatformat:2}}</td>
                                            </tr>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Data Table End -->


                    <!-- previous cluster stock details -->
                    <div class="overview_details dsk_tbl">
                        <h1>Previous Stak Details</h1>

                        <div class="virtual_listing_area">

                            <div class="virtual_listing_view_area">
                                <table class="table-responsive">
                                    <thead>
                                        <tr>
                                            <th>STOCK NAME</th>
                                            <th>EXCHANGE</th>
                                            <th>SYMBOL</th>
                                            <th>SHARES</th>
                                            <th>PRICE</th>
                                            <th>VALUE</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% if clusterlog_status %}
                                            {% for clusterlog in clusterlog_status %}
                                                {% if clusterlog.no_of_share > 0 %}
                                            <tr class="tr-virtual">
                                                <td class="co-code" co-code="{{ clusterlog.co_code }}"><a href="/stock_details/{{ clusterlog.co_code }}/{{ cluster_id }}">{{ clusterlog.co_name }}</a></td>
                                                <td>{{ clusterlog.exchange }}</td>
                                                <td>{{ clusterlog.symbol }}</td>
                                                <td class="no-of-share">{{ clusterlog.no_of_share|floatformat:0 }}</td>
                                                <td class="price" data-price="{{ clusterlog.unit_price }}"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ clusterlog.unit_price|floatformat:2 }}</td>
                                                <td class="value" data-value="{{ clusterlog.value }}"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ clusterlog.value|floatformat:2}}</td>
                                            </tr>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- DATA TABLE STARTS for Previous Cluster Details -->
                    <div class="overview_details mobi_tbl">
                        <h1 style="font-size:15px; color:#666666;">Previous Stak Details</h1>

                        <div class="virtual_listing_area">

                            <div class="buy_mobile_cluster mobi_tbl">
                                <table class="buy_order_mobi_tbl" id="tbl_previous_cluster_details"style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>STOCK NAME</th>
                                            <th style="text-align:center;">SHARES</th>
                                            <th style="text-align:right;">PRICE</th>
                                            <th style="text-align:right;">VALUE</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% if clusterlog_status %}
                                            {% for clusterlog in clusterlog_status %}
                                                {% if clusterlog.no_of_share > 0 %}
                                            <tr>
                                                <td><a href="/stock_details/{{ clusterlog.co_code }}/{{ cluster_id }}">{{ clusterlog.co_name }}</a></td>
                                                <td style="text-align:center;">{{ clusterlog.no_of_share|floatformat:0 }}</td>
                                                <td style="text-align:right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ clusterlog.unit_price|floatformat:2 }}</td>
                                                <td style="text-align:right;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ clusterlog.value|floatformat:2}}</td>
                                            </tr>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                    <!-- DATA TABLE END -->

                    <!-- list of stocks to sell -->
                    <div class="overview_details">
                        <h1 class="dsk_tbl">Re-balance Details</h1>
                        <h1 class="mobi_tbl" style="font-size:15px; color:#666666;">Re-balance Details</h1>

                        <div class="virtual_listing_area">

                            <div class="virtual_listing_view_area">
                                <div class="dsk_tbl">
                                <table class="table-responsive dsk_tbl">
                                    <thead>
                                        <tr>
                                            <th>STOCK NAME</th>
                                            <th>EXCHANGE</th>
                                            <th>SYMBOL</th>
                                            <!--<th>ORDER</th>-->
                                            <th>SHARES</th>
                                            <th>ORDER</th>
                                            <th>PRICE</th>
                                            <th>VALUE</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% if sell_cluster_data %}
                                            {% for sell_data in sell_cluster_data %}
                                                {% if sell_data.no_share > 0 %}
                                            <tr class="tr-virtual">
                                                <td class="co-code" sell-co-code="{{ sell_data.co_code }}"><a href="/stock_details/{{ sell_data.co_code }}/{{ cluster_id }}">{{ sell_data.co_name }}</a></td>
                                                <td>{{ sell_data.exchange }}</td>
                                                <td>{{ sell_data.symbol }}</td>
                                                <!--<td>SELL</td>-->
                                                <td class="no-of-share">{{ sell_data.no_share|floatformat:0 }}</td>
                                                <td>SELL</td>
                                                <td class="price" data-sell-price="{{ sell_data.unit_price }}"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ sell_data.unit_price|floatformat:2 }}</td>
                                                <td class="value" data-sell-value="{{ sell_data.amount }}"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ sell_data.amount|floatformat:2}}</td>

                                            </tr>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                        {% if buy_cluster_data %}
                                            {% for buy_data in buy_cluster_data %}
                                                {% if buy_data.no_share > 0 %}
                                            <tr class="tr-virtual">
                                                <td class="co-code" buy-co-code="{{ buy_data.co_code }}"><a href="/stock_details/{{ buy_data.co_code }}/{{ cluster_id }}">{{ buy_data.co_name }}</a></td>
                                                <td >{{ buy_data.exchange }}</td>
                                                <td >{{ buy_data.symbol }}</td>
                                                <!--<td >BUY</td>-->
                                                <td class="no-of-share">{{ buy_data.no_share|floatformat:0 }}</td>
                                                <td>BUY</td>
                                                <td class="price" data-buy-price="{{ buy_data.unit_price }}"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ buy_data.unit_price|floatformat:2 }}</td>
                                                <td class="value" data-buy-value="{{ buy_data.amount }}"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ buy_data.amount|floatformat:2}}</td>

                                            </tr>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                                </div>

                                <!-- DATA TABLE STARTS -->
                                <div class="buy_mobile_cluster mobi_tbl">
                                <table class="buy_order_mobi_tbl mobi_tbl" id="tbl_rebalance_details">
                                    <thead>
                                        <tr>
                                            <th>STOCK NAME</th>
                                            <th style="text-align:center;">ORDER</th>
                                            <th style="text-align:rcenter;">SHARES</th>
                                            <th style="text-align:left;">VALUE</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% if sell_cluster_data %}
                                            {% for sell_data in sell_cluster_data %}
                                                {% if sell_data.no_share > 0 %}
                                            <tr>
                                                <td><a href="/stock_details/{{ sell_data.co_code }}/{{ cluster_id }}">{{ sell_data.co_name }}</a></td>
                                                <td style="text-align:center;">SELL</td>
                                                <td style="text-align:center;">{{ sell_data.no_share|floatformat:0 }}</td>
                                                <td style="text-align:left;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ sell_data.amount|floatformat:2}}</td>
                                            </tr>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                        {% if buy_cluster_data %}
                                            {% for buy_data in buy_cluster_data %}
                                                {% if buy_data.no_share > 0 %}
                                            <tr>
                                                <td><a href="/stock_details/{{ buy_data.co_code }}/{{ cluster_id }}">{{ buy_data.co_name }}</a></td>
                                                <td style="text-align:center;">BUY</td>
                                                <td style="text-align:center;">{{ buy_data.no_share|floatformat:0 }}</td>
                                                <td style="text-align:left;"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ buy_data.amount|floatformat:2}}</td>
                                            </tr>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                                </div>
                                <!-- DATA TABLE ENDS -->

                                <!-- -->
                                <form name="frmPostDetails" id="frmPostDetails" method="post" action="/rebalance_cluster/{{ order_id }}" >{% csrf_token %}
                                    <input type="hidden" name="minimum_investment_amount" id="minimum_investment_amount" value="{{ rebalance_min_investment }}">
                                    <input type="hidden" name="cluster_id" id="cluster_id" value="{{ cluster_id }}" />
                                    <input type="hidden" name="order_id" id="order_id" value="{{ order_id }}" />
                                    <input type="hidden" name="user_id" id="user_id" value="{{ request.session.id }}" />

                                    <div class="col-md-7 dsk_tbl"><div class="row dsk_tbl">
                                        <div class="form-group dsk_tbl">
                                            <div class="col-md-4 col-xs-12"><label for="s1">No. of Lots: </label> {{ no_of_lots }}</div>
                                            <div class="col-md-4 col-xs-12"><label for="s2">Total Sell Amount: </label> <i class="fa fa-inr" aria-hidden="true"></i> {{ total_sell_amount|floatformat:2 }}</div>
                                            <div class="col-md-4 col-xs-12"><label for="s3">Total Buy Amount: </label> <i class="fa fa-inr" aria-hidden="true"></i> {{ total_buy_amount|floatformat:2 }}</div>
                                        </div>
                                    </div></div>

                                    <div class="col-md-7 mobi_tbl"><div class="row mobi_tbl">
                                        <div class="form-group mobi_tbl">
                                            <div class="col-md-4 col-xs-12"><label for="s1" style="font-size:14px;">No. of Lots: </label> {{ no_of_lots }}</div>
                                            <div class="col-md-4 col-xs-12"><label for="s2" style="font-size:14px;">Total Sell Amount: </label> <i class="fa fa-inr" aria-hidden="true"></i> {{ total_sell_amount|floatformat:2 }}</div>
                                            <div class="col-md-4 col-xs-12"><label for="s3" style="font-size:14px;">Total Buy Amount: </label> <i class="fa fa-inr" aria-hidden="true"></i> {{ total_buy_amount|floatformat:2 }}</div>
                                        </div>
                                    </div></div>

                                    <div class="col-md-2 col-xs-12 pull-right" id="butn_submit_div">
                                        <button class="btn mysubmit_btn2" type="button" id="btnSubmit">Re-balance Order</button>
                                    </div>
                                    <div class="col-md-2 col-xs-12 pull-right" style="display:none;" id="butn_no_submit_div" >
                                        <button class="btn mysubmit_btn2" type="button" id="btnNoSubmit" style="background: #2486c8 none repeat scroll 0 0; opacity:1;" disabled="disabled">Re-balance Order</button>
                                    </div>


                                    <input type="hidden" name="cluster_id" id="cluster_id" value="{{ cluster_id }}" />
                                    <input type="hidden" name="order_id" id="order_id" value="{{ order_id }}" />
                                    <input type="hidden" name="order_buy_id" id="order_buy_id" value="{{ order_buy_id }}" />
                                </form>
                                <!-- -->

                            </div>
                        </div>
                    </div>
                    <!-- -->
                </div>
            </div>
         <!--/. body left portion area -->
        </div>
    
    </div>
</section>
{% include 'inner_footer.html' %}
<style>
/* .mobile_rebalance_details tbody tr{ background: #fff; padding: 5px; font-size: 12px;}
    .mobile_rebalance_details tbody th, .mobile_rebalance_details tbody td{ padding: 1px;/* padding:4px 3px 4px 0px;*/ font-size: 12px; border-bottom: 1px solid #999999; /*background-color: #f6f6f6;*/}
    .mobile_rebalance_details thead th{ padding: 1px;/* padding:4px 3px 4px 0px;*/ font-size: 11px; border-bottom: 1px solid #dddddd; /*background-color: #f6f6f6;*/}
    .mobile_rebalance_details tbody td a{ padding: 1px; color: #2486c8; font-size: 12px; font-weight: 500; /*padding:0px 5px;*/}
</style>