{% include 'inner_header.html' %}
{% load staticfiles %}
<script src='{% static "admin/js/jquery.blockUI.js" %}'></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">

<link href="{% static "investak/dist/css/responsive.dataTables.css" %}" rel="stylesheet" type="text/css">
<script type="text/javascript">
var site_url = 0;
$(document).ready(function(e){
    if($(window).width()<768) {

        $('#tbl_buy_cluster_details').DataTable({
           "paging":   false,
            "ordering": false,
            "info":     false,
            "searching": false,
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate,
                    type: ''
                }
            }
        });

        $('#buy_order_summary').DataTable({
           "paging":   false,
            "ordering": false,
            "info":     false,
            "searching": false,
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate,
                    type: ''
                }
            }
        });
    }

    /*$("#no_of_unit").blur(function(e){
        var value = $("#no_of_unit").val();
        $("#butn_submit_div").hide();
        $("#butn_no_submit_div").show();
        if(value)
        {
            $("#frmPostDetails").submit();
        }
    });*/



    submit_sell_share_unit_onkey();

});

</script>
<script>
function submit_sell_share_unit_onkey()
{
    var value = $("#no_of_unit").val();
    value = parseInt(value);
    var lots = $("#lots_available").val();
    lots = parseInt(lots);
    if((value <= 0) || (value > lots))
    {
        $("#no_of_unit").val('');
        //alert("Please enter valid lots");
        $("#invalid_lots_submit_div").show();
        $("#butn_submit_div").hide();
        $("#butn_no_submit_div").show();
        return false;
    }
    $(document).keypress(function(event){
        //alert('test');
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if(keycode == '13'){
            submit_sell_share_unit();
        }
    });
}
function submit_sell_share_unit()
{
    var value = $("#no_of_unit").val();
    value = parseInt(value);
    var lots = $("#lots_available").val();
    lots = parseInt(lots);
    if((value <= 0) || (value > lots))
    {
        $("#no_of_unit").val('');
        //alert("Please enter valid lots");
        $("#invalid_lots_submit_div").show();
        $("#butn_submit_div").hide();
        $("#butn_no_submit_div").show();
        return false;
    }
    else
    {
        $("#frmPostDetails").submit();
    }
}
function validate_lots(value)
{
    //alert('lots'+value);
    value = parseInt(value);
    var lots = $("#lots_available").val();
    lots = parseInt(lots);
    if((value <= 0) || (value > lots))
    {
        $("#no_of_unit").val('');
        //alert("Please enter valid lots");
        $("#invalid_lots_submit_div").show();
        return false;
    }
}
function hide_error(id)
{
    $("#"+id).hide();
}
//-------------- Common Function -------------//
//Function for alpha-numeric|numeric check
function keyRestrict(e, validchars) {
     var key='', keychar='';
     key = getKeyCode(e);
     if (key == null) return true;
     keychar = String.fromCharCode(key);
     keychar = keychar.toLowerCase();
     validchars = validchars.toLowerCase();
     if (validchars.indexOf(keychar) != -1)
      return true;
     if ( key==null || key==0 || key==8 || key==9 || key==13 || key==27 )
      return true;
     return false;
}
function getKeyCode(e) {
     if (window.event)
        return window.event.keyCode;
     else if (e)
        return e.which;
     else
        return null;
}
function trim(s)
{
    while(s.substring(0,1) == ' ')  {
        s = s.substring(1,s.length);    }
    while(s.substring(s.length-1,s.length) == ' ')  {
        s = s.substring(0,s.length-1);  }
    return s;
}
</script>

<section>
    <div class="container-fluid">
        <div class="row">
        
        <!--/.breadcrumb-area -->
            <div class="col-md-12">
                <div class="breadcrumb_area">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/user_dashboard/">Dashboard</a></li>
                  <li class="breadcrumb-item"><a href="/portfolio/">Portfolio</a></li>
                  <li class="breadcrumb-item"><a href="/cluster_list/{{ cluster_id }}">{{ cluster_name }}</a></li>
                  <li class="breadcrumb-item active">Virtual Sell Order</li>
                </ol>
                </div>
            </div>
        <!--/.breadcrumb-area -->
        <!--/. body right portion area -->
            <div class="virtual_up_fixed mobile_cluster">

            <!--/. Order_area portion area -->
                <div class="body_section_area">
                    <div class="Order_area dsk_tbl">
                        <h2>Order Details</h2>
                        <ul class="Order_executive_area">
                            <li>
                                <p>Stak:</p>
                                <span>{{ cluster_name }}</span>
                            </li>
                            <li>
                                <p>Sell Date:</p>
                                <span>{{ sell_print_date }}</span>
                            </li>
                            <li>
                                <div style="width:100px; float:left;">
                                    <p>Type:</p>
                                    <span>Sell</span>
                                </div>
                                <div style="width:100px; float:left;">
                                    <p>Lots:</p>
                                    <span>{{ no_of_unit }}</span>
                                </div>
                            </li>
                            <li>
                                <p>Value:</p>
                                <span><strong><i class="fa fa-inr" aria-hidden="true"></i> {{ display_minimum_investment }}</strong></span>
                            </li>
                            <!--li>
                                <p>Transaction Cost:</p>
                                <span><i class="fa fa-inr" aria-hidden="true"></i> {{ transaction_cost }}</span>
                            </li--> 
                            <li>
                                <p>Available Lots:</p>
                                <span><strong>{{ lots_available }}</strong></span>
                            </li>
                        </ul>
                    </div>

                    <!-- Mobile Data -->
                    <div class="buy_mobile_cluster buy_cluster_mobile mobi_tbl">
                        <h2>Order Details</h2>
                        <table id="buy_order_summary"style="width:100%;">
                            <tr>
                                <td>Stak</td>
                                <td style="text-align:right;">{{ cluster_name }}</td>
                            </tr>
                            <tr>
                                <td>Sell Date</td>
                                <td style="text-align:right;">{{ sell_print_date }}</td>
                            </tr>
                            <tr>
                                <td>Type</td>
                                <td style="text-align:right;">SELL</td>
                            </tr>
                            <tr>
                                <td>Lots</td>
                                <td style="text-align:right;">{{ no_of_unit }}</td>
                            </tr>
                            <tr>
                                <td>Value</td>
                                <td style="text-align:right;"><i class="fa fa-inr" aria-hidden="true"></i> {{ display_minimum_investment }}</td>
                            </tr>
                            <!--tr>
                                <td>Transaction Cost</td>
                                <td style="text-align:right;"><i class="fa fa-inr" aria-hidden="true"></i> {{ transaction_cost }}</td>
                            </tr-->
                            <tr>
                                <td>Available Lots</td>
                                <td style="text-align:right;">{{ lots_available }}</td>
                            </tr>
                        </table>
                   </div>

                </div>
            <!--/. Order_area portion area -->
             <!--/. Account Details portion area -->
                <div class="body_section_area" style="display: none;">
                    <div class="Order_area">
                        <h2>Account Details</h2>
                        <ul class="Order_executive_area">
                            <li>
                                <p>Current Cash Balance:</p>
                                <span><i class="fa fa-inr" aria-hidden="true"></i> {{ display_cash_available }}</span>
                            </li>
                            <li>
                                <p>Expected Cash Flow:</p>
                                <span><i class="fa fa-inr" aria-hidden="true"></i> {{ expected_cash_flow }}</span>
                            </li>
                            <!--li>
                                <p>Transaction Cost:</p>
                                <span><i class="fa fa-inr" aria-hidden="true"></i> {{ transaction_cost }}</span>
                            </li-->
                            <li>
                                <p>Final Balance:</p>
                                <span><i class="fa fa-inr" aria-hidden="true"></i> {{ final_balance }}</span>
                            </li>
                        </ul>
                   </div>
                </div>
            <!--/. Account Details portion area -->
            </div>
         <!--/. body right portion area -->
        <!--/. body left portion area -->
            <div class="virtual_down_fixed">
            
                <div class="body_section_area">
                    <div class="overview_details">
                        <h1 class="dsk_tbl">Virtual Sell Order</h1>
                        <h1 class="mobi_tbl" style="font-size:15px; color:#666666;">Virtual Sell Order</h1>
                        <div class="virtual_listing_area">
                        
                            <div class="virtual_listing_view_area">
                                <div class="dsk_tbl">
                                <table class="table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Stock Name</th>
                                            <th>Exchange</th>
                                            <th>Symbol</th>
                                            <th>Order</th>
                                            <th>Shares</th>
                                            <th>Unit Price</th>
                                            <th>Value</th>
                                            <th>Proposed Allocation<div class="questios"><span><i class="fa fa-question" aria-hidden="true"></i></span>
                                            <div class="despQust">
                                            <!--<h4>Heading</h4>-->
                                            This is the allocation as proposed. Since shares can only be bought in integers, there will be a slight difference in the proposed allocation and final allocation.
                                            </div>
                                            </div></th>
                                            <th>Final<br> Allocation<div class="questios"><span><i class="fa fa-question" aria-hidden="true"></i></span>
                                            <div class="despQust">
                                            <!--<h4>Heading</h4>-->
                                            This is the final allocation as calculated when taking into account that the shares are being bought/sold in integers. This represents the final allocation of weights to each stock.
                                            </div>
                                            </div></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if sell_order_list %}
                                            {% for item in sell_order_list %}
                                            <tr class="tr-virtual">
                                                <td style="width:20%;" class="co-code" co-code="{{ item.0.co_code }}"><a href="/stock_details/{{ item.0.co_code }}/{{ cluster_id }}">{{ item.0.co_name }}</a></td>
                                                <td style="width:5%;">{{ item.0.exchange }}</td>
                                                <td style="width:15%;">{{ item.0.symbol }}</td>
                                                <td style="width:10%;">Sell</td>
                                                <td style="width:10%;" class="no-of-share">{{ item.0.no_of_share|floatformat:0 }}</td>
                                                <td style="width:10%;" class="price" data-price="{{ item.0.value_since_share_fraction }}"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ item.0.value_since_share_fraction|floatformat:2 }}</td>
                                                <td style="width:10%;" class="value" data-value="{{ item.0.value }}"><span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>{{ item.0.value|floatformat:2}}</td>
                                                <td style="width:10%;" class="old-weigh" data-old-weight="{{ item.0.old_weightage|floatformat:2 }}">{{ item.0.old_weightage|floatformat:2 }}%</td>
                                                <td style="width:10%;" class="new-weigh" data-new-weight="{{ item.1.new_weigh_value|floatformat:2 }}">{{ item.1.new_weigh_value|floatformat:2 }}%</td>
                                            </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                                </div>

                                <!--Mobile Data-->
                                <div class="buy_mobile_cluster mobi_tbl">
                                <table class="buy_order_mobi_tbl mobi_tbl" id="tbl_buy_cluster_details">
                                    <thead>
                                        <th style="font-size: 11px; padding-bottom:0px; width:30%;">STOCK</th>
                                        <th style="font-size: 11px; padding-bottom:0px; width:20%;">SHARES</th>
                                        <th style="text-align:right; font-size: 11px; padding:2px 0px; width:24%;">UNIT PRICE(<span class="rss"><i class="fa fa-inr" aria-hidden="true" style="font-size: 10px; "></i></span>)</th>
                                        <th style="text-align:right; font-size: 11px; padding:2px 0px;  width:24%;">VALUE(<span class="rss"><i class="fa fa-inr" aria-hidden="true" style="font-size: 10px; "></i></span>)</th>
                                    </thead>
                                    <tbody>
                                    {% if sell_order_list %}
                                        {% for item in sell_order_list %}
                                            {% if item.0.no_of_share > 0 %}

                                            <tr>
                                                <td><a href="/stock_details/{{ item.0.co_code }}/{{ cluster_id }}">{{ item.0.co_name }}</a></td>
                                                <td style="text-align:center;">{{ item.0.no_of_share|floatformat:0 }}</td>
                                                <td style="text-align:right;">{{ item.0.value_since_share_fraction|floatformat:2}}</td>
                                                <td style="text-align:right;">{{ item.0.value|floatformat:2}}</td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                                </div>

                                <form name="frmPostDetails" id="frmPostDetails" method="post" action="/sell_cluster/{{ order_buy_id }}" >{% csrf_token %}
                                <input type="hidden" name="minimum_investment_amount" id="minimum_investment_amount" value="{{ minimum_investment }}">
                                <input type="hidden" name="transaction_cost" id="transaction_cost" value="{{ transaction_cost }}">
                                <input type="hidden" name="cluster_id" id="cluster_id" value="{{ cluster_id }}" />
                                <input type="hidden" name="order_id" id="order_id" value="{{ order_id }}" />
                                <input type="hidden" name="order_buy_id" id="order_buy_id" value="{{ order_buy_id }}" />
                                <input type="hidden" name="order_hold_id" id="order_hold_id" value="{{ order_hold_id }}" />
                                <input type="hidden" name="user_id" id="user_id" value="{{ request.session.id }}" />
                                <input type="hidden" name="lots_available" id="lots_available" value="{{ lots_available }}" />

                                <!-- Lots Input -->
                                <div class="col-md-2 col-xs-12 pull-left">
                                    <div id="dropdown-menu">
                                        <div class="form-group">
                                            <label >Select Lots</label>
                                            <input type="text" id="no_of_unit" name="no_of_unit" value="{{ no_of_unit }}" style="width:70px;" onkeypress='hide_error("invalid_lots_submit_div"); return keyRestrict(event, "1234567890")'; onkeyup="validate_lots(this.value);" />
                                            <input type="button" name="lots_input_butn" id="lots_input_butn" class="btn mysubmit_btn2" value="Go" style="width:35px;  margin-top:0px; padding:2px;" onclick="submit_sell_share_unit();">
                                        </div>
                                    </div>
                                </div>

                                <!-- Sell Order -->
                                <div class="col-md-2 col-xs-12 pull-right" id="butn_submit_div">
<!--                                   
                                    <button type="button" class="btn mysubmit_btn2" data-toggle="modal"  -->
                                        <button class="btn mysubmit_btn2" type="button" id="btnSubmit" >Sell Order</button>
                                    
                                </div>

                                <div class="col-md-2 col-xs-12 pull-right" style="display:none;" id="butn_no_submit_div" >
                                    <button class="btn mysubmit_btn2" type="button" id="btnNoSubmit" style="background: #2486c8 none repeat scroll 0 0; opacity:1;" disabled="disabled" >Sell Order</button>
                                </div>

                                <!-- Error Message -->
                                <div class="col-md-5 pull-right" style="margin-top:50px; color:#ed5d09; font-weight:600; display:none;" id="invalid_lots_submit_div" onclick="hide_error(this.id);">
                                    PLEASE SELECT VALID LOTS. AVAILABLE LOT IS {{ lots_available }}.
                                </div>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         <!--/. body left portion area -->
        </div>
    </div>
</section>
<script type="text/javascript">
    document.getElementById('btnSubmit').addEventListener('click',function(event){
        var order_id = $("#order_id").val();
        var order_buy_id = $("#order_buy_id").val();
        var order_hold_id = $("#order_hold_id").val();
        var cluster_id = $("#cluster_id").val();
        var user_id = $("#user_id").val();
        var no_of_unit = $("#no_of_unit").val();
        var minimum_investment_amount = $("#minimum_investment_amount").val();
        var transaction_cost = $("#transaction_cost").val();

        $("#butn_submit_div").hide();
        $("#butn_no_submit_div").show();

        if(order_id && cluster_id && user_id && no_of_unit && minimum_investment_amount)
        {

            $.ajax({
               type:"POST",
               url:"/frontend/sell_virtual_order/",
               async:false,
               data:{
                    order_id:order_id,
                    order_buy_id:order_buy_id,
                    order_hold_id:order_hold_id,
                    cluster_id:cluster_id,
                    user_id:user_id,
                    no_of_unit:no_of_unit,
                    minimum_investment_amount:minimum_investment_amount,
                    transaction_cost : transaction_cost,
                    csrfmiddlewaretoken:'{{ csrf_token }}'
               },
               beforeSend:function() {//alert('eeeeeeeeeeeeeeeeeeeeeeeee');
                   //$.blockUI({ message: 'Please Wait...' });
               },
               success:function(response) {//alert('aaaaaaaaaaaaaaaaaaa'+response);
                   if(response) {
                       site_url = 1;
                       //$.unblockUI();
                   }
                   else {//alert('bbbbbbbbbbbbbbbbb');
                       //$.blockUI({ message: 'There is something wrong while placing order' });
                       //$.unblockUI();
                   }
               },
               error:function(xhr) {//alert('ccccccccccccccccc'+xhr);
                   //$.blockUI({ message: 'There is something wrong while placing order' });
                   //$.unblockUI();
               }
            });
        }
       // e.preventDefault();
        event.preventDefault();
        //alert('site_url'+site_url);
        if(site_url > 0)
        {
            window.location.href="/portfolio/your_orders/";

        }
        else
        {
            $("#butn_submit_div").show();
        }
});
</script>
<div id="pymModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Pay 1% of your profit</h4>
      </div>
      <div class="modal-body">
        <form id="pym_form" method="get" action="/payumoney/">
            <input type="hidden" name="pym_vtd_id" id="pym_vtd_id" value="{{ vti_id }}"/>
                  {% csrf_token %}
  <div class="form-group">

    <label for="pym_email">Email address:</label>
    <input type="email" class="form-control" id="pym_email"  name="pym_email" value="{{ LgnUserDetailsList.0.email_id }}">
    <div id="pym_email_error" style="color: red"></div>
  </div>
  <div class="form-group">
    <label for="pym_name">Name</label>
    <input type="text" class="form-control" required="true" id="pym_name" name="pym_name" value="{{ LgnUserDetailsList.0.full_name }}"><div id="pym_name_error" style="color: red"></div>
  </div>
   <div class="form-group">
    <label for="pym_phone">Phone</label>
    <input type="text" class="form-control" id="pym_phone" name="pym_phone" value="{{LgnUserDetailsList.0.phone}}">
    <div id="pym_phone_error" style="color: red"></div>
  </div>
         <div class="form-group">
    <label for="pym_price">Price</label>
    <input type="text" class="form-control" id="pym_price1" name="pym_price1" disabled="disabled" value="{{ topay }}">
             <input type="hidden"  id="pym_price" name="pym_price"  value="{{ topay }}">
  </div>


</form>
          <div style="display: none">
    <form  method="post" id="payuForm" name="payuForm">{% csrf_token %}
      <input type="hidden" name="key" value="{{ MERCHANT_KEY }}" />
      <input type="hidden" name="hash_string" value="{{ hash_string }}" />
      <input type="hidden" name="hash" value="{{ hashh }}"/>
       <input type="hidden" name="posted" value="{{ posted }}"/>
      <input type="hidden" name="txnid" value="{{ txnid }}" />
      <table>
        <tr>
          <td><b>Mandatory Parameters</b></td>
        </tr>
        <tr>
         <td>Amount: </td>
          <td><input type="hidden" name="amount" value="{{ posted.amount|default:'' }}" /></td>
          <td>First Name: </td>
          <td><input type="hidden" name="firstname" id="firstname" value="{{ posted.firstname|default:'' }}" /></td>
        </tr>
        <tr>
          <td>Email: </td>
          <td><input type="hidden" name="email" id="email" value="{{ posted.email|default:'' }}" /></td>
          <td>Phone: </td>
          <td><input type="hidden" name="phone" value="{{ posted.phone|default:'' }}" /></td>
        </tr>
        <tr>
          <td>Product Info: </td>
          <td colspan="3"><input type="hidden" name="productinfo" value=""></input></td>
        </tr>
        <tr>
          <td>Success URI: </td>
          <td colspan="3"><input type="hidden" name="surl" value="http://localhost:8000/Success/" size="64" /></td>
        </tr>
        <tr>
          <td>Failure URI: </td>
          <td colspan="3"><input type="hidden" name="furl" value="http://localhost:8000/Failure/" size="64" /></td>
        </tr>

        <tr>
          <td colspan="3"><input type="hidden" type="hidden" name="service_provider" value="payu_paisa" size="64" /></td>
        </tr>
             <tr>
          <td><b>Optional Parameters</b></td>
        </tr>
        <tr>
          <td>Last Name: </td>
          <td><input name="lastname" id="lastname" value="{{ posted.lastname }}" /></td>
          <td>Cancel URI: </td>
          <td><input type="hidden" name="curl" value="" /></td>
        </tr>
        <tr>
          <td>Address1: </td>
          <td><input type="hidden" name="address1" value="{{ posted.address1 }}" /></td>
          <td>Address2: </td>
          <td><input type="hidden" name="address2" value="{{ posted.address2 }}" /></td>
        </tr>
        <tr>
          <td>City: </td>
          <td><input type="hidden" name="city" value="{{ posted.city }}" /></td>
          <td>State: </td>
          <td><input  type="hidden" name="state" value="{{ posted.state }}" /></td>
        </tr>
        <tr>
          <td>Country: </td>
          <td><input  type="hidden" name="country" value="{{ posted.country }}" /></td>
          <td>Zipcode: </td>
          <td><input type="hidden" name="zipcode" value="{{ posted.zipcode }}" /></td>
        </tr>
        <tr>
          <td>UDF1: </td>
          <td><input type="hidden" name="udf1" value="{{ posted.udf1 }}" /></td>
          <td>UDF2: </td>
          <td><input type="hidden" name="udf2" value="{{ posted.udf2 }}" /></td>
        </tr>
        <tr>
          <td>UDF3: </td>
          <td><input type="hidden" name="udf3" value="{{ posted.udf3 }}" /></td>
          <td>UDF4: </td>
          <td><input type="hidden" name="udf4" value="{{ posted.udf4 }}" /></td>
        </tr>
        <tr>
          <td>UDF5: </td>
          <td><input type="hidden" name="udf5" value="{{ posted.udf5 }}" /></td>
          <td>PG: </td>
          <td><input type="hidden" name="pg" value="{{ posted.PG }}" /></td>
        </tr>

     <td colspan="4"></td>


        </tr>
      </table>
    </form>
</div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" onclick="payu_ajax();">Okay</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script type="application/javascript">
    function payu_ajax(){

        var name=document.getElementsByName("pym_name")[0].value;
        var email=document.getElementsByName("pym_email")[0].value;
        var phone=document.getElementsByName("pym_phone")[0].value;
        var amount=document.getElementsByName("pym_price")[0].value;
        if(name=="")
        {
                document.getElementById("pym_name_error").innerText="*Name is mandatory"
        }
        else if(email=="")
        {
                document.getElementById("pym_email_error").innerText="*Email is mandatory"
        }
        else if(phone=="")
        {
                document.getElementById("pym_phone_error").innerText="*Phone is mandatory"
        }
        else{
            var vti_id=document.getElementsByName("pym_vtd_id")[0].value;
            var no_of_unit = $("#no_of_unit").val();
            var minimum_investment_amount = $("#minimum_investment_amount").val();
            var transaction_cost = $("#transaction_cost").val();
            $.ajax({type:"POST",url:"/payumoney/",data:{csrfmiddlewaretoken:'{{ csrf_token }}',
                    transaction_cost:transaction_cost,no_of_unit:no_of_unit,minimum_investment_amount:minimum_investment_amount
                ,amount:amount,name:name,phone:phone,amount:amount,vti_id:vti_id,email:email},
            success:function (response) {
                console.log(response);
                console.log(response[0].MERCHANT_KEY);
                console.log(response[0].posted.email);
                var hash=document.getElementsByName("hash")[0];

                hash.value=response[0].hashh;
                for(c in response[0]){
                    $('#payuForm').attr('action', response[0].action);
                    var x=document.getElementsByName(c);
                    for (index = 0; index < x.length; ++index) {
                        x[index].value=response[0][c];
                    }
                }
                var post=document.getElementsByName("posted")[0];
                post.value=JSON.stringify(response[0].posted);
                for(p in response[0].posted){

                    var v=document.getElementsByName(p);
                    for (index = 0; index < v.length; ++index) {
                        console.log("done");
                        console.log(v[index]);
                        v[index].value=response[0].posted[p];
                    }
                    console.log(p);
                    console.log(response[0].posted[p]);
                    console.log(v);
                }
                $('#payuForm').submit();
            },error:function (error) {
                    console.error(error);
                }});
            var form =document.getElementById("pym_form");
            var elements = form.elements;
            for (var i = 0, len = elements.length; i < len; ++i) {
                elements[i].readOnly = true;
            }
    }
}
</script>
{% include 'inner_footer.html' %}