{% include 'inner_header.html' %}
{% load staticfiles %}
<style type="text/css">
    .price_performance {
        background-color: #90EE90;
    }
    .disabled {
    pointer-events:none;
    opacity:0.6;
}
</style>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="{% static "frontend/dashboard/dist/js/jquery.marquee.js" %}"></script>
<script type="text/javascript" src={% static "admin/js/jquery.blockUI.js" %}></script>
<script type="text/javascript" src="https://code.highcharts.com/stock/highstock.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script type="text/javascript">
    var chart_value = '1M';
     function performance_graph(a) {
        var e = new Array,
        t = (new Array, $.parseJSON(a));

        if(typeof t.response.data.Companylist.company.length === "undefined"){
            t.response.data.Companylist.company = [t.response.data.Companylist.company];
        }
        //console.log(t.response.data.Companylist.company);

        if (1 == t.response.hasOwnProperty("data")){
            for (var o = new Object, s = (new Object, 0); s < t.response.data.Companylist.company.length; s++) {
                var r = t.response.data.Companylist.company[s].tradedate;
                r = r.replace("AM", ""), r = r.replace("12:00:00", ""), myDate = r.split("/");
                var p = (myDate[1] + "/" + myDate[0] + "/" + myDate[2], parseFloat(t.response.data.Companylist.company[s].last_price));
                o.data = [new Date(myDate[2]+"/"+ myDate[0]+"/"+ myDate[1]).getTime(), parseFloat(p.toFixed(2))], e.push(o.data), e.sort()
            }
            /*if(t.response.data.Companylist.company.length == 1){
                e.push([1493058640000,285.4]);
                e.push([1493058610000,265.4]);
                e.push([1493058620000,385.4]);
                e.push([1493058630000,485.4]);
            }
            console.log(e);*/
            $("#performance_chart").highcharts("StockChart", {
                credits: {
                    enabled: !1
                },
                exporting: {
                    enabled: !1
                },
                rangeSelector: {
                    enabled: !1
                },
                navigator: {
                    enabled: false
                },
                scrollbar: {
                   enabled: false
                },
                chart: {
                    renderTo: "performance_chart",
                    zoomType: "x"
                },
                legend: {
                        borderColor: "#999999",
                        borderRadius: 5,
                        borderWidth: 2,
                        lineHeight: 26,
                        floating: false,
                        itemDistance: 50,
                        itemMarginTop: 10,
                        itemMarginBottom: 10,
                        symbolWidth: 30,
                        enabled: true
                    },
                xAxis: {
                    events: {
                        setExtremes: function(a) {
                            "undefined" == typeof a.min && "undefined" == typeof a.max ? console.log("reset zoom clicked") : console.log("zoom-in")
                        }
                    }
                },
                yAxis: {
                    opposite: !1,
                    allowDecimals: !1,
                    labels: {
                        formatter: function() {
                            return this.value
                        }
                    }
                },
                series: [{
                    data: e
                }]
            }, function(a) {
                a.series[0].name = "{{ symbol_array.0.co_name|safe }}", a.redraw(), $("#performance_chart").closest("img").hide()
                a.redraw();
                a.legend.render();
                load_key_stat();
            })
        }
}

function peer_company_list(a) {
    for (var e = $.parseJSON(JSON.stringify(a)), t = 0; t < e.response.data.Companylist.company.length; t++) {
        var o = e.response.data.Companylist.company[t].co_name,
            s = e.response.data.Companylist.company[t].co_code;
        $(".PeerCompany_area").append('<li><a href="/stock_details/' + s + '">' + o + "</a></li>")
    }
}

function co_code_details(a) {
   var current_price = 0.00;
    var previous_price = 0.00;
    var price_diff = 0.00;
    var per_change = 0.00;
    var e = $.parseJSON(JSON.stringify(a));
    $("#p_co_details").addClass('price_performance');
    $(".statistics_area").html(""),
    $("#p_co_details").html(""),
    $("#1m_return").html(''),
    $("#1y_return").html(''),
    $("#div_yield").html(''),
    current_price = parseFloat(e.response.data.Companylist.company.ltp).toFixed(2);
    previous_price = parseFloat(e.response.data.Companylist.company.prevclose).toFixed(2);
    price_diff = current_price - previous_price;
    per_change = parseFloat(e.response.data.Companylist.company.perchange).toFixed(2);

    var trade_date = e.response.data.Companylist.company.tradedate.split(" ");
    var present_trade_date = trade_date[0].split("/");
    var new_present_date = new Date(present_trade_date[2]+"/"+present_trade_date[0]+"/"+present_trade_date[1]);
    var current_date = new Date();
    var timeDiff = Math.abs(current_date.getTime() - new_present_date.getTime());
    var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
    var stock_time = '';
    $(".graph_area_full").find('p').remove();
    if(parseInt(diffDays) >= 30) {
        //$("#repoTabs > li").addClass("disabled");
        //$("#performance_chart").hide();
        $(".graph_area_full").parent().find("p").remove();
        $(".graph_area_full").after("<p>"+e.response.data.Companylist.company.lname+" is not traded on "+select_type+" in the last 30 days</p>");
    }
    //else{
        $("#repoTabs > li").removeClass("disabled");
        $("#performance_chart").show();
        $(".graph_area_full").find('p').remove();
    //}
    var trade_time = trade_date[1].split(":");
    if(trade_time[0] == "EOD") {
        stock_time = '';
    }
    else {
        stock_time = trade_time[0]+":"+trade_time[1]+trade_date[2] + " IST";
    }
    var monthNames = ["Jan", "Feb", "March", "Apr", "May", "June",
        "July", "Aug", "Sept", "Oct", "Nov", "Dec"
    ];
    var x=Math.round(parseFloat(e.response.data.Companylist.company.mcap),1);
    x=x.toString();
    var lastThree = x.substring(x.length-3);
    var otherNumbers = x.substring(0,x.length-3);
    if(otherNumbers != '')
        lastThree = ',' + lastThree;
    var market_cap = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree;
    $(".statistics_area").append(
            "<ul><li><span>PREV CLOSE:</span> <p>" +
            e.response.data.Companylist.company.prevclose + "</p> </li>" +
            "<li> <span>DAY LOW:</span> <p>" + e.response.data.Companylist.company.daylow + "</p> " +
            "</li>" +
            "<li><span>DAY HIGH:</span> <p>" + e.response.data.Companylist.company.dayhigh + "</p> </li>" +
            "<li><span>DAY OPEN:</span> <p>" + e.response.data.Companylist.company.dayopen + "</p> </li> </ul>" +
            "<ul><li><span>MCAP:(Rs. Cr.)</span> <p>" + market_cap + "</p> </li>" +
            "<li> <span>DAY VOLUME:</span> <p>" + e.response.data.Companylist.company.dayvolume + "</p> </li>" +
            "<li><span>DIV YIELD:</span> <p>" + e.response.data.Companylist.company.divyield + "%</p> </li>" +
            "<li><span>PRICE DIFF:</span> <p>" + parseFloat(e.response.data.Companylist.company.pricediff).toFixed(2) + "</p> </li> </ul>" +
            "<ul><li><span>1M RETURN:</span> <p>" + parseFloat(e.response.data.Companylist.company.r1mret).toFixed(2) + "%</p> </li>" +
            "<li><span>6M RETURN:</span> <p>" + parseFloat(e.response.data.Companylist.company.r6mret).toFixed(2) + "%</p> </li>" +
            "<li><span>1Y Return:</span> <p>" + parseFloat(e.response.data.Companylist.company.r1yearret).toFixed(2) + "%</p> </li>" +
            "<li><span>5Y Return:</span><p>"+ parseFloat(e.response.data.Companylist.company.r5yearret_cagr).toFixed(2)+"%<p></li>"+
            "</ul><ul><li><span>Beta:</span><p>"+ parseFloat(e.response.data.Companylist.company.beta).toFixed(2)+"</p></li>" +
             "<li><span>P/E:</span><p>"+ parseFloat(e.response.data.Companylist.company.pe).toFixed(2)+"</p></li>" +
             "<li><span>P/B:</span><p>"+ parseFloat(e.response.data.Companylist.company.price_bookvalue).toFixed(2)+"</p></li>" +
            "<li><span>EPS:</span><p>"+ parseFloat(e.response.data.Companylist.company.eps).toFixed(2)+"</p></li>"+
            "</ul>"),
            parseFloat(e.response.data.Companylist.company.r1mret).toFixed(2) >= 0 ? $("#1m_return").html('<td>1 Month Return</td><td class="share_up1"><i class="fa fa-caret-up" aria-hidden="true"></i>' + parseFloat(e.response.data.Companylist.company.r1mret).toFixed(2) + "%</td>") : $("#1m_return").html('<td>1 Month Return</td><td class="share_down1"><i class="fa fa-caret-down" aria-hidden="true"></i>' + parseFloat(e.response.data.Companylist.company.r1mret).toFixed(2) + "%</td>"), parseFloat(e.response.data.Companylist.company.r1yearret).toFixed(2) >= 0 ? $("#1y_return").append('<td>1 Year Return</td><td class="share_up1"><i class="fa fa-caret-up" aria-hidden="true"></i>' + parseFloat(e.response.data.Companylist.company.r1yearret).toFixed(2) + "%</td>") : $("#1y_return").append('<td>1 Year Return</td><td class="share_down1"><i class="fa fa-caret-down" aria-hidden="true"></i>' + parseFloat(e.response.data.Companylist.company.r1yearret).toFixed(2) + "%</td>"), parseFloat(e.response.data.Companylist.company.divyield).toFixed(2) >= 0 ? $("#div_yield").append('<td class="share_up1"><i class="fa fa-caret-up" aria-hidden="true"></i>' + parseFloat(e.response.data.Companylist.company.divyield).toFixed(2) + "%</td>") : $("#div_yield").append('<td class="share_down1"><i class="fa fa-caret-down" aria-hidden="true"></i>' + parseFloat(e.response.data.Companylist.company.divyield).toFixed(2) + "%</td>"), $("#p_co_details").append("Rs." + parseFloat(e.response.data.Companylist.company.ltp).toFixed(2)), parseFloat(price_diff).toFixed(2) > 0 ? $("#p_co_details").append('<span class="share_up1"><i class="fa fa-caret-up" aria-hidden="true"></i>' + parseFloat(price_diff).toFixed(2)+'('+parseFloat(per_change).toFixed(2) + "%)</span>") : $("#p_co_details").append('<span class="share_down1"><i class="fa fa-caret-down" aria-hidden="true"></i>' + parseFloat(Math.abs(price_diff)).toFixed(2)+'('+parseFloat(Math.abs(per_change)).toFixed(2) +  "%)</span>"),$("#p_co_details").append("<span style='color:#000;font-size:14px;'>"+monthNames[present_trade_date[0]-1]+", "+present_trade_date[2]+" "+stock_time+"</span>")
            $("#p_co_details").removeClass('price_performance');
}

function load_key_stat() {
   $.ajax({
        type:"GET",
        url:"/frontend/key_stat/",
        timeout: 2000,
        async:false,
        data:{'co_code':"{{ co_code }}",select_type:select_type},
        beforeSend: function(){
            $(".statistics_area").block({
                message: '<img src="/static/investak/images/loader1.gif" />',
                //css : {width : "100%", height : "100%", "margin-top" :"10%"}
            });
        },
        success:function(response) {
            $(".statistics_area").unblock();
            co_code_details(response);
        },
        error:function(xhr) {
            $(".statistics_area").unblock();
            console.log("Error Occurred");
        }
    });
}

function load_peer_comp() {
    $.ajax({
        type:"GET",
        url:"/frontend/peer_company/",
        async:false,
        data:{'co_code':"{{ co_code }}"},
        beforeSend:function(){
            $(".PeerCompany_area").block({
                message: '<img src="/static/investak/images/loader1.gif" />',
                //css : {width : "100%", height : "100%", "margin-top" :"10%"}
            });
        },
        success:function(response) {
            $(".PeerCompany_area").unblock();
            peer_company_list(response);
        },
        error:function(xhr) {
            $(".PeerCompany_area").unblock();
            console.log("Error Occurred");
        }
    });
}

function load_news() {
    $.ajax({
        type:"GET",
        url:"/frontend/get_stock_news/",
        async:false,
        data:{'co_code':"{{ co_code }}"},
        beforeSend: function(){
            $("#accordion").block({
                message: '<img src="/static/investak/images/loader2.gif" />',
                //css : {width : "100%", height : "100%", "margin-top" :"10%"}
            });
        },
        success:function(response) {
            $("#accordion").unblock();
            if(response == 403) {
                $("#accordion").html('<h3>No news found</h3>');
                $("#anchor-news").hide();
            }
            else {
                var obj = $.parseJSON(JSON.stringify(response));
                if(obj.response.hasOwnProperty('error'))
                {
                    $("#accordion").html('<h3>No news found</h3>');
                    $("#anchor-news").hide();
                }
                else {
                    $("#accordion").html('');
                    $("#anchor-news").show();
                    for(var k=0;k<obj.response.data.Newslist.company.length;k++) {
                        $("#accordion").append('<h3><span style="padding-left:2px!important;display: inline-block!important;width:90%;color:#3c8dbc;">'+obj.response.data.Newslist.company[k].caption+'</span></h3><div><p>'+obj.response.data.Newslist.company[k].memo+'</p></div>');
                    }
                }
            }
        },
        error:function(xhr) {
            $("#accordion").unblock();
            console.log("Error Occurred");
        }
    });
}
var co_code = "{{ co_code }}",
    select_type = "{{ exchange }}", /* "NSE"*/
    period = "1M";
$(document).ready(function(a) {
    //var interval = setInterval(load_performance_graph, 5000);
    load_peer_comp(), load_performance_graph(), load_news(), $(".chart-li > a").click(function(a) {
        chart_value = $(this).html();
        $(".chart-li > a").not(this).closest("li").removeClass("li-active-chart"), $(this).closest("li").addClass("li-active-chart");
        /*if(chart_value == "1M") {
            performance_graph('{{ one_month_performance_graph |safe }}');
        }
        else {*/
            chart_value = $(this).html();
            if(chart_value) {
                $.ajax({
                   type:"GET",
                   url:"/frontend/performance_chart/",
                   data:{co_code:co_code,period:chart_value,select_type:select_type},
                   beforeSend:function() {
                       $.blockUI({ message: '<img src="/static/investak/images/loader1.gif" />'});
                   },
                   success:function(response){
                       $.unblockUI();
                       performance_graph(JSON.stringify(response));
                   },
                   error:function(xhr) {
                       $.unblockUI();
                       //alert("Error Occurred");
                   }
                });
            }
        /*}*/
    });
    $('input:radio[name="radio"]').change(function(e){
        if($(this).is(':checked')) {
            select_type = $(this).val();
            $.ajax({
               type:"GET",
               url:"/frontend/performance_chart/",
               data:{co_code:co_code,period:chart_value,select_type:select_type},
               beforeSend:function() {
                   $.blockUI({ message: '<img src="/static/investak/images/loader1.gif" />'});
               },
               success:function(response){
                   $.unblockUI();
                   performance_graph(JSON.stringify(response));
               },
               error:function(xhr) {
                   $.unblockUI();
                   alert("Error Occurred");
               }
            });
        }
    });
    var dgd = $(window).width();
    //alert(dgd);
$(".see_more").click(function(e){ 
    //$(".view_less_area").hide();
    $(".txt_area").css("height","auto");
    $(".see_less").show();
});
$(".see_less").click(function(e){

    if( dgd < 768){
        $(".txt_area").css("height","105px");
        $("html, body").animate({ scrollTop: 0 }, "fast");
    }else{
        $(".txt_area").css("height","100px");
        $("html, body").animate({ scrollTop: 0 }, "fast");
    }
});

    $("#anchor-news").click(function(e){
        var html = $(this).html();
        if(html == "See More")
        {
            $("#accordion").css("height","auto");
            $(this).html("See Less");
        }
        else {
            $("#accordion").css("height","159px");
            $(this).html("See More");
        }
    });

    $("#anchor-executive").click(function(e){
        var html = $(this).html();
        if(html == "See More")
        {
            $(".key_executive_details").css("height","auto");
            $(this).html("See Less");
        }
        else {
            $(".key_executive_details").css("height","150px");
            $(this).html("See More");
        }
    });

    $("#anchor-peer-company").click(function(e){
        var html = $(this).html();
        if(html == "See More")
        {
            $(".PeerCompany_area").css("height","auto");
            $(this).html("See Less");
        }
        else {
            $(".PeerCompany_area").css("height","140px");
            $(this).html("See More");
        }
    });

    $("#anchor-similar").click(function(e){
        var html = $(this).html();
        if(html == "See More")
        {
            $(".similar").css("height","auto");
            $(this).html("See Less");
        }
        else {
            $(".similar").css("height","150px");
            $(this).html("See More");
        }
    });

        var icons = {
      header: "ui-icon-circle-arrow-e",
      activeHeader: "ui-icon-circle-arrow-s"
    };
    $( "#accordion" ).accordion({
      collapsible: true,
      icons: icons
    });
});
function load_performance_graph() {
    $.ajax({
           type:"GET",
           url:"/frontend/performance_chart/",
           cache: false,
           data:{co_code:co_code,period:chart_value,select_type:select_type},
           success:function(response){
              performance_graph(JSON.stringify(response));
           },
           error:function(xhr) {
               //alert("Error Occurred");
               console.log("Error Occurred");
           }
    });
}
$(document).on('click','.similar > li',function(e){
    var cluster_id = $(this).attr('cluster-id');
    if(cluster_id) {
        window.location.href="/cluster_list/"+cluster_id;
    }
});
</script>
<section>
	<div class="container-fluid">
        <div class="row">

        <!--/.breadcrumb-area -->
            <div class="col-md-12">
                <div class="breadcrumb_area">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/user_dashboard/">Dashboard</a></li>
                  {% ifequal cluster_id  0 %}
                  <li class="breadcrumb-item"><a href="javascript:void(0)">Stak Details</a></li>
                  {% else %}
                  <li class="breadcrumb-item"><a href="/cluster_list/{{ cluster_id }}">Stak Details</a></li>
                  {% endifequal %}
                  <li class="breadcrumb-item active">{{ symbol_array.0.co_name }}</li>
                </ol>
                </div>
            </div>
    	<!--/.breadcrumb-area -->
        <!--/. body left portion area -->
            <div class="left_section_fixed">

                <div class="body_section_area">
                	<div class="overview_details">
                              <div class="overview_details_new">
                                  <div class="left">
                                  <h1 id="h1_co_details">{{ symbol_array.0.co_name }} - ({{ symbol_array.0.symbol }})</h1>
                                   </div>
                                  <div class="stock_radio">
                                    <span>
                                        <input type="radio" id="radio01" name="radio" 
                                        {% if exchange == "NSE" %}
                                        checked="checked"
                                        {% endif %}
                                        value="NSE" />
                                        <label for="radio01"><span></span>NSE</label>
                                    </span>
                                    <span>
                                        <input type="radio" id="radio02" name="radio"
                                        {% if exchange == "BSE" %}
                                        checked="checked"
                                        {% endif %}   
                                        value="BSE" />
                                        <label for="radio02"><span></span>BSE</label>
                                    </span>
                                </div>
                                  <div class="clear"></div>
                              </div>

                            <p id="p_co_details"></p>

                        <p class="txt_area">{{ company_performance }}</p>

                                <a class="see_more" href="javascript:void(0)">see more</a>
                                <a class="see_less" href="javascript:void(0)">see less</a>


                    </div>
                </div>

                <div class="body_section_area">
                	<!-----------Tabber area start ------------->
                    <div class="tabber_section">
                    <div id="exTab1">

                        <div class="tab-content">
                        <!-- Repo -->
                            <div class="tab-pane active" id="Repository">
                            	<!-- Repo Tabs --->
                               <ul class="nav nav-tabs" id="repoTabs">
                                    <li class="chart-li"><a href="javascript:void(0)">1W</a></li>
                                    <li class="chart-li li-active-chart"><a href="javascript:void(0)">1M</a></li>
                                    <li class="chart-li"><a href="javascript:void(0)">3M</a></li>
                                    <li class="chart-li"><a href="javascript:void(0)">1Y</a></li>
                                    <li class="chart-li"><a href="javascript:void(0)">3Y</a></li>
                                    <li class="chart-li"><a href="javascript:void(0)">5Y</a></li>

                                </ul>
                            	<!-- Repo Tabs -->



                                <div class="tab-content">
                                	<div class="tab-pane active" id="repoInfo">
                                    	<div class="graph_area_full">
                                        	<div class="graphs" id="performance_chart">
                                            <img src="/static/investak/images/loader1.gif" style="max-width:60px;max-height:60px;" width="60px"  height="60px"></div>
                                        </div>
                                    </div>

                                </div>

                            </div>


                        </div>



                    </div>
                    </div>
                    <!-----------Tabber area End ------------->
                </div>

                <div class="body_section_area">
                	<div class="statistics_area">
                   		<h2>Key Statistics</h2>

                   </div>
                </div>

            </div>
         <!--/. body left portion area -->
         <!--/. body right portion area -->
            <div class="right_section_fixed">

                <div class="body_section_area">
                    <div class="views_share">
                        <table width="100%">
                            <tbody>
                                <tr id="1m_return">
                                    <td>1 Month Return</td>

                                </tr>
                                <tr id="1y_return">
                                    <td>1 Year Return</td>

                                </tr>
                                <!--<tr id="div_yield">
                                    <td>Dividend Yield</td>

                                </tr>-->
                            </tbody>
                        </table>
                    </div>


                </div>

                <!------- Executives section area start ------>
                <div class="body_section_area clearfix">
                   <div class="stock_summry_area clearfix summry_area_aco">
                   		<!--<h2>News </h2>-->
                        <h2>News</h2>

                       <div id="accordion" style="overflow: hidden; height:150px;">
                        </div>
                        <a href="javascript:void(0)" id="anchor-news">See More</a>
                   </div>

                </div>

                <div class="body_section_area">
                   <div class="summry_area">
                   		<!--<h2>Key Executives</h2>-->
                        <h2>Key Executives</h2>
                        <ul class="executive_area key_executive_details" style="overflow: hidden; height:150px;">
                            {% if directors_array %}
                                {% for da in directors_array %}
                                    <li>
                                        <p>{{ da.director_name }}</p>
                                        <span>{{ da.designation }}</span>
                                    </li>
                                {% endfor %}
                            {% endif %}

                        </ul>
                        <a href="javascript:void(0)" id="anchor-executive">See More</a>
                   </div>

                </div>
                <!------- Executives section area End ------>
                <!------- Peer section area start ------>
                <div class="body_section_area">
                   <div class="summry_area">
                   		<h2>Peer Company List</h2>
                        <ul class="executive_area PeerCompany_area" style="overflow: hidden; height:140px;">

                        </ul>
                        <a href="javascript:void(0)" id="anchor-peer-company">See More</a>
                   </div>

                </div>
                <!------- Peer section area End ------>

                <!------- Similar section area start ------>
                <div class="body_section_area">
                   <div class="summry_area">
                   		<h2>Staks Containing {{ stock_array.0.company_symbol }} </h2>

                        <ul class="similar executive_area" style="overflow: hidden; max-height:150px;">
                            {% if cluster_array %}
                                {% for ca in cluster_array %}
                                    <li cluster-id="{{ ca.cluster_id }}" style="cursor: pointer!important;">
                                        <div class="imgs" ><img src="{% static "media/images/cluster/" %}{{ ca.cluster_image }}" width="100%" height="100%"></div>
                                        <div class="info">
                                            <h4>{{ ca.cluster_name }}</h4>
                                            {% if ca.one_year_return >= 0.00 %}
                                                <p class="share_up1"><i class="fa fa-caret-up" aria-hidden="true"></i>{{ ca.one_year_return|floatformat:2 }}%</p>
                                            {% else %}
                                                <p class="share_down1"><i class="fa fa-caret-down" aria-hidden="true"></i>{{ ca.one_year_return|floatformat:2 }}%</p>
                                            {% endif %}
                                        </div>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                        <a href="javascript:void(0)" id="anchor-similar">See More</a>
                   </div>
                </div>
                <!------- Similar section area start ------>

            </div>
         <!--/. body right portion area -->

    	</div>



	</div>
</section>
<script type="text/javascript">
    $(document).ready(function(){
        $(".ui-accordion-content").css('height','');
        $(".ui-accordion-header").css({background:'#f6f6f6 none repeat scroll 0 0',color:'#454545',outline:'none',border:'0px',padding:'0.5em 0.5em 0.5em 1em'});
        $("#ui-id-2").css('display','none');
        $(".ui-accordion-header-icon").css('display','inline-block');
        $(".ui-accordion-header-icon").css('float','left');
        $(".ui-accordion-header-icon").css('margin-top','0px');
        $( "#ui-id-1 span:first-child" ).removeClass('ui-icon-circle-arrow-s').addClass('ui-icon-circle-arrow-e');
    });
</script>
{% include 'inner_footer.html' %}