<html>
<head>
    {% load staticfiles %}
    <script src="{% static "investak/dist/js/jquery.1.11.3.min.js" %}" type="text/javascript"></script>
</head>
<body>
<div style="display:none">

    <input type="hidden" name="csrfmiddlewaretoken" value="{% csrf_token %}">
</div>
<h4>Thank You.</h4>
<h4>Your order status is {{ status }}</h4>
<h4>Your Transaction ID for this transaction is {{ txnid }}</h4>
<h4>We have received a payment of Rs {{ amount}}</h4> 

</body>
<script type="text/javascript">
function Redirect()
{
              $.ajax({
               type:"POST",
               url:"/frontend/place_sell_live_order/",
               async:false,
               data:{
                    order_id:{{order_id}},
                    order_buy_id:{{order_buy_id}},
                    order_hold_id:{{order_hold_id}},
                    live_order_id:{{live_order_id}},
                    cluster_id:{{cluster_id}},
                    user_id:{{ request.session.id }},
                    no_of_unit:{{no_of_unit}},
                    minimum_investment_amount:{{minimum_investment_amount}},
                    transaction_cost : {{transaction_cost}},
                    csrfmiddlewaretoken:'{{ csrf_token }}'
               },
               beforeSend:function() {
               },
               success:function(response) {//alert('aaaaaaaaaaaaaaaaaaa'+response);
                   if(response) {
                       window.location.href="/portfolio/your_orders/";
                   }
                   else {
                   }
               },
               error:function(xhr) {
               }
            });
            // $.ajax({
            //    type:"POST",
            //    url:"/frontend/sell_virtual_order/",
            //    async:false,
            //    data:{
            //         order_id:{{ order_id }},
            //         order_buy_id:{{  order_buy_id}},
            //         order_hold_id:{{order_hold_id}},
            //         cluster_id:{{cluster_id}},
            //         user_id:{{ request.session.id }},
            //         no_of_unit:{{ no_of_unit }},
            //         minimum_investment_amount:{{ minimum_investment_amount }},
            //         transaction_cost : {{ transaction_cost }},
            //         csrfmiddlewaretoken:'{{ csrf_token }}'
            //    },
            //    beforeSend:function() {//alert('eeeeeeeeeeeeeeeeeeeeeeeee');
            //        //$.blockUI({ message: 'Please Wait...' });
            //    },
            //    success:function(response) {//alert('aaaaaaaaaaaaaaaaaaa'+response);
            //        if(response) {
            //            window.location.href="/portfolio/trade_summary_list";
            //            //$.unblockUI();
            //        }
            //        else {//alert('bbbbbbbbbbbbbbbbb');
            //            //$.blockUI({ message: 'There is something wrong while placing order' });
            //            //$.unblockUI();
            //        }
            //    },
            //    error:function(xhr) {//alert('ccccccccccccccccc'+xhr);
            //        //$.blockUI({ message: 'There is something wrong while placing order' });
            //        //$.unblockUI();
            //    }
            // });
}
document.write("You will be redirected to a new page in 5 seconds");
setTimeout('Redirect()', 5000);
</script>
</html>
