{% load staticfiles %}
<html>
	<head>
		<title>Test Angel Broking Api</title>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
		<script src="{% static "investak/dist/js/jquery.1.11.3.min.js" %}" type="text/javascript"></script>
		<script type="text/javascript">
			var session_id = '';
			function login(){
				$.ajax({
			      url : "https://apisb.angelbroking.com/sbtrade/sbtrade.svc/login",
			      method : "POST",
			      data : {"angelID" : "ABH1", "password" : "aaa111", "clientIP" : "182.71.170.222", "osType" : "Ubuntu Linux", "osVersion" : "16.04", "deviceID" : "12345"},
			      //dataType : "json",
			      success : function(res){
			        console.log(res);
			      }
			    });
			}
			function logout(){
				$.ajax({
			      url : "https://apisb.angelbroking.com/sbtrade/sbtrade.svc/logout",
			      method : "POST",
			      data : {"angelID" : "ABH1", "password" : "aaa111", "clientIP" : "182.71.170.222", "osType" : "Ubuntu Linux", "osVersion" : "16.04", "deviceID" : "12345"},
			      //dataType : "json",
			      success : function(res){
			        console.log(res);
			      }
			    });
			}
			function login(){
				$.ajax({
			      url : "https://apisb.angelbroking.com/sbtrade/sbtrade.svc/login",
			      method : "POST",
			      data : {"angelID" : "ABH1", "password" : "aaa111", "clientIP" : "182.71.170.222", "osType" : "Ubuntu Linux", "osVersion" : "16.04", "deviceID" : "12345"},
			      //dataType : "json",
			      success : function(res){
			        console.log(res);
			      }
			    });
			}
			function login(){
				$.ajax({
			      url : "https://apisb.angelbroking.com/sbtrade/sbtrade.svc/login",
			      method : "POST",
			      data : {"angelID" : "ABH1", "password" : "aaa111", "clientIP" : "182.71.170.222", "osType" : "Ubuntu Linux", "osVersion" : "16.04", "deviceID" : "12345"},
			      //dataType : "json",
			      success : function(res){
			        console.log(res);
			      }
			    });
			}
			function login(){
				$.ajax({
			      url : "https://apisb.angelbroking.com/sbtrade/sbtrade.svc/login",
			      method : "POST",
			      data : {"angelID" : "ABH1", "password" : "aaa111", "clientIP" : "182.71.170.222", "osType" : "Ubuntu Linux", "osVersion" : "16.04", "deviceID" : "12345"},
			      //dataType : "json",
			      success : function(res){
			        console.log(res);
			      }
			    });
			}
			function login(){
				$.ajax({
			      url : "https://apisb.angelbroking.com/sbtrade/sbtrade.svc/login",
			      method : "POST",
			      data : {"angelID" : "ABH1", "password" : "aaa111", "clientIP" : "182.71.170.222", "osType" : "Ubuntu Linux", "osVersion" : "16.04", "deviceID" : "12345"},
			      //dataType : "json",
			      success : function(res){
			        console.log(res);
			      }
			    });
			}
			function login(){
				$.ajax({
			      url : "https://apisb.angelbroking.com/sbtrade/sbtrade.svc/login",
			      method : "POST",
			      data : {"angelID" : "ABH1", "password" : "aaa111", "clientIP" : "182.71.170.222", "osType" : "Ubuntu Linux", "osVersion" : "16.04", "deviceID" : "12345"},
			      //dataType : "json",
			      success : function(res){
			        console.log(res);
			      }
			    });
			}
			function login(){
				$.ajax({
			      url : "https://apisb.angelbroking.com/sbtrade/sbtrade.svc/login",
			      method : "POST",
			      data : {"angelID" : "ABH1", "password" : "aaa111", "clientIP" : "182.71.170.222", "osType" : "Ubuntu Linux", "osVersion" : "16.04", "deviceID" : "12345"},
			      //dataType : "json",
			      success : function(res){
			        console.log(res);
			      }
			    });
			}
			function login(){
				$.ajax({
			      url : "https://apisb.angelbroking.com/sbtrade/sbtrade.svc/login",
			      method : "POST",
			      data : {"angelID" : "ABH1", "password" : "aaa111", "clientIP" : "182.71.170.222", "osType" : "Ubuntu Linux", "osVersion" : "16.04", "deviceID" : "12345"},
			      //dataType : "json",
			      success : function(res){
			        console.log(res);
			      }
			    });
			}
			function login(){
				$.ajax({
			      url : "https://apisb.angelbroking.com/sbtrade/sbtrade.svc/login",
			      method : "POST",
			      data : {"angelID" : "ABH1", "password" : "aaa111", "clientIP" : "182.71.170.222", "osType" : "Ubuntu Linux", "osVersion" : "16.04", "deviceID" : "12345"},
			      //dataType : "json",
			      success : function(res){
			        console.log(res);
			      }
			    });
			}
			function login(){
				$.ajax({
			      url : "https://apisb.angelbroking.com/sbtrade/sbtrade.svc/login",
			      method : "POST",
			      data : {"angelID" : "ABH1", "password" : "aaa111", "clientIP" : "182.71.170.222", "osType" : "Ubuntu Linux", "osVersion" : "16.04", "deviceID" : "12345"},
			      //dataType : "json",
			      success : function(res){
			        console.log(res);
			      }
			    });
			}
			function login(){
				$.ajax({
			      url : "https://apisb.angelbroking.com/sbtrade/sbtrade.svc/login",
			      method : "POST",
			      data : {"angelID" : "ABH1", "password" : "aaa111", "clientIP" : "182.71.170.222", "osType" : "Ubuntu Linux", "osVersion" : "16.04", "deviceID" : "12345"},
			      //dataType : "json",
			      success : function(res){
			        console.log(res);
			      }
			    });
			}
			function login(){
				$.ajax({
			      url : "https://apisb.angelbroking.com/sbtrade/sbtrade.svc/login",
			      method : "POST",
			      data : {"angelID" : "ABH1", "password" : "aaa111", "clientIP" : "182.71.170.222", "osType" : "Ubuntu Linux", "osVersion" : "16.04", "deviceID" : "12345"},
			      //dataType : "json",
			      success : function(res){
			        console.log(res);
			      }
			    });
			}
			function login(){
				$.ajax({
			      url : "https://apisb.angelbroking.com/sbtrade/sbtrade.svc/login",
			      method : "POST",
			      data : {"angelID" : "ABH1", "password" : "aaa111", "clientIP" : "182.71.170.222", "osType" : "Ubuntu Linux", "osVersion" : "16.04", "deviceID" : "12345"},
			      //dataType : "json",
			      success : function(res){
			        console.log(res);
			      }
			    });
			}
			function login(){
				$.ajax({
			      url : "https://apisb.angelbroking.com/sbtrade/sbtrade.svc/login",
			      method : "POST",
			      data : {"angelID" : "ABH1", "password" : "aaa111", "clientIP" : "182.71.170.222", "osType" : "Ubuntu Linux", "osVersion" : "16.04", "deviceID" : "12345"},
			      //dataType : "json",
			      success : function(res){
			        console.log(res);
			      }
			    });
			}
			function login(){
				$.ajax({
			      url : "https://apisb.angelbroking.com/sbtrade/sbtrade.svc/login",
			      method : "POST",
			      data : {"angelID" : "ABH1", "password" : "aaa111", "clientIP" : "182.71.170.222", "osType" : "Ubuntu Linux", "osVersion" : "16.04", "deviceID" : "12345"},
			      //dataType : "json",
			      success : function(res){
			        console.log(res);
			      }
			    });
			}
			function login(){
				$.ajax({
			      url : "https://apisb.angelbroking.com/sbtrade/sbtrade.svc/login",
			      method : "POST",
			      data : {"angelID" : "ABH1", "password" : "aaa111", "clientIP" : "182.71.170.222", "osType" : "Ubuntu Linux", "osVersion" : "16.04", "deviceID" : "12345"},
			      //dataType : "json",
			      success : function(res){
			        console.log(res);
			      }
			    });
			}
			function scripdetails(){
				$.ajax({
			      url : "/AB_scripdetails",
			      method : "GET",
			      //dataType : "json",
			      success : function(res){
			      	console.log(JSON.parse(res));
			        $("#scripdetails #result").html(JSON.parse(res));
			      }
			    });
			}

		</script>
	</head>
	<body>
		<div id="login" style="width:50%; height:150px; overflow-y: scroll; border: 1px dotted black;">
			<a href="javascript:login();">Test</a>
			<div id="result"></div>
		</div>
		<div id="logout" style="width:50%; height:150px; overflow-y: scroll; border: 1px dotted black;">
			<a href="javascript:logout();">Test</a>
			<div id="result"></div>
		</div>
		<div id="logout" style="width:50%; height:150px; overflow-y: scroll; border: 1px dotted black;">
			<a href="javascript:login();">Test</a>
			<div id="result"></div>
		</div><div id="logout" style="width:50%; height:150px; overflow-y: scroll; border: 1px dotted black;">
			<a href="javascript:login();">Test</a>
			<div id="result"></div>
		</div><div id="logout" style="width:50%; height:150px; overflow-y: scroll; border: 1px dotted black;">
			<a href="javascript:login();">Test</a>
			<div id="result"></div>
		</div><div id="logout" style="width:50%; height:150px; overflow-y: scroll; border: 1px dotted black;">
			<a href="javascript:login();">Test</a>
			<div id="result"></div>
		</div><div id="logout" style="width:50%; height:150px; overflow-y: scroll; border: 1px dotted black;">
			<a href="javascript:login();">Test</a>
			<div id="result"></div>
		</div><div id="logout" style="width:50%; height:150px; overflow-y: scroll; border: 1px dotted black;">
			<a href="javascript:login();">Test</a>
			<div id="result"></div>
		</div><div id="logout" style="width:50%; height:150px; overflow-y: scroll; border: 1px dotted black;">
			<a href="javascript:login();">Test</a>
			<div id="result"></div>
		</div><div id="logout" style="width:50%; height:150px; overflow-y: scroll; border: 1px dotted black;">
			<a href="javascript:login();">Test</a>
			<div id="result"></div>
		</div><div id="logout" style="width:50%; height:150px; overflow-y: scroll; border: 1px dotted black;">
			<a href="javascript:login();">Test</a>
			<div id="result"></div>
		</div><div id="logout" style="width:50%; height:150px; overflow-y: scroll; border: 1px dotted black;">
			<a href="javascript:login();">Test</a>
			<div id="result"></div>
		</div><div id="logout" style="width:50%; height:150px; overflow-y: scroll; border: 1px dotted black;">
			<a href="javascript:login();">Test</a>
			<div id="result"></div>
		</div><div id="logout" style="width:50%; height:150px; overflow-y: scroll; border: 1px dotted black;">
			<a href="javascript:login();">Test</a>
			<div id="result"></div>
		</div><div id="logout" style="width:50%; height:150px; overflow-y: scroll; border: 1px dotted black;">
			<a href="javascript:login();">Test</a>
			<div id="result"></div>
		</div><div id="logout" style="width:50%; height:150px; overflow-y: scroll; border: 1px dotted black;">
			<a href="javascript:login();">Test</a>
			<div id="result"></div>
		</div><div id="logout" style="width:50%; height:150px; overflow-y: scroll; border: 1px dotted black;">
			<a href="javascript:login();">Test</a>
			<div id="result"></div>
		</div><div id="scripdetails" style="width:50%; height:150px; overflow-y: scroll; border: 1px dotted black;">
			<a href="javascript:scripdetails();">Test</a>
			<div id="result"></div>
		</div>
	</body>
</html>
