{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>Investak - Upload PDF</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta content="" name="description"/>
<meta content="" name="author"/>
</head>
<body>
<form name="frmPdfUpload" method="post" action="/generate_pdf/" enctype="multipart/form-data">{% csrf_token %}
<table>
    <tr>
        <th colspan="2"><input type="submit" value="Submit"></th>
    </tr>
</table>
</form>
</body>
</html>