{% include 'inner_header.html' %}
<div class="se-pre-con" style="display:none;"></div>
{% load staticfiles %}
{% load investak_filters %}
<style>
 .daily_chan ul,.daily_chan ul li{margin:0;position:relative;float:left}.highcharts-drilldown-axis-label{text-decoration:none!important;font-weight:400!important}.no-js #loader{display:none}.js #loader{display:block;position:absolute;left:100px;top:0}.se-pre-con{position:fixed;left:0;top:0;width:100%;height:100%;z-index:9999;background:url(/static/investak/images/loader1.gif) center no-repeat #fff}.daily_chan{float:right;position:relative}.daily_chan span{display:inline-block;float:left}.daily_chan ul{padding:0}.daily_chan ul li{list-style-type:none;padding:1px 10px;color:#fff}.daily_chan ul li span{display:inline-block;height:15px;margin:2px 5px;width:15px}.cluster_des_head h2{cursor:pointer}
img {
    opacity: 1;
    transition: opacity 0.3s;
}

img[data-src] {
    opacity: 0;
}
 
</style>

<section>
    <div class="container-fluid">
    
        <div class="row">

            <div class="col-md-12">
                <div class="breadcrumb_area">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                </div>
            </div>

            <div class="dashboard_body">
                <div class="col-md-12">
                    <div class="body_section_area">
                        <div class="virtual_protfolio_area user_vir">
                            
                            <div id="exTab1">
                                <ul  class="nav nav-pills">
                                {% if request.session.toggle_button_status == 'live' %}
                                    <li class="active"><a href="#Virtual" data-toggle="tab">Live Portfolio</a></li>
                                {% else %}
                                    <li class="active"><a href="#Virtual" data-toggle="tab">Virtual Portfolio</a></li>
                                {% endif %}
                                    <li ><a  href="#Market" data-toggle="tab">Market Pulse</a></li>
                                </ul>
                                
                                <div class="tab-content clearfix">
                                
                                    <div class="tab-pane" id="Market">
                                        <div class="market_graph" id="container">
                                            <!--<img src="/static/media/images/market_graph.png">-->
                                        </div>
                                        <div class="daily_chan">
                                        <span>Monthly Return</span>
                                        <ul>
                                            <li style="background:#ff6666;">&lt;0%</li>
                                            <li style="background:#a1a1a1;">&nbsp;0%</li>
                                            <li style="background:#56c156;">&gt;0%</li>

                                        </ul>
                                        </div>
                                    </div>
                                    
                                    <div class="tab-pane active" id="Virtual">
                                    <div class="row">
                                        <div class="col-md-3">
                                        <div class="row">
                                    <!---dashboard portfolio html area--> 
                                            <div class="col-md-12">
                                                <div class="summary">
                                                <div class="body_section_area">
                                                    <div class="summery_details">
                                                        <h2>Portfolio Summary</h2>
                                                    
                                                        <table width="100%" class="table-responsive">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Blocked Cash(<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i>)</td>
                                                                    <td id="blocked_cash"></td>
                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <td>Unrealized Profit/Loss(<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i>)</td>
                                                                    <td id="un_realized_profit_loss"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Realized Profit/Loss(<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i>)</td>
                                                                    <td id="realized_profit_loss"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Investment Returns</td>
                                                                    <td><span id="summary_returns"></span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <a href="/portfolio/">SEE ALL</a>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                              <div class="col-md-12">
                                                         <style>
                                                            a#a_fundstransfer {


    padding: 5px;
    border-style: solid;
    height: 30px;
    width: 114px;
    font-size: 13px;
    color: white;
    /* margin-bottom: 2px; */
    
    left: 20px;
    border-radius: 8%;
    background-color: rgba(54, 139, 245, 0.72);
    border-color: azure;
    border-width: 1px;
    text-align: center;}
                                                            a#a_fundstransfer:hover {


    border-style: solid;

        width: 117px;
    /* margin-bottom: 2px; */
    border-radius: 8%;
    background-color: white;
    border-color: rgba(54, 139, 245, 0.72);
    border-width: 1px;
    color: rgba(54, 139, 245, 0.72);
    font-weight: bold;

}
                                                        </style>

                                                        <a href="#"  id="a_fundstransfer" target="_blank">Funds Transfer</a>

                                                </div>
                                        </div>
                                        </div>
                                       <!--dashboard Account html area--> 
                                        <div class="col-md-3">
                                            <div class="summary">
                                            <div class="body_section_area">
                                                <div class="account_details">
                                                    <h2>Account Details</h2>
                                                
                                                    <table width="100%" class="table-responsive">
                                                        <tbody>
                                                            <tr>
                                                                <td>Cash Available(<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i>)</td>
                                                                <td id="total_cash_balance">{{ account_details.total_cash_balance }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Value of Positions(<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>)</td>
                                                                <td id="summary_holdings">{{ summary_data.summary_holdings }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Account Value(<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>)</td>
                                                                <td id="account_value">{{ account_details.account_value }}</td>
                                                            </tr>

                                                            <tr>
                                                                <td>Invested Capital(<span class="rss"><i class="fa fa-inr" aria-hidden="true"></i></span>)</td>
                                                                <td id="invested_capital">{{ account_details.invested_capital }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                
                                                    <a href="/portfolio/">SEE ALL</a>
                                                
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        
                                        <!---dashboard Account html area-->

                                        <div class="col-md-6 col-xs-12 flats" id="account_graph_div" style="margin-top:20px; display:block; padding:0px !important;">
                                            <input type="button" name="account_value_butn" id="account_value_butn" class="btn mysubmit_btn2" value="Account Value" style="width:100px; margin:0px 0px 10px 50px; padding:3px; background:#84a3b1; font-size: 13px; font-weight: normal; text-transform: none;" onclick="set_graph_image('account')">
                                            <input type="button" name="return_value_butn" id="return_value_butn" class="btn mysubmit_btn2" value="Return(%)" style="width:75px; margin:0px 0px 10px 2px; padding:3px; background:#dddddd; font-size: 13px; font-weight: normal; text-transform: none;" onclick="set_graph_image('return')">
                                            <div id="account_graph_container" style="overflow:hidden; width: 100%; height:300px;"></div>
                                        </div>

                                        <div class="col-md-6" id="return_graph_div" style="margin-top:20px; display:none; padding:0px !important;">
                                            <input type="button" name="account_value_butn" id="account_value_butn" class="btn mysubmit_btn2" value="Account Value" style="width:100px; margin:0px 0px 10px 50px; padding:3px; background:#dddddd; font-size: 13px; font-weight: normal; text-transform: none;" onclick="set_graph_image('account')">
                                            <input type="button" name="return_value_butn" id="return_value_butn" class="btn mysubmit_btn2" value="Return(%)" style="width:75px; margin:0px 0px 10px 2px; padding:3px; background:#84a3b1; font-size: 13px; font-weight: normal; text-transform: none;" onclick="set_graph_image('return')">
                                            <!--<div id="return_graph_container" style="overflow:hidden; width: 100%; height:300px;"></div>-->
                                            <div id="portfolio_container" style="overflow:hidden; width: 100%; height:300px; margin: 0 auto"></div>
                                        </div>
                                        
                                   <!--dashboard Account html area--> 
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>  
                </div>
               
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
            
            <div class="feauture_area">
                <h2>30 day winners</h2>
                {% if thirty_day_winners %}
                <ul id="flexiselDemo" class="flexselDemo" style="left: 0px !important; display: block;">
                                                      
                </ul> 
                {% else %}
                   <p align="center">NO STAK FOUND</p>
                {% endif %}         
                
            </div>
            
            <div class="feauture_area">
                <h2>30 day losers</h2>
                {% if thirty_day_loosers %}
                <ul id="flexiselDemo1" class="flexselDemo" style="left: 0px !important; display: block;">
                                                           
                </ul>
                {% else %}
                       <p align="center">NO STAK FOUND</p>
                {% endif %}
            </div>
            
            <div class="panel-group home-page" id="accordion">
                <div class="panel panel-default">
                    <!---Q3-->
                    <div class="panel panel-default">
                        <div class="panel-heading panel-watchlist" role="tab" id="headingThree">
                            <h4 class="panel-title"><a href="javascript:void(0)"><i class="more-less glyphicon glyphicon-minus"></i>My watchlist</a></h4>
                        </div>
                        
                        <div id="collapseThree" class="accrodian_txt">
                            <div class="feauture_area">
                            {% if my_watch_list %}    
                            <ul id="flexiselDemo2" class="flexselDemo" style="left: 0px !important; display: block;">
                                                               
                            </ul>
                            {% else %}
                               <p align="center">NO STAK FOUND</p>
                            {% endif %}   
                            </div>
                        </div>
                    </div>
                    
                    <!-- Q4-->
                    <div class="panel panel-default">
                    
                        <div class="panel-heading panel-watchlist" role="tab" id="headingfour">
                            <h4 class="panel-title"><a href="javascript:void(0)"><i class="more-less glyphicon glyphicon-minus"></i>My built staks</a></h4>
                        </div>
                        <div id="collapsefour" class="accrodian_txt">
                            <div class="feauture_area">

                            {% if my_built_cluster %}
                            <ul id="flexiselDemo3" class="flexselDemo" style="left: 0px !important; display: block;">
                                    
                            </ul>
                            {% else %}
                                <p align="center">NO STAK FOUND</p>
                            {% endif %}    
                            </div>
                        </div>
                    </div>
                    
                </div><!-- panel-group -->
            
            </div>
        </div>
        
    </div>
    </div>
</section>

    <input type="hidden" id="date_id" name="date_id" value="" />
    <input type="hidden" id="account_id" name="account_id" value="" />
    <input type="hidden" id="returns_id" name="returns_id" value="" />
<script>
function init() {
var imgDefer = document.getElementsByTagName('img');
for (var i=0; i<imgDefer.length; i++) {
if(imgDefer[i].getAttribute('data-src')) {
imgDefer[i].setAttribute('src',imgDefer[i].getAttribute('data-src'));
} } }
window.onload = init;
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
<script type="text/javascript">
	$(window).load(function() {
		// Animate loader off screen
		//$(".se-pre-con").fadeOut("slow");
	});
</script>
<script src="https://code.highcharts.com/highcharts.js"></script>

<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://blacklabel.github.io/multicolor_series/js/multicolor_series.js"></script>
<script>
    $(function () {
    // Create the chart
    Highcharts.setOptions({
        lang: {
            drillUpText: '<b>X</b>'
        }
    });
    $('#container').highcharts({
        credits: {
           enabled: false
        },
        legend: {
            enabled: false
        },
        chart: {
            type: 'column'
        },
        title: {
            text: 'Explore Investak'
        },
        subtitle: {
            text: 'Investak Market Pulse'
        },
        xAxis: {
            type: 'category',
            max:3
        },
        plotOptions: {
        column: {
            pointWidth: 7

        },
        series: {
                pointPadding: 0.25,
                groupPadding: 0
            }
    },
        yAxis: {
            gridLineWidth: 0,
            minorGridLineWidth: 0,
            lineColor: '#C0D0E0',
            lineWidth: 1,
            title: {
                text: 'Trending Now'
            }

        },
    tooltip: {
                formatter: function() {

                       var s;
                       s = this.point.cluster_name + "<br/>Viewed : " + this.point.y;
                       return s;

                }
            },
        series: [
        {% for dg in drilldown_graph_arr %}
            {
            name: "Viewed",
            {% if dg.one_month_return > 0.00 %}
            color: '#56c156',
            {% elif dg.one_month_return < 0.00  %}
            color: '#ff6666',
            {% else %}
             color: '#a1a1a1',
            {% endif %}
            data: [{
                name: '{{ dg.cat_name }}',
                y: {{ dg.recently_viewed }},
                cluster_name: '{{ dg.cluster_name }}',
                drilldown: '{{ dg.cat_id }}'
            }]
        },
        {% endfor %}
        ],
        drilldown: {
            series: [
            {% if drilldown_graph_arr %}
            {% for dga in drilldown_graph_arr %}
            {
                id: '{{ dga.cat_id }}',
                name: "Viewed ",

                color: ['#56c156','#56c156','#ff6666','#a1a1a1'],
                pointWidth: 20,

                data: [
                    {% if dga.cluster_details %}
                    {% for clsa in dga.cluster_details %}
                    {name: '{{ clsa.cluster_name }}', y: {{ clsa.recently_viewed }}, cluster_name: "{{ clsa.cluster_name }}"},
                    {% endfor %}
                    {% endif %}
                    ]


            },
            {% endfor %}
            {% endif %}
           ]
        }
    }, function(chart) {

            chart.yAxis[0].update({
            labels: {
                enabled: false
            },
            title: {
                text: "Trending Now"
            }
        });


    });
});
$(document).on("click",".a-fa-heart",function(r){var t=$(this).attr("data-id"),s=$(this).attr("user-id");if(t&&s){var c=0;$.ajax({type:"POST",url:"/frontend/watchCluster/",data:{cluster_id:t,user_id:s,csrfmiddlewaretoken:"{{ csrf_token }}"},async:!1,beforeSend:function(){},success:function(r){c=r[0].flag,Notify(r[0].message,null,null,"success")},error:function(r){Notify("Error Occurred",null,null,"danger")}}),1==c?$(this).css({color:'#ffc71a',border: '1px solid #ffc71a'}):$(this).css({color:'#fff',border: '1px solid #fff'})}});
</script>
<script>
function set_graph_image(n){$("#account_graph_div").hide(),$("#return_graph_div").hide(),"account"==n?$("#account_graph_div").show():$("#return_graph_div").show()}$(document).ready(function(n){$("#dropdown-menu select").dropdown()});
</script>
<script>
$(function(){
    /* var t=$("#account_graph_container").width();
    Highcharts.setOptions({
            lang:{thousandsSep:","}
    });
    var e=new Object;
    return_data_graph=new Array;
    var a=new Object;
    data_graph=new Array;
    var r=$("#date_id").val(),
    n=$("#account_id").val(),
    s=$("#returns_id").val(),
    o=r.split("|"),
    d=n.split("|"),
    l=s.split("|");
    for(i=0;i<o.length;i++){
        test_date=o[i],
        t_dt=o[i].split(","),
        t_dt_y=t_dt[0],
        t_dt_m=t_dt[1],
        t_dt_d=t_dt[2],
        x_dt=new Date(test_date).getTime()+Math.abs(6e4*new Date(test_date).getTimezoneOffset()),
        y_dt=parseFloat(d[i]),
        ret_dt=parseFloat(l[i]),
        a.data=[x_dt,y_dt],
        data_graph.push(a.data),
        e.data=[x_dt,ret_dt],
        return_data_graph.push(e.data);
    }
        1==o.length
        &&(
            x_dt_d=(new Date).getDate(),
            x_dt_m=(new Date).getMonth()+1,
            x_dt_y=(new Date).getFullYear(),
            parseInt(t_dt_d)==parseInt(x_dt_d)
            &&parseInt(t_dt_m)==parseInt(x_dt_m)
            &&parseInt(t_dt_y)==parseInt(x_dt_y)
            &&(
                x_dt_today=(new Date).getTime()+Math.abs(6e4*(new Date).getTimezoneOffset()),
                a.data_today=[x_dt_today,y_dt],
                data_graph.push(a.data_today)
            )
        );

        data_graph.sort(),
        return_data_graph.sort(),
        $("#account_graph_container").highcharts(
            {
                credits:{enabled:!1},
                exporting:{enabled:!1},
                rangeSelector:{enabled:!1},
                chart:{zoomType:"x",type:"line",width:t},
                title:{text:""},
                scrollbar:{enabled:!1},
                xAxis:{type:"datetime",scrollbar:{enabled:!1}},
                yAxis:{title:{text:"Account Value (Rs.)"},
                labels:{format:"Rs.{value}"}},
                legend:{enabled:!1},
                tool_tip:{formatter:function(){var t=this.points[0];return Highcharts.dateFormat("%A, %B %e, %Y",this.x)+"<br/>"+Highcharts.numberFormat(t.y,2)+"%"},shared:!0},
                plotOptions:{
                    area:{
                        fillColor:{
                            linearGradient:{x1:0,y1:0,x2:0,y2:1},
                            stops:[
                                [0,Highcharts.getOptions().colors[0]],
                                [1,Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get("rgba")]
                            ]
                        },
                        marker:{radius:2},
                        lineWidth:1,
                        states:{hover:{lineWidth:1}},
                        threshold:null
                    }
                },
                series:[
                    {type:"area",name:"Account Value (Rs.)",data:data_graph}
                ]
            }
        ),
        $("#return_graph_container").highcharts(
            {
                credits:{enabled:!1},
                exporting:{enabled:!1},
                rangeSelector:{enabled:!1},
                chart:{zoomType:"x"},
                title:{text:""},
                xAxis:{type:"datetime"},
                yAxis:{title:{text:"Return Value"}},
                legend:{enabled:!1},
                plotOptions:{
                    area:{
                        fillColor:{
                            linearGradient:{x1:0,y1:0,x2:0,y2:1},
                            stops:[
                                [0,Highcharts.getOptions().colors[0]],
                                [1,Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get("rgba")]
                            ]
                        },
                        marker:{radius:2},
                        lineWidth:1,
                        states:{hover:{lineWidth:1}},
                        threshold:null
                    }
                },
                series:[
                    {type:"area",name:"Return Value",data:return_data_graph}
                ]
            }
        );
        var h; */


        $(document).ready(function(){
            var t=$("#account_graph_container").width();
            function generate_graph_data(){
                Highcharts.setOptions({
                        lang:{thousandsSep:","}
                });
                var e=new Object;
                return_data_graph=new Array;
                var a=new Object;
                data_graph=new Array;
                var r=$("#date_id").val(),
                n=$("#account_id").val(),
                s=$("#returns_id").val(),
                o=r.split("|"),
                d=n.split("|"),
                l=s.split("|");
                for(i=0;i<o.length;i++){
                    test_date=o[i],
                    t_dt=o[i].split(","),
                    t_dt_y=t_dt[0],
                    t_dt_m=t_dt[1],
                    t_dt_d=t_dt[2],
                    x_dt=new Date(test_date).getTime()+Math.abs(6e4*new Date(test_date).getTimezoneOffset()),
                    y_dt=parseFloat(d[i]),
                    ret_dt=parseFloat(l[i]),
                    a.data=[x_dt,y_dt],
                    data_graph.push(a.data),
                    e.data=[x_dt,ret_dt],
                    return_data_graph.push(e.data);
                }
                1==o.length
                &&(
                    x_dt_d=(new Date).getDate(),
                    x_dt_m=(new Date).getMonth()+1,
                    x_dt_y=(new Date).getFullYear(),
                    parseInt(t_dt_d)==parseInt(x_dt_d)
                    &&parseInt(t_dt_m)==parseInt(x_dt_m)
                    &&parseInt(t_dt_y)==parseInt(x_dt_y)
                    &&(
                        x_dt_today=(new Date).getTime()+Math.abs(6e4*(new Date).getTimezoneOffset()),
                        a.data_today=[x_dt_today,y_dt],
                        data_graph.push(a.data_today)
                    )
                );

                data_graph.sort(),
                return_data_graph.sort(),
                $("#account_graph_container").highcharts(
                    {
                        credits:{enabled:!1},
                        exporting:{enabled:!1},
                        rangeSelector:{enabled:!1},
                        chart:{zoomType:"x",type:"line",width:t},
                        title:{text:""},
                        scrollbar:{enabled:!1},
                        xAxis:{type:"datetime",scrollbar:{enabled:!1}},
                        yAxis:{title:{text:"Account Value (Rs.)"},
                        labels:{format:"Rs.{value}"}},
                        legend:{enabled:!1},
                        tool_tip:{formatter:function(){var t=this.points[0];return Highcharts.dateFormat("%A, %B %e, %Y",this.x)+"<br/>"+Highcharts.numberFormat(t.y,2)+"%"},shared:!0},
                        plotOptions:{
                            area:{
                                fillColor:{
                                    linearGradient:{x1:0,y1:0,x2:0,y2:1},
                                    stops:[
                                        [0,Highcharts.getOptions().colors[0]],
                                        [1,Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get("rgba")]
                                    ]
                                },
                                marker:{radius:2},
                                lineWidth:1,
                                states:{hover:{lineWidth:1}},
                                threshold:null
                            }
                        },
                        series:[
                            {type:"area",name:"Account Value (Rs.)",data:data_graph}
                        ]
                    }
                ),
                $("#return_graph_container").highcharts(
                    {
                        credits:{enabled:!1},
                        exporting:{enabled:!1},
                        rangeSelector:{enabled:!1},
                        chart:{zoomType:"x"},
                        title:{text:""},
                        xAxis:{type:"datetime"},
                        yAxis:{title:{text:"Return Value"}},
                        legend:{enabled:!1},
                        plotOptions:{
                            area:{
                                fillColor:{
                                    linearGradient:{x1:0,y1:0,x2:0,y2:1},
                                    stops:[
                                        [0,Highcharts.getOptions().colors[0]],
                                        [1,Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get("rgba")]
                                    ]
                                },
                                marker:{radius:2},
                                lineWidth:1,
                                states:{hover:{lineWidth:1}},
                                threshold:null
                            }
                        },
                        series:[
                            {type:"area",name:"Return Value",data:return_data_graph}
                        ]
                    }
                );
                var h;
            }
            function e(e){
                var a=[],
                r=return_data_graph[0][0];
                $.each(e.series[0].data,function(){
                    this.x>=r&&a.push(this.y)
                }),
                h=$("#detail-container").highcharts({
                    chart:{
                        reflow:!1,
                        type:"line",
                        width:t,
                        style:{position:"absolute"}
                    },
                    credits:{enabled:!1},
                    title:{text:null},
                    xAxis:{type:"datetime"},
                    yAxis:{
                        title:{text:"Returns (%)"},
                        labels:{format:"{value}%"},
                        maxZoom:.1
                    },
                    tooltip:{
                        formatter:function(){
                            var t=this.points[0];
                            return""+Highcharts.dateFormat("%A, %B %e, %Y",this.x)+"<br/>Returns:"+Highcharts.numberFormat(t.y,2)+"%"
                        },
                        shared:!0
                    },
                    legend:{enabled:!1},
                    plotOptions:{
                        series:{
                            marker:{
                                enabled:!1,
                                states:{
                                    hover:{enabled:!0,radius:3}
                                }
                            }
                        }
                    },
                    series:[
                        {name:"Returns",pointStart:r,pointInterval:864e5,data:a}
                    ],
                    exporting:{enabled:!1}
                }).highcharts()
            }
            function a(){
                $("#master-container").highcharts({
                    chart:{
                        reflow:!1,
                        borderWidth:0,
                        backgroundColor:null,
                        zoomType:"x",
                        events:{
                            selection:function(t){
                                var e=t.xAxis[0],
                                a=e.min,
                                r=e.max,
                                i=[],
                                n=this.xAxis[0];
                                return $.each(this.series[0].data,function(){
                                    this.x>a&&this.x<r&&i.push([this.x,this.y])
                                }),
                                n.removePlotBand("mask-before"),
                                n.addPlotBand({
                                    id:"mask-before",
                                    from:return_data_graph[0][0],
                                    to:a,
                                    color:"rgba(0, 0, 0, 0.2)"
                                }),
                                n.removePlotBand("mask-after"),
                                n.addPlotBand({
                                    id:"mask-after",
                                    from:r,
                                    to:return_data_graph[return_data_graph.length-1][0],
                                    color:"rgba(0, 0, 0, 0.2)"
                                }),
                                h.series[0].setData(i),!1
                            }
                        }
                    },
                    title:{text:null},
                    xAxis:{
                        type:"datetime",
                        showLastTickLabel:!0,
                        maxZoom:12096e5,
                        plotBands:[{
                            id:"mask-before",
                            from:return_data_graph[0][0],
                            to:return_data_graph[return_data_graph.length-1][0],
                            color:"rgba(0, 0, 0, 0.2)"
                        }],
                        title:{text:null}
                    },
                    yAxis:{
                        gridLineWidth:0,
                        labels:{enabled:!1},
                        title:{text:null},
                        min:.6,
                        showFirstLabel:!1
                    },
                    tooltip:{
                        formatter:function(){return!1}
                    },
                    legend:{enabled:!1},
                    credits:{enabled:!1},
                    plotOptions:{
                        series:{
                            fillColor:{
                                linearGradient:[0,0,0,70],
                                stops:[
                                    [0,Highcharts.getOptions().colors[0]],
                                    [1,"rgba(255,255,255,0)"]
                                ]
                            },
                            lineWidth:1,
                            marker:{enabled:!1},
                            shadow:!1,
                            states:{
                                hover:{lineWidth:1}
                            },
                            enableMouseTracking:!1
                        }
                    },
                    series:[{
                        type:"area",
                        name:"USD to EUR",
                        pointInterval:864e5,
                        pointStart:return_data_graph[0][0],
                        data:return_data_graph
                    }],
                    exporting:{enabled:!1}
                },
                function(t){e(t)}
                ).highcharts()
            }

            function user_account_graph(){
                $("#exTab1 .tab-content").unblock(); 
                $("#blocked_cash").html("N/A");
                $("#summary_returns").html("N/A");
                $("#un_realized_profit_loss").html("N/A");
                $("#realized_profit_loss").html("N/A");
                $("#total_cash_balance").html("N/A");
                $("#summary_holdings").html("N/A");
                $("#account_value").html("N/A");
                $("#invested_capital").html("N/A");
                $("#date_id").val("");
                $("#account_id").val("");
                $("#returns_id").val("");
                $.ajax({
                    url : "/frontend/user_dashboard_account_graph/", 
                    type : "GET",
                    data : {},
                    dataType : "JSON",
                    beforeSend : function(){
                        /*$("#exTab1 .tab-content").block({
                            message: '<img src="/static/investak/images/loader1.gif" />',
                            css : {width : "100%", height : "100%", "margin-top" :"10%"}
                        });*/
                    },
                    success : function(res){
                        /*$("#exTab1 .tab-content").unblock();*/    
                        $("#blocked_cash").html(res.account_details.blocked_cash > 0?"<b>"+parseFloat(res.account_details.blocked_cash.replace(/[-,]/,"")).toFixed(2)+"</b>":'---');
                        
                        if(parseFloat(res.summary_data.summary_returns) > 0) color = "green";
                        else if(parseFloat(res.summary_data.summary_returns) == 0) color = "white";
                        else if(parseFloat(res.summary_data.summary_returns) < 0) color = "rgb(177, 4, 4)";
                        $("#summary_returns").css("color",color);
                        $("#summary_returns").html("<b>"+res.summary_data.summary_returns.replace("-","")+"%</b>");

                        if(parseFloat(res.summary_data.un_realized_profit_loss) > 0) color = "green";
                        else if(parseFloat(res.summary_data.un_realized_profit_loss) == 0) color = "white";
                        else if(parseFloat(res.summary_data.un_realized_profit_loss) < 0) color = "rgb(177, 4, 4)";
                        $("#un_realized_profit_loss").css("color",color);
                        $("#un_realized_profit_loss").html("<b>"+res.summary_data.un_realized_profit_loss.replace("-","")+"</b>");

                        if(parseFloat(res.summary_data.realized_profit_loss) > 0) color = "green";
                        else if(parseFloat(res.summary_data.realized_profit_loss) == 0) color = "white";
                        else if(parseFloat(res.summary_data.realized_profit_loss) < 0) color = "rgb(177, 4, 4)";
                        $("#realized_profit_loss").css("color",color);
                        $("#realized_profit_loss").html("<b>"+res.summary_data.realized_profit_loss.replace("-","")+"</b>");

                        $("#total_cash_balance").html("<b>"+res.account_details.total_cash_balance+"</b>");
                        $("#summary_holdings").html("<b>"+res.summary_data.summary_holdings+"</b>");
                        $("#account_value").html("<b>"+res.account_details.account_value+"</b>");
                        $("#invested_capital").html("<b>"+res.account_details.invested_capital+"</b>");
                        $("#date_id").val(res.data_x);
                        $("#account_id").val(res.data_account);
                        $("#returns_id").val(res.data_returns);
                        generate_graph_data();
                        a();     
                    },
                    error : function(){
                        //alert("System error occured !");
                        //$("#exTab1 .tab-content").unblock(); 
                        $("#blocked_cash").html("N/A");
                        $("#summary_returns").html("N/A");
                        $("#un_realized_profit_loss").html("N/A");
                        $("#realized_profit_loss").html("N/A");
                        $("#total_cash_balance").html("N/A");
                        $("#summary_holdings").html("N/A");
                        $("#account_value").html("N/A");
                        $("#invested_capital").html("N/A");
                        $("#date_id").val("");
                        $("#account_id").val("");
                        $("#returns_id").val("");
                    }
                })
            }
            var r=$("#portfolio_container").css({
                position:"relative",
                height:300,width:"100%"
            });
            $('<div id="detail-container">').css({height:300,width:t}).appendTo(r),
            $('<div id="master-container">').css({position:"absolute",top:300,height:100,width:"100%",display:"none"}).appendTo(r),
            //a()
            user_account_graph();
        }),
        $(".highcharts-container").css("width","100%")
    });
    //}
</script>
<script type="application/javascript" >
    (function()
    {
        $('#a_fundstransfer').hide();
        $.ajax({
       type:"GET",
       url:"/frontend/funds_transfer_url/",
       async:true,
       beforeSend:function() {
           //$.blockUI({ message: 'Please Wait...' });
       },
       success:function(response) {
           console.log(response);
           console.log(response['success']);
           console.log(response['message']);
           if(response) { //alert('response'+response);
            if (response['success']==true){
                $("#a_fundstransfer").attr("href", response['url']);
                $("#a_fundstransfer").show();
            }
           }
           else { //alert('response'+response);
               //$.blockUI({ message: 'There is something wrong while placing order' });
               //$.unblockUI();
           }
       },
       error:function(xhr) { console.log('responseerror');
           //$.blockUI({ message: 'There is something wrong while placing order' });
           //$.unblockUI();
       }
    });
    })();

</script>
{% include 'inner_footer.html' %}



