{% include 'inner_header.html' %}
<meta property="og:image" content="http://www.investak.in/static/media/images/cluster/{{ cluster_details.0.cluster_image }}" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="300" />
{% load staticfiles %}
{% load investak_filters %}


<script type="text/javascript" src="{% static "frontend/dashboard/dist/js/notify.min.js" %}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">

<link href="{% static "investak/dist/css/responsive.dataTables.css" %}" rel="stylesheet" type="text/css">
<script type="text/javascript">var switchTo5x=true;</script>
<!--<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>-->
<!--<script type="text/javascript">stLight.options({publisher: "30d48709-d93b-4491-b6f9-9f2e0ec8b8dd", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>-->
<script type="text/javascript" src="{% static "frontend/dashboard/dist/js/tableExport.js" %}"></script>
<script type="text/javascript" src="{% static "frontend/dashboard/dist/js/jquery.base64.js" %}"></script>



<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script type="text/javascript" src="{% static "investak/dist/js/jquery.marquee.min.js" %}"></script>
<style type="text/css">
    .li-active-chart {
       
       color: #fff;
    }
    .block-hdnews{ position: relative; width: 100%;}

</style>
<script type="text/javascript">
     window.fbAsyncInit = function() {
        FB.init({
            appId: '{{ FACEBOOK_APP_ID }}',
            xfbml: true,
            version: 'v2.7'
        });
    };
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript">
var data_graph = new Array();
var data_graph_idx = new Array();
var pop_array = new Array();
var pop_array_idx = new Array();
var exchange = "NSE";
var select_value = 2;
var axis = '';
var tool_tip ='';

var pieGraphArr = new Array();
var pieNameArr = new Array();
var pieValueArr = new Array();

var period = "Y1";
var comment_desc = '';
var max_y_value = 0;
var min_y_value = -1;


var total = 100.00;
var rem_weight = 0.00;
var sum = 0.00; 
{% if cluster_stock_details %}
    {% for cd in cluster_stock_details %}
        sum += parseFloat('{{ cd.weigh|floatformat }}');
    {% endfor %}
    rem_weight = parseFloat(total - sum).toFixed(2);
{% endif %}

$(window).on('load resize', function(){ 
  var content_length = $(".view_less_area").text();
    //console.log($(window).width() + "   ----    " +content_length.length);
  // This will execute whenever the window is resized
  if($(window).width() < 768 && content_length.length > 150){
    if(!$(".see_less").is(":visible")) $(".see_more").css('display','block');
  } else if($(window).width() >= 768 && content_length.length > 620){
    if(!$(".see_less").is(":visible")) $(".see_more").css('display','block');
  } else {
     $(".see_more").css('display','none');
     $(".see_less").css('display','none');
  }
});
$(document).ready(function(e){

    get_graph_value();
    accordian();
    
    /*if(content_length.length > 620) { 
        $(".see_more").css('display','block');
    }
    else {
        $(".see_more").css('display','none');
    }*/

    var total_height = 0;
    var li_count = 0;
    if($("#marquee-vertical li").length > 3) {
        li_count = $("#marquee-vertical li").length;
        $('#marquee-vertical').marquee();
    }
    total_height = li_count * $("#marquee-vertical li:first").height();
    $(".list-wrpaaer").css('height',total_height);
    $('.st_facebook_large').click(function() { 
        FB.ui({
            method: "feed",
            name: "{{ cluster_details.0.cluster_name }}",
            link: "http://www.investak.in/cluster_list/{{ cluster_id }}",
            picture: "http://www.investak.in/static/media/images/cluster/{{ cluster_details.0.cluster_image }}"
        });
    });

    $('.st_linkedin_large').click(function(){
        var url = "http://www.investak.in/cluster_list/{{ cluster_id }}";
var title = "{{ cluster_details.0.cluster_name }}";
var text = "";
window.open('http://www.linkedin.com/shareArticle?mini=true&url='+encodeURIComponent(url)+'&title='+encodeURIComponent(title)+'&summary='+encodeURIComponent(text), '', 'left=0,top=0,width=650,height=420,personalbar=0,toolbar=0,scrollbars=0,resizable=0');
    });
    $('#mobile_table').DataTable( {
                   "paging":   false,
                    "ordering": false,
                    "info":     false,
                    "searching": false,
                    responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.childRowImmediate,
                        type: ''
                    }
                }} );
    $(".hoverPops").mouseenter(function(e){
        
        /* close current popup */
        $(".hoverPops").each(function(){
          $(this).next(".pophover").hide();
          if($('.pophover #feedback').length > 0){
            $('.pophover #feedback').remove();
            $(this).parent().find(".pophover").hide();
          }  
        })
        
        var co_code = $(this).attr('co-code');
        var exchange = $(this).attr('exchange');
        var cluster_id = '{{ cluster_id }}';
        var closest_ltp = $(this).closest("td").siblings(".ltp");
        var closest_mcap = $(this).closest("td").siblings(".mcap");

          $.ajax({
              type: "GET",
              url: "/frontend/popup_co_code/",
              async: false,
              cache: false,
              data: {cluster_id: cluster_id, co_code: co_code, exchange:exchange},
              success: function (response) {

                  if (parseFloat(response[0].one_month).toFixed(2) >= 0.00) {
                      one_month_span_class = "share_up1";
                      one_month_i_class = "fa fa-caret-up";
                  }
                  else {
                      one_month_span_class = "share_down1";
                      one_month_i_class = "fa fa-caret-down";
                  }

                  if (parseFloat(response[0].six_month).toFixed(2) >= 0.00) {
                      six_month_span_class = "share_up1";
                      six_month_i_class = "fa fa-caret-up";
                  }
                  else {
                      six_month_span_class = "share_down1";
                      six_month_i_class = "fa fa-caret-down";
                  }

                  if (parseFloat(response[0].one_year).toFixed(2) >= 0.00) {
                      one_year_span_class = "share_up1";
                      one_year_i_class = "fa fa-caret-up";
                  }
                  else {
                      one_year_span_class = "share_down1";
                      one_year_i_class = "fa fa-caret-down";
                  }
                  var trade_date = response[0].trade_date.split(" ");
                  var trade_time = trade_date[1].split(":");
                  var stock_time = '';
                  var present_trade_date = trade_date[0].split("/");
                  var monthNames = ["Jan", "Feb", "March", "Apr", "May", "June",
                      "July", "Aug", "Sept", "Oct", "Nov", "Dec"
                  ];
                  if(trade_time[0] == "EOD") {
                        stock_time = '';
                    }
                    else {
                        stock_time = trade_time[0]+":"+trade_time[1]+trade_date[2] + " IST";
                    }
                  $(".returs_area").html('');
                    var x=Math.round(parseFloat(response[0].market_cap),1);
                    x=x.toString();
                    var lastThree = x.substring(x.length-3);
                    var otherNumbers = x.substring(0,x.length-3);
                    if(otherNumbers != '') 
                        lastThree = ',' + lastThree;
                  var market_cap = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree;
                  var co_performance = response[0].company_performance;
                  $("#co_name").html(response[0].co_name+'<span style="font-size:12px;padding-top:8px;">'+monthNames[present_trade_date[0]-1]+", "+present_trade_date[2]+" "+stock_time+' </span><span id="co_price">Rs.'+parseFloat(response[0].price).toFixed(2)+'/-</span> ');
                  $(".returs_area").append('<p>Returns</p> <p>1 MO:<span class="'+one_month_span_class+'"><i class="'+one_month_i_class+'" aria-hidden="true"></i>'+parseFloat(response[0].one_month).toFixed(2)+'%</span></p> <p>6 MO:<span class="'+six_month_span_class+'"><i class="'+six_month_i_class+'" aria-hidden="true"></i>'+parseFloat(response[0].six_month).toFixed(2)+'%</span></p> <p>1 YO:<span class="'+one_year_span_class+'"><i class="'+one_year_i_class+'" aria-hidden="true"></i>'+parseFloat(response[0].one_year).toFixed(2)+'%</span></p>');
                  $("#spn_pe").html('P/E: <b> '+parseFloat(response[0].pe).toFixed(2)+'</b>');
                  $("#spn_mp").html(' Market Cap: <b>Rs.'+market_cap+'Cr. </b>');
                  $("#spn_yield").html('DIV YIELD : <b>'+ parseFloat(response[0].div_yield).toFixed(2) + '%</b>');
                  closest_ltp.text('Rs.'+parseFloat(response[0].price).toFixed(2)+'/-')
                  closest_mcap.text('Rs.'+market_cap+'Cr.')
                  //$("#p_comp_details").html(co_performance.slice(0,200));
                  $("#p_comp_details").html(co_performance);

                  pop_graph(cluster_id, co_code);

              },
              error: function (xhr) {
                  //alert("Error Occurred");
              }
          });


               var tgt= $(".stock-info").html();
               var inx = $(this).parent().parent().index();
               //alert(inx);
             $(this).parent().find('.pophover').append('<div id="feedback">'+tgt+'</div>');
             $(this).parent().find(".pophover").show();
    });
    $(".pophover").mouseleave(function(e){ /*.hoverPops*/
       $('.pophover #feedback').remove();
       $(this).parent().find(".pophover").hide();
    });

  $(".arows").find('a').click(function(event){
    //alert(222);
    event.preventDefault();
    $(".dropdown_area").show();
  });


  $(".drop_cls").click(function(event){
    event.preventDefault();
    $(".dropdown_area").hide();

  });

    $(".moftiBtn").click(function(e){
        var description = $("#description").val();
        var user_id = '{{ request.session.id }}';
        var cluster_id = '{{ cluster_id }}';

        $.ajax({
            type:"POST",
            url:"/frontend/user_comment/",
            data:{description:description,user_id:user_id,cluster_id:cluster_id,csrfmiddlewaretoken:'{{ csrf_token }}'},
            async:false,
            beforeFilter:function(){

            },
            success:function(data)
            {
                if(data==1)
                {
                    $("<span style='color:#0c0c0c;font-weight:bold;'>Comment Addedd Successfully</span>").insertAfter(".coment_box");
                    setTimeout(function(){ window.location.reload(); }, 2000);
                }
                else
                {
                    $("<span style='color:#f00;font-weight:bold;'>Comment Not Added</span>").insertAfter(".coment_box");
                    setTimeout(function(){ window.location.reload(); }, 2000);
                }

            },
            error:function(data)
            {

                alert("Comment Not Posted Due To Some Error");
            }
        });
    });

    if($(window).width() > 768) {
      $(".a_social").mouseenter(function(e){
            $(this).find('.amrita').show();
            
       });
         $(".a_social").mouseleave(function(e){
            $(this).find('.amrita').hide();
            
       });
    }
    else {
      $(".a_social").click(function(e){
        $(this).find('.amrita').toggle(function () {
            $(".description_area").css('top','18px');
        }, function () {
            $(".description_area").css('top','');
        });
      });
    }

    
       $(".a-fa-heart").click(function(e){
            var cluster_id = $(this).attr('cluster-id');
            var user_id = $(this).attr('user-id');
           var flag = 0;
           if(cluster_id && user_id)
            {
                $.ajax({
                    type:"POST",
                    url:"/frontend/watchCluster/",
                    data:{cluster_id:cluster_id,user_id:user_id,csrfmiddlewaretoken:'{{ csrf_token }}'},
                    async:false,
                    beforeSend:function()
                    {
                        $.blockUI({ message: '<img src="/static/investak/images/loader.gif" />'
                        });
                    },
                    success:function(data)
                    {
                        $.unblockUI();
                        flag = data[0].flag;
                        Notify(data[0].message, null, null, 'success');
                    },
                    error:function(xhr)
                    {
                        flag = data[0].flag;
                        Notify("Error Occurred", null, null, 'danger');

                    }
                });

                if(flag == 1) {
                    $(this).css({background:"#ffc71a",color:"#fff",border:"1px solid #ffc71a"});
                }
                else {
                    $(this).css({background:"#fff",color:"#999",border:"1px solid #999"});
                }
            }
       });
       /*Button Reply Comment*/

       $("#comment_description").keypress(function(e){
            if(e.which === 32 && e.target.selectionStart === 0) {
               return false;
           }
           else {
                if(e.which === 13) {
                var comment_desc = $.trim($(this).val());
                var name_regex = /<(.|\n)*?>/g;
                if(name_regex.test(comment_desc))
                {
                    alert("Please Enter Proper Text");
                }
                else {
                    comment_desc = comment_desc.replace(/</g, "&lt;").replace(/>/g, "&gt;");
                    var cluster_id = '{{ cluster_id }}';
                    var session_id = '{{ request.session.id }}';
                    if(comment_desc.length > 0) {
                        $.ajax({
                        type:"POST",
                        url:"/frontend/user_comment/",
                        async:false,
                        data:{comment_description:comment_desc,cluster_id:cluster_id,user_id:'{{ request.session.id }}',csrfmiddlewaretoken:'{{ csrf_token }}'},
                        success:function(response){ //alert(response);
                            if(response.length > 0) {
                                var user_image = '';
                                if (response[0].user_image == "") {
                                    user_image = '/static/investak/images/user_icon.jpg';
                                }
                                else {
                                    user_image = '/static/media/images/profile/'+response[0].user_image;
                                }
                               $('<div class="user_comments"><div class="img_area"> <a href="javascript void(0)">' +
                               '<img src="'+user_image+'"></a></div><div class="comments_txt_area">' +
                               '<div class="coment_txt_head">' +
                               '<p>'+response[0].user_name+',<span>'+response[0].comment_date+'</span></p></div>' +
                               '<div class="comment_txt">' +
                               '<p>'+response[0].comment_description+'</p>' +
                                response[0].edit_delete_details+''+
                               '</div></div></div>').prependTo(".comments_area");
                                $("#user_comments").html('');
                            }
                        },
                        error:function(xhr){
                            alert("Error Occurred");
                        }
                    });
                     $("#comment_description").val('');
                }
                }
                }
            }

       });
       $("#btnCmntReply").click(function(e){ //alert();
            $("#frmRplycmnt").submit();
        });

        $("#frmRplycmnt").validate({
            rules: {
                comment_description:{
                   required:true,
                   minlength: 10
                }
            },
            messages: {
                comment_description:{
                   required:"Please enter comment",
                   minlength:"comment would be atleast 10 characters"
                }
            },
            submitHandler:function(form){
                $.ajax({
                    type:"POST",
                    url:"/frontend/user_comment/",
                    async:false,
                    data:{comment_description:$("#comment_description").val(),cluster_id:$("#cmtcluster_id").val(),user_id:'{{ request.session.id }}',csrfmiddlewaretoken:'{{ csrf_token }}'},
                    success:function(response){ //alert(response);
                        if(response==0){
                           $("#cmtrplyError").html("Comment doesn't placed");
                        }else{
                          window.location.href='/cluster_list/'+response;
                          //$('#tabs li').addClass('active');
                          $("#User").parent().removeClass('active');
                          $("#User").parent().addClass('active');
                        }
                    },
                    error:function(xhr){
                        $("#cmtrplyError").html("Database error");
                    }
                })
            }
        });
    {% if cluster_stock_details %}
        {% for cd in cluster_stock_details %}
            pieGraphArr.push({y:'{{ cd.weigh|floatformat }}',legendText:'{{ cd.sector_name }}'});
            pieNameArr.push('{{ cd.pie_sector_name }}');
            pieValueArr.push('{{ cd.weigh|floatformat }}');
        {% endfor %}
       
        if(rem_weight > 0){
            pieGraphArr.push({y:rem_weight,legendText:'Remaining weightage'});
            pieNameArr.push('{{ cd.pie_sector_name }}');
            pieValueArr.push('{{ cd.weigh|floatformat }}');
        }
    {% endif %}

var pie_line = 0;
for(var i=0; i < pieNameArr.length; i++)
{

    pie_name = htmlDecode(pieNameArr[i]);
    //console.log(pie_name);
    wrd = pie_name.indexOf("<br>");
    pie_line = pie_line + 1;
    if(wrd != -1)
    {
        pie_line = pie_line + 1;
    }

}
pie_line = pie_line;

pie_height = 600;

if(pie_line > 10 && pie_line < 15)
{
    pie_height = 500;
}
if(pie_line < 10)
{
    pie_height = 400;
}
if(pie_line < 5)
{
    pie_height = 300;
}
//console.log('pie_line'+pie_line);
var pie_hgt = parseInt(pie_line * 50);
//$('#pie_chart_area').css('height',pie_hgt);
//$(".highcharts-6").css('height',pie_hgt);

var plot_series = [
     {% for cd in cluster_stock_details %}
         {
              name: htmlDecode('{{ cd.pie_sector_name }}'),
              y: {{ cd.weigh|floatformat }}
              //sliced: true
              //selected: true
          },
      {% endfor %}

];

if(rem_weight > 0){
  plot_series.push({name : "Remaining weightage", y : parseInt(rem_weight)});
}

$('#pie_chart_area').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie',
            marginTop: 10,
            height: pie_height
            //height: pie_hgt
            //defaultSeriesType: 'line'
            //marginBottom: 120,
            //marginLeft: 0
            //marginRight: 20,
        },
        legend: {
                layout: 'vertical',
                marginLeft: 0,
                marginRight: 0,
                width: '100%',
                //floating: true,
                align: 'center',
                //verticalAlign: 'bottom',
                 borderWidth: 0,
                fontSize:9,
                //fontWeight:200,
                 itemWidth: '100%',
                    maxHeight: 300
                   //y: 85
                    //y:pie_hgt
                //itemHeight: 20

             },
        credits:{enabled: false},
         exporting: {enabled: false},
        colors:[
                '#5485BC', '#AA8C30', '#5C9384', '#981A37', '#FCB319', '#86A033', '#614931', '#00526F', '#594266', '#cb6828', '#aaaaab', '#a89375', '#CCCCB3', '#C6F9D2', '#CCCCB3', '#CECEFF', '#FFCAFF', '#D0CCCD', '#FFCC99', '#FFCBB9', '#EAEC93', '#D7FBE6', '#FFCACA', '#00FF00'
                ],
        title: {
            //text: 'Browser market shares January, 2015 to May, 2015'
            text: ''
        },
        tooltip: {
            //pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            pointFormat: '<b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false,
                    style: {
                        color: '#666666',
                        fontSize: 10
                    }
                },
                showInLegend: true,

                //minSize: 80
                //height:"10%",
                size: "100%"

            }
        },
        series: [{
            name: '',
            colorByPoint: true,

            data: plot_series
            /*[
                   {% for cd in cluster_stock_details %}
                       {
                            name: htmlDecode('{{ cd.pie_sector_name }}'),
                            y: {{ cd.weigh|floatformat }}
                            //sliced: true
                            //selected: true
                        },
                    {% endfor %}

				] */

        }]
    }, function(chart) {
            $(".highcharts-6").css('height',pie_hgt);
            //chart.series[0].name = "{{ cluster_details.0.cluster_name }}";
            //chart.series[1].name=$("#select_exchange option:selected").text();
            chart.redraw();
            chart.legend.render();

    })
  $('#pie_chart_area').closest('img').hide();
    $("#select_exchange").change(function(e){
        exchange = $(this).val();
        select_value = $("#select_value").val();
        historical_graph('{{ cluster_id }}');
    });

    $("#select_value").change(function(e){
        exchange = $("#select_exchange").val();
        select_value = $(this).val();

        historical_graph('{{ cluster_id }}');
    });

$(".chart-li > a").click(function(e){
    var value = $(this).html();
    $.blockUI({ message: '<img src="/static/investak/images/loader.gif" />'});
    $(".chart-li > a").not(this).closest('li').removeClass('li-active-chart');
    $(this).closest('li').addClass('li-active-chart');
    var cluster_id = '{{ cluster_id }}';
    period = value;
    historical_graph(cluster_id);

});
$(".a_excel_downs").click(function(){
    $('.table_export').css('display','block');
   $('.table_export').tableExport({type:'excel',escape:'false'});
    $('.table_export').css('display','none');
});
 var dgd = $(window).width();
    //alert(dgd);
$(".see_more").click(function(e){
    //$(".view_less_area").hide();
    $(".view_less_area").css("height","auto");
    $(".see_less").show();
});
$(".see_less").click(function(e){

    if( dgd < 768){
        $(".view_less_area").css("height","105px");
    }else{
        $(".view_less_area").css("height","95px");
    }
});
});
 $(document).on('click','.similar > li', function(e) {
        var cluster_id = $(this).attr('data-id');
        if(cluster_id) {
            window.location.href="/cluster_list/"+cluster_id;
        }
    });
$(document).on('click','.delete_comment', function(e){
   var comment_id = $(this).attr('comment-id');
   if(comment_id) {
       if(confirm("Are You Sure You Want To Delete?")) {
           var flag = 0;
           $.ajax({
              type:"GET",
              url:"/frontend/delete_user_comment/",
              data:{comment_id:comment_id},
              async:false,
              beforeSend:function() {
                $.blockUI({ message: '<img src="/static/investak/images/loader.gif" />'});
              },
              success:function(response) {
                  $.unblockUI();
                if(response == 2) {
                    alert("This Comment Belongs To Other User");
                }
                else if(response == 0) {
                    alert("Comment Can Not Be Deleted");
                }
                else {
                    flag = 1;
                }
              },
              error:function(xhr) {
                $.unblockUI();
                alert("Error Occurred");
              }
           });
           if(flag == 1) {
               $(this).closest('.user_comments').remove();
           }
       }
   }
});

$(document).on('click','.edit_comment', function(e){
   var html_text = $(this).html();
   var comment_id = $(this).attr('comment-id');
   if(html_text == "EDIT") {
       comment_desc = $(this).siblings( "p" ).html();
       $(this).siblings( "p").replaceWith('<input class="form-control edit_comment_description"  name="edit_comment_description" value="'+comment_desc+'" placeholder="Edit Your Comment" type="text" comment-id="'+comment_id+'">');
       $(this).html('CANCEL');
   }
   else {
       $(this).siblings( ".edit_comment_description").replaceWith('<p>'+comment_desc+'</p>');
       $(this).html('EDIT');
   }
});
$(document).on('keypress','.edit_comment_description', function(e){
    if(e.which == 13) {
        var comment_id = $(this).attr('comment-id');
        var comment_description = $(this).val();
        var name_regex = /<(.|\n)*?>/g;
        if(name_regex.test(comment_description))
        {
            alert("Please Enter Proper Text");
        }
        else {
            comment_description = comment_description.replace(/</g, "&lt;").replace(/>/g, "&gt;");
        var flag = 0;
         if(e.which === 32 && e.target.selectionStart === 0) {
               return false;
           }
           else {
             if (e.which === 13) {
                 $.ajax({
                    type:"GET",
                    url:"/frontend/edit_user_comment/",
                    data:{comment_id:comment_id,comment_description:comment_description},
                    async:false,
                    beforeSend:function() {
                        $.blockUI({ message: '<img src="/static/investak/images/loader.gif" />'});
                    },
                    success:function(response) {
                       $.unblockUI();
                        if(response == 2) {
                            alert("This Comment Belongs To Other User");
                        }
                        else if(response == 0) {
                            alert("Comment Can Not Be Deleted");
                        }
                        else {
                            flag = 1;
                        }
                    },
                    error:function(xhr) {
                     alert("Error Occurred");
                    }
                 });

                 if(flag == 1) {
                    $(this).siblings( ".edit_comment").html('EDIT');
                    $(this).replaceWith('<p>'+comment_description+'</p>');
                 }
             }
         }
        }

    }
});
$(document).on('click','.span-stock-information',function(e){
    var stock_information = $(this).closest('tr').attr('stock-information');
    $("#myModalsymbol > .modal-dialog > .modal-content > .modal-body > p").html(stock_information);
    $("#myModalsymbol").modal('show');
});
function get_graph_value()
{
    var cluster_id = '{{ cluster_id }}';
    if(cluster_id)
    {
        $.ajax({
            type:"POST",
            url:"/frontend/cluster_list/get_graph_value/",
            async:false,
            data:{cluster_id:cluster_id, csrfmiddlewaretoken: '{{ csrf_token }}'},
            beforeSend:function() {
               $.blockUI({ message: '<img src="/static/investak/images/loader.gif" />'
    });
            },
            success:function(response)
            {
                var co_code = '';
                var weightage = '';
                for(var k=0;k<response.length;k++)
                {
                    if(k==response.length-1)
                    {
                        co_code = co_code + response[k].co_code;
                        weightage = weightage + response[k].weightage;
                    }
                    else
                    {
                        co_code = co_code +  response[k].co_code + ",";
                        weightage = weightage + response[k].weightage + ",";
                    }
                }
                historical_graph(cluster_id);
            },
            error:function(xhr)
            {
                alert("Error Occurred");
            }
        });
    }
}

function historical_graph(cluster_id)
{
    $.ajax({
       type:"GET",
       url:"/frontend/cluster_details_graph/",
       data:{cluster_id:cluster_id,period:period,exchange:exchange},
       async:false,
       beforeSend:function() {
        $.blockUI({ message: '<img src="/static/investak/images/loader.gif" />'
         });
       },
       success:function(response) {
            Investak_Historical(response);
       },
       error:function(xhr) {
           alert("Error Occurred");
       }
    });
}
function pop_graph(cluster_id,co_code)
{
    $.ajax({
        type:"GET",
        url:"/frontend/pop_graph/",
        data:{co_code:co_code,exchange:exchange,period:"1M"},
        success:function(response) {
            pop_up_graph(response);
        },
        error:function(xhr) {
           //alert("Error Occurred");
        }
    });
}
function pop_up_graph(response)
{

  var obj1 = $.parseJSON(JSON.stringify(response));
  var object = new Object();
  var object1 = new Object();
  pop_array = new Array();
  pop_array_idx = new Array();
  var obj = new Object();
  var obj_date = new Object();
  var min=-1, max=0;
   for(var i=0;i<obj1['response']['data']['Companylist']['company'].length;i++)
   {
       var str = obj1['response']['data']['Companylist']['company'][i].tradedate;
       str = str.replace("AM","");
       str = str.replace("12:00:00","");
       var myDate = str.split("/");
       var last_price = parseFloat(obj1['response']['data']['Companylist']['company'][i].last_price);
       obj.data = [new Date(myDate[2]+"/"+ myDate[0]+"/"+ myDate[1]).getTime(),parseFloat(last_price.toFixed(2))];
       obj_date.data = [new Date(myDate[2], myDate[0], myDate[1]).getTime()];
       //pop_array.push({x:new Date(myDate[2],myDate[0],myDate[1]) , y: parseFloat(last_price.toFixed(2))});
       if(min == -1) min = parseFloat(last_price.toFixed(2));
       if(parseFloat(last_price.toFixed(2)) > max) {
          max = parseFloat(last_price.toFixed(2)); 
       }
       if(parseFloat(last_price.toFixed(2)) < min) {
          min = parseFloat(last_price.toFixed(2)); 
       }
       pop_array.push(obj.data);
       pop_array_idx.push(obj_date.data);
   }
   pop_array.sort();
   pop_array_idx.sort();
   hover_graph(min,max);
}
function Investak_Historical(response)
{
   var obj1 = $.parseJSON(JSON.stringify(response));
    var object = new Object();
    var object1 = new Object();
    data_graph = new Array();
    data_graph_idx = new Array();

   for(var i=0;i<obj1['response']['data']['Companylist']['company'].length;i++)
   {
       var str = obj1['response']['data']['Companylist']['company'][i].date;
       str = str.replace("AM","");
       str = str.replace("12:00:00","");
       myDate = str.split("/");
       var newDate=myDate[1]+"/"+myDate[0]+"/"+myDate[2];

       if(select_value==1)
       {
            var cluster_value = parseFloat(obj1['response']['data']['Companylist']['company'][i].clustervalue);
            var index_value = parseFloat(obj1['response']['data']['Companylist']['company'][i].indexvalue);
            object.data = [new Date(myDate[2]+"/"+ myDate[0]+"/"+ myDate[1]).getTime(),parseFloat(cluster_value.toFixed(2))];
            object1.data = [new Date(myDate[2]+"/"+ myDate[0]+"/"+ myDate[1]).getTime(),parseFloat(index_value.toFixed(2))];

           axis =  {
            opposite:false,
            allowDecimals: false,
             labels: {
                formatter: function () {
                        return this.value;
                    }
            }
        };
           tool_tip = {
               valuePrefix: 'Rs.',
               valueSuffix: ' /-'
           };
       }
       else {
           var ret = parseFloat(obj1['response']['data']['Companylist']['company'][i].ret);
           var ret_idx =  parseFloat(obj1['response']['data']['Companylist']['company'][i].ret_idx);

            object.data = [new Date(myDate[2]+"/"+ myDate[0]+"/"+ myDate[1]).getTime(),parseFloat(ret.toFixed(2))];
            object1.data = [new Date(myDate[2]+"/"+ myDate[0]+"/"+ myDate[1]).getTime(),parseFloat(ret_idx.toFixed(2))];
           axis =  {
            opposite:false,
            allowDecimals: false,
             labels: {
                formatter: function () {
                        return this.value + "%";
                    }
            }
        };
            tool_tip = {
               valuePrefix: '',
               valueSuffix: ' %'
           };
       }


       data_graph.push(object.data);

       data_graph_idx.push(object1.data);

   }

    data_graph.sort();

    data_graph_idx.sort();
    display_graph();

}
function accordian() {
    $(".accrdian_head").each(function(index,Element){

        $(this).click(function(e){
        var count = 0;
        e.preventDefault();
      $(".inbox"+(index+1)).slideToggle(0,function(){
          count++;
          if(count == 1) {
              $("#inbox"+(index+1)).find('.fa').toggleClass("fa-minus fa-plus");
          }
      });
    });
    });
}
function display_graph()
{
      Highcharts.setOptions({
		lang: {
			thousandsSep: ','
		}
	});
     $('#historicalgraph').highcharts('StockChart', {
        credits: {
            enabled: false
        },
        exporting: {
         enabled: false
        },
         rangeSelector: {
            enabled: false
        },
        navigator: {
            enabled: false
        },
        scrollbar: {
           enabled: false
        },
        chart: {

        renderTo: 'historicalgraph',
        zoomType: 'x'
            },
           xAxis: {
        type: "datetime",
        tickInterval: 24 * 3600 * 1000,
        labels: {
            rotation: -45,
            align: 'right'
        },
        dateTimeLabelFormats: { // don't display the dummy year
            day: '%e. %b'
        },
        events: {
            setExtremes: function (e) {
                if(typeof e.min == 'undefined' && typeof e.max == 'undefined'){
                     console.log('reset zoom clicked');
                } else {
                     console.log('zoom-in');
                }
            }
        }
    },
     //------------------//
     /*legend: {
            enabled: true
        },*/
     //------------------//
         tooltip: tool_tip,
         legend: {
            borderColor: "#999999",
            borderRadius: 5,
            borderWidth: 2,
            lineHeight: 26,
            floating: false,
            itemDistance: 50,
            itemMarginTop: 10,
            itemMarginBottom: 10,
            symbolWidth: 30,
            /* symbolHeight: 12,
            symbolWidth: 12,
            symbolRadius: 6,*/
            /*itemStyle: {
                    color: '#ff0000',
                    fontFamily: 'MuseoS500'
            },*/
            enabled: true
        },
         yAxis: axis,
            series : [{
                data : data_graph
            },
            {
                data: data_graph_idx
            }
            ],
            plotOptions: {
            series: {
                pointRange: 24 * 3600 * 1000 // one day
            }
        }
        }, function(chart) {
            chart.series[0].name = "{{ cluster_details.0.cluster_name|safe }}";
            chart.series[1].name=$("#select_exchange option:selected").text();
            chart.redraw();
            chart.legend.render();


    });
    $('#historicalgraph').closest('img').hide();
    $.unblockUI();

}

function hover_graph(min_y_value,max_y_value) {
  /*console.log("min : "+min_y_value+" , max : "+max_y_value);*/
  $("#pop_details_left").highcharts("StockChart", {
        credits: {
            enabled: !1
        },
        exporting: {
            enabled: !1
        },
        rangeSelector: {
            enabled: !1
        },
        navigator: {
            enabled: false
        },
        scrollbar: {
           enabled: false
        },
        chart: {
            type: 'line',
            renderTo: "pop_details_left",
            zoomType: "x"
        },
        xAxis: {
            type: "datetime",
            //tickInterval: 24 * 3600 * 1000,
            labels: {
                rotation: -45,
                align: 'right',


                style: {
                    color: '#666666',
                    fontSize:'14px',
                    fontFamily: 'Verdana',
                    fontWeight:600
                }

            },
            dateTimeLabelFormats: { // don't display the dummy year
                day: "%e %b"
            }
        },
        yAxis: {
            min: parseInt(min_y_value), /*0*/ 
            max: parseInt(max_y_value+10),
            tickInterval: 10,
            opposite: !1,
            allowDecimals: !1,
            labels: {
                formatter: function() {
                    return this.value
                },

                style: {
                    color: '#666666',
                    fontSize:'14px',
                    fontFamily: 'Verdana',
                    fontWeight:600
                }

            }
        },
        series: [{
            data: pop_array
        }],
      plotOptions: {
        series: {
            pointRange: 24 * 3600 * 1000 // one day
        }
    }
    }, function(chart) {
            //chart.yAxis[0].linkedTo(0, 300);
    });



}
  </script>
<script>
function htmlDecode(input) {
    return String(input)
        .replace(/&amp;/g, '&')
        .replace(/&quot;/g, '"')
        .replace(/&lt;/g, '<')
        .replace(/&gt;/g, '>');
}



</script>

<section>
  <div class="container-fluid">
        <div class="row">

        <!--/.breadcrumb-area -->
            <div class="col-md-12">
                <div class="breadcrumb_area">
                <ol class="breadcrumb">
                  <!--<li class="breadcrumb-item"><a href="/user_dashboard/">Dashboard</a></li>-->
                  <li class="breadcrumb-item"><a href="/analyze/">Analyze</a></li>
                  <li class="breadcrumb-item active">{{ cluster_details.0.cluster_name }}</li>
                </ol>
                </div>
            </div>
      <!--/.breadcrumb-area -->

        <!--/. body left portion area -->
            <div class="left_section_fixed">
                <div class="body_section_area">

                    <div class="col-md-3">
                        <div class="row">
                          <div class="img_scetion">

                            <div class="image_area">
                                <img src="{% static "media/images/cluster/" %}{{ cluster_details.0.cluster_image }}">
                            </div>
                            <div class="social_network">
                               <a href="javascript:void(0)" class="a_social"><i class="fa fa-share-alt" aria-hidden="true"></i>
                                <i class='st_facebook_large amrita' displayText='Facebook' style="display: none!important;">
                                    <span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(/static/investak/images/facebook_32.png);"></span></span>
                                </i>
                                <i class='st_linkedin_large amrita' displayText='LinkedIn' style="display: none!important;">
                                    <span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(/static/investak/images/linkedin_32.png);"></span></span>
                                </i>

                                </a>

                                <a href="mailto:?subject=Take a look > > Investak - {{ cluster_details.0.cluster_name }}&body=I found this interesting idea on the Investak website. Take a look - I thought you might find it useful.%0D%0Ahttp://www.investak.in/cluster_list/{{ cluster_id }}"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="a-fa-heart" cluster-id="{{ cluster_id }}" user-id="{{ request.session.id }}" {% if watch_list_status > 0 %} style="background: #ffc71a none repeat scroll 0 0!important;color: #fff;border: 1px solid #ffc71a;" {% endif %} ><i class="fa fa-heart" aria-hidden="true" ></i></a>
                            </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="description_area">
                            <h1>{{ cluster_details.0.cluster_name }}</h1>
                            <span>Created by: {{ cluster_details.0.user_name }}</span>
                            <span>Date Created: {{ cluster_details.0.created_date }}</span>
                            <!--<span>Last Updated: 12/12/2015</span>-->

                                <div class="view_less_area">{{ cluster_details.0.cluster_desc|safe }}</div>
                             <a class="see_more" href="javascript:void(0)" style="display: none;">see more</a>
                            <a class="see_less" href="javascript:void(0)" style="display: none!important;">see less</a>

                            <!--<p class="view_more_area">The much talked about Goods & Services Tax, or GST, is a long overdue tax reform that is expected to be implemented by the next fiscal year. GST has been designed to replace the various central and state levies such as excise, value-added tax (VAT) and octroi and unite the country into a single market without state border distinctions. In other words, the new system plans to make inter-state transactions completely tax-neutral. The additional benefits of GST are removal of double taxation and a boost to the overall economic growth.
    According to some experts, the economic benefit of GST could be as much as ₹25,000 crores. The direct beneficiaries of the GST bill would be large players in the unorganised sectors such as manufacturers and logistic companies, including warehouse facilitators. The ‘Good and Services Tax’ Primer will identify companies that are most likely to benefit from the implementation of the tax reform over the next 3-5 years.
                            </p>-->

                            <!--<a class="see_more" href="#">see more</a>
                            <a class="see_less" href="#">see less</a>-->

                        </div>
                    </div>

                </div>

                <div class="body_section_area">
                  <!-----------Tabber area start ------------->
                    <div class="tabber_section">
                    <div id="exTab1">
                        <ul class="nav nav-tabs" id="tabs">
                            <li {% ifequal comment_id 0 %} class="active" {% else %} class="" {% endifequal %}><a href="#Repository" data-toggle="tab">Historical Graph</a></li>
                            <li {% if comment_id > 0 %} class="active" {% else %} class="" {% endif %}><a href="#User" data-toggle="tab">User Comments</a></li>
                        </ul>
            <!-- Tabs -->

            <!-- Tab Content -->
                        <div class="tab-content" style="display: block!important;">
                        <!-- Repo -->
                            <div class="tab-pane {% ifequal comment_id 0 %} active {% endifequal %}" id="Repository">
                              <!-- Repo Tabs --->
                                <ul class="nav nav-tabs" id="repoTabs">
                                    <li><a href="#repoInfo" data-toggle="tab">Historical</a></li>
                                    <!--<li class="chart-li"><a href="javascript:void(0)">W1</a></li>-->
                                    <li class="chart-li"><a href="javascript:void(0)">M1</a></li>
                                    <li class="chart-li"><a href="javascript:void(0)">M3</a></li>
                                    <li class="chart-li"><a href="javascript:void(0)">M6</a></li>
                                    <li class="chart-li li-active-chart"><a href="javascript:void(0)">Y1</a></li>
                                    <li class="chart-li"><a href="javascript:void(0)">Y3</a></li>
                                    <li class="chart-li"><a href="javascript:void(0)">Y5</a></li>
                                    <li class="chart-li"><a href="javascript:void(0)">INC</a></li>
                                </ul>

                                <div class="drops_area">
                                  <div class="form-control">
                                    <select id="select_exchange" name="select_exchange">
                                      <option value="NSE">NIFTY</option>
                                      <option value="BSE">SENSEX</option>
                                    </select>
                                    </div>

                                    <div class="form-control">
                                    <select id="select_value" name="select_value">
                                      <option value="2">RETURN</option>
                                      <option value="1">VALUE</option>
                                    </select>
                                    </div>

                                </div>
                              <!-- Repo Tabs -->

                                <div class="tab-content" style="display: block!important;">
                                 <!--Overview section start-->
                                  <div class="tab-pane active" id="repoInfo">
                                      <!--Graph section start-->
                                      <div class="graph_area_full">

                                          <div class="graphs" id="historicalgraph">
                                          <img src="{% static "investak/images/loader1.gif" %}" style="max-width:60px;max-height:60px;" width="60px"  height="60px" >
                                          </div>
                                      </div>
                                      <!--Graph section end-->

                                    <!---table with area start (Weight Segment & Stocks)-->

                                      <div class="cluster_listing_area">

                                          <div class="cluster_listing_view_area" >
                                            <div class="cluster_list">

                                                <table class="table" id="desktop_table">
                                                          <thead>
                                                              <tr>
                                                                  <th>Weight</th>
                                                                  <th>Segment & Stocks</th>
                                                                  <th>Symbol</th>
                                                                  <th>Price</th>
                                                                  <th>Market Cap</th>
                                                                  <th>1 Year Return</th>
                                                              </tr>
                                                          </thead>
                                                          {% if cluster_stock_details %}
                                                              {% for csd in cluster_stock_details %}
                                                                  {% with forloop.counter as counter %}

                                                                  <tbody> 
                                                                      <tr class="accrdian_head" id="inbox{{ counter }}">
                                                                          <td>{{ csd.weigh|floatformat }}%</td>
                                                                          <td colspan="5">{{ csd.sector_name }}<a href="javascript:void(0)" class="arrowsClick">
                                                                          {% ifequal counter 1 %} <i aria-hidden="true" class="fa fa-minus"></i> {% else %} <i aria-hidden="true" class="fa fa-plus"></i> {% endifequal %}</a></td>

                                                                      </tr>
                                                                      {% for sd in csd.stock_details %}
                                                                          <tr class="inbox{{ counter }} pds odds_evebs" {% ifequal counter 1 %} style="" {% else %} style="display: none!important;" {% endifequal %} stock-information="{{ sd.0.stock_information }}">
                                                                              <td>{{ sd.0.weightage|floatformat:2 }}%</td>
                                                                              <td><a href="/stock_details/{{ sd.0.co_code }}/{{ cluster_id }}" class="hoverPops" co-code="{{ sd.0.co_code }}" exchange="{{ sd.0.exchange }}" >{{ sd.0.co_name }}</a>
                                                                                  <div class="pophover"></div>
                                                                              </td>
                                                                              <td>{{ sd.1.symbol }}&nbsp;<br/><span class="span-stock-information" style="cursor:pointer; text-decoration: underline; padding-left:5px; font-size:12px;">see more..</span></td>
                                                                              <td class="ltp">Rs. {{ sd.0.ltp|floatformat:2 }}</td>
                                                                              <!--td>{{ sd.0.mcap|div:100|floatformat:2 }}B</td-->
                                                                              <td class="mcap">Rs. {{ sd.0.mcap }}Cr.</td>
                                                                              {% if sd.0.r1_yearret > 0.00 %}
                                                                                  <td class="share_up1"><i class="fa fa-caret-up" aria-hidden="true"></i>{{ sd.0.r1_yearret|floatformat:2 }}%</td>
                                                                              {% else %}
                                                                                  <td class="share_down1"><i class="fa fa-caret-down" aria-hidden="true"></i>{{ sd.0.r1_yearret|floatformat:2 }}%</td>
                                                                              {% endif %}
                                                                          </tr>
                                                                      {% endfor %}
                                                                  </tbody>
                                                                  {% endwith %}
                                                              {% endfor %}
                                                          {% endif %}



                                                      </table>

                                                    <table id="mobile_table">
                                                      <thead>
                                                          <tr>
                                                              <th>Stocks</th>
                                                              <th class="text_right">Segments</th>
                                                              <th>Symbol</th>
                                                              <th>Price</th>
                                                              <th>Market Cap</th>
                                                              <th>1 Year Return</th>
                                                              <th>Weight</th>
                                                          </tr>
                                                      </thead>
                                                      {% if cluster_stock_details %}
 

                                                              <tbody>
                                                              {% for csd in cluster_stock_details %}
                                                              {% with forloop.counter as counter %}
                                                                  {% for sd in csd.stock_details %}
                                                                      <tr stock-information="{{ sd.0.stock_information }}">
                                                                          <td><div><a href="/stock_details/{{ sd.0.co_code }}/{{ cluster_id }}"  co-code="{{ sd.0.co_code }}" exchange="{{ sd.0.exchange }}">{{ sd.0.co_name }}</a></div></td>
                                                                          <td class="text_right">{{ csd.sector_name }}<br/><span class="span-stock-information" style="cursor:pointer; padding-left:5px; text-decoration: underline; font-size:12px;">see more..</span></td>
                                                                          <td>{{ sd.1.symbol }}&nbsp;<!--span class="glyphicon glyphicon-share span-popup-graph"  style="cursor:pointer; padding-left:5px; font-size:12px;"></span--></td>
                                                                          <td>Rs. {{ sd.0.ltp|floatformat:2 }}</td>
                                                                          <!--td>{{ sd.0.mcap|div:100|floatformat:2 }}B</td-->
                                                                          <td class="ltp">Rs. {{ sd.0.mcap }}Cr.</td>
                                                                          {% if sd.0.r1_yearret > 0.00 %}
                                                                              <td><div class="share_up1"><i class="fa fa-caret-up" aria-hidden="true"></i>{{ sd.0.r1_yearret|floatformat:2 }}%</div></td>
                                                                          {% else %}
                                                                              <td><div class="share_down1"><i class="fa fa-caret-down" aria-hidden="true"></i>{{ sd.0.r1_yearret|floatformat:2 }}%</div></td>
                                                                          {% endif %}
                                                                          <td class="mcap">{{ sd.0.weightage|floatformat:2 }}%</td>
                                                                      </tr>
                                                                  {% endfor %}
                                                              {% endwith %}
                                                          {% endfor %}
                                                              </tbody>

                                                      {% endif %}
                                                    </table>
                                              </div>

                                              <div class="excel_downs">
                                                <a href="javascript:void(0)" class="a_excel_downs"><img src="{% static "investak/images/excel_icon.png" %}">Download Excel Worksheet</a>
                                              </div>
                                          </div>

                                          <div class="pie_chart_area_log">
                                            <div class="pie_chart_area" id="pie_chart_area" style="width:100%; margin-top:0px; padding-top:0px; border:0px solid #ff0000;">
                                                <img src="{% static "investak/images/loader1.gif" %}" style="max-width:60px;max-height:60px;" width="60px"  height="60px" >
                                            </div>

                                          </div>

                                      </div>

                                     <!---table with area start (Weight Segment & Stocks)-->



                                    </div>
                                    <!--Overview section end-->

                                </div>
                                 
                            </div>
                            
                            <!--User Comment section start-->
                            <div class="tab-pane {% if comment_id > 0 %} active {% endif %}"  id="User">
                              <div class="user_comments_area">
                                  <h3>What do you think about this cluster?</h3>
                                  <div class="comment_box">
                                    <input type="text" class="form-control" id="comment_description" name="comment_description" value="" placeholder="Post your Comments">
                                  </div>

                                    <div class="comments_area">
                                        {% if comment_details %}
                                           {% for cd in comment_details %}
                                               <div class="user_comments">
                                                    <div class="img_area">
                                                        {% if cd.user_list.profile_img == ""  %}
                                                        <a href="javascript:void(0)"><img src="{% static "investak/images/user_icon.jpg" %}"></a>
                                                        {% else %}
                                                        <a href="javascript:void(0)"><img src="{% static "media/images/profile/" %}{{ cd.user_list.profile_img }}" width="37px" height="37px"></a>
                                                        {% endif %}
                                                    </div>

                                                    <div class="comments_txt_area">
                                                        <div class="coment_txt_head"><p>{{ cd.user_list.full_name }}, <span>{{ cd.comment_date }}</span></p></div>
                                                        <div class="comment_txt">
                                                            <p>{{ cd.comment_description }}
                                                            </p>
                                                            {% ifequal request.session.id cd.user_list.id %}
                                                            <a href="javascript:void(0)" class="edit_comment" comment-id="{{ cd.comment_id }}">EDIT</a>&nbsp;&nbsp;<a href="javascript:void(0)" class="delete_comment" comment-id="{{ cd.comment_id }}">DELETE</a>
                                                            {% endifequal %}
                                                        </div>
                                                    </div>

                                                </div>
                                           {% endfor %}

                                        {% else %}
                                            <div class="user_comments" >
                                                <p align="center" id="user_comments">NO COMMENT FOUND</p>
                                            </div>
                                        {% endif %}

                                    </div>

                                    

                                    <!-- <a data-toggle="modal" data-target="#replymodelpops" href="javascript:void(0)">COMMENT</a> -->
                                </div>
                            </div>
                            <!--User Comment section start-->
                        </div>



                    </div>
                    </div>
                    <!-----------Tabber area End ------------->
                   
                </div>

            </div>
         <!--/. body left portion area -->
         <!--/. body right portion area -->
            <div class="right_section_fixed">

                <div class="body_section_area">
                    <div class="views_share">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td>Index<div class="questios"><span><i class="fa fa-question" aria-hidden="true"></i></span>
                                                <div class="despQust despOutNew">
                                                <!--<h4>Heading</h4>-->
                                                A cluster index shows a cluster’s performance. It is set to 1000 at its inception date and moves up/down daily. If it is above 1000, it means that the cluster has given positive returns since inception and is shown in green and if below 1000, the cluster has given negative returns since inception and is shown in red.
                                                </div>
                                                </div></td>
                                    {% if cluster_details.0.index_val_diff > 0 %}
                                        <td class="share_up"><i class="fa fa-caret-up" aria-hidden="true"></i>{{ cluster_details.0.indexvalue|floatformat:2}}</td>
                                    {% else %}
                                        <td class="share_down"><i class="fa fa-caret-down" aria-hidden="true"></i>{{ cluster_details.0.indexvalue|floatformat:2}}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>1 Month Return</td>
                                    {% if cluster_details.0.one_month_return >= 0.00 %}
                                        <td class="share_up"><i class="fa fa-caret-up" aria-hidden="true"></i>{{ cluster_details.0.one_month_return|floatformat:2}}%</td>
                                    {% else %}
                                        <td class="share_down"><i class="fa fa-caret-down" aria-hidden="true"></i>{{ cluster_details.0.one_month_return|floatformat:2}}%</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>1 Year Return</td>
                                    {% if cluster_details.0.one_year_return >= 0.00 %}
                                        <td class="share_up"><i class="fa fa-caret-up" aria-hidden="true"></i>{{ cluster_details.0.one_year_return|floatformat:2}}%</td>
                                    {% else %}
                                        <td class="share_down"><i class="fa fa-caret-down" aria-hidden="true"></i>{{ cluster_details.0.one_year_return|floatformat:2}}%</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>Dividend Yield<div class="questios"><span><i class="fa fa-question" aria-hidden="true"></i></span>
                                                <div class="despQust">
                                                <!--<h4>Heading</h4>-->
                                                The dividend yield for a cluster is calculated as a weighted composite of the cash dividends for the stocks in the cluster. So for example: a dividend yield of 5% indicates that if a person had invested Rs.100 in the cluster one year back, he would have got Rs.5 as dividends.
                                                </div>
                                                </div></td>
                                    {% if cluster_details.0.one_year_div_yield >= 0.00 %}
                                        <td style="color:#000!important;"><i class="fa" aria-hidden="true"></i>{{ cluster_details.0.one_year_div_yield|floatformat:2}}%</td>
                                    {% else %}
                                        <td style="color:#000!important;"><i class="fa" aria-hidden="true"></i>{{ cluster_details.0.one_year_div_yield|floatformat:2}}%</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>Min. Investment<div class="questios"><span><i class="fa fa-question" aria-hidden="true"></i></span>
                                                <div class="despQust">
                                                <!--<h4>Heading</h4>-->
                                                This is the minimum amount of investment required to invest in the cluster in the prescribed weights. Based on the stock price of each stock in a cluster, and their prescribed weights, we calculate a minimum amount that allows you to buy all stocks at the prescribed weights.
                                                </div>
                                                </div></td>
                                    <td style="color:#000!important;">Rs. {{ new_min_investment_value|floatformat:2 }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <a class="buy_cluster_btn" href="/buy_cluster/{{ cluster_id }}">Buy cluster </a>
                    <a class="edit_cluster_btn" href="/edit_cluster/{{ cluster_id }}">Edit cluster </a>
                </div>

                <!------- Summary section area start ------>
                <div class="body_section_area">
                   <div class="summry_area">
                      <h2>Summary</h2>
                        <p class="summry_area_p">STOCKS IN cluster<br>
                        <span>{{ total_cluster_stock }}</span>
                        </p>

                        <p class="summry_area_p">REBALANCING FREQUENCY<br>
                        <span>
                        {% if cluster_details.0.rebal_freq %}
                            {{ cluster_details.0.rebal_freq }}
                        {% else %}
                            NA
                        {% endif %}
                        </span>
                        </p>

                        <ul class="navs_simi">
                          <h3>Research</h3>
                            <li><p>{{ cluster_details.0.research_desc }}</p></li>

                        </ul>

                        <ul class="navs_simi2">
                          <h3>Weight</h3>
                            <li><p>{{ cluster_details.0.weight_desc }}</p></li>

                        </ul>

                   </div>

                </div>
                <!------- Summary section area End ------>
                <!------- Similar section area start ------>
                {% if s_cluster %}
                <div class="body_section_area">
                   <div class="summry_area">
                      <h2>Similar Clusters </h2>
                        {% if s_cluster %}
                        <div class="block-hdnews">
                        <div class="list-wrpaaer">
                        <ul class="similar" id="marquee-vertical">
                            {% for sc in s_cluster %}
                          <li style="cursor: pointer!important;" data-id="{{ sc.cluster_id }}">
                              <div class="imgs"><img src="{% static "media/images/cluster/" %}{{ sc.cluster_image }}" width="100%"></div>
                                <div class="info">
                                    <h4>{{ sc.cluster_name }}</h4>
                                    {% if sc.one_year_rate < 0.00 %}
                                    <p class="share_down1"><i class="fa fa-caret-down" aria-hidden="true"></i>{{ sc.one_year_rate|floatformat:2 }}%</p>
                                    {% else %}
                                    <p class="share_up1"><i class="fa fa-caret-up" aria-hidden="true"></i>{{ sc.one_year_rate|floatformat:2 }}%</p>
                                    {% endif %}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        </div>
                        </div>
                        {% endif %}
                   </div>
                </div>
                {% endif %}
                <!------- Similar section area start ------>

            </div>
         <!--/. body right portion area -->

      </div>



  </div>
</section>
<table class="table_export" style="display: none!important;">
  <thead>
      <tr>
          <th>Segment & Stocks</th>
          <th>Symbol</th>
          <th>Price</th>
          <th>Market Cap</th>
          <th>1 Year Return</th>
          <th>Weight</th>
      </tr>
  </thead>
  {% if cluster_stock_details %}
      {% for csd in cluster_stock_details %}
          {% with forloop.counter as counter %}

          <tbody>
              <tr id="inbox{{ counter }}">
                  <td colspan="5">{{ csd.sector_name }}</td>
              </tr>
              {% for sd in csd.stock_details %}
                  <tr class="inbox{{ counter }}">
                      <td>{{ sd.0.co_name }}

                      </td>
                      <td>{{ sd.1.symbol }}</td>
                      <td class="ltp">Rs. {{ sd.0.ltp|floatformat:2 }}</td>
                      <!--td>{{ sd.0.mcap|div:100|floatformat:2 }}B</td-->
                      <td class="mcap">Rs. {{ sd.0.mcap|floatformat:2 }}Cr.</td>
                      {% if sd.0.r1_yearret > 0.00 %}
                          <td>{{ sd.0.r1_yearret|floatformat:2 }}%</td>
                      {% else %}
                          <td>{{ sd.0.r1_yearret|floatformat:2 }}%</td>
                      {% endif %}
                      <td>{{ sd.0.weightage|floatformat:2 }}%</td>
                  </tr>
              {% endfor %}
          </tbody>
          {% endwith %}
      {% endfor %}
  {% endif %}
</table>




{% include 'inner_footer.html' %}
<div class="stock-info" style="display:none;">
    <h5 id="co_name"></h5>
    <div class="pop_details">
    	<div class="pop_details_left" id="pop_details_left" ><img class="center_gif" src="/static/investak/images/loader2.gif"></div>
        <div class="pop_details_right">
            <div class="returs_area">

            </div>
        </div>
    </div>

    <div class="small-box-1">
        <span style="width:33.33%; float:left; font-size: 14px;" id="spn_pe"> P/E: <b> 395.50</b> </span>
        <span style="width:43.33%; float:left; font-size: 14px;" id="spn_mp"> Market Cap: <b>327.2B </b></span>
        <span style="width:23.33%; text-align: right; float:left; font-size: 14px;" id="spn_yield">DIV YIELD : --</span>
    </div>
    <div class="stock-contant">
        <p id="p_comp_details">

        </p>
        <!-- <a href="#" style='font-size: 11px; margin-top: 5px'> See more details</a> -->
    </div>

</div>

<!--REPLY MODAL START-->
<div id="replymodelpops" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i aria-hidden="true" class="fa fa-times"></i></button>
        <h4 class="modal-title">Reply Comment</h4>
      </div>
      <div class="modal-body">
         <div id="cmtrplyError"></div>
        <form role="form" name="frmRplycmnt" id="frmRplycmnt" method="post" action="">{% csrf_token %}
            <input type="hidden" name="cmtcluster_id" id="cmtcluster_id" value="{{ cluster_details.0.cluster_id }}">
            <div class="form-group">
                <textarea name="comment_description" id="comment_description" class="form-control" placeholder="Reply Comments....." rows="5"></textarea>
            </div>

        </form>


      </div>
      <div class="modal-footer">

        <div class="col-md-3 pull-right"><button type="submit" class="btn mysubmit_btn_cnl">Cancel</button></div>
    <div class="col-md-3 pull-right"><button type="submit" class="btn mysubmit_btn" id="btnCmntReply" >Submit</button></div>
      </div>
    </div>

  </div>
</div>

<!--REPLY MODAL END-->

<!-- Modal -->
<div id="myModalsymbol" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Stock Information</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        &nbsp
      </div>
    </div>

  </div>
</div>