{% load staticfiles %}
<section class="footer_section_area">
    
    <div class="container">
        
        <div class="col-md-12">
            <div class="row">
            
                <div class="col-md-2 col-xs-6">
                    <div class="ft_menu_arae">
                        <h2>Company</h2>
                        
                        <div class="menu_area">
                            {% if request.session.id %}
                            <ul>
                                <li><a href="/user_dashboard/">Dashboard</a></li>
                                <li><a href="/analyze/">Analyze</a></li>
                                <li><a href="/customize/">Customize</a></li>
                                <li><a href="/portfolio/">Portfolio</a></li>
                                <li><a href="/#contactus">contact us</a></li>                               
                            </ul>
                            {% else %}
                            <ul>
                                <li><a href="/#aboutus">about us</a></li>
                                <li><a href="/#Analyze">Approach</a></li>
                                <li><a href="/#markit2">testimonials</a></li>
                                <li><a href="/#team">team</a></li>
                                <li><a href="/#partners">partners</a></li>
                               
                            </ul>
                            {% endif %}
                        </div>
                       
                    </div>
                </div>
                
                <div class="col-md-2 col-xs-6">
                    <div class="ft_menu_arae">
                        <h2>Resources</h2>
                        <div class="menu_area">
                            <ul>
                               <!-- <li><a href="/#contactus">contact us</a></li> -->   
                               <li><a href="/faq/">FAQ</a></li>       
                               <li><a href="/news/">newsroom</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3 col-xs-12">
                    <div id="subscribe">
                        <h2>Contact</h2>
                        {% if request.session.id %}
                        {% else %}
                         <form name="frmSubscribe" id="frmSubscribe" method="post">{% csrf_token %}
                         
                         <div class="col-md-10">
                          <span class="" id="mssg"></span> 
                         </div>

                        <div class="input-group col-md-10 ">
                        <input type="text" id="subscribe_email" name="subscribe_email" class="search-query form-control" placeholder="Enter Your e-mail address">
                        </div>
                        <button class="btn-default subscribe_btn">Subscribe</button>
                        </form>
                        {% endif %}
                        <a href="#"><i aria-hidden="true" class="fa fa-envelope"></i>{{AllEditSetList.0.email}}</a>
                        <a href="#"><i aria-hidden="true" class="fa fa-phone"></i>{{AllEditSetList.0.phone}}</a>
                    </div>
                </div>
                
                <div class="col-md-5 col-xs-12">
                    <div class="terms_area">
                        <p>{{AllEditSetList.0.footer_copyright}}<br/>
                            {{AllEditSetList.0.footer_sub_heading}} </p>
                        <span>
                        {{AllEditSetList.0.about_footer}} 
                        </span>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>

</section>
</div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92070927-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
<!-- END BODY -->
</html>
<div id="modalChangePwd" class="modal fade modaloverall" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body" style="padding:10px 25px;">

       <form role="form" name="frmChngPwd" id="frmChngPwd" method="post" action="">{% csrf_token %}

            <div class="form-group label-floating is-empty">
            <label for="newpassword" class="control-label">Old Password</label>
            <input type="password" class="form-control" id="old_password" name="old_password">
            </div>

            <div class="form-group label-floating is-empty">
            <label for="newpassword" class="control-label">New Password</label>
            <input type="password" class="form-control" id="newpassword" name="newpassword">
            </div>

            <div class="form-group label-floating is-empty">
            <label for="confirmpassword" class="control-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" >
            </div>

        </form>


      </div>
      <div class="modal-footer">

        <div class="col-md-3 pull-right"><button type="submit" data-dismiss="modal" class="btn mysubmit_btn_cnl_am">Cancel</button></div>
        <div class="col-md-3 pull-right"><button type="submit" class="btn mysubmit_btn_Am" id="btnChnPwd">Submit</button></div>

      </div>
    </div>

  </div>
</div>
<!--//////////////////////Change Password Modal End//////////////////////////-->

<!--/////////////////////Change Profile Modal start///////////////////////////-->
<div id="modalChangeProfile" class="modal fade modaloverall" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      
      <div class="modal-body">

       <form role="form" name="frmChngProfile" id="frmChngProfile" enctype="multipart/form-data" method="post" action="">{% csrf_token %}
            
            <div class="col-md-4">
           
            <div class="fileUpload_user btn btn-primary certify">
                <span class="show_img"></span>
                <input type="file" name="profile_img" id="profile_img" class="upload" />
                <!--<input name="profile_img" id="profile_img" class="upload valid" aria-invalid="false" type="file">-->
                <div ></div>
            </div>

            </div>

            <div class="col-md-8" style="margin-bottom:20px;">

                <input type="hidden" name="hidden_old_profile_img" id="hidden_old_profile_img" value="{{ LgnUserDetailsList.0.profile_img }}" />
                <input type="hidden" name="hidden_new_profile_img" id="hidden_new_profile_img"  />
                <div class="form-group" style="margin-top:0px;">
                <label for="full_name" class="control-label" style="font-size:16px;">Name</label>
                <input type="text" class="form-control" id="full_name" name="full_name" value="{{LgnUserDetailsList.0.full_name}}" onblur="set_default_fullname();" />
                <input type="hidden" name="hid_full_name" id="hid_full_name" value="{{LgnUserDetailsList.0.full_name}}" />
                <span class="error" id="error_full_name" style="font-weight:400; color:#ff0000; display:none;">Please enter name</span>
                <input type="hidden" id="hidkey" name="hidkey" value="" />
                </div>

                <div class="form-group label-floating is-empty">
                <label id="datelabelid" for="dob" class="control-label" style="top: -35px;">Date of Birth(dd/mm/yyyy)</label>
                <input type="text" class="form-control datepicker1" id='dob' name="dob" value="{{LgnUserDetailsList.0.dob}}" readonly />
                <input type="hidden" name="hid_dob" id="hid_dob" value="{{LgnUserDetailsList.0.dob}}" />
                <input type="hidden" name="hid_dob_value" id="hid_dob_value" value="{{LgnUserDetailsList.0.dob}}" />
                <span class="error" id="error-dob"></span>
                </div>

                <div id="profile_loaderdiv" style="margin:0; padding:0; text-align:left; display:none;"><img src="{% static "investak/images/loader2.gif" %}"></div>
            </div>

            

        </form>


      </div>
      <div class="modal-footer">

        <div class="col-md-3 pull-right"><button type="submit" data-dismiss="modal" class="btn mysubmit_btn_cnl_am" onclick="clear_value();">Cancel</button></div>
        <div class="col-md-3 pull-right"><button type="submit" class="btn mysubmit_btn_Am" id="btnChngProfile">Submit</button></div>

      </div>
    </div>

  </div>
</div>
<!--//////////////////////Change Profile Modal End//////////////////////////-->
<div class="modal fade bs-example-modal-lg" id="user_profile_details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">User Information(LIVE)</h4>
      </div>
      <div class="modal-body">
            <div class="row">
                <div class="col-md-12 col-md-6">
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>Dept. Name</label></div>
                        <div class="col-sm-6 edit_col">{{user_profile_details_arr.0.dpname}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>Address</label></div>
                        <div class="col-sm-6 edit_col">{{user_profile_details_arr.0.addr}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>Bank Address</label></div>
                        <div class="col-sm-6 edit_col">{{user_profile_details_arr.0.bankaddr}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>Depo</label></div>
                        <div class="col-sm-6 edit_col">{{user_profile_details_arr.0.depo}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>bbname</label></div>
                        <div class="col-sm-6 edit_col">{{user_profile_details_arr.0.bbname}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>celladr</label></div>
                        <div class="col-sm-6 edit_col">{{user_profile_details_arr.0.celladr}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>bankname</label></div>
                        <div class="col-sm-6 edit_col">{{user_profile_details_arr.0.bankname}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>offcaddr</label></div>
                        <div class="col-sm-6 edit_col">{{user_profile_details_arr.0.offcaddr}}</div>
                    </div>
                </div>
                <div class="col-md-12 col-md-6">
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>bsePcode</label></div>
                        <div class="col-sm-6 edit_col">{{user_profile_details_arr.0.bsePcode}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>dpid</label></div>
                        <div class="col-sm-6 edit_col">{{user_profile_details_arr.0.dpid}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>dpnum</label></div>
                        <div class="col-sm-6 edit_col">{{user_profile_details_arr.0.dpnum}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>nsePcode</label></div>
                        <div class="col-sm-6 edit_col">{{user_profile_details_arr.0.nsePcode}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>bankaccid</label></div>
                        <div class="col-sm-6 edit_col">{{user_profile_details_arr.0.bankaccid}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>email</label></div>
                        <div class="col-sm-6 edit_col">{{user_profile_details_arr.0.email}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>pan</label></div>
                        <div class="col-sm-6 edit_col">{{user_profile_details_arr.0.pan}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>name</label></div>
                        <div class="col-sm-6 edit_col">{{user_profile_details_arr.0.name}}</div>
                    </div>
                </div>
            </div>
      </div>
     <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
      -->
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="user_account_details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Account Information(LIVE)</h4>
      </div>
      <div class="modal-body">
            <div class="row">
                <div class="col-md-12 col-md-6">
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>bankAddres</label></div>
                        <div class="col-sm-6 edit_col">{{account_profile_details_arr.0.bankAddres}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>bankName</label></div>
                        <div class="col-sm-6 edit_col">{{account_profile_details_arr.0.bankName}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>dobAccount</label></div>
                        <div class="col-sm-6 edit_col">{{account_profile_details_arr.0.dobAccount}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>cellAddr</label></div>
                        <div class="col-sm-6 edit_col">{{account_profile_details_arr.0.cellAddr}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>accountStatus</label></div>
                        <div class="col-sm-6 edit_col">{{account_profile_details_arr.0.accountStatus}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>bankAccountNo</label></div>
                        <div class="col-sm-6 edit_col">{{account_profile_details_arr.0.bankAccountNo}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>emailAddr</label></div>
                        <div class="col-sm-6 edit_col">{{account_profile_details_arr.0.emailAddr}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>bankBranchName</label></div>
                        <div class="col-sm-6 edit_col">{{account_profile_details_arr.0.bankBranchName}}</div>
                    </div>
                </div>
                <div class="col-md-12 col-md-6">
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>exchEnabled</label></div>
                        <div class="col-sm-6 edit_col">{{account_profile_details_arr.0.exchEnabled}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>accountType</label></div>
                        <div class="col-sm-6 edit_col">{{account_profile_details_arr.0.accountType}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>address</label></div>
                        <div class="col-sm-6 edit_col">{{account_profile_details_arr.0.address}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>panNo</label></div>
                        <div class="col-sm-6 edit_col">{{account_profile_details_arr.0.panNo}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>accountName</label></div>
                        <div class="col-sm-6 edit_col">{{account_profile_details_arr.0.accountName}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>accountId</label></div>
                        <div class="col-sm-6 edit_col">{{account_profile_details_arr.0.accountId}}</div>
                    </div>
                    
                </div>
            </div>
      </div>
     <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
      -->
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="user_holdings_details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">User holdings(LIVE)</h4>
      </div>
      <div class="modal-body">
            <div class="row">
                <div class="col-md-12 col-md-6">
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>BSE Holding</label></div>
                        <div class="col-sm-6 edit_col">{{holding_arr.0.TotalBSEHoldingValue}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>NSE Holding</label></div>
                        <div class="col-sm-6 edit_col">{{holding_arr.0.TotalNSEHoldingValue}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>MCX Holding</label></div>
                        <div class="col-sm-6 edit_col">{{holding_arr.0.TotalMCXHoldingValue}}</div>
                    </div>
                </div>
                <div class="col-md-12 col-md-6">
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>YSX Holding</label></div>
                        <div class="col-sm-6 edit_col">{{holding_arr.0.TotalYSXHoldingValue}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 edit_col"><label>CSE Holding</label></div>
                        <div class="col-sm-6 edit_col">{{holding_arr.0.TotalCSEHoldingValue}}</div>
                    </div>
                </div>
            </div>
      </div>
     <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
      -->
    </div>
  </div>
</div>
<style>
  .datetimepicker1{z-index:1151 !important;}
   label.error {
       color:#ff0000;
   }
   #notifications {
    cursor: pointer;
    position: fixed;
    right: 0px;
    z-index: 9999;
    top: 0px;
    margin-bottom: 22px;
    margin-right: 15px;
    max-width: 300px;
}
 .ui-autocomplete {
     z-index: 9999!important;
 }
.ui-front { z-index: 9999!important; }
</style>
<div id="notifications"></div>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>
<script type="text/javascript" src="{% static "frontend/dashboard/dist/js/notify.min.js" %}"></script>
<script src={% static "admin/js/jquery.blockUI.js" %}></script>
<script>
function trim_string(n){for(;" "==n.substring(0,1);)n=n.substring(1,n.length);for(;" "==n.substring(n.length-1,n.length);)n=n.substring(0,n.length-1);return n}function set_default_fullname(){var n=trim_string($("#full_name").val());$("#hid_full_name").val();""==n&&$("#error_full_name").show()}
</script>
<script type="text/javascript">
    function clear_value()
    {
        $("#hidden_old_profile_img").val('{{ LgnUserDetailsList.0.profile_img }}');
        $("#hidden_new_profile_img").val('');
        $("#full_name").val($('#hid_full_name').val());
        $("#hid_dob").val($('#hid_dob_value').val());
        load_profile_image();

        var hid_date = $('#hid_dob_value').val();
        var hid_date_array = hid_date.split('-');
        var dt = parseInt(hid_date_array[0]);
        var mn = parseInt(hid_date_array[1]);
        var yr = parseInt(hid_date_array[2]);
        var def_dob = new Date(yr, mn - 1, dt);
        $('#dob').datepicker('setDate', def_dob);
        $("#profile_loaderdiv").hide();
    }
    function load_profile_image() {
        var profile_image = $("#hidden_old_profile_img").val();
        //alert('profile_image'+profile_image);
        var ext = profile_image.split(".").pop();
        if(ext && (ext=="jpg" || ext=="JPG" || ext=="png" || ext=="PNG" || ext=="GIF" || ext=="gif" || ext=="bmp" || ext=="BMP")){
             $('.show_img').html('<p></p><img id ="footer_img" src="'+profile_image+'">');
        }
        else{
              $('.show_img').html('<p></p><img src="/static/investak/images/user_name_icon.png">');
        }
    }
    function readURL(input)
    {
        if (input.files && input.files[0]) {
        var f_name = input.files[0].name;
        var ext = f_name.split(".").pop();
        if(ext=="jpg" || ext=="JPG" || ext=="png" || ext=="PNG" || ext=="GIF" || ext=="gif" || ext=="bmp" || ext=="BMP") {

            var reader = new FileReader();

            reader.onload = function (e) {
                $('.show_img').html('<p></p><img src="'+e.target.result+'">');
            }

            reader.readAsDataURL(input.files[0]);
            $("#hidden_new_profile_img").val(input.files[0].name);

        }
        else {
            alert("Please Select Image File");
            $(".show_img").css('background','#84a3b1 none repeat scroll 0 0');

        }

    }
    }

    var button_id = 1;
    $(document).ready(function(e){

         /*subscribe email start*/
        $("#notification_down_area_div, #notification_down_area_div_mobile").slimscroll();
        if($(window).width() < 768){
            $(".slimScrollDiv").addClass('slimScrollDiv_mob');
        }
        else {
            $(".slimScrollDiv").css('height','380px');
            $(".slimScrollDiv").attr('id','slimScrollDiv');
            $("#notification_down_area_div").css('height','380px');
            $("#notification_down_area_div").css('width','95%');
            $("#notification_down_area_div").css('left','0');
        }
        
        
        $("#subscribe_btn").click(function(e){ //alert();
              $("#frmContact").preventDoubleSubmission();
        });
        $("#old_password").change(function(e){
            $("#old_password-error").remove();
        });
        $("#old_password").blur(function(e){
            var old_password = $.trim($("#old_password").val());
            var user_id = '{{ request.session.id }}';
            var flag = 0;
            $("#old_password-error").remove();
            if(old_password != "") {
                $.ajax({
                    type:"POST",
                    url:"/frontend/old_password_exists/",
                    data:{old_password:old_password,user_id:user_id,csrfmiddlewaretoken:'{{ csrf_token }}'},
                    async:false,
                    success:function(response) {

                        if(response == 0) {
                            flag = 1;
                            $("#old_password").val('');
                        }
                    },
                    error:function(xhr) {
                        alert("Error Occurred");
                    }
                });
                if(flag == 1)
                {
                    $("#old_password-error").remove();
                    $('<label id="old_password-error" class="error" for="newpassword">Old Password Not Matched</label>').insertAfter('#old_password');
                }
                else {
                    $("#old_password-error").remove();
                }
            }
        });
        $("#frmSubscribe").validate({
                rules: {
                    subscribe_email: {
                        required:true,
                        email:true
                    }
                },
                messages: {
                    subscribe_email: {
                        required:"Please Enter Email ID",
                        email:"Please Enter Valid Email ID"
                    }
                },
                submitHandler:function(form)
                {
                    $.ajax({
                        type:"POST",
                        url:"/frontend/sendemailsubscribe/",
                        async:false,
                        data:{subscribe_email:$("#subscribe_email").val(),csrfmiddlewaretoken:'{{ csrf_token }}'},
                        beforeSend:function()
                        {
                            $('#mssg').addClass('error').html("Please wait...").fadeIn('slow')
                        },
                        success:function(response)
                        {   //alert(response);

                            $('#mssg').removeClass('error').delay(5000).fadeOut('slow');
                            $('#mssg').addClass('success').html(response).fadeIn('slow')
                            $('#mssg').removeClass('success').delay(5000).fadeOut('slow');
                            $('#frmSubscribe').closest('form').find("input[type=text]").val("");

                        }
                    });
                }
        });
         /*subscribe email end*/
        {% if request.session.id %}
        $("#website_search").autocomplete({
            minLength: 2,
            source: "/frontend/get_cluster_stock_list/",
            response: function(event, ui) {
                if(ui.content[0].flag == 0){
                    ui.content.push({
                    'label': 'No Matches - Search Suggestions',
                     'value': ''
                });
                }
            },
            select: function (event, ui) {
                event.preventDefault();
                $("#website_search .ui-autocomplete").css('border', '1px solid red');
                $("#website_search").val(ui.item.label);
                if(ui.item.type == "S") {
                    window.location.href="/stock_details/"+ui.item.value;
                }
                else {
                    window.location.href="/cluster_list/"+ui.item.value;
                }
            }
        }).data( "uiAutocomplete" )._renderItem = function( ul, item ) {
        if(item.value ==''){
            ul.addClass('customClass');
            return $('<li class="ui-state-disabled" style="font-weight:bold;">'+item.label+'</li>').addClass(item.customClass).prependTo(ul);
        }else{
            return $("<li>")
            .data( "item.autocomplete", item )
            .append( "<a>" + "<img src='" + item.imgsrc + "' width='16px' height='16px' />" + item.label+ "</a>" )
            .appendTo( ul );
        }

    };

        $("#website_search_mob").autocomplete({
            minLength: 2,
            source: "/frontend/get_cluster_stock_list/",
            response: function(event, ui) {
                if(ui.content[0].flag == 0){
                    ui.content.push({
                    'label': 'No Matches - Search Suggestions',
                     'value': ''
                });
                }
            },
            select: function (event, ui) {
                event.preventDefault();
                $("#website_search_mob .ui-autocomplete").css('border', '1px solid red');
                $("#website_search_mob").val(ui.item.label);
                if(ui.item.type == "S") {
                    window.location.href="/stock_details/"+ui.item.value;
                }
                else {
                    window.location.href="/cluster_list/"+ui.item.value;
                }
            }
        }).data( "uiAutocomplete" )._renderItem = function( ul, item ) {
        if(item.value ==''){
            ul.addClass('customClass');
            return $('<li class="ui-state-disabled" style="font-weight:bold;">'+item.label+'</li>').addClass(item.customClass).prependTo(ul);
        }else{
            return $("<li>")
            .data( "item.autocomplete", item )
            .append( "<a>" + "<img src='" + item.imgsrc + "' width='16px' height='16px' />" + item.label+ "</a>" )
            .appendTo( ul );
        }
    };

        {% endif %}
        $("#btnChnPwd").click(function(e){ //alert();
            $("#frmChngPwd").submit();
        });

        $("#frmChngPwd").validate({
            rules: {
                old_password: {
                   required:true,
                   minlength: 6
                },
                newpassword:{
                   required:true,
                   minlength: 6
                },
                confirmpassword:{
                   required:true,
                   minlength: 6,
                   equalTo: "#newpassword"
                }
            },
            messages: {
                old_password: {
                   required:"Please enter old password",
                   minlength: "Password would be 6 characters"
                },
                newpassword:{
                   required:"Please enter new password",
                   minlength:"Password would be 6 characters"
                },
                confirmpassword:{
                   required:"Please enter confirm password",
                   minlength:"Password would be 6 characters",
                   equalTo:"Confirm password does not match with new password"
                }
            },
            submitHandler:function(form){
                $.ajax({
                    type:"POST",
                    url:"/changepwd/",
                    async:false,
                    data:{newpassword:$("#newpassword").val(),csrfmiddlewaretoken:'{{ csrf_token }}'},
                    success:function(response){
                        if(response.message==1){
                            //window.location.href='/user_dashboard/';
                            //window.location.href='/analyze/';
                            window.location.reload();

                        }else{
                            $("#chngPwdError").html("User does not matched");
                        }
                    },
                    error:function(xhr){
                        $("#chngPwdError").html("Database error");
                    }
                })
            }
        });

        /*****change profile********/
         load_profile_image();
        $("#profile_img").change(function(e){
           readURL(this);
        });

         /*$("#full_name").keypress(function(e) {
           if(e.which === 32 && e.target.selectionStart === 0) {
               return false;
           }
        });*/
        $("#full_name").keypress(function(e) {
            $("#error_full_name").hide();
            var prev_key = $("#hidkey").val();
            $("#hidkey").val(e.which);
            if(e.which === 32 && parseInt(prev_key) === 32) {
               return false;
           }
           if(e.which === 32 && e.target.selectionStart === 0) {
               $("#error_full_name").show();
               return false;
           }
        });

        $("#btnChngProfile").click(function(e){ //alert();

            var full_name = trim_string($("#full_name").val());
            var hid_full_name = $("#hid_full_name").val();
            var hid_dob = $("#hid_dob").val();
            $("#dob").val(hid_dob);
            //alert('full_name'+full_name);
            if(full_name == '')
            {
                //$("#full_name").val(hid_full_name);
                $("#error_full_name").show();
            }
            else
            {
                $("#frmChngProfile").submit();
            }

        });

        $("#frmChngProfile").validate({
            rules: {
                full_name:{
                   required:true
                },
                dob:{
                   required:true
                }
            },
            messages: {
                full_name:{
                   required:"Please enter name"
                },
                dob:{
                   required:"Please enter dob"
                }
            },
            submitHandler:function(form){
                $("#profile_loaderdiv").show();

                var data = new FormData($('#frmChngProfile').get(0));
                console.log(data);

                $.ajax({
                    url:"/changeprofile/",
                    type:"POST",
                    data:data,
                    cache: false,
                    processData: false,
                    contentType: false,
                    success:function(response){ //alert(response.message);
                        if(response.message==1){
                            window.location.reload();
                        }else{
                            $("#profile_loaderdiv").hide();
                            $("#chngProfError").html("User does not matched");
                        }
                    },
                    error:function(xhr){
                        $("#profile_loaderdiv").hide();
                        $("#chngPwdError").html("Database error");
                    }
                });

            }
        });

        $("#buy_cluster_btn, #buy_cluster_btn_buy").click(function(e){
            button_id = $(this).attr('button-id');
            $("#buy_cluster_btn").prop('disabled',true);
            $("#buy_cluster_btn_buy").prop('disabled',true);
            $("#frmCluster").submit();
        });
        $("#buy_cluster_btn_edit, #buy_cluster_btn_edit_buy").click(function(e){
            button_id = $(this).attr('button-id');
            $("#buy_cluster_btn_edit").prop('disabled',true);
            $("#buy_cluster_btn_edit_buy").prop('disabled',true);
            $("#frmClusterEdit").submit();

        });
        $.validator.addMethod("check_public_cluster", function(value, element) {
          if($("#public_cluster").is(':checked'))  {
              return false;
          }
          else {
              return true;
          }
        }, '');

        $("#frmCluster").validate({
            rules: {
                cluster_name: {
                        required:true
                },
                cluster_full_desc:{
                    required:true
                }
                /*cluster_image: {
                    check_public_cluster:true,
                    extension:'jpg|JPG|gif|png|PNG|bmp|BMP'
                }*/
            },
            messages: {
                cluster_name: {
                        required:"Please Enter Cluster Name"
                },
                cluster_full_desc:{
                    required:"Please Enter Cluster Full Description"
                }
                /*cluster_image: {
                    check_public_cluster:"Please Select Cluster Image",
                    extension:'Image Not Valid'
                }*/
            },
             submitHandler:function(form)
             {
                 var user_id = '{{ request.session.id }}';
                 var cluster_name = $.trim($("#cluster_name").val());
                 $("#cluster_name-error").remove();
                 var cluster_exists_flag = 0;
                 if (parseInt(user_id)) {
                     $.ajax({
                          type:"POST",
                          url:"/frontend/check_cluster_exists/",
                          data:{cluster_name:cluster_name,user_id:user_id,csrfmiddlewaretoken:'{{ csrf_token }}'},
                          async:false,
                          success:function(response) {
                              if(response == 1) {
                                $('<label id="cluster_name-error" class="error" for="cluster_name">Duplicate Cluster Name</label>').insertAfter('#cluster_name');
                                cluster_exists_flag = 1;
                             }
                             else if(response == 0) {
                                  cluster_exists_flag = 0;
                                  $("#cluster_name-error").remove();
                              }
                         }
                     });
                 }
                 else {
                        //$("#frmClusterEdit").submit();
                 }
                var flag = 0;
                var zero_flag = 0;
                $("#cluster_category-error").remove();
                $("#cluster_sub_category-error").remove();
                if(!$("#cluster_category").val())
                {
                    $('<label id="cluster_category-error" class="error" for="cluster_category">Please Select Cluster Category</label>').insertAfter('#cluster_category');
                    flag = 1;
                }
                if(!$("#cluster_sub_category").val()) {
                    $('<label id="cluster_sub_category-error" class="error" for="cluster_sub_category">Please Select Cluster Sub Category</label>').insertAfter('#cluster_sub_category');
                    flag =1;
                }
                var rowLength = $(".table-responsive > tbody > tr").length;
                var sum = 0;
                $(".amount").each(function(index){

                   if(!isNaN(this.value) && this.value.length!=0) {
                    sum += parseFloat(this.value);
                }
                 if(this.value == 0) {
                     zero_flag = 1;
                 }
                });
                if(cluster_exists_flag == 0){
                    if(rowLength > 0 && flag == 0 && zero_flag == 0)
                    {

                        if(parseInt(sum) == 100) {

                            var data = new FormData($('#frmCluster').get(0));
                            var cluster_category = $("#cluster_category").val();
                            var cluster_sub_category = $("#cluster_sub_category").val();
                            var research_desc = $("#research_desc").val();
                            var weight_desc = $("#weight_desc").val();
                            var public_cluster = 0;
                            if($("#public_cluster").is(':checked')) {
                                public_cluster = 1;
                            }
                            else {
                                public_cluster = 0;
                            }
                            data.append('cluster_category', cluster_category);
                            data.append('cluster_sub_category', cluster_sub_category);
                            data.append('research_desc', research_desc);
                            data.append('weight_desc', weight_desc);
                            data.append('posted_by', $("#posted_by").val());
                            data.append('public_cluster', public_cluster);
                            $.ajax({
                                url: "/frontend/AddCluster/",
                                type: "POST",
                                data: data,
                                cache: false,
                                processData: false,
                                contentType: false,
                                beforeSend: function () {
                                    $.blockUI({
                                        message: '<img src="/static/investak/images/loader1.gif" />'
                                    });
                                },
                                success: function (data) {

                                    $("#buy_cluster_btn").prop('disabled',false);
                                    $("#buy_cluster_btn_buy").prop('disabled',false);
                                    add_cluster_details(data);
                                }
                            });
                        }
                        else {
                            $("#buy_cluster_btn").prop('disabled',false);
                            $("#buy_cluster_btn_buy").prop('disabled',false);
                            alert("Total company weightage must be 100%");
                        }

                    }
                    else {
                        $("#buy_cluster_btn").prop('disabled',false);
                        $("#buy_cluster_btn_buy").prop('disabled',false);
                        if(rowLength == 0) {
                            alert("Please Add Stock In This Cluster");
                        }
                         if(flag == 1) {
                            alert("Please Select Cagtegory And Sub-Category");
                        }
                        if(zero_flag == 1) {
                            alert("A stock in cluster contains zero weightage; this should not be.");
                        }
                    }
                }


             }
        });

        $("#frmClusterEdit").validate({
            rules: {
                cluster_name: {
                        required:true
                },
                cluster_full_desc:{
                    required:true
                },
                cluster_image: {
                    extension:'jpg|JPG|gif|png|PNG|bmp|BMP'
                }
            },
            messages: {
                cluster_name: {
                        required:"Please Enter Cluster Name"
                },
                cluster_full_desc:{
                    required:"Please Enter Cluster Full Description"
                },
                cluster_image: {
                    extension:'Image Not Valid'
                }
            },
             submitHandler:function(form)
             {
                 var created_by = '{{ request.session.created_by }}';
                 var user_id = '{{ request.session.id }}';
                 var cluster_id = '{{ request.session.cluster_id }}';
                 var cluster_name = $.trim($("#cluster_name").val());
                 $("#cluster_name-error").remove();
                 var cluster_exists_flag = 0;
                 if (parseInt(created_by) != parseInt(user_id)) {
                     $.ajax({
                          type:"POST",
                          url:"/frontend/check_cluster_exists/",
                          data:{cluster_name:cluster_name,created_by:created_by,user_id:user_id,csrfmiddlewaretoken:'{{ csrf_token }}'},
                          async:false,
                          success:function(response) {
                              if(response == 1) {
                                $('<label id="cluster_name-error" class="error" for="cluster_name">Duplicate Cluster Name</label>').insertAfter('#cluster_name');
                                cluster_exists_flag = 1;
                             }
                             else if(response == 0) {
                                  cluster_exists_flag = 0;
                                  $("#cluster_name-error").remove();
                              }
                         }
                     });
                 }
                 else {
                        //$("#frmClusterEdit").submit();
                 }
                 var flag = 0;
                 var zero_flag = 0;
                $("#cluster_category-error").remove();
                $("#cluster_sub_category-error").remove();
                if(!$("#cluster_category").val())
                {
                    $('<label id="cluster_category-error" class="error" for="cluster_category">Please Select Cluster Category</label>').insertAfter('#cluster_category');
                    flag = 1;
                }
                if(!$("#cluster_sub_category").val()) {
                    $('<label id="cluster_sub_category-error" class="error" for="cluster_sub_category">Please Select Cluster Sub Category</label>').insertAfter('#cluster_sub_category');
                    flag = 1;
                }
                var rowLength = $(".table-responsive > tbody > tr").length;
                var sum = 0;
                $(".amount").each(function(index){

                   if(!isNaN(this.value) && this.value.length!=0) {
                    sum += parseFloat(this.value);

                }
                 if(this.value == 0) {
                     zero_flag = 1;
                 }
                });
                if(cluster_exists_flag == 0) {
                    if(rowLength > 0 && flag == 0 && zero_flag == 0)
                    {
                        if(parseInt(sum) == 100) {
                            var data = new FormData($('#frmClusterEdit').get(0));
                            var cluster_category = $("#cluster_category").val();
                            var cluster_sub_category = $("#cluster_sub_category").val();
                            var research_desc = $("#research_desc").val();
                            var weight_desc = $("#weight_desc").val();
                            var public_cluster = 0;
                            if($("#public_cluster").is(':checked')) {
                                public_cluster = 1;
                            }
                            else {
                                public_cluster = 0;
                            }
                            data.append('cluster_category', cluster_category);
                            data.append('cluster_sub_category', cluster_sub_category);
                            data.append('research_desc', research_desc);
                            data.append('weight_desc', weight_desc);
                            data.append('posted_by', $("#posted_by").val());
                            data.append('public_cluster', public_cluster);
                            $.ajax({
                                url: "/frontend/updateCluster/",
                                type: "POST",
                                data: data,
                                cache: false,
                                processData: false,
                                contentType: false,
                                beforeSend: function () {
                                    $.blockUI({
                                        message: '<img src="/static/investak/images/loader1.gif" />'
                                    });
                                },
                                success: function (data) {
                                    update_cluster_details(data);
                                }
                            });
                        }
                        else {
                            alert("Total company weightage must be 100%");
                        }

                    }
                    else {
                         if(rowLength == 0) {
                            alert("Please Add Stock In This Cluster");
                        }
                        if(flag == 1) {
                            alert("Please Select Cagtegory And Sub-Category");
                        }
                        if(zero_flag == 1) {
                            alert("A stock in cluster contains zero weightage; this should not be.");
                        }

                    }
                }


             }
        });
    });
    function add_cluster_details(cluster_id) {
        var clusterArr = new Array();
        var co_codes_list = '';
        var weightage_list = '';
        var exchange = '';
        if($("#nse").prop('checked') == true){
            exchange = 'NSE';
        }
        else {
            exchange = 'BSE';
        }
        $(".tr-count").each(function(index){
            var weightage = $("#amount"+(index+1)).val();

             co_codes_list = co_codes_list + $(this).attr('tr-co-code') + ',';
             weightage_list = weightage_list + weightage + ',';
             clusterArr.push({"cluster_id":cluster_id,
                "company_code":$(this).attr('tr-co-code'),
                "company_name":$(this).attr('co_name'),
                "dayopen":$(this).attr('dayopen'),
                "dayhigh":$(this).attr('dayhigh'),
                "daylow":$(this).attr('daylow'),
                "price":$(this).attr('ltp'),
                "dayvolume":$(this).attr('dayvolume'),
                "tradedate":$(this).attr('tradedate'),
                "prevclose":$(this).attr('prevclose'),
                "pricediff":$(this).attr('pricediff'),
                "perchange":$(this).attr('perchange'),
                "beta":$(this).attr('beta'),
                "hi_52_wk":$(this).attr('hi_52_wk'),
                "lo_52_wk":$(this).attr('lo_52_wk'),
                "avgvol_3m":$(this).attr('avgvol_3m'),
                "eps":$(this).attr('eps'),
                "divyield":$(this).attr('divyield'),
                "r1mret":$(this).attr('r1mret'),
                "r6mret":$(this).attr('r6mret'),
                "sectorname":$(this).attr('sector_name'),
                "m_cap":$(this).attr('mcap'),
                "r1yearret":$(this).attr('r1yearret'),
                "weightage":weightage,
                "pe":$(this).attr('pe'),
                "exchange": $(this).attr('exchange'),
                "stock_information":$(this).attr('data-stock-info')});
        });
        //console.log(clusterArr);
        $.when(
                $.ajax({
                    type:"GET",
                    url:"/frontend/AddClusterApiEnd/",
                    data:{cluster_id:cluster_id,co_codes_list:co_codes_list,exchange:exchange,weightage_list:weightage_list},
                    async:false,
                    success:function(response) {
                        investak_add_new_cluster(response);
                    },
                    error:function(xhr) {
                        alert("Error Occurred");
                    }
                }),
                $.ajax({
                    type:"GET",
                    url:"/frontend/AllClusterApiEnd/",
                    data:{cluster_id:cluster_id},
                    async:false,
                    success:function(response) {
                        all_cluster_add(response);
                    },
                    error:function(xhr) {
                        alert("Error Occurred");
                    }
                }),
                $.ajax({
                    type:"GET",
                    url:"/frontend/Cluster_17/",
                    data:{cluster_id:cluster_id},
                    async:false,
                    success:function(response) {
                        cluster_index_market_value(response);
                    },
                    error:function(xhr) {
                        alert("Error Occurred");
                    }
                })
        ).then(function(){
        $.ajax({
            type:"POST",
            url:"/frontend/addClusterDetails/",
            data: {'cluster_arr':JSON.stringify(clusterArr),csrfmiddlewaretoken:'{{ csrf_token }}'},
            async:false,
            beforeSend:function()
            {
                //$('body').fadeTo('slow',0.33);
            },
            success:function(response)
            {
                Notify("Cluster Addedd Successfully", null, null, 'success');
                $.unblockUI();
                if(button_id == 1) {
                    setTimeout(function(){
                 window.location.href="/analyze/";

                }, 1000);
                }
                else {
                     setTimeout(function(){
                 window.location.href="/buy_cluster/"+cluster_id;

                }, 1000);
                }


            },
            error:function(response)
            {
                Notify("Some Error Occurred..Please Try Again", null, null, 'danger');

            }
        });
        });
    }
    function update_cluster_details(cluster_id) {
        var clusterArr = new Array();
        var co_codes_list = '';
        var weightage_list = '';
        var exchange = '';
        if($("#nse").prop('checked') == true){
            exchange = 'NSE';
        }
        else {
            exchange = 'BSE';
        }
        $(".tr-count").each(function(index){
             var weightage = $("#amount"+(index+1)).val();
             co_codes_list = co_codes_list + $(this).attr('tr-co-code') + ',';
             weightage_list = weightage_list + weightage + ',';
             clusterArr.push({"cluster_id":cluster_id,
                "company_code":$(this).attr('tr-co-code'),
                "company_name":$(this).attr('co_name'),
                "dayopen":$(this).attr('dayopen'),
                "dayhigh":$(this).attr('dayhigh'),
                "daylow":$(this).attr('daylow'),
                "price":$(this).attr('ltp'),
                "dayvolume":$(this).attr('dayvolume'),
                "tradedate":$(this).attr('tradedate'),
                "prevclose":$(this).attr('prevclose'),
                "pricediff":$(this).attr('pricediff'),
                "perchange":$(this).attr('perchange'),
                "beta":$(this).attr('beta'),
                "hi_52_wk":$(this).attr('hi_52_wk'),
                "lo_52_wk":$(this).attr('lo_52_wk'),
                "avgvol_3m":$(this).attr('avgvol_3m'),
                "eps":$(this).attr('eps'),
                "divyield":$(this).attr('divyield'),
                "r1mret":$(this).attr('r1mret'),
                "r6mret":$(this).attr('r6mret'),
                "sectorname":$(this).attr('sector_name'),
                "m_cap":$(this).attr('mcap'),
                "r1yearret":$(this).attr('r1yearret'),
                "weightage":weightage,
                "pe":$(this).attr('pe'),
                "exchange":$(this).attr('exchange'),
                "stock_information":$(this).attr('data-stock-info')});
        });
        //console.log(clusterArr);
        $.when(
                $.ajax({
                    type:"GET",
                    url:"/frontend/UpdateClusterApiEnd/",
                    data:{cluster_id:cluster_id,co_codes_list:co_codes_list,exchange:exchange,weightage_list:weightage_list},
                    async:false,
                    success:function(response) {
                        investak_add_new_cluster(response);
                    },
                    error:function(xhr) {
                        alert("Error Occurred");
                    }
                }),
                $.ajax({
                    type:"GET",
                    url:"/frontend/AllClusterApiEnd/",
                    data:{cluster_id:cluster_id},
                    async:false,
                    success:function(response) {
                        all_cluster_add(response);
                    },
                    error:function(xhr) {
                        alert("Error Occurred");
                    }
                }),
                $.ajax({
                    type:"GET",
                    url:"/frontend/Cluster_17/",
                    data:{cluster_id:cluster_id},
                    async:false,
                    success:function(response) {
                        cluster_index_market_value(response);
                    },
                    error:function(xhr) {
                        alert("Error Occurred");
                    }
                })
        ).then(function(){
        $.ajax({
            type:"POST",
            url:"/frontend/updateClusterDetails/",
            data: {'cluster_arr':JSON.stringify(clusterArr),csrfmiddlewaretoken:'{{ csrf_token }}'},
            async:false,
            beforeSend:function()
            {
                //$('body').fadeTo('slow',0.33);
            },
            success:function(response) {
                var created_by = '{{ request.session.created_by }}';
                var user_id = '{{ request.session.id }}';
                if (created_by == user_id) {
                    Notify("Cluster Updated Successfully", null, null, 'success');
                }
                else {
                    Notify("Cluster Added Successfully", null, null, 'success');
                }
                $.unblockUI();
                if (button_id == 1) {
                    setTimeout(function () {
                        window.location.href = "/analyze/";

                    }, 1000);
                }
                else {
                    setTimeout(function () {
                        window.location.href = "/buy_cluster/" + cluster_id;

                    }, 1000);

                }
            },
            error:function(response)
            {
                Notify("Some Error Occurred. Please try again", null, null, 'danger');
            }
        });
        });
    }
    function investak_add_new_cluster(response)
    {
        console.log(response);
        var obj = $.parseJSON(JSON.stringify(response));
        //$('body').fadeTo( "slow", 1 );
        var rt_type = obj['response']['data']['Companylist']['company'].flag;

    }
    function all_cluster_add(response) {
        var cluster_id_array = new Array();
            var clustercode = response.response.data.Companylist.company.clustercode;
            var divyield_m1 = response.response.data.Companylist.company.divyield_m1;
            var divyield_m3 = response.response.data.Companylist.company.divyield_m3;
            var divyield_m6 = response.response.data.Companylist.company.divyield_m6;
            var divyield_y1 = response.response.data.Companylist.company.divyield_y1;
            var divyield_y5 = response.response.data.Companylist.company.divyield_y5;
            var indexvalue_m1 = response.response.data.Companylist.company.indexvalue_m1;
            var indexvalue_m3 = response.response.data.Companylist.company.indexvalue_m3;
            var indexvalue_m6 = response.response.data.Companylist.company.indexvalue_m6;
            var indexvalue_y1 = response.response.data.Companylist.company.indexvalue_y1;
            var indexvalue_y5 = response.response.data.Companylist.company.indexvalue_y5;
            var ret_m1 = response.response.data.Companylist.company.ret_m1;
            var ret_m3 = response.response.data.Companylist.company.ret_m3;
            var ret_m6 = response.response.data.Companylist.company.ret_m6;
            var ret_y1 = response.response.data.Companylist.company.ret_y1;
            var ret_y5 = response.response.data.Companylist.company.ret_y5;
            cluster_id_array.push({
                cluster_id: clustercode,
                divyield_m1: divyield_m1,
                divyield_m3: divyield_m3,
                divyield_m6: divyield_m6,
                divyield_y1: divyield_y1,
                divyield_y5: divyield_y5,
                indexvalue_m1: indexvalue_m1,
                indexvalue_m3: indexvalue_m3,
                indexvalue_m6: indexvalue_m6,
                indexvalue_y1: indexvalue_y1,
                indexvalue_y5: indexvalue_y5,
                ret_m1: ret_m1,
                ret_m3: ret_m3,
                ret_m6: ret_m6,
                ret_y1: ret_y1,
                ret_y5: ret_y5
            });
        $.ajax({
            type:"POST",
            url:"/frontend/insertAllClusters/",
            async:false,
            data:{cluster_id_array:JSON.stringify(cluster_id_array), csrfmiddlewaretoken:'{{ csrf_token }}'},
            success:function(data)
            {
                if(data==1)
                {
                    console.log("Success");
                }
            }
        });
    }
    function cluster_index_market_value(response) {
        var cluster_code = response.response.data.Companylist.company.clustercode;
        var market_value = response.response.data.Companylist.company.marketvalue;
        var index_value = response.response.data.Companylist.company.indexvalue;
        $.ajax({
            type:"GET",
            url:"/frontend/updateClusterIndexValue/",
            async:false,
            data:{cluster_id:cluster_code,market_value:market_value,index_value:index_value},
            success:function(response) {
                console.log(response);
            },
            error:function(xhr) {
                alert("Error Occurred");
            }
        });
    }

</script>

<script src="{% static "frontend/js/jquery-ui-1.11.4.custom/jquery-ui.js" %}"></script>

<script>
  $(function(){new Date(1990,1,1);$("#dob").datepicker({dateFormat:"dd-mm-yy",yearRange:"1930:2010",changeMonth:!0,changeYear:!0,font:"9px",onSelect:function(){var a=$(this).val();$("#hid_dob").val(a),$("#datelabelid").css("top",-35)}})});
</script>
<style>
.success{font-size:12px!important;color:green!important}.ui-datepicker table{width:100%;background:#fff}.ui-datepicker td a,.ui-datepicker td span{margin:0;text-align:center}.ui-datepicker .ui-datepicker-title select{padding:7px}.sliders .ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{background:#fff;border-radius:0;box-shadow:none;color:#555;font-weight:400}
.customClass{font-size:9px !important;; color:#ff0000 !important;;}
.ui-autocomplete {font-family: "Lucida Grande", Verdana, Arial, sans-serif; font-size:12px; font-weight: 200;}
.ui-menu-item {font-family: "Lucida Grande", Verdana, Arial, sans-serif; font-size:12px; font-weight: 200;}
.ui-widget-content a{font-size:12px; font-weight: 200; color:#666666;}
.ui-widget-content b{padding-left:5px; font-size:12px; font-weight: 200; color:#666666;}
.ui-widget-content img{border: 1px solid #999999; height: 25px; width: 25px;}
</style>