{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>Investak - Signup</title>
<meta http-equiv="no-cache">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>


<!-- BEGIN GLOBAL MANDATORY STYLES -->
<!--<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>  font-family: 'Roboto', sans-serif;-->
<link rel="icon" href="{% static "investak/images/favicon.png" %}" sizes="16x16" type="image/16x16.png">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"> <!--font-family: 'Open Sans', sans-serif;-->

<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/bootstrap-material-design.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/font-awesome/css/font-awesome.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/bootstrap-datetimepicker.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "investak/dist/css/styles.css" %}?v=1.6">
<script src="{% static "investak/dist/js/jquery.1.11.3.min.js" %}" type="text/javascript"></script>
<script src="{% static "investak/dist/js/bootstrap.min.js" %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static "investak/dist/js/material.min.js" %}"></script>
<script type="text/javascript" src="{% static "investak/dist/js/ripples.min.js" %}"></script>
<script type="text/javascript" src="{% static "investak/dist/js/bootstrap-datetimepicker.js" %}"></script>

<!--<script type="text/javascript" src="dist/js/custom_login.js"></script>-->
<script type="text/javascript">
  var FACEBOOK_APP_ID = '{{ FACEBOOK_APP_ID }}'
  var GPLUS_APP_ID = '{{ GPLUS_APP_ID }}'
  $.material.init();
    $(document).ready(function(){

        var tgt = $(document).height();
    //alert(tgt)
    $(".before_login_menu_mobile").height(tgt);
        mobilemenu();
    });
    function mobilemenu()
  {
    $(".onclickMob").click(function(e){

            e.stopPropagation();
      $('.before_login_menu_mobile').animate({right:0});
      $(".psuh_left").animate({right:240});
      $(this).hide();
      $(".mobmenu").show();
      $(".psuh_left").addClass('opacity');
      $(".psuh_left").addClass('opaleft');


    });

        $(".before_login_menu_mobile").click(function(e){
            e.stopPropagation();
        });

    $(".mobmenu").click(function(e){
      $('.before_login_menu_mobile').animate({right:-270});
      $('.before_login_menu_mobile').show();
      $(".psuh_left").animate({right:0});
      $(this).hide();
      $(".onclickMob").show();
      $(".psuh_left").removeClass('opacity');

             //e.stopPropagation();
    });


  }

$(window).on('load resize', function(){ 
  // This will execute whenever the window is resized
  if($(window).width() > 768){
    $(".onclickMob").hide();
    $("#navbar").show();
  } else {
     $(".onclickMob").show();
  }
  //if($(window).width() == 768){
    /*$(".mobile_arrow").click(function(){
        $(".mobiles_toggle").toggle();
    });*/
  //}
});
  
$(document).on('click','.opacity',function(e){

         var right_value = $('.before_login_menu_mobile').css('right');

            if(right_value == "-270px") {
                $( ".onclickMob" ).trigger( "click" );
            }
            else {
                $('.before_login_menu_mobile').animate({right:-270});
                $('.before_login_menu_mobile').show();
                $(".psuh_left").animate({right:0});
                $(this).hide();
                $(".onclickMob").show();
                $(".psuh_left").removeClass('opacity');
                $(".psuh_left").css('display','block');
            }

            $(".onclickMob").focus();
            $(".mobmenu").hide();
    });
</script>


</head>
<body>
<div id="bg"><img src="{% static "investak/images/login_page.jpg" %}" alt=""></div>
<div class="clearfix"></div>
<div class="total_body_area">

<div class="before_login_menu_mobile">
<div id="" class="">
    <div class="menu_area">

    <ul class="nav navbar-nav">
        <li><a href="{{ SITE_URL }}#aboutus">about us</a></li>
        <li><a href="{{ SITE_URL }}#Analyze">Approach</a></li>
        <li><a href="{{ SITE_URL }}#markit2">testimonials</a></li>
        <li><a href="{{ SITE_URL }}#team">team</a></li>
        <li><a href="{{ SITE_URL }}#partners">partners</a></li>
        <li><a href="{{ SITE_URL }}#contactus">contact us</a></li>
        <h3>Resources</h3>
        <li><a href="/faq/" style="padding-left:30px !important;">faq</a></li>
        <li><a href="/news/" style="padding-left:30px !important;">newsroom</a></li>
    </ul>
    </div>

</div>
</div>

    <div class="psuh_left">
        <header class="header_area {% ifequal current_path '/login/' %} login_head {% endifequal %} ">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle onclickMob" style="display:none;">
                <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
            <a class="mobmenu" href="javascript:void(0)"><i class="fa fa-bars" aria-hidden="true"></i></a>
          <a class="navbar-brand" href="{{ SITE_URL }}"><img class="white" src="{% static "investak/images/logo_white.png" %}">
            <img class="blue" src="{% static "investak/images/logo.png" %}"></a>
        </div>

        <div class="before_login_menu">
        <div id="navbar" class="navbar-collapse collapse" style="display:none !important;">

            <div class="login_attr">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="active_logs" href="/login/">Log in</a></li>
                <li><a href="/signup/">Sign Up</a></li>
            </ul>
            </div>


            <ul class="nav navbar-nav pull-right">
                <li><a href="{{ SITE_URL }}#aboutus">about us</a></li>
                <!--<li><a href="javascript:void(0)">approach</a></li>-->
                <li><a href="{{ SITE_URL }}#Analyze">Approach</a></li>
                <li><a href="{{ SITE_URL }}#markit2">testimonials</a></li>
                <li><a href="{{ SITE_URL }}#team">team</a></li>
                <li><a href="{{ SITE_URL }}#partners">partners</a></li>
                <li><a href="{{ SITE_URL }}#contactus">contact us</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/faq/">faq</a></li>
                        <li><a href="/news/">newsroom</a></li>
                    </ul>
                </li>
            {% if request.session.id %}
            {% else %}
                <!-- <li><a href="/signup/" class="hvr-underline-from-center scroller">Sign Up</a></li> -->
            {% endif %}
            </ul>


        </div><!--/.nav-collapse -->
        </div>
    </div><!--/.container-fluid -->
</nav>
</header>


<style>
.error {
    font-size: 12px !important;
    color: #ff0000 !important;
  }
</style>
<section>
  <div class="container">
      <div  class="col-md-5 col-sm-12 col-center">
          <div class="login_page_area" id="loginDiv">
                <div class="custom_tab_box">
                <!-- Nav tabs -->
  <ul class="nav nav-tabs cus_nav_tabs" role="tablist">
    <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Log in</a></li>
    <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Sign Up</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
        <form name="frmSignIn" id="frmSignIn" method="post" action="">{% csrf_token %}
      <div style="margin-bottom:20px;"><span id="loginError" style="color:#ff0000; margin-bottom: 20px;"></span></div>
      <div id="emdivid" class="form-group label-floating is-empty">
        <label id="emaillabelid" for="112" class="control-label" >Email Address</label>
        <input type="email" name="email_id_login" id="email_id_login" class="form-control">
      </div>

      <div id="pwdivid" class="form-group label-floating is-empty">
        <label id="pwdlabelid" for="111" class="control-label" >Password</label>
        <input type="password" class="form-control" name="password_login" id="password_login" value="" />
      </div>

      <div class="col-md-6 col-sm-12 col-xs-6 nopadding">
        <input type="checkbox" name="remember_me" id="remember_me" value="1">
        <label class="trams" for="remember_me">Remember Me</label>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-6 nopadding">
        <a  href="/forgot_password/">Forgot Password</a>
      </div>

    <div id="loaderdiv" class="form-group label-floating" style="margin:0; padding:0; text-align:center; clear:both; display:none;"><img src="{% static "investak/images/loader2.gif" %}"></div>

      <button type="button" class="btn mysubmit_btn" id="btnLogin">Log in</button>
    </form>

      <p class="loginTxt">By Signing up you agree to our <a href="javascript:void(0)" data-toggle="modal" data-target="#modelTC">T&C </a> and <a href="javascript:void(0)" data-toggle="modal" data-target="#modelPrivecy"> Privacy Policy. </a></p>
        <p class="mobileTxt">Not In Investak?<a style="padding-right: 5px;" href="/signup/">&nbsp&nbspJoin now</a> </p>
      <div class="divide_border"><span>Or</span></div>

      <div class="col-md-6 col-xs-6 no-pad-left mob-pad-left fb"><a href="javascript:void(0);" id="facebook2" class="fbarea"><i class="fa fa-facebook"  ></i>Log In</a>

      </div>
      <div class="col-md-6 col-xs-6 pull-right no-pad-right mob-pad-right gplus"><a href="javascript:void(0);" id="googlep" class="gplus_area" onclick="login()"><i class="fa fa-google-plus"></i>Log In</a></div>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
        <form name="form_signup" id="form_signup">
                  <div class="form-group label-floating is-empty">
                    <label id="fullnamelabel" for="full_name" class="control-label" style="font-size:16px; color:#333333;">Your Name</label>
                    <input type="text" class="form-control" name="full_name" id="full_name" style="height:40px; font-weight:400; ">
                  </div>

                  <div class="form-group label-floating is-empty">
                    <label id="emaillabel" for="email" class="control-label" style="font-size:16px; color:#333333;">Email Address</label>
                    <input type="email" class="form-control" id="email_id" name="email_id" style="height:40px; font-weight:400;">
                    <span class="error" id="error-email"></span>
                  </div>

                  <div class="form-group label-floating is-empty">
                    <label id="pawdlabel" for="password" class="control-label" style="font-size:16px; color:#333333;">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required="true" style="height:40px; font-weight:400;">
                    <span class="error" id="error-pass"></span>
                  </div>



                    <input type="hidden" id="hidkey" name="hidkey" value="" />

                <div id="loaderdiv" class="form-group label-floating" style="margin:0; padding:0; text-align:center; display:none;"><img src="{% static "investak/images/loader2.gif" %}"></div>

                  <button type="button" class="btn mysubmit_btn btn_register">Create Account</button>
                </form>

                  <p>By Signing up you agree to our <a href="javascript:void(0)" data-toggle="modal" data-target="#modelTC">T&C </a> and <a href="javascript:void(0)" data-toggle="modal" data-target="#modelPrivecy"> Privacy Policy. </a></p>
                    <p class="mobileTxt">Already have an Account?<a style="padding-right: 5px;" href="/login/">&nbspSign In</a> </p>
                  <div class="divide_border"><span>Or</span></div>

                  <div class="col-md-6 col-xs-6 no-pad-left mob-pad-left fb"><a href="javascript:void(0);" id="facebook3" class="fbarea"><i class="fa fa-facebook"></i>Sign Up</a></div>
                  <div class="col-md-6 col-xs-6 pull-right no-pad-right mob-pad-right gplus"><a href="javascript:void(0);" id="googlep" class="gplus_area" onclick="login()"><i class="fa fa-google-plus"></i>Sign Up</a></div>
    </div>

  </div>

</div>
              <!--<div class="login_attr">
                    <a class="active_logs" href="/login/">Log in</a>
                    <a href="/signup">Sign Up</a>
                </div>-->


            </div>
        </div>

  </div>
</section>
</div>
</div>
<div id="confirmdiv" class="col-md-7 col-center" style="display:none;">
            <div class="login_page_area">
                <!--<label style="color:#e3411f; font-weight:800; margin-bottom:20px; font-size: 20px;">One last step...</label>-->
                <label style="color:#2486c8; font-weight:800; margin-bottom:20px; font-size: 20px;">Your account is deactivated by the admin.</label>
                <label style="color:#666666; font-weight:600; margin-bottom:20px;">Please contact to the administrator to activate your account.</label>

            </div>
</div>
<div id="confirmdiv_signup" class="col-md-7 col-center" style="display:none;">
            <div class="login_page_area">
                <!--<label style="color:#e3411f; font-weight:800; margin-bottom:20px; font-size: 20px;">One last step...</label>-->
                <label style="color:#2486c8; font-weight:800; margin-bottom:20px; font-size: 20px;">One last step...</label>
                <label style="color:#666666; font-weight:600; margin-bottom:20px;">We sent you an email to confirm your email address. Please click on the given link to complete your registration.</label>
                <label style="color:#666666; font-weight:600; margin-bottom:20px;">
                    If you do not receive this email within the next hour, one of the two things may have happened.</label>
                <label style="color:#666666; font-weight:600; margin-bottom:20px; margin-left:20px;">
                    1. This email has landed in your Spam or Junk folder, or<br>
                    2. Your email address was incorrect and the mail bounced.
                </label>
                <label style="color:#666666; font-weight:600; margin-bottom:20px;">Please try again and check your email address. If you made a group email in Google Apps, it may not be configured to receive email from outside your domain.</label>
            </div>
        </div>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
 <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>

<script type="text/javascript">
    window.fbAsyncInit = function() {
          FB.init({
            appId      : FACEBOOK_APP_ID,
            xfbml      : true,
            version    : 'v2.7'
          });
          };
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
    $(document).ready(function(e){

          $("#facebook2").click(function(e){

                var email_id = '';
                var full_name = '';
                var image_url = '';
                FB.login(function(response) {
                    if (response.authResponse) {
                        FB.getLoginStatus(function(response) {
                          if (response.status === 'connected') {
                              FB.api('/me?fields=id,email,name', function(response) {
                                 email_id = response.email;
                                 full_name = response.name;
                                if(response.id && response.email && response.name) {
                                    FB.api(
                                        "/"+response.id+"/picture?height=140&width=140&redirect=false",
                                        function (response) {
                                          image_url = response.data.url;
                                          if (response && response.data.is_silhouette == false) {
                                            image_url = response.data.url;
                                          }
                                          else {
                                            image_url = '';
                                          }
                                           $.ajax({
                                            type: "GET",
                                            url: "/frontEnd/social_login/",
                                            data: {
                                                email_id: email_id,
                                                full_name: full_name,
                                                image_url: image_url,
                                                reg_type: "S"
                                            },
                                            async: false,
                                            success: function(response) {
                                                if(response==1) {
                                                    window.location.href = "/analyze/";
                                                }
                                                else if(response==2) {
                                                    alert("Your account is deactivated by admin");
                                                }
                                                else {
                                                    alert("Error Occurred During Facebook Sign In")
                                                }

                                            },
                                            error: function(xhr) {
                                                alert("Error Occurred During Facebook Sign In")
                                            }
                                        });

                                        }
                                    );

                                }
                                else {
                                    alert("Facebook restriction occurred");
                                }
                            });
                            }
                        });
                    }
                }, {scope: 'public_profile,email'});
          });

          $("#facebook3").click(function(e){

                var email_id = '';
                var full_name = '';
                var image_url = '';
                FB.login(function(response) {
                    if (response.authResponse) {
                        FB.getLoginStatus(function(response) {
                          if (response.status === 'connected') {
                              FB.api('/me?fields=id,email,name', function(response) {
                                 email_id = response.email;
                                 full_name = response.name;
                                if(response.id && response.email && response.name) {
                                    FB.api(
                                        "/"+response.id+"/picture?height=140&width=140&redirect=false",
                                        function (response) {
                                          image_url = response.data.url;
                                          if (response && response.data.is_silhouette == false) {
                                            image_url = response.data.url;
                                          }
                                          else {
                                            image_url = '';
                                          }
                                           $.ajax({
                                            type: "GET",
                                            url: "/frontEnd/social_login/",
                                            data: {
                                                email_id: email_id,
                                                full_name: full_name,
                                                image_url: image_url,
                                                reg_type: "S"
                                            },
                                            async: false,
                                            success: function(response) {
                                                if(response==1) {
                                                    window.location.href = "/analyze/";
                                                }
                                                else if(response==2) {
                                                    alert("Your account is deactivated by admin");
                                                }
                                                else {
                                                    alert("Error Occurred During Facebook Sign In")
                                                }

                                            },
                                            error: function(xhr) {
                                                alert("Error Occurred During Facebook Sign In")
                                            }
                                        });

                                        }
                                    );

                                }
                                else {
                                    alert("Facebook restriction occurred");
                                }
                            });
                            }
                        });
                    }
                }, {scope: 'public_profile,email'});
          });

        $("#btnLogin").click(function(e){
            $("#loginError").html("");
            $("#frmSignIn").submit();
        });

        $("#email_id, #password").keydown(function(e){
            if(e.which === 32) {
                return false;
            }
            if(e.which == 13) {
                $("#frmSignIn").submit();
            }
        });

        $("#frmSignIn").validate({
            rules: {
                email_id_login:{
                   required:true,
                   email:true
                },
                password:{
                   required:true
                }
            },
            messages: {
                email_id_login:{
                   required:"Please enter email id",
                   email:"Please enter valid email id"
                },
                password:{
                   required:"Please enter password"
                }
            },
            submitHandler:function(form){
                $("#loaderdiv").show();
                $.ajax({
                    type:"POST",
                    url:"/user_login/",
                    data:{email_id:$("#email_id_login").val(),password:$("#password_login").val(), remember_me:$("#remember_me").val(),csrfmiddlewaretoken:'{{ csrf_token }}'},
                    success:function(response){

                        if(response.message==1){
                            //window.location.href='/user_dashboard/';
                            //window.location.href='/analyze/';
                            window.location.href = '/login_2fa/';
                        }else if(response.message==2){
                            $("#loginDiv").hide();
                            $("#confirmdiv").show();
                        }else if(response.message==0){
                            $("#loginError").html("Email not matched");
                        }else if(response.message==3){
                            $("#loginError").html("Password not matched");
                        }
                        $("#loaderdiv").hide();
                    },
                    error:function(xhr){
                        $("#loginError").html("Database error");
                    }
                })
            }
        });

        $("#full_name").keydown(function(e) {
            var prev_key = $("#hidkey").val();
            $("#hidkey").val(e.which);
            if(e.which === 32 && parseInt(prev_key) === 32) {
               return false;
           }
           if(e.which === 32 && e.target.selectionStart === 0) {
               return false;
           }
        });

        $("#password, #email_id").keydown(function(e){
            if(e.which === 32) {
                return false;
            }
        });
        //Copy paste of blank space password should not be available
        $('#password').change(function() {
            $(this).val($(this).val().replace(/\s/g,""));
        });
        $("#email_id").blur(function(e){
            var email_id = $.trim($("#email_id").val());
            if($.trim(email_id)!=""){

                $("#loaderdiv").show();

               $.ajax({
                    type:"POST",
                    url:"/frontend/email_exists/",
                    async:false,
                    data:{email_id:email_id, csrfmiddlewaretoken:'{{ csrf_token }}'},
                    success:function(response){
                        if(response==1){
                            //$("#error-email").html("Email ID Already Exists");
                            $("#error-email").text("Email ID Already Exists");
                            //$("#email_id").val("");
                            //alert($("#email_id-error").text());
                            $("#loaderdiv").hide();
                        }
                        else{
                            $("#error-email").html("");
                            $("#error-email").text("");
                            $("#loaderdiv").hide();
                        }
                    },
                    error:function(xhr){
                       $('body').fadeTo('slow',1);
                        $("#loaderdiv").hide();
                    }
                });
            }
            else
            {
                $("#error-email").html("");
                $("#error-email").text("");
            }
        });
        $(".btn_register").click(function(e){

            //var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
            var emailReg = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
            var error_email = $("#error-email").text();
            error_email = trim(error_email);
            var full_name = trim($("#full_name").val());
            var email_id = trim($("#email_id").val());
            var password = trim($("#password").val());
            //var dob = trim($("#dob").val());

            if(full_name == '')
            {
                $("#full_name").val(full_name);
            }
            if(email_id == '')
            {
                $("#email_id").val(email_id);
            }
            if(password == '')
            {
                $("#password").val(password);
            }
            /*if(dob == '')
            {
                $("#error-dob").text("Please enter date of birth");
                $("#dob").val(dob);
            }
            */
            if(!emailReg.test( email_id )){
                //$("#error_email").html("Please enter valid email id");
                $("#email_id").val('');
            }
            if(error_email == '')
                $("#form_signup").submit();

        });

        $.validator.addMethod("alpha", function(value, element) {
            return this.optional(element) || value == value.match(/^[a-zA-Z\s]+$/);
        },'Only alphabet and space acceptable');

        $("#form_signup").validate({
            rules: {
                full_name: {
                    required:true,
                    alpha:true
                },
                email_id: {
                    required:true,
                    email:true
                },
                password: {
                    required:true,
                    minlength:6,
                    maxlength:32
                },
                hid_dob: {
                    required:true
                },
                agree: {
                    required:true
                }
            },
            messages: {
                full_name: {
                    required:"Please enter full name"
                },
                email_id: {
                    required:"Please enter email id",
                    email:"Please enter valid email id"
                },
                password: {
                    required:"Please enter password",
                    minlength:"Password must be minimum 6 character long",
                    maxlength:"Password must be maximum 32 character long"
                },
                hid_dob: {
                    required:"Please enter date of birth"
                },
                agree: {
                    required:"Please agree terms and conditions"
                }
            },
            submitHandler:function(form){
                $("#loaderdiv").show();
               $.ajax({
                    type:"POST",
                    url:"/user_registration/",
                    data:{full_name:$("#full_name").val(),email_id:$("#email_id").val(),password:$("#password").val(),dob:'',csrfmiddlewaretoken:'{{ csrf_token }}'},
                    async:false,
                    success:function(response){ //alert('response'+response);
                        if(response > 0){
                            //-------------------------------------//
                            $("#loaderdiv").hide();
                            $("#loginDiv").hide();
                            $("#confirmdiv_signup").show();
                            //-------------------------------------//
                        }
                        else
                        {
                            //-------------------------------------//
                            $("#loaderdiv").hide();
                            $("#error-email").text("Email ID Already Exists");
                            //-------------------------------------//
                        }
                    },
                    error:function(xhr){
                        alert("Error occurred");
                        $("#loaderdiv").hide();
                    }
                });

            }
        });
    });

</script>
<script>
function trim(s)
{
  while(s.substring(0,1) == ' ')  {
    s = s.substring(1,s.length);  }
  while(s.substring(s.length-1,s.length) == ' ')  {
    s = s.substring(0,s.length-1);  }
  return s;
}
function test_mail(email)
{
    var emailReg = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
  var valid = emailReg.test(email);

  if(!valid) {
        return false;
    } else {
      return true;
    }
}
</script>
<script>
$( function() {
    $("#pwdlabelid").css('top',-35);
    $("#emaillabelid").css('top',-35);
    $("#fullnamelabel").css('top', -35);
    $("#emaillabel").css('top', -35);
    $("#pawdlabel").css('top', -35);
});
</script>
<script type="text/javascript" src="{% static "investak/dist/js/gplus.js" %}" ></script>

</body>
<div id="modelTC" class="modal fade modaloverall" role="dialog" style="z-index:9999!important;">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Terms & Conditions</h4>
      </div>

      <div class="modal-body">
          <p>
            {{ site_settings.terms_conditions |safe }}
        </p>

      </div>
      <div class="modal-footer">

      </div>
    </div>

  </div>
</div>

<div id="modelPrivecy" class="modal fade modaloverall" role="dialog" style="z-index:9999!important;">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Privacy Policy</h4>
      </div>

      <div class="modal-body">
          <p>
            {{ site_settings.privacy_policy |safe }}
        </p>

      </div>
      <div class="modal-footer">

      </div>
    </div>

  </div>
</div>

<!-- END BODY -->

</html>