{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Cron</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<script type="text/javascript" src="{% static "frontend/dashboard/dist/js/jquery.1.11.3.min.js" %}"></script>
<script type="text/javascript">
    var clust_id = new Array();
    var flag=0;
    $(document).ready(function(e){
        $.ajax({
                    type:"GET",
                    url:"/frontend/AddCompanyApiEnd/",
                    async:false,
                    success:function(response) {
                        add_company(response);
                    },
                    error:function(xhr) {
                        alert("Error Occurred");
                    }
                });
    });

    function add_company(response)
    {
           alert(response);
           var obj1 = JSON.parse(JSON.stringify(response));
           //console.log(obj1['response']['data']['CompanyList']['Company'][0].bsecode);
           for(var i=0;i<obj1['response']['data']['CompanyList']['Company'].length;i++)
           {
               var BSEcode = obj1['response']['data']['CompanyList']['Company'][i].bsecode;
               var co_code = obj1['response']['data']['CompanyList']['Company'][i].co_code;
               var co_name = obj1['response']['data']['CompanyList']['Company'][i].companyname;
               var symbol = obj1['response']['data']['CompanyList']['Company'][i].nsesymbol;
               var isin = obj1['response']['data']['CompanyList']['Company'][i].isin;
               var bselisted = obj1['response']['data']['CompanyList']['Company'][i].bselisted;
               var nselisted = obj1['response']['data']['CompanyList']['Company'][i].nselisted;
               var bsetrading = obj1['response']['data']['CompanyList']['Company'][i].bsetrading;
               var nsetrading = obj1['response']['data']['CompanyList']['Company'][i].nsetrading;
               var company_short_name = obj1['response']['data']['CompanyList']['Company'][i].companyshortname;
               $.ajax({
                    type:'POST',
                   url:'/frontend/company/add/',
                   data:{BSEcode:BSEcode,co_code:co_code,co_name:co_name,symbol:symbol,isin:isin,csrfmiddlewaretoken:'{{ csrf_token }}', bselisted:bselisted, nselisted:nselisted, bsetrading:bsetrading, nsetrading:nsetrading,company_short_name:company_short_name},
                   async:false,
                   success:function(data)
                   {
                       console.log(data);
                   }
               });
   }

    }
</script>