{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Cron</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<script type="text/javascript" src="{% static "frontend/dashboard/dist/js/jquery.1.11.3.min.js" %}"></script>
<script type="text/javascript">
    var clust_id = new Array();
    var flag=0;
    $(document).ready(function(e){
        $.ajax({
            type:"POST",
            url:"/frontend/load_all_cluster/",
            async:false,
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'},
            success:function(response)
            {
                var all_cluster_id = '';
                for(var k=0;k<response.length;k++)
                {
                    if(k==response.length-1)
                    {
                        all_cluster_id = all_cluster_id+response[k].cluster_id;
                    }
                    else
                    {
                        all_cluster_id = all_cluster_id+response[k].cluster_id+",";
                    }
                }
                update_all_cluster(all_cluster_id);
            }
        });
    });
    function update_all_cluster(all_cluster_id)
    {
        $.ajax({
            url:"http://investak.cmlinks.com/Market.svc/AllClusters/"+all_cluster_id+"?responsetype=json",
            dataType:'jsonp',
            jsonpCallback:'AllClusters'
        });
    }
    function AllClusters(response)
    {
        var cluster_id_array = new Array();
        for(var k=0;k<response['response']['data']['Companylist']['company'].length;k++)
        {
            var clustercode = response['response']['data']['Companylist']['company'][k].clustercode;
            var divyield_m1 = response['response']['data']['Companylist']['company'][k].divyield_m1;
            var divyield_m3 = response['response']['data']['Companylist']['company'][k].divyield_m3;
            var divyield_m6 = response['response']['data']['Companylist']['company'][k].divyield_m6;
            var divyield_y1 = response['response']['data']['Companylist']['company'][k].divyield_y1;
            var divyield_y5 = response['response']['data']['Companylist']['company'][k].divyield_y5;
            var indexvalue_m1 = response['response']['data']['Companylist']['company'][k].indexvalue_m1;
            var indexvalue_m3 = response['response']['data']['Companylist']['company'][k].indexvalue_m3;
            var indexvalue_m6 = response['response']['data']['Companylist']['company'][k].indexvalue_m6;
            var indexvalue_y1 = response['response']['data']['Companylist']['company'][k].indexvalue_y1;
            var indexvalue_y5 = response['response']['data']['Companylist']['company'][k].indexvalue_y5;
            var ret_m1 = response['response']['data']['Companylist']['company'][k].ret_m1;
            var ret_m3 = response['response']['data']['Companylist']['company'][k].ret_m3;
            var ret_m6 = response['response']['data']['Companylist']['company'][k].ret_m6;
            var ret_y1 = response['response']['data']['Companylist']['company'][k].ret_y1;
            var ret_y5 = response['response']['data']['Companylist']['company'][k].ret_y5;
            cluster_id_array.push({
                cluster_id: clustercode,
                divyield_m1: divyield_m1,
                divyield_m3: divyield_m3,
                divyield_m6: divyield_m6,
                divyield_y1: divyield_y1,
                divyield_y5: divyield_y5,
                indexvalue_m1: indexvalue_m1,
                indexvalue_m3: indexvalue_m3,
                indexvalue_m6: indexvalue_m6,
                indexvalue_y1: indexvalue_y1,
                indexvalue_y5: indexvalue_y5,
                ret_m1: ret_m1,
                ret_m3: ret_m3,
                ret_m6: ret_m6,
                ret_y1: ret_y1,
                ret_y5: ret_y5
            });
        }

        $.ajax({
            type:"POST",
            url:"/frontend/insertAllClusters/",
            async:false,
            data:{cluster_id_array:JSON.stringify(cluster_id_array), csrfmiddlewaretoken:'{{ csrf_token }}'},
            success:function(data)
            {
                if(data==1)
                {
                    console.log("Success");
                }
            }
        });
    }
    /*function update_response(response)
    {
        for(var k=0;k<response.length;k++)
        {
            alert(k);
            clust_id.push(response[k].cluster_id);
            $.ajax({
                url:"http://investak.cmlinks.com/Market.svc/ClustersDtls/"+response[k].cluster_id+"/r1yearret?responsetype=json",
                async:false,
                dataType:'jsonp',
                jsonpCallback: 'cluster_dtl'
            });
        }
    }
    function cluster_dtl(response)
    {
        var obj1 = $.parseJSON(JSON.stringify(response));
        var json_cluster = new Array();
        for(var k=0;k<obj1['response']['data']['Companylist']['company'].length;k++)
        {
            json_cluster.push({cluster_id:clust_id[flag],co_code:obj1['response']['data']['Companylist']['company'][k].co_code,
                mcap:obj1['response']['data']['Companylist']['company'][k].mcap,
                pe:obj1['response']['data']['Companylist']['company'][k].pe,
                r1mret:obj1['response']['data']['Companylist']['company'][k].r1mret,
                r1yearret:obj1['response']['data']['Companylist']['company'][k].r1yearret,
                r6mret:obj1['response']['data']['Companylist']['company'][k].r6mret});
        }
        flag=flag+1;
        $.ajax({
           type:"POST",
           url:"/frontend/update_cluster_dtl/",
           async:false,
           data:{cluster_list:JSON.stringify(json_cluster), csrfmiddlewaretoken:'{{ csrf_token }}'},
           success:function(data)
           {
               console.log("Success");
           }
        });
    }*/
</script>