{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Buy Cluster</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>

<script type="text/javascript" src="{% static "frontend/dashboard/dist/js/jquery.1.11.3.min.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function(e){

        $("#no_of_unit").change(function(e){
            var value = $("#no_of_unit").val();
            if(value)
            {
                $("#frmPostDetails").submit();
            }
        });

        $("#btnSubmit").click(function(e){
            var orderArr = new Array();
            $(".tr-virtual").each(function(index){
               var co_code = $(this).find('.co-code').attr('co-code');
               var no_of_share = $(this).find('.no-of-share').text();
               var share_value = $(this).find('.share-value').text();
               var new_weigh = $(this).find('.new-weigh').text();
               orderArr.push({co_code:co_code,no_of_share:no_of_share,share_value:share_value,new_weigh:new_weigh});
            });
            var no_of_unit = $("#no_of_unit").val();
            var minimum_investment = $("#minimum_investment_amount").val();
            var cluster_id = '{{ cluster_id }}';
            if(cluster_id>0)
            {
                $.ajax({
                    type:"POST",
                    url:"/frontend/place_virtual_order/",
                    data:{cluster_id:cluster_id,no_of_unit:no_of_unit,minimum_investment:minimum_investment,order_data:JSON.stringify(orderArr),csrfmiddlewaretoken:'{{ csrf_token }}'},
                    async:false,
                    beforeSend:function()
                    {
                        $('body').fadeTo('slow',0.33);
                    },
                    success:function(response)
                    {
                        $('body').fadeTo('slow',1);
                    },
                    error:function(xhr)
                    {
                        alert("Error Occurred");
                        $('body').fadeTo('slow',1);
                    }
                });
            }
            e.preventDefault();
        });
    });

</script>
</head>
<body>
<center>Virtual Buy Order(Minimum Investment Amount : {{ minimum_investment|floatformat:2 }})</center>
<table border="1" cellspacing="0" cellpadding="0" width="70%" align="center">
    <tr>
        <th>SL NO</th>
        <th>Stock Name</th>
        <th>Order</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Value</th>
        <th>Old Weightage</th>
        <th>New Weightage</th>
    </tr>
    {% if buy_order_list %}
        {% for item in buy_order_list %}
            <tr class="tr-virtual">
                <td>{{ forloop.counter }}</td>
                <td class="co-code" co-code="{{ item.0.co_code }}">{{ item.0.co_name }}</td>
                <td>Buy</td>
                <td class="no-of-share">{{ item.0.no_of_share|floatformat:0 }}</td>
                <td class="share-value">{{ item.0.value_since_share_fraction }}</td>
                <td class="share-value-mul">{{ item.0.value}}</td>
                <td class="old-weigh">{{ item.0.old_weightage }}</td>
                <td class="new-weigh">{{ item.1.new_weigh_value|floatformat:2 }}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
    <form name="frmPostDetails" id="frmPostDetails" method="post" action="/buy_cluster/{{ cluster_id }}" >{% csrf_token %}
        <input type="hidden" name="minimum_investment_amount" id="minimum_investment_amount" value="{{ minimum_investment }}">
        <p align="center">
            <select id="no_of_unit" name="no_of_unit">
                <option value="1" {% ifequal no_of_unit 1 %} selected="selected" {% endifequal %}>1</option>
                <option value="2" {% ifequal no_of_unit 2 %} selected="selected" {% endifequal %}>2</option>
                <option value="3" {% ifequal no_of_unit 3 %} selected="selected" {% endifequal %}>3</option>
                <option value="4" {% ifequal no_of_unit 4 %} selected="selected" {% endifequal %}>4</option>
            </select>
        </p>
    <p align="center"><input type="submit" name="btnSubmit" id="btnSubmit" value="Place Order" /></p>
    <p align="center"><a href="/order_status/">Order List</a> </p>
    <p align="center"><a href="/order_holding/">Holding</a> </p>
    </form>

</body>
</html>