{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>Invester</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<!--<link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900' rel='stylesheet' type='text/css'> font-family: 'Roboto', sans-serif;-->

<link rel="stylesheet" type="text/css" href="{% static "frontend/dashboard/dist/css/bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "frontend/dashboard/dist/font-awesome/css/font-awesome.min.css" %}">

<link rel="stylesheet" type="text/css" href="{% static "frontend/dashboard/dist/css/style_dashboard.css" %}">

<link rel="stylesheet" type="text/css" href="{% static "frontend/dashboard/dist/css/jquery-ui.css" %}">


<script type="text/javascript" src="{% static "frontend/dashboard/dist/js/jquery.1.11.3.min.js" %}"></script>
<script type="text/javascript" src="{% static "frontend/dashboard/dist/js/bootstrap.min.js" %}"></script>
<!--<script type="text/javascript" src="{% static "frontend/dashboard/dist/js/iedecet.js" %}"></script>-->

<script type="text/javascript" src="{% static "frontend/dashboard/dist/js/jquery-ui.js" %}"></script>

<script type="text/javascript" src="{% static "frontend/dashboard/dist/js/jquery.marquee.js" %}"></script>
<script type="text/javascript" src="{% static "frontend/dashboard/dist/js/jquery.tinyscrollbar.min.js" %}"></script>
<script type="text/javascript" src="{% static "frontend/dashboard/dist/js/tableExport.js" %}"></script>
<script type="text/javascript" src="{% static "frontend/dashboard/dist/js/jquery.base64.js" %}"></script>
<script type="text/javascript" src="{% static "frontend/dashboard/dist/js/notify.min.js" %}"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<style type="text/css">
    a:hover {
        color:#337ab7!important;
        text-decoration: none!important;
    }
</style>
<script type="text/javascript">
$(document).ready(function(e) {
	$('#marquee-vertical').marquee();

	$('#scrollbar1').tinyscrollbar();

});

</script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 8]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<script>
var data_graph = new Array();
var data_graph_idx = new Array();
var pop_array = new Array();
var pop_array_idx = new Array();
var exchange = "NSE";
var select_value = 1;
var axis = '';
var cluster_value = 0;
var index_value = 0;
var new_index_value = 0;
$(document).ready(function(e){
    $("#select_exchange").change(function(e){
        exchange = $(this).val();
        select_value = $("#select_value").val();
        historical_graph('{{ cluster_id }}');
    });

    $("#select_value").change(function(e){
        exchange = $("#select_exchange").val();
        select_value = $(this).val();
        historical_graph('{{ cluster_id }}');
    });
});
function get_graph_value()
{
    var cluster_id = '{{ cluster_id }}';
    if(cluster_id)
    {
        $.ajax({
            type:"POST",
            url:"/frontend/cluster_list/get_graph_value/",
            async:false,
            data:{cluster_id:cluster_id, csrfmiddlewaretoken: '{{ csrf_token }}'},
            success:function(response)
            {
                var co_code = '';
                var weightage = '';
                for(var k=0;k<response.length;k++)
                {
                    if(k==response.length-1)
                    {
                        co_code = co_code + response[k].co_code;
                        weightage = weightage + response[k].weightage;
                    }
                    else
                    {
                        co_code = co_code +  response[k].co_code + ",";
                        weightage = weightage + response[k].weightage + ",";
                    }
                }
                historical_graph(cluster_id);
            },
            error:function(xhr)
            {
                alert("Error Occurred");
            }
        });
    }
}
function historical_graph(cluster_id)
{

    $.ajax({
        url:"http://investak.cmlinks.com/Market.svc/ClustersChart/"+cluster_id+"/Y5/"+exchange+"?responsetype=json",
        dataType: 'jsonp',
        jsonpCallback: "Investak_Historical",
        beforeSend:function()
        {

        },
        success:function(data)
        {

        }
    });
}
function pop_graph(cluster_id,co_code,weightage)
{
    $.ajax({
        url:"http://investak.cmlinks.com/Market.svc/CompanyChart/BSE/"+co_code+"/1y?responsetype=json",
        dataType: 'jsonp',
        jsonpCallback: "pop_up_graph",
        beforeSend:function()
        {

        },
        success:function(data)
        {

        }
    });
}
function pop_up_graph(response)
{

   var obj1 = $.parseJSON(JSON.stringify(response));


   var object = new Object();
    var object1 = new Object();
    pop_array = new Array();
    pop_array_idx = new Array();
   for(var i=0;i<obj1['response']['data']['Companylist']['company'].length;i++)
   {
       var str = obj1['response']['data']['Companylist']['company'][i].tradedate;
       str = str.replace("AM","");
       str = str.replace("12:00:00","");
       myDate = str.split("/");
       var newDate=myDate[1]+"/"+myDate[0]+"/"+myDate[2];

        object.data = [new Date(myDate[2],myDate[0],myDate[1]).getTime(),parseInt(obj1['response']['data']['Companylist']['company'][i].dayhigh)];
        object1.data = [new Date(myDate[2],myDate[0],myDate[1]).getTime(),parseInt(obj1['response']['data']['Companylist']['company'][i].daylow)];

       pop_array.push(object.data);
       pop_array_idx.push(object1.data);
   }

    pop_array.sort();
    pop_array_idx.sort();
    $('#div_test').highcharts('StockChart', {

        chart: {
        renderTo: 'div_test',
        zoomType: 'x'
            },
           xAxis: {
        events: {
            setExtremes: function (e) {
                if(typeof e.min == 'undefined' && typeof e.max == 'undefined'){
                     console.log('reset zoom clicked');
                } else {
                     console.log('zoom-in');
                }
            }
        }
    },
         yAxis: {
             opposite:false,
             allowDecimals: false,
             labels: {
                formatter: function () {
                        return this.value;
                    }
            }
        },
            series : [{
                data : pop_array
            },
            {
                data: pop_array_idx
            }
            ]
        });
    $('#td_pop_up').closest('img').hide();
    var render_width = 250;
    var render_height = 200;

    // Get the cart's SVG code
    var svg = $('#div_test').highcharts().getSVG({
        exporting: {
            sourceWidth: 250,
            sourceHeight: 200
        }
    });

    // Create a canvas
    var canvas = document.createElement('canvas');
    canvas.height = render_height;
    canvas.width = render_width;
    $("#td_pop_up").append(canvas);

    // Create an image and draw the SVG onto the canvas
    var image = new Image;
    image.onload = function() {
        canvas.getContext('2d').drawImage(this, 0, 0, render_width, render_height);
    };
    image.src = 'data:image/svg+xml;base64,' + window.btoa(unescape(encodeURIComponent(svg)));



}
function Investak_Historical(response)
{
   var obj1 = $.parseJSON(JSON.stringify(response));
    var object = new Object();
    var object1 = new Object();
    data_graph = new Array();
    data_graph_idx = new Array();
   for(var i=0;i<obj1['response']['data']['Companylist']['company'].length;i++)
   {
       var str = obj1['response']['data']['Companylist']['company'][i].date;
       str = str.replace("AM","");
       str = str.replace("12:00:00","");
       myDate = str.split("/");
       var newDate=myDate[1]+"/"+myDate[0]+"/"+myDate[2];
       if(select_value==1)
       {
            if(i==0)
            {
                cluster_value = parseInt(obj1['response']['data']['Companylist']['company'][i].clustervalue);
                index_value = parseInt(obj1['response']['data']['Companylist']['company'][i].indexvalue);
                new_index_value = (cluster_value/parseInt(obj1['response']['data']['Companylist']['company'][i].indexvalue))*parseInt(obj1['response']['data']['Companylist']['company'][i].indexvalue);
                object.data = [new Date(myDate[2],myDate[0],myDate[1]).getTime(),parseInt(cluster_value)];
                object1.data = [new Date(myDate[2],myDate[0],myDate[1]).getTime(),parseInt(new_index_value)];
            }
           else {
                cluster_value = parseInt(obj1['response']['data']['Companylist']['company'][i].clustervalue);
                temp = parseInt(cluster_value) / parseInt(index_value) ;
                new_index_value = parseInt(temp * parseInt(obj1['response']['data']['Companylist']['company'][i].indexvalue));

                object.data = [new Date(myDate[2],myDate[0],myDate[1]).getTime(),parseInt(cluster_value)];
                object1.data = [new Date(myDate[2],myDate[0],myDate[1]).getTime(),parseInt(new_index_value)];
            }

           axis =  {
            opposite:false,
            allowDecimals: false,
             labels: {
                formatter: function () {
                        return this.value;
                    }
            }
        };
       }
       else {
           var ret = parseFloat(obj1['response']['data']['Companylist']['company'][i].ret);
           var ret_idx =  parseFloat(obj1['response']['data']['Companylist']['company'][i].ret_idx);

            object.data = [new Date(myDate[2],myDate[0],myDate[1]).getTime(),parseFloat(ret.toFixed(2))];
            object1.data = [new Date(myDate[2],myDate[0],myDate[1]).getTime(),parseFloat(ret_idx.toFixed(2))];
           axis =  {
            opposite:false,
            allowDecimals: false,
             labels: {
                formatter: function () {
                        return this.value + "%";
                    }
            }
        };
       }


       data_graph.push(object.data);

       data_graph_idx.push(object1.data);
   }

    data_graph.sort();

    data_graph_idx.sort();

    display_graph();

}
function display_graph()
{
     $('#historicalgraph').highcharts('StockChart', {

        chart: {
        renderTo: 'historicalgraph',
        zoomType: 'x'
            },
           xAxis: {
        events: {
            setExtremes: function (e) {
                if(typeof e.min == 'undefined' && typeof e.max == 'undefined'){
                     console.log('reset zoom clicked');
                } else {
                     console.log('zoom-in');
                }
            }
        }
    },
         yAxis: axis,
            series : [{
                data : data_graph
            },
            {
                data: data_graph_idx
            }
            ]
        }, function(chart) {

            chart.series[0].update({ name: '{{ cluster_details.0.cluster_name }}'});
            chart.series[1].update({ name: $("#select_exchange option:selected").text()});


    });
    $('#historicalgraph').closest('img').hide();


}


$(document).ready(function() {
    get_graph_value();
	$("#inbox1").find('.arrowsClick').click(function(e){
		//alert(22);
		e.preventDefault();
		$(".inbox1").slideToggle();

	});

	$("#inbox2").find('.arrowsClick').click(function(e){
		//alert(22);
		e.preventDefault();
		$(".inbox2").slideToggle();
	});


  $('.hoverPops').hover(function(){
      var co_code = $(this).attr('co-code');
      var cluster_id = '{{ cluster_id }}';


          $.ajax({
              type: "POST",
              url: "/frontend/popup_co_code/",
              async: false,
              data: {cluster_id: cluster_id, co_code: co_code, csrfmiddlewaretoken: '{{ csrf_token }}'},
              beforeSend: function () {

              },
              success: function (response) {

                  if (parseFloat(response[0].one_month).toFixed(2) >= 0.00) {
                      one_month_span_class = "trend-up";
                      one_month_i_class = "fa fa-arrow-up";
                  }
                  else {
                      one_month_span_class = "trend-down";
                      one_month_i_class = "fa fa-arrow-down";
                  }

                  if (parseFloat(response[0].six_month).toFixed(2) >= 0.00) {
                      six_month_span_class = "trend-up";
                      six_month_i_class = "fa fa-arrow-up";
                  }
                  else {
                      six_month_span_class = "trend-down";
                      six_month_i_class = "fa fa-arrow-down";
                  }

                  if (parseFloat(response[0].one_year).toFixed(2) >= 0.00) {
                      one_year_span_class = "trend-up";
                      one_year_i_class = "fa fa-arrow-up";
                  }
                  else {
                      one_year_span_class = "trend-down";
                      one_year_i_class = "fa fa-arrow-down";
                  }
                  var co_performance = response[0].company_performance;
                  $(".stock-info").html('<h5>' + response[0].co_name + '<span class="pull-right" style="text-align:right">' +
                  '<span class="label label-warning pull-right">Rs.' + parseFloat(response[0].price).toFixed(2) + '</span></span></h5>' +
                  ' <p></p> <table> <tr><td style="background:#fff; padding-left: 0 !important;" id="td_pop_up">' +
                  '</td> ' +
                  '<td style="vertical-align:middle; padding-right: 0 !important; width: 50%"> <div class="returs_area"> <p>Returns</p>' +
                  '<p>1 MO:<span class="' + one_month_span_class + '"><i class="' + one_month_i_class + '"></i>' + parseFloat(response[0].one_month).toFixed(2) + '%</span></p>' +
                  '<p>6 MO:<span class="' + six_month_span_class + '"><i class="' + six_month_i_class + '"></i>' + parseFloat(response[0].six_month).toFixed(2) + '%</span></p>' +
                  '<p>1 YR:<span class="' + one_year_span_class + '"><i class="' + one_year_i_class + '"></i>' + parseFloat(response[0].one_year).toFixed(2) + '%</span></p>' +
                  ' </div> </td> </tr> </table> <div class="small-box-1"> <span class="pull-left">P/E: <b>' + parseFloat(response[0].pe).toFixed(2) + '</b> </span>' +
                  ' <span class="pull-right">Market Cap: <b>' + parseFloat(response[0].market_cap).toFixed(2) + 'B</b> DIV YIELD : ' + parseFloat(response[0].div_yield).toFixed(2) + ' </span> <div class="clearfix"></div> </div> <div class="stock-contant"> <p>'+co_performance.slice(0,200)+' </p> </div>');


                  pop_graph(cluster_id, co_code, response[0].weightage);
              },
              error: function (xhr) {
                  alert("Error Occurred");
              }
          });

          var tgt = $(".stock-info").html();
          var inx = $(this).parent().parent().index();
          $(this).parent().find('.pophover').append('<div id="feedback">' + tgt + '</div>');
          $(this).parent().find(".pophover").show();


  }, function() {

         $('.pophover #feedback').remove();
        $(this).parent().find(".pophover").hide();

  });


  $(".arows").find('a').click(function(event){
    //alert(222);
    event.preventDefault();
    $(".dropdown_area").show();
  });


  $(".drop_cls").click(function(event){
    event.preventDefault();
    $(".dropdown_area").hide();

  });

    $(".moftiBtn").click(function(e){
        var description = $("#description").val();
        var user_id = '{{ request.session.id }}';
        var cluster_id = '{{ cluster_id }}';

        $.ajax({
            type:"POST",
            url:"/frontend/user_comment/",
            data:{description:description,user_id:user_id,cluster_id:cluster_id,csrfmiddlewaretoken:'{{ csrf_token }}'},
            async:false,
            beforeFilter:function(){

            },
            success:function(data)
            {
                if(data==1)
                {
                    $("<span style='color:#0c0c0c;font-weight:bold;'>Comment Addedd Successfully</span>").insertAfter(".coment_box");
                    setTimeout(function(){ window.location.reload(); }, 2000);
                }
                else
                {
                    $("<span style='color:#f00;font-weight:bold;'>Comment Not Added</span>").insertAfter(".coment_box");
                    setTimeout(function(){ window.location.reload(); }, 2000);
                }

            },
            error:function(data)
            {

                alert("Comment Not Posted Due To Some Error");
            }
        });
    });

    $(".after_like").click(function(e){
        var cluster_id = $(this).attr('cluster-id');
        var user_id = $(this).attr('user-id');
        if(cluster_id && user_id)
        {
            $.ajax({
                type:"POST",
                url:"/frontend/likeCluster/",
                data:{cluster_id:cluster_id,user_id:user_id,csrfmiddlewaretoken:'{{ csrf_token }}'},
                async:false,
                beforeSend:function()
                {

                },
                success:function(data)
                {

                    $(".after_like").html('<i class="fa fa-heart" aria-hidden="true"></i>'+data);
                },
                error:function(xhr)
                {
                    alert("Error occurred");

                }
            });
        }
    });

    $(".shareBtn").click(function(e){
         var cluster_id = $(this).attr('cluster-id');
        var user_id = $(this).attr('user-id');
        if(cluster_id && user_id)
        {
            $.ajax({
                type:"POST",
                url:"/frontend/watchCluster/",
                data:{cluster_id:cluster_id,user_id:user_id,csrfmiddlewaretoken:'{{ csrf_token }}'},
                async:false,
                beforeSend:function()
                {

                },
                success:function(data)
                {

                    $.notify(data);
                },
                error:function(xhr)
                {
                    alert("Error occurred");

                }
            });
        }
    });

});


  </script>

</head>

<body>

<section class="navigation_bar">
    <nav class="navbar">
        <div class="container">
        <!-- logo section -->
        <div class="col-md-2 nopadleft"><div class="logo"><a href="/user_dashboard/"><img src="{% static "frontend/dashboard/images/logo.png" %}"></a></div></div>

        <!-- menu section -->
        <div class="col-md-8" style="border-right:1px solid #dadada;">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a class="hvr-underline-from-center" href="../index.html#aboutus">About Us</a></li>

                <li><a class="hvr-underline-from-center" href="../index.html#markit2">Testimonials</a></li>
                <li><a class="hvr-underline-from-center" href="../index.html#team">Teams</a></li>
                <li><a class="hvr-underline-from-center" href="../index.html#partners">Partners</a></li>
                <li><a class="hvr-underline-from-center" href="../index.html#contactus">Contact Us</a></li>
                <li><a href="../faq.html" class="faq hvr-underline-from-center"><img src="{% static "frontend/dashboard/images/ask.png" %}"><span>FAQ</span></a></li>
                <li class="newss"><a class="hvr-underline-from-center" href="../newsroom.html" class=""><img src="{% static "frontend/dashboard/images/icon1.png" %}"></a><span>Newsroom</span></li>
              </ul>
            </div>
        </div>
        <!-- user area section -->
        <div class="col-md-2">
            <div class="userprofile">
            <div class="userpics"><a class="picx" href="/user_dashboard/"><i aria-hidden="true" class="fa fa-user"></i></a></div>
            <p>{{ first_name }}</p><a data-toggle="dropdown" class="dropdown-toggle" data-target="#" href="/user_dashboard/"><i aria-hidden="true" class="fa fa-caret-down"></i></a>

             <ul class="dropdown-menu">
            <li><a href="/user_dashboard/">Dashboard</a></li>
            <li><a href="#" data-toggle="modal" data-target="#login-popup">My Profile</a></li>
            <li><a href="#" data-toggle="modal" data-target="#password-popup">Change Password</a></li>
            <li><a href="/logout/">Log Out</a></li>

            </div>
        </div>

        </div>

    </nav>

</section>

<section class="tabber_section">
  <div class="container">
        <!-- Nav tabs -->
        <div class="tab_menus">
        <ul class="nav nav-tabs" role="tablist">
          <li ><a href="/user_dashboard/">Dashboard</a></li>
          <li class="active"><a href="javascript:void(0)">Analyze</a></li>
          <li ><a href="/customize/">Customize</a></li>
          <li ><a href="javascript:void(0)">Optimize</a></li>
          <li ><a href="/watchlist/">Watchlist</a></li>
        </ul>
        </div>
  </div>
</section>

<section class="body_area">
	<div class="container">

        <div class="row margisTop">

        	<div class="col-md-5">
            	<div class="img_area">
                	<img class="img-responsive" style="min-height: 305px!important; height: 305px!important; width: 100%!important;" src="{% static "media/images/cluster/" %}{{ cluster_details.0.cluster_image }}" />
                </div>
            </div>

            <div class="col-md-7">
            	<div class="box_area_mofit">

                    <div class="col-lg-6 col-md-6 col-xs-12">

                        <div class="defalt_txt">
                        	<h2>{{ cluster_details.0.cluster_name }}</h2>
                        	<p>Created by:  {{ user_details.full_name }}</p>
							<p>Date Created: {{ cluster_details.0.created_date }}</p>
                        </div>

                    </div>

                    <div class="col-lg-12 col-md-12 col-xs-12 txtArea">
                    	<p>{{ cluster_details.0.cluster_desc }}
                        </p>
                    </div>

                     <div class="col-lg-12 col-md-12 col-xs-12">
                     <div class="social_area">
                    	<a class="after_fb" href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>Share</a>
                        <a class="after_mail" href="mailto:{{ user_details.email_id }}"><i class="fa fa-envelope" aria-hidden="true"></i>E-Mail</a>
                        <!--<a class="after_like" href="javascript:void(0)" cluster-id="{{ cluster_id }}" user-id="{{ request.session.id }}"><i class="fa fa-heart" aria-hidden="true"></i>{{ count_like }}</a>-->

                    </div>
                    {% if cluster_details.0.one_year_index >= 0 %}
                    <div class="baseDecrese_up" style="display: block!important;"><p style="font-size: 12px!important;color:#000!important;">1Y Index<span><i aria-hidden="true" class="fa fa-long-arrow-up"></i></span>{{ cluster_details.0.one_year_index|floatformat:2}}</p></div>
                    {% else %}
                    <div class="baseDecrese_dwn" style="display: block!important;"><p style="font-size: 12px!important;color:#000!important;">1Y Index<span><i aria-hidden="true" class="fa fa-long-arrow-down"></i></span>{{ cluster_details.0.one_year_index|floatformat:2 }}</p></div>
                    {% endif %}

                     {% if cluster_details.0.one_month_return >= 0 %}
                    <div class="baseDecrese_up" style="display: block!important;"><p style="font-size: 12px!important;color:#000!important;">1M Return<span><i aria-hidden="true" class="fa fa-long-arrow-up"></i></span>{{ cluster_details.0.one_month_return|floatformat:2}}</p></div>
                    {% else %}
                    <div class="baseDecrese_dwn" style="display: block!important;"><p style="font-size: 12px!important;color:#000!important;">1M Return<span><i aria-hidden="true" class="fa fa-long-arrow-down"></i></span>{{ cluster_details.0.one_month_return|floatformat:2 }}</p></div>
                    {% endif %}

                    {% if cluster_details.0.one_year_return >= 0 %}
                    <div class="baseDecrese_up" style="display: block!important;"><p style="font-size: 12px!important;color:#000!important;">1Y Return<span><i aria-hidden="true" class="fa fa-long-arrow-up"></i></span>{{ cluster_details.0.one_year_return|floatformat:2}}</p></div>
                    {% else %}
                    <div class="baseDecrese_dwn" style="display: block!important;"><p style="font-size: 12px!important;color:#000!important;">1Y Return<span><i aria-hidden="true" class="fa fa-long-arrow-down"></i></span>{{ cluster_details.0.one_year_return|floatformat:2 }}</p></div>
                    {% endif %}

                    {% if cluster_details.0.one_year_div_yield >= 0 %}
                    <div class="baseDecrese_up" style="display: block!important;"><p style="font-size: 12px!important;color:#000!important;">1Y Dividend<span><i aria-hidden="true" class="fa fa-long-arrow-up"></i></span>{{ cluster_details.0.one_year_div_yield|floatformat:2}}</p></div>
                    {% else %}
                    <div class="baseDecrese_dwn" style="display: block!important;"><p style="font-size: 12px!important;color:#000!important;">1Y Dividend<span><i aria-hidden="true" class="fa fa-long-arrow-down"></i></span>{{ cluster_details.0.one_year_div_yield|floatformat:2 }}</p></div>
                    {% endif %}

                    <div class="baseIncrese"><p style="font-size: 12px!important;color:#000!important;">Minimum Investment : Rs.{{ new_min_investment_value|floatformat:2 }}</p></div>

                    </div>


                </div>
            </div>

        </div>

        <div class="row">
        	<div class="col-lg-12">
            	<div class="graph_box">
                	<h2>Historical Graph</h2>
                    <div style="float: left!important;">
                        <select name="select_exchange" id="select_exchange" >
                            <option value="NSE">Nifty</option>
                            <option value="BSE">Sensex</option>
                        </select>
                    </div>
                    <div style="float: right!important;">
                        <select name="select_value" id="select_value" >
                            <option value="1">Value</option>
                            <option value="2">Return</option>
                        </select>
                    </div>
                    <div class="boxes" id="historicalgraph">
                    <!--<img class="img-responsive" src="{% static "frontend/dashboard/images/graph3.png" %}">-->
                    </div>
                </div>
            </div>

            <!--<div class="col-lg-6">
            	<div class="graph_box">
                	<h2>Projected Graph</h2>
                    <div class="boxes" id="projectedgraph">
                    <img class="img-responsive" src="{% static "frontend/dashboard/images/graph4.png" %}">
                    </div>
                </div>
            </div>-->

        </div>

        <div class="row">
        	<div class="col-md-10">
                <div class="accrodian_area">
                    <div class="accrodian_area_head">

                        <!--<div class="col-md-4 search_area"><input type="search" class="searchBox" placeholder="Type stock name or symbol"></div>-->
                        <div class="col-md-3 txt_area colcenter"><p>Overview</p></div>


                    </div>
                    <div class="boxs_area analyze_area">

                        <table class="table" id="clusterDetails">
                          <thead>
                              <tr>
                                    <th>SEGMENT & STOCKS</th>
                                    <th>WEIGHT</th>
                                    <th>SYMBOL</th>
                                    <th>PRICE</th>
                                    <th>MARKET CAP</th>
                                    <th>1 YR RETURN</th>
                                    <th>VALUATION (P/E)</th>
                                </tr>
                            </thead>

                            <tbody>
                        {% if cluster_stock_details %}
                                    {% for csd in cluster_stock_details %}
                                        <tr class="inbox1">
                                            <td><a href="/stock_details/{{ csd.co_code }}/{{ cluster_id }}/{{ csd.weigh|floatformat }}" co-code="{{ csd.co_code }}" class="hoverPops">{{ csd.co_name }}</a>
                                                <div class="pophover"></div>
                                            </td>
                                            <td>{{ csd.weigh }}%</td>
                                            <td>{{ csd.symbol }}</td>
                                            <td>Rs.{{ csd.price }}</td>
                                            <td>{{ csd.market_cap }}B</td>
                                        <td>
                                            {% if csd.one_year_return < 0 %}
                                                <div class="baseDecrese_dwn"><p><span><i aria-hidden="true" class="fa fa-long-arrow-down"></i></span>{{ csd.one_year_return|floatformat:2 }}%</p></div>
                                            {% else %}
                                                <div class="baseDecrese_up"><p><span><i aria-hidden="true" class="fa fa-long-arrow-up"></i></span>{{ csd.one_year_return|floatformat:2 }}%</p></div>
                                            {% endif %}
                                        </td>
                                            <td>{{ csd.valuation_pe }}</td>
                                        </tr>

                                    {% endfor %}
                        {% endif %}

                            </tbody>


                        </table>

                    </div>

                </div>

                <div class="col-md-12 nopadding">
                	<a href="javascript:void(0)" onClick ="$('#clusterDetails').tableExport({type:'excel',escape:'false'});" class="mybuttons2"><img src="{% static "frontend/dashboard/images/excel.png" %}">Download Excel Spreedsheet</a>
                </div>

            </div>

            <div class="col-md-2 nopadleft">
            	<div class="buttons_area">
                	<a class="buyBtn" href="/buy_cluster/{{ cluster_id }}">Buy Cluster</a>
            		<a class="EditBtn" href="/edit_my_cluster/{{ cluster_id }}">Edit This Cluster</a>
                	<a class="shareBtn" href="javascript:void(0)" cluster-id="{{ cluster_id }}" user-id="{{ request.session.id }}"><i class="fa fa-heart" aria-hidden="true"></i>Add to Watchlist</a>
                </div>

                <div class="nwes_scroller">
                	<h3>Similar Clusters</h3>

            <div class="block-hdnews">
            {% if s_cluster %}
            <div class="list-wrpaaer">
                <ul class="list-aggregate" id="marquee-vertical">
                    {% for sc in s_cluster %}
                    <li>
                    <div class="imgs"><a href="/cluster_list/{{ sc.cluster_id }}"><img src="{% static "media/images/cluster/" %}{{ sc.cluster_image }}" width="43px" height="43px"></a></div>
                    <div class="info">
                    	<h4><a href="/cluster_list/{{ sc.cluster_id }}">{{ sc.cluster_name }}</a></h4>
                        {% if sc.one_year_rate < 0 %}
                        <p><span class="downsSensex"><i aria-hidden="true" class="fa fa-arrow-down"></i></span>{{ sc.cluster_desc|slice:"0:10" }}</p>
                        {% else %}
                        <p><span class="upsSensex"><i aria-hidden="true" class="fa fa-arrow-up"></i></span>{{ sc.cluster_desc|slice:"0:10" }}</p>
                        {% endif %}
                    </div>
                    </li>
                    {% endfor %}


                </ul>
            </div><!-- list-wrpaaer -->
            {% endif %}
            </div>

                </div>

            </div>

        </div>

        <div class="row margisbtm">
        	<div class="col-md-12"><div class="bottoms_area"></div></div>

            <div class="col-md-6">
            	<div class="boxing_area">
                	<div class="coment_box">
                    	<h2>Add New Comment</h2>

                        <div class="comnt_box">
                        	<div class="userIcon">
                            	<div class="userIcon_bx"><img src="{% static "frontend/dashboard/images/icons1.png" %}"></div>
                            </div>

                            <div class="comnt_txt_area">
                                <textarea placeholder="Your Comment...." name="description" id="description"></textarea>
                            </div>

                            <a class="moftiBtn" href="javascript:void(0)">submit</a>

                        </div>

                    </div>
                </div>
            </div>


            <div class="col-md-6">
            	<div class="boxing_area">
                	<div class="heading"><p>See All Comments</p></div>

                    <div id="scrollbar1">
                    <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                    <div class="viewport">
                    <div class="overview">

                        <ul>

                            {% if comment_details %}
                                {% for cdm in comment_details %}
                                    <li>
                                        <div class="ad_commnt_pic"><img src="{% static "frontend/dashboard/images/icons1.png" %}" width="69px" /></div>
                                        <div class="descpt">
                                            <h4>{{ cdm.user_list.full_name }}</h4>
                                            <span>{{ cdm.comment_date }}</span>
                                            <p>{{ cdm.comment_description }}</p>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% endif %}

                        </ul>

                    </div>
                    </div>
                    </div>

                </div>
            </div>

        </div>



	</div>
</section>





<section class="footer_area" >
	<div class="container-fluid">

        <div class="col-lg-2 col-md-2 col-xs-12 colcenter">
        	<p class="foterTxt">©2016 investak. All rights reserved.</p>
        </div>

    </div>
</section>


<div class="stock-info" style="display:none;">


</div>

<div id="div_test" style="display:none;"></div>

</body>
</html>
