{% include 'inner_head.html' %}
{% load staticfiles %}
<script>
    $(document).ready(function() {
        //$('.list').hide();
        var as = $(window).width();
        if (as < 767) {
        $(".faq_topics > .mobile_arrow").click(function () {

            $('.list').slideToggle();
            $(this).find('.fa').toggleClass("fa-caret-down fa-caret-up");
        });
        }else {

        }

        mobilemenu();
        var tgt = $(document).height();
		$(".before_login_menu_mobile").height(tgt);
    });

    function mobilemenu()
	{
		$(".onclickMob").click(function(e){

            e.stopPropagation();
			$('.before_login_menu_mobile').animate({right:0});
			$(".psuh_left").animate({right:240});
			$(this).hide();
			$(".mobmenu").show();
			$(".psuh_left").addClass('opacity');
			$(".psuh_left").addClass('opaleft');


		});

        $(".before_login_menu_mobile").click(function(e){
            e.stopPropagation();
        });

		$(".mobmenu").click(function(e){
			$('.before_login_menu_mobile').animate({right:-270});
			$('.before_login_menu_mobile').show();
			$(".psuh_left").animate({right:0});
			$(this).hide();
			$(".onclickMob").show();
			$(".psuh_left").removeClass('opacity');

             //e.stopPropagation();
		});


	}
$(document).on('click','.opacity',function(e){
         var right_value = $('.before_login_menu_mobile').css('right');

            if(right_value == "-270px") {
                $( ".onclickMob" ).trigger( "click" );
            }
            else {
                $('.before_login_menu_mobile').animate({right:-270});
                $('.before_login_menu_mobile').show();
                $(".psuh_left").animate({right:0});
                $(this).hide();
                $(".onclickMob").show();
                $(".psuh_left").removeClass('opacity');
                $(".psuh_left").css('display','block');
            }

            $(".onclickMob").focus();
            $(".mobmenu").hide();


    });

</script>
<div class="total_body_area" >

<div class="before_login_menu_mobile">
<div id="" class="">
    <div class="menu_area">
    {% if request.session.id %}
    <div class="search_box"><input type="text" name="website_search_mob" id="website_search_mob" placeholder="Cluster, Stock etc.."></div>
    <div class="user_area"><a href="javascript:void(0)"><img src="{{ request.session.profile_img }}" id="img_user_area"></a>
    	<h4>{{ request.session.full_name }}
        <p>{{ request.session.email_id }}</p></h4>
        <div class="submenu">
        	<a href="javascript:void(0)" data-toggle="modal" data-target="#modalChangeProfile">View Profile</a>
            <a href="javascript:void(0)" data-toggle="modal" data-target="#modalChangePwd">Change Password</a>
            <a href="/watchlist/">Watchlist</a>
            <a href="/my_built_cluster/">My Built Clusters</a>
            <a href="/other_cluster/">My Edited Clusters</a>
            {% ifequal request.session.reg_type "S" %}
                <a href="/logout/" >Logout</a>
            {% else %}
                <a href="/logout/" >Logout</a>
            {% endifequal %}

        </div>
    </div>

    <ul class="nav navbar-nav">
        <li><a href="/user_dashboard/" {% if request.path == '/user_dashboard/' %}  class="active_logs" {% endif %}>Dashboard</a></li>
        <li><a href="/analyze/" {% if request.path == '/analyze/' %}  class="active_logs" {% endif %}>Analyze</a></li>
        <li><a href="/customize/" {% if request.path == '/customize/' %}  class="active_logs" {% endif %}>Customize</a></li>
        <li><a href="/portfolio/" {% if request.path == '/portfolio/' %}  class="active_logs" {% endif %}>Portfolio</a></li>
    </ul>
    {% else %}
    <ul class="nav navbar-nav">
        <li><a href="/#aboutus">about</a></li>
        <li><a href="/#Analyze">approach</a></li>
        <li><a href="/#markit2">testimonials</a></li>
        <li><a href="/#team">team</a></li>
        <li><a href="/#partners">partners</a></li>
        <li><a href="/#contactus">contact</a></li>
        <li><a href="/login/">login</a></li>
        <li><a href="/signup/">signup</a></li>
        <h3>Resources</h3>
        <li><a href="/faq/" style="padding-left:30px !important;">faq</a></li>
        <li><a href="/news/" style="padding-left:30px !important;">newsroom</a></li>
    </ul>
    {% endif %}
    </div>

</div>
</div>

    <div class="psuh_left">
        <div class="faq_heads">

        {% include 'inner_nav.html' %}

        <div class="faq_search_area">
            <div class="container">

                <div class="col-lg-7 col-center">
                    <div class="site-heading">
                        <h2>Our team is here to support you</h2>
                    </div>
                    <div id="custom-search-input">
                        <div class="input-group col-md-8 col-center tops">
                          <form>
                            <input type="text" name="faq_srch" id="keywords" size="24" placeholder="Search...." class="search-query form-control">
                             <a href="javascript:void(0)" onclick="" class="iconsSe"><i class="fa fa-search"></i></a>
                          </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        </div>

        <section id="faq_body">
        <div class="container">

            <div class="row">

                <div class="col-md-3">
                    <div class="faq_topics">
                        <h2>Topics</h2><span class="mobile_arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                        <ul class="list">
                            {% if topiclist %}
                                {% for cat in topiclist %}
                                <li><a href="/faq/{{cat.id}}" {% ifequal cat.id sel_topic_id %} class="faq_active" {% endifequal %} >{{cat.topic_name}}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="faq_questions faqTops">
                        <h2>{{faq_topic_name}}</h2>
                    </div>

                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {% if faqlist %}
                        {% for item in faqlist %}
                        <div class="panel panel-default">
                           <!-- -Q1-->
                           <div class="panel-heading">
                                  <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}"><i class="more-less glyphicon glyphicon-plus"></i>{{ item.faq_qsn}}
                                    </a>
                                  </h4>
                            </div>


                            <div id="collapse{{forloop.counter}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{forloop.counter}}">
                                <div class="panel-body">
                                   {{ item.faq_ans}}
                                </div>
                            </div>
                        </div>
                         {% endfor %}
                    {% else %}
                        <div class="panel panel-default"><span style="color:red;">NO DATA FOUND..</span></td></div>
                    {% endif %}

                    </div><!-- panel-group -->


                </div>

            </div>

        </div>


        </section>
{% include 'inner_footer.html' %}
    </div>
</div>
<!--//////////////////////SEARCH KEYWORD/////////////////////////////////////-->
<script src="{% static "frontend/js/hilitor-utf8.js" %}"></script>
<script type="text/javascript">
  var myHilitor;
  document.addEventListener("DOMContentLoaded", function() {
    myHilitor = new Hilitor("faq_body");
    myHilitor.setMatchType("left");
  }, false);

  document.getElementById("keywords").addEventListener("keyup", function() { 
    myHilitor.apply(this.value);
  }, false);
</script>
<!--//////////////////////SEARCH KEYWORD/////////////////////////////////////-->