{% load staticfiles %}
<div class="container-fluid in-container-fluid in-bg-contact" id="contactus">
  <div class="row in-cover">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h4 class="in-cont-title" style="text-shadow: 0px 1px 0px #000; color:#fff;">Contact Us</h4>
        </div>
      </div>
      <div class="row">
        <!--<h4 class="text-center-h" style="font-size: 24px; margin-bottom: 20px; color:#fff; text-shadow: 0px 1px 0px #000;">Our Team is here for you</h4>-->
        <div class="col-lg-12 in-middle contact-forms">
          <div class="row">
            <div class="col-lg-12 col-md-12 contact-form" style="border-bottom: 1px dotted #b4b4b4">
              <p style="line-height: 18px; margin-bottom: 20px; text-align: center;">{{AllEditSetList.0.description}}</p>
              <ul style=" width: 100%; text-align: center;">
                <li>
                  <p>Address: <small>{{AllEditSetList.0.address}}</small></p>
                </li>
                <li>
                  <p>Phone: <small>{{AllEditSetList.0.phone}},</small></p>
                </li>
                <li>
                  <p>Email: <small>{{AllEditSetList.0.email}}</small></p>
                </li>
              </ul>
            </div>
            
            <div class="col-xs-12 col-sm-12  col-md-3 "></div>
            <div class="col-md-6 col-sm-12 col-xs-12" style="margin-top: 40px">
              <div class="row">
               <form name="frmContact" id="frmContact" method="post">{% csrf_token %}
                <div class="col-md-6 col-sm-6 col-xs-6 minht" style="padding-right: 2px">
                  <div class="form-group" style="margin-bottom: 5px;">
                    <input type="text" class="form-control contact_input" id="contact_name" name="contact_name" placeholder="Name">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 minht" style="padding-left: 2px">
                  <div class="form-group" style="margin-bottom: 5px;">
                    <input type="text" class="form-control contact_input" id="contact_location" name="contact_location" placeholder="Location" list="country" style="font-size: 14px; color:#555">
                    <!--datalist id="country" class="count_list">
                      <option value="">Country...</option>
                      <option value="Afganistan">Afghanistan</option>
                      <option value="Albania">Albania</option>
                      <option value="Algeria">Algeria</option>
                      <option value="American Samoa">American Samoa</option>
                      <option value="Andorra">Andorra</option>
                      <option value="Angola">Angola</option>
                      <option value="Anguilla">Anguilla</option>
                      <option value="Antigua &amp; Barbuda">Antigua &amp; Barbuda</option>
                      <option value="Argentina">Argentina</option>
                      <option value="Armenia">Armenia</option>
                      <option value="Aruba">Aruba</option>
                      <option value="Australia">Australia</option>
                      <option value="Austria">Austria</option>
                      <option value="Azerbaijan">Azerbaijan</option>
                      <option value="Bahamas">Bahamas</option>
                      <option value="Bahrain">Bahrain</option>
                      <option value="Bangladesh">Bangladesh</option>
                      <option value="Barbados">Barbados</option>
                      <option value="Belarus">Belarus</option>
                      <option value="Belgium">Belgium</option>
                      <option value="Belize">Belize</option>
                      <option value="Benin">Benin</option>
                      <option value="Bermuda">Bermuda</option>
                      <option value="Bhutan">Bhutan</option>
                      <option value="Bolivia">Bolivia</option>
                      <option value="Bonaire">Bonaire</option>
                      <option value="Bosnia &amp; Herzegovina">Bosnia &amp; Herzegovina</option>
                      <option value="Botswana">Botswana</option>
                      <option value="Brazil">Brazil</option>
                      <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                      <option value="Brunei">Brunei</option>
                      <option value="Bulgaria">Bulgaria</option>
                      <option value="Burkina Faso">Burkina Faso</option>
                      <option value="Burundi">Burundi</option>
                      <option value="Cambodia">Cambodia</option>
                      <option value="Cameroon">Cameroon</option>
                      <option value="Canada">Canada</option>
                      <option value="Canary Islands">Canary Islands</option>
                      <option value="Cape Verde">Cape Verde</option>
                      <option value="Cayman Islands">Cayman Islands</option>
                      <option value="Central African Republic">Central African Republic</option>
                      <option value="Chad">Chad</option>
                      <option value="Channel Islands">Channel Islands</option>
                      <option value="Chile">Chile</option>
                      <option value="China">China</option>
                      <option value="Christmas Island">Christmas Island</option>
                      <option value="Cocos Island">Cocos Island</option>
                      <option value="Colombia">Colombia</option>
                      <option value="Comoros">Comoros</option>
                      <option value="Congo">Congo</option>
                      <option value="Cook Islands">Cook Islands</option>
                      <option value="Costa Rica">Costa Rica</option>
                      <option value="Cote DIvoire">Cote D'Ivoire</option>
                      <option value="Croatia">Croatia</option>
                      <option value="Cuba">Cuba</option>
                      <option value="Curaco">Curacao</option>
                      <option value="Cyprus">Cyprus</option>
                      <option value="Czech Republic">Czech Republic</option>
                      <option value="Denmark">Denmark</option>
                      <option value="Djibouti">Djibouti</option>
                      <option value="Dominica">Dominica</option>
                      <option value="Dominican Republic">Dominican Republic</option>
                      <option value="East Timor">East Timor</option>
                      <option value="Ecuador">Ecuador</option>
                      <option value="Egypt">Egypt</option>
                      <option value="El Salvador">El Salvador</option>
                      <option value="Equatorial Guinea">Equatorial Guinea</option>
                      <option value="Eritrea">Eritrea</option>
                      <option value="Estonia">Estonia</option>
                      <option value="Ethiopia">Ethiopia</option>
                      <option value="Falkland Islands">Falkland Islands</option>
                      <option value="Faroe Islands">Faroe Islands</option>
                      <option value="Fiji">Fiji</option>
                      <option value="Finland">Finland</option>
                      <option value="France">France</option>
                      <option value="French Guiana">French Guiana</option>
                      <option value="French Polynesia">French Polynesia</option>
                      <option value="French Southern Ter">French Southern Ter</option>
                      <option value="Gabon">Gabon</option>
                      <option value="Gambia">Gambia</option>
                      <option value="Georgia">Georgia</option>
                      <option value="Germany">Germany</option>
                      <option value="Ghana">Ghana</option>
                      <option value="Gibraltar">Gibraltar</option>
                      <option value="Great Britain">Great Britain</option>
                      <option value="Greece">Greece</option>
                      <option value="Greenland">Greenland</option>
                      <option value="Grenada">Grenada</option>
                      <option value="Guadeloupe">Guadeloupe</option>
                      <option value="Guam">Guam</option>
                      <option value="Guatemala">Guatemala</option>
                      <option value="Guinea">Guinea</option>
                      <option value="Guyana">Guyana</option>
                      <option value="Haiti">Haiti</option>
                      <option value="Hawaii">Hawaii</option>
                      <option value="Honduras">Honduras</option>
                      <option value="Hong Kong">Hong Kong</option>
                      <option value="Hungary">Hungary</option>
                      <option value="Iceland">Iceland</option>
                      <option value="India">India</option>
                      <option value="Indonesia">Indonesia</option>
                      <option value="Iran">Iran</option>
                      <option value="Iraq">Iraq</option>
                      <option value="Ireland">Ireland</option>
                      <option value="Isle of Man">Isle of Man</option>
                      <option value="Israel">Israel</option>
                      <option value="Italy">Italy</option>
                      <option value="Jamaica">Jamaica</option>
                      <option value="Japan">Japan</option>
                      <option value="Jordan">Jordan</option>
                      <option value="Kazakhstan">Kazakhstan</option>
                      <option value="Kenya">Kenya</option>
                      <option value="Kiribati">Kiribati</option>
                      <option value="Korea North">Korea North</option>
                      <option value="Korea Sout">Korea South</option>
                      <option value="Kuwait">Kuwait</option>
                      <option value="Kyrgyzstan">Kyrgyzstan</option>
                      <option value="Laos">Laos</option>
                      <option value="Latvia">Latvia</option>
                      <option value="Lebanon">Lebanon</option>
                      <option value="Lesotho">Lesotho</option>
                      <option value="Liberia">Liberia</option>
                      <option value="Libya">Libya</option>
                      <option value="Liechtenstein">Liechtenstein</option>
                      <option value="Lithuania">Lithuania</option>
                      <option value="Luxembourg">Luxembourg</option>
                      <option value="Macau">Macau</option>
                      <option value="Macedonia">Macedonia</option>
                      <option value="Madagascar">Madagascar</option>
                      <option value="Malaysia">Malaysia</option>
                      <option value="Malawi">Malawi</option>
                      <option value="Maldives">Maldives</option>
                      <option value="Mali">Mali</option>
                      <option value="Malta">Malta</option>
                      <option value="Marshall Islands">Marshall Islands</option>
                      <option value="Martinique">Martinique</option>
                      <option value="Mauritania">Mauritania</option>
                      <option value="Mauritius">Mauritius</option>
                      <option value="Mayotte">Mayotte</option>
                      <option value="Mexico">Mexico</option>
                      <option value="Midway Islands">Midway Islands</option>
                      <option value="Moldova">Moldova</option>
                      <option value="Monaco">Monaco</option>
                      <option value="Mongolia">Mongolia</option>
                      <option value="Montserrat">Montserrat</option>
                      <option value="Morocco">Morocco</option>
                      <option value="Mozambique">Mozambique</option>
                      <option value="Myanmar">Myanmar</option>
                      <option value="Nambia">Nambia</option>
                      <option value="Nauru">Nauru</option>
                      <option value="Nepal">Nepal</option>
                      <option value="Netherland Antilles">Netherland Antilles</option>
                      <option value="Netherlands">Netherlands (Holland, Europe)</option>
                      <option value="Nevis">Nevis</option>
                      <option value="New Caledonia">New Caledonia</option>
                      <option value="New Zealand">New Zealand</option>
                      <option value="Nicaragua">Nicaragua</option>
                      <option value="Niger">Niger</option>
                      <option value="Nigeria">Nigeria</option>
                      <option value="Niue">Niue</option>
                      <option value="Norfolk Island">Norfolk Island</option>
                      <option value="Norway">Norway</option>
                      <option value="Oman">Oman</option>
                      <option value="Pakistan">Pakistan</option>
                      <option value="Palau Island">Palau Island</option>
                      <option value="Palestine">Palestine</option>
                      <option value="Panama">Panama</option>
                      <option value="Papua New Guinea">Papua New Guinea</option>
                      <option value="Paraguay">Paraguay</option>
                      <option value="Peru">Peru</option>
                      <option value="Phillipines">Philippines</option>
                      <option value="Pitcairn Island">Pitcairn Island</option>
                      <option value="Poland">Poland</option>
                      <option value="Portugal">Portugal</option>
                      <option value="Puerto Rico">Puerto Rico</option>
                      <option value="Qatar">Qatar</option>
                      <option value="Republic of Montenegro">Republic of Montenegro</option>
                      <option value="Republic of Serbia">Republic of Serbia</option>
                      <option value="Reunion">Reunion</option>
                      <option value="Romania">Romania</option>
                      <option value="Russia">Russia</option>
                      <option value="Rwanda">Rwanda</option>
                      <option value="St Barthelemy">St Barthelemy</option>
                      <option value="St Eustatius">St Eustatius</option>
                      <option value="St Helena">St Helena</option>
                      <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                      <option value="St Lucia">St Lucia</option>
                      <option value="St Maarten">St Maarten</option>
                      <option value="St Pierre &amp; Miquelon">St Pierre &amp; Miquelon</option>
                      <option value="St Vincent &amp; Grenadines">St Vincent &amp; Grenadines</option>
                      <option value="Saipan">Saipan</option>
                      <option value="Samoa">Samoa</option>
                      <option value="Samoa American">Samoa American</option>
                      <option value="San Marino">San Marino</option>
                      <option value="Sao Tome &amp; Principe">Sao Tome &amp; Principe</option>
                      <option value="Saudi Arabia">Saudi Arabia</option>
                      <option value="Senegal">Senegal</option>
                      <option value="Serbia">Serbia</option>
                      <option value="Seychelles">Seychelles</option>
                      <option value="Sierra Leone">Sierra Leone</option>
                      <option value="Singapore">Singapore</option>
                      <option value="Slovakia">Slovakia</option>
                      <option value="Slovenia">Slovenia</option>
                      <option value="Solomon Islands">Solomon Islands</option>
                      <option value="Somalia">Somalia</option>
                      <option value="South Africa">South Africa</option>
                      <option value="Spain">Spain</option>
                      <option value="Sri Lanka">Sri Lanka</option>
                      <option value="Sudan">Sudan</option>
                      <option value="Suriname">Suriname</option>
                      <option value="Swaziland">Swaziland</option>
                      <option value="Sweden">Sweden</option>
                      <option value="Switzerland">Switzerland</option>
                      <option value="Syria">Syria</option>
                      <option value="Tahiti">Tahiti</option>
                      <option value="Taiwan">Taiwan</option>
                      <option value="Tajikistan">Tajikistan</option>
                      <option value="Tanzania">Tanzania</option>
                      <option value="Thailand">Thailand</option>
                      <option value="Togo">Togo</option>
                      <option value="Tokelau">Tokelau</option>
                      <option value="Tonga">Tonga</option>
                      <option value="Trinidad &amp; Tobago">Trinidad &amp; Tobago</option>
                      <option value="Tunisia">Tunisia</option>
                      <option value="Turkey">Turkey</option>
                      <option value="Turkmenistan">Turkmenistan</option>
                      <option value="Turks &amp; Caicos Is">Turks &amp; Caicos Is</option>
                      <option value="Tuvalu">Tuvalu</option>
                      <option value="Uganda">Uganda</option>
                      <option value="Ukraine">Ukraine</option>
                      <option value="United Arab Erimates">United Arab Emirates</option>
                      <option value="United Kingdom">United Kingdom</option>
                      <option value="United States of America">United States of America</option>
                      <option value="Uraguay">Uruguay</option>
                      <option value="Uzbekistan">Uzbekistan</option>
                      <option value="Vanuatu">Vanuatu</option>
                      <option value="Vatican City State">Vatican City State</option>
                      <option value="Venezuela">Venezuela</option>
                      <option value="Vietnam">Vietnam</option>
                      <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                      <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                      <option value="Wake Island">Wake Island</option>
                      <option value="Wallis &amp; Futana Is">Wallis &amp; Futana Is</option>
                      <option value="Yemen">Yemen</option>
                      <option value="Zaire">Zaire</option>
                      <option value="Zambia">Zambia</option>
                      <option value="Zimbabwe">Zimbabwe</option>
                    </datalist-->
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 minht" style="padding-right: 2px">
                  <div class="form-group" style="margin-bottom: 5px;">
                    <input type="text" class="form-control contact_input"  placeholder="Phone" id="contact_phone" name="contact_phone" maxlength="20" >
                    <span class="error" id="error-phone"></span> </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 minht" style="padding-left: 2px">
                  <div class="form-group" style="margin-bottom: 5px;">
                    <input type="text" class="form-control contact_input"  placeholder="Email" id="contact_email" name="contact_email">
                    <span class="error" id="error-email"></span> </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group" style="margin-bottom: 5px;">
                    <textarea class="form-control contact_input" id="contact_message" name="contact_message" placeholder="Message"  style="width: 100%;"></textarea>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12"> <span class="error" id="error-all"></span> <span class="success" id="success-all">Message has been submitted successfully</span> </div>
                <div class="col-md-12 col-sm-12 col-xs-12 pull-center">
                    <div class="cnt_btn_wraper">
                  <button class="btn btn-default" id="submit" name="submit" >Submit
                  </button>
                    </div>
                </div>
                <div class="clearfix"></div>
               </form>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12  col-md-3 "></div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="footer_section_area">
  
    <div class="container">
        
        <div class="col-md-12">
          <div class="row">
            
              <div class="col-md-2 col-xs-6">
                  <div class="ft_menu_arae">
                      <h2>Company</h2>
                        <div class="menu_area">
                            <ul>
                                <li><a href="/#aboutus">about us</a></li>
                                <li><a href="/#Analyze">Approach</a></li>
                                <li><a href="/#markit2">testimonials</a></li>
                                <li><a href="/#team">team</a></li>
                                <li><a href="/#partners">partners</a></li>
                                <li><a href="/#contactus">contact us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2 col-xs-6">
                  <div class="ft_menu_arae">
                      <h2>Resources</h2>
                        <div class="menu_area">
                            <ul>
                               
                               <li><a href="/faq/">FAQ</a></li>       
                               <li><a href="/news/">newsroom</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3 col-xs-12">
                    <div id="subscribe">
                      <h2>Contact</h2>
                      {% if request.session.id %}
                      {% else %}
                      <form name="frmSubscribe" id="frmSubscribe" method="post">{% csrf_token %}
                         
                         <div class="col-md-8">
                          <span class="" id="mssg"></span> 
                         </div>

                        <div class="input-group col-md-9 tops">
                        <input type="text" id="subscribe_email" name="subscribe_email" class="search-query form-control" placeholder="Enter Your e-mail address" style="width:100% !important;" />
                        </div>
                        <button class="btn-default subscribe_btn">Subscribe</button>
                      </form>  
                      {% endif %}  
                        <a href="mailto:{{AllEditSetList.0.email}}"><i aria-hidden="true" class="fa fa-envelope"></i>{{AllEditSetList.0.email}}</a>
                        <a href="tel:{{AllEditSetList.0.phone}}"><i aria-hidden="true" class="fa fa-phone"></i>{{AllEditSetList.0.phone}}</a>
                    </div>
                </div>
                
                <div class="col-md-5 col-xs-12"  style="padding-right:0px; padding-left:0px;">
                  <div class="terms_area">
                      <p>{{AllEditSetList.0.footer_copyright}}<br/>
                        {{AllEditSetList.0.footer_sub_heading}} </p>
                        <span>
                        {{AllEditSetList.0.about_footer}} 
                        </span>
                    </div>
                </div>
                
          </div>
        </div>
        
    </div>

</section>

    </div>
</div>
<!-- signup and login popup Modal -->
<div class="modal fade" id="login-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 signin-form">
            <form name="frmSignIn" id="frmSignIn" method="post" action="/user_login/">{% csrf_token %}
                <span id="loginError" style="color:#ff0000"></span>
              <div class="form-group">
                <input type="email" name="email_id" id="email_id" class="form-control" placeholder="Email">
              </div>

              <div class="form-group">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" style="display:inline-block;" name="remember_me" id="remember_me" value="1">
                  Remember me </label>
                <a href='javascript:void(0)'  data-toggle="modal" data-target="#forgot-popup" style='float: right' data-dismiss="modal" aria-label="Close" >Forgot Password?</a> </div>
            </form>
          </div>

        </div>
      </div>
      <div class="modal-footer"> <a href="/registration/" class="pull-left sign-up-link">don't have an account?</a>
       <button type="button" class="btn btn-primary" id="btnLogin">Sign In</button>
      </div>
    </div>
  </div>

</div>

<!-- video Modal popup -->
<div class="modal fade" id="videoPopup" tabindex="-1" role="dialog" aria-labelledby="videoPopup" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>-->
      <div class="modal-body" style="padding: 0">
        <div>
          <iframe style="width:100%" height="450" src="" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="teamPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="teamPopup-title"></h4>
      </div>
      <div class="modal-body" style="padding:0 15px"> </div>
    </div>
  </div>
</div>

<!-- forget password popup Modal -->
<div class="modal fade" id="forgot-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Forgot Password</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 signin-form">
            <form id="frmForgetPassword" name="frmForgetPassword" method="post">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Enter your email" id="forget_email_id" name="forget_email_id">
                <span class="error" id="error-email-forget"></span>
              </div>
              <div class="form-group" id="div_new_password" style="display:none!important;">
                  <input type="password" class="form-control" placeholder="Enter your new password" id="new_password" name="new_password">
              </div>
              <div class="form-group" id="div_confirm_password" style="display:none!important;">
                  <input type="password" class="form-control" placeholder="Enter your confirm password" id="confirm_password" name="confirm_password">
              </div>
              <label id="lblResponse"></label>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer"> <a href="#" class="pull-left sign-up-link" data-toggle="modal" data-target="#login-popup" data-dismiss="modal" aria-label="Close">Back to Sign In</a>
        <button type="button" class="btn btn-primary" id="btnReset">Reset</button>
      </div>
    </div>
  </div>
</div>

<!-- Get Started Modal -->
<div class="modal fade" id="get-started" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <!-- <h3 class="modal-title" id="myModalLabel">Get Started</h3>-->
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 signin-form">
            <p>Investak is a fund management company and we specialize in two unique investing types: Advisory & Style based investing.<!-- Learn more about them by scrolling in the section below in the HomePage.--> </p>
            <p>Click below to select your preferred choice</p>
          </div>
        </div>
        <div class="row">

            <a href="#">
                <div class="col-xs-4 style-div">
                <div class="blank-div"></div>
                <span>Analyze</span>
                </div>
            </a>

          <a href="#">
            <div class="col-xs-4 customize-div">
            <div class="blank-div"></div>
            <span>Customize</span>
            </div>
          </a>

           <a href="#">
            <div class="col-xs-4 advisory-div">
            <div class="blank-div"></div>
            <span>Optimize</span>
            </div>
          </a>


       </div>
        <!--<br/>
        <p><a href="#advisory" data-dismiss="modal" aria-label="Close" id="learnfrompop">Learn more</a></p>-->
      </div>
      <div class="modal-footer">

        <!--<a type="button" class="btn btn-primary" data-toggle="modal" data-target="#AM-page" data-dismiss="modal" aria-label="Close">Next</a>-->
      </div>
    </div>
  </div>
</div>




<!-- ================= analyze scroller jquery area ====================== -->
<style>
    .success{
        font-size: 12px !important;
        color: green !important;
    }
</style>
<style>
  .ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }
</style>
<script>
var myVar = 0;
$(document).ready(function() {
  var arrayOfOptions = [
      "Afghanistan",
      "Albania",
      "Algeria",
      "American Samoa",
      "Andorra",
      "Angola",
      "Anguilla",
      "Antigua &amp; Barbuda",
      "Argentina",
      "Armenia",
      "Aruba",
      "Australia",
      "Austria",
      "Azerbaijan",
      "Bahamas",
      "Bahrain",
      "Bangladesh",
      "Barbados",
      "Belarus",
      "Belgium",
      "Belize",
      "Benin",
      "Bermuda",
      "Bhutan",
      "Bolivia",
      "Bonaire",
      "Bosnia &amp; Herzegovina",
      "Botswana",
      "Brazil",
      "British Indian Ocean Ter",
      "Brunei",
      "Bulgaria",
      "Burkina Faso",
      "Burundi",
      "Cambodia",
      "Cameroon",
      "Canada",
      "Canary Islands",
      "Cape Verde",
      "Cayman Islands",
      "Central African Republic",
      "Chad",
      "Channel Islands",
      "Chile",
      "China",
      "Christmas Island",
      "Cocos Island",
      "Colombia",
      "Comoros",
      "Congo",
      "Cook Islands",
      "Costa Rica",
      "Cote D'Ivoire",
      "Croatia",
      "Cuba",
      "Curacao",
      "Cyprus",
      "Czech Republic",
      "Denmark",
      "Djibouti",
      "Dominica",
      "Dominican Republic",
      "East Timor",
      "Ecuador",
      "Egypt",
      "El Salvador",
      "Equatorial Guinea",
      "Eritrea",
      "Estonia",
      "Ethiopia",
      "Falkland Islands",
      "Faroe Islands",
      "Fiji",
      "Finland",
      "France",
      "French Guiana",
      "French Polynesia",
      "French Southern Ter",
      "Gabon",
      "Gambia",
      "Georgia",
      "Germany",
      "Ghana",
      "Gibraltar",
      "Great Britain",
      "Greece",
      "Greenland",
      "Grenada",
      "Guadeloupe",
      "Guam",
      "Guatemala",
      "Guinea",
      "Guyana",
      "Haiti",
      "Hawaii",
      "Honduras",
      "Hong Kong",
      "Hungary",
      "Iceland",
      "India",
      "Indonesia",
      "Iran",
      "Iraq",
      "Ireland",
      "Isle of Man",
      "Israel",
      "Italy",
      "Jamaica",
      "Japan",
      "Jordan",
      "Kazakhstan",
      "Kenya",
      "Kiribati",
      "Korea North",
      "Korea Sout",
      "Kuwait",
      "Kyrgyzstan",
      "Laos",
      "Latvia",
      "Lebanon",
      "Lesotho",
      "Liberia",
      "Libya",
      "Liechtenstein",
      "Lithuania",
      "Luxembourg",
      "Macau",
      "Macedonia",
      "Madagascar",
      "Malaysia",
      "Malawi",
      "Maldives",
      "Mali",
      "Malta",
      "Marshall Islands",
      "Martinique",
      "Mauritania",
      "Mauritius",
      "Mayotte",
      "Mexico",
      "Midway Islands",
      "Moldova",
      "Monaco",
      "Mongolia",
      "Montserrat",
      "Morocco",
      "Mozambique",
      "Myanmar",
      "Nambia",
      "Nauru",
      "Nepal",
      "Netherland Antilles",
      "Netherlands",
      "Nevis",
      "New Caledonia",
      "New Zealand",
      "Nicaragua",
      "Niger",
      "Nigeria",
      "Niue",
      "Norfolk Island",
      "Norway",
      "Oman",
      "Pakistan",
      "Palau Island",
      "Palestine",
      "Panama",
      "Papua New Guinea",
      "Paraguay",
      "Peru",
      "Phillipines",
      "Pitcairn Island",
      "Poland",
      "Portugal",
      "Puerto Rico",
      "Qatar",
      "Republic of Montenegro",
      "Republic of Serbia",
      "Reunion",
      "Romania",
      "Russia",
      "Rwanda",
      "St Barthelemy",
      "St Eustatius",
      "St Helena",
      "St Kitts-Nevis",
      "St Lucia",
      "St Maarten",
      "St Pierre &amp; Miquelon",
      "St Vincent &amp; Grenadines",
      "Saipan",
      "Samoa",
      "Samoa American",
      "San Marino",
      "Sao Tome &amp; Principe",
      "Saudi Arabia",
      "Senegal",
      "Serbia",
      "Seychelles",
      "Sierra Leone",
      "Singapore",
      "Slovakia",
      "Slovenia",
      "Solomon Islands",
      "Somalia",
      "South Africa",
      "Spain",
      "Sri Lanka",
      "Sudan",
      "Suriname",
      "Swaziland",
      "Sweden",
      "Switzerland",
      "Syria",
      "Tahiti",
      "Taiwan",
      "Tajikistan",
      "Tanzania",
      "Thailand",
      "Togo",
      "Tokelau",
      "Tonga",
      "Trinidad &amp; Tobago",
      "Tunisia",
      "Turkey",
      "Turkmenistan",
      "Turks &amp; Caicos Is",
      "Tuvalu",
      "Uganda",
      "Ukraine",
      "United Arab Erimates",
      "United Kingdom",
      "United States of America",
      "Uraguay",
      "Uzbekistan",
      "Vanuatu",
      "Vatican City State",
      "Venezuela",
      "Vietnam",
      "Virgin Islands (Brit)",
      "Virgin Islands (USA)",
      "Wake Island",
      "Wallis &amp; Futana Is",
      "Yemen",
      "Zaire",
      "Zambia",
      "Zimbabwe"
  ];
  $("#contact_location").autocomplete({source: arrayOfOptions});

  myVar = setInterval(function(){ analyze_slider(); }, 3000);

});
  function stop_analyze_slider(){clearInterval(myVar);}function analyze_slider(){if($("#Analyze").offset().top <= $(document).scrollTop() && $(document).scrollTop() <= $("#markit2").offset().top){  /*console.log("running...");*/if($(".sbrows.sbrow-active").next().is(".sbrows")){var s=$(".sbrows.sbrow-active");$(".sbrows").removeClass("sbrow-active"),$(".sbrows").find(".sb-image").removeClass("fadeInUp"),$(".sbrows").find(".sb-content").removeClass("fadeInRight"),$(s).next().addClass("sbrow-active"),$(s).next().find(".sb-image").addClass("fadeInUp"),$(s).next().find(".sb-content").addClass("fadeInRight"),$(".sbrows").not(".sbrow-active").css("display","none"),$(".sbrow-active").css("display","block")}else{$(".sbrows").removeClass("sbrow-active"),$(".sbrows").find(".sb-image").removeClass("fadeInUp"),$(".sbrows").find(".sb-content").removeClass("fadeInRight"),$("#sbrow1").addClass("sbrow-active"),$("#sbrow1").find(".sb-image").addClass("fadeInUp"),$("#sbrow1").find(".sb-content").addClass("fadeInRight"),$(".sbrows").not(".sbrow-active").css("display","none"),$(".sbrow-active").css("display","block")}}else{/*console.log("stop");*//*$(".sbrows").removeClass("sbrow-active"),$(".sbrows").find(".sb-image").removeClass("fadeInUp"),$(".sbrows").find(".sb-content").removeClass("fadeInRight"),$("#sbrow1").addClass("sbrow-active"),$("#sbrow1").find(".sb-image").addClass("fadeInUp"),$("#sbrow1").find(".sb-content").addClass("fadeInRight"),$(".sbrows").not(".sbrow-active").css("display","none"),$(".sbrow-active").css("display","block")*/}} 
    $(document).on("click","#wwo-navigate2-right",function(){if($(".sbrows.sbrow-active").next().is(".sbrows")){var s=$(".sbrows.sbrow-active");$(".sbrows").removeClass("sbrow-active"),$(".sbrows").find(".sb-image").removeClass("fadeInUp"),$(".sbrows").find(".sb-content").removeClass("fadeInRight"),$(s).next().addClass("sbrow-active"),$(s).next().find(".sb-image").addClass("fadeInUp"),$(s).next().find(".sb-content").addClass("fadeInRight"),$(".sbrows").not(".sbrow-active").css("display","none"),$(".sbrow-active").css("display","block")}else{$(".sbrows").removeClass("sbrow-active"),$(".sbrows").find(".sb-image").removeClass("fadeInUp"),$(".sbrows").find(".sb-content").removeClass("fadeInRight"),$("#sbrow1").addClass("sbrow-active"),$("#sbrow1").find(".sb-image").addClass("fadeInUp"),$("#sbrow1").find(".sb-content").addClass("fadeInRight"),$(".sbrows").not(".sbrow-active").css("display","none"),$(".sbrow-active").css("display","block")}}),$(document).on("click","#wwo-navigate2-left",function(){if($(".sbrows.sbrow-active").prev().is(".sbrows")){var s=$(".sbrows.sbrow-active");$(".sbrows").removeClass("sbrow-active"),$(".sbrows").find(".sb-image").removeClass("fadeInUp"),$(".sbrows").find(".sb-content").removeClass("fadeInRight"),$(s).prev().addClass("sbrow-active"),$(s).prev().find(".sb-image").addClass("fadeInUp"),$(s).prev().find(".sb-content").addClass("fadeInRight"),$(".sbrows").not(".sbrow-active").css("display","none"),$(".sbrow-active").css("display","block")}else{$(".sbrows").removeClass("sbrow-active"),$(".sbrows").find(".sb-image").removeClass("fadeInUp"),$(".sbrows").find(".sb-content").removeClass("fadeInRight"),$("#sbrow"+sbrows_count).addClass("sbrow-active"),$("#sbrow"+sbrows_count).find(".sb-image").addClass("fadeInUp"),$("#sbrow"+sbrows_count).find(".sb-content").addClass("fadeInRight"),$(".sbrows").not(".sbrow-active").css("display","none"),$(".sbrow-active").css("display","block")}});
</script>

<script>
$(document).on("click","#wwo-navigate2_new-right",function(){if($(".sbrows_cus.sbrow-cus-active").next().is(".sbrows_cus")){var s=$(".sbrows_cus.sbrow-cus-active");$(".sbrows_cus").removeClass("sbrow-cus-active"),$(".sbrows_cus").find(".sb-image").removeClass("fadeInUp"),$(".sbrows_cus").find(".sb-content").removeClass("fadeInRight"),$(s).next().addClass("sbrow-cus-active"),$(s).next().find(".sb-image").addClass("fadeInUp"),$(s).next().find(".sb-content").addClass("fadeInRight"),$(".sbrows_cus").not(".sbrow-cus-active").css("display","none"),$(".sbrow-cus-active").css("display","block")}else if("sbrow_3"===$(".sbrows_cus.sbrow-cus-active").attr("id")){console.log("stopped");var s=$(".sbrows_cus.sbrow-cus-active");$(".sbrows_cus").removeClass("sbrow-cus-active"),$(".sbrows_cus").find(".sb-image").removeClass("fadeInUp"),$(".sbrows_cus").find(".sb-content").removeClass("fadeInRight"),$("#sbrow_1").addClass("sbrow-cus-active"),$("#sbrow_1").find(".sb-image").addClass("fadeInUp"),$("#sbrow_1").find(".sb-content").addClass("fadeInRight"),$(".sbrows_cus").not(".sbrow-cus-active").css("display","none"),$(".sbrow-cus-active").css("display","block")}}),$(document).on("click","#wwo-navigate2_new-left",function(){if($(".sbrows_cus.sbrow-cus-active").prev().is(".sbrows_cus")){var s=$(".sbrows_cus.sbrow-cus-active");$(".sbrows_cus").removeClass("sbrow-cus-active"),$(".sbrows_cus").find(".sb-image").removeClass("fadeInUp"),$(".sbrows_cus").find(".sb-content").removeClass("fadeInRight"),$(s).prev().addClass("sbrow-cus-active"),$(s).prev().find(".sb-image").addClass("fadeInUp"),$(s).prev().find(".sb-content").addClass("fadeInRight"),$(".sbrows_cus").not(".sbrow-cus-active").css("display","none"),$(".sbrow-cus-active").css("display","block")}else if("sbrow_1"===$(".sbrows_cus.sbrow-cus-active").attr("id")){console.log("stopped");var s=$(".sbrows_cus.sbrow-cus-active");$(".sbrows_cus").removeClass("sbrow-cus-active"),$(".sbrows_cus").find(".sb-image").removeClass("fadeInUp"),$(".sbrows_cus").find(".sb-content").removeClass("fadeInRight"),$("#sbrow_3").addClass("sbrow-cus-active"),$("#sbrow_3").find(".sb-image").addClass("fadeInUp"),$("#sbrow_3").find(".sb-content").addClass("fadeInRight"),$(".sbrows_cus").not(".sbrow-cus-active").css("display","none"),$(".sbrow-cus-active").css("display","block")}});

</script>
<script>
     $(document).on("click","#wwo-navigate-right",function(){if(console.log("click hua"),$(".abrows.abrow-active").next().is(".abrows")){var w=$(".abrows.abrow-active");$(".abrows").removeClass("abrow-active"),$(".abrows").find(".wwo-image").removeClass("fadeInUp"),$(".abrows").find(".wwo-content").removeClass("fadeInRight"),$(w).next().addClass("abrow-active"),$(w).next().find(".wwo-image").addClass("fadeInUp"),$(w).next().find(".wwo-content").addClass("fadeInRight"),$(".abrows").not(".abrow-active").css("display","none"),$(".abrow-active").css("display","block");var e=$(w).next().attr("id");switch(e){case"abrow1":$(".wwo-title span").removeAttr("class"),$(".wwo-title span").attr("class","blue"),$(".wwo-bg").removeClass("wwo-bg-yellow"),$(".wwo-bg").removeClass("wwo-bg-red"),$(".wwo-bg").removeClass("wwo-bg-green"),$(".wwo-bg").addClass("wwo-bg-blue");break;case"abrow2":$(".wwo-title span").removeAttr("class"),$(".wwo-title span").attr("class","yellow"),$(".wwo-bg").removeClass("wwo-bg-green"),$(".wwo-bg").removeClass("wwo-bg-red"),$(".wwo-bg").removeClass("wwo-bg-blue"),$(".wwo-bg").addClass("wwo-bg-yellow");break;case"abrow3":$(".wwo-title span").removeAttr("class"),$(".wwo-title span").attr("class","red"),$(".wwo-bg").removeClass("wwo-bg-green"),$(".wwo-bg").removeClass("wwo-bg-yellow"),$(".wwo-bg").removeClass("wwo-bg-blue"),$(".wwo-bg").addClass("wwo-bg-red");break;case"abrow4":$(".wwo-title span").removeAttr("class"),$(".wwo-title span").attr("class","green"),$(".wwo-bg").removeClass("wwo-bg-blue"),$(".wwo-bg").removeClass("wwo-bg-yellow"),$(".wwo-bg").removeClass("wwo-bg-red"),$(".wwo-bg").addClass("wwo-bg-green")}}else if("abrow4"===$(".abrows.abrow-active").attr("id")){console.log("stopped");var w=$(".abrows.abrow-active");$(".abrows").removeClass("abrow-active"),$(".abrows").find(".wwo-image").removeClass("fadeInUp"),$(".abrows").find(".wwo-content").removeClass("fadeInRight"),$("#abrow1").addClass("abrow-active"),$("#abrow1").find(".wwo-image").addClass("fadeInUp"),$("#abrow1").find(".wwo-content").addClass("fadeInRight"),$(".abrows").not(".abrow-active").css("display","none"),$(".abrow-active").css("display","block");var e=$("#abrow1").attr("id");switch(e){case"abrow1":$(".wwo-title span").removeAttr("class"),$(".wwo-title span").attr("class","blue"),$(".wwo-bg").removeClass("wwo-bg-yellow"),$(".wwo-bg").removeClass("wwo-bg-red"),$(".wwo-bg").removeClass("wwo-bg-green"),$(".wwo-bg").addClass("wwo-bg-blue");break;case"abrow2":$(".wwo-title span").removeAttr("class"),$(".wwo-title span").attr("class","yellow"),$(".wwo-bg").removeClass("wwo-bg-green"),$(".wwo-bg").removeClass("wwo-bg-red"),$(".wwo-bg").removeClass("wwo-bg-blue"),$(".wwo-bg").addClass("wwo-bg-yellow");break;case"abrow3":$(".wwo-title span").removeAttr("class"),$(".wwo-title span").attr("class","red"),$(".wwo-bg").removeClass("wwo-bg-green"),$(".wwo-bg").removeClass("wwo-bg-yellow"),$(".wwo-bg").removeClass("wwo-bg-blue"),$(".wwo-bg").addClass("wwo-bg-red");break;case"abrow4":$(".wwo-title span").removeAttr("class"),$(".wwo-title span").attr("class","green"),$(".wwo-bg").removeClass("wwo-bg-blue"),$(".wwo-bg").removeClass("wwo-bg-yellow"),$(".wwo-bg").removeClass("wwo-bg-red"),$(".wwo-bg").addClass("wwo-bg-green")}}}),$(document).on("click","#wwo-navigate-left",function(){if($(".abrows.abrow-active").prev().is(".abrows")){var w=$(".abrows.abrow-active");$(".abrows").removeClass("abrow-active"),$(".abrows").find(".wwo-image").removeClass("fadeInUp"),$(".abrows").find(".wwo-content").removeClass("fadeInRight"),$(w).prev().addClass("abrow-active"),$(w).prev().find(".wwo-image").addClass("fadeInUp"),$(w).prev().find(".wwo-content").addClass("fadeInRight"),$(".abrows").not(".abrow-active").css("display","none"),$(".abrow-active").css("display","block");var e=$(w).prev().attr("id");switch(e){case"abrow1":$(".wwo-title span").removeAttr("class"),$(".wwo-title span").attr("class","blue"),$(".wwo-bg").removeClass("wwo-bg-yellow"),$(".wwo-bg").removeClass("wwo-bg-red"),$(".wwo-bg").removeClass("wwo-bg-blue"),$(".wwo-bg").addClass("wwo-bg-blue");break;case"abrow2":$(".wwo-title span").removeAttr("class"),$(".wwo-title span").attr("class","yellow"),$(".wwo-bg").removeClass("wwo-bg-green"),$(".wwo-bg").removeClass("wwo-bg-red"),$(".wwo-bg").removeClass("wwo-bg-blue"),$(".wwo-bg").addClass("wwo-bg-yellow");break;case"abrow3":$(".wwo-title span").removeAttr("class"),$(".wwo-title span").attr("class","red"),$(".wwo-bg").removeClass("wwo-bg-green"),$(".wwo-bg").removeClass("wwo-bg-yellow"),$(".wwo-bg").removeClass("wwo-bg-blue"),$(".wwo-bg").addClass("wwo-bg-red");break;case"abrow4":$(".wwo-title span").removeAttr("class"),$(".wwo-title span").attr("class","green"),$(".wwo-bg").removeClass("wwo-bg-blue"),$(".wwo-bg").removeClass("wwo-bg-yellow"),$(".wwo-bg").removeClass("wwo-bg-red"),$(".wwo-bg").addClass("wwo-bg-green")}console.log("Added: "+$(w).prev().attr("id"))}else if("abrow1"===$(".abrows.abrow-active").attr("id")){console.log("stopped");var w=$(".abrows.abrow-active");$(".abrows").removeClass("abrow-active"),$(".abrows").find(".wwo-image").removeClass("fadeInUp"),$(".abrows").find(".wwo-content").removeClass("fadeInRight"),$("#abrow4").addClass("abrow-active"),$("#abrow4").find(".wwo-image").addClass("fadeInUp"),$("#abrow4").find(".wwo-content").addClass("fadeInRight"),$(".abrows").not(".abrow-active").css("display","none"),$(".abrow-active").css("display","block");var e=$("#abrow4").attr("id");switch(e){case"abrow1":$(".wwo-title span").removeAttr("class"),$(".wwo-title span").attr("class","blue"),$(".wwo-bg").removeClass("wwo-bg-yellow"),$(".wwo-bg").removeClass("wwo-bg-red"),$(".wwo-bg").removeClass("wwo-bg-blue"),$(".wwo-bg").addClass("wwo-bg-blue");break;case"abrow2":$(".wwo-title span").removeAttr("class"),$(".wwo-title span").attr("class","yellow"),$(".wwo-bg").removeClass("wwo-bg-green"),$(".wwo-bg").removeClass("wwo-bg-red"),$(".wwo-bg").removeClass("wwo-bg-blue"),$(".wwo-bg").addClass("wwo-bg-yellow");break;case"abrow3":$(".wwo-title span").removeAttr("class"),$(".wwo-title span").attr("class","red"),$(".wwo-bg").removeClass("wwo-bg-green"),$(".wwo-bg").removeClass("wwo-bg-yellow"),$(".wwo-bg").removeClass("wwo-bg-blue"),$(".wwo-bg").addClass("wwo-bg-red");break;case"abrow4":$(".wwo-title span").removeAttr("class"),$(".wwo-title span").attr("class","green"),$(".wwo-bg").removeClass("wwo-bg-blue"),$(".wwo-bg").removeClass("wwo-bg-yellow"),$(".wwo-bg").removeClass("wwo-bg-red"),$(".wwo-bg").addClass("wwo-bg-green")}}});
 </script>
<script>
  if (screen && screen.width > 600) {
    document.write('<script type="text/javascript" src="{{ ASSETS_URL }}static/frontend/css/js/modernizr.custom.86080.js"><\/script>');
  }
  if (screen && screen.width > 600) {
    document.write('<script type="text/javascript" src="{{ ASSETS_URL }}static/frontend/js/SwatchBook/js/jquery.swatchbook.js"><\/script>');
  }
  if (screen && screen.width > 600) {
    $(function(){
      $("#sb-container").swatchbook({openAt:4,initclosed : false,closeIdx : 5});
    });
  }
</script>

<script src="{{ ASSETS_URL }}static/frontend/js/jQCloud-master/dist/jqcloud-1.0.4.js"></script>

<script>
$(".team-link").find("img").bind("click",function(t){if(t.preventDefault(),5===$(this).parent().parent().index()){console.log("5 team"),$("#teamPopup-img").hide(),$("#teamPopup-name").hide();var e=$(this).parent().find("p.team-name").text(),a=$(this).parent().find("p.team-desc").text(),p=$(this).parent().find("small").text(),m=$(this).parent().find("img").attr("src");$("#teamPopup-desc").html(a),$("#teamPopup-name").html(e),$("#teamPopup-title").html(e),$("#teamPopup-desg").html(p),$("#teamPopup-img").attr("src",m),$("#teamPopup-img").addClass("fadeInRight"),$("#teamPopup-name").addClass("fadeInLeft"),$(".team-detail").show(),$("#teamPopup-img").show(),$("#teamPopup-name").show()}else{$("#teamPopup-img").hide(),$("#teamPopup-name").hide();var e=$(this).parent().parent().find("p.team-name").text(),a=$(this).parent().parent().find("p.team-desc").text(),p=$(this).parent().parent().find("small").text(),m=$(this).parent().parent().find("img").attr("src");$("#teamPopup-desc").html(a),$("#teamPopup-name").html(e),$("#teamPopup-title").html(e),$("#teamPopup-desg").html(p),$("#teamPopup-img").attr("src",m),$("#teamPopup-img").addClass("fadeInRight"),$("#teamPopup-name").addClass("fadeInLeft"),$(".team-detail").show(),$("#teamPopup-img").show(),$("#teamPopup-name").show()}});
 </script>

<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
 <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(e){
          $("#subscribe_email").keypress(function(e) {
            if(e.which === 32) {
               return false;
            }
          });
        });
       $(document).ready(function(e){$("#subscribe_btn").click(function(e){$("#frmContact").preventDoubleSubmission()}),$("#frmSubscribe").validate({rules:{subscribe_email:{required:!0,email:!0}},messages:{subscribe_email:{required:"Please Enter Email ID",email:"Please Enter Valid Email ID"}},submitHandler:function(e){$.ajax({type:"POST",url:"/frontend/sendemailsubscribe/",async:!1,data:{subscribe_email:$("#subscribe_email").val(),csrfmiddlewaretoken:"{{ csrf_token }}"},beforeSend:function(){$("#mssg").addClass("error").html("Please wait...").fadeIn("slow")},success:function(e){$("#mssg").removeClass("error").delay(5e3).fadeOut("slow"),$("#mssg").addClass("success"),$("#mssg").css("color","#0f0"),$("#mssg").html(e).fadeIn("slow"),$("#mssg").removeClass("success").delay(5e3).fadeOut("slow"),$("#frmSubscribe").closest("form").find("input[type=text]").val("")}})}}),$("#forget_email_id").blur(function(e){var a=$("#forget_email_id").val();""!=$.trim(a)&&$.ajax({type:"POST",url:"/frontend/email_exists/",async:!1,data:{email_id:a,csrfmiddlewaretoken:"{{ csrf_token }}"},beforeSend:function(){$("body").fadeTo("slow",.33)},success:function(e){$("body").fadeTo("slow",1),0==e?($("#forget_email_id-error").remove(),$("#error-email-forget").html("Email ID Not Found"),$("#forget_email_id").val(""),$("#div_confirm_password").hide(),$("#div_new_password").hide()):($("#error-email-forget").html(""),$("#div_confirm_password").show(),$("#div_new_password").show())},error:function(e){$("body").fadeTo("slow",1)}})}),$("#btnLogin").click(function(e){$("#frmSignIn").submit()}),$("#btnReset").click(function(e){$("#error-email-forget").html(""),$("#frmForgetPassword").submit()}),$("#frmSignIn").validate({rules:{email_id:{required:!0,email:!0},password:{required:!0}},messages:{email_id:{required:"Please enter email id",email:"Please enter valid email id"},password:{required:"Please enter password"}},submitHandler:function(e){$.ajax({type:"POST",url:"/user_login/",data:{email_id:$("#email_id").val(),password:$("#password").val(),remember_me:$("#remember_me").val(),csrfmiddlewaretoken:"{{ csrf_token }}"},success:function(e){1==e.message?window.location.href="/user_dashboard/":$("#loginError").html("Email or password not matched")},error:function(e){$("#loginError").html("Database error")}})}}),$("#submit").click(function(e){$("#frmContact").preventDoubleSubmission()}),$.fn.preventDoubleSubmit=function(){$(this).submit(function(){return this.beenSubmitted?!1:void(this.beenSubmitted=!0)})},$.validator.addMethod("alpha",function(e,a){return this.optional(a)||e==e.match(/^[a-zA-Z\s]+$/)}),$.validator.addMethod("check_char",function(e,a){return this.optional(a)||e==e.match(/^[a-zA-Z0-9@._]+$/)}),$.validator.addMethod("check_phone",function(e,a){return this.optional(a)||e==e.match(/^[0-9+-]+$/)}),$("#frmContact").validate({rules:{contact_name:{required:!0,alpha:!0},contact_location:{required:!0,alpha:!0},contact_phone:{required:!0,check_phone:!0},contact_email:{required:!0,email:!0,check_char:!0},contact_message:{required:!0}},messages:{contact_name:{required:"Please Enter Contact Person Name",alpha:"Please Enter Valid Name"},contact_location:{required:"Please Select Location",alpha:"Please Enter Valid Location"},contact_phone:{required:"Please Enter Contact No",check_phone:"Only Number, Plus(+) and Dash(-) Are Allowed"},contact_email:{required:"Please Enter Email ID",email:"Please Enter Valid Email ID",check_char:"Character Not Allowed"},contact_message:{required:"Please Enter Message"}},submitHandler:function(e){$.ajax({type:"POST",url:"/frontend/sendemail/",async:!1,data:{contact_name:$("#contact_name").val(),contact_location:$("#contact_location").val(),contact_phone:$("#contact_phone").val(),contact_email:$("#contact_email").val(),contact_message:$("#contact_message").val(),csrfmiddlewaretoken:"{{ csrf_token }}"},beforeSend:function(){$("#success-all").hide(),$("#error-all").html("Please Wait....")},success:function(e){(e=1)&&($("#error-all").html(""),$("#success-all").show(0).delay(5e3).hide(0),$("#frmContact").closest("form").find("input[type=text], textarea").val(""))}})}}),$("#frmForgetPassword").validate({rules:{forget_email_id:{required:!0,email:!0},new_password:{required:!0},confirm_password:{equalTo:"#new_password"}},messages:{forget_email_id:{required:"Please Enter Email ID",email:"Please Enter Valid Email ID"},new_password:{required:"Please Enter New Password"},confirm_password:{equalTo:"New and Confirm Password Should Be Same"}},submitHandler:function(e){var a=$("#forget_email_id").val(),r=$("#new_password").val();""!=$.trim(a)&&""!=$.trim(r)&&$.ajax({type:"POST",url:"/frontend/forget_password/",async:!1,data:{email_id:a,new_password:r,csrfmiddlewaretoken:"{{csrf_token}}"},beforeSend:function(){$("body").fadeTo("slow",.33)},success:function(e){$("body").fadeTo("slow",1),1==e?($("#lblResponse").html("Password Successfully Changed").attr("style","font-size:13px; color:#05B550"),setTimeout(function(){window.location.reload()},2e3)):($("#lblResponse").html("Email ID Not Found").attr("style","font-size:13px; color:#f00"),setTimeout(function(){window.location.reload()},2e3))},error:function(e){$("#lblResponse").html("Error Occurred").attr("style","font-size:13px; color:#f00"),$("body").fadeTo("slow",1)}})}})});
    </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92070927-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
