{% load staticfiles %}
<!doctype html>
<html prefix="og: http://ogp.me/ns#">

<head>
<meta http-equiv="no-cache">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta content="" name="description"/>
<meta content="" name="author"/>

<title>Investak - New world of investing</title>
<link rel="icon" href="{{ ASSETS_URL }}static/investak/images/favicon.png"  sizes="16x16" type="image/16x16.png">
<link href="{% static "frontend/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
<link href="{{ ASSETS_URL }}static/frontend/css/font-awesome.min.css"  rel="stylesheet" type="text/css">
<link href="{{ ASSETS_URL }}static/frontend/Icon-font-7-stroke-PIXEDEN-v-1.2.0/pe-icon-7-stroke/css/pe-icon-7-stroke.css"  rel="stylesheet" type="text/css">
<link href="{% static "frontend/Icon-font-7-stroke-PIXEDEN-v-1.2.0/pe-icon-7-stroke/css/helper.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "frontend/js/slick-master/slick/slick.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "frontend/js/SwatchBook/css/style3.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "frontend/css/animate.css" %}"  rel="stylesheet" type="text/css">

<link href="{% static "frontend/css/style.css" %}?v=1.3"  rel="stylesheet" type="text/css" />
<!-- link rel="stylesheet" type="text/css" media="screen" href="{% static "investak/dist/css/safari.css" %}" /-->


<script src="{{ ASSETS_URL }}static/frontend/js/jquery.js" ></script>
<script src="{{ ASSETS_URL }}static/frontend/js/jquery-ui.js" ></script>
<link href="{% static "frontend/css/jquery-ui.css" %}?v=1.3"  rel="stylesheet" type="text/css">
<script async src="{{ ASSETS_URL }}static/frontend/js/bootstrap.min.js" ></script>

<script  src="{{ ASSETS_URL }}static/frontend/js/slick-master/slick/slick.min.js" ></script>
<script async src="{{ ASSETS_URL }}static/frontend/js/animateNumber/jquery.animateNumber.min.js" ></script>
<script   src="{{ ASSETS_URL }}static/frontend/js/jquery.nicescroll.340/jquery.nicescroll.min.js" ></script> 
<style type="text/css">
  img {
      opacity: 1;
      transition: opacity 0.3s;
  }

  img[data-src] {
      opacity: 0;
  }
</style>
<script>
    
   $(document).ready(function(){$(".drops_down_area").slideUp(),$(".user_area").find("a").click(function(){$(".drops_down_area").slideToggle()});var t=$(window).height();$(".homepageSlider").height(t)}),$(window).resize(function(){var t=$(window).height();$(".homepageSlider").height(t)}),$(document).ready(function(){$(".in-tooltip").tooltip(),$("html").niceScroll({mousescrollstep:60,scrollspeed:100})}),$(window).bind("scroll",function(){var t=$("#whoweare").offset().top;t-=143;var o="{{AllEditSetList.0.aboutus_customer}}",e="{{AllEditSetList.0.aboutus_aum}}";$(window).scrollTop()>t&&($(".tone").animateNumber({number:o},1e3),$(".ttwo").animateNumber({number:e},1e3),$(".tickernum").removeAttr("class"))}),$(document).ready(function(t){function o(){var t=$("body").find('[data-target="#videoPopup"]');t.click(function(){var t=$(this).data("target"),o=$(this).attr("data-theVideo"),e=o+"?autoplay=1";$(t+" iframe").attr("src",e),$(t+" button.close").click(function(){$(t+" iframe").attr("src",o)})})}$(".responsive1").slick({accessibility:!1, arrows: !0, /*!1*/dots:!0, draggable:0, /*!1*/focusOnSelect:!0,infinite:0,swipe: 0, /*!1*/swipeToSlide: 0, /*!1*/touchMove: 0, /*!1*/ autoplay:1, autoplaySpeed: 2000, slidesToScroll: 1, slidesToShow:4, responsive:[{breakpoint:1300,settings:{slidesToShow:3,autoplay:true, autoplaySpeed: 2000, slidesToScroll: 1, arrows:!1,dots:!0}},{breakpoint:1024,settings:{slidesToShow:3,autoplay:true, autoplaySpeed: 2000, slidesToScroll: 1, arrows:!1,dots:!0}},{breakpoint:800, /*768*/settings:{slidesToShow:2,autoplay:true, autoplaySpeed: 2000, slidesToScroll: 1, arrows:!1,dots:!0}},{breakpoint:650,settings:{slidesToShow:2,autoplay:true, autoplaySpeed: 2000, slidesToScroll: 1, arrows:!1,dots:!0}},{breakpoint:600,settings:{slidesToShow:2,autoplay:true, autoplaySpeed: 2000, slidesToScroll: 1, arrows:!1,dots:!0}},{breakpoint:480,settings:{slidesToShow:1, autoplay:true, autoplaySpeed: 2000, slidesToScroll: 1, arrows:!1,dots:!0}}]}),$(".responsive2").slick({accessibility:!1,arrows: !0, /*!1*/dots:!0,draggable:!1, /*!1*/focusOnSelect:!0,infinite:!1,swipe: !1, /*!1*/swipeToSlide: !1, /*!1*/touchMove: !0, /*!1*//* autoplay:!0,*/slidesToShow:4,responsive:[{breakpoint:1300,settings:{slidesToShow:3,touchMove:!0, /*!1*/autoplay:1,arrows:!0,dots:!0}},{breakpoint:1024,settings:{slidesToShow:3,touchMove:!0, /*!1*/autoplay:1,arrows:!1,dots:!0}},{breakpoint:800, /*768*/settings:{slidesToShow:2,touchMove:!0, /*!1*/autoplay:1,arrows:!1,dots:!0}},{breakpoint:650,settings:{slidesToShow:2,touchMove:!0, /*!1*/autoplay:1,arrows:!1,dots:!0}},{breakpoint:600,settings:{slidesToShow:2,touchMove:!0, /*!1*/autoplay:1,arrows:!1,dots:!0}},{breakpoint:480,settings:{slidesToShow:1,touchMove:!0, /*!1*/autoplay:1,arrows:!1,dots:!0}}]}),o(),$("a.scroller").click(function(){return $(window).width()<767?$("html, body").animate({scrollTop:$($(this).attr("href")).offset().top-70}):($("html, body").animate({scrollTop:$($(this).attr("href")).offset().top},1e3),!1)})});

</script>

<script async src="{{ ASSETS_URL }}static/frontend/js/script.js" ></script>
<script type="text/javascript">
var animeCounter=0;
var totalimages=0;
var loadedimages=0;
var elmArray=[];
    function load_banner(){ 
        $.ajax({
            url : "/frontend/load_banner/",
            type : "GET",
            dataType : "JSON",
            success : function(res){
                var str = '';
                $.each(res,function(i,e){

                    var im=new Image();
                    totalimages=totalimages+1;
                    im.onload=function(){
                        loadedimages=loadedimages+1;
                        var elmspan=document.createElement('span');
                        var lim=document.createElement('li');



                        elmspan.appendChild(im);
                        lim.appendChild(elmspan)
                  //      getroot.appendChild(lim);
                        elmArray.push(lim);
                        if(totalimages==loadedimages){start_banner();}


                    }

                    im.src='static/media/images/banner/'+e.banner_image;

                    // str += '<li>'+
                    //     '<span style="/*background-image: url();*/">'+
                    //     '<img alt="'+e.banner_image+'" src="/static/investak/images/loader2.gif" data-src="static/media/images/banner/'+e.banner_image+'">'+
                    //     '</span><!--<div><h3>Slider-1</h3></div>-->'+
                    //     '</li>';
                });
                // $(".cb-slideshow").html(str);
                // /* lazy load */
                // [].forEach.call(document.querySelectorAll('img[data-src]'), function(img) {
                //     //var newimg = new Image();
                //     //newimg.src = img.getAttribute('data-src');
                //     //newimg.alt = img.getAttribute('data-src');
                //     img.setAttribute('src', img.getAttribute('data-src'));
                //     img.onload = function() {
                //         /*console.log(img.getAttribute('data-src'));*/
                //         //img.replaceWith(newimg);
                //         img.removeAttribute('data-src');
                //     };
                // });
            }
        });
    }
    var spanreset='';
    function start_banner() {
        var totalDuration=6*totalimages;
        $.each(elmArray,function (j,f) {
            if(j==0){
                f.firstElementChild.style.animation='imageAnimation2 '+totalDuration+'s linear infinite '+animeCounter+'s';
                spanreset=f.firstElementChild;
            }
            else
            {
                f.firstElementChild.style.animation='imageAnimation '+totalDuration+'s linear infinite '+animeCounter+'s';
            }
                            //f.firstElementChild.style.animationDuration=totalDuration+'s';
                            //f.firstElementChild.style.animationDelay=animeCounter+'s';
                        animeCounter=animeCounter+6;
                        });

        var pc=totalimages/animeCounter*100;
        var style = document.createElement('style');
        style.type = 'text/css';
        var keyframes='\
            @keyframes imageAnimation {\
            0%{\
            opacity:0;animation-timing-function:ease-in\
            }'+pc-2+'%{opacity:1;transform:scale(1.05);animation-timing-function:ease-out\
            }'+pc+'%{opacity:1;transform:scale(1.1)}'+pc+2+'%{opacity:0;transform:scale(1.2)}100%{opacity:0}}';
       // keyframes=keyframes+' .cb-slideshow li span{width:100%;height:100%;position:absolute;top:0;left:0;color:transparent;background-size:cover;background-position:50% 50%;background-repeat:none;opacity:0;z-index:0;-webkit-backface-visibility:hidden;-webkit-animation:imageAnimation 30s linear infinite 0s;-moz-animation:imageAnimation 36s linear infinite 0s;-o-animation:imageAnimation 36s linear infinite 0s;-ms-animation:imageAnimation 36s linear infinite 0s;animation:imageAnimation 6s linear infinite 0s}';
        //style.innerHTML=keyframes;
        //document.getElementsByTagName('head')[0].appendChild(style);
        var getroot=document.getElementsByClassName('cb-slideshow')[0];
        getroot.innerHTML='';
        $.each(elmArray,function (j,f) {

                                getroot.append(f);
                            });
    //setTimeout('spanReset()', totalDuration*900);

    }
    function spanReset()
    {
        var totalDuration=6*totalimages;
        spanreset.style.animation='imageAnimation '+totalDuration+'s linear infinite 0s';
    }
    $(document).ready(function(){ 
        // lazy load 
        // [].forEach.call(document.querySelectorAll('img[data-src]'), function(img) {
        //     img.setAttribute('src', img.getAttribute('data-src'));
        //     img.onload = function() {
        //         /*console.log(img.getAttribute('data-src'));*/
        //         img.removeAttribute('data-src');
        //     };
        // });
        load_banner();
    });
    function createjscssfile(filename, filetype){
        if (filetype=="js"){ //if filename is a external JavaScript file
            var fileref=document.createElement('script')
            fileref.setAttribute("type","text/javascript")
            fileref.setAttribute("src", filename)
        }
        else if (filetype=="css"){ //if filename is an external CSS file
            var fileref=document.createElement("link")
            fileref.setAttribute("rel", "stylesheet")
            fileref.setAttribute("type", "text/css")
            fileref.setAttribute("href", filename)
        }
        return fileref
    }
    function replacejscssfile(oldfilename, newfilename, filetype){
        var targetelement=(filetype=="js")? "script" : (filetype=="css")? "link" : "none" //determine element type to create nodelist using
        var targetattr=(filetype=="js")? "src" : (filetype=="css")? "href" : "none" //determine corresponding attribute to test for
        var allsuspects=document.getElementsByTagName(targetelement)
        for (var i=allsuspects.length; i>=0; i--){ //search backwards within nodelist for matching elements to remove
            if (allsuspects[i] && allsuspects[i].getAttribute(targetattr)!=null && allsuspects[i].getAttribute(targetattr).indexOf(oldfilename)!=-1){
                var newelement=createjscssfile(newfilename, filetype)
                allsuspects[i].parentNode.replaceChild(newelement, allsuspects[i])
            }
        }
    }
    /* check if it is windows system and browser is safari */
    if(navigator.platform.indexOf('Win') > -1 && (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1)){
        /*console.log("safari");*/
        var newelement=createjscssfile("/static/investak/dist/css/safari.css", "css");
        suspect = document.getElementsByTagName("link")[0];
        suspect.parentNode.appendChild(newelement);
    } else {
        /*console.log("Not safari");*/
    }
</script>

<style type="text/css">
.panel-footer,.team-detail{display:none}.faq-cat li a,.faq-cat li a:hover,.panel-title,.panel-title a,.panel-title:hover{text-decoration:none}.newsnav>li>a{padding:10px 15px}.tab-pane{border:none;padding:20px 0}.newsside-posts{list-style:circle inside url(/images/bullets.png)}body{overflow-x:hidden}.newsroom-tabs li.active a,.newsroom-tabs li.active a:active,.newsroom-tabs li.active a:focus,.newsroom-tabs li.active a:hover{background-color:#1BA2E5!important;line-height:28px;color:#fff}.newsroom-tabs li a:hover{line-height:28px}.newsroom-tabs li:first-child{border-right:1px solid #e0e0e1}.nav-tabs>li{margin-bottom:0}.newsroom-tabs li a{line-height:28px;color:#4d4d4d;margin-right:0}div.jqcloud span.vertical{-webkit-writing-mode:vertical-rl;-moz-writing-mode:vertical-rl;writing-mode:tb-rl}.carousel-indicators li{background-color:#ddd}.carousel-indicators li.active{background-color:#333;border:none}.team-detail{background-color:#efefef;margin-top:20px;border-top-left-radius:140px;border-bottom-left-radius:140px}.nanimate{color:#fff;font-size:28px}.hcolor{color:#23d605}#t2{font-size:36px}.adjectives{font-family:lato-bold;font-size:42px;margin-top:20px;color:#23d605!important;position:absolute}.nanimate-slider{position:relative}.text-container{position:absolute;top:20px;left:20px}.st-newsdate{width:48px;height:48px;border-radius:2px}.news-item>table>tbody>tr>td{vertical-align:middle;font-size:14px}.news-item>table>tbody>tr>td:last-child{padding-left:10px}.news-item>table>tbody>tr>td:last-child>h4{text-transform:uppercase;font-family:lato-regular;font-size:18px;margin-bottom:5px}.news-item>table>tbody>tr>td:last-child>p>i.fa-arrow-up{color:#3dbf07}.news-item>table>tbody>tr>td:last-child>p>i.fa-arrow-down{color:#c90d0e}.news-item{margin-bottom:10px}.faq-cat li a{color:#474747;font-family:opensans-regular;font-size:100%;font-size:16px;line-height:40px}.faq-cat li a:hover{color:#54B6F1}.panel-default{background-color:#fff;box-shadow:none;border-bottom:0}.panel-title{color:#1ba2dd;font-family:opensans-semibold;font-size:100%;font-size:18px!important;line-height:18px}.panel-body{background:#fff;color:#474747;font-family:opensans-regular;font-size:100%;font-size:16px;line-height:28px}.btn-searchfaq{transition:all .5s ease;color:#666;background:#fff}.btn-searchfaq:hover{background:#1BA2E5;color:#fff}.input-searchfaq{padding-left:25px;padding-right:25px}.input-searchfaq:active,.input-searchfaq:focus,.input-searchfaq:hover{border:1px solid #fff;box-shadow:none!important}.panel-title:before{color:#bababa;margin-right:10px;font-family:fontawesome;font-size:100%;font-size:18px!important;line-height:18px;content:"\f10c"}#login-popup .modal-dialog{width:400px}

.dropdown:hover .dropdown-menu{ display: block;}
.dropdown .dropdown-menu li{ padding: 0px; margin: 0px;}
.dropdown .dropdown-menu li a{ line-height: 20px !important;}

</style>
 

    <script type="text/javascript">
   function mobilemenu()
    {
        $(".onclickMob").click(function(e){
            e.stopPropagation();
            var right = $('.before_login_menu_mobile').css('right'); 
            if(parseInt(right) < 0){
                $('.before_login_menu_mobile').animate({right:0});
                $(".psuh_left").animate({right:240});
                $(this).show();
                $(".mobmenu").show();
                $(".psuh_left").addClass('opacity');
                $(".psuh_left").addClass('opaleft');
            } else { 
                //console.log("hello");
                $('.before_login_menu_mobile').animate({right:-270});
                $('.before_login_menu_mobile').show();
                $(".psuh_left").animate({right:0});
                $(this).show();
                $(".onclickMob").show();
                $(".psuh_left").removeClass('opacity');
                $(".psuh_left").css('display','block');
            }
        });

        $(".before_login_menu_mobile").click(function(e){
            e.stopPropagation();
        });

        $(".mobmenu").click(function(e){
            $('.before_login_menu_mobile').animate({right:-270});
            $('.before_login_menu_mobile').show();
            $(".psuh_left").animate({right:0});
            $(this).hide();
            $(".onclickMob").show();
            $(".psuh_left").removeClass('opacity');

             //e.stopPropagation();
        });


    }
        $(document).ready(function(){
            var tgt = $(document).height();
            $(".before_login_menu_mobile").height(tgt);
            $(".navbar-nav >li > a").click(function(e){
                $('.before_login_menu_mobile').animate({right:-270});
                $('.before_login_menu_mobile').show();
                $(".psuh_left").animate({right:0});
                $(".cross").hide();
                $(".before_login_menu_mobile").show();
                $(".onclickMob").show();
                $(".psuh_left").removeClass('opacity');
            });
            mobilemenu();

        });
        $(document).on('click','.opacity',function(e){
         var right_value = $('.before_login_menu_mobile').css('right');
            if(right_value == "-270px") {
                $( ".onclickMob" ).trigger( "click" );
            }
            else {
                $('.before_login_menu_mobile').animate({right:-270});
                $('.before_login_menu_mobile').show();
                $(".psuh_left").animate({right:0});
                $(this).hide();
                $(".onclickMob").show();
                $(".psuh_left").removeClass('opacity');
                $(".psuh_left").css('display','block');
            }

            $(".onclickMob").focus();
            $(".mobmenu").hide();

    });
    </script>

</head>

<body>
<!--Header-->
<div class="total_body_area" >

<div class="before_login_menu_mobile">
<div id="" class="">
    <div class="menu_area">
    {% if request.session.id %}
    <div class="user_area"><a href="javascript:void(0)">
            <img src="{{ request.session.profile_img }}">
        </a>
        <h4>{{ request.session.full_name }}</h4>
        <p>{{ request.session.email_id }}</p>
        <div class="submenu">
            <li><a href="/user_dashboard/">Dashboard</a></li>
            {% ifequal request.session.reg_type "S" %}
                <li><a href="/logout/">Logout</a></li>
            {% else %}
                <li><a href="/logout/">Logout</a></li>
            {% endifequal %}
        </div>
    </div>
    {% endif %}
    <ul class="nav navbar-nav">
        <li><a href="/#aboutus">about</a></li>
        <li><a href="/#Analyze">approach</a></li>
        <li><a href="/#markit2">testimonials</a></li>
        <li><a href="/#team">team</a></li>
        <li><a href="/#partners">partners</a></li>
        <li><a href="/#contactus">contact</a></li>
        {% if not request.session.id %}
            <li><a href="/login/">login</a></li>
            <li><a href="/signup/">signup</a></li>
        {% endif %}
        <h3>Resources</h3>
        <li><a href="/faq/" style="padding-left:30px !important;">faq</a></li>
        <li><a href="/news/" style="padding-left:30px !important;">newsroom</a></li>
    </ul>
    </div>

</div>
</div>
<div class="psuh_left">
<header >
  <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5"> <a href="/" class="in-logo"></a> </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 hidden-xs nopadleft">
            <ul class="in-nav ">
                <li class="active"><a href="/#aboutus" class="hvr-underline-from-center scroller">About Us</a></li>
                <li><a href="/#Analyze" class="hvr-underline-from-center scroller">Approach</a></li>
                <li><a href="/#markit2" class="hvr-underline-from-center scroller">Testimonials</a></li>
                <li><a href="/#team" class="hvr-underline-from-center scroller">Team</a></li>
                <li><a href="/#partners" class="hvr-underline-from-center scroller">Partners</a></li>
                <li><a href="/#contactus" class="hvr-underline-from-center scroller">Contact Us</a></li>
                <li class="dropdown"><a href="#" class="hvr-underline-from-center scroller">Resources <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/faq/">faq</a></li>
                        <li><a href="/news/">newsroom</a></li>
                    </ul>
                </li>
            {% if request.session.id %}
                <!-- {% ifequal request.session.reg_type "S" %}
                <li><a href="javascript:void(0)" onclick="logout()" class="hvr-underline-from-center scroller">Log out</a></li>
                {% else %}
                <li><a href="/logout/" class="hvr-underline-from-center scroller">Log out</a></li>
                {% endifequal %} -->
                 <!-- User Dropdown section start -->
                <li class="user_area">
                     <a href="javascript:void(0)">
                        <img src="{{ request.session.profile_img }}">
                     </a>
                            <div class="drops_down_area" style="display: none!important;">
                                <div class="user_names">
                                    <a class="user_area" href="javascript:void(0)">
                                        <img src="{{ request.session.profile_img }}">
                                    </a>
                                    <h4>{{ request.session.full_name }}</h4>
                                    <p>{{ request.session.email_id }}</p>
                                </div>
                                <ul>                                
                                    <li><a href="/user_dashboard/">Dashboard</a></li>
                                    {% ifequal request.session.reg_type "S" %}
                                        <li><a href="/logout/">Logout</a></li>
                                    {% else %}
                                        <li><a href="/logout/">Logout</a></li>
                                    {% endifequal %}
                                </ul>
                            </div>
               </li>
                <!-- User Dropdown section end -->
            {% else %} 
                <li><a href="/login/" class="hvr-underline-from-center scroller">Log In</a></li>
                <li><a href="/signup/" class="hvr-underline-from-center scroller">Sign Up</a></li>    
            {% endif %}    
                <!-- <li><a href="/faq/" class="hvr-underline-from-center scroller faq"><img src="{% static "frontend/images/ask.png" %}"><span>FAQ</span></a></li>
                <li class="newss"><a href="/news/" class="hvr-underline-from-center scroller"><img src="{% static "frontend/images/icon1.png" %}"></a><span>Newsroom</span></li> -->

            </ul>
          </div>
          <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-7 text-right" style="line-height: 72px"> <a href="/login/" class="btn btn-default sign-in-btn" >Sign In</a>
          <div class="col-lg-1 col-md-2 col-sm-2 col-xs-7 text-right" style="line-height: 72px"> <a href="/login/" class="btn btn-default sign-in-btn" >Sign In</a> -->
            <button type="button" class="navbar-toggle onclickMob">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <a class="cross" href="javascript:void(0)"><i class="fa fa-bars" aria-hidden="true"></i></a>

          </div>
        </div>
</header>
<div class="clearfix"></div>