<div class="row">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<table class="jqcloud-div">
					<tr> 
						<td style="vertical-align: middle; padding:0px 80px;"><div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="vertical-align: middle"> 
								<!-- Indicators -->
									<ol class="carousel-indicators" style="bottom: -40px;">
                    					{% for i in AllTestList %}
                    						{% ifequal forloop.counter0 0 %} 
											<li data-target="#carousel-example-generic" data-slide-to="{{forloop.counter0}}" class="active"></li>
											{% else %}
											<li data-target="#carousel-example-generic" data-slide-to="{{forloop.counter0}}" class=""></li>
											{% endifequal %}
										{% endfor %}
									</ol>
								
								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
								 {% if AllTestList %}
                    				{% for item in AllTestList %}
                    					{% ifequal forloop.counter0 0 %}
											<div class="item active">
												<h2 class="in-headline">{{item.long_desc}}</h2>
												<p style="text-align: center; margin-top: 20px;">{{item.short_desc}}</p>
											</div>
										{% else %}
											<div class="item">
												<h2 class="in-headline">{{item.long_desc}}</h2>
												<p style="text-align: center; margin-top: 20px;">{{item.short_desc}}</p>
											</div>	
										{% endifequal %}			
									{% endfor %}
								{% endif %}
								</div>
							</div>
							</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>