<div class="row" style="padding-top:0px;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="in-cont-title">Partners</h4>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="row">
			<div class="col-lg-10 in-middle">
				<div class="slider responsive2 hovershine">
				{% if AllPartnerList %}
                    {% for item in AllPartnerList %}
					<div class="in-partner"><a href="{{item.link}}" target="_blank"><img class="img" src="{{ ASSETS_URL }}static/media/images/partner/{{item.image}}" alt="."/></a></div>
					{% endfor %}
				{% endif %}
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>