<div class="row">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="in-cont-title">Team</h4>
			</div>
		</div>
		<div class="row" style="margin-top: 40px;">
			<div class="col-lg-10 in-middle">
				<div class="slider responsive1">
					{% if AllTeamList %}
                    	{% for item in AllTeamList %}
							<div class="in-team"> <a  class="team-link"> <img class="img img-circle" src="{{ ASSETS_URL }}static/media/images/team/{{item.profile_image}}" alt="."/>
								<p class="team-name">{{item.profile_name}}</p>
								<small>{{item.designation}}</small>
								<p class="team-desc hidden">{{item.long_desc}}</p>
								</a> 
							</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		
		<div class='row team-detail animated fadeInLeft'>
			<div class='col-md-12 col-sm-12 col-xs-12' style="padding-left:0">
				<div class='row'>
					<div class="col-md-3 col-sm-6 hidden-xs" style='overflow: hidden;'><img id="teamPopup-img" alt="." src="" class="img img-circle" style="border:10px solid #fff; height: 100%"></div>
					<div class="col-md-9 col-sm-6 col-xs-12 team-txt" style="padding:40px 25px 40px 0px">
						<p style="font-family:'lato-medium'; color: #3781B3" id="teamPopup-name"></p>
						<p style='font-family:"lato-regular"; font-size: 14px' id="teamPopup-desg"></p>
						<p style='margin-top: 20px; font-family:"lato-regular"; font-size: 14px; color:#656565; text-align: justify' id="teamPopup-desc"></p>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>