<div class="row padding-top-20" style="padding-bottom:0; padding-top:100px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h2 class="wwo-head">Optimize
					<a {% if request.session.id %} href="/user_dashboard/" {% else %} href="/login" {% endif %}><p style="font-size:13px; text-shadow:none; opacity:0.7; margin-top:10px">Click on optimize to get started</p></a>
				</h2>
				<ul class="wwo-navigate bluescreen">
					<li id="wwo-navigate-left"><i class="fa fa-angle-left" ></i>Prev</li>
					<li id="wwo-navigate-right"><i class="fa fa-angle-right" ></i>Next</li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
      <div class="row abrows abrow-active" id="abrow1">
        <div class="col-md-7  col-sm-7 col-xs-12 wwo-image ani mated fadeInUp">
          <div class="">
            <div class="wwo-ipadscreen question-mark"> <img src="{{ ASSETS_URL }}static/media/images/wwo-askquestion.png"  alt="." style="width:100%; height:100%; margin-top: -150px; padding-bottom: 40px;" /> </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12 wwo-content animated fadeInRight">
          <h3 class="wwo-title"><span class="blue">1</span> Answer Simple Question</h3>
          <p class="wwo-subtitle">You live in a world of insights, but like many traders, you can’t act on them. And it’s mostly because the industry hasn’t made it easy for you. With Investak, you can access and translate real insights into investments and returns like never before.</p>
        </div>
      </div>
      <div class="row abrows" id="abrow2">
        <div class="col-md-5 col-sm-5 col-xs-12 wwo-content animated">
          <table>
            <tr class="wwo-title h3">
              <td><span class="yellow">2</span></td>
              <td> Automated Risk Profiling & Asset Allocation</td>
            </tr>
          </table>
          <p class="wwo-subtitle">You live in a world of insights, but like many traders, you can’t act on them. And it’s mostly because the industry hasn’t made it easy for you. With Investak, you can access and translate real insights into investments and returns like never before.</p>
        </div>
        <div class="col-md-7  col-sm-7 col-xs-12 wwo-image animated">
          <div class="wwo-ipad">
            <div class="wwo-ipadscreen" > <img src="{{ ASSETS_URL }}static/media/images/portalloc.gif"  alt="." style="width:100%;"/> </div>
          </div>
        </div>
      </div>
      <div class="row abrows" id="abrow3">
        <div class="col-md-7  col-sm-7 col-xs-12 wwo-image animated">
          <div class="wwo-ipad">
            <div class="wwo-ipadscreen"> <img src="{{ ASSETS_URL }}static/media/images/histoallo.gif"  alt="." style="width:100%; height:350px"/> </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12 wwo-content animated">
          <h3 class="wwo-title"><span class="red">3</span> Invest & monitor</h3>
          <p class="wwo-subtitle">You live in a world of insights, but like many traders, you can’t act on them. And it’s mostly because the industry hasn’t made it easy for you. With Investak, you can access and translate real insights into investments and returns like never before.</p>
        </div>
      </div>
      <div class="row abrows" id="abrow4">
        <div class="col-md-5 col-sm-5 col-xs-12 wwo-content animated">
          <table>
            <tr class="wwo-title h3">
              <td><span class="green">4</span></td>
              <td> Automated Portfolio Re-balancing</td>
            </tr>
          </table>
          <p class="wwo-subtitle">You live in a world of insights, but like many traders, you can’t act on them. And it’s mostly because the industry hasn’t made it easy for you. With Investak, you can access and translate real insights into investments and returns like never before.</p>
        </div>
        <div class="col-md-7  col-sm-7 col-xs-12 wwo-image animated">
          <div class="wwo-ipad">
            <div class="wwo-ipadscreen"> <img src="{{ ASSETS_URL }}static/media/images/wwo-automated.gif"  alt="." style="width:100%; height:350px"/> </div>
          </div>
        </div>
      </div>
		{% if AllOptimizeList %}
            {% for item in AllOptimizeList %}
			    	<div class="row abrows" id="abrow{{forloop.counter|add:4}}">
						<div class="col-md-5 col-sm-5 col-xs-12 wwo-content animated">
							<table>
								<tr class="wwo-title h3">
									<td><span class="yellow">{{forloop.counter|add:4}}</span></td>
									<td>{{item.heading}}</td>
								</tr>
							</table>
							<p class="wwo-subtitle">{{item.description}}</p>
						</div>
						<div class="col-md-7  col-sm-7 col-xs-12 wwo-image animated">
							<div class="wwo-ipad">
								<div class="wwo-ipadscreen" > <img src="{{ ASSETS_URL }}static/media/images/optimize/{{item.image}}" alt="." style="width:100%;"/> </div>
							</div>
						</div>
					</div>
			{% endfor %}
		{% endif %}
	</div>
</div>