{% include 'frontend/header.html' %}
{% load staticfiles %}
<div class="container-fluid in-cont-banner in-bg-banner" style="position: relative">
	<div class="row">
		<div id="block" style="width: 100%; height: 650px; overflow: hidden">
			<video autoplay loop id="video-background" muted>
				<source src="{% static "frontend/images/video/video.mp4" %}" type="video/mp4">
			</video>
			<div class="in-cover-vbg">
				<div class="container in-middle">
					<ul class="in-features"  style="margin-top:25vh">
						<li> <a href="#Analyze" class="scroller"><span class="analyze"></span>
							<p>Analyze</p></a>
						</li>
						<li><a href="#Customize" class="scroller"> <span class="customize"></span>
							<p>Customize</p></a>
						</li>
						<li><a href="#Optimize" class="scroller"><span class="optimize"></span>
							<p>Optimize</p></a>
						</li>
					</ul>
					<div class="text-center" style="position:relative;"> <a class="btn sign-in-big in-middle" data-toggle="modal" data-target="#get-started" style="margin-top: 80px; padding:10px 65px; font-size: 18px; border-radius: 25px;">Get Started</a> 
					
					<!--Mobile video btn https://www.youtube.com/watch?v=sYiYEzU4CHg    "https://www.youtube.com/embed/sYiYEzU4CHg"-->
						<a class="in-play-btn-2  in-tooltip visible-xs" data-placement="top" title="Explore Video" data-theVideo="https://www.youtube.com/embed/sYiYEzU4CHg" data-toggle="modal" data-target="#videoPopup"><i class="fa fa-play"></i></a> </div>
					</div>
				</div>
				<div class="clearfix" ></div>
			</div>
		</div>
		<a class="in-play-btn in-tooltip hidden-xs" data-placement="top" title="Explore Video" data-theVideo="https://www.youtube.com/embed/sYiYEzU4CHg" data-toggle="modal" data-target="#videoPopup"><i class="fa fa-play"></i><span>How it works</span></a> 
</div>

<div class="container-fluid in-container-fluid" id="aboutus">
	<div class="row">
		<div class="container">
			<div class="row"  >
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h4 class="in-cont-title" id="whoweare">About Us</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
					<div class="in-cont-content">{{AllEditSetList.0.about_us}}</div>
					<div class="read-more-div"> <a class="btn btn-default in-knowmore" href="#">know more</a> </div>
					<div class="in-ticker">
						<ul>
							<li> <span class="tickernum tone">0</span>
								<p>Customers</p>
							</li>
							<li> <span class="tickernum ttwo">0</span>
								<p>AUM</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
					<div id="sb-container" class="sb-container" style="margin-top: -10px;">
						<div> <span class="sb-icon icon-bag"></span>
							<h4><span style="font-size: 13px">0.5% Advisory Fee</span></h4>
						</div>
						<div> <span class="sb-icon icon-flight"></span>
							<h4><span style="font-size: 13px">No Transition Commission</span></h4>
						</div>
						<div> <span class="sb-icon icon-download"></span>
							<h4><span style="font-size: 13px">Style Based Investing</span></h4>
						</div>
						<div> <span class="sb-icon icon-picture"></span>
							<h4><span style="font-size: 13px">Automated Portfolio Management</span></h4>
						</div>
						<div> <span class="sb-icon icon-eye"></span>
							<h4><span style="font-size: 13px">Complete Transparency</span></h4>
						</div>
						<div>
							<h4><span>we care</span></h4>
							<span class="sb-toggle">Open</span>
							<h5><span>We Do</span></h5>
						</div>
					</div>
					<div class="sb-mobile-container">
						<ul>
							<li style="background-color:#0160B2;"> <span class="sb-icon icon-bag"></span><span style="font-size: 13px">0.5% Advisory Fee</span> </li>
							<li style="background-color:#05B550;"> <span class="sb-icon icon-flight"></span><span style="font-size: 13px">No Transition Commission</span> </li>
							<li style="background-color:#FCB422;"> <span class="sb-icon icon-download"></span><span style="font-size: 13px">Style Based Investing</span> </li>
							<li style="background-color:#00C0EF;"> <span class="sb-icon icon-picture"></span><span style="font-size: 13px">Automated Portfolio Management</span> </li>
							<li style="background-color:#FB1D28;"> <span class="sb-icon icon-eye"></span><span style="font-size: 13px">Complete Transparency</span> </li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>

<div class="container-fluid in-container-fluid wwo-bg-banner" id="Analyze">
	<div class="row in-row-cover padding-top-20" style="overflow: hidden; padding-top:120px; padding-bottom: 0px; background: rgba(0,0,0,0.7);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h2 class="wwo-head">Analyze
						<a href="learn_motif.html"><p style="font-size:13px; text-shadow:none; opacity:0.7; margin-top:10px">Click on analyze to get started</p></a>
					</h2>
					<ul class="wwo-navigate">
						<li id="wwo-navigate2-left"><i class="fa fa-angle-left" ></i>Prev</li>
						<li id="wwo-navigate2-right"><i class="fa fa-angle-right" ></i>Next</li>
					</ul>
				</div>
			</div>
			{% if AllAnalyzeList %}
                {% for item in AllAnalyzeList %}
                	{% ifequal forloop.counter0 0 %}
					<div class="row sbrows sbrow-active" id="sbrow{{forloop.counter}}">
						<div class="col-md-5 col-sm-5 col-xs-12 sb-content animated fadeInRight">
							<h3 class="sb-title"><span class="gray">{{forloop.counter}}</span>{{item.heading}}</h3>
							<p class="sb-subtitle">{{item.description}}</p>
						</div>
						<div class="col-md-7 col-sm-7 col-xs-12 sb-image animated fadeInUp">
							<div class="sb-ipad">
								<div class="sb-ipadscreen"> <img src="static/media/images/analyze/{{item.image}}" alt="." style="border:1px solid #ccc; border-radius: 4px; width:100%; height:100%"/> </div>
							</div>
						</div>
					</div>
					{% else %}
					<div class="row sbrows" id="sbrow{{forloop.counter}}">
						<div class="col-md-5 col-sm-5 col-xs-12 sb-content animated fadeInRight">
							<h3 class="sb-title"><span class="gray">{{forloop.counter}}</span>{{item.heading}}</h3>
							<p class="sb-subtitle">{{item.description}}</p>
						</div>
						<div class="col-md-7 col-sm-7 col-xs-12 sb-image animated fadeInUp">
							<div class="sb-ipad">
								<div class="sb-ipadscreen"> <img src="static/media/images/analyze/{{item.image}}" alt="." style="border:1px solid #ccc; border-radius: 4px; width:100%; height:100%"/> </div>
							</div>
						</div>
					</div>
					{% endifequal %}	
				{% endfor %}
			{% endif %}
			
		</div>
	</div>
</div>

<div class="clearfix"></div>

<div class="container-fluid in-container-fluid wwo-bg-banner2" id="Customize">
	<div class="row in-row-cover padding-top-20" style="overflow: hidden; padding-top:120px; padding-bottom: 0px; background: rgba(0,0,0,0.8);">
		<div class="container">
		
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h2 class="wwo-head">Customize
						<a href="learn_motif.html"><p style="font-size:13px; text-shadow:none; opacity:0.7; margin-top:10px">Click on customize to get started</p></a>
					</h2>
					<ul class="wwo-navigate">
						<li id="wwo-navigate2_new-left"><i class="fa fa-angle-left" ></i>Prev</li>
						<li id="wwo-navigate2_new-right"><i class="fa fa-angle-right" ></i>Next</li>
					</ul>
				</div>
			</div>
			{% if AllCustomizeList %}
                {% for item in AllCustomizeList %}
                	{% ifequal forloop.counter0 0 %}
						<div class="row sbrows_cus sbrow-cus-active" id="sbrow_{{forloop.counter}}">
							<div class="col-md-5 col-sm-5 col-xs-12 sb-content animated fadeInRight">
								<h3 class="sb-title"><span class="gray">{{forloop.counter}}</span> {{item.heading}}</h3>
								<p class="sb-subtitle">{{item.description}}</p>
							</div>
							<div class="col-md-7 col-sm-7 col-xs-12 sb-image animated fadeInUp">
								<div class="sb-ipad">
									<div class="sb-ipadscreen"> <img src="static/media/images/customize/{{item.image}}" alt="." style="border:1px solid #ccc; border-radius: 4px; width:100%; height:100%"/> </div>
								</div>
							</div>
						</div>
					{% else %}
						<div class="row sbrows_cus" id="sbrow_{{forloop.counter}}">
							<div class="col-md-5 col-sm-5 col-xs-12 sb-content animated fadeInRight">
								<h3 class="sb-title"><span class="gray">{{forloop.counter}}</span> {{item.heading}}</h3>
								<p class="sb-subtitle">{{item.description}}</p>
							</div>
							<div class="col-md-7 col-sm-7 col-xs-12 sb-image animated fadeInUp">
								<div class="sb-ipad">
									<div class="sb-ipadscreen"> <img src="static/media/images/customize/{{item.image}}" alt="." style="border:1px solid #ccc; border-radius: 4px; width:100%; height:100%"/> </div>
								</div>
							</div>
						</div>
					{% endifequal %}	
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>

<div class="clearfix"></div>

<div class="container-fluid in-container-fluid wwo-bg wwo-bg-blue" style="overflow:hidden" id="Optimize">
	<div class="row padding-top-20" style="padding-bottom:0; padding-top:100px;">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h2 class="wwo-head">Optimize
						<a href="riskprofile.html"><p style="font-size:13px; text-shadow:none; opacity:0.7; margin-top:10px">Click on optimize to get started</p></a>
					</h2>
					<ul class="wwo-navigate bluescreen">
						<li id="wwo-navigate-left"><i class="fa fa-angle-left" ></i>Prev</li>
						<li id="wwo-navigate-right"><i class="fa fa-angle-right" ></i>Next</li>
					</ul>
					<div class="clearfix"></div>
				</div>
			</div>
			{% if AllOptimizeList %}
                {% for item in AllOptimizeList %}
                	{% ifequal forloop.counter0 0 %}
						<div class="row abrows abrow-active" id="abrow{{forloop.counter}}">
							<div class="col-md-7  col-sm-7 col-xs-12 wwo-image ani mated fadeInUp">
								<div class="">
									<div class="wwo-ipadscreen question-mark"> <img src="static/media/images/optimize/{{item.image}}" alt="." style="width:100%; height:100%; margin-top: -150px; padding-bottom: 40px;" /> </div>
								</div>
							</div>
							<div class="col-md-5 col-sm-5 col-xs-12 wwo-content animated fadeInRight">
								<h3 class="wwo-title"><span class="blue">{{forloop.counter}}</span>{{item.heading}}</h3>
								<p class="wwo-subtitle">{{item.description}}</p>
							</div>
						</div>
				    {% else %}
				    	<div class="row abrows" id="abrow{{forloop.counter}}">
							<div class="col-md-5 col-sm-5 col-xs-12 wwo-content animated">
								<table>
									<tr class="wwo-title h3">
										<td><span class="yellow">{{forloop.counter}}</span></td>
										<td>{{item.heading}}</td>
									</tr>
								</table>
								<p class="wwo-subtitle">{{item.description}}</p>
							</div>
							<div class="col-md-7  col-sm-7 col-xs-12 wwo-image animated">
								<div class="wwo-ipad">
									<div class="wwo-ipadscreen" > <img src="static/media/images/optimize/{{item.image}}" alt="." style="width:100%;"/> </div>
								</div>
							</div>
						</div>
					{% endifequal %}	
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>

<div class="clearfix"></div>

<div class="container-fluid in-container-fluid" id="markit2">
	<div class="row">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table class="jqcloud-div">
						<tr> 
							<td style="vertical-align: middle; padding:0px 80px;"><div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="vertical-align: middle"> 
									<!-- Indicators -->
										<ol class="carousel-indicators" style="bottom: -40px;">
                        					{% for i in AllTestList %}
                        						{% ifequal forloop.counter0 0 %} 
												<li data-target="#carousel-example-generic" data-slide-to="{{forloop.counter0}}" class="active"></li>
												{% else %}
												<li data-target="#carousel-example-generic" data-slide-to="{{forloop.counter0}}" class=""></li>
												{% endifequal %}
											{% endfor %}
										</ol>
									
									<!-- Wrapper for slides -->
									<div class="carousel-inner" role="listbox">
									 {% if AllTestList %}
                        				{% for item in AllTestList %}
                        					{% ifequal forloop.counter0 0 %}
												<div class="item active">
													<h2 class="in-headline">{{item.long_desc}}</h2>
													<p style="text-align: center; margin-top: 20px;">{{item.short_desc}}</p>
												</div>
											{% else %}
													<div class="item">
													<h2 class="in-headline">{{item.long_desc}}</h2>
													<p style="text-align: center; margin-top: 20px;">{{item.short_desc}}</p>
												</div>	
											{% endifequal %}			
										{% endfor %}
									{% endif %}
									</div>
								</div>
								</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid in-container-fluid in-bg-team">
	<div class="row in-row-cover"> </div>
	<div class="clearfix"></div>
</div>

<div class="clearfix"></div>

<div class="container-fluid in-container-fluid" id="team">
	<div class="row">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h4 class="in-cont-title">Team</h4>
				</div>
			</div>
			<div class="row" style="margin-top: 40px;">
				<div class="col-lg-10 in-middle">
					<div class="slider responsive">
						{% if AllTeamList %}
                        	{% for item in AllTeamList %}
								<div class="in-team"> <a  class="team-link"> <img class="img img-circle" src="static/media/images/team/{{item.profile_image}}" alt="."/>
									<p class="team-name">{{itrm.profile_name}}</p>
									<small>{{itrm.designation}}</small>
									<p class="team-desc hidden">{{item.long_desc}}</p>
									</a> 
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			
			<div class='row team-detail animated fadeInLeft'>
				<div class='col-md-12 col-sm-12 col-xs-12' style="padding-left:0">
					<div class='row'>
						<div class="col-md-3 col-sm-6 hidden-xs" style='overflow: hidden;'><img id="teamPopup-img" alt="." src="" class="img img-circle" style="border:10px solid #fff; height: 100%"></div>
						<div class="col-md-9 col-sm-6 col-xs-12 team-txt" style="padding:40px 25px 40px 0px">
							<p style="font-family:'lato-medium'; color: #3781B3" id="teamPopup-name"></p>
							<p style='font-family:"lato-regular"; font-size: 14px' id="teamPopup-desg"></p>
							<p style='margin-top: 20px; font-family:"lato-regular"; font-size: 14px; color:#656565; text-align: justify' id="teamPopup-desc"></p>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

<div class="container-fluid in-container-fluid " id="partners">
	<div class="row">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h4 class="in-cont-title">Partners</h4>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="row">
				<div class="col-lg-10 in-middle">
					<div class="slider responsive hovershine">
					{% if AllPartnerList %}
                        {% for item in AllPartnerList %}
						<div class="in-partner"><a href="http://{{item.link}}" target="_blank"><img class="img" src="/static/media/images/partner/{{item.image}}" alt="."/></a></div>
						{% endfor %}
					{% endif %}
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>

<div class="clearfix"></div>
{% include 'frontend/footer.html' %}
