	<div class="row">
		<div class="container">
			<div class="row"  >
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h4 class="in-cont-title" id="whoweare">About Us</h4>
	                <!-- <div class="mob-text">{{AllEditSetList.0.about_us|truncatechars:98}}</div> Individual investors are inundated with lots of ideas and insights; what we do at Investak is that we turn these insights into actionable investments -->
	                <div class="mob-text">Investak is a thematic investment platform, which helps you invest in a family of stocks based on the ideas you believe in. We offer a number of Staks, which are portfolios of up to 30 stocks based on market trends or themes, intelligently built for you. What’s more? You can make your own Staks too! Our aim is to make the investment process convenient and intuitive for you.</div>

				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
					<div class="in-cont-content desk-text">{{AllEditSetList.0.about_us}}</div>

					<!--<div class="read-more-div"> <a class="btn btn-default in-knowmore" href="#">know more</a> </div>-->
	                <div class="in-ticker">
	                    
	                    <table style="width: 100%; vertical-align: middle;">
	                        <tr>
	                            <td style="text-align: center;">
	                                <span style="color: #2486C8; font-size: 42px;">{{AllEditSetList.0.aboutus_customer}}</span>
	                                <p style="font-size:16px;margin-bottom:15px;">CUSTOMERS</p>
	                            </td>
	                            <td style="text-align: center;">
	                                <label id="totalTransaction" style="color: #2486C8; font-size: 42px;"></label>
	                                <p style="font-size:16px;">VALUE OF TRANSACTIONS</p>
	                            </td>
	                        </tr>
	                    </table>
	                </div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
					<div id="sb-container" class="sb-container" style="margin-top: -10px;">
						<div> <span class="sb-icon icon-bag"></span>
							<h4><span style="font-size: 13px">{{AllEditSetList.0.aboutus_page1_heading}}</span></h4>
						</div>
						<div> <span class="sb-icon icon-flight"></span>
							<h4><span style="font-size: 13px">{{AllEditSetList.0.aboutus_page2_heading}}</span></h4>
						</div>
						<div> <span class="sb-icon icon-download"></span>
							<h4><span style="font-size: 13px">{{AllEditSetList.0.aboutus_page3_heading}}</span></h4>
						</div>
						<div> <span class="sb-icon icon-picture"></span>
							<h4><span style="font-size: 13px">{{AllEditSetList.0.aboutus_page4_heading}}</span></h4>
						</div>
						<div> <span class="sb-icon icon-eye"></span>
							<h4><span style="font-size: 11px">{{AllEditSetList.0.aboutus_page5_heading}}</span></h4>
						</div>
						<div>
							<h4 style="background:none;"><span><!-- we care --></span></h4>
							<span class="sb-toggle">Open</span>
							<h5><span><!-- We Do --></span></h5>
						</div>
					</div>
					<div class="sb-mobile-container">
						<ul>
							<li style="background-color:#0160B2;"> <span class="sb-icon icon-bag"></span><span style="font-size: 13px">{{AllEditSetList.0.aboutus_page1_heading}}</span> </li>
							<li style="background-color:#05B550;"> <span class="sb-icon icon-flight"></span><span style="font-size: 13px">{{AllEditSetList.0.aboutus_page2_heading}}</span> </li>
							<li style="background-color:#FCB422;"> <span class="sb-icon icon-download"></span><span style="font-size: 13px">{{AllEditSetList.0.aboutus_page3_heading}}</span> </li>
							<li style="background-color:#00C0EF;"> <span class="sb-icon icon-picture"></span><span style="font-size: 13px">{{AllEditSetList.0.aboutus_page4_heading}}</span> </li>
							<li style="background-color:#FB1D28;"> <span class="sb-icon icon-eye"></span><span style="font-size: 13px">{{AllEditSetList.0.aboutus_page5_heading}}</span> </li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>