<div class="row in-row-cover padding-top-20" style="overflow: hidden; padding-top:120px; padding-bottom: 0px; background: rgba(0,0,0,0.7);">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h2 class="wwo-head"><a {% if request.session.id %} href="/user_dashboard" {% else %} href="/login" {% endif %} >  Investment Approach</a>
					<a {% if request.session.id %} href="/user_dashboard" {% else %} href="/login" {% endif %}><p style="font-size:13px; text-shadow:none; opacity:0.7; margin-top:10px">Click on investment approach to get started</p></a>
				</h2>
				<ul class="wwo-navigate">
					<li id="wwo-navigate2-left"><i class="fa fa-angle-left" ></i>Prev</li>
					<li id="wwo-navigate2-right"><i class="fa fa-angle-right" ></i>Next</li>
				</ul>
			</div>
		</div>
		<script type="text/javascript">
			var sbrows_count = {{ AllAnalyzeList|length }}
		</script>
		{% if AllAnalyzeList %}
            {% for item in AllAnalyzeList %}
				<div class="row sbrows  {% ifequal forloop.counter 1  %}sbrow-active {% endifequal %}" id="sbrow{{forloop.counter}}">
					<div class="col-md-5 col-sm-5 col-xs-12 sb-content animated fadeInRight">
						<h3 class="sb-title"><span class="gray">{{forloop.counter}}</span>{{item.heading}}</h3>
						<p class="sb-subtitle" >{{item.description}}</p>
					</div>
					<div class="col-md-7 col-sm-7 col-xs-12 sb-image animated fadeInUp">
						<div class="sb-ipad">
							<div class="sb-ipadscreen"> <img src="//d1iedlxz1i0l9r.cloudfront.net/static/media/images/analyze/{{item.image}}" alt="." style="border:1px solid #ccc; border-radius: 4px; width:100%; height:100%"/> </div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
</div>