{% include 'inner_head.html' %}
{% load staticfiles %}
<script type="text/javascript">
    function news_search() {
      var current_path = '{{ request.build_absolute_uri }}';
                   //alert(current_path);
     var path = current_path.split("?");
     var search_text = $.trim($("#keywords").val());

     search_text = search_text.split(" ").join("+");
     if(path.length === 1){
         if($("#prev_search_value").val() != "") {

              path[0] = path[0].split($("#prev_search_value").val()).join(search_text);

              window.location.href=path[0];
         }
         else {
              var temp_url = path[0]+""+search_text;
              window.location.href=temp_url;
         }
     }
     else {
      alert("Else");
         if($("#prev_search_value").val() != "") {
              path[0] = path[0].split($("#prev_search_value").val()).join(search_text);
             window.location.href=path[0]+"?"+path[1];
         }
         else {
             window.location.href=path[0]+""+search_text+"?"+path[1];
         }
     }
    }
    $(document).ready(function(e){
        $("#keywords").keypress(function(e){
            if(e.which === 32 && e.target.selectionStart === 0) {
               return false;
           }
               if(e.which === 13) {
                   news_search();
               }
        });


        $(".iconsSe > i").click(function(e){
            news_search();
        });

$(document).ready(function(){
    mobilemenu();
    var tgt = $(document).height();
    $(".before_login_menu_mobile").height(tgt);

})
    function mobilemenu()
	{
		$(".onclickMob").click(function(e){

            e.stopPropagation();
			$('.before_login_menu_mobile').animate({right:0});
			$(".psuh_left").animate({right:240});
			$(this).hide();
			$(".mobmenu").show();
			$(".psuh_left").addClass('opacity');
			$(".psuh_left").addClass('opaleft');


		});

        $(".before_login_menu_mobile").click(function(e){
            e.stopPropagation();
        });

		$(".mobmenu").click(function(e){
			$('.before_login_menu_mobile').animate({right:-270});
			$('.before_login_menu_mobile').show();
			$(".psuh_left").animate({right:0});
			$(this).hide();
			$(".onclickMob").show();
			$(".psuh_left").removeClass('opacity');

             //e.stopPropagation();
		});


	}

    });

$(document).on('click','.opacity',function(e){
         var right_value = $('.before_login_menu_mobile').css('right');

            if(right_value == "-270px") {
                $( ".onclickMob" ).trigger( "click" );
            }
            else {
                $('.before_login_menu_mobile').animate({right:-270});
                $('.before_login_menu_mobile').show();
                $(".psuh_left").animate({right:0});
                $(this).hide();
                $(".onclickMob").show();
                $(".psuh_left").removeClass('opacity');
                $(".psuh_left").css('display','block');
            }

            $(".onclickMob").focus();
            $(".mobmenu").hide();

    });
</script>

<div class="total_body_area" >

<div class="before_login_menu_mobile">
<div id="" class="">
    <div class="menu_area">
    {% if request.session.id %}
    <div class="search_box"><input type="text" name="website_search_mob" id="website_search_mob" placeholder="Cluster, Stock etc.."></div>
    <div class="user_area"><a href="javascript:void(0)"><img src="{{ request.session.profile_img }}" id="img_user_area"> </a>
    	<h4>{{ request.session.full_name }}
        <p>{{ request.session.email_id }}</p></h4>
        <div class="submenu">
        	<a href="javascript:void(0)" data-toggle="modal" data-target="#modalChangeProfile">View Profile</a>
            <a href="javascript:void(0)" data-toggle="modal" data-target="#modalChangePwd">Change Password</a>
            <a href="/watchlist/">Watchlist</a>
            <a href="/my_built_cluster/">My Built Clusters</a>
            <a href="/other_cluster/">My Edited Clusters</a>
            {% ifequal request.session.reg_type "S" %}
                <a href="/logout/" >Logout</a>
            {% else %}
                <a href="/logout/" >Logout</a>
            {% endifequal %}

        </div>
    </div>

    <ul class="nav navbar-nav">
        <li><a href="/user_dashboard/" {% if request.path == '/user_dashboard/' %}  class="active_logs" {% endif %}>Dashboard</a></li>
        <li><a href="/analyze/" {% if request.path == '/analyze/' %}  class="active_logs" {% endif %}>Analyze</a></li>
        <li><a href="/customize/" {% if request.path == '/customize/' %}  class="active_logs" {% endif %}>Customize</a></li>
        <li><a href="/portfolio/" {% if request.path == '/portfolio/' %}  class="active_logs" {% endif %}>Portfolio</a></li>
    </ul>
    {% else %}
    <ul class="nav navbar-nav">
        <li><a href="/#aboutus">about</a></li>
        <li><a href="/#Analyze">approach</a></li>
        <li><a href="/#markit2">testimonials</a></li>
        <li><a href="/#team">team</a></li>
        <li><a href="/#partners">partners</a></li>
        <li><a href="/#contactus">contact</a></li>
        <li><a href="/login/">login</a></li>
        <li><a href="/signup/">signup</a></li>
        <h3>Resources</h3>
        <li><a href="/faq/" style="padding-left:30px !important;">faq</a></li>
        <li><a href="/news/" style="padding-left:30px !important;">newsroom</a></li>
    </ul>
    {% endif %}
    </div>

</div>
</div>

    <div class="psuh_left">

        <div class="faq_heads news_heads">

             {% include 'inner_nav.html' %}

            <div class="faq_search_area">
              <div class="container">
                <div class="row">
                  <div class="col-lg-7 col-center">
                      <div class="site-heading">
                          <h2>News Room</h2>
                        </div>
                        <div id="custom-search-input">
                            <div class="input-group col-md-8 col-center">
                              <input type="text" id="keywords"  placeholder="Search...." class="search-query form-control" {% if search_text != "" %} value="{{ search_text }}" {% endif %}>
                              <input type="hidden" name="prev_search_value" id="prev_search_value" {% if prev_search_value != "" %} value="{{ prev_search_value }}" {% endif %} />
                                 <a href="javascript:void(0)" onclick="" class="iconsSe"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>


        </div>

        <section id="faq_body">
          <div class="container">

                <div class="row">

                    <div class="col-sm-9">
                    {% if not request.mobile or request.tablet %}
                        <div class="newsroom_area">
                        {% if AllNewsList %}
                            {% for item in AllNewsList %}
                            <div class="news_area">
                              <div class="row">
                                <div class="col-sm-4">
                                  <div class="img_area"><a href="{{item.link}}" target="_blank"><img src="{% static "media/images/newsroom/" %}{{ item.image}}"></a></div>
                                </div>
                                <div class="col-sm-8">
                                  <div class="nws_txt_area">
                                      <h2><a href="{{item.link}}" target="_blank">{{ item.heading}}</a></h2>
                                      <span>Uploading Date : {{ item.created_date}}</span>
                                      <p>{{ item.description}}</p>

                                       <a href="{{item.link}}" target="_blank">See full article</a>
                                    </div>
                                </div>
                              </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            <div class="panel panel-default"><span style="color:red;">NO DATA FOUND..</span></div>
                        {% endif %}
                        </div>
                    {% else %}
                        <div class="newsroom_area">
                        {% if AllNewsList %}
                            {% for item in AllNewsList %}
                            <div class="news_area">

                                <div class="col-md-8 col-xs-12 no-pad-right mobPad">
                                  <div class="nws_txt_area">
                                      <h2><a href="{{item.link}}" target="_blank">{{ item.heading}}</a></h2>
                                      <div class="col-md-4 col-xs-12 no-pad-left mobPad">
                                            <div class="img_area"><a href="{{item.link}}" target="_blank"><img src="{% static "media/images/newsroom/" %}{{ item.image}}"></a></div>
                                      </div>
                                      <span>Uploading Date : {{ item.created_date}}</span>
                                      <p>{{ item.description}}</p>

                                       <a class="seefull" href="{{item.link}}" target="_blank">See full article</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            <div class="panel panel-default"><span style="color:red;">NO DATA FOUND..</span></div>
                        {% endif %}
                        </div>
                    {% endif %}
                        <div class="grid_list_bar bottoms_area mybuilt_grid">
                            <div class="body_section_area">
                                <div class="pagination_bar">
                                {% if AllNewsList %}
                                  <ul class="pagination pagination-sm pull-right">
                                    {% if news_room_details.has_previous %}

                                    <li class="page-item">
                                      <a aria-label="Previous" href="?page={{ news_room_details.previous_page_number }}" class="page-link">
                                        <span aria-hidden="true"><i class="fa fa-caret-left" aria-hidden="true"></i></span>
                                      </a>
                                    </li>
                                    {% endif %}
                                    {% for page in news_room_details.paginator.page_range %}
                                            <li class="{% if news_room_details.number == page  %}active{% endif %} page-item"><a href="?page={{page }}" class="page-link">{{ page }}</a></li>
                                    {% endfor %}
                                    <!--<li class="page-item"><a href="javascript:void(0)" class="page-link">{{ news_room_details.number }}</a></li>-->

                                  {% if news_room_details.has_next %}
                                    <li class="page-item">
                                      <a aria-label="Previous" href="?page={{ news_room_details.next_page_number }}" class="page-link">
                                        <span aria-hidden="true"><i class="fa fa-caret-right" aria-hidden="true"></i></span>
                                      </a>
                                    </li>
                                  {% endif %}

                                  </ul>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-3">
                      <!-- <div class="news_right tops">
                          <h2>Categories</h2>
                            <ul>
                              <li><a href="#">Appetizers</a></li>
                                <li><a href="#">Breakfast</a></li>
                                <li><a href="#">Deserts</a></li>
                                <li><a href="#">Dinner</a></li>
                                <li><a href="#">Drinks</a></li>
                                <li><a href="#">Salads</a></li>
                                <li><a href="#">Uncategorized</a></li>
                            </ul>
                        </div> -->

                        <div class="news_right tops">
                          <h2>Archives</h2>
                            <ul>

                              {% if NewsMnthYr %}
                                {% for item in NewsMnthYr %}
                                  <li><a href="/news/{{item.created_date|date:'m/Y'}}/">{{ item.created_date|date:'F Y' }}</a></li>
                                {% endfor %}
                              {% else %}
                                  <li><span style="color:red;">NO DATA FOUND..</span></li>
                              {% endif %}
                            </ul>
                        </div>

                    </div>

                    </div>

              </div>


        </section>

        {% include 'inner_footer.html' %}



    </div>

</div>