{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Buy Cluster</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<meta http-equiv="refresh" content="10" />
<script type="text/javascript" src="{% static "frontend/dashboard/dist/js/jquery.1.11.3.min.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function(e){

                  update_order();
    });
    function update_order()
    {
        $.ajax({
            type:"POST",
            url:"/frontend/update_order/",
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'},
            async:false,
            success:function(response)
            {
                //window.location.reload();
            },
            error:function(xhr)
            {
                //window.location.reload();
            }
        });
    }
</script>
</head>
<body>
    <table border="1"  cellpadding="0" cellspacing="0" width="60%" align="center">
        <tr>
            <th>SL NO</th>
            <th>Cluster Name</th>
            <th>Order Date</th>
        </tr>
        {% if cluster_order_details %}
            {% for cod in cluster_order_details %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ cod.item0.0.cluster_details.0.cluster_name}}</td>

                    <td>{{ cod.item0.0.order_date }}</td>
                </tr>
                {% for cod1 in cod.item1 %}
                <tr>

                    <td>Name : {{ cod1.1.co_name }}</td>
                    <td>Share Value : Rs. {{ cod1.0.share_value }}</td>
                    <td>New Weight : {{ cod1.0.new_weigh }}%</td>
                    <td>No of Share : {{ cod1.0.no_of_share }}</td>
                    <td>Status : {% ifequal cod1.0.order_status 0 %} Pending {% else %} Confirm {% endifequal %}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </table>
</body>
</html>