{% load staticfiles %}
{% load i18n static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Sign Up | Investak</title>

<link href="{% static "frontend/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "frontend/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "frontend/Icon-font-7-stroke-PIXEDEN-v-1.2.0/pe-icon-7-stroke/css/pe-icon-7-stroke.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "frontend/Icon-font-7-stroke-PIXEDEN-v-1.2.0/pe-icon-7-stroke/css/helper.css" %}" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="{% static "frontend/js/jquery-ui-1.11.4.custom/jquery-ui.css" %}">

<link href="{% static "frontend/js/slick-master/slick/slick.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "frontend/js/SwatchBook/css/style3.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "frontend/css/animate.css" %}" rel="stylesheet" type="text/css">

<link href="{% static "frontend/css/style.css" %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static "frontend/bootstrap-datepicker-master/css/bootstrap-datepicker.css" %}">


<script src="{% static "frontend/js/jquery.js" %}"></script>
<script src="{% static "frontend/js/bootstrap.min.js" %}"></script>

<script src="{% static "frontend/js/slick-master/slick/slick.min.js" %}"></script>
<script src="{% static "frontend/js/animateNumber/jquery.animateNumber.min.js" %}"></script>
<script src="{% static "frontend/js/jquery.nicescroll.340/jquery.nicescroll.min.js" %}"></script>


<script>

	$(document).ready(function() {

		$('.in-tooltip').tooltip();

        $("html").niceScroll({
            mousescrollstep:60,
            scrollspeed:100
        });
      });

    $(window).bind('scroll', function() {
        var target_on = $("#whoweare").offset().top; target_on -= 143;
        if ($(window).scrollTop() > target_on) {
            $('.tone').animateNumber({ number: 1047 }, 1000);
            $('.ttwo').animateNumber({ number: 740 }, 1000);
            $('.tickernum').removeAttr('class');
        }

    });


	$(document).ready(function(e) {

			$('.responsive').slick({
			accessibility:false,
			arrows:false,
			dots: true,
			draggable:false,
			focusOnSelect:true,
			infinite: false,
			swipe:false,
			swipeToSlide:false,
			touchMove:false,
		   slidesToShow: 4,

		  responsive: [
			{
			  breakpoint: 1024,
			  settings: {
				slidesToShow: 3,
				touchMove:false,
				dots: true
			  }
			},
			{
			  breakpoint: 600,
			  settings: {
				slidesToShow: 2,
				touchMove:false,
				dots: true
			  }
			},
			{
			  breakpoint: 480,
			  settings: {
				slidesToShow: 1,
			   touchMove:false,
			   dots: true
			  }
			}
		  ]
		});


		autoPlayYouTubeModal();
		function autoPlayYouTubeModal(){
			var trigger = $("body").find('[data-target="#videoPopup"]');
			trigger.click(function() {
				var theModal = $(this).data( "target" ),
				videoSRC = $(this).attr( "data-theVideo" ),
				videoSRCauto = videoSRC+"?autoplay=1" ;
				$(theModal+' iframe').attr('src', videoSRCauto);
				$(theModal+' button.close').click(function () {
					$(theModal+' iframe').attr('src', videoSRC);
				});
			});
		}

		$('a.scroller').click(function(){
			$('html, body').animate({
				scrollTop: $( $(this).attr('href') ).offset().top
			}, 1000);
			return false;
		});


    });



</script>
 <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
 <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(e){

            $("#email_id").blur(function(e){
               var email_id =  $("#email_id").val();
               if($.trim(email_id)!="")
               {
                   $.ajax({
                       type:"POST",
                       url:"/frontend/email_exists/",
                       async:false,
                       data:{email_id:email_id, csrfmiddlewaretoken:'{{ csrf_token }}'},
                       beforeSend:function()
                       {
                           $('body').fadeTo('slow',0.33);
                       },
                       success:function(response)
                       {
                           $('body').fadeTo('slow',1);
                           if(response==1)
                           {
                               $("#error-email").html("Email ID Already Exists");
                               $("#email_id").val("");
                           }
                           else{
                               $("#error-email").html("");
                           }
                       },
                       error:function(xhr)
                       {
                           $('body').fadeTo('slow',1);
                       }
                   });
               }
            });

            $(".btn-yellowish").click(function(e){
                $("#form_signup").submit();
            });
            $.validator.addMethod("alpha", function(value, element) {
    return this.optional(element) || value == value.match(/^[a-zA-Z\s]+$/);
 },'Only alphabet and space acceptable');
            $("#form_signup").validate({
                rules: {
                    full_name: {
                        required:true,
                        alpha:true
                    },
                    email_id: {
                        required:true,
                        email:true
                    },
                    password: {
                        required:true
                    },
                    dob: {
                        required:true
                    },
                    agree: {
                        required:true
                    }
                },
                messages: {
                    full_name: {
                        required:"Please enter full name"
                    },
                    email_id: {
                        required:"Please enter email id",
                        email:"Please enter valid email id"
                    },
                    password: {
                        required:"Please enter password"
                    },
                    dob: {
                        required:"Please enter date of birth"
                    },
                    agree: {
                        required:"Please agree terms and conditions"
                    }
                },
                submitHandler:function(form)
                {
                   $.ajax({
                        type:"POST",
                        url:"/user_registration/",
                        data:{full_name:$("#full_name").val(),email_id:$("#email_id").val(),password:$("#password").val(),dob:$("#dob").val(),csrfmiddlewaretoken:'{{ csrf_token }}'},
                        async:false,
                        beforeSend:function()
                        {
                            $('body').fadeTo( "slow", 0.33 );
                        },
                        success:function(response)
                        {
                            $('body').fadeTo( "slow", 1 );
                            if(response)
                            {
                                window.location.href="/user_dashboard/";
                            }
                        },
                        error:function(xhr)
                        {
                            alert("Error occurred");
                        }
                    });
                }
            });

           $("#forget_email_id").blur(function(e){
                   var email_id =  $("#forget_email_id").val();
                   if($.trim(email_id)!="")
                   {
                       $.ajax({
                           type:"POST",
                           url:"/frontend/email_exists/",
                           async:false,
                           data:{email_id:email_id, csrfmiddlewaretoken:'{{ csrf_token }}'},
                           beforeSend:function()
                           {
                               $('body').fadeTo('slow',0.33);
                           },
                           success:function(response)
                           {
                               $('body').fadeTo('slow',1);

                               if(response==0)
                               {
                                   $("#error-email-forget").html("Email ID Not Found");
                                   $("#forget_email_id").val("");
                                   $("#div_confirm_password").hide();
                                   $("#div_new_password").hide();
                               }
                               else{
                                   $("#error-email-forget").html("");
                                   $("#div_confirm_password").show();
                                   $("#div_new_password").show();
                               }
                           },
                           error:function(xhr)
                           {
                               $('body').fadeTo('slow',1);
                           }
                       });
                   }
           });
           $("#btnLogin").click(function(e){

              $("#frmSignIn").submit();
           });
           $("#btnReset").click(function(e){
               $("#frmForgetPassword").submit();
           });
            $("#frmSignIn").validate({
               rules: {
                   sign_email_id:{
                       required:true,
                       email:true
                   },
                   sign_password:{
                       required:true
                   }
               },
                messages: {
                     sign_email_id:{
                       required:"Please enter email id",
                       email:"Please enter valid email id"
                   },
                   sign_password:{
                       required:"Please enter password"
                   }
                },
                submitHandler:function(form)
                {
                    $.ajax({
                        type:"POST",
                        url:"/user_login/",
                        data:{email_id:$("#sign_email_id").val(),password:$("#sign_password").val(), remember_me:$("#remember_me").val(),csrfmiddlewaretoken:'{{ csrf_token }}'},
                        success:function(response)
                        {

                            if(response.message==1)
                            {
                                window.location.href='/user_dashboard/';
                            }
                            else{
                                $("#loginError").html("Email or password not matched");
                            }
                        },
                        error:function(xhr)
                        {
                            $("#loginError").html("Database error");
                        }
                    })
                }
            });
            $("#frmForgetPassword").validate({
                rules: {
                    forget_email_id: {
                        required:true,
                        email:true
                    },
                    new_password:{
                        required:true
                    },
                    confirm_password: {
                        equalTo:"#new_password"
                    }
                },
                messages: {
                    forget_email_id: {
                        required:"Please Enter Email ID",
                        email:"Please Enter Valid Email ID"
                    },
                    new_password:{
                        required:"Please Enter New Password"
                    },
                    confirm_password: {
                        equalTo:"New and Confirm Password Should Be Same"
                    }
                },
                submitHandler:function(form)
                {
                    var email_id = $("#forget_email_id").val();
                    var new_password = $("#new_password").val();
                    if($.trim(email_id)!="" && $.trim(new_password)!="")
                    {
                        $.ajax({
                            type:"POST",
                            url:"/frontend/forget_password/",
                            async:false,
                            data:{email_id:email_id,new_password:new_password,csrfmiddlewaretoken:'{{csrf_token}}' },
                            beforeSend:function() {
                                $('body').fadeTo('slow',0.33);
                            },
                            success:function(response) {
                                $('body').fadeTo('slow',1);
                                if(response==1)
                                {
                                    $("#lblResponse").html('Password Successfully Changed').attr('style','font-size:13px; color:#05B550');
                                     setTimeout(function(){
                                         window.location.reload();
                                    }, 2000);
                                }
                                else {
                                    $("#lblResponse").html('Email ID Not Found').attr('style','font-size:13px; color:#f00');
                                    setTimeout(function(){
                                         window.location.reload();
                                    }, 2000);
                                }
                            },
                            error:function(xhr) {
                                $("#lblResponse").html('Error Occurred').attr('style','font-size:13px; color:#f00');
                                $('body').fadeTo('slow',1);
                            }
                        })
                    }
                }
            });
        });
    </script>
<script src="{% static "frontend/js/script.js" %}"></script>

<style type="text/css">
  .ui-menu .ui-menu-item:hover{ background:#3781B3; color:#fff;}
.ui-autocomplete{ max-height:100px; overflow-y:auto; overflow-x:hidden;}
 #login-popup .modal-dialog{ width:400px;}
 #error-pass{display: none;}
 .error{font-size: 12px; color: #ff0000 !important}
    </style>
</head>

<body>
<!--Header-->

<header>
  <div class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-2 col-sm-3 col-xs-5"> <a href="/" class="in-logo"></a> </div>
          <div class="col-lg-8 col-md-7 col-sm-7 col-xs-6 hidden-xs nopadleft">
            <ul class="in-nav ">
            	<li class="active"><a href="#aboutus" class="hvr-underline-from-center scroller">About Us</a></li>
                <li><a href="#" class="hvr-underline-from-center scroller">Investment Approach</a></li>
                <li><a href="#markit2" class="hvr-underline-from-center scroller">Testimonial</a></li>
                <li><a href="#team" class="hvr-underline-from-center scroller">Team</a></li>
                <li><a href="#partners" class="hvr-underline-from-center scroller">Partners</a></li>
                <li><a href="#contactus" class="hvr-underline-from-center scroller">Contact Us</a></li>
                <li><a href="faq.html" class="hvr-underline-from-center scroller faq"><img src="{% static "frontend/images/ask.png" %}"><span>FAQ</span></a></li>
                <li class="newss"><a href="newsroom.html" class="hvr-underline-from-center scroller"><img src="{% static "frontend/images/icon1.png" %}"></a><span>Newsroom</span></li>
            </ul>
          </div>
          <div class="col-lg-1 col-md-2 col-sm-2 col-xs-7">
          	<!--<a href="#" class="btn btn-default sign-in-btn" data-toggle="modal" data-target="#login-popup">Sign In</a>
            <button type="button" class="btn btn-default sign-in-btn mobile-menu-btn" data-toggle="collapse" data-target="#mobile-menu"><i class="fa fa-bars"></i></button>-->

            <!--<div class="userprofile">
            <div class="userpics"><i aria-hidden="true" class="fa fa-user"></i></div>
            <p>Ankit</p><a data-toggle="dropdown" class="dropdown-toggle" data-target="#" href="#"><i aria-hidden="true" class="fa fa-caret-down"></i></a>

            <ul class="dropdown-menu">
            <li><a href="dashboard/user-dashboard.html">Dashboard</a></li>
            <li><a href="index.html">Log Out</a></li>
            </ul>

            </div>-->


          </div>
        </div>
      </div>
    </div>
    <div id="mobile-menu" class="collapse in">
      <ul class="mobile-nav ">
        <li class="active"><a href="#aboutus" class="hvr-underline-from-center scroller">About Us</a></li>
        <li><a href="#" class="hvr-underline-from-center scroller">Investment Approach</a></li>
        <li><a href="#markit2" class="hvr-underline-from-center scroller">Testimonial</a></li>
        <li><a href="#team" class="hvr-underline-from-center scroller">Team</a></li>
        <li><a href="#partners" class="hvr-underline-from-center scroller">Partners</a></li>
        <li><a href="#contactus" class="hvr-underline-from-center scroller">Contact Us</a></li>
        <li><a href="faq.html" class="hvr-underline-from-center scroller"><img src="{% static "frontend/images/ask.png" %}" ></a></li>
        <li><a href="newsroom.html" class="hvr-underline-from-center scroller"><img src="{% static "frontend/images/icon1.png" %}"></a></li>
      </ul>
    </div>
  </div>
</header>






<div class="clearfix"></div>


<div class="container-fluid in-container-fluid" id="usersignupform">
    <div class="row in-cover" >
        <div class="container" style=" padding-top: 20px; padding-bottom: 40px;">
            <div class="row">

            </div>
            <div class="row">

                <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12" style="float: none; margin:0 auto">
                    <div id='signupform'>
                        <form name="form_signup" id="form_signup">
                        <div class="alreadyacc">
                            <p>Already have an account?</p>
                            <a class="btn btn-danger" data-toggle="modal" data-target="#login-popup" style="width:100%">Sign In</a>
                        </div>
                        <table width="100%" style=" position: relative;  margin: 10px 0px 20px 0px; width: 100%; padding:0 15px">

                            <tr>
                                <td colspan="2">
                                    <div class="form-group">
                                        <input type="text" class="form-control us_input" name="full_name" id="full_name" placeholder="Full Name" required>
                                    </div>
                                </td>

                            </tr>

                            <tr>
                                <td colspan="2">
                                    <div class="form-group">
                                        <input type="email" required class="form-control us_input" id="email_id" name="email_id" placeholder="Email Address" >
                                        <span class="error" id="error-email"></span>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <div class="form-group">
                                        <input type="password" id="password" name="password" class="form-control us_input" placeholder="Password" required>
                                        <span class="error" id="error-pass"></span>
                                    </div>
                                </td>
                           </tr>

                            <tr>
                                <td colspan="2">
                                    <div class="form-group">
                                        <input style="padding:6px 12px" type="text" id="dob" name="dob" class="form-control us_input datepicker " placeholder="Birth Date (dd/mm/yyyy)" required>
                                        <span class="error" id="error-dob"></span>
                                    </div>
                                </td>
                            </tr>



                            <tr>
                                <td colspan='2'>
                                    <div class="checkbox">
                                        <label style="line-height:22px;">
                                            <input type="checkbox" id="agree" name="agree"> I agree with <a href='#' data-toggle="modal" data-target="#terms">terms & conditions</a>
                                        </label>
                                    </div>
                                    <!--<p style="font-size:12px; color:#777777">( First select "I agree..." to proceed )</p>-->
                                </td>
                            </tr>
                        </table>




                        <button type="button" class="btn btn-yellowish">Register & Proceed</button>
                      </form>
                    </div>

                </div>

               <div class="clearfix"></div>
            </div>


        </div>
    </div>
</div>

<div class="clearfix"></div>


<!-- Modal -->
<div class="modal fade" id="login-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-md-12 signin-form">
             <form name="frmSignIn" id="frmSignIn" method="post" action="/user_login/">{% csrf_token %}
                <span id="loginError" style="color:#ff0000"></span>
                  <div class="form-group">
                    <input type="email" name="sign_email_id" id="sign_email_id" class="form-control" placeholder="Email">
                  </div>

                  <div class="form-group">
                    <input type="password" class="form-control" name="sign_password" id="sign_password" placeholder="Password">
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" style="display:inline-block;" name="remember_me" id="remember_me" value="1">
                      Remember me </label>
                    <a href='javascript:void(0)'  data-toggle="modal" data-target="#forgot-popup" style='float: right' data-dismiss="modal" aria-label="Close" >Forgot Password?</a> </div>
            </form>
            </div>
              <!--<div class="col-md-6 signin-social">
                  <div>OR</div>
                  <ul>
                      <li><h4>Click below to sign in using your social account</h4></li>
                      <li><a href='#'><img src="images/fb-sign-in.png" alt='Facebook'/></a></li>
                      <li><a href='#'><img src="images/google-sign-in.png" alt='Facebook'/></a></li>
                  </ul>
              </div>-->
          </div>
      </div>
      <div class="modal-footer">
     	<a href="/registration/" class="pull-left sign-up-link">don't have an account?</a>
        <a href="javascript:void(0)"><button type="button" class="btn btn-primary" id="btnLogin">Sign In</button></a>
      </div>
    </div>
  </div>
</div>
<!-- Forget Password Modal -->
<div class="modal fade" id="forgot-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Forgot Password</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 signin-form">
            <form id="frmForgetPassword" name="frmForgetPassword" method="post">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Enter your email" id="forget_email_id" name="forget_email_id">
                <span class="error" id="error-email-forget"></span>
              </div>
              <div class="form-group" id="div_new_password" style="display:none!important;">
                  <input type="password" class="form-control" placeholder="Enter your new password" id="new_password" name="new_password">
              </div>
              <div class="form-group" id="div_confirm_password" style="display:none!important;">
                  <input type="password" class="form-control" placeholder="Enter your confirm password" id="confirm_password" name="confirm_password">
              </div>
              <label id="lblResponse"></label>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer"> <a href="#" class="pull-left sign-up-link" data-toggle="modal" data-target="#login-popup" data-dismiss="modal" aria-label="Close">Back to Sign In</a>
        <button type="button" class="btn btn-primary" id="btnReset">Reset</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width: 80%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Terms & Conditions</h4>
      </div>
      <div class="modal-body terms" style="padding:20px 25px; font-family: 'lato-regular'; font-size: 14px;">

          <p>
         PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE REGISTERING WITH Investak™. ALL Investak™ SERVICES PROVIDED TO YOU ARE SUBJECT TO THESE TERMS. WE SUGGEST THAT YOU PRINT OUT AND KEEP A COPY OF THESE TERMS AND CONDITIONS.

         PLEASE PAY PARTICULAR ATTENTION TO CLAUSES 7 AND 8. </p> <br/>
          <p>
              Investak™ is provided by Investak Pvt. Limited and references to “we”, “us” or “our” are to Investak.</p> <br/>


          <h4>The Agreement between us</h4>
          <ul>
              <li>Your use of the Sign-Up website (the “Site”) and the Sign-Up data processing services (together, the “Services”) are subject to you accepting the following Terms and Conditions of Use and Privacy Policy (together, the “Terms of Use”).</li>
              <li>Your acceptance of the Terms of Use shall be indicated by you clicking on the “Accept” box at the bottom of this document and your continued use of the Services. If you do not accept all the Terms of Use, you must click the “Decline” box at the bottom of this document and you must not continue to register to use the Services.</li>
              <li>Any error or omission of any information that we publish about the Services shall be subject to correction, provided that the correction does not materially affect the Services.</li>
              <li>We may change or add to these Terms of Use for security, legal or regulatory reasons. We will inform you of any changes that we intend to make by posting a notice of the Site at least 14 days before we make any changes. You will also be invited to view any amended Terms of Use before making a purchase using these Services.</li>
              <li>If you do not wish to accept any amended Terms of Use you should close your membership account as instructed on the Site or by contacting us as set out at clause 14 below, and stop using the Services immediately. If you do not close your membership account, your continued use of the Services will signify your acceptance of any amended Terms of Use.</li>
          </ul>
          <h4>Registration and using the Services</h4>
          <ul>
              <li>In order to use the Services you will need to: <br/><br/>
                (a) register your interest via SMS text message (“SMS”) (please see clause 3 below for details of SMS charges); or <br/><br/>
                (b) create your personal sign-up membership account on the Site by selecting a username and password and entering certain personal details which we will use in accordance with our Privacy Policy .
              </li>
              <li>You agree that you will register in your own name only and all information provided by you will be accurate and up-to-date. You agree to promptly update any of your details on the Site as necessary.</li>
              <li>You may not transfer your membership to another person.</li>
              <li>You are responsible for maintaining the confidentiality of your password and for all use of the Services made through your password. You agree to keep your password secret at all times and must inform us, and promptly change your password, if you believe that another person has become aware of your password or is using it or is likely to use it in an unauthorised way.</li>
              <li>Cost of using the Services</li>
              <li>Membership and use of the Services is free but you will be charged, at your mobile phone network service provider’s usual SMS message rate, for each SMS message that you send to us as part of the Services. You will not be charged for any SMS messages that you receive as part of the Services unless they have been clearly advertised as being premium rate.</li>
              <li>SMS charges will be published alongside our SMS contact numbers on the Site and on promotional literature.</li>
          </ul>
          <h4>Intellectual Property</h4>
          <ul>
              <li>All information, data and materials used in the Services (including materials accessible on the Site and the software used to access the Services) are protected by rights, including copyright, design rights, database rights and trade marks. All these rights are either owned by us or licensed to us by the rights owner(s) for use with the Services or otherwise used by us as permitted by applicable law.</li>
              <li>The Services are intended for individual, personal use only. Accordingly, you may print and download extracts from this Site for your own personal, non-commercial use, provided that any material copied remains intact and includes the following notice: “Copyright © 2009 Sign-Up Technologies Limited. All rights reserved.” Any other copying, distribution, storing, framing or transmission of any kind or any sort of commercial use of our the material used in the Services is strictly prohibited without our express consent.</li>
              <li>The word and logo “Sign-Up.to”, however represented, are trade marks of Investak. All rights reserved.</li>
          </ul>
          <h4>Acceptable Use Policy</h4>
          <ul>
              <li>You agree to use the Services as permitted by these Terms of Use and for lawful purposes only. In particular, you agree not to: <br>
                  <br/><br/>(a) use the Services to receive, access or transmit material that is obscene, sexually explicit, defamatory, threatening, degrading, racist, in breach of confidence or in breach of third party intellectual property rights (including copyright) or otherwise objectionable or unlawful;
                  <br/><br/>(b) impersonate any person, or entity or misrepresent your affiliation with anyone or entity;
                  <br/><br/>(c) access or attempt to access parts of the Services that you are not authorised to access or collect or store other members’ usernames, passwords or personal data;
                  <br/><br/>(d) avoid authentication processes or security of the Services or interfere with the use of the Services by other members;
                  <br/><br/>(e) use the Services to gain unauthorised access to other computer systems or interfere with services to other host providers, networks or websites.
                  <br/><br/>(f) reverse engineer or decompile (whether whole or in part) any software used in the Services;
                  <br/><br/>(g) use the Services to knowingly or recklessly transmit material (including viruses) or otherwise use the Services so as to cause harm to the Services, SuTL or other users or which is likely to bring the Services or SuTL into disrepute; or
                  <br/><br/>(h) intentionally violate any other applicable law or regulation while using the Services.
              </li>
          </ul>
          <h4>Competition and Prizes</h4>
          <ul>
              <li>We may run competitions, prize draws and promotions that will be subject to additional terms and conditions applicable to each individual instance and which will be made available at the time of such competitions.</li>
          </ul>
          <h4>Limits to your rights</h4>
          <ul>
              <li>We will do our best to maintain the operation of the Services in accordance with these Terms of Use. However, we cannot guarantee that the Site will be technically suitable for viewing on your computer or that the Services will be delivered to you uninterrupted, timely, secure or error-free.</li>
              <li>You are responsible for providing all computer equipment, mobile phone equipment and telecommunications service required to use the Services. We cannot and do not accept any responsibility for these and cannot guarantee the continued availability of any other person or services involved in providing the Services to you.</li>
              <li>The Internet is not a secure environment and we cannot guarantee that the Site and the server are free of computer viruses or other harmful applications. We recommend that you regularly update your browser software and use up-to-date anti-virus software to ensure that your access to the Services is as secure as possible.</li>
              <li>Your access to the Services may be occasionally restricted to allow for repairs, maintenance, the introduction of new facilities or services, or due to events beyond our reasonable control. Where this happens, we will attempt to restore the Services as soon as we reasonably can.</li>
              <li>We have no control or proprietary interest in the companies or products with which you register your interest. We do not endorse any particular company or product. When you register your interest with a particular company, you will receive information from that company and we are not responsible for the content or the accuracy of such information. You should contact that company directly if you have any queries or complaints</li>
              <li>We have no control over or proprietary interest in any website that are hypertext linked to this Site. We make no representations or guarantees about those websites or their content, nor that the links work.</li>
              <li>Should you purchase products or services from companies advertising on or linked to our Site, any contracts will be exclusively between you and the relevant company. We are not responsible for and do not endorse any other companies’ products or services.</li>
              <li>Except for death or personal injury caused by our negligent acts or omissions, or fraudulent misrepresentation, we shall only be liable for loss or damage which is a reasonably foreseeable consequence of a breach of these Terms of Use.</li>
          </ul>
          <h4>Your responsibility to us</h4>
          <ul>
              <li>You shall be responsible for any losses, expenses or other costs incurred by us which are caused by your deliberate breach of these Terms of Use.</li>
          </ul>
          <h4>Terminations and Suspension</h4>
          <ul>
              <li>We may cancel or suspend your membership account and/or suspend your access to the Services if: <br/><br/>
              (a) you breach these Terms of Use or misuse the Services provided by us; or <br/><br/>
              (b) you have behaved in a way which objectively could be regarded as inappropriate or is unlawful or illegal or which would bring us and/or the Sign-Up brand into disrepute.
              </li>
              <li>We may suspend access to the Services or require you to change your password if we reasonably believe that the Services have been or are likely to be misused, and we will notify you accordingly.</li>
              <li>It may be necessary, for reasons beyond our control, to terminate the Services and if this occurs we will endeavor to provide as much notice as is reasonably possible in the circumstances.</li>
              <li>We may terminate the Services and this agreement between us by giving you 14 days notice.</li>
              <li>You may terminate the Services at any time by closing your membership account as instructed on the Site or by contacting us as set out at clause 14 below.</li>
              <li>Any termination of your membership account or the Services will not affect liability previously incurred by either of us to the other.</li>
          </ul>
          <h4>Privacy Policy</h4>
          <ul>
              <li>Any personal information that we collect from you will only be used by us in accordance with our privacy policy, which forms part of these Terms of Use.
              </li>
          </ul>

          <h4>Disputes and law</h4>
          <ul>
              <li>We will try to solve any disagreements quickly and efficiently. If you are not happy with the way we deal with any disagreement you may wish to take court proceedings.</li>
              <li>These Terms of Use and the agreement between you and us are governed by English law and we both agree to submit to the non-exclusive jurisdiction of the English courts.</li>
          </ul>

          <h4>Access Outside The Singapore</h4>
          <ul>
              <li>We cannot guarantee that the Services comply with all foreign and local laws and requirements outside the United Kingdom.</li>
          </ul>

          <h4>General</h4>
          <ul>
              <li>If any part of these Terms of Use is found by a court to be invalid or unenforceable, the remaining provisions will continue in full force and effect.</li>
              <li>If you breach these Terms of Use and we ignore this, we will still be entitled to enforce all these terms at a later date or in any other situation where you breach the Terms of Use.</li>
              <li>These Terms of Use and the agreement between you and us for the provision of the Services are only available in the English language.</li>
          </ul>

          <h4>Customer Services </h4>
          <ul>
              <li>The Services are provided by Sign-Up Technologies Limited, a company registered in England and Wales with company registration number 4674316.
If you wish to contact us regarding the Services, please use the following contact details:
Address: Investak, Singapore</li>
          </ul>


      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="dummy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body" style="padding:0 15px">




      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="nofill" tabindex="-1" role="dialog" aria-labelledby="nofill">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body" style="">

           <span> Please fill all required fields.</span>


      </div>
    </div>
  </div>
</div>

<script src="{% static "frontend/js/jquery-ui-1.11.4.custom/jquery-ui.js" %}"></script>
<script src="{% static "frontend/bootstrap-datepicker-master/js/bootstrap-datepicker.js" %}"></script>
<script>
	$('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        endDate: '+0d',
	    autoclose: true

});
</script>


</body>
</html>
