{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>Investak Stock Details</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<!--<link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900' rel='stylesheet' type='text/css'> font-family: 'Roboto', sans-serif;-->

<link rel="stylesheet" type="text/css" href="{% static "frontend/dashboard/dist/css/bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "frontend/dashboard/dist/font-awesome/css/font-awesome.min.css" %}">

<link rel="stylesheet" type="text/css" href="{% static "frontend/dashboard/dist/css/style_dashboard.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "frontend/dashboard/dist/css/scroll_style.css" %}">

<script type="text/javascript" src="{% static "frontend/dashboard/dist/js/jquery.1.11.3.min.js" %}"></script>
<script type="text/javascript" src="{% static "frontend/dashboard/dist/js/bootstrap.min.js" %}"></script>

<script type="text/javascript" src="{% static "frontend/dashboard/dist/js/jquery.flexisel.js" %}"></script>
<script type="text/javascript">

$(window).load(function() {

    $("#flexiselDemo3").flexisel({
        visibleItems: 6,
        animationSpeed: 300,
        autoPlay: false,
        autoPlaySpeed: 3000,
        pauseOnHover: false,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: {
            portrait: {
                changePoint:480,
                visibleItems: 1
            },
            landscape: {
                changePoint:640,
                visibleItems: 2
            },
            tablet: {
                changePoint:768,
                visibleItems: 3
            }
        }
    });


});
</script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 8]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script type="text/javascript">
     var co_code = '{{ co_code }}';
     var co_name = '{{ co_name }}';
     var cluster_id = '{{ cluster_id }}';
     var weightage = '{{ weightage }}';

     function performance_graph(response)
     {

           var pop_array = new Array();
           var pop_array_idx = new Array();
            var obj1 = $.parseJSON(JSON.stringify(response));
            var object = new Object();
            var object1 = new Object();
            for(var i=0;i<obj1['response']['data']['Companylist']['company'].length;i++)
            {
               var str = obj1['response']['data']['Companylist']['company'][i].tradedate;
               str = str.replace("AM","");
               str = str.replace("12:00:00","");
               myDate = str.split("/");
               var newDate=myDate[1]+"/"+myDate[0]+"/"+myDate[2];

                object.data = [new Date(myDate[2],myDate[0],myDate[1]).getTime(),parseFloat(obj1['response']['data']['Companylist']['company'][i].dayhigh)];
                object1.data = [new Date(myDate[2],myDate[0],myDate[1]).getTime(),parseFloat(obj1['response']['data']['Companylist']['company'][i].daylow)];

               pop_array.push(object.data);
               pop_array_idx.push(object1.data);

               pop_array.sort();
               pop_array_idx.sort();

               $('#performance_chart').highcharts('StockChart', {

                chart: {
                renderTo: 'performance_chart',
                zoomType: 'x'
                    },
                   xAxis: {
                events: {
                    setExtremes: function (e) {
                        if(typeof e.min == 'undefined' && typeof e.max == 'undefined'){
                             console.log('reset zoom clicked');
                        } else {
                             console.log('zoom-in');
                        }
                    }
                }
            },
                 yAxis: {
                    opposite:false,
                    allowDecimals: false,
                     labels: {
                        formatter: function () {
                                return this.value / 1000;
                            }
                    }
                },
                    series : [{
                        data : pop_array
                    },
                    {
                        data: pop_array_idx
                    }
                    ]
                });
           }
     }
     function peer_company_list(response)
     {
         var obj1 = $.parseJSON(JSON.stringify(response));
         for(var k=0;k<obj1['response']['data']['Companylist']['company'].length;k++)
         {
             $("#tbody_peer_company").append('<tr><td>Company Name : </td><td>'+obj1['response']['data']['Companylist']['company'][k].co_name+'</td>');
         }
     }
     function co_code_details(response) {
         var obj = $.parseJSON(JSON.stringify(response));
         $("#key_stat").append('<div class="table_left">' +
         '<table class="table"> ' +
         '<tbody>' +
         '<tr>' +
         '<td>' +
         'Avg volume:' +
         '</td>' +
         '<td>'+obj.response.data.Companylist.company.avgvol_3m+'</td>' +
         '</tr>' +'<tr>' +
         '<td>' +
         'Day High:' +
         '</td>' +
         '<td>'+obj.response.data.Companylist.company.dayhigh+'</td>' +
         '</tr>' +'<tr>' +
         '<td>' +
         'Day Low:' +
         '</td>' +
         '<td>'+obj.response.data.Companylist.company.daylow+'</td>' +
         '</tr>' +'<tr>' +
         '<td>' +
         'Day Open:' +
         '</td>' +
         '<td>'+obj.response.data.Companylist.company.dayopen+'</td>' +
         '</tr>' +
         '</tbody>' +
         '</table>' +
         '</div>');
         $("#key_stat").append('<div class="table_left">' +
         '<table class="table"> ' +
         '<tbody>' +
         '<tr>' +
         '<td>' +
         'Prev Close:' +
         '</td>' +
         '<td>'+obj.response.data.Companylist.company.prevclose+'</td>' +
         '</tr>' +'<tr>' +
         '<td>' +
         'Price Diff:' +
         '</td>' +
         '<td>'+obj.response.data.Companylist.company.pricediff+'</td>' +
         '</tr>' +'<tr>' +
         '<td>' +
         '1M Return:' +
         '</td>' +
         '<td>'+obj.response.data.Companylist.company.r1mret+'</td>' +
         '</tr>' +'<tr>' +
         '<td>' +
         '1Y Return:' +
         '</td>' +
         '<td>'+obj.response.data.Companylist.company.r1yearret+'</td>' +
         '</tr>' +
         '</tbody>' +
         '</table>' +
         '</div>');
     }
    $(document).ready(function(e){

        $.when( $.ajax({
                url:"http://investak.cmlinks.com/Market.svc/CompanyChart/BSE/"+co_code+"/1m,6m,1y?responsetype=json",
                dataType: 'jsonp',
                async:false,
                jsonpCallback: "performance_graph"
            }),
           $.ajax({
                url:"http://investak.cmlinks.com/Market.svc/CompanyPeerSet/"+co_code+"/BSE?responsetype=json",
                dataType: 'jsonp',
                async:false,
                jsonpCallback: "peer_company_list"
            }) ).then(function() {
                $.ajax({
                url:"http://investak.cmlinks.com/Market.svc/CompanyDetails/"+co_code+"/BSE?responsetype=json",
                dataType: 'jsonp',
                async:false,
                jsonpCallback: "co_code_details"
            })
            });
    });


</script>
</head>

<body>



<section class="navigation_bar">
    <nav class="navbar">
        <div class="container">
        <!-- logo section -->
        <div class="col-md-2 nopadleft"><div class="logo"><a href="/user_dashboard/"><img src="{% static "frontend/dashboard/images/logo.png" %}"></a></div></div>

        <!-- menu section -->
        <div class="col-md-8" style="border-right:1px solid #dadada;">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a class="hvr-underline-from-center" href="javascript:void(0);">About Us</a></li>

                <li><a class="hvr-underline-from-center" href="javascript:void(0)">Testimonials</a></li>
                <li><a class="hvr-underline-from-center" href="javascript:void(0)">Teams</a></li>
                <li><a class="hvr-underline-from-center" href="javascript:void(0)">Partners</a></li>
                <li><a class="hvr-underline-from-center" href="javascript:void(0)">Contact Us</a></li>
                <li><a href="../faq.html" class="faq hvr-underline-from-center"><img src="{% static "frontend/dashboard/images/ask.png" %}"><span>FAQ</span></a></li>
                <li class="newss"><a class="hvr-underline-from-center" href="javascript:void(0)" class=""><img src="{% static "frontend/dashboard/images/icon1.png" %}"></a><span>Newsroom</span></li>
              </ul>
            </div>
        </div>
        <!-- user area section -->
        <div class="col-md-2">
            <div class="userprofile">
            <div class="userpics"><a class="picx" href="/user_dashboard/"><i aria-hidden="true" class="fa fa-user"></i></a></div>
            <p>{{ first_name }}</p><a data-toggle="dropdown" class="dropdown-toggle" data-target="#" href="/user_dashboard/"><i aria-hidden="true" class="fa fa-caret-down"></i></a>

             <ul class="dropdown-menu">
            <li><a href="/user_dashboard/">Dashboard</a></li>
            <li><a href="#" data-toggle="modal" data-target="#login-popup">My Profile</a></li>
            <li><a href="#" data-toggle="modal" data-target="#password-popup">Change Password</a></li>
            <li><a href="/logout/">Log Out</a></li>
            </ul>
            </div>
        </div>

        </div>

    </nav>

</section>

<section class="tabber_section">
  <div class="container">
        <!-- Nav tabs -->
        <div class="tab_menus">
        <ul class="nav nav-tabs" role="tablist">
           <li ><a href="/user_dashboard/">Dashboard</a></li>
          <li class="active"><a href="javascript:void(0)">Analyze</a></li>
          <li ><a href="/customize/">Customize</a></li>
          <li ><a href="javascript:void(0)">Optimize</a></li>
          <li ><a href="/watchlist/">Watchlist</a></li>
        </ul>
        </div>
  </div>
</section>


<section class="body_area">
	<div class="container">

    	<div class="motif_inner">

        	<div class="col-md-12">
                <div class="header_area">
                    {% if stock_array %}
                        {% for sa in stock_array %}
                            <h1>{{ sa.co_name }}({{ sa.co_code }}) <span>-{{ symbol_array.0.symbol }}</span></h1>
                            <div class="baseIncrese"><p>{{ sa.price }}</p></div>
                            <div class="baseDecrese_dwn"><p><span><i class="fa fa-long-arrow-down" aria-hidden="true"></i></span>{{ sa.div_yield }}</p></div>
                            <!--<div class="baseDecrese_up"><p><span><i class="fa fa-long-arrow-up" aria-hidden="true"></i></span>2.55(2.13%)</p></div>-->
                        {% endfor %}
                    {% endif %}
                    <!--<span class="times">3:29pm</span>-->
                </div>

                <div class="tabber_area">

                	<!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#overview" aria-controls="home" role="tab" data-toggle="tab">Overview</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="overview">

                            <div class="col-md-6">
                            	<div class="table_area">
                                	<div class="heading"><p>Key Statistics</p></div>

                                    <div class="result_table" id="key_stat">

                                    </div>
                                    <div class="heading"><p>Peer Company List</p></div>
                                    <div class="result_table">
                                        <div class="table_left">
                                            <table class="table">
                                                <tbody id="tbody_peer_company">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                            	<div class="table_area">
                                	<div class="heading"><p>Performance</p></div>

                                    <div class="result_table" id="performance_chart">
                                    	<!--<img class="img-responsive" src="{% static "frontend/dashboard/images/graph1.png" %}">-->
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div role="tabpanel" class="tab-pane" id="profile">

                        	<div class="col-md-6">


                            	<div class="table_area_feauters">
                                    <table class="table">
                                                <thead>
                                                	<tr>
                                                    <th>Key Executives</th>
                                                    <th>Year</th>

                                                    </tr>
                                                </thead>
                                                <tbody id="directors">
                                                    {% if directors_array %}
                                                        {% for b_arr in directors_array %}
                                                            <tr>
                                                            <td>
                                                                <span>{{ b_arr.director_name }}</span>
                                                                <p>{{ b_arr.designation }}</p>
                                                            </td>
                                                            <td>
                                                                {{ b_arr.year }}
                                                            </td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}

                                                </tbody>
                                            </table>
                                </div>
                            </div>


                            <div class="col-md-6">

                            	<div class="table_area_txt">
                                	<h3>Summary</h3>

                                    <p>
                                        {% if company_performance %}
                                            {{ company_performance }}
                                        {% endif %}
                                    </p>

                                </div>

                                <div class="table_area_txt_lower">
                                	<h3 id="company_name"></h3>
                                    <div class="box_area">
                                        <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                        <p id="company_address"></p>
                                    </div>

                                    <div class="box_area">
                                        <span><img src="{% static "frontend/dashboard/images/maps1.png" %}"></span>
                                        <p id="company_state"><a href="javascript:void(0)" class="company_state">Map</a></p>
                                    </div>

                                    <div class="box_area">
                                        <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                                        <p id="company_telephone"></p>
                                    </div>

                                    <div class="box_area">
                                        <span><i class="fa fa-globe" aria-hidden="true"></i></span>
                                        <p ><a id="company_website" href="javascript:void(0)" target="_blank"></a></p>
                                    </div>

                                </div>


                            </div>

                        </div>

                      </div>


                </div>

            </div>

            <div class="col-md-12">
            	<div class="slider_area">
                	<h2>CLUSTERS CONTAINING {{ symbol_array.0.symbol }}</h2>
                	<ul id="flexiselDemo3">
                        {% if cluster_array %}
                            {% for ca in cluster_array %}
                                <li>
                                <a href="/cluster_list/{{ ca.cluster_id }}"><img src="{% static "media/images/cluster/" %}{{ ca.cluster_image }}" width="99px" height="99px" alt="Image" class=""></a>
                                <span>{{ ca.cluster_name }}</span>
                                <p>{{ ca.cluster_desc|slice:"30" }}</p>
                                </li>
                            {% endfor %}
                        {% endif %}

                    </ul>

                </div>
            </div>

        </div>
	</div>
</section>





<section class="footer_area">
	<div class="container-fluid">

        <div class="col-lg-2 col-md-2 col-xs-12 colcenter">
        	<p class="foterTxt">©2016 investak. All rights reserved.</p>
        </div>

    </div>
</section>


</body>
</html>
