{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Cron</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<script type="text/javascript" src="{% static "frontend/dashboard/dist/js/jquery.1.11.3.min.js" %}"></script>
<script type="text/javascript">
    var clust_id = new Array();
    var flag=0;
    $(document).ready(function(e){
        $.ajax({
            type:"POST",
            url:"/frontend/load_co_code/",
            async:false,
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'},
            success:function(response)
            {
                update_response(response);
            }
        });
    });
    function update_response(response)
    {
        for(var k=0;k<response.length;k++)
        {
            alert(k);
            clust_id.push(response[k].cluster_id);
            $.ajax({
                url:"http://investak.cmlinks.com/Market.svc/ClustersDtls/"+response[k].cluster_id+"/r1yearret?responsetype=json",
                async:false,
                dataType:'jsonp',
                jsonpCallback: 'cluster_dtl'
            });
        }
    }
    function cluster_dtl(response)
    {
        var obj1 = $.parseJSON(JSON.stringify(response));
        var json_cluster = new Array();
        for(var k=0;k<obj1['response']['data']['Companylist']['company'].length;k++)
        {
            json_cluster.push({cluster_id:clust_id[flag],co_code:obj1['response']['data']['Companylist']['company'][k].co_code,
                mcap:obj1['response']['data']['Companylist']['company'][k].mcap,
                pe:obj1['response']['data']['Companylist']['company'][k].pe,
                r1mret:obj1['response']['data']['Companylist']['company'][k].r1mret,
                r1yearret:obj1['response']['data']['Companylist']['company'][k].r1yearret,
                r6mret:obj1['response']['data']['Companylist']['company'][k].r6mret});
        }
        flag=flag+1;
        $.ajax({
           type:"POST",
           url:"/frontend/update_cluster_dtl/",
           async:false,
           data:{cluster_list:JSON.stringify(json_cluster), csrfmiddlewaretoken:'{{ csrf_token }}'},
           success:function(data)
           {
               console.log("Success");
           }
        });
    }
</script>