.homepageSlider{width:100%;overflow:hidden;position:relative;height:700px}
.cb-slideshow,.cb-slideshow:after{position:relative;width:100%;height:100%;top:0;left:0;z-index:0;overflow:hidden}
.cb-slideshow:after{content:'';background:url(/static/media/images/pattern.png) top left}
.cb-slideshow li{list-style-type:none}
.cb-slideshow li span{width:100%;height:100%;position:absolute;top:0;left:0;color:transparent;background-size:cover;background-position:50% 50%;background-repeat:none;opacity:0;z-index:0;-webkit-backface-visibility:hidden;animation:imageAnimation1 100s linear infinite 0s;}

.cb-slideshow li div{z-index:1000;position:absolute;top:30px;left:30px;text-align:center;opacity:0;-webkit-animation:titleAnimation 36s linear infinite 0s;-moz-animation:titleAnimation 36s linear infinite 0s;-o-animation:titleAnimation 36s linear infinite 0s;-ms-animation:titleAnimation 36s linear infinite 0s;animation:titleAnimation 36s linear infinite 0s}
.cb-slideshow li div h3{font-family:BebasNeueRegular,'Arial Narrow',Arial,sans-serif;font-size:100px;padding:0;color:rgba(169,3,41,.8)}
/*.cb-slideshow li:nth-child(2) span{-webkit-animation-delay:10s;-moz-animation-delay:6s;-o-animation-delay:6s;-ms-animation-delay:6s;animation-delay:6s}
.cb-slideshow li:nth-child(3) span{-webkit-animation-delay:20s;-moz-animation-delay:12s;-o-animation-delay:12s;-ms-animation-delay:12s;animation-delay:12s}
.cb-slideshow li:nth-child(4) span{-webkit-animation-delay:30s;-moz-animation-delay:18s;-o-animation-delay:18s;-ms-animation-delay:18s;animation-delay:18s}
.cb-slideshow li:nth-child(5) span{-webkit-animation-delay:24s;-moz-animation-delay:24s;-o-animation-delay:24s;-ms-animation-delay:24s;animation-delay:24s}
*//*.cb-slideshow li:nth-child(2) div{-webkit-animation-delay:6s;-moz-animation-delay:6s;-o-animation-delay:6s;-ms-animation-delay:6s;animation-delay:6s}
.cb-slideshow li:nth-child(3) div{-webkit-animation-delay:12s;-moz-animation-delay:12s;-o-animation-delay:12s;-ms-animation-delay:12s;animation-delay:12s}
.cb-slideshow li:nth-child(4) div{-webkit-animation-delay:18s;-moz-animation-delay:18s;-o-animation-delay:18s;-ms-animation-delay:18s;animation-delay:18s}
.cb-slideshow li:nth-child(5) div{-webkit-animation-delay:24s;-moz-animation-delay:24s;-o-animation-delay:24s;-ms-animation-delay:24s;animation-delay:24s}
*/
/*@-webkit-keyframes imageAnimation{0%{opacity:0;-webkit-animation-timing-function:ease-in}8%{opacity:1;-webkit-transform:scale(1.05);-webkit-animation-timing-function:ease-out}17%{opacity:1;-webkit-transform:scale(1.1)}25%{opacity:0;-webkit-transform:scale(1.1)}100%{opacity:0}}*/
/*@-moz-keyframes imageAnimation{0%{opacity:0;-moz-animation-timing-function:ease-in}8%{opacity:1;-moz-transform:scale(1.05);-moz-animation-timing-function:ease-out}17%{opacity:1;-moz-transform:scale(1.1)}25%{opacity:0;-moz-transform:scale(1.1)}100%{opacity:0}}*/
/*@-o-keyframes imageAnimation{0%{opacity:0;-o-animation-timing-function:ease-in}8%{opacity:1;-o-transform:scale(1.05);-o-animation-timing-function:ease-out}17%{opacity:1;-o-transform:scale(1.1)}25%{opacity:0;-o-transform:scale(1.1)}100%{opacity:0}}*/
/*@-ms-keyframes imageAnimation{17%,8%{opacity:1}17%,25%{-ms-transform:scale(1.1)}0%,100%,25%{opacity:0}0%{-ms-animation-timing-function:ease-in}8%{-ms-transform:scale(1.05);-ms-animation-timing-function:ease-out}}*/
/*@keyframes imageAnimation{0%{opacity:0;animation-timing-function:ease-in}5%{opacity:1;transform:scale(1.05);animation-timing-function:ease-out}20%{opacity:1;transform:scale(1.1)}50%{opacity:0;transform:scale(1.2)}100%{opacity:0}}*/
/*
@-webkit-keyframes titleAnimation{0%{opacity:0;-webkit-transform:translateY(200px)}8%{opacity:1;-webkit-transform:translateY(0)}17%{opacity:1;-webkit-transform:scale(1)}100%,19%{opacity:0}25%{opacity:0;-webkit-transform:scale(10)}}
@-moz-keyframes titleAnimation{0%{opacity:0;-moz-transform:translateY(200px)}8%{opacity:1;-moz-transform:translateY(0)}17%{opacity:1;-moz-transform:scale(1)}100%,19%{opacity:0}25%{opacity:0;-moz-transform:scale(10)}}
@-o-keyframes titleAnimation{0%{opacity:0;-o-transform:translateY(200px)}8%{opacity:1;-o-transform:translateY(0)}17%{opacity:1;-o-transform:scale(1)}100%,19%{opacity:0}25%{opacity:0;-o-transform:scale(10)}}
@-ms-keyframes titleAnimation{17%,8%{opacity:1}0%,100%,19%,25%{opacity:0}0%{-ms-transform:translateY(200px)}8%{-ms-transform:translateY(0)}17%{-ms-transform:scale(1)}25%{-webkit-transform:scale(10)}}
*/
@keyframes titleAnimation{0%{opacity:0;transform:translateY(200px)}8%{opacity:1;transform:translateY(0)}17%{opacity:1;transform:scale(1)}100%,19%{opacity:0}25%{opacity:0;transform:scale(10)}}

.no-cssanimations .cb-slideshow li span{opacity:1}
@media screen and (max-width:1140px){
	.cb-slideshow li div h3{font-size:100px}}
@media screen and (max-width:600px){
	.cb-slideshow li div h3{font-size:50px}}
@media screen and (max-width:767px){
	.cb-slideshow li span{background-position:20% 50%}}