@charset "utf-8";
body, h1, h2, h3, h4, h5, p, span {
	padding: 0;
	font-family: 'Open Sans', sans-serif
}

/*Sankar 13-6-2017 */

.form-group .form-control{background:none;border-bottom:#ccc solid 1px;}
.form-group::before {content: '';position: absolute;width: 0;height: 2px;background:#2486C8;bottom: 13px;transition: all .3s;left: 50%;right: 50%;-webkit-transition: all 3s;}
.form-group.is-focused:before {width:100%; left:0; right:0;}

/*Sankar 13-6-2017 */

.login_page_area .form-group.is-focused .form-control{
/*background-image: -webkit-gradient(linear, left top, left bottom, from(#2486C8), to(#2486C8)), -webkit-gradient(linear, left top, left bottom, from(#2486C8), to(#2486C8));
background-image: -webkit-linear-gradient(#2486C8, #2486C8), -webkit-linear-gradient(#2486C8, #2486C8);
background-image: -o-linear-gradient(#2486C8, #2486C8), -o-linear-gradient(#2486C8, #2486C8);
background-image: linear-gradient(#2486C8, # */
background-image:none !important;
background-image:none !important;
background-image:none !important;
background-image:none !important
}   

.form-group.is-focused .form-control {
/*background-image: -webkit-gradient(linear,left top,left bottom,from(#009688),to(#009688)),-webkit-gradient(linear,left top,left bottom,from(#D2D2D2),to(#D2D2D2));
background-image: -webkit-linear-gradient(#009688,#009688),-webkit-linear-gradient(#D2D2D2,#D2D2D2);
background-image: -o-linear-gradient(#009688,#009688),-o-linear-gradient(#D2D2D2,#D2D2D2);
background-image: linear-gradient(#009688,# */

background-image:none !important;
background-image:none !important;
background-image:none !important;
background-image:none !important
	}

