﻿@charset "utf-8";
.in-features,
.in-nav,
.in-ticker ul,
.mobile-nav,
.perform-inner-tabs ul,
.qk-option,
.qsummary,
ol,
ul {
    list-style: none
}
#dtbox a,
.footer-social-nav li a,
.in-nav li a,
.in-offer a,
.in-simple-link,
.in-simple-link:hover,
.in-team a,
.mobile-nav li a,
.newsside-posts li a,
.perform-inner-tabs ul li a,
.qk-option li a,
.wwo-head a {
    text-decoration: none
}
#myNavbar ul li a,
.ft_menu_arae h2,
.in-feature-box h4,
.in-nav li a,
.in-ticker ul li p,
.listview>thead>tr>th,
.newsroom-tabs li a,
.quest-title {
    text-transform: uppercase
}
.in-logo,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
.in-nav,
.in-whyus:nth-child(even) div img {
    float: right
}
.sb-head,
.wwo-head {
    text-shadow: 4px 2px 0 rgba(0, 0, 0, .2)
}
.dd-user-name,
.sb-title {
    white-space: nowrap;
    text-overflow: ellipsis
}
.dd-user-name,
.sb-title,
.wwo-title {
    text-overflow: ellipsis
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}
.in-nav li a,
body {
    font-family: lato-regular
}
body {
    line-height: 1;
    letter-spacing: 1px;
    color: #333;
    position: static
}
blockquote,
q {
    quotes: none
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
@font-face {
    font-family: fontawesome;
    src: url(../fonts/FontAwesome.otf)
}
@font-face {
    font-family: HelveticaNeueBold;
    src: url(../fonts/HelveticaNeueBold.ttf)
}
@font-face {
    font-family: HelveticaNeueRegular;
    src: url(../fonts/HelveticaNeueRegular.ttf)
}
@font-face {
    font-family: HelveticaNeueLight;
    src: url(../fonts/HelveticaNeueLight.otf)
}
@font-face {
    font-family: lato-light;
    src: url(../fonts/Lato2OFLWeb/Lato2OFLWeb/Lato/fonts/Lato-Light.woff)
}
@font-face {
    font-family: lato-regular;
    src: url(../fonts/Lato2OFLWeb/Lato2OFLWeb/Lato/fonts/Lato-Regular.woff)
}
@font-face {
    font-family: lato-medium;
    src: url(../fonts/Lato2OFLWeb/Lato2OFLWeb/Lato/fonts/Lato-Medium.woff)
}
@font-face {
    font-family: lato-bold;
    src: url(../fonts/Lato2OFLWeb/Lato2OFLWeb/Lato/fonts/Lato-Bold.woff)
}
@font-face {
    font-family: opensans-light;
    src: url(../fonts/OpenSans-Light.ttf)
}
@font-face {
    font-family: opensans-regular;
    src: url(../fonts/OpenSans-Regular.ttf)
}
@font-face {
    font-family: opensans-semibold;
    src: url(../fonts/OpenSans-Semibold.ttf)
}
@font-face {
    font-family: opensans-bold;
    src: url(../fonts/OpenSans-Bold.ttf)
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, .2);
    z-index: 99999;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    box-shadow: 0 1px 3px rgba(51, 51, 51, .2)
}
.in-logo {
    padding: 13px 0;
    background: url(https://d1iedlxz1i0l9r.cloudfront.net/static/frontend/images/logo_white.png) 5px 15px no-repeat;
    height: 73px
}
.in-nav {
    font-size: 0;
    margin-top: 15px
}
.in-nav li {
    display: inline-block
}
.in-nav li a {
    font-size: 15px;
    color: #fff;
    padding: 5px 10px;
    line-height: 48px;
    display: block
}
.sign-in-btn,
.sign-in-btn:hover {
    font-family: lato-regular;
    font-size: 14px;
    padding: 7px 20px;
    float: right
}
.sign-in-btn {
    margin: 16px 15px 0;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: all .5s ease
}
.sign-in-btn:hover {
    background-color: #2486C8;
    border: 1px solid #2486C8;
    color: #fff!important
}
.sign-in-big {
    border: 1px solid #fff;
    background: 0 0;
    color: #fff;
    transition: all .5s ease
}
.sign-in-big:hover {
    border: 1px solid #fff;
    background: #fff;
    color: #333
}
.in-cover,
.in-cover-mbg,
.in-cover-vbg {
    background-color: rgba(0, 0, 0, .3);
    height: 100%;
    padding-top: 80px
}
.in-cover-vbg {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0
}
.in-cover-mbg {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover
}
.in-middle {
    float: none;
    margin: auto
}
.in-cont-title,
.in-headline {
    margin-bottom: 60px;
    text-align: center
}
.in-headline {
    line-height: 32px;
    font-size: 24px;
    font-family: Georgia;
    font-style: italic;
    color: #333
}
.in-headline:after,
.in-headline:before {
    font-family: fontawesome;
    color: rgba(0, 0, 0, .2);
    font-size: 32px
}
.in-headline:before {
    content: "\f10d";
    margin-right: 15px
}
.in-headline:after {
    content: "\f10e";
    margin-left: 15px
}
.in-features {
    text-align: center;
    margin-top: 60px
}
.in-features li:hover i {
    background-color: #fff;
    color: #5F4437
}
.in-features li {
    display: table-cell;
    width: 1%
}
.in-features li i,
.in-offer h4 i {
    display: inline-block;
    text-align: center
}
.in-features li i {
    transition: all .3s ease;
    font-size: 46px;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    line-height: 116px;
    color: #fff
}
.in-features li p {
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin-top: 20px
}
.in-simple-link {
    color: #b0b0b0;
    transition: all .5s ease
}
.in-simple-link:hover {
    color: #ddd
}
#video-background {
    position: relative;
    width: 100%;
    margin-top: -80px
}
.in-knowmore,
.in-knowmore:hover {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all .5s ease
}
.in-container-fluid>.row {
    padding-top: 85px;
    padding-bottom: 85px
}
.in-cont-title {
    font-family: lato-medium;
    font-size: 32px
}
.in-cont-content,
.in-knowmore,
.in-knowmore:hover {
    font-size: 16px;
    font-family: lato-regular
}
.in-cont-content {
    line-height: 21px;
    margin-bottom: 20px
}
.in-cont-image {
    text-align: center;
    min-height: 120px;
    line-height: 150px;
    vertical-align: middle
}
.in-knowmore {
    border: 1px solid #333!important;
    color: #333!important
}
.in-knowmore:hover {
    border: 1px solid #2486C8!important;
    background-color: #2486C8;
    color: #fff!important
}
.in-team {
    text-align: center;
    position: relative
}
.in-team a {
    text-align: center;
    color: #333
}
.in-team a img {
    margin: auto;
    width: 160px;
    height: 161px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    transition: all .5s ease
}
.in-team a p {
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: lato-regular;
    font-size: 18px
}
.in-team a small {
    font-family: lato-light;
    font-size: 14px
}
.in-feature-box h4,
.in-feature-box p,
.in-offer h4,
.in-offer p {
    font-family: lato-regular
}
.in-team a:hover img {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0)
}
.in-bg-do {
    position: relative!important;
    overflow: hidden;
    background-size: 100% 100%
}
.in-bg-contact,
.in-bg-offer,
.in-bg-team,
.in-bg-ticker {
    background-attachment: fixed;
    background-size: cover
}
.in-bg-offer {
    background-image: url(../images/cal.jpg)
}
.in-bg-team {
    background-image: url(https://d1iedlxz1i0l9r.cloudfront.net/static/frontend/images/corporate-team.jpg)
}
.in-bg-ticker {
    background-image: url(../images/calculator.jpg)
}
.in-bg-contact {
    background-image: url(https://d1iedlxz1i0l9r.cloudfront.net/static/frontend/images/contactus.jpg);
    -webkit-background-attachment: fixed;
    -moz-background-attachment: fixed;
    -o-background-attachment: fixed;
    -ms-background-attachment: fixed
}
.in-bg-chart {
    background-color: #484848
}
.in-row-cover {
    background-color: rgba(0, 0, 0, .5)
}
.in-row-cover-blue {
    background-color: rgba(28, 142, 214, .5)
}
.in-feature-box {
    box-shadow: 0 2px 1px rgba(0, 0, 0, .4);
    border-top: 4px solid #fff;
    transition: all .3s ease;
    margin-top: 30px;
    min-height: 292px;
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    width: 100%;
    padding: 100px 35px 25px
}
.in-feature-box:hover {
    cursor: pointer;
    border-top: 4px solid #2486C8
}
.in-feature-box:hover div {
    top: -60px;
    width: 125px;
    height: 125px;
    line-height: 125px
}
.in-feature-box:hover div i {
    line-height: 125px;
    color: #2486C8
}
.in-feature-box div,
.in-feature-box h4,
.in-feature-box p {
    color: #333;
    text-align: center
}
.in-feature-box div {
    transition: all .3s ease;
    background: linear-gradient(180deg, #fff, #efefef);
    border-radius: 50%;
    position: absolute;
    top: -50px;
    width: 110px;
    height: 110px;
    margin: auto;
    left: 0;
    right: 0
}
.in-offer a,
.in-whyus div ul li {
    margin-top: 20px
}
.in-feature-box div i {
    line-height: 110px;
    font-size: 52px
}
.in-feature-box h4 {
    border-bottom: 1px dotted #ccc;
    font-size: 18px;
    padding-bottom: 20px;
    margin-bottom: 20px
}
.in-feature-box p {
    font-size: 14px;
    line-height: 18px
}
.in-offer h4 {
    color: #fff;
    font-size: 18px
}
.in-offer h4 i {
    font-size: 14px;
    background-color: #fff;
    color: #333;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 15px
}
.in-offer p {
    font-size: 14px;
    margin-left: 55px;
    line-height: 18px;
    color: #efefef
}
.in-offer a {
    margin-left: 55px;
    font-size: 12px;
    color: #f1f1f1;
    display: block
}
.in-offer a:hover {
    color: #2486C8
}
.in-offer {
    padding: 30px 25px
}
.in-offer img {
    margin-left: 55px;
    margin-bottom: 10px
}
.in-whyus {
    margin-bottom: 60px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 40px
}
.footer-nav-head,
.signin-social ul li:first-child {
    margin-bottom: 20px
}
.in-whyus:last-child {
    border-bottom: none
}
.in-whyus div img {
    width: 200px;
    height: 200px
}
.in-whyus div h4 {
    font-family: lato-semibold;
    font-size: 18px
}
.in-whyus div ul li h5 {
    font-family: lato-regular;
    font-size: 16px
}
.in-whyus div ul li p {
    margin-left: 30px;
    font-family: lato-light;
    font-size: 14px;
    line-height: 18px;
    margin-top: 5px
}
.footer-nav li a,
.signin-form form div.checkbox label,
.signin-form form div.radio label {
    line-height: 21px
}
.in-whyus div ul li h5:before {
    content: "\f192";
    font-family: fontawesome;
    font-size: 16px;
    margin-right: 15px;
    color: #757575
}
.in-whyus:nth-child(odd) div img {
    float: left
}
.sb-navigate,
.wwo-navigate {
    float: right;
    list-style: none
}
.signin-social ul li a:hover img {
    box-shadow: 0 1px 1px #333
}
.signin-social ul {
    margin-top: 20px
}
.signin-form form div.radio {
    font-size: 14px
}
.signin-form form div.checkbox {
    font-size: 12px
}
.signin-social {
    padding-left: 25px;
    position: relative
}
.signin-social div {
    position: absolute;
    color: #333;
    left: -11px;
    background-color: #fff;
    font-size: 14px;
    top: 56%;
    padding: 7px 0
}
footer {
    background-color: #111
}
.footer-nav-head {
    font-size: 14px;
    color: #00C0EF;
    font-family: lato-bold
}
.footer-nav li a {
    font-size: 14px;
    font-family: lato-regular
}
.footer-social-nav {
    margin-top: 30px
}
.footer-social-nav li {
    display: inline-block;
    margin-right: 10px
}
.sb-title span,
.wwo-title span {
    margin-right: 5px;
    border-radius: 50%
}
.footer-social-nav li a:hover i {
    color: #2486C8;
    background-color: #fff
}
.footer-social-nav li a i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 16px
}
.in-disclaimer p {
    font-size: 13.6px;
    line-height: 21px;
    color: #efefef;
    font-family: lato-light;
    margin-bottom: 10px
}
.in-partner a img {
    width: 162px
}
.in-partner,
.in-partner a {
    text-align: center
}
.contact-forms {
    background-color: rgba(0, 0, 0, .6)
}
.contact-form ul li {
    display: inline-block
}
.contact-form ul li:first-child {
    display: block
}
.contact-forms .contact-form {
    color: #f1f1f1;
    padding: 40px 25px
}
.contact-forms .contact-form p {
    color: #f1f1f1;
    font-family: lato-medium;
    font-size: 14px;
    margin-bottom: 5px
}
.contact-forms .contact-form p small {
    color: #f1f1f1;
    font-family: lato-regular;
    margin-top: 5px;
    display: inline-block
}
.contact-forms .contact-form p small i {
    color: #d1d1d1;
    font-size: 12px
}
.contact-forms .contact-form p:not(:first-child) small {
    display: inline-block;
    padding-left: 10px
}
.contact-forms .contact-form p:not(:first-child) {
    margin-bottom: 0
}
.contact-map iframe {
    width: 100%;
    height: 100%
}
.contact-map {
    padding-right: 0
}
.contact-form form .form-control {
    border: none;
    margin-bottom: 10px;
    border-radius: 2px;
    margin-right: 5px
}
.in-ticker {
    background-color: rgba(255, 255, 255, 1);
    padding:60px 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 85%
}
.in-ticker ul li {
    display: inline-block;
    padding: 60px 20px
}
.in-ticker ul li em {
    font-size: 42px;
    font-weight: 700;
    padding: 0 6px;
    color: #2486C8
}
.in-ticker ul li p,
.in-ticker ul li span {
    display: block;
    font-family: lato-bold;
    text-align: center
}
.in-ticker ul li span {
    font-size: 42px;
    color: #2486C8;
    margin-bottom: 15px;
    display: inline
}
.in-ticker ul li p {
    font-size: 16px
}
.wwo-head,
.wwo-navigate,
.wwo-navigate li,
.wwo-title span {
    display: inline-block
}
.in-ticker ul li i {
    font-size: 82px;
    text-align: center;
    vertical-align: middle;
    padding-right: 35px
}
.in-play-btn {
    position: absolute;
    bottom: 40px;
    right: 40px;
    z-index: 2
}
.in-play-btn:hover i {
    background-color: rgba(0, 0, 0, .7);
    cursor: pointer
}
.in-play-btn i {
    transition: all .5s ease;
    width: 50px;
    height: 50px;
    font-size: 21px;
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 50%;
    color: #fff;
    line-height: 54px
}
.wwo-bg-green {
    background: #47AB4A!important
}
.wwo-bg-red {
    background: #EF5D31!important
}
.wwo-bg-yellow {
    background: #ECB126!important
}
.wwo-bg-blue {
    background: #079EBA!important
}
.wwo-head {
    font-size: 32px;
    color: #fff;
    font-family: lato-bold;
    letter-spacing: 0;
    margin-bottom: 100px
}
.wwo-title {
    font-size: 24px;
    color: #fff;
    font-family: lato-regular;
    margin-bottom: 10px
}
.wwo-title span {
    font-size: 16px;
    width: 32px;
    height: 32px;
    background-color: rgba(255, 255, 255, .8);
    text-align: center;
    line-height: 34px
}
.wwo-subtitle {
    font-size: 16px;
    color: #fff;
    font-family: lato-light;
    margin-left: 42px;
    line-height: 21px
}
.wwo-ipad {
    width: 666px;
    height: 363px;
    background: url(https://d1iedlxz1i0l9r.cloudfront.net/static/frontend/images/ipad_frame.png) no-repeat



}
.wwo-bg-banner {
    background-image: url(https://d1iedlxz1i0l9r.cloudfront.net/static/frontend/images/wwo-banner.jpg);
    background-size: cover
}
.wwo-bg-banner2 {
    background-image: url(https://d1iedlxz1i0l9r.cloudfront.net/static/frontend/images/wwo-banner1.jpg);
    background-size: cover
}
.wwo-content {
    padding-left: 45px
}
.wwo-navigate li i {
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    transition: all .3s ease;
    display: block
}
.wwo-navigate li i:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, .8)
}
.wwo-ipadscreen {
    padding: 60px 62px 0 58px
}
.abrows {
    display: none
}
.abrow-active {
    display: block
}
.sb-head,
.sb-navigate,
.sb-navigate li,
.sb-title span {
    display: inline-block
}
.sb-head {
    font-size: 32px;
    color: #fff;
    font-family: lato-bold;
    letter-spacing: 0;
    margin-bottom: 100px
}
.sb-title {
    font-size: 24px;
    color: #fff;
    font-family: lato-regular;
    margin-bottom: 10px
}
.sb-title span {
    font-size: 16px;
    width: 32px;
    height: 32px;
    background-color: rgba(255, 255, 255, .8);
    text-align: center;
    line-height: 34px
}
.sb-subtitle {
    font-size: 16px;
    color: #fff;
    font-family: lato-light;
    margin-left: 42px;
    line-height: 21px
}
.sb-ipad {
    width: 666px;
    height: 363px;
    background: url(https://d1iedlxz1i0l9r.cloudfront.net/static/frontend/images/ipad_frame_w.png) no-repeat
}
.sb-bg-banner {
    background-image: url(https://d1iedlxz1i0l9r.cloudfront.net/static/frontend/images/wwo-banner.jpg);
    background-size: cover
}
.sb-content {
    padding-left: 45px
}
.sb-navigate li i {
    color: rgba(255, 255, 255, .4);
    font-size: 32px;
    padding: 0 15px;
    transition: all .3s ease;
    display: block
}
.sb-navigate li i:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, .8)
}
.sb-ipadscreen {
    padding: 60px 62px 0 58px
}
.sbrows {
    display: none
}
.sbrow-active {
    display: block
}
.sbrows_cus {
    display: none
}
.dash-logo,
.hovershine a,
.sbrow-cus-active {
    display: block
}
.gray {
    color: #333
}
.green {
    color: #47AB4A
}
.yellow {
    color: #ECB126
}
.red {
    color: #EF5D31
}
.blue {
    color: #079EBA
}
.modal-dialog {
    margin: 120px auto
}
.modal-body {
    padding: 30px 25px
}
.modal-footer button {
    color: #fff
}
.modal.fade .modal-dialog {
    -webkit-transform: scale(.1);
    -moz-transform: scale(.1);
    -ms-transform: scale(.1);
    transform: scale(.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}
.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1
}
.hovershine a {
    position: relative
}
.hovershine a::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 70%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .5) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .5) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg)
}
.hovershine a:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s
}
@-webkit-keyframes shine {
    100% {
        left: 125%
    }
}
@keyframes shine {
    100% {
        left: 125%
    }
}
.dash-logo-cont {
    background-color: #fff
}
header.dashboard {
    background-color: #7CB5EC;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    box-shadow: none;
    border-bottom: 1px solid #efefef
}
.dash-logo {
    padding: 0;
    background: url(../../images/logo.png) 5px 5px no-repeat;
    height: 52px
}
.dash-title {
    line-height: 50px
}
.dash-type,
.dash-user-dd {
    line-height: 47px;
    text-align: right;
    float: right
}
.dash-title h2 {
    color: #fff;
    font-family: lato-bold
}
.dash-container-fluid>.row {
    padding-top: 80px;
    padding-bottom: 60px
}
.dd-special {
    padding: 10px 15px;
    border-bottom: none
}
.dd-special a {
    vertical-align: middle;
    display: inline-block!important;
    width: 50%;
    border-bottom: none!important
}
.dd-special a:first-child:hover {
    background-color: #81C71D!important;
    color: #fff!important
}
.dd-special a.btn {
    background-color: #2486C8;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 7px 10px;
    font-family: lato-regular
}
.dd-user-name {
    padding-top: 0!important;
    padding-left: 5px!important;
    font-family: lato-semibold;
    max-width: 104px;
    overflow: hidden;
    color: #2486C8!important;
    text-align: right;
    font-size: 16px
}
.dd-user-name:hover {
    background-color: transparent!important
}
.dd-user-name small {
    font-family: lato-regular;
    font-size: 13px;
    color: #757575!important;
    text-align: right;
    display: block
}
.dd-user-img img {
    border-radius: 50%;
    width: 40px;
    height: 40px
}
.dd-user-img {
    padding: 4px 5px 0 0;
    border: none;
    vertical-align: middle
}
.dd-user-img:hover {
    background: 0 0;
    border: none
}
.dash-user-dd .dropdown-toggle {
    border: none;
    vertical-align: middle;
    padding: 0;
    line-height: 50px
}
.dash-user-dd .dropdown-toggle:active,
.dash-user-dd .dropdown-toggle:focus,
.dd-user-img:active,
.dd-user-img:focus {
    border: none;
    background-color: transparent;
    box-shadow: none
}
.dash-type .dropdown-toggle:active,
.dash-type .dropdown-toggle:focus {
    box-shadow: none;
    background-color: transparent
}
.risk-tolerance .risk-tolerance-title {
    border-top: 2px solid #7CB5EC;
    background-color: #F1F4F6;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 40px
}
.risk-tolerance .risk-tolerance-content {
    padding-bottom: 30px;
    border: 1px solid #F1F4F6;
    border-top: none;
    padding-left: 15px;
    padding-right: 15px;
    position: relative
}
.risk-tol-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: #292929;
    padding: 10px 15px
}
.risk-tol-change .input-group input {
    border: none!important;
    height: 31px
}
.risk-tol-change .input-group .input-group-btn,
.risk-tol-change .input-group .input-group-btn button {
    border-radius: 0!important;
    color: #fff!important
}
#performance {
    padding-bottom: 60px;
    position: relative
}
.perform-inner-tabs {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0
}
.perform-inner-tabs ul li {
    display: table-cell;
    width: 1%;
    text-align: center
}
.perform-inner-tabs ul li a {
    font-size: 13px;
    background-color: #F1F4F6;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #DDD;
    border-right: 1px solid #DDD
}
.perform-inner-tabs ul li a.active {
    background-color: #FFF;
    border-top: none
}
.perform-inner-tabs ul li:last-child a {
    border-right: none
}
.tab-pane {
    border: 1px solid #ddd;
    border-top: none;
    padding: 20px
}
.subtabs {
    display: none
}
.subtabs-on {
    display: inline-block
}
.quick-summary .quick-summary-title {
    border-top: 2px solid #7CB5EC;
    background-color: #F1F4F6;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 40px
}
.quick-summary .quick-summary-content {
    border: 1px solid #F1F4F6;
    border-top: none;
    position: relative;
    padding: 20px 15px
}
.qsummary li {
    padding: 10px 0;
    border-right: 1px solid #434348;
    background-color: #292929;
    color: #fff;
    font-size: 12px;
    width: 1%;
    display: table-cell;
    text-align: center
}
.qsummary li span {
    display: block;
    font-size: 21px;
    margin-top: 10px;
    text-align: center
}
.quick-summary {
    display: none
}
#logout:hover {
    background-color: #D9534F;
    color: #fff
}
.dropdown-menu {
    border-radius: 2px;
    box-shadow: none;
    padding: 0;
    min-width: 170px
}
.dropdown-menu>li>a {
    padding: 0;
    color: #757575;
    border-bottom: 1px solid #e2e6e8;
    background-color: #fff
}
.dropdown-menu>li>a i {
    padding: 15px;
    background-color: #f1f4f6;
    color: #757575!important;
    margin-right: 5px;
    border-right: 1px solid #e2e6e8;
    width: 43px
}
#signupform table,
#signupform table>tr,
#signupform table>tr>td,
.dashbox {
    width: 100%
}
.dash-table thead tr th {
    font-family: lato-semibold;
    font-size: 14px
}
.dash-table tbody tr td {
    font-family: lato-regular;
    font-size: 12px
}
.dash-table tbody tr td i {
    display: block;
    font-family: fontawesome;
    font-size: 14px;
    vertical-align: middle
}
.nav>li>a {
    padding: 10px 35px
}
.dashbox-head {
    border-bottom: 1px solid #ccc;
    line-height: 52px;
    color: #757575;
    font-size: 21px;
    font-family: lato-light
}
.bootstrap-select .btn-default {
    border: 1px solid #DED7D0!important;
    color: #757575
}
.bootstrap-select .btn-default:hover {
    border: 1px solid #DED7D0!important;
    background-color: #fff;
    color: #757575!important
}
.dashform label {
    font-size: 13px;
    color: #757575;
    padding-bottom: 10px
}
.dashform .form-control,
.dashform input.form-control {
    border-radius: 2px;
    color: #F1F4F6
}
.dashform input.form-control {
    border: 1px solid #DED7D0!important
}
.th-form {
    padding: 20px 15px
}
.dashtable {
    margin-top: 15px;
    border-bottom: 2px solid #7CB5EC
}
.dashtable thead tr th {
    font-size: 13px;
    font-family: lato-semibold
}
.dashtable tbody tr td {
    font-size: 13px
}
.dashpanel .pabel-heading .panel-title,
.panel-title {
    font-size: 13px!important
}
.panel-default {
    border: none;
    background-color: #f4f3f3
}
.panel-default>.panel-heading {
    border: none;
    background-color: transparent
}
.panel-title {
    color: #757575
}
.qk-option {
    float: right
}
.qk-option li {
    display: inline-block
}
.qk-option li a {
    display: block;
    font-size: 13px;
    background-color: #2486C8;
    color: #fff;
    padding: 0 15px
}
.menu-btn,
.mobile-menu-btn {
    display: none
}
#block {
    height: auto!important
}
.in-partner a img {
    margin: auto
}
#mobile-menu {
    background-color: #fff;
    border-radius: 5px;
    visibility: hidden
}
.mobile-nav {
    font-size: 0
}
.mobile-nav li {
    display: inline-block
}
.mobile-nav li a {
    font-size: 12px;
    padding: 20px;
    color: #666
}
.sb-mobile-container {
    margin-top: 10px;
    display: none
}
.sb-mobile-container ul li {
    background-color: #ccc;
    border-radius: 5px;
    color: #fff!important;
    margin-bottom: 5px
}
.sb-mobile-container ul li span {
    display: inline-block;
    font-size: 15px!important
}
.sb-mobile-container ul li span.sb-icon {
    margin: 0 auto;
    height: auto!important
}
.sb-mobile-container ul li span.sb-icon:before {
    display: inline-block;
    font-size: 25px!important;
    line-height: 47px!important;
    color: #fff!important
}
.in-disclaimer p {
    text-align: justify
}
.nanimate {
    color: #fff;
    font-size: 28px
}
#t2 {
    font-size: 36px
}
.adjectives {
    font-family: lato-bold;
    font-size: 42px;
    margin-top: 20px;
    color: #23d605!important;
    position: absolute
}
.in-learnmore,
.in-learnmore:hover {
    border: 1px solid #fff!important;
    font-size: 16px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: lato-regular;
    transition: all .5s ease
}
#bar,
#home,
#salon {
    padding-top: 12%!important
}
#kitchen {
    padding-top: 0!important
}
#kitchen .valign-parent {
    padding-top: 12%!important;
    padding-bottom: 60px
}
#aboutmotif {

    background-color: #079EBA;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative!important
}
.in-learnmore {
    background: rgba(255, 255, 255, 0)!important;
    color: #fff!important
}
.in-learnmore:hover {
    background: rgba(255, 255, 255, 1)!important;
    color: #333!important
}
#aboutmotif>.in-cover {
    background-color: rgba(0, 0, 0, .7)!important;
    height: 100%;
    padding-top: 80px
}
#usersignupform {
    background-image: url(https://d1iedlxz1i0l9r.cloudfront.net/static/frontend/images/section1bg.png);
    background-size: cover;
    background-position: center
}
#signupform {
    background-color: rgba(255, 255, 255, .8);
    border-radius: 3px;
    padding: 20px 15px;
    display: block;
    margin: 50px 0 63%
}
#signupform .form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #CCC;
    box-shadow: none;
    background-color: transparent
}
#signupform .checkbox {
    font-size: 14px;
    font-weight: 400
}
#signupform .form-control:active,
#signupform .form-control:focus {
    border-bottom: 1px solid #43BBC7
}
.alreadyacc p {
    margin-bottom: 10px
}
.alreadyacc .btn {
    margin-bottom: 20px
}
.btn-yellowish {
    background: linear-gradient(180deg, #F6E312, #F9C80D);
    border: 1px solid #E9AC1A!important;
    width: 100%;
    text-align: center;
    font-family: lato-regular;
    font-size: 16px;
    color: #000
}
#investingtype {
    background-image: url(../images/investingtype-bg.png)
}
.investing-type {
    background-color: #fff;
    border-radius: 3px;
    text-align: center;
    float: left;
    display: inline-block;
    padding: 5px
}
.investing-type:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 1px solid #efefef
}
.investing-type:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}
.investing-type span.pe {
    cursor: pointer;
    font-size: 64px;
    text-align: center;
    color: #E9AC1A;
    border-radius: 50%;
    border: 1px solid #E9AC1A;
    line-height: 120px;
    width: 118px;
    height: 120px;
    margin-bottom: 20px
}
.flat-cover {
    background-color: #EEE;
    padding: 20px 0
}
.flat-cover:first-child {
    border-top-left-radius: 3px
}
.flat-cover:last-child {
    border-top-right-radius: 3px
}
.flat-link {
    display: block;
    padding: 20px 15px
}
.mega-search>.form-control {
    border-radius: 2px;
    letter-spacing: 1px;
    height: 60px;
    font-size: 24px;
    font-family: lato-light;
    border-right: none
}
.mega-search>.form-control:active,
.mega-search>.form-control:focus {
    box-shadow: none!important
}
.mega-search>.input-group-btn>.btn {
    height: 58px;
    padding: 0 25px;
    background: linear-gradient(180deg, #F6E312, #F9C80D);
    border: 2px solid #fff!important;
    font-size: 18px
}
.mega-search>.input-group-btn {
    height: 60px;
    border: 1px solid #ccc;
    border-left: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}
input[list] {
    font-size: 32px
}
datalist,
datalist>option {
    font-size: 16px;
    font-family: lato-light
}
.terms h4,
.terms p {
    font-family: lato-bold;
    font-size: 14px
}
.terms p {
    letter-spacing: 0;
    line-height: 18px
}
.terms h4 {
    font-family: "Trebuchet MS";
    font-weight: 700;
    margin-top: 40px
}
.terms ul {
    margin-top: 15px;
    margin-bottom: 10px;
    list-style-type: disc;
    list-style-position: outside
}
.terms ul li {
    display: list-item;
    font-family: lato-regular;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 30px
}
.listview {
    width: 100%;
    display: table
}
.listview>tbody>tr>td {
    background-color: #efefef;
    padding: 0 15px;
    font-size: 12px;
    vertical-align: middle
}
.listview>tbody>tr>td.down,
.listview>tbody>tr>td>span.down {
    color: #DD0E18!important
}
.listview>tbody>tr>td.up,
.listview>tbody>tr>td>span.up {
    color: #33BE08!important
}
.listview>tbody>tr:nth-child(odd)>td {
    background-color: #F3F3F3
}
.listview>tbody>tr:nth-child(even)>td {
    background-color: #FFF
}
.listview>thead>tr>th {
    padding: 7px 15px;
    text-align: center;
    font-size: 12px;
    background-color: #555;
    color: #fff;
    font-weight: 400;
    font-family: lato-bold
}
.listview>tbody>tr>td:first-child {
    text-align: left;
    width: 64px
}
.listview>tbody>tr>td:nth-child(2) {
    text-align: left
}
.listview>tbody>tr>td>img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 7px 0
}
.listview>tbody>tr>td>h4 {
    margin: 0;
    font-family: lato-bold;
    color: #3781B3
}
.listview>tbody>tr:hover>td {
    background-color: rgba(55, 129, 179, .3);
    cursor: pointer
}
.quickview-list {
    display: none;
    transition: all .5s ease;
    position: relative;
    background-color: rgba(255, 255, 255, .95);
    height: 78px
}
.quickview-list i {
    display: block;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgba(0, 0, 0, .6)
}
.btn-next,
.btn-simple {
    right: 35px;
    bottom: 80px;
    position: absolute;
    transition: all .5s ease
}
.quickview-list i:hover {
    color: rgba(0, 0, 0, 1)
}
.ageslider {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .6);
    padding: 15px
}
.irs-grid-text {
    color: #333
}
.irs-grid-pol,
.irs-grid-pol.small {
    color: #333;
    background: #333
}
.modern-li li {
    margin-bottom: 10px;
    text-align: center
}
.quest-n {
    font-size: 18px;
    font-family: HelveticaNeueBold;
    margin-bottom: 10px
}
.newsside-cat,
.newsside-posts {
    margin-bottom: 20px
}
.quest-title {
    font-family: lato-bold;
    letter-spacing: 0;
    font-size: 28px
}
.btn-next {
    border: 2px solid #F48720;
    background: 0 0;
    color: #fff;
    border-radius: 0
}
.btn-next:hover {
    background: #F48720;
    color: #fff
}
.btn-simple {
    border: 2px solid #fff;
    background: 0 0;
    color: #fff;
    border-radius: 0
}
.btn-simple:hover {
    background: #F48720;
    color: #fff!important
}
.newspost-newslink {
    color: #1ba2dd;
    font-family: opensans-semibold;
    font-size: 100%;
    font-size: 18px!important;
    line-height: 18px
}
.newspost-news>p {
    color: #474747;
    font-family: opensans-regular;
    font-size: 100%;
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px
}
.newspost-link,
.newspost-link:hover {
    font-size: 12px;
    margin-top: 20px;
    display: block;
    font-family: opensans-regular;
    text-transform: uppercase;
    text-decoration: none
}
.newspost-link {
    color: #666
}
.newspost-link:hover {
    color: #333
}
.input-searchfaq {
    border: 1px solid #fff;
    font-size: 16px;
    font-family: opensans-regular;
    margin-top: 5px
}
.btn-searchfaq {
    margin-top: 5px;
    background: #1BA2E5;
    color: #fff
}
.newsside-cat {
    font-family: opensans-semibold;
    font-size: 21px;
    color: #474747
}
.newspost {
    margin-bottom: 25px
}
.newsside-posts li a {
    color: #474747;
    font-family: opensans-regular;
    font-size: 100%;
    font-size: 16px;
    line-height: 40px
}
.newsroom-pagetitle,
.newsroom-tabs li a {
    font-family: opensans-semibold
}
.newsside-posts li a:hover {
    color: #1ba2dd
}
.input-searchfaq:active,
.input-searchfaq:focus,
.input-searchfaq:hover {
    border: 1px solid #fff;
    box-shadow: none!important
}
.newsroom-pagetitle {
    color: #fff;
    font-size: 36px
}
.newsroom-tabs {
    background-color: #f3f3f3;
    border: none
}
.newsroom-tabs li.active a,
.newsroom-tabs li.active a:active,
.newsroom-tabs li.active a:focus,
.newsroom-tabs li.active a:hover {
    font-weight: 400;
    border: none;
    border-radius: 0;
    background-color: #f3f3f3!important;
    line-height: 24px
}
.newsroom-tabs li a:hover {
    border: none;
    background-color: #f3f3f3!important;
    border-radius: 0;
    line-height: 24px;
    font-weight: 400
}
.newsroom-tabs li a {
    font-size: 14px;
    border-radius: 0;
    line-height: 24px;
    font-weight: 400;
    border: none!important
}
#myNavbar ul li a,
.in-play-btn span,
.modern-checkbox,
.modern-radio,
.userprofile p {
    font-family: lato-regular
}
.modern-checkbox i,
.modern-radio i {
    line-height: 72px;
    text-align: center
}
.modern-checkbox input[type=checkbox] {
    display: none
}
.modern-checkbox {
    margin: 0
}
.modern-checkbox label {
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    transition: all .5s ease;
    width: 50%
}
.modern-checkbox i {
    margin-right: 15px;
    display: inline-block;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #EFEFEF;
    font-size: 38px;
    color: #4B3D3A
}
.modern-checkbox label:hover {
    background-color: #ddd
}
.modern-checkbox>input[type=checkbox]+label {
    display: inline-block;
    height: 100%;
    cursor: pointer;
    border-radius: 6px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #efefef;
    padding: 10px 15px;
    margin-top: -25px;
    font-size: 14px
}
.modern-checkbox>input[type=checkbox]+label:hover {
    background-color: #efefef;
    color: #333
}
.modern-checkbox>input[type=checkbox]:checked+label {
    background-color: #F48720;
    color: #fff
}
input[type=radio] {
    display: none
}
.modern-radio {
    margin: 0
}
.modern-radio label {
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    transition: all .5s ease;
    width: 50%
}
.modern-radio i {
    margin-right: 15px;
    display: inline-block;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #EFEFEF;
    font-size: 38px;
    color: #4B3D3A
}
.modern-radio label:hover {
    background-color: #ddd
}
.modern-radio>input[type=radio]+label {
    display: inline-block;
    height: 100%;
    cursor: pointer;
    border-radius: 6px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #efefef;
    padding: 10px 15px;
    margin-top: -25px;
    font-size: 14px
}
.mobile-nav,
.success {
    display: none
}
.modern-radio>input[type=radio]+label:hover {
    background-color: #efefef;
    color: #333
}
.modern-radio>input[type=radio]:checked+label {
    background-color: #F48720;
    color: #fff
}
.wwo-head a {
    color: inherit
}
.sign-up-link {
    font-size: 12px;
    margin-top: 10px;
    text-decoration: none!important
}
#subscribe a,
.faq_topics ul li a,
.in-features li a:hover,
.scrollToTop,
.scrollToTop:hover {
    text-decoration: none
}
.sb-ipadscreen img {
    height: 350px!important
}
.newspost-img img {
    width: 250px;
    height: 174px
}
#forgot-popup .modal-dialog,
#login-popup .modal-dialog {
    width: 400px
}
.team-detail p:nth-of-type(1) {
    margin-bottom: 10px
}
.team-detail p:nth-of-type(3) {
    line-height: 18px
}
.modern-li input {
    font-size: 18px!important;
    padding: 5px!important
}
.in-play-btn-2 {
    position: absolute;
    right: 40px;
    z-index: 2;
    bottom: 0
}
.in-play-btn-2 i {
    transition: all .5s ease;
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 50%;
    color: #fff;
    line-height: 44px
}
.error {
    font-size: 12px;
    color: red!important;
    float: right;
}
.success {
    color: #13b70f!important;
    font-size: 12px
}
#login-popup .modal-dialog {
    width: 400px
}
.logo,
.navigation_bar {
    width: 100%;
    display: inline-block
}
.news-bg {
    background: url(https://d1iedlxz1i0l9r.cloudfront.net/static/frontend/images/newsroom.jpg) no-repeat;
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
    min-height: 80px;
    border-bottom: 1px solid #eee
}
#mobile-menu_1 ul li {
    display: inline-block;
    padding-bottom: 10px
}
.nopadding {
    padding: 0!important
}
.nomargin {
    margin: 0!important
}
.nopadleft {
    padding-left: 0!important
}
.nopadright {
    padding-right: 0!important
}
.colcenter {
    float: none;
    margin: 0 auto
}
.navigation_bar {
    background: #efefef;
    padding: 0;
    float: left;
    position: relative;
    z-index: 999;
    min-height: 82px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    transition: all .3s
}
.navigation_bar:hover {
    background: #fff;
    transition: all .3s
}
.navigation_bar .navbar {
    min-height: auto;
    margin-bottom: 0
}
.logo {
    padding: 15px 0 0
}
.logo a,
.userpics {
    display: block
}
#myNavbar {
    padding: 0
}
#myNavbar ul {
    float: right;
    margin-top: 10px
}
#myNavbar ul li a {
    font-size: 13px;
    color: #565656;
    line-height: 40px;
    padding: 15px 8px
}
#myNavbar ul li a:hover {
    background: 0 0;
    outline: 0;
    color: #565656
}
#myNavbar ul li:nth-child(7) a:hover,
#myNavbar ul li:nth-child(8) a:hover {
    background: 0 0
}
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #2486C8;
    height: 3px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}
.hvr-underline-from-center:active:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:hover:before {
    left: 0;
    right: 0
}
.analyze:after,
.customize:after,
.optimize:after {
    content: " ";
    left: 38px;
    top: 38px
}
.userprofile {
    display: inline-block;
    padding: 25px 0 0;
    width: 150px;
    position: absolute
}
.userpics {
    background: #2486c8;
    border-radius: 7px;
    padding: 0 10px;
    line-height: 36px;
    float: left;
    font-size: 20px;
    color: #fff;
    cursor: pointer
}
.userprofile a,
.userprofile p {
    margin: 0;
    font-size: 15px;
    display: block;
    float: left
}
.userprofile p {
    padding: 10px;
    line-height: 20px;
    color: #565656
}
.userprofile .picx {
    color: #fff;
    line-height: 12px
}
.userprofile a {
    padding: 10px 0;
    line-height: 20px
}
.newss,
.pa_opts {
    margin-top: 9px
}
.bluescreen li,
.in-features li a {
    display: inline-block
}
.in-play-btn span {
    float: left;
    padding: 17px 10px;
    font-size: 18px;
    color: #fff;
    font-weight: 700
}
.bluescreen li i,
.wwo-navigate li i {
    padding: 0 19px!important
}
.bluescreen li,
.wwo-navigate li {
    font-family: lato-regular;
    font-size: 14px;
    font-weight: 700;
    text-align: right
}
.faq_topics h2,
.faq_topics ul li a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400
}
.wwo-navigate li {
    color: #fff
}
.bluescreen li {
    color: rgba(255, 255, 255, .5)
}
.dropdown-menu li {
    list-style-type: none;
    float: left;
    width: 100%
}
.dropdown-menu li a {
    float: left;
    width: 100%;
    padding: 15px
}
.in-features li a:hover {
    outline: 0
}
.advisory-div,
.customize-div,
.style-div {
    background-size: 100% 100%;
    line-height: 150px;
    position: relative;
    text-align: center
}
.advisory-div {
    background-color: #a1dce6;
    background-image: url(https://d1iedlxz1i0l9r.cloudfront.net/static/frontend/images/wwo-askquestion.png);
    min-height: 150px
}
.blank-div {
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    margin-left: -15px;
    position: absolute;
    width: 100%
}
.style-div {
    background-image: url(https://d1iedlxz1i0l9r.cloudfront.net/static/frontend/images/wwo-banner.jpg);
    min-height: 150px
}
.customize-div {
    background-image: url(https://d1iedlxz1i0l9r.cloudfront.net/static/frontend/images/wwo-banner1.jpg);
    min-height: 153px
}
.advisory-div span,
.customize-div span,
.style-div span {
    color: #fff;
    font-size: 25px;
    position: relative;
    z-index: 888888
}
#get-started p {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: justify
}
.analyze,
.customize,
.optimize {
    color: #fff;
    display: inline-block;
    font-size: 46px;
    line-height: 116px;
    text-align: center;
    transition: all .3s ease 0s
}
#get-started .modal-dialog {
    width: 900px
}
.carousel-indicators li {
    background-color: #ddd
}
.carousel-indicators li.active {
    background-color: #333;
    border: none
}
.analyze,
.customize {
    border: 2px solid #fff
}
.analyze {
    position: relative;
    border-radius: 50%;
    height: 120px;
    width: 120px
}
.analyze:after {
    background: url(https://d1iedlxz1i0l9r.cloudfront.net/static/frontend/images/analyze.png) 0 -47px no-repeat;
    width: 42px;
    position: absolute;
    height: 47px
}
.in-features li a:hover .analyze {
    background: #fff
}
.in-features li a:hover .analyze:after {
    background: url(https://d1iedlxz1i0l9r.cloudfront.net/static/frontend/images/analyze.png) no-repeat
}
.customize {
    position: relative;
    border-radius: 50%;
    height: 120px;
    width: 120px
}
.customize:after {
    background: url(https://d1iedlxz1i0l9r.cloudfront.net/static/frontend/images/cutomize.png) 0 -47px no-repeat;
    width: 42px;
    position: absolute;
    height: 47px
}
.in-features li a:hover .customize {
    background: #fff
}
.in-features li a:hover .customize:after {
    background: url(https://d1iedlxz1i0l9r.cloudfront.net/static/frontend/images/cutomize.png) no-repeat
}
.optimize {
    border: 2px solid #fff;
    position: relative;
    border-radius: 50%;
    height: 120px;
    width: 120px
}
.optimize:after {
    background: url(https://d1iedlxz1i0l9r.cloudfront.net/static/frontend/images/optimize.png) 0 -33px no-repeat;
    width: 42px;
    position: absolute;
    height: 33px
}
.in-features li a:hover .optimize {
    background: #fff
}
.in-features li a:hover .optimize:after {
    background: url(https://d1iedlxz1i0l9r.cloudfront.net/static/frontend/images/optimize.png) no-repeat
}
.faq span,
.newss span {
    background: #fff;
    color: #000;
    top: -3px;
    padding: 3px 5px;
    font-size: 10px;
    line-height: 10px;
    border: 1px solid rgba(0, 0, 0, .4)
}
#wwo-navigate-left,
#wwo-navigate2-left,
#wwo-navigate2_new-left {
    text-align: left!important
}
.faq {
    position: relative
}
.faq span {
    position: absolute;
    display: none;
    left: 0
}
.faq:hover span {
    display: block
}
.pa_opts a {
    height: 61px
}
.newss {
    position: relative;
    height: 60px
}
.newss span {
    position: absolute;
    display: none;
    left: -13px;
    z-index: 999
}
.newss:hover span {
    display: block
}

#videoPopup .modal-content {width:750px; height:450px ;}
@media screen and (max-width: 1199px) {
    .container-2 {
        width: 60%
    }
    .in-nav li a {
        font-size: 12px;
        padding: 0 12px
    }
    .newspost-img img {
        width: 100%
    }
}
@media screen and (max-width: 1195px) {
    .in-feature-box-master ul li a {
        font-size: 12px
    }
    .question-mark img {
        margin-top: -85px!important
    }
}
@media screen and (max-width: 1150px) {
    .in-nav li a {
        padding: 0 10px
    }
    .sb-ipad,
    .wwo-ipad {
        width: 100%;
        background-size: 100%;
        background-position: bottom;
        position: relative
    }
    .sb-ipadscreen,
    .wwo-ipadscreen {
        position: absolute;
        bottom: 0
    }
    .sb-ipadscreen img,
    .wwo-ipadscreen img {
        height: 240px!important
    }
    .question-mark {
        position: static!important
    }
    .question-mark img {
        height: auto!important
    }
}
@media screen and (max-width: 1119px) {
    .in-ticker ul li {
        padding: 60px 30px
    }
    .in-ticker {
        width: 150%
    }
}
@media screen and (max-width: 1101px) {
    .in-nav li a {
        font-size: 11px
    }
    .sign-in-btn,
    .sign-in-btn:hover {
        font-size: 12px
    }
    .in-features {
        margin-top: 30px!important
    }
}
@media screen and (max-width: 1037px) {
    .in-nav li a {
        padding: 0 8px
    }
    .sb-ipad,
    .wwo-ipad {
        height: 338px
    }
}
@media screen and (max-width: 998px) {
    .in-nav li a {
        font-size: 10px
    }
    .box-20 .col-sm-4 {
        width: 32.33%
    }
    #bar,
    #home,
    #salon {
        padding-top: 150px!important
    }
}
@media screen and (max-width: 980px) {
    .newspost-img img {
        width: 230px;
        height: 174px
    }
    .newspost-news>p {
        font-size: 14px
    }
    .newsside-posts li a {
        font-size: 12px;
        line-height: 32px
    }
    .table-curved tr td a,
    .table-curved tr td a:hover {
        font-size: 12px
    }
}
@media screen and (max-width: 935px) {
    .in-nav li a {
        padding: 0 6px
    }
    .wwo-ipadscreen img {
        height: 220px!important
    }
    .question-mark img {
        height: 260px!important;
        width: auto!important
    }
    .sb-ipad,
    .wwo-ipad {
        height: 310px
    }
    .modern-checkbox label {
        width: 62%
    }
}
@media screen and (max-width: 900px) {
    .newspost-img img {
        width: 212px;
        height: 174px
    }
}
@media screen and (max-width: 893px) {
    .in-nav li a {
        padding: 0 5px
    }
    .in-logo {
        background-size: 180px
    }
    .valign-child {
        width: 98%!important
    }
    .modern-checkbox label {
        width: 52%
    }
}
@media screen and (max-width: 880px) {
    .in-features li i {
        width: 100px;
        height: 100px;
        font-size: 40px;
        line-height: 100px
    }
    .in-features li p {
        font-size: 15px
    }
    .in-features {
        margin-top: 20px!important
    }
    .sign-in-big {
        margin-top: 60px!important
    }
    .newspost-news>p {
        font-size: 14px!important
    }
}
@media screen and (max-width: 873px) {
    .in-nav li a {
        padding: 0 4px
    }
    .in-logo {
        background-size: 170px
    }
    .sb-ipadscreen img,
    .wwo-ipadscreen img {
        height: 200px!important
    }
}
@media screen and (max-width: 853px) {
    .in-nav li a {
        padding: 0 4px;
        font-size: 9px
    }
    .sb-ipad,
    .wwo-ipad {
        height: 280px
    }
    .questions-panel .panel-title {
        font-size: 16px!important
    }
}
@media screen and (max-width: 823px) {
    .in-features li i {
        width: 80px;
        height: 80px;
        font-size: 35px;
        line-height: 80px
    }
    .in-features li p {
        font-size: 14px
    }
    .in-features {
        margin-top: 20px!important
    }
    .sign-in-big {
        margin-top: 60px!important;
        font-size: 14px!important
    }
    .nav-tabs>li>a {
        font-size: 12px!important
    }
}
@media screen and (max-width: 812px) {
    .in-logo {
        background-size: 160px!important
    }
    .in-ticker ul li {
        padding: 60px 20px
    }
    .newspost-img img {
        width: 190px;
        height: 174px
    }
}
@media screen and (max-width: 790px) {
    .in-nav li a {
        font-size: 8px
    }
    .faq-cat li a,
    .questions-panel .panel-title {
        font-size: 14px!important
    }
    .newspost-img img {
        width: 176px;
        height: 174px
    }
}
@media screen and (max-width: 767px) {
    #aboutus,
    .in-feature-box-master {
        margin-bottom: 50px
    }
    .in-ticker,
    .question-mark,
    .read-more-div,
    .text-center-h {
        text-align: center
    }
    .menu-btn,
    .mobile-menu-btn,
    .newspost-img,
    .newspost-news {
        display: inline-block
    }
    .sb-ipadscreen img,
    .wwo-ipadscreen img {
        height: 200px!important
    }
    .newspost-img {
        width: 200px
    }
    .newspost-news {
        width: 70%
    }
    .topics-panel {
        width: 30%
    }
    .questions-panel {
        width: 70%
    }
    .sb-ipad,
    .wwo-ipad {
        width: 100%;
        background-size: 100% 100%;
        background-position: bottom;
        position: relative
    }
    .sb-ipadscreen,
    .wwo-ipadscreen {
        position: absolute;
        bottom: 0
    }
    .wwo-ipadscreen img {
        height: auto!important;
        max-height: 236px
    }
    .sb-content,
    .wwo-content {
        margin-bottom: 30px;
        margin-top: 30px
    }
    .question-mark img {
        height: 280px
    }
    .jqcloud-div #jcloud {
        width: 320px!important;
        height: 400px!important;
        margin: 0 auto
    }
    .social-div {
        margin-bottom: 30px
    }
    .in-disclaimer p {
        font-size: 12px
    }
    .in-headline {
        font-size: 15px
    }
    .in-cont-title,
    .wwo-head {
        font-size: 30px!important
    }
    .in-cont-title {
        margin-bottom: 10px
    }
    div#aboutus h4 {
        margin-top: 20px!important
    }
    #mobile-menu {
        visibility: visible;
    border-radius: 0px;
    width: 65%;
    position: absolute;
    right: 0px; display:none;
    }
    .team-detail {
        border-radius: 0!important
    }
    .team-txt {
        padding: 30px 15px 30px 30px!important
    }
    .arrow-img {
        display: none!important
    }
    .box-20 .col-sm-4 {
        width: 100%
    }
    .news-tagger-dob,
    .news-tagger-dob .input-group {
        display: table-cell;
        width: 1%
    }
    .news-tagger-dob-div {
        padding: 0 5px;
        vertical-align: middle
    }
    .news-tagger-dob {
        float: none
    }
    .news-tagger-dob .input-group input {
        width: 100%
    }
    .dob-heading-mo {
        padding: 5px 0;
        text-align: left
    }
    .modern-li input,
    .modern-li input:focus {
        width: 100px!important;
        border-radius: 5px;
        background: 0 0;
        border: 2px solid #fff;
        box-shadow: none;
        color: #34495e
    }
    section.tl {
        overflow-y: auto!important
    }
    .selectedstocks {
        margin-left: 0!important;
        margin-top: 15px
    }
    .latest-post-div {
        text-align: center
    }
    .btn i {
        line-height: 1!important
    }
    .question-mark {
        padding: 50px 62px 0 58px!important;
        margin-top: 30px
    }
    .wwo-bg-banner>.row:nth-of-type(1),
    .wwo-bg>.row:nth-of-type(1) {
        padding-top: 20px!important
    }
    .wwo-head {
        margin-bottom: 20px
    }
    .nanimate img {
        height: auto!important
    }
    .carousel-indicators .active,
    .carousel-indicators li {
        margin: 1px 20px
    }
    .in-cover-mbg br:nth-of-type(1),
    .in-cover-mbg br:nth-of-type(2),
    .in-cover-mbg br:nth-of-type(3),
    .in-cover-mbg br:nth-of-type(4) {
        display: none
    }
    #whatmotif {
        margin-bottom: 0
    }
    .in-cover-mbg-1 {
        padding-bottom: 0!important
    }
    .btn-explore, .btn-explore:hover {
        margin-top: 0;
        font-size: 18px;
        /*padding-left: 28px;
        padding-right: 28px*/
    }
    .st-box {
        margin-top: 15px
    }
    .autosearch-modal {
        width: 90%!important
    }
    .listview>tbody>tr>td>img {
        width: 40px;
        height: 40px
    }
    .listview>tbody>tr>td {
        padding: 0 10px;
        font-size: 10px
    }
    .listview>tbody>tr>td>h4 {
        font-size: 12px
    }
    .listview>thead>tr>th {
        font-size: 10px
    }
    .bg-gray-div-new {
        margin-left: 0!important;
        padding-right: 15px
    }
    header {
        background: rgba(255, 255, 255, 1)!important;
        z-index: 999999!important;
        width: 100%!important
    }
    .in-nav li a {
        color: #333
    }
    .in-logo {
        background: url(https://d1iedlxz1i0l9r.cloudfront.net/static/frontend/images/logo.png) 5px 15px no-repeat!important;
        height: 70px!important
    }
    .sign-in-btn {
        border: 1px solid #888!important;
        color: #888!important
    }
    .build_motif_bg {
        background-position: center!important
    }
    .mobile-nav {
        display: block
    }
    .in-ticker ul li {
        padding: 10px 5px;
        width: 50%;
        float: left;
		margin-top: 10px;
    }
    .in-ticker ul li em,
    .in-ticker ul li span {
        font-size: 22px
    }
    .in-ticker ul li p {
        font-size: 12px;
        line-height: 16px
    }
    .in-ticker {
        margin-top: 10px;
    }
    .hvr-underline-from-center:before {
        background: 0 0
    }
	.scrollToTop  {display:none !important;}
}
#shop .valign-child {
    margin-top: 210px
}
#about .valign-child,
#seven .valign-child {
    margin-top: 200px
}
#kitchen .valign-child {
    margin-top: 0
}
@media screen and (max-width: 1280px) {
    #shop .valign-child {
        margin-top: 203px
    }
    #about .valign-child {
        margin-top: 183px
    }
    #about .chapter-title {
        font-size: 2.1rem!important
    }
    #seven .valign-child {
        margin-top: 203px
    }
    #bar .valign-child,
    #home .valign-child,
    #kitchen .valign-child,
    #salon .valign-child {
        margin-top: 50px
    }
}
@media screen and (max-width: 735px) {
    .sign-in-big {
        margin-top: 40px!important;
        font-size: 14px!important
    }
    .faq-cat li a {
        font-size: 12px!important
    }
    .newsroom-tabs li a {
        padding: 10px 20px
    }
}
@media screen and (max-width: 687px) {
    .questions-panel .panel-title {
        font-size: 12px!important
    }
    #video-background {
        height: 500px!important
    }
    .in-cover-vbg {
        background-color: transparent
    }
    .in-play-btn {
        bottom: 100px
    }
    .in-play-btn-1 {
        bottom: 40px!important
    }
    .mobile-nav li a {
        font-size: 14px;
        padding: 20px 10px;
        text-decoration: none;
        color: #666;
        display: block;
        border-bottom: 1px solid #eee;
        text-align: right;
        padding-right: 20px!important
    }
    .mobile-nav li a:focus {
        color: #fff;
        background: #2486C8!important
    }
    .container-2 h4 {
        font-size: 25px!important
    }
    .newsroom-tabs li a {
        padding: 10px 20px
    }
    .newspost-img {
        width: 150px;
        display: inline-block;
        vertical-align: top
    }
    .newspost-img img {
        height: auto!important
    }
    .newspost-news>p {
        font-size: 12px!important;
        line-height: 20px
    }
    .modern-checkbox i,
    .modern-radio i {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 30px
    }
    .modern-checkbox label {
        width: 62%
    }
    #kitchen {
        padding-top: 60px!important
    }
    .in-cont-content {
        display: block;
    }
}
@media screen and (max-width: 640px) {
    .newspost-img img {
        width: 145px
    }
}
@media screen and (max-width: 621px) {
    .topics-panel {
        width: 100%
    }
    .questions-panel {
        width: 100%;
        padding-top: 50px
    }
    .questions-panel,
    .topics-panel {
        font-size: 16px!important;
        padding: 25px!important
    }
    .newsroom-tabs li a {
        padding: 10px
    }
    .autosearch-modal {
        width: 100%!important
    }
    .questions-panel .panel-heading {
        padding-left: 4px
    }
    #mobile-menu_1 ul li a {
        padding: 10px
    }
}
@media screen and (max-width: 600px) {
    #video-background {
        height: 430px!important
    }
    .in-cover-vbg {
        background-image: url(https://d1iedlxz1i0l9r.cloudfront.net/static/frontend/images/section1bg.png)
    }
    .in-cover-mbg {
        background-image: url(img/1.jpg)
    }
    .in-play-btn {
        bottom: 40px
    }
    .in-logo {
        width: 187px!important
    }
    .wwo-title {
        font-size: 18px
    }
    .jqcloud-div tbody tr td {
        display: block!important;
        width: 100%;
        text-align: center;
        padding: 10px
    }
    .sb-container {
        display: none
    }
    .sb-mobile-container {
        display: block
    }
    .in-cont-content {
        font-size: 14px;
        text-align: center;
        display: block;
    }
    body,
    html {
        overflow-x: hidden
    }
    .container-2 h4 {
        font-size: 22px!important
    }
    .btn-next {
        padding: 4px 6px;
        font-size: 12px
    }
    #kitchen {
        padding-top: 100px!important
    }
    .hidden-js {
        display: none
    }
}
@media screen and (max-width: 560px) {
    .mobile-nav li {
        display: block;
        text-align: center
    }
    .mobile-nav li a {
        padding: 10px
    }
    .newsroom-tabs li a {
        padding: 10px;
        font-size: 10px!important
    }
    #mobile-menu_1 ul li {
        display: block;
        padding-bottom: 10px
    }
    #mobile-menu_1 ul li a {
        padding: 0
    }
}
@media screen and (max-width: 550px) {
    .sb-ipad,
    .wwo-ipad {
        background-size: 100%
    }
    .contact-forms p {
        font-size: 12px!important
    }
    .container-2 {
        width: 95%
    }
    .newspost-news {
        width: 68%
    }
    .newspost-newslink {
        font-size: 16px!important
    }
    .question-mark {
        padding: 50px 62px 0 58px!important
    }
    @media screen and (max-width: 500px) {
        .search-div, .tabs-div {
            width: 100%
        }
        .bg-gray-div {
            padding: 15px 5px!important
        }
        .bg-gray-div-new {
            padding-right: 15px!important
        }
        .modern-checkbox>input[type=checkbox]+label {
            font-size: 12px
        }
        .search-div {
            margin-top: 10px
        }
        .newsroom-tabs li a {
            padding: 4px 10px;
            font-size: 10px!important
        }
    }
    @media screen and (max-width: 478px) {
        .newspost-news {
            width: 66%
        }
        .newspost-newslink {
            font-size: 14px!important
        }
    }
    @media screen and (max-width: 465px) {
        .sb-ipadscreen img {
            max-height: 180px
        }
        .in-disclaimer p {
            font-size: 10px
        }
        .wwo-head {
            font-size: 14px!important
        }
        .sb-title,
        .wwo-title {
            font-size: 15px!important
        }
        .sb-subtitle,
        .wwo-subtitle {
            font-size: 12px!important
        }
        .padding-top-20 {
            padding-top: 20px!important
        }
        .text-center-h {
            font-size: 15px!important
        }
        .sb-content,
        .wwo-content {
            padding-left: 20px!important
        }
        #carousel-example-generic {
            margin-left: -15px;
            padding-top: 20px
        }
        .adjectives {
            font-size: 32px
        }
        .nanimate {
            font-size: 25px!important
        }
        #whatmotif {
            font-size: 20px!important;
            margin-bottom: 20px!important
        }
        .in-cont-content h2 {
            font-size: 18px!important
        }
        .in-cont-title {
            font-size: 30px!important;
			padding-top:10px;
        }
        .wwo-head {
            margin-bottom: 20px
        }
        .jqcloud-div tr td {
            padding: 0 30px!important
        }
        .btn-yellowish {
            font-size: 12px
        }
        .newspost-news {
            width: 62%
        }
        .wwo-head p {
            font-size: 10px!important
        }
        .wwo-navigate li i {
            font-size: 20px;
            padding: 0 10px
        }
        .modern-li input {
            width: 100%!important;
            font-size: 14px!important
        }
        .wwo-navigate {
            position: absolute;
            right: 10px;
            top: 0;
            z-index: 99
        }
    }
    @media screen and (max-width: 415px) {
        .sign-in-big {
            padding: 10px 30px!important
        }
        .in-features li p {
            font-size: 12px
        }
        .in-logo {
            background-size: 130px!important;
            background-position: 5px 21px!important
        }
        .in-bg-contact,
        .news-bg {
            background-size: auto 100%;
            background-position: center
        }
        .jqcloud-div #jcloud {
            width: 300px!important;
            height: 300px!important;
            margin: 0 auto
        }
        .sb-mobile-container ul li span {
            font-size: 12px!important
        }
        .sb-mobile-container ul li span.sb-icon:before {
            font-size: 20px!important
        }
        .sb-ipadscreen img {
            max-height: 160px
        }
        .jqcloud-div tr td {
            padding: 0 10px!important
        }
        .newspost-news {
            width: 61%
        }
        .modern-checkbox>input[type=checkbox]+label {
            padding: 5px
        }
        .modern-checkbox label {
            width: 74%
        }
        .panel-heading {
            padding: 10px 0
        }
        .modal-dialog {
            width: 100%!important
        }
        .in-bg-contact {
            -webkit-background-size: auto 100%;
            -o-background-size: auto 100%;
            -moz-background-size: auto 100%;
            -ms-background-size: auto 100%;
            -webkit-background-position: center;
            -o-background-position: center;
            -ms-background-position: center;
            -moz-background-position: center;
            background-attachment: scroll!important
        }
        #usersignupform table tr td {
            display: block!important
        }
    }
    @media screen and (max-width: 410px) {
        .sign-in-big {
            padding: 10px 25px!important
        }
    }
    @media screen and (max-width: 400px) {
        #forgot-popup .modal-dialog, #login-popup .modal-dialog, .newspost-img, .newspost-img img, .newspost-news {
            width: 100%
        }
        .modern-checkbox label,
        .modern-radio label {
            width: 75%
        }
        .modern-li input,
        .news-tagger-age-picker-mobile {
            width: 100%!important
        }
        .modern-li input {
            font-size: 14px!important
        }
    }
    @media screen and (max-width: 391px) {
        .wwo-head {
            margin-bottom: 10px
        }
        .question-mark img {
            margin-top: 0!important;
            padding-bottom: 0!important;
            width: 100%!important
        }
        .sb-ipadscreen img {
            max-height: 140px
        }
        .btn-yellowish {
            font-size: 10px
        }
    }
    @media screen and (max-width: 389px) {
        .question-mark {
            padding: 00px 62px 0 58px!important
        }
    }
    @media screen and (max-width: 380px) {
        .sb-ipad, .wwo-ipad {
            height: 190px
        }
        .adjectives {
            font-size: 28px
        }
        .nanimate {
            font-size: 22px!important
        }
        .motif-sliderImg {
            display: none
        }
        .sb-ipadscreen,
        .wwo-ipadscreen {
            padding: 60px 42px 0 40px
        }
        .sb-ipadscreen img,
        .wwo-ipadscreen img {
            height: 145px!important
        }
        .in-logo {
            width: 150px!important;
            background-size: 100%!important;
            height: 70px!important;
            background-position: 0 50% !important
        }
        .modern-checkbox>input[type=checkbox]+label {
            padding: 10px;
            font-size: 11px
        }
        .sb-mobile-container ul li span {
            font-size: 12px!important;
            vertical-align: middle
        }
    }
    @media screen and (max-width: 335px) {
        .sign-in-big {
            padding: 10px 20px!important;
            font-size: 14px!important
        }
        .in-play-btn i {
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 18px
        }
        .in-play-btn {
            bottom: 48px
        }
        .in-cont-content {
            font-size: 12px
        }
        .sb-ipadscreen img {
            max-height: 120px
        }
        .sb-ipadscreen img,
        .wwo-ipadscreen img {
            height: 130px!important
        }
    }
    @media screen and (max-width: 325px) {
        .in-play-btn {
            bottom: 35px
        }
        .in-play-btn-2 {
            right: 30px
        }
    }
    @media screen and (max-width: 320px) {
        .in-play-btn-2 {
            width: 50px
        }
    }
    a:focus {
        outline: 0!important
    }
}
#Analyze>div,
#Customize>div {
    height: 630px
}
#Optimize {
    display: none
}
.jqcloud-div .carousel-inner {
    height: 200px
}
.faq_topics {
    width: 100%;
    position: relative;
    float: left;
    background: #eee;
    min-height: 500px;
    margin: 50px 0 20px;
    padding: 0
}
.faq_topics h2 {
    font-size: 24px;
    color: #333;
    display: block;
    padding: 20px
}
.faqTops {
    margin-top: 50px
}
.faq_topics ul,
.faq_topics ul li {
    margin: 0;
    position: relative;
    width: 100%;
    float: left
}
.faq_topics ul {
    padding: 0
}
.faq_topics ul li {
    list-style-type: none;
    padding: 10px 0
}
.faq_topics ul li a {
    font-size: 16px;
    color: #3781b3;
    border-left: 2px solid #eee;
    padding: 3px 20px
}
.faq_topics ul li a:hover {
    border-left: 2px solid #333;
    color: #333
}
.banner_area {
    padding: 0!important;
    min-height: 400px;
    border: none;
    background: url(https://d1iedlxz1i0l9r.cloudfront.net/static/media/images/banner/faq.jpg) center center;
    background-size: cover
}
.modal-header .close {
    z-index: 99
}
.in-nav li:nth-child(7) {
    border-right: 1px solid #fff
}
div#aboutus h4 {
    margin-top: 80px
}
.scrollToTop {
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
    text-align: center;
    background: #fff;
    font-weight: 700;
    color: #444;
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 100%;
    z-index: 999;
    display: none
}
.scrollToTop a {
    display: block;
    width: 50px;
    padding: 15px 10px;
    height: 50px
}
.in-nav li a img {
    width: 100%
}
.user_area,
.user_area a {
    border-radius: 100%;
    height: 37px;
    width: 37px
}
.user_area {
    background: #fff;
    margin: 0 15px 0 40px!important;
    position: relative;
    top: -12px
}
.user_area a {
    align-content: center;
    display: flex!important;
    justify-content: center;
    overflow: hidden;
    padding: 0!important
}
.user_names,
.user_names h4,
.user_names p {
    display: inline-block
}
.drops_down_area {
    width: 300px;
    background: #fff;
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 99;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2);
    border: 1px solid #ccc
}
.drops_down_area:after {
    position: absolute;
    top: -18px;
    right: 16px;
    content: "\f0d8";
    font-size: 30px;
    font-family: FontAwesome;
    color: #fff
}
.drops_down_area ul li a,
.user_names h4,
.user_names p {
    font-family: "Open Sans", sans-serif
}
.user_names {
    position: relative;
    width: 94%;
    margin: 15px 3% 0;
    padding-bottom: 0;
    border-bottom: 1px solid #ccc
}
.user_names .user_area {
    width: 75px;
    height: 75px;
    float: left;
    margin: 0!important
}
.user_names h4 {
    font-size: 20px;
    font-weight: 400;
    color: #333;
    padding:0 10px 5px 15px;
    width: 185px;
}
.user_names p {
    font-size: 12px;
    font-weight: 400;
    color: #666;
    padding: 0 0 5px 20px
}
.drops_down_area ul {
    float: left!important;
    width: 100%;
    position: relative;
    margin-bottom: 10px!important;
    padding: 0
}
.drops_down_area ul li {
    list-style-type: none;
    width: 100%;
    position: relative;
    float: left;
    padding: 0;
    margin: 0
}
.drops_down_area ul li a {
    font-size: 14px!important;
    float: left;
    text-align: left!important;
    border-radius: 0;
    justify-content: flex-start;
    width: 100%;
    padding: 0 10px!important;
    color: #3781b3!important
}
.drops_down_area ul li a:hover {
    color: #3781b3!important
}
.drops_down_area ul li a span {
    background: #ff82f8;
    border-radius: 100%;
    height: 25px;
    margin: 0 9px!important;
    padding: 3px;
    color: #fff;
    width: 25px;
    text-align: center
}
.footer_section_area {
    background: #111;
    display: block;
    width: 100%;
    min-height: 300px
}
.ft_menu_arae {
    width: 100%;
    position: relative;
    float: left;
    padding: 50px 0 20px
}
.ft_menu_arae h2 {
    color: #2486c8;
    font-family: lato-medium;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 0
}
.ft_menu_arae .menu_area {
    display: inline-block;
    width: 100%;
    position: relative;
    min-height: 75px
}
.ft_menu_arae .menu_area ul {
    float: right;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 25px 0 0;
    border-right: none
}
.ft_menu_arae .menu_area ul li {
    list-style-type: none;
    float: left;
    margin: 0;
    width: 100%
}
.ft_menu_arae .menu_area ul li a:after {
    content: "\f0da";
    font-family: fontawesome;
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 7px
}
.ft_menu_arae .menu_area ul li a {
    text-decoration: none;
    text-transform: capitalize;
    position: relative;
    display: block;
    font-size: 15px;
    padding: 5px 20px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: #6d8dab
}
.ft_menu_arae .menu_area ul li a:hover {
    color: #fff;
    border-bottom: none
}
.fotter_logo {
    display: block;
    margin: 40px 25px 15px
}
.footer_menu_area {
    width: 100%;
    float: left;
    position: relative
}
.footer_menu_area ul {
    width: 100%;
    float: left;
    margin: 10px 5px;
    position: relative;
    padding: 0 20px
}
.footer_menu_area ul li {
    list-style-type: none;
    float: left;
    margin: 0
}
.footer_menu_area ul li a {
    color: #fff;
    font-size: 25px;
    padding: 0 20px
}
#subscribe .subscribe_btn,
#subscribe h2 {
    text-transform: uppercase;
    font-size: 14px
}
#subscribe {
    float: left;
    width: 100%;
    margin: 40px 0 10px
}
#subscribe h2 {
    color: #2486c8;
    font-family: lato-medium;
    margin: 10px 0 22px;
    font-weight: 600;
    padding: 0
}
#subscribe a,
.terms_area p,
.terms_area span {
    font-weight: 500;
    font-family: lato-medium;
    display: block
}
#subscribe input {
    color: #fff;
    background: 0 0;
    border: none;
    border-bottom: 1px solid #fff; width: 85%;
}
#subscribe input:focus {
    box-shadow: none
}
#subscribe .subscribe_btn {
    margin: 10px 0 20px;
    padding: 8px;
    /*background: #111;*/ border-radius:3px;
    color: #fff;
    border: 1px solid #00c0ff;
	background:#00c0ff; transition:0.2s; -webkit-transition:0.2s; -moz-transition:0.2s;
}
#subscribe .subscribe_btn:hover{ border: 1px solid #107992; background:#107992; transition:0.2s; -webkit-transition:0.2s; -moz-transition:0.2s;}
#subscribe a {
    font-size: 13px;
    padding: 5px 0;
    color: #819199
}
#subscribe a .fa {
    margin-right: 15px
}
#subscribe .subscribe_btn:focus {
    background: #00C0EF;
    color: #fff
}
.terms_area p,
.terms_area span {

    color: #819199;
    text-align: left;
    line-height: 20px
}
.footer_section_area_lower {
    background: #1e1e1e;
    display: block;
    width: 100%;
    min-height: 70px
}
.terms_area {
    float: left;
    width: 100%
}
.terms_area p {
    font-size: 12px;
    margin: 40px 0 10px
}
.terms_area span {
    font-size: 13px;
    margin: 0 0 10px
}
@media screen and (min-width: 980px) and (max-width: 1024px) {
    .in-play-btn {
        z-index: 9999
    }
    .sb-container {
        transform: scale(.8, .8)
    }
    .sb-ipad,
    .wwo-ipad {
        height: 355px
    }
    #partners>.row {
        padding-top: 55px
    }
    #contactus h4 {
        padding-left: 25px
    }
    .dropdown-menu {
        min-width: 140px
    }
    .dropdown .dropdown-menu li a {
        line-height: 32px!important
    }
}
.dropdown-menu>li.kopie>a {
    padding-left: 5px
}
.dropdown-submenu {
    position: relative
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px
}
.dropdown-submenu>a:after {
    border-color: transparent transparent transparent #333;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: " ";
    display: block;
    float: right;
    height: 0;
    margin-right: -10px;
    margin-top: 5px;
    width: 0
}
.dropdown-submenu:hover>a:after {
    border-left-color: #555
}
.dropdown-menu>.active>a:hover,
.dropdown-menu>li>a:hover {
    text-decoration: underline
}
@media (max-width: 767px) {
    .navbar-default .navbar-brand,
    .navbar-nav {
        display: inline
    }
    .contact-form ul li:nth-child(2),
    .contact-form ul li:nth-child(3),
    .desk-text {
        display: none
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff
    }
    .navbar-default .navbar-nav .dropdown-menu>li>a {
        color: red;
        background-color: #ccc;
        border-radius: 4px;
        margin-top: 2px
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #333
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        background-color: #ccc
    }
    .navbar-nav .open .dropdown-menu {
        border-bottom: 1px solid #fff;
        border-radius: 0
    }
    .dropdown-menu {
        padding-left: 10px
    }
    .dropdown-menu .dropdown-menu {
        padding-left: 20px
    }
    .dropdown-menu .dropdown-menu .dropdown-menu {
        padding-left: 30px
    }
    li.dropdown.open {
        border: 0 solid red
    }
    #Analyze>div,
    #Customize>div {
        height: auto
    }
    .in-container-fluid>.row {
        padding-top: 5px!important
    }
    .wwo-navigate li {
        font-size: 0
    }
    .ft_menu_arae .menu_area ul li a {
        font-size: 12px
    }
    .mob-text {
        display: block!important
    }
    .jqcloud-div .carousel-inner {
        height: 220px
    }
    .ft_menu_arae {
        padding: 20px 0
    }
    .ft_menu_arae .menu_area ul {
        padding: 5px 0 0
    }
    #subscribe {
        margin: 10px 0
    }
    #subscribe h2 {
        margin: 10px 0 5px
    }
}
@media (min-width: 768px) {
    ul.nav li:hover>ul.dropdown-menu {
        display: block
    }
    #navbar {
        text-align: center
    }
}

.cb-slideshow img {
        width : 100%;
        height : 100%;
    }
.dropdown-menu {
    top: 93%!important
}
.dropdown-menu li a:hover {
    text-decoration: none
}
.mob-text {
    font-size: 12px;
    text-align: center;
    line-height: 21px;
    margin-bottom: 5px;
    display: none
}
#mssg {
    font-size: 10px!important
}

.before_login_menu_mobile{ position:absolute; width:240px; background:#2486c8; z-index:99; right:-270px; display:none;}
.before_login_menu_mobile .navbar-nav{ margin:0px; float:left; width:100%; margin-top:10px;}
.before_login_menu_mobile .navbar-nav li a{text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px 5px 10px 20px !important; text-align:left;
    font-weight: 500; line-height: 18px;
    font-family: lato-regular;
    color: #fff;}
.before_login_menu_mobile .navbar-nav h3{text-transform: uppercase; text-align:left;  padding: 10px 5px 10px 20px !important; font-weight: 800; color: #fff; font-size: 15px;}

.destop_menu{ display:block;}
.cross{ position:absolute; right:25px; top:17px; display:none; font-size:25px; color:#03619c; z-index:9;}
.psuh_left{ width:100%; position:relative; overflow:hidden;}
.total_body_area{width:100%; position:relative; overflow:hidden;}

.opacity:after{ background:rgba(0,0,0,0.4); content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px; left:0px; z-index: 9999;}
.onclickMob{font-size:25px; color:#03619c;}

.before_login_menu_mobile .navbar-nav li a:focus{ background: #1c6596;}
.before_login_menu_mobile .navbar-nav li a:hover{ background: #1c6596;}


@media screen and (max-width: 767px) {
    .error{font-size: 8px;}
    .destop_menu {
        display: none;
    }

    header{ position: relative;}
    .before_login_menu_mobile {
        display: block;
    }

    .search_box {
        margin: 15px 0px;
    }

    .notification {
        float: right;
        position: absolute;
        right: 50px;
        top: 17px;
        text-align: center;
    }

    .user_area {
    }

    .user_area {
        float: left;
        border-radius: 0px;
        margin:10px 0px 0px !important;
        width: auto;
        height: auto;
        background: #175782;
        width: 100%;
        border-top: 1px solid #eee;
        padding-top: 15px;
    }

    .user_area a {
        padding: 0px !important;
        margin-left: 10px;
        width: 37px;
        height: 37px;
        background: #fff;
        border-radius: 100%;
        overflow: hidden;
        align-content: center;
        align-items: center;
        justify-content: center;
        display: flex !important;
        float: left;
    }

    .user_area a:hover {
        color: #fff !important;
        border-bottom: none !important;
    }

    .user_area h4 {
        width: 80%;
        font-family: lato-regular;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        display: inline-block;
        padding: 0px 15px 5px;
    }

    .user_area p {
        font-family: lato-regular;
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        display: inline-block;
        padding: 0px 5px 5px 0px;
    }

    .submenu {
        width: 100%;
        float: left;
        border-bottom: 1px solid #eee;
        margin-top: 30px;
    }
	
	.submenu li{ list-style-type: none;
    float: left;
    width: 100%;
    padding: 0px;
    margin: 1px 0px;}

    .submenu a {
        text-align: left;
        background: none;
        display: block !important;
        width: 100%;
        border-radius: 0px;
        padding-left: 10px !important;
        padding-right: 30px !important;
        color: #fff;
        font-weight: 500;
        font-family: lato-regular;
        font-size: 14px; text-decoration: none;
    }

}

#frmSubscribe .form-control{padding: 6px 0px;}
.minht{ min-height: 50px;}

/* ------- sankar edit 14-3-2017 ------- */
.cnt_btn_wraper{ width:85px; margin:0 auto; margin-top:10px; margin-bottom: 40px; padding: 0;  }

/* ------- sankar edit 14-3-2017 End --- */

.count_list{ height:250px; overflow-y: auto;
   }


/* ------------ Soumalya 08/05/2017 ----------- */
@media (max-width: 768px) and (min-width: 320px){
    .cb-slideshow img {
        width : auto;
        height : 100%;
    }
}  

@media screen and (max-width:700px) {
        .in-ticker {padding: 10px;margin-top: 0px;width: 100%}
        .in-ticker tr {   width:105%;  padding: 60px 20px;  }                        
    }

@media screen (max-width:821px) {
        .in-ticker {padding: 10px;margin-top: 0px;width: 135%}
        .in-ticker tr { width:100%;    }                         
    }  

@media not all and (min-resolution:.001dpcm) { @media
{
   .in-nav {
    font-size: 0;
    margin-top: 0 !important;
}


.in-nav li a {
font-size: 8px;
margin-top: 15px !important;
}

}}


/* Safari 7.1+ */

_::-webkit-full-page-media, _:future, :root .safari_only {

  .in-nav {
    font-size: 0;
    margin-top: 0 !important;;
}


.in-nav li a {
font-size: 8px;
margin-top: 15px !important;;
}

}

  