{% load staticfiles %}
{% load i18n static %}
{% load humanize %}
{% load investak_filters %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
<title>Investak Dashboard</title>


{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static "frontend/dashboard/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/font-awesome/css/font-awesome.min.css" %}" >
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/stylesheet.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "frontend/dashboard/dist/css/style_dashboard.css" %}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block js %}
    <script src="{% static "admin/js/jquery.1.11.3.min.js" %}"></script>
    <script src="{% static "admin/js/bootstrap.min.js" %}"></script>
    <script src="{% static "admin/js/datetime.js" %}"></script>
    <script src="{% static "investak/tinymce/tinymce.min.js" %}" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js" type="text/javascript"></script>
    <script src={% static "admin/js/jquery.blockUI.js" %}></script>
    <script src="{% static "admin/js/ckeditor/ckeditor.js" %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<script type="text/javascript">

$(document).ready(function(e) {


	$('.left_menu_area > ul > li:has(ul)').addClass("has-sub");

	$('.left_menu_area > ul > li > a').click(function() {
		var checkElement = $(this).next();

		$('.left_menu_area li').removeClass('active');
		$(this).closest('li').addClass('active');

		if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
		  $(this).closest('li').removeClass('active');
		  checkElement.slideUp('normal');
		}

		if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
		  $('.left_menu_area ul ul:visible').slideUp('normal');
		  checkElement.slideDown('normal');
		}

		if (checkElement.is('ul')) {
		  return false;
		} else {
		  return true;
		}
	});



	$("#inbox1").find('.arrowsClick').click(function(e){

		e.preventDefault();
		$(".inbox1").slideToggle();

	});

	$("#inbox2").find('.arrowsClick').click(function(e){

		e.preventDefault();
		$(".inbox2").slideToggle();
	});


$(document).ready(function(){

  $('.hoverPops').hover(function(){

       var tgt= $(".stock-info").html();
       var inx = $(this).parent().parent().index();

     $(this).parent().find('.pophover').append('<div id="feedback">'+tgt+'</div>');
     $(this).parent().find(".pophover").show();

  }, function() {

         $('.pophover #feedback').remove();
         $(this).parent().find(".pophover").hide();

  });


  $(".pan-menu").find('.pan-menu-ul').hide();

  $(".pan-menu-ul-title").find('a').click(function () {

   var adb = $(this).parent().parent().index();
   $(".pan-menu").find('.pan-menu-ul').eq(adb - 1).slideToggle();
   $(this).find('i').toggleClass('fa-chevron-up fa-chevron-down');

  });


  $(".arows").find('a').click(function(event){

    event.preventDefault();
    $(".dropdown_area").show();
  });


  $(".drop_cls").click(function(event){
    event.preventDefault();
    $(".dropdown_area").hide();

  });


        $('input.dropdown_area_checkbox').on('click', function(evt) {
   if($(".dropdown_area").find('input:checkbox:checked').length > 4) {

       alert('Can not checked more than 4 checkboxes');
       this.checked = false;
   }
});

     $("#btnHeader").click(function(e){
         $(".dropdown_area_checkbox").each(function(index){

            if(this.checked==false)
            {

                $("#th_"+$(this).attr('id')).hide();
            }
             else
            {

                $("#th_"+$(this).attr('id')).show();
            }
         });

         $(".inbox1").each(function(index){
            $(this).find('td').each (function() {
                alert($(this).attr('data-desc'));
            });
         });
    });


});

});


$(window).load(function(){

	var winH = $(document).height();
	$(".left_menu_area").height(winH);

});


</script>

<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<script type="text/javascript">
var exchange = 'NSE';
var cluster_id = '{{ cluster_details.0.id }}';
var prev_value = 0.00;
var company_array = new Array();
var sector_array = new Array();
var flag = 0;
var symbol = '';
var slider_counter = 0;
var slider_value = 0.00;
var tool_tip ='';
var select_exchange = 'NSE';
var select_value = 1;
var axis = '';
var is_custom = false;
function load_company_sector() {
        {% if sub_cluster_details %}
            {% for csd in sub_cluster_details %}
                company_array.push({{ csd.co_code }});
                slider_counter++;
            {% endfor %}
        {% endif %}
    console.log(company_array);
console.log(slider_counter);
}
function check_slider_count()
{
    var ln = $(".slider-range-min_1a").length;
    if(ln==1)
    {
        $(".slider-range-min_1a").slider({ disabled: true });
        $(".amount_1a").attr('readonly', true);
    }
    else {
        $(".amount_1a").attr('readonly', false);
        $(".slider-range-min_1a").slider({ disabled: false });
        $(".slider-range-min_1a").addClass("ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all");

    }
}
function add_to_table(co_code)
{
        $.ajax({
            url:"/frontend/add_co_code_details/",
            type:"GET",
            data:{co_code:co_code,exchange:select_exchange},
            beforeSend:function() {
              $.blockUI({ message: '<img src="/static/investak/images/loader.gif" />'
                });
            },
            success:function(response) {
                console.log(response);
                if(response.response.hasOwnProperty('error'))
                {
                    alert("No Details Found Of "+$(".searchBox").val());
                    $(".searchBox").val('');
                    $.unblockUI();
                }
                else {
                    var company_code = parseInt(response.response.data.Companylist.company.co_code) != null ? parseInt(response.response.data.Companylist.company.co_code) : 0;
                var sector_name = response.response.data.Companylist.company.sectorname != null ? response.response.data.Companylist.company.sectorname : 'N/A';
                var co_name = response.response.data.Companylist.company.lname != null ? response.response.data.Companylist.company.lname : 'N/A';
                var ltp = parseFloat(response.response.data.Companylist.company.ltp) != null  ? parseFloat(response.response.data.Companylist.company.ltp) : '0.00';
                var map = parseFloat(response.response.data.Companylist.company.mcap) != null ? parseFloat(response.response.data.Companylist.company.mcap) : '0.00' ;
                var r1yearret = parseFloat(response.response.data.Companylist.company.r1yearret) != null ? parseFloat(response.response.data.Companylist.company.r1yearret) : '0.00';
                var avgvol_3m = response.response.data.Companylist.company.avgvol_3m != null ? response.response.data.Companylist.company.avgvol_3m : '0.00';
                var beta = response.response.data.Companylist.company.beta != null ? response.response.data.Companylist.company.beta : '0.00';
                var dayhigh = response.response.data.Companylist.company.dayhigh != null ? response.response.data.Companylist.company.dayhigh : '0.00';
                var daylow = response.response.data.Companylist.company.daylow != null ? response.response.data.Companylist.company.daylow : '0.00' ;
                var dayopen = response.response.data.Companylist.company.dayopen != null ? response.response.data.Companylist.company.dayopen : '0.00';
                var dayvolume = response.response.data.Companylist.company.dayvolume != null ? response.response.data.Companylist.company.dayvolume : '0.00';
                var divyield = response.response.data.Companylist.company.divyield != null ? response.response.data.Companylist.company.divyield : '0.00';
                var eps = response.response.data.Companylist.company.eps != null ? response.response.data.Companylist.company.eps : '0.00';
                var hi_52_wk = response.response.data.Companylist.company.hi_52_wk != null ? response.response.data.Companylist.company.hi_52_wk : '0.00';
                var lo_52_wk = response.response.data.Companylist.company.lo_52_wk != null ? response.response.data.Companylist.company.lo_52_wk : '0.00';
                var pe = response.response.data.Companylist.company.pe != null ? response.response.data.Companylist.company.pe : '0.00';
                var perchange = response.response.data.Companylist.company.perchange != null ? response.response.data.Companylist.company.perchange : '0.00';
                var prevclose = response.response.data.Companylist.company.prevclose != null ? response.response.data.Companylist.company.prevclose : '0.00';
                var pricediff = response.response.data.Companylist.company.pricediff != null ? response.response.data.Companylist.company.pricediff : '0.00';
                var r1mret = response.response.data.Companylist.company.r1mret != null ? response.response.data.Companylist.company.r1mret : '0.00';
                var r6mret = response.response.data.Companylist.company.r6mret != null ? response.response.data.Companylist.company.r6mret :'0.00';
                var sc_code = response.response.data.Companylist.company.sc_code != null ? response.response.data.Companylist.company.sc_code : '0.00';
                var tradedate = response.response.data.Companylist.company.tradedate != null ? response.response.data.Companylist.company.tradedate : '0.00';
                var class_year ='';
                var div_year ='';
                map = parseFloat(map/100.00);
                console.log(beta);
                if(r1yearret.toFixed(2)>= 0.00)
                {
                    class_year = 'fa fa-long-arrow-up';
                    div_year = 'baseDecrese_up';
                }
                else {
                   class_year = 'fa fa-long-arrow-down';
                   div_year = 'baseDecrese_dwn';
                }

                    sector_array.push(sector_name);
                    flag++;

                    if($.inArray(company_code,company_array) === -1)
                    {
                        slider_counter++;
                        company_array.push(company_code);
                        slider_value = (100.00/company_array.length);
                        prev_value = (100.00/company_array.length);

                        $(".tbody").append('<tr class="inbox1"  company_code="'+company_code+'" company_name="'+co_name+'" dayopen="'+dayopen+'" dayhigh="'+dayhigh+'" daylow="'+daylow+'"  price="'+ltp+'" dayvolume="'+dayvolume+'" tradedate="'+tradedate+'" prevclose="'+prevclose+'" pricediff="'+pricediff+'" perchange="'+perchange+'" beta="'+beta+'" hi_52_wk="'+hi_52_wk+'" lo_52_wk="'+lo_52_wk+'" avgvol_3m="'+avgvol_3m+'" eps="'+eps+'" divyield="'+divyield+'" r1mret="'+r1mret+'" r6mret="'+r6mret+'" sectorname="'+sector_name+'" m_cap="'+map+'" r1yearret="'+r1yearret+'" pe="'+pe+'" exchange="'+select_exchange+'" data-stock-info  >' + '<td>' +
                            '<span class="cross" style="cursor:pointer!important;" >' +
                                '<i class="fa fa-times" aria-hidden="true" co-id="'+co_code+'" i_flag="'+flag+'" sec-name="'+sector_name+'"></i>' +
                            '</span>' +
                        '</td>' +
                        '<td>'+ co_name+'&nbsp;<span class="glyphicon glyphicon-share stock-info" data-toggle="tooltip" data-original-title="Share" style="cursor:pointer; padding-left:5px; font-size:12px;"></span></td>' +
                        '<td><i class="fa" aria-hidden="true"></i></td>' +
                        '<td>' +
                            '<div class="slider_inpust"><div class="sliders"> ' +
                                '<div id="slider-range-min_1a_'+slider_counter+'" data-id="'+slider_counter+'" data-co-code="'+co_code+'" data-value="0" class="slider-range-min_1a">' + '</div>' +
                            '</div> <input type="text" id="amount_1a_'+slider_counter+'" class="amount_1a" text-data="'+slider_counter+'" ><span style="float: right;">%</span> </div> ' +
                         '' +
                        '</td>' +
                        '<td>'+symbol+'</td>' +
                        '<td data-desc="ltp">Rs.'+ltp.toFixed(2)+'</td>' +
                        '<td data-desc="mcap">'+map.toFixed(2)+'B</td>' +
                        '<td data-desc="r1_yearret">' +
                          '<div class="'+div_year+'"><p><span><i aria-hidden="true" class="'+class_year+'"></i></span>'+r1yearret.toFixed(2)+'%</p></div>' +
                        '</td>' +
                        '<td>'+pe+'B</td><td style="display:none;" data-desc="div_yield">'+parseFloat(divyield).toFixed(2)+'</td>' +
                '<td style="display:none;" data-desc="r1_mret">'+parseFloat(r1mret).toFixed(2)+'</td><td style="display:none;" data-desc="r6_mret">'+parseFloat(r6mret).toFixed(2)+'</td>' +
                '</tr>');
                $(".sell-weight").change();
                calculate_total_weigh();
                    }
                else {
                        alert("Company Already Added");
                        $.unblockUI();
                    }

                }

            },
            error:function(xhr) {

            }
        });


    }
function generate_slider() {
    var co_code_list = '';
        var weigh_list = '';
        $(".slider-range-min_1a").each(function(index, Element){
             $(this ).slider({
              range: "min",
              step: 0.01,
              value: parseFloat($(this).attr('data-value')).toFixed(2),
              min: 0.00,
              max: 100.00,
              start: function(event, ui) {
                        prev_value = ui.value;
              },
              slide: function( event, ui ) {
                $( "#amount_1a_"+$( this).attr('data-id') ).val( ui.value.toFixed(2) );
              },
              change: function(event,ui) {

              },
                 stop: function(event,ui)
                 {
                     $.blockUI({ message: '<img src="/static/investak/images/loader.gif" />'
                     });
                     $( "#amount_1a_"+$( this).attr('data-id') ).val( ui.value.toFixed(2) );
                     change_slider_value(ui.value,$( this).attr('data-id'));


                 }
            });
            $( "#amount_1a_"+$( this).attr('data-id') ).val( $( this ).slider( "value" ).toFixed(2)  );
            co_code_list = co_code_list + $(this).attr('data-co-code') +",";
            weigh_list = weigh_list + $(this).slider('value') + ",";
        });

        historical_graph(cluster_id,co_code_list,weigh_list);
}
function calculate_total_weigh() {
        var total_weigh = 0;
        var ind = '';
        var last_val = 0.00;
        $(".amount_1a").each(function(index){
            total_weigh = parseFloat(parseFloat(total_weigh) + parseFloat($(this).val()));
            ind = index;
            last_val = parseFloat($(this).val());
        });
        if(!is_custom){
          var diff = parseFloat(100-parseFloat(total_weigh).toFixed(2)).toFixed(2);
          if(diff > 0.00){
            adjust_val = parseFloat(last_val)+parseFloat(diff);
            adjust_val = adjust_val.toFixed(2)
            $(".amount_1a").eq(ind).val(adjust_val);
            $("#slider-range-min_1a_"+ind).attr("data-value",adjust_val);
            total_weigh = 100.00;
          }
        }
        $("#total-weigh").html('Total Weightage : '+parseFloat(total_weigh).toFixed(2)+'%');
        $("#remain-weigh").html('Remaining Weightage : '+parseFloat(100 - parseFloat(total_weigh).toFixed(2)).toFixed(2)+'%');
    }
 function load_slider() {
    $(".sell-weight").change(function(e) {

        var weight_value = $(".sell-weight").val();
        if (weight_value == "EQ") {
             var rowCount = $(".table > tbody > tr.inbox1").length;
            if(rowCount > 0) {
                $(".slider-range-min_1a").slider({disabled: true});
                $.blockUI({ message: '<img src="/static/investak/images/loader.gif" />'
            });
                generate_slider();
            }

        }
        else {
             var rowCount = $(".table > tbody > tr.inbox1").length;
            if(rowCount > 0) {
            $.blockUI({ message: '<img src="/static/investak/images/loader.gif" />'
        });
            $(".slider-range-min_1a").slider({disabled: false});
            $(".slider-range-min_1a").addClass("ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all");
            generate_slider();
            check_slider_count();
            }
        }

    });
}
 function readURL(input)
{

    if (input.files && input.files[0]) {
    var f_name = input.files[0].name;
    var ext = f_name.split(".").pop();
    if(ext=="jpg" || ext=="JPG" || ext=="png" || ext=="PNG" || ext=="GIF" || ext=="gif" || ext=="bmp" || ext=="BMP") {

        var reader = new FileReader();

        reader.onload = function (e) {
            $(".fileUpload").css("background","url("+e.target.result+") no-repeat");
            //$('#img_preview').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
        $("#hidden_new_cluster_image").val(input.files[0].name);

    }
    else {
        alert("Please Select Image File");
        $(".fileUpload").css('background','#84a3b1 none repeat scroll 0 0');

    }

}
}
$(document).ready(function(e) {
    is_custom = $(".sell-weight").val() == "EQ"?false:true;
    //i = $('.table tr').length-1;
    load_company_sector();
    load_weight();

    load_slider();
    $("#select_exchange").change(function(e){
            select_exchange = $(this).val();
            select_value = $("#select_value").val();
            var rowCount = $(".table > tbody > tr.inbox1").length;
            if(rowCount > 0) {
                 $.blockUI({ message: '<img src="/static/investak/images/loader.gif" />'
                });
                var co_code_list = '';
                var weigh_list = '';
                $(".slider-range-min_1a").each(function (index, Element) {

                    co_code_list = co_code_list + $(this).attr('data-co-code') + ",";
                    weigh_list = weigh_list + $(this).slider('value') + ",";
                });
                historical_graph(cluster_id,co_code_list , weigh_list);
            }
        });
        $("#select_value").change(function(e){
                select_exchange = $("#select_exchange").val();
                select_value = $(this).val();
                var rowCount = $(".table > tbody > tr.inbox1").length;
                if(rowCount > 0) {
                     $.blockUI({ message: '<img src="/static/investak/images/loader.gif" />'
                    });
                    var co_code_list = '';
                    var weigh_list = '';
                    $(".slider-range-min_1a").each(function (index, Element) {

                        co_code_list = co_code_list + $(this).attr('data-co-code') + ",";
                        weigh_list = weigh_list + $(this).slider('value') + ",";
                    });
                    historical_graph(cluster_id,co_code_list , weigh_list);
                }
            });
    $("#bse").click(function(e){

            if($("#bse").is(":checked"))
            {
                $("#nse").attr('checked',false);
                exchange = "BSE";

            }

            if(!$(this).is(':checked')) {
                e.preventDefault();

                return false;
            }
        });
        $("#nse").click(function(e){

            if($("#nse").is(":checked"))
            {
                $("#bse").attr('checked',false);
                 exchange = "NSE";

            }
            if(!$(this).is(':checked')) {
                e.preventDefault();

                return false;
            }

        });
    $(".ddl-category").change(function(e){
        var cat_id = $(this).val();

        if(cat_id)
        {
            $.ajax({
               type:"POST",
                url:"/frontend/child_category_load/",
                data:{cat_id:cat_id,csrfmiddlewaretoken:'{{ csrf_token }}'},
                async:false,
                beforeSend:function(){

                },
                success:function(data)
                {
                    $('#cluster_sub_category').find('option:gt(0)').remove();
                    if(data.length>0)
                    {
                        for(var k=0;k<data.length;k++)
                        {
                            $("#cluster_sub_category").append('<option value="'+data[k].id+'">'+data[k].cat_name+'</option>');
                        }
                    }


                },
                error:function(data){
                    alert('Could Not Load Child Category');

                }
            });
        }
    });
    $(".searchBox").autocomplete({
            minLength: 2,
            source: "/frontend/get_companies/",
            select: function (event, ui) {
                event.preventDefault();

                $(".searchBox").val(ui.item.label);
                $.ajax({
                   type:"POST",
                    url:"/frontend/selectCompany/",
                    data:{co_code:ui.item.value,csrfmiddlewaretoken:'{{ csrf_token }}'},
                    beforeSend:function()
                    {

                    },
                    success:function(response)
                    {
                        symbol = response[0].symbol;
                        add_to_table(ui.item.value);
                    },
                    error:function(xhr)
                    {

                    }
                });
            },
            focus: function (event, ui) {

            }
        });




});
$(document).on('click','.cross > i', function(e) {

        var co_code = $(this).attr('co-id');
        var sec_name = $(this).attr('sec-name');
        var i_flag = $(this).attr('i_flag');
        var co_code_list = '';
        var weigh_list = '';
        company_array = $.grep(company_array, function (value) {
            return value != co_code;
        });
        sector_array = $.grep(sector_array, function (value) {
            return value != sec_name;
        });
        var temp = $(this).closest('tr').find('.slider-range-min_1a').slider('value');
        $(this).closest('tr').remove();
        slider_counter = slider_counter -1;
        var prev_row_count =  $('.inbox'+i_flag+'').length;

        if((prev_row_count) == 0)
        {
            //$(this).closest('tr').prev().remove();
            $('#inbox'+i_flag+'').remove();
            flag=flag-1;
        }
        var temp_value = parseFloat(temp / $(".table > tbody > tr.inbox1").length);
        $(".amount_1a").each(function(index) {
            $(this).attr('text-data', (index+1));
            $(this).attr('id', "amount_1a_"+(index+1));
        });
        $(".slider-range-min_1a").each(function (index, Element) {
            $(this).attr('data-id',(index+1));
            $(this).attr('id',"slider-range-min_1a_"+(index+1));
            $(this).slider({
                range: "min",
                step: 0.01,
                value: parseFloat($(this).slider('value') + temp_value).toFixed(2),
                min: 0.00,
                max: 100.00
            });
            var value = parseFloat($(this).slider('value'));

            $(this).attr('data-value', parseFloat(value).toFixed(2));
            $("#amount_1a_" + $(this).attr('data-id')).val(value.toFixed(2));

            co_code_list = co_code_list + $(this).attr('data-co-code') + ",";
            weigh_list = weigh_list + $(this).slider('value') + ",";
        });
        slider_value = (100.00/company_array.length);
        if($(".table > tbody > tr.inbox1").length > 0)
        {
            $.blockUI({ message: '<img src="/static/investak/images/loader.gif" />'
        });
            historical_graph(cluster_id,co_code_list , weigh_list);
        }
        else {
            //$('#historicalgraph').html('<h2>Historical Graph</h2><div class="boxes" ><img class="img-responsive" src="/static/frontend/dashboard/images/graph2.png"></div> ');
            window.location.href="/admin/edit_cluster/{{ cluster_id }}";
        }
        check_slider_count();
        $(".searchBox").val('');
    });
$(document).on('keypress','.amount_1a', function(e){
    if(e.keyCode==13)
    {
        $.blockUI({ message: '<img src="/static/investak/images/loader.gif" />'
        });
        var text_data = $(this).attr('text-data');
        var value = $(this).val();

        prev_value = $("#slider-range-min_1a_"+text_data).slider('value');

        $("#slider-range-min_1a_"+text_data).slider({
              range: "min",
              value: parseFloat(value).toFixed(2),
              min: 0.00,
              max: 100.00
            });
        change_slider_value(parseFloat(value).toFixed(2),text_data);

    }
});

$(document).on('keyup','.amount_1a', function(e){
         var val = $(this).val();
         var text_data = $(this).attr('text-data');
         prev_value = $("#slider-range-min_1a_"+text_data).slider('value');
        if(isNaN(val)){
             val = val.replace(/[^0-9\.]/g,'');
             if(val.split('.').length>2)
                 val =val.replace(/\.+$/,"");
        }
        if(val > 100) {
            $(this).val(prev_value);
        }
        else {
            $(this).val(val);
        }
        calculate_total_weigh();
    });

$(document).on('click','.stock-info',function(e){
            var stock_info = $(this).closest('tr').attr('data-stock-info');
            $("#txtNotify").val(stock_info);
             var rowIndex = $('.table > tbody > tr').index($(this).closest('tr'));
            $(".dialog-message").dialog({
            modal: true,
            draggable: false,
            resizable: false,
            position: ['center', 'middle'],
            show: 'blind',
            hide: 'blind',
            width: 400,
            dialogClass: 'ui-dialog-osx',
            buttons: {
                "Submit": function() {
                    var txtNotify = $.trim($("#txtNotify").val());
                    if(txtNotify!="")
                    {
                        $('.table > tbody > tr').eq(rowIndex).attr('data-stock-info',txtNotify);
                    }
                    $('.dialog-message').dialog("close");
                }
            }
        });
});
function historical_graph(cluster_id,co_code,weightage)
{
    $.ajax({
        url:"/frontend/historical_graph/",
        type:"GET",
        data:{cluster_id:cluster_id,co_code:co_code,exchange:exchange,weightage:weightage},
        success:function(response) {
            Investak_Historical(response);
        },
        error:function(xhr) {
            alert("Error occurred in historical graph.");
        }
    });
}

function Investak_Historical(response)
{
   var obj1 = $.parseJSON(JSON.stringify(response));
    //console.log(obj1);
    var object = new Object();
    var object1 = new Object();
    data_graph = new Array();
    data_graph_idx = new Array();
    $.unblockUI();
   for(var i=0;i<obj1['response']['data']['Companylist']['company'].length;i++)
   {
       var str = obj1['response']['data']['Companylist']['company'][i].date;
       str = str.replace("AM","");
       str = str.replace("12:00:00","");
       myDate = str.split("/");
       var newDate=myDate[1]+"/"+myDate[0]+"/"+myDate[2];
       if(select_value==1)
           {
                var cluster_value = parseFloat(obj1['response']['data']['Companylist']['company'][i].clustervalue);
                var index_value = parseFloat(obj1['response']['data']['Companylist']['company'][i].indexvalue);
                object.data = [new Date(myDate[2],myDate[0],myDate[1]).getTime(),parseFloat(cluster_value.toFixed(2))];
                object1.data = [new Date(myDate[2],myDate[0],myDate[1]).getTime(),parseFloat(index_value.toFixed(2))];

               axis =  {
                opposite:false,
                allowDecimals: false,
                 labels: {
                    formatter: function () {
                            return this.value;
                        }
                }
            };
               tool_tip = {
                   valuePrefix: 'Rs.',
                   valueSuffix: ' /-'
               };
           }
           else {
               var ret = parseFloat(obj1['response']['data']['Companylist']['company'][i].ret);
               var ret_idx =  parseFloat(obj1['response']['data']['Companylist']['company'][i].ret_idx);

                object.data = [new Date(myDate[2],myDate[0],myDate[1]).getTime(),parseFloat(ret.toFixed(2))];
                object1.data = [new Date(myDate[2],myDate[0],myDate[1]).getTime(),parseFloat(ret_idx.toFixed(2))];
               axis =  {
                opposite:false,
                allowDecimals: false,
                 labels: {
                    formatter: function () {
                            return this.value + "%";
                        }
                }
            };
                tool_tip = {
                   valuePrefix: '',
                   valueSuffix: ' %'
               };
           }

       data_graph.push(object.data);
       data_graph_idx.push(object1.data);
   }


    data_graph.sort();
    data_graph_idx.sort();
    display_graph();
}
function display_graph()
{
    $('#historicalgraph').closest('img').hide();
     Highcharts.setOptions({
		lang: {
			thousandsSep: ','
		}
	});
     $('#historicalgraph').highcharts('StockChart', {
     credits: {
            enabled: false
      },
      rangeSelector: {
            enabled: false
        },
     exporting: {
         enabled: false
        },
       chart: {
        renderTo: 'historicalgraph',
        zoomType: 'x'
            },
           xAxis: {
        events: {
            setExtremes: function (e) {
                if(typeof e.min == 'undefined' && typeof e.max == 'undefined'){
                     console.log('reset zoom clicked');
                } else {
                     console.log('zoom-in');
                }
            }
        }
    },
         tooltip: tool_tip,
         yAxis: axis,
            series : [{
                data : data_graph
            },
            {
                data: data_graph_idx
            }
            ]
        },
         function(chart) {

            chart.series[0].name = '{{ cluster_details.0.cluster_name }}';
            if(select_exchange == "BSE") {
                chart.series[1].name='Sensex';
            }
            else {
                chart.series[1].name='Nifty';
            }
            chart.redraw();


    });

    $(".searchBox").val('');

}
function change_slider_value(sld_value,data_id)
{
        var sum_rem_value = 100-parseFloat(prev_value);
        var inc_value = Math.abs((parseFloat(sld_value)-parseFloat(prev_value)));
        var rem_value = 0.00;
        var co_code_list = '';
        var weigh_list = '';

        $(".slider-range-min_1a").each(function(index, Element){

                var local_data_id = parseInt($(this).attr('data-id'));
                /* please remove the 1==2 expression to access the if block */
                if(local_data_id!=data_id && 1==2)
                {

                    if(sum_rem_value==0)
                    {
                        var counter_length = $(".table > tbody > tr.inbox1").length;
                        console.log(counter_length);
                        rem_value = (inc_value/(counter_length-1));
                        //rem_value = 0;
                        console.log(rem_value+"If");
                    }
                    else {
                         if(sld_value>prev_value)
                        {

                            rem_value = parseFloat($( this ).slider( "value" )) - ((parseFloat($( this ).slider( "value" ))/parseFloat(sum_rem_value))*parseFloat(inc_value));


                        }
                        else if(sld_value<=prev_value)
                        {
                            rem_value = parseFloat($( this ).slider( "value" )) + ((parseFloat($( this ).slider( "value" ))/parseFloat(sum_rem_value))*parseFloat(inc_value));

                        }
                        console.log(rem_value);
                    }

                      }
                      rem_value = parseFloat($( this ).slider( "value" ));
                     $(this ).slider({
                      range: "min",
                      step: 0.01,
                      value: rem_value.toFixed(2),
                      min: 0.00,
                      max: 100.00,
                      start: function(event, ui) {
                            prev_value = ui.value;
                        },
                      slide: function( event, ui ) {
                        $( "#amount_1a_"+$( this).attr('data-id') ).val( ui.value.toFixed(2) );

                      },
                      change: function(event,ui) {

                      },
                     stop: function(event,ui)
                     {

                         change_slider_value(ui.value,$( this).attr('data-id'));
                         //historical_graph($(this).attr('data-co-code'),ui.value);

                     }
                    });
                    $( "#amount_1a_"+$( this).attr('data-id') ).val( $( this ).slider( "value" ).toFixed(2) );

                
                    co_code_list = co_code_list + $(this).attr('data-co-code') +",";
                    weigh_list = weigh_list + $(this).slider('value') + ",";
                    $(this).attr('data-value',parseFloat($(this).slider('value')));

            });
        historical_graph(cluster_id,co_code_list, weigh_list);
        calculate_total_weigh();
}
function load_weight()
{
    var cluster_id = '{{ cluster_details.0.id }}';
    if(cluster_id)
    {

        $.ajax({
            type:"POST",
            url:"/admin/load_weightage/",
            async:false,
            data:{cluster_id:cluster_id,csrfmiddlewaretoken:'{{ csrf_token }}'},
            success:function(response)
            {
                if(response.length > 0) {
                    var co_code = '';
                    var weightage = '';
                    for(var k=0;k<response.length;k++)
                    {
                        if(k<response.length-1)
                        {
                            co_code=co_code+response[k].co_code+",";
                            weightage=weightage+response[k].weightage+",";
                        }
                        else
                        {
                            co_code=co_code+response[k].co_code;
                            weightage=weightage+response[k].weightage;
                        }


                    }
                    //historical_graph(cluster_id,co_code,weightage);
                    generate_slider();
                }

            }

        });
    }
}

$(document).on('click','.viewusrdtls',function(e) {
   $('.viewusrdtls').removeClass('deactive').addClass('active');
    $(this).removeClass('active').addClass('deactive');
    var infoModal = $('#usrModal');
    var cluster_id = $(this).attr('data-id');
    //email_content = $(this).closest('.txt_desc').html();
    //alert(newsletter_id);
    $.ajax({
        type: "GET",
        url:"/admin/view_orderuser/",
        data:{ cluster_id:cluster_id },
        async:false,
        beforeSend:function() {
         $.blockUI({ message: 'Please Wait...' });
        },
        success:function(response){
        //alert(response);
            var content = '<table class="table"><thead><tr><th><span class="mail_check_bx"><input type="checkbox" class="parent" data-group=".group1" name="CheckAll" style="position:static !important; left:0 !important;" value="CheckAll"> Check All</span></th><th width="5%">Email</th></tr></thead><tbody>';
            if(response.length>0)
            {
               var i=1;
                $.each(response, function (index, value) {
                 //content += '<tr><td>' +  i + '</td>';
                 //<input type="hidden" name="newsltr_id" id="newsltr_id" value="' +  value.newsltr_id + '" >
                 content += '<tr><td><span class="mail_check_bx"><input type="checkbox" style="position:static !important; left:0 !important;" class="group1" id="email_ids" name="email_ids[]" value="' +  value.email + '"></span></td>';
                 content += '<td>' +  value.email + '</td></tr>';
                 i++;
                });

            }else{
                 content += '<tr><td colspan="3">NO DATA FOUND.</td>';
            }
            content += "</tbody></table>";
            $('#notificationsection').html(content);
            infoModal.find('#modal-body')[0].innerHTML = content;
            infoModal.modal();
            $.unblockUI();
        },
        error:function(xhr) {
            $.unblockUI();
            alert("Error Occurred");
        }

    });
});
function closeUserList(){
    $("#email_model_error").text("");
    var is_checked = $(".viewusrdtls").prop("checked");
    if(is_checked) $(".viewusrdtls").prop("checked",false);
}

$(document).on('click','.parent',function(e){
      if($(this).is(':checked')) {
          $(".group1").prop('checked', true);
      }
      else {
          $(".group1").prop('checked', false);
      }
  });
</script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>
    <script type="text/javascript" src="{% static "frontend/dashboard/dist/js/notify.min.js" %}"></script>


<script type="text/javascript">
    $(document).ready(function(e){
        calculate_total_weigh();
        $(".done").click(function(e){
            //$("#email_model_error").text("");
            var cluster_name = $.trim($("#cluster_name").val());
            var cluster_category = $.trim($("#cluster_category").val());
            var cluster_sub_category = $.trim($("#cluster_sub_category").val());
            var cluster_full_desc = $.trim(CKEDITOR.instances['cluster_full_desc'].getData());
            var rebal_freq = $.trim($("#rebal_freq").val());
            if(cluster_name == "" || cluster_category == "" || cluster_sub_category == "" || cluster_full_desc == "" || rebal_freq == ""){
              $("#email_model_error").text("STAK form did not properly filled up.");
            } else {
              $("#frmCluster").submit();
            }
        });
        $("#cluster_image").change(function(e){
           readURL(this);
        });
        $("#frmCluster").validate({
                rules: {
                    cluster_name: {
                        required:true
                    },
                    cluster_category: {
                        required:true
                    },
                    cluster_sub_category : {
                      required:true
                    },
                    rebal_freq: {
                      required:true
                    },
                    cluster_full_desc:{
                        required: function()
                        {
                         CKEDITOR.instances.cluster_full_desc.updateElement();
                        }
                    }
                },
                messages: {
                     cluster_name: {
                        required:"Please Enter Cluster Name"
                    },
                    cluster_category: {
                        required:"Please Select Cluster Category"
                    },
                    cluster_sub_category : {
                      required:"Please Select Cluster Sub-Category"
                    },
                    cluster_full_desc:{
                        required:"Please Enter Cluster Description"
                    },

                    rebal_freq: {
                      required:"Please Enter Rebalancing Frequency"
                    }
                },
                submitHandler:function(form)
                {
                    //$('#usrModal').modal('show');
                    var data = new FormData($('form').get(0));
                    data.append('cluster_full_desc', CKEDITOR.instances['cluster_full_desc'].getData());
                    var sum = 0;
                    $(".amount_1a").each(function(index){

                       if(!isNaN(this.value) && this.value.length!=0) {

				        sum += parseFloat(this.value);
			        }
                    });
                    var check_user_count = $("[name^=email_ids]:checked").length;
                    var check_all = $("[name=CheckAll]:checked").length;
                    //$("#email_model_error").text("");
                    var cluster_name = $.trim($("#cluster_name").val());
                    var cluster_category = $.trim($("#cluster_category").val());
                    var cluster_sub_category = $.trim($("#cluster_sub_category").val());
                    var cluster_full_desc = $.trim(CKEDITOR.instances['cluster_full_desc'].getData());
                    var rebal_freq = $.trim($("#rebal_freq").val());
                    if(cluster_name == "" || cluster_category == "" || cluster_sub_category == "" || cluster_full_desc == "" || rebal_freq == ""){
                      $("#email_model_error").text("Form did not properly filled up.");
                    } else if($("#send_alert_box").is(':checked') && (check_user_count > 0 || check_all > 0)){
                        /*check_alert = 'YES';
                        email_ids = [];
                        $("[name^=email_ids]:checked").each(function(i,e){
                          email_ids.push($(this).val());
                        });*/
                    } else {
                      $("#email_model_error").text("Please select user.");
                      return false;
                    }
                    if(sum.toFixed(2) == 100.00) {
                        $.ajax({
                            url: "/admin/updateCluster/",
                            type: "POST",
                            data: data,
                            cache: false,
                            processData: false,
                            contentType: false,
                            beforeSend: function () {
                                $.blockUI({
                                    message: '<img src="/static/investak/images/loader.gif" />'
                                });
                            },
                            success: function (data) {

                                $("#hid_cluster_id").val(data);
                                add_cluster_details(data);
                            }
                        });
                    }
                    else {
                        alert("Total company weightage must be 100%");
                    }
                }
            });

        $(document).on('click','.contor_bx input[type=checkbox]',function(){
          if(confirm("Are you sure you want to change the exchange? All stock under current exchange will be deleted.")) {
            $(".cross > i").each(function(){
              var co_code = $(this).attr('co-id');
                var sec_name = $(this).attr('sec-name');
                var i_flag = $(this).attr('i_flag');
                var co_code_list = '';
                var weigh_list = '';
                company_array = $.grep(company_array, function (value) {
                    return value != co_code;
                });
                sector_array = $.grep(sector_array, function (value) {
                    return value != sec_name;
                });
                var temp = $(this).closest('tr').find('.slider-range-min_1a').slider('value');
                $(this).closest('tr').remove();
                slider_counter = slider_counter -1;
                var prev_row_count =  $('.inbox'+i_flag+'').length;

                if((prev_row_count) == 0)
                {
                    //$(this).closest('tr').prev().remove();
                    $('#inbox'+i_flag+'').remove();
                    flag=flag-1;
                }
                var temp_value = parseFloat(temp / $(".table > tbody > tr.inbox1").length);
                $(".amount_1a").each(function(index) {
                    $(this).attr('text-data', (index+1));
                    $(this).attr('id', "amount_1a_"+(index+1));
                });
                $(".slider-range-min_1a").each(function (index, Element) {
                    $(this).attr('data-id',(index+1));
                    $(this).attr('id',"slider-range-min_1a_"+(index+1));
                    $(this).slider({
                        range: "min",
                        step: 0.01,
                        value: parseFloat($(this).slider('value') + temp_value).toFixed(2),
                        min: 0.00,
                        max: 100.00
                    });
                    var value = parseFloat($(this).slider('value'));

                    $(this).attr('data-value', parseFloat(value).toFixed(2));
                    $("#amount_1a_" + $(this).attr('data-id')).val(value.toFixed(2) );

                    co_code_list = co_code_list + $(this).attr('data-co-code') + ",";
                    weigh_list = weigh_list + $(this).slider('value') + ",";
                });
                slider_value = (100.00/company_array.length);
                if($(".table > tbody > tr.inbox1").length > 0)
                {
                    //$.blockUI({ message: '<img src="/static/investak/images/loader.gif" />'});
                    //historical_graph(co_code_list , weigh_list);
                    $('#historicalgraph').html("");
                }
                else {
                    //$('#historicalgraph').html('<h2>Historical Graph</h2><div class="boxes" ><img class="img-responsive" src="/static/frontend/dashboard/images/graph2.png"></div> ');
                    //window.location.href="/admin/";
                }
                check_slider_count();
                $(".searchBox").val('');
            });
          } else {
              window.location.reload();
          }
        });

        $(".nav-tabs li a").on('click',function(e){
            var inner_html = $(this).closest('a').html();
            if(inner_html=="Watchlist")
            {
                $.ajax({
                    type:"POST",
                    url:"/frontend/watchlist/",
                    async:false,
                    data:{ csrfmiddlewaretoken:'{{ csrf_token }}'},
                    beforeSend:function()
                    {

                    },
                    success:function(data)
                    {


                        for(var k=0;k<data.length;k++)
                        {
                            if(data[k].one_year_rate<0)
                            {
                                data_class = "fa fa-long-arrow-down";
                            }
                            else {
                                data_class = "fa fa-long-arrow-up";
                            }
                            $("#content").append('<div class="builtBox"><div class="builtBox_img_box"><img src="/static/media/images/cluster/'+data[k].cluster_image+'"></a></div><div class="builtBox_txt_area"> <h2>'+data[k].cluster_name+'</h2> <span>Created On : '+data[k].created_on+'</span> <p>'+data[k].cluster_desc+'</p> </div> <div class="builtBox_btn_area"> <a class="mybtn delete-wishlist" href="javascript:void(0)" data-id='+data[k].cluster_id+'>Delete</a> </div> <div class="fapercent"> <span>Return To Date:</span><p><i class="'+data_class+'" aria-hidden="true"></i>'+data[k].one_year_rate.toFixed(2)+'%</p> </div> <div class="social_area"> <a href="#" class="after_fb"><i aria-hidden="true" class="fa fa-facebook"></i>Share</a> <a href="#" class="after_mail"><i aria-hidden="true" class="fa fa-envelope"></i>E-Mail</a> </div> </div>');
                        }


                    },
                    error:function(xhr)
                    {
                        alert("Error Occurred in watch list section.");

                    }
                });

            }

        });
    });

    function add_cluster_details(cluster_id)
    {
        var clusterArr = new Array();
        var co_codes_list = '';
        var weightage_list = '';
        $(".inbox1").each(function(index){
             var weightage = $("#amount_1a_"+(index+1)).val();
             co_codes_list = co_codes_list + $(this).attr('company_code') + ',';
             weightage_list = weightage_list + weightage + ',';
            clusterArr.push({"cluster_id":cluster_id,"company_code":$(this).attr('company_code'),"company_name":$(this).attr('company_name'),"dayopen":$(this).attr('dayopen'),"dayhigh":$(this).attr('dayhigh'),"daylow":$(this).attr('daylow'),"price":$(this).attr('price'),"dayvolume":$(this).attr('dayvolume'),"tradedate":$(this).attr('tradedate'),"prevclose":$(this).attr('prevclose'),"pricediff":$(this).attr('pricediff'),"perchange":$(this).attr('perchange'),"beta":$(this).attr('beta'),"hi_52_wk":$(this).attr('hi_52_wk'),"lo_52_wk":$(this).attr('lo_52_wk'),"avgvol_3m":$(this).attr('avgvol_3m'),"eps":$(this).attr('eps'),"divyield":$(this).attr('divyield'),"r1mret":$(this).attr('r1mret'),"r6mret":$(this).attr('r6mret'),"sectorname":$(this).attr('sectorname'),"m_cap":$(this).attr('m_cap'),"r1yearret":$(this).attr('r1yearret'),"weightage":weightage,"pe":$(this).attr('pe'),"exchange":$(this).attr('exchange'),"stock_information":$(this).attr('data-stock-info')});
        });

        $.when(
                $.ajax({
                    type:"GET",
                    url:"/frontend/UpdateClusterApiEnd/",
                    data:{cluster_id:cluster_id,co_codes_list:co_codes_list,exchange:exchange,weightage_list:weightage_list},
                    async:false,
                    success:function(response) {
                        investak_add_new_cluster(response);
                    },
                    error:function(xhr) {
                        alert("Error Occurred in update STAK api section.");
                    }
                }),
                $.ajax({
                    type:"GET",
                    url:"/frontend/AllClusterApiEnd/",
                    data:{cluster_id:cluster_id},
                    async:false,
                    success:function(response) {
                        all_cluster_add(response);
                    },
                    error:function(xhr) {
                        alert("Error Occurred in all STAK api section.");
                    }
                }),
                $.ajax({
                    type:"GET",
                    url:"/frontend/Cluster_17/",
                    data:{cluster_id:cluster_id},
                    async:false,
                    success:function(response) {
                        cluster_index_market_value(response);
                    },
                    error:function(xhr) {
                        alert("Error Occurred in STAK index market value.");
                    }
                })
        ).then(function(){
        var check_alert = 'NO';
        var check_user_count = $("[name^=email_ids]:checked").length;
        var check_all = $("[name=CheckAll]:checked").length;
        $("#email_model_error").text("");
        if($("#send_alert_box").is(':checked') && (check_all > 0 || check_user_count > 0)){
            check_alert = 'YES';
            email_ids = [];
            $("[name^=email_ids]:checked").each(function(i,e){
              email_ids.push($(this).val());
            });
        } else {
          $("#email_model_error").text("Please select user.");
          return false;
        }
        $.ajax({
            type:"POST",
            url:"/admin/updateClusterDetails/",
            data: {'check_alert':check_alert, 'email_ids' : JSON.stringify(email_ids), 'cluster_arr':JSON.stringify(clusterArr),csrfmiddlewaretoken:'{{ csrf_token }}'},
            async:false,
            beforeSend:function()
            {

            },
            success:function(response)
            {

                $.unblockUI();
                Notify("Cluster Updated Successfully", null, null, 'success');
                 setTimeout(function(){

                         window.location.href="/admin/edit_cluster/{{ cluster_id }}";

                }, 1000);

            },
            error:function(response)
            {

                Notify("Some Error Occurred. Please try again", null, null, 'danger');
            }
        });
        });

    }
    function all_cluster_add(response) {
        var cluster_id_array = new Array();
            var clustercode = response.response.data.Companylist.company.clustercode;
            var divyield_m1 = response.response.data.Companylist.company.divyield_m1;
            var divyield_m3 = response.response.data.Companylist.company.divyield_m3;
            var divyield_m6 = response.response.data.Companylist.company.divyield_m6;
            var divyield_y1 = response.response.data.Companylist.company.divyield_y1;
            var divyield_y5 = response.response.data.Companylist.company.divyield_y5;
            var indexvalue_m1 = response.response.data.Companylist.company.indexvalue_m1;
            var indexvalue_m3 = response.response.data.Companylist.company.indexvalue_m3;
            var indexvalue_m6 = response.response.data.Companylist.company.indexvalue_m6;
            var indexvalue_y1 = response.response.data.Companylist.company.indexvalue_y1;
            var indexvalue_y5 = response.response.data.Companylist.company.indexvalue_y5;
            var ret_m1 = response.response.data.Companylist.company.ret_m1;
            var ret_m3 = response.response.data.Companylist.company.ret_m3;
            var ret_m6 = response.response.data.Companylist.company.ret_m6;
            var ret_y1 = response.response.data.Companylist.company.ret_y1;
            var ret_y5 = response.response.data.Companylist.company.ret_y5;
            cluster_id_array.push({
                cluster_id: clustercode,
                divyield_m1: divyield_m1,
                divyield_m3: divyield_m3,
                divyield_m6: divyield_m6,
                divyield_y1: divyield_y1,
                divyield_y5: divyield_y5,
                indexvalue_m1: indexvalue_m1,
                indexvalue_m3: indexvalue_m3,
                indexvalue_m6: indexvalue_m6,
                indexvalue_y1: indexvalue_y1,
                indexvalue_y5: indexvalue_y5,
                ret_m1: ret_m1,
                ret_m3: ret_m3,
                ret_m6: ret_m6,
                ret_y1: ret_y1,
                ret_y5: ret_y5
            });
        $.ajax({
            type:"POST",
            url:"/frontend/insertAllClusters/",
            async:false,
            data:{cluster_id_array:JSON.stringify(cluster_id_array), csrfmiddlewaretoken:'{{ csrf_token }}'},
            success:function(data)
            {
                if(data==1)
                {
                    console.log("Success");
                }
            }
        });
    }
    function cluster_index_market_value(response) {
        var cluster_code = response.response.data.Companylist.company.clustercode;
        var market_value = response.response.data.Companylist.company.marketvalue;
        var index_value = response.response.data.Companylist.company.indexvalue;
        $.ajax({
            type:"GET",
            url:"/frontend/updateClusterIndexValue/",
            async:false,
            data:{cluster_id:cluster_code,market_value:market_value,index_value:index_value},
            success:function(response) {
                console.log(response);
            },
            error:function(xhr) {
                alert("Error Occurred in update STAK index value.");
            }
        });
    }
     function investak_add_new_cluster(response)
    {
        console.log(response);
        var obj = $.parseJSON(JSON.stringify(response));
        //$('body').fadeTo( "slow", 1 );
        var rt_type = obj['response']['data']['Companylist']['company'].flag;

    }
    function readURL(input)
    {

        if (input.files && input.files[0]) {
        $("#hidden_new_cluster_image").val(input.files[0].name);
        var reader = new FileReader();

        reader.onload = function (e) {

            $('#img_preview').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
    }


</script>
</head>
{% load i18n %}

<body>

<!-- Container -->
<header>
<div id="container">
<div class="col-md-2"><a class="logo" href="#"><img class="img-responsive" src="{% static "admin/images/logo.png" %}"></a></div>
 <div class="col-md-2 pull-right">
            <div class="dropdown">
            <span class="users"><i class="fa fa-user" aria-hidden="true"></i></span>
              <a href="#" data-toggle="dropdown">{% firstof user.get_short_name user.get_username %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                  {% if user.has_usable_password %}
                <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> </li>
                {% endif %}
                <li><a href="{% url 'admin:logout' %}">Logout</a></li>
              </ul>
            </div>
		</div>
    <div class="col-md-2  pull-right">
        	<div class="dat_time">
            	<div class="date_area">
                	<p id="days"></p>
                    <p id="dates"></p>
                    <p id="motns"></p>
                </div>

                <div class="getTims">
                	<p id="times"></p>
                </div>

        	</div>
        </div>

	</div>
</header>
<section>
	<div class="container" id="myPage">
        {% include 'admin/side_bar.html' %}
         <div class="col-md-10 marginTop_btom">
             <form  name="frmCluster" id="frmCluster" enctype="multipart/form-data" method="post">{% csrf_token %}
                        <input type="hidden" name="posted_by" id="posted_by" value="A" />
                         <input name="hid_cluster_id" id="hid_cluster_id" type="hidden" value="{{ cluster_details.0.id }}">
                        <input name="cluster_id" id="cluster_id" type="hidden" value="{{ cluster_details.0.id }}">
                        <input type="hidden" name="created_by" id="created_by" value="1" />
                        <input type="hidden" name="user_id" id="user_id" value="{{ cluster_details.0.created_by }}" />
                        <input type="hidden" name="hidden_old_cluster_image" id="hidden_old_cluster_image" value="{{ cluster_details.0.cluster_image }}" />
                        <input type="hidden" name="hidden_new_cluster_image" id="hidden_new_cluster_image"  />
                        <div class="row margisTop">
                            <div class="col-md-12"><b>All fields are mandatory.</b></div>
                            <div class="col-md-12">
                                <div class="img_area">
                                	<img src="/static/media/images/cluster/{{ cluster_details.0.cluster_image }}" id="img_preview" height="306px" width="100%">
                                	<span class="btn btn-default btn-file">Browse <input name="cluster_image" id="cluster_image" type="file" value="{{ cluster_details.0.cluster_image }}"></span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="box_area_mofit">

                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        <div class="form-group">
                                        <input placeholder="" id="cluster_name" name="cluster_name" class="form-control" type="text" value="{{ cluster_details.0.cluster_name }}">
                                        </div>

                                        <div class="defalt_txt">
                                        	<p>Created by:  Investak</p>
                                        	<p>Date Created: {{ cluster_details.0.created_date }}</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-8 col-md-8 col-xs-12 nopadleft">

                                        <div class="create_box">
                                        	<!-- <a href="#" class="moftiBtn">Default</a> -->
                                            <div class="col-lg-6 col-md-6 col-xs-12 nopadleft">
                                                <div class="category">
                                                    <div class="form-group">
                                                    <select class="form-control ddl-category" name="cluster_category" id="cluster_category">

                                                        {% if category_details %}
                                                            {% for cd in category_details %}
                                                                <option value="{{ cd.id }}" {% ifequal cd.id cluster_details.0.cluster_category %} selected="selected" {% endifequal %} >{{ cd.cat_name }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-xs-12 nopadleft">
                                                <div class="category">
                                                    <div class="form-group">
                                                    <select class="form-control" name="cluster_sub_category" id="cluster_sub_category">
                                                            <option value="">Select Any</option>
                                                            {% if sub_category_details %}
                                                                {% for scd in sub_category_details %}
                                                                    <option value="{{ scd.id }}" {% ifequal scd.id cluster_details.0.cluster_sub_category %} selected="selected" {% endifequal %} >{{ scd.cat_name }}</option>
                                                                {% endfor %}
                                                            {% endif %}
                                                    </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--<div class="input_area">
                                                <input id="make_public" name="make_public" class="make_public" type="checkbox">
                                                <label for="test1">Make public in Cluster Catalog and web search</label>
                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-xs-12 txtArea">
                                        <input type="text" name="rebal_freq" id="rebal_freq" placeholder="Please Enter Rebalencing Frequency.." value="{{ cluster_details.0.rebal_freq }}">
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-xs-12 txtArea">
                                    	<textarea placeholder="Full Description........" name="cluster_full_desc" id="cluster_full_desc">{{ cluster_details.0.cluster_desc }}</textarea>
                                        <script>
                                            CKEDITOR.replace( 'cluster_full_desc', {
                                            toolbarGroups: [
                                                { name: 'clipboard',   groups: [ 'clipboard', 'undo' ] },			// Group's name will be used to create voice label.
                                                '/',																// Line break - next group will be placed in new line.
                                                { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
                                                { name: 'styles' }
                                            ]

                                            // NOTE: Remember to leave 'toolbar' property with the default value (null).
                                        });
	                                    </script>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-xs-12 txtArea">

                                        <textarea placeholder="Please Enter Research Description.." name="research_desc" id="research_desc">{{ cluster_details.0.research_desc }}</textarea>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-xs-12 txtArea">
                                    	<textarea placeholder="Please Enter Weight Description.." name="weight_desc" id="weight_desc">{{ cluster_details.0.weight_desc }}</textarea>
                                    </div>

                                </div>
                            </div>

                        </div>
        				</form>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="graph_box">
                                	<h2>Historical Graph</h2>
                                    <div class="boxes" id="historicalgraph">
                                    	<!--<img class="img-responsive" src="/static/frontend/dashboard/images/graph2.png">-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-10 nopadright">
                                <select id="select_exchange" class="form-control" style="width:200px!important;">
                                    <option value="NSE">NIFTY</option>
                                    <option value="BSE">SENSEX</option>
                                </select>
                                <select id="select_value" class="form-control" style="width:200px!important;">
                                    <option value="1">VALUE</option>
                                    <option value="2">RETURN</option>
                                </select>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="accrodian_area">
                                    <div class="accrodian_area_head">

                                    	<div class="col-md-3 search_area"><input autocomplete="off" class="searchBox ui-autocomplete-input" placeholder="Type stock name or symbol" type="search"></div>
                                      <div class="col-md-2 contor_bx">
                                      <span>
                                        <input id="nse" type="checkbox" checked="checked">
                                        <label for="nse">NSE</label>
                                        </span>
                                        <span>
                                        <input id="bse" type="checkbox">
                                        <label for="bse">BSE</label>
                                      </span>
                                    </div>

                                    	<div class="col-md-2 txt_area"><p>Overview</p></div>
                                        <div class="col-md-5 nopadding selects">

                                            <div class="form-group col-md-10 nopadright">
                                                <label>Weighting strategy:</label>
                                                <select id="sel1" class="form-control sell-weight">
                                                    <option value="EQ">Equal</option>
                                                    <option value="CU" selected="selected">Custom </option>
                                                    <option value="MC">Market Capitalization</option>

                                                </select>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="boxs_area">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>DEL</th>
                                                <th>SEGMENT &amp; STOCKS</th>
                                                <th>LOCK</th>
                                                <th>WEIGHT</th>
                                                <th>SYMBOL</th>
                                                <th id="th_ltp">PRICE</th>
                                                <th id="th_mcap">MARKET CAP</th>
                                                <th id="th_r1_yearret">1 YR RETURN</th>
                                                <th id="th_pe">VALUATION (P/E)</th>
                                                <th id="th_div_yield" style="display: none;">Dividend Yield</th>
                                                <th id="th_r1_mret" style="display: none;"> 1 MN RETURN</th>
                                                <th id="th_r6_mret" style="display: none;">6 MN RETURN</th>
                                            </tr>
                                        </thead>

                                        <tbody class="tbody">
                                            {% if sub_cluster_details %}
                                                {% for scd in sub_cluster_details %}

                                                    <tr class="inbox1" cluster_id="{{ scd.cluster_id_id }}" company_code="{{ scd.co_code }}" company_name="{{ scd.co_name }}" dayopen="{{ scd.day_open }}" dayhigh="{{ scd.day_high }}" daylow="{{ scd.day_low }}" bidprice="{{ scd.bid_price }}" askprice="{{ scd.ask_price }}" price="{{ scd.ltp }}" dayvolume="{{ scd.day_volume }}" tradedate="{{ scd.trade_date }}" prevclose="{{ scd.prev_close }}" pricediff="{{ scd.price_diff }}" perchange="{{ scd.per_change }}" beta="{{ scd.beta }}" hi_52_wk="{{ scd.hi_52_wk }}" lo_52_wk="{{ scd.lo_52_wk }}" avgvol_3m="{{ scd.avg_vol_3m }}" eps="{{ scd.eps }}" divyield="{{ scd.div_yield }}" r1mret="{{ scd.r1_mret }}" r6mret="{{ scd.r6_mret }}" sectorname="{{ scd.sector_name }}" m_cap="{{ scd.mcap }}" r1yearret="{{ scd.r1_yearret }}" pe="{{ scd.pe }}" exchange="{{ scd.exchange }}" data-stock-info="{{ scd.stock_information }}" >
                                                        <td><span class="cross" style="cursor:pointer!important;" ><i co-id="{{ scd.co_code }}" class="fa fa-times" aria-hidden="true"></i></span></td>
                                                        <td>{{ scd.co_name }}&nbsp;<span class="glyphicon glyphicon-share stock-info" data-toggle="tooltip" data-original-title="Share" style="cursor:pointer; padding-left:5px; font-size:12px;"></span></td>
                                                        <td><i aria-hidden="true" class="fa"></i></td>
                                                        <td>
                                                            <div class="slider_inpust"><div class="sliders">
                                                            <div id="slider-range-min_1a_{{ forloop.counter }}" data-id="{{ forloop.counter }}" data-co-code="{{ scd.co_code }}" data-value="{{ scd.weightage }}" class="slider-range-min_1a ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: {{ scd.weightage }}%;"></div><span tabindex="0" class="ui-slider-handle ui-state-default ui-corner-all" style="left: {{ scd.weightage }}%;"></span>  </div>
                </div> <input type="text" id="amount_1a_{{ forloop.counter }}" class="amount_1a"  value="{{ scd.weightage }}" text-data="{{ forloop.counter }}"> <span style="float: right;">%</span></div>
             </td>
                                                    <td>{{ scd.symbol }}</td>
                                                    <td data-desc="ltp">Rs.{{ scd.ltp }}</td>
                                                    <td data-desc="mcap">{{ scd.mcap|div:100|floatformat:2 }}B</td>

                                                    <td data-desc="r1_yearret">
                                                    {% if scd.r1_yearret >= 0.00  %}
              <div class="baseDecrese_up"><p><span><i aria-hidden="true" class="fa fa-long-arrow-up"></i></span>{{ scd.r1_yearret|floatformat:2 }}%</p></div>
                                                    {% else %}
                                                    <div class="baseDecrese_dwn"><p><span><i aria-hidden="true" class="fa fa-long-arrow-down"></i></span>{{ scd.r1_yearret|floatformat:2 }}%</p></div>
                                                   {% endif %}
                                                    </td>
                                                    <td>{{ scd.pe }}</td>
                                                    <td style="display:none;" data-desc="div_yield">{{ scd.div_yield|floatformat:2 }}</td>
                                                    <td style="display:none;" data-desc="r1_mret">{{ scd.r1_mret|floatformat:2 }}</td>
                                                    <td style="display:none;" data-desc="r6_mret">{{ scd.r6_mret|floatformat:2 }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                    </div>
                                </div>



                            <div class="col-md-12 nopadright pull-right">
                                <span class="col-md-9 nopadright pull-left" style="margin-top:10px;"><input type="checkbox" id="send_alert_box" name="send_alert_box" value="" style="left:-10px; " class="viewusrdtls active" data-toggle="modal" data-target="#usrModal" data-id="{{ cluster_id }}" />Check this box to send re-balance alert mail.</span>
                                <span class="col-md-2 nopadright pull-right"><a href="javascript:void(0)" class="mybuttons hoverEffects dons done">Done</a></span>

                            </div>
                            <div>
                                <p align="left" id="total-weigh">Total Weightage : <span>0.00%</span></p>
                                <p align="left" id="remain-weigh">Remaining Weightage : <span>100.00%</span></p>
                            </div>


                </div>
            </div>
            <!-- User details here start -->
            <div class="modal fade" id="usrModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content" style="max-height:700px;overflow-y: scroll;">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeUserList();"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Send Email <p id="user_nm_id"></p></h4>
                  </div>
                  <form class="form-horizontal" id="sendEmailAllFrm" role="form">
                      <div class="modal-body" id="modal-body"></div>
                      <div class="modal-footer">
                        <span id="email_model_error" class="error" style="float:left; color:red;"></span>
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeUserList();">Close</button>
                        <button type="button" id="sendEmailAllBtn" class="btn done btn-primary">Save & Send</button>
                      </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body" id="modal-body"></div>
                </div>
              </div>
            </div>
            <!--  User details here end -->
        </div>
     </div>
</section>
<div class="dialog-message" title="Addtional Stock Info" style="display: none!important;"><textarea name="txtNotify" id="txtNotify" style="width: 100%;"></textarea> </div>
{% include 'admin/footer.html' %}
</body>
</html>
{% endblock %}