<section class="footer_area">
	<div class="container-fluid">

        <div class="col-lg-2 col-md-2 col-xs-12 colcenter">
        	<p class="foterTxt">©2016 Investak. All rights reserved.</p>
        </div>

    </div>
</section>
<!--//////////////////////Change Password Modal Start//////////////////////////-->
<div id="modalChangePwd" class="modal fade modaloverall" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i aria-hidden="true" class="fa fa-times"></i></button>
        <h4 class="modal-title">Change Password</h4>
      </div>
      <div class="modal-body">
      
      <div class="col-md-12 col-sm-12 col-xs-12"> 
          <span class="error" id="errormsg1" style="display:none;">Please Wait....</span>
          <span class="error" id="errormsg2" style="display:none;">You are not authorised to change the password</span>
          <span class="error" id="errormsg3" style="display:none;">Problem in Password Change Process</span>
          <span class="error" id="errormsg4" style="display:none;">Database error</span>
          <span class="success" id="successmsg" style="display:none;">Password has been changed Successfully</span> 
       </div>

       <form role="form" name="frmChngPwd" id="frmChngPwd" method="post" action="">{% csrf_token %}
             <input type="hidden" id="uid" name="uid" value="{{ user.id }}">
            <div class="form-group label-floating is-empty">
            <label for="oldpassword" class="control-label">Old Password</label>
            <input type="password" class="form-control" id="oldpassword" name="oldpassword">
            </div>

            <div class="form-group label-floating is-empty">
            <label for="newpassword" class="control-label">New Password</label>
            <input type="password" class="form-control" id="newpassword" name="newpassword">
            </div>

            <div class="form-group label-floating is-empty">
            <label for="confirmpassword" class="control-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" >
            </div>

        </form>


      </div>
      <div class="modal-footer">

        <div class="col-md-3 pull-right"><button type="submit" data-dismiss="modal" class="btn mysubmit_btn_cnl">Cancel</button></div>
        <div class="col-md-3 pull-right"><button type="submit" class="btn mysubmit_btn" id="btnChnPwd">Submit</button></div>

      </div>
    </div>

  </div>
</div>
<!--//////////////////////Change Password Modal End//////////////////////////-->

<!--/////////////////////Change Profile Modal start///////////////////////////-->
<div id="modalChangeProfile" class="modal fade modaloverall" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i aria-hidden="true" class="fa fa-times"></i></button>
        <h4 class="modal-title">Profile</h4>
      </div>
      <div class="modal-body">

       <form role="form" name="frmChngProfile" id="frmChngProfile" method="post" action="">{% csrf_token %}
            <input type="hidden" id="uid" name="uid" value="{{ user.id }}">
            <div class="form-group label-floating is-empty">
            <label for="first_name" class="control-label">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}">
            </div>

            <div class="form-group label-floating is-empty">
            <label for="last_name" class="control-label">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" value="{{user.last_name }}">
            </div>

            <div class="form-group label-floating is-empty">
            <label for="email" class="control-label">Email</label>
            <input type="text" class="form-control" id="email" name="email" value="{{ user.email }}">
            </div>

        </form>


      </div>
      <div class="modal-footer">

        <div class="col-md-3 pull-right"><button type="submit" data-dismiss="modal" class="btn mysubmit_btn_cnl">Cancel</button></div>
        <div class="col-md-3 pull-right"><button type="submit" class="btn mysubmit_btn" id="btnChngProfile">Submit</button></div>

      </div>
    </div>

  </div>
</div>
<!--//////////////////////Change Profile Modal End//////////////////////////-->
<script type="text/javascript">
$(document).ready(function(e){
        $("#btnChnPwd").click(function(e){ //alert();
            $("#frmChngPwd").submit();
        });

        $("#frmChngPwd").validate({
            rules: {
            	oldpassword:{
                   required:true
                },
                newpassword:{
                   required:true,
                   minlength: 6
                },
                confirmpassword:{
                   required:true,
                   minlength: 6,
                   equalTo: "#newpassword"
                }
            },
            messages: {
            	oldpassword:{
                   required:"Please enter old password"
                },
                newpassword:{
                   required:"Please enter new password",
                   minlength:"Password would be 6 characters"
                },
                confirmpassword:{
                   required:"Please enter confirm password",
                   minlength:"Password would be 6 characters",
                   equalTo:"Confirm password does not match with new password"
                }
            },
            submitHandler:function(form){
                $.ajax({
                    type:"POST",
                    url:"/admin/password_changee/",
                    async:false,
                    data:{uid:$("#uid").val(),oldpassword:$("#oldpassword").val(),newpassword:$("#newpassword").val(),csrfmiddlewaretoken:'{{ csrf_token }}'},
                     beforeSend:function()
                    {  
                         $("#errormsg1").css({display:"block",color:"red"}).slideDown(2000);
                        //$("#errormsg1").html("Please Wait....");
                    },
                    success:function(response){ 
                    	
                        if(response.message==1){
                            //$("#successmsg").html("Password has been changed Successfully");
                             $("#errormsg1").css({display:"none",color:"red"}).slideUp(2000);
                             $("#successmsg").css({display:"block",color:"green"}).slideDown(2000);
                        }else if(response.message==2){
                            //$("#errormsg2").html("You are not authorised to change the password");
                             $("#errormsg1").css({display:"none",color:"red"}).slideUp(2000);
                             $("#errormsg2").css({display:"block",color:"red"}).slideDown(2000);
                        }else{
                            //$("#errormsg3").html("Problem in Password Change Process");
                             $("#errormsg1").css({display:"none",color:"red"}).slideUp(2000);
                             $("#errormsg3").css({display:"block",color:"red"}).slideDown(2000);
                        }
                    },
                    error:function(xhr){
                        //$("#errormsg4").html("Database error");
                         $("#errormsg1").css({display:"none",color:"red"}).slideUp(2000);
                        $("#errormsg4").css({display:"block",color:"red"}).slideDown(2000);
                    }
                })
            }
        });

        /*****change profile********/

        $("#btnChngProfile").click(function(e){ //alert();
            $("#frmChngProfile").submit();
        });

        $("#frmChngProfile").validate({
            rules: {
                first_name:{
                   required:true
                },
                last_name:{
                   required:true
                },
                email:{
                   required:true,
                   email:true
                }
            },
            messages: {
                first_name:{
                   required:"Please enter first name"
                },
                last_name:{
                   required:"Please enter last name"
                },
                email:{
                   required:"Please enter last name",
                   email:"Please enter correct email"
                }
            },
            submitHandler:function(form){
                $.ajax({
                    type:"POST",
                    url:"/admin/change_profile/",
                    async:false,
                    data:{uid:$("#uid").val(),first_name:$("#first_name").val(),last_name:$("#last_name").val(),email:$("#email").val(),csrfmiddlewaretoken:'{{ csrf_token }}'},
                    success:function(response){
                        if(response.message==1){
                            window.location.href='/admin/';
                        }else{
                            $("#chngProfError").html("User does not matched");
                        }
                    },
                    error:function(xhr){
                        $("#chngPwdError").html("Database error");
                    }
                })
            }
        });
});   
</script>