{% load staticfiles %}
{% load i18n static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>

<title>Investak Admin LoginABC</title>

    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/font-awesome/css/font-awesome.min.css" %}" >

    <link rel="stylesheet" type="text/css" href="{% static "admin/css/stylesheet.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/jquery-ui.css" %}" >

    <script src="{% static "admin/js/jquery.1.11.3.min.js" %}"></script>
    <script src="{% static "admin/js/bootstrap.min.js" %}"></script>
</head>

<body>

{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}
{% if user.is_authenticated %}
<p class="errornote">
{% blocktrans trimmed %}
    You are authenticated as {{ username }}, but are not authorized to
    access this page. Would you like to login to a different account?
{% endblocktrans %}
</p>
{% endif %}
<div class="login_area">
	<div class="container">

        <div class="col-md-4 colcenter">
        	<div class="row">

        	</div>
        </div>

        <div class="col-md-4 colcenter">
        	<div class="row">

            	<div class="logos_area"><a href="#"><img src="{% static "admin/images/logo.png" %}"></a></div>
            	<div class="login_area_page">
                	<div class="login_header"><h3>Admin Login</h3></div>
<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
                    <div class="login_body">

                        <div class="form-group">
                            <div class="input-group"><span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                            	<input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status" name="username">
                            </div>
                    	</div>

                        <div class="form-group">
                            <div class="input-group"><span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                            	<input type="password" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status" name="password">
                            </div>
                    	</div>

                        <div class="checkbox">

                            <label for="derp"><a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a></label>
                        </div>

                        <button type="submit" class="btn btn-default login_submit_bt">Submit</button>

                    </div>
</form>
                </div>
        	</div>
        </div>

    </div>
</div>
</body>
</html>
