{% load staticfiles %}
{% load i18n static %}
{% load investak_filters %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>

<title>Investak-Rejected Order list</title>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/font-awesome/css/font-awesome.min.css" %}" >
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/stylesheet.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/jquery-ui.css" %}" >

    <script src="{% static "admin/js/jquery.1.11.3.min.js" %}"></script>
    <script src="{% static "admin/js/bootstrap.min.js" %}"></script>
    <script src="{% static "admin/js/datetime.js" %}"></script>
    <script src={% static "admin/js/jquery-ui.js" %}></script>
    <script src={% static "admin/js/jquery.blockUI.js" %}></script>

<script type="text/javascript">

$(document).ready(function(e) {

	$('.left_menu_area > ul > li:has(ul)').addClass("has-sub");

	$('.left_menu_area > ul > li > a').click(function() {
		var checkElement = $(this).next();

		$('.left_menu_area li').removeClass('active');
		$(this).closest('li').addClass('active');

		if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
		  $(this).closest('li').removeClass('active');
		  checkElement.slideUp('normal');
		}

		if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
		  $('.left_menu_area ul ul:visible').slideUp('normal');
		  checkElement.slideDown('normal');
		}

		if (checkElement.is('ul')) {
		  return false;
		} else {
		  return true;
		}
	});

	$("#inbox1").find('.arrowsClick').click(function(e){
		e.preventDefault();
		$(".inbox1").slideToggle();

	});

	$("#inbox2").find('.arrowsClick').click(function(e){
		e.preventDefault();
		$(".inbox2").slideToggle();
	});
});
$(window).load(function(){
	var winH = $(document).height();
	$(".left_menu_area").height(winH);
});


</script>

    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>

</head>

<body>

<header>
	<div class="container">

    	<div class="col-md-2"><a class="logo" href="#"><img class="img-responsive" src="{% static "admin/images/logo.png" %}"></a></div>

 <div class="col-md-2 pull-right">
            <div class="dropdown">
            <span class="users"><i class="fa fa-user" aria-hidden="true"></i></span>
              <a href="#" data-toggle="dropdown">{% firstof user.get_short_name user.get_username %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                  {% if user.has_usable_password %}
                <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> </li>
                {% endif %}
                <li><a href="{% url 'admin:logout' %}">Logout</a></li>
              </ul>
            </div>
		</div>

        <div class="col-md-2  pull-right">
        	<div class="dat_time">
            	<div class="date_area">
                	<p id="days"></p>
                    <p id="dates"></p>
                    <p id="motns"></p>
                </div>

                <div class="getTims">
                	<p id="times"></p>
                </div>

        	</div>
        </div>

	</div>
</header>


<section>
	<div class="container">
        {% include 'admin/side_bar.html' %}
        <div class="col-md-10 marginTop_btom">
            <div class="col-md-12 nopadding">

            	<div class="table_area">
                	<table class="table">
                    	<thead>
                        	<tr>
                                <th>#</th>
                                <th>Username</th>
                                <th>Order ID no.</th>
                                <th>Cluster Name</th>
                                <th>Stock Name</th>
                                <th>Date</th>
                                <th>Type</th>
                                <th>Lots/Shares</th>
                                <th>Rejection Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if rejected_orders %}
                            {% for item in rejected_orders %}
                                <tr>
                                    <td>{{ forloop.counter|addi:counter }}</td>
                                    <td>{{ item.username }}</td>
                                    <td>{{ item.order_no }}</td>
                                    <td>{{ item.cluster_name }}</td>
                                    <td>{{ item.stock_name }}</td>
                                    <td>{{ item.date }}</td>
                                    <td>{{ item.type }}</td>
                                    <td>{{ item.no_of_share }}</td>
                                    <td>{{ item.rejected_reason }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="5">NO DATA FOUND</td>
                              </tr>
                        {% endif %}
                        </tbody>
            		</table>
                </div>

            </div>
            <div class="grid_list_bar bottoms_area mybuilt_grid">
                <div class="body_section_area">
                    <div class="pagination_bar">
                    {% if rejected_orders %}
                        <ul class="pagination pagination-sm pull-right">
                            {% if pagination.has_previous %}
                            <li class="page-item">
                                <a aria-label="Previous" href="?page={{ pagination.previous_page_number }}" class="page-link">
                                    <span aria-hidden="true"><i class="fa fa-caret-left" aria-hidden="true"></i></span>
                                </a>
                            </li>
                            {% endif %}
                            {% for page in pagination.paginator.page_range %}
                            <li class=" page-item {% if pagination.number == page %}active{% endif %}" style="padding:0;">
                                <a href="?page={{ page }}" class="page-link">{{ page }}</a>
                            </li>  
                            {% endfor %}
                            {% if pagination.has_next %}
                            <li class="page-item">
                                <a aria-label="Next" href="?page={{ pagination.next_page_number }}" class="page-link">
                                    <span aria-hidden="true"><i class="fa fa-caret-right" aria-hidden="true"></i></span>
                                </a>
                            </li>
                            {% endif %}         
                        </ul> 
                    {% endif %}
                    </div>
                </div>
            </div>

        </div>



    </div>
</section>



<section class="footer_area">
	<div class="container-fluid">

        <div class="col-lg-2 col-md-2 col-xs-12 colcenter">
        	<p class="foterTxt">©2016 investak. All rights reserved.</p>
        </div>

    </div>
</section>

</body>
</html>