<div class="col-md-2">
    <div class="row">
        	<div class="left_menu_area">
            	<ul>
                	<li><a href="/admin/"> <span><i class="fa fa-home" aria-hidden="true"></i></span>Home</a></li>
                    <li><a href="/admin/faq/"><span><i class="fa fa-question" aria-hidden="true"></i></span>FAQ</a></li>

                    <li><a href="/admin/user/"><span><i class="fa fa-pencil" aria-hidden="true"></i></span>GENERAL USER LIST</a></li>
                    <li><a href="#"><span><i class="fa fa-search" aria-hidden="true"></i></span>Analyze</a>
                    	<ul>
                        	<li><a href="/admin/category/">category management</a></li>
                        	<li><a href="/admin/comment_list/">User Comment</a></li>
                            <li><a href="/admin/trade_book_audit/">Trade Book Audit</a></li>
                            <li class="subliActive"><a href="/admin/cluster_article_list/">Cluster Article List</a></li>
                            <li class="subliActive"><a href="/admin/community_cluster_list/">Community Cluster List</a></li>
                            <li class="subliActive"><a href="/admin/professional_cluster_list/">Professional Cluster List</a></li>
                            <li class="subliActive"><a href="/admin/unpublished_cluster_list/">Unpublished Cluster List</a></li>

                        </ul>
                    </li>
                    <li><a href="/admin/rejected_orders/"><span><i class="fa fa-pencil" aria-hidden="true"></i></span>Rejected Orders</a></li>
                    <!--<li><a href="#"><span><i class="fa fa-pencil" aria-hidden="true"></i></span>Customize</a></li>
                    <li><a href="#"><span><i class="fa fa-tachometer" aria-hidden="true"></i></span>Optimize</a></li>-->
                    <li><a href="/admin/upload_csv/"><span><i class="fa fa-tachometer" aria-hidden="true"></i></span>Upload CSV</a></li>
                    <li><a href="/admin/kyc/"><span><i class="fa fa-tachometer" aria-hidden="true"></i></span>KYC List</a> </li>
                    <li><a href="/admin/tso_linked_list/"><span><i class="fa fa-tachometer" aria-hidden="true"></i></span>TSO LINKED List</a> </li>

                    <li><a href="#"><span><i class="fa fa-search" aria-hidden="true"></i></span>Homepage CMS</a>
                        <ul style="margin-bottom:100px;">
                            <li><a href="/admin/testimonial/">Testimonial Management</a></li>
                            <li><a href="/admin/partner/">Partners Management</a></li>
                            <li><a href="/admin/team/">Team Management</a></li>
                            <li><a href="/admin/customize/">Customize Section Management</a></li>
                            <li><a href="/admin/sitesetting/">Site Settings</a></li>
                            <li><a href="/admin/analyze/">Analyze Section Management</a></li>
                            <li><a href="/admin/optimize/">Optimize Section Management</a></li>
                            <li><a href="/admin/faqtopic/">FAQ Topic</a></li>
                            <li><a href="/admin/banner/">Banners Management</a></li>
                            <li><a href="/admin/subscribe/">Subscribe Management</a></li>
                            <li><a href="/admin/newsletter/">Newsletter Management</a></li>
                            <li><a href="/admin/newsroom/">Newsroom Management</a></li>
                            <li><a href="/admin/season_greetings/">Season Greetings</a></li> 
                        </ul>
                    </li>
                </ul> 

            </div>


        </div>
   </div>