{% load staticfiles %}
{% load i18n static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>

<title>Trade Book</title>

    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/font-awesome/css/font-awesome.min.css" %}" >
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/stylesheet.css" %}" >
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/smoothness/jquery-ui.css">

    <script src="{% static "admin/js/jquery.1.11.3.min.js" %}"></script>
    <script src="{% static "admin/js/bootstrap.min.js" %}"></script>
    <script src="{% static "admin/js/datetime.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js" type="text/javascript"></script>
    <script src={% static "admin/js/jquery.blockUI.js" %}></script>
    <style type="text/css">
        .ui-dialog-osx {
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px; border-width: 0 8px 8px 8px;
}
    </style>
<script type="text/javascript">

$(document).ready(function(e) {


	$('.left_menu_area > ul > li:has(ul)').addClass("has-sub");

	$('.left_menu_area > ul > li > a').click(function() {
		var checkElement = $(this).next();

		$('.left_menu_area li').removeClass('active');
		$(this).closest('li').addClass('active');

		if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
		  $(this).closest('li').removeClass('active');
		  checkElement.slideUp('normal');
		}

		if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
		  $('.left_menu_area ul ul:visible').slideUp('normal');
		  checkElement.slideDown('normal');
		}

		if (checkElement.is('ul')) {
		  return false;
		} else {
		  return true;
		}
	});



	$("#inbox1").find('.arrowsClick').click(function(e){
		//alert(22);
		e.preventDefault();
		$(".inbox1").slideToggle();

	});

	$("#inbox2").find('.arrowsClick').click(function(e){
		//alert(22);
		e.preventDefault();
		$(".inbox2").slideToggle();
	});



});


$(window).load(function(){

	var winH = $(document).height();
	$(".left_menu_area").height(winH);

});


</script>
<script type="text/javascript">

    $(document).on('click','.status-change',function(e){
        var data_id = $(this).attr('data-id');
        var data_class = $(this).attr('data-class');
        var message = '';
        var change_class = '';
        if(data_class=="active")
        {
            message = "Do You Want To De-active The Selected User?";
        }
        else {
            message = "Do You Want To Active The Selected User?"
        }
        if(confirm(message))
        {
            $.ajax({
                type:"POST",
                url:"/admin/user/status_change/",
                data:{user_id:data_id,data_class:data_class,csrfmiddlewaretoken:'{{ csrf_token }}'},
                async:false,
                beforeSend:function()
                {
                    $.blockUI({ message: 'Please Wait...' });
                },
                success:function(response)
                {
                    if(response==1)
                    {
                        if(data_class=="active")
                        {

                            change_class="deactive";
                        }
                        else if(data_class=="deactive")
                        {
                            change_class="active";
                        }
                        window.location.href="/admin/user/"
                    }
                    $.unblockUI();
                },
                error:function(xhr)
                {
                    $.unblockUI();
                }
            });
            if(change_class=="deactive")
            {

                $(this).removeClass('active').addClass('deactive');
                $(this).html('Deactive')
            }
            else if(change_class=="active")
            {

                $(this).removeClass('deactive').addClass('active');
                $(this).html('Active')
            }
        }
    });
    $(document).on('click','.notify', function(e){
        var user_id = $(this).attr('data-id');
        $("#dialog-message").dialog({
            modal: true,
            draggable: false,
            resizable: false,
            position: ['center', 'middle'],
            show: 'blind',
            hide: 'blind',
            width: 400,
            dialogClass: 'ui-dialog-osx',
            buttons: {
                "Submit": function() {
                    var txtNotify = $.trim($("#txtNotify").val());
                    if(txtNotify!="")
                    {
                        $.ajax({
                            type:"POST",
                            url:"/admin/notify/",
                            async:false,
                            data:{txtNotify:txtNotify,csrfmiddlewaretoken:'{{ csrf_token }}',user_id:user_id},
                            beforeSend:function() {
                                $.blockUI({ message: 'Please Wait...' });
                            },
                            success:function(response) {
                                if(response==1)
                                {
                                    $.blockUI({ message: 'Notify Submitted Successfully' });
                                    window.location.href="/admin/user/";
                                }
                                else {
                                    $.blockUI({ message: 'Error Occurred' });
                                    $.unblockUI();

                                }

                            },
                            error:function(xhr) {
                                $.blockUI({ message: 'Error Occurred' });
                                $.unblockUI();

                            }
                        });
                    }
                    $(this).dialog("close");
                }
            }
        });
    });
    //View notification section
     $(document).on('click','.viewdtls',function(e) {
            $('.viewdtls').removeClass('deactive').addClass('active');
            $(this).removeClass('active').addClass('deactive');
            var infoModal = $('#myModal');
            var notification_id = $(this).attr('data-id');
            //alert(notification_id);
            $.ajax({
                type: "GET",
                url:"/admin/user/view_notification/",
                data:{notification_id:notification_id},
                async:false,
                beforeSend:function() {
                 $.blockUI({ message: 'Please Wait...' });
                },
                success:function(response){
                //alert(response);
                    var content = '<table class="table"><thead><tr><th>#</th><th>Notification</th><th width="5%">Created On</th></tr></thead><tbody>';
                    if(response.length>0)
                    {
                       var i=1;
                        $.each(response, function (index, value) {
                         content += '<tr><td>' +  i + '</td>';
                         content += '<td>' +  value.notification_text + '</td>';
                         content += '<td>' +  value.notification_date + '</td></tr>';
                         i++;
                        });

                    }else{
                         content += '<tr><td colspan="3">NO DATA FOUND.</td>';
                    }
                    content += "</tbody></table>";
                    $('#notificationsection').html(content);
                    infoModal.find('#modal-body')[0].innerHTML = content;
                    infoModal.modal();
                    $.unblockUI();
                },
                error:function(xhr) {
                    $.unblockUI();
                    alert("Error Occurred");
                }

            });
    });


</script>


</head>

<body>

<header>
	<div class="container">

    	<div class="col-md-2"><a class="logo" href="#"><img class="img-responsive" src="{% static "admin/images/logo.png" %}"></a></div>

 <div class="col-md-2 pull-right">
            <div class="dropdown">
            <span class="users"><i class="fa fa-user" aria-hidden="true"></i></span>
              <a href="#" data-toggle="dropdown">{% firstof user.get_short_name user.get_username %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(0)">Profile</a></li>
                  {% if user.has_usable_password %}
                <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> </li>
                {% endif %}
                <li><a href="{% url 'admin:logout' %}">Logout</a></li>
              </ul>
            </div>
		</div>

        <div class="col-md-2  pull-right">
        	<div class="dat_time">
            	<div class="date_area">
                	<p id="days"></p>
                    <p id="dates"></p>
                    <p id="motns"></p>
                </div>

                <div class="getTims">
                	<p id="times"></p>
                </div>

        	</div>
        </div>

	</div>
</header>


<section>
	<div class="container">
        {% include 'admin/side_bar.html' %}
        <div class="col-md-9 marginTop_btom">

            <div class="col-md-12 nopadding">
            {% if returnlist %}
            	<div class="panel-group">
                    <div class="panel panel-default">
                        {% for user in returnlist %}
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" href="#{{ user.user }}">{{ user.user }}</a>
                        </h4>
                      </div>
                      <div id="{{ user.user }}" class="panel-collapse collapse">
                        <h2>Trade book api</h2>
                      <div class="table-responsive">
                      <table class="table">
                          <thead>
                          <tr>
                              {% for tradebook in user.tradebook|slice:":1" %}
                                  {% for fields in tradebook.get_fields %}
                                      <th>
                                      {{ fields.0.name}}
                                      </th>

                                  {% endfor %}{% endfor %}
                          </tr>
                          </thead>
                      <tbody>
{% for tradebook in user.tradebook %}<tr>{% for value in tradebook.get_fields %}<td>{{ value.1 }}</td>{% endfor %}</tr>{% empty %}
                            <h4>No data</h4>{% endfor %}
                      </tbody>
                      </table></div>
                      <h2>Place Order</h2>
                      <div class="table-responsive">
                      <table class="table">
                          <thead>
                          <tr>
                              {% for tradebook in user.apiplace|slice:":1" %}
                                  {% for fields in tradebook.get_fields %}
                                      <th>
                                      {{ fields.0.name}}
                                      </th>

                                  {% endfor %}{% endfor %}
                          </tr>
                          </thead>
                      <tbody>
{% for tradebook in user.apiplace %}<tr>{% for value in tradebook.get_fields %}<td>{{ value.1 }}</td>{% endfor %}</tr>{% empty %}
                            <h4>No data</h4>{% endfor %}
                      </tbody>
                      </table></div>
                      </div>

                        {% endfor %}
                    </div>
                  </div>
                {% else %}<h2>No data</h2>
            {% endif %}
            </div>
            <div class="grid_list_bar bottoms_area mybuilt_grid">
                <div class="body_section_area">
                    <div class="pagination_bar">
                    {% if uList %}
                      <ul class="pagination pagination-sm pull-right">
                        {% if pList.has_previous %}

                        <li class="page-item">
                          <a aria-label="Previous" href="?page={{ pList.previous_page_number }}" class="page-link">
                            <span aria-hidden="true"><i class="fa fa-caret-left" aria-hidden="true"></i></span>
                          </a>
                        </li>
                        {% endif %}
                        {% for page in pList.paginator.page_range %}
                                <li class="{% if pList.number == page  %}active{% endif %} page-item"><a href="?page={{page }}" class="page-link">{{ page }}</a></li>
                        {% endfor %}

                      {% if pList.has_next %}
                        <li class="page-item">
                          <a aria-label="Previous" href="?page={{ pList.next_page_number }}" class="page-link">
                            <span aria-hidden="true"><i class="fa fa-caret-right" aria-hidden="true"></i></span>
                          </a>
                        </li>
                      {% endif %}

                      </ul>
                    {% endif %}
                    </div>
                </div>
             </div>
            <!--  Notification details here start -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Notifications Details <p id="user_nm_id"></p></h4>
                  </div>
                  <div class="modal-body" id="modal-body"></div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!--  Notification details here end -->

        </div>



    </div>
</section>



<section class="footer_area">
	<div class="container-fluid">

        <div class="col-lg-2 col-md-2 col-xs-12 colcenter">
        	<p class="foterTxt">©2016 investak. All rights reserved.</p>
        </div>

    </div>
</section>
<div id="dialog-message" title="User Notification" style="display: none!important;">
<textarea name="txtNotify" id="txtNotify" style="width: 100%;"></textarea>
</div>
</body>
</html>