{% load staticfiles %}
{% load i18n static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Investak-user List</title>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/font-awesome/css/font-awesome.min.css" %}" >
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/stylesheet.css" %}" >
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/smoothness/jquery-ui.css">
    <script src="{% static "admin/js/jquery.1.11.3.min.js" %}"></script>
    <script src="{% static "admin/js/bootstrap.min.js" %}"></script>
    <script src="{% static "admin/js/datetime.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js" type="text/javascript"></script>
    <script src={% static "admin/js/jquery.blockUI.js" %}></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.js"></script>
    <style type="text/css">
        .ui-dialog-osx {
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px; border-width: 0 8px 8px 8px;
}
    </style>
<script type="text/javascript">
$(document).ready(function(e) {
	$('.left_menu_area > ul > li:has(ul)').addClass("has-sub");

	$('.left_menu_area > ul > li > a').click(function() {
		var checkElement = $(this).next();

		$('.left_menu_area li').removeClass('active');
		$(this).closest('li').addClass('active');

		if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
		  $(this).closest('li').removeClass('active');
		  checkElement.slideUp('normal');
		}

		if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
		  $('.left_menu_area ul ul:visible').slideUp('normal');
		  checkElement.slideDown('normal');
		}

		if (checkElement.is('ul')) {
		  return false;
		} else {
		  return true;
		}
	});
	$("#inbox1").find('.arrowsClick').click(function(e){
		//alert(22);
		e.preventDefault();
		$(".inbox1").slideToggle();

	});
	$("#inbox2").find('.arrowsClick').click(function(e){
		//alert(22);
		e.preventDefault();
		$(".inbox2").slideToggle();
	});

    $("#btnUpload").click(function(e){
        $("#frmUploadUserDoc").submit();
    });
    $("#frmUploadUserDoc").validate({
        rules: {
            fldPancard: {
                extension:'PDF|pdf'
            },
            fldAdharCard: {
                extension:'PDF|pdf'
            },
            fldCancelledCheque: {
                extension:'PDF|pdf'
            },
            fldBankStatement: {
                extension:'PDF|pdf'
            },
            fldPermanentAddress: {
                extension:'PDF|pdf'
            },
            fldCorrespondenceAddress: {
                extension:'PDF|pdf'
            }
        },
        messages: {
            fldPancard: {
                extension:'File Type Must Be PDF'
            },
            fldAdharCard: {
                extension:'File Type Must Be PDF'
            },
            fldCancelledCheque: {
                extension:'File Type Must Be PDF'
            },
            fldBankStatement: {
                extension:'File Type Must Be PDF'
            },
            fldPermanentAddress: {
                extension:'File Type Must Be PDF'
            },
            fldCorrespondenceAddress: {
                extension:'File Type Must Be PDF'
            }
        },
        submitHandler:function(form) {
             var data = new FormData($("#frmUploadUserDoc").get(0));
            $.ajax({
                type:"POST",
                url:"/admin/upload_kyc_doc/",
                data:data,
                cache: false,
                processData: false,
                contentType: false,
                beforeSend:function() {
                     $.blockUI({ message: '<img src="/static/investak/images/loader.gif" />'
                    });
                }
            }).done(function(response){
                window.location.href = "/admin/kyc/";
                $.unblockUI();
            }).fail(function(){
                alert("Upload failed");
                $.unblockUI();
            });
        }
    });

    $("#btnSend").click(function(e){
        $("#frmSendEmail").submit();
    });

    $("#frmSendEmail").validate({
        rules: {
            from_email: {
                required:true,
                email:true
            },
            to_email: {
                required:true,
                email:true
            },
            subject: {
                required:true
            },
            message: {
                required: true
            }
        },
        messages: {
            from_email: {
                required: "Please Enter Sender Email ID",
                email: "Please Enter Valid Email ID"
            },
            to_email: {
                required: "Please Enter Receiver Email ID",
                email: "Please Enter Valid Email ID"
            },
            subject: {
                required:"Please Enter Subject"
            },
            message: {
                required:"Please Enter Message"
            }
        },
        submitHandler:function(form) {
            if(confirm("Are you sure you want send email?")) {
                var kyc_user_id = $("#kyc_user_id").val(),
                    from_email = $("#from_email").val(),
                    to_email = $("#to_email").val(),
                    subject = $("#subject").val(),
                    message = $("#message").val();

                $.ajax({
                    type: "POST",
                    url: "/admin/send_kyc_email/",
                    data: {kyc_user_id:kyc_user_id,from_email:from_email,to_email:to_email,subject:subject,message:message,csrfmiddlewaretoken:'{{ csrf_token }}'},
                    beforeSend:function() {
                        $.blockUI({ message: '<img src="/static/investak/images/loader.gif" />'
                    });
                    },
                    success:function(response) {
                        if(response == 1) {
                            $("#myModalKycEmail").modal('hide');
                        }
                        else {
                            alert("Error Occurred. Close and try again");
                        }
                        $.unblockUI();
                    },
                    error:function(xhr) {
                        $.unblockUI();
                        alert("Error Occurred");
                    }
                });
            }
        }
    });

});
$(window).load(function(){
	var winH = $(document).height();
	$(".left_menu_area").height(winH);
});
    $(document).on('click','.ipv-record', function(e){
        var record_data = $(this).attr('record-data');
        $('video').attr('src','{{ SITE_URL }}static/media/images/ipv_record/'+record_data);
        $("#myModal").modal('show');
    });

    $(document).on('click','.upload-doc',function(e){
        var name = $(this).closest('tr').find('td:eq(1)').html();
        var user_id = $(this).data('user-id');
        var trading_id = $(this).data('trading-id');
        $("#user_id").val(user_id);
        $("#trading_id").val(trading_id);
        $("#myModalUploadDoc").find('.modal-title').html("Upload Document Of "+name);
        $("#myModalUploadDoc").modal('show');
    });
    $(document).on('click', '.delete', function(e){
        var trading_id = $(this).data('trading-id');
        if(confirm("Are you sure you want to delete?")) {
            var flag = 0;
            if(trading_id) {
                $.ajax({
                    type: "POST",
                    url: "/admin/delete_kyc_record/",
                    data: {trading_id:trading_id, csrfmiddlewaretoken:'{{ csrf_token }}'},
                    async: false,
                    success:function(response) {
                        if(response == 0) {
                            flag = 1;
                        }
                        else {
                            alert("Record Not Deleted");
                        }
                    },
                    error:function(xhr) {
                        alert(xhr.responseText);
                    }
                });

                if(flag == 1) {
                    $(this).closest('tr').remove();
                }
            }
        }
    });

    $(document).on('click', '.a-document', function(e){
        var document_id = $(this).data('document-id');
        var item = $(this).data('item');
        var location = $(this).data('location');
        var type = $(this).data('type');
        localStorage.setItem('document_id', document_id);
        localStorage.setItem('item', item);
        localStorage.setItem('location', location);
        localStorage.setItem('type', type);
        $(".account-modal > .modal-content > .modal-header > .modal-title").html($(this).html());
        $(".account-modal > .modal-content > .modal-footer > .display").attr({"href":location,"target":"_blank"});
        $("#myAccountModal").modal('show');
    });

    $(document).on('click', '.send-email', function(e){
        var user_id = $(this).data('user-id');
        var user_email = $(this).data('user-email');
        $("#kyc_user_id").val(user_id);
        $("#to_email").val(user_email);
        $("#myModalKycEmail").modal('show');
    });

    $(document).on('click', '.account-modal > .modal-content > .modal-footer > .delete-modal', function(e){
        $.ajax({
            type: "POST",
            url: "/admin/delete_kyc_doc/",
            data: {document_id:localStorage.getItem('document_id'),item:localStorage.getItem('item'),location:localStorage.getItem('location'), type: localStorage.getItem('type'), csrfmiddlewaretoken:'{{ csrf_token }}'},
            beforeSend:function() {
                $.blockUI({ message: '<img src="/static/investak/images/loader.gif" />'
                });
            },
            success:function(response) {
                if(response == 1) {
                    $.unblockUI();
                    window.location.href = "/admin/kyc/";
                }
                else if(response == 0) {
                    $.unblockUI();
                    alert("Could not deleted");
                }
                else {
                    $.unblockUI();
                    alert("Server Error");   
                }
            },
            error:function(xhr) {
                $.unblockUI();
                alert(xhr.responseText);
            }

        });
    });

    $(document).on('click','.approve', function(e){
        var trading_id = $(this).data('trading-id');
        if(trading_id) {
            if(confirm("Are you sure you want to approve?")) {
                $.ajax({
                    type:"POST",
                    url:"/admin/approved_kyc/",
                    data:{trading_id:trading_id, csrfmiddlewaretoken:'{{ csrf_token }}'},
                    beforeSend:function() {
                        $.blockUI({ message: '<img src="/static/investak/images/loader.gif" />'
                    });
                    },
                    success:function(response){
                        window.location.href = "/admin/kyc";
                    },
                    error:function(xhr) {
                        $.unblockUI();
                        alert("Error Occurred");
                    }
                });
            }
        }
    });

    $(document).on('click','.tsolinked', function(e){
        var trading_id = $(this).data('trading-id');
        if(trading_id) {
            if(confirm("Are you sure you want to link this account with TSO?")) {
                $.ajax({
                    type:"POST",
                    url:"/admin/approved_tso/",
                    data:{trading_id:trading_id, csrfmiddlewaretoken:'{{ csrf_token }}'},
                    beforeSend:function() {
                        $.blockUI({ message: '<img src="/static/investak/images/loader.gif" />'});
                    },
                    success:function(response){
                        window.location.href = "/admin/kyc";
                    },
                    error:function(xhr) {
                        //$.unblockUI();
                        alert("Error Occurred");
                    }
                });
            }
        }
    });

</script>
</head>
<body>
<header>
	<div class="container">
    	<div class="col-md-2"><a class="logo" href="#"><img class="img-responsive" src="{% static "admin/images/logo.png" %}"></a></div>
 <div class="col-md-2 pull-right">
            <div class="dropdown">
            <span class="users"><i class="fa fa-user" aria-hidden="true"></i></span>
              <a href="#" data-toggle="dropdown">{% firstof user.get_short_name user.get_username %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(0)">Profile</a></li>
                  {% if user.has_usable_password %}
                <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> </li>
                {% endif %}
                <li><a href="{% url 'admin:logout' %}">Logout</a></li>
              </ul>
            </div>
		</div>
        <div class="col-md-2  pull-right">
        	<div class="dat_time">
            	<div class="date_area">
                	<p id="days"></p>
                    <p id="dates"></p>
                    <p id="motns"></p>
                </div>
                <div class="getTims">
                	<p id="times"></p>
                </div>
        	</div>
        </div>
	</div>
</header>
<section>
	<div class="container">
        {% include 'admin/side_bar.html' %}
        <div class="col-md-9 marginTop_btom">
            <div class="col-md-12 nopadding">
            	<div class="table_area recording">
                	<table class="table">
                    	<thead>
                        	<tr>
                                <th>Serial Number</th>
                                <th>Full Name</th>
                                <th>Email ID</th>
                                <th>Pan Card</th>
                                <th>Adhar Card</th>
                                <th>Cancelled Cheque</th>
                                <th>Bank Statement</th>
                                <th>Permanent Address</th>
                                <th>Correspondence Address</th>
                                <th>IPV Recording</th>
                                <th>Upload Document</th>
                                <th>Application Date</th>
                                <!--<th>Action</th>-->
                            </tr>
                        </thead>
                        <tbody>
                        {% if user_kyc_list_arr %}
                            {% for item in user_kyc_list_arr %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ item.full_name }}</td>
                                    <td>{{ item.email_id }}</td>
                                    {% if item.pan_card != "" %}
                                    <td><a class="a-document" data-document-id="{{ item.document_id }}" data-item="{{ item.pan_card }}" data-location="{{ SITE_URL }}static/media/images/pancard/{{ item.pan_card }}" href="javascript:void(0)" data-type="pancard">Pan Card</a> </td>
                                    {% else %}
                                    <td>Not Available</td>
                                    {% endif %}
                                    {% if item.adhar_card != "" %}
                                    <td><a class="a-document" data-document-id="{{ item.document_id }}" data-item="{{ item.adhar_card }}" data-location="{{ SITE_URL }}static/media/images/adharcard/{{ item.adhar_card }}" href="javascript:void(0)" data-type="adharcard">Aadhar Card</a> </td>
                                    {% else %}
                                    <td>Not Available</td>
                                    {% endif %}
                                    {% if item.cancelled_cheque != "" %}
                                    <td><a class="a-document" data-document-id="{{ item.document_id }}" data-item="{{ item.cancelled_cheque }}" data-location="{{ SITE_URL }}static/media/images/cancelled_cheque/{{ item.cancelled_cheque }}" href="javascript:void(0)" data-type="cancelled_cheque">Cancelled Cheque</a> </td>
                                    {% else %}
                                    <td>Not Available</td>
                                    {% endif %}
                                    {% if item.bank_statement != "" %}
                                    <td><a class="a-document" data-document-id="{{ item.document_id }}" data-item="{{ item.bank_statement }}" data-location="{{ SITE_URL }}static/media/images/bank_statement/{{ item.bank_statement }}" href="javascript:void(0)" data-type="bank_statement" >Bank Statement</a> </td>
                                    {% else %}
                                    <td>Not Available</td>
                                    {% endif %}
                                    {% if item.perm_address != "" %}
                                    <td><a class="a-document" data-document-id="{{ item.document_id }}" data-item="{{ item.perm_address }}" data-location="{{ SITE_URL }}static/media/images/permanent_address_proof/{{ item.perm_address }}" href="javascript:void(0)" data-type="permanent_address" >Permanent Address</a> </td>
                                    {% else %}
                                    <td>Not Available</td>
                                    {% endif %}
                                    {% if item.corres_address != "" %}
                                    <td><a class="a-document" data-document-id="{{ item.document_id }}" data-item="{{ item.corres_address }}" data-location="{{ SITE_URL }}static/media/images/correspondence_address_proof/{{ item.corres_address }}" href="javascript:void(0)" data-type="correspondence_address" >Correspondence Address</a> </td>
                                    {% else %}
                                    <td>Not Available</td>
                                    {% endif %}
                                    <td><a href="javascript:void(0)" class="ipv-record" record-data="{{ item.ipv_recording }}">Click here</a></td>
                                    <td><a href="javascript:void(0)" class="upload-doc" data-user-id="{{ item.user_id }}" data-trading-id="{{ item.trading_id }}">Click here</a></td>
                                    <td>{{ item.application_date }}</td>
                                    <!--<td><a class="delete" href="javascript:void(0)" data-trading-id="{{ item.trading_id }}">Delete</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="approve" href="javascript:void(0)" data-trading-id="{{ item.trading_id }}">Approve</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="send-email" href="javascript:void(0)" data-user-id="{{ item.user_id }}" data-user-email="{{ item.email_id }}">Send Email</a> |&nbsp;<a class="tsolinked" href="javascript:void(0)" data-trading-id="{{ item.trading_id }}">TSO Linked</a></td>-->
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
            		</table>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footer_area">
	<div class="container-fluid">

        <div class="col-lg-2 col-md-2 col-xs-12 colcenter">
        	<p class="foterTxt">2016 investak. All rights reserved.</p>
        </div>

    </div>
</section>
</body>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">IPV Recording</h4>
      </div>
      <div class="modal-body">
        <div class="video_cap_area">
            <video controls="" muted="" src="{{ SITE_URL }}static/media/images/ipv_record/7639961833286665.webm" type="video/webm" width="567" height="350">
               Your browser does not support the video tag.
        </video>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="myModalUploadDoc" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <form role="form" name="frmUploadUserDoc" id="frmUploadUserDoc" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
            <input type="hidden" name="user_id" id="user_id" />
            <input type="hidden" name="trading_id" id="trading_id" />
            <div class="form-group label-floating is-empty">
            <label for="oldpassword" class="control-label">Pan Card</label>
            <input type="file" name="fldPancard" id="fldPanCard" class="form-control" />
            </div>

            <div class="form-group label-floating is-empty">
            <label for="oldpassword" class="control-label">Adhar Card</label>
            <input type="file" name="fldAdharCard" id="fldAdharCard" class="form-control" />
            </div>

            <div class="form-group label-floating is-empty">
            <label for="oldpassword" class="control-label">Cancelled Cheque</label>
            <input type="file" name="fldCancelledCheque" id="fldCancelledCheque" class="form-control" />
            </div>

            <div class="form-group label-floating is-empty">
            <label for="oldpassword" class="control-label">Bank Statement</label>
            <input type="file" name="fldBankStatement" id="fldBankStatement" class="form-control" />
            </div>

            <div class="form-group label-floating is-empty">
            <label for="oldpassword" class="control-label">Permanent Address</label>
            <input type="file" name="fldPermanentAddress" id="fldPermanentAddress" class="form-control" />
            </div>

            <div class="form-group label-floating is-empty">
            <label for="oldpassword" class="control-label">Correspondence Address</label>
            <input type="file" name="fldCorrespondenceAddress" id="fldCorrespondenceAddress" class="form-control" />
            </div>

        </form>
      </div>
        <div class="modal-footer">
        <div class="col-md-3 pull-right"><button type="button" class="btn mysubmit_btn" id="btnUpload">Upload</button></div>

      </div>
    </div>

  </div>
</div>
<div id="myAccountModal" class="modal fade" role="dialog">
  <div class="modal-dialog account-modal">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">You need to open an account to start trading </h4>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary display">Display</a>
        <a href="javascript:void(0)" class="btn btn-primary delete-modal">Delete</a>
      </div>
    </div>

  </div>
</div>

<div id="myModalKycEmail" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Send Email</h4>
      </div>
      <div class="modal-body">
        <form role="form" name="frmSendEmail" id="frmSendEmail" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
            <input type="hidden" name="kyc_user_id" id="kyc_user_id" />
            <div class="form-group label-floating is-empty">
            <label for="oldpassword" class="control-label">From</label>
            <input type="text" name="from_email" id="from_email" class="form-control" readonly="readonly" value="support@investak.in" />
            </div>

            <div class="form-group label-floating is-empty">
            <label for="oldpassword" class="control-label">To</label>
            <input type="text" name="to_email" id="to_email" class="form-control" readonly="readonly" />
            </div>

            <div class="form-group label-floating is-empty">
            <label for="oldpassword" class="control-label">Subject</label>
            <input type="text" name="subject" id="subject" class="form-control" />
            </div>

            <div class="form-group label-floating is-empty">
            <label for="oldpassword" class="control-label">Message</label>
            <textarea name="message" id="message" rows="6" cols="78"></textarea>
            </div>

        </form>
      </div>
        <div class="modal-footer">
        <div class="col-md-3 pull-right"><button type="button" class="btn mysubmit_btn" id="btnSend">Send</button></div>

      </div>
    </div>

  </div>
</div>

</html>

