{% load staticfiles %}
{% load i18n static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>

<title>Investak Admin-Unpublished Cluster List</title>

    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/font-awesome/css/font-awesome.min.css" %}" >
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/stylesheet.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/jquery-ui.css" %}" >

    <script src="{% static "admin/js/jquery.1.11.3.min.js" %}"></script>
    <script src="{% static "admin/js/bootstrap.min.js" %}"></script>
    <script src="{% static "admin/js/datetime.js" %}"></script>
    <script src={% static "admin/js/jquery-ui.js" %}></script>

<script type="text/javascript">

$(document).ready(function(e) {

	$('.left_menu_area > ul > li:has(ul)').addClass("has-sub");

	$('.left_menu_area > ul > li > a').click(function() {
		var checkElement = $(this).next();

		$('.left_menu_area li').removeClass('active');
		$(this).closest('li').addClass('active');

		if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
		  $(this).closest('li').removeClass('active');
		  checkElement.slideUp('normal');
		}

		if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
		  $('.left_menu_area ul ul:visible').slideUp('normal');
		  checkElement.slideDown('normal');
		}

		if (checkElement.is('ul')) {
		  return false;
		} else {
		  return true;
		}
	});



	$("#inbox1").find('.arrowsClick').click(function(e){
		//alert(22);
		e.preventDefault();
		$(".inbox1").slideToggle();

	});

	$("#inbox2").find('.arrowsClick').click(function(e){
		//alert(22);
		e.preventDefault();
		$(".inbox2").slideToggle();
	});



});


$(window).load(function(){

	var winH = $(document).height();
	$(".left_menu_area").height(winH);

});


</script>
<script type="text/javascript">


    $(document).on('click','.delete', function(e){
        var cluster_id = $(this).attr('cluster-id');
        var flag = 0;
        if(cluster_id) {
            if(confirm("Are you want to delete?"))
            {
                $.ajax({
                type:"GET",
                url:"/admin/deleteCluster/",
                data:{cluster_id:cluster_id},
                async:false,
                success:function(response)
                {
                    if(response==1)
                    {
                        flag = 1;
                    }

                },
                error:function(xhr) {

                }
            });

            if(flag==1) {

                $(this).closest('tr').remove();
            }
            }

        }
    });
</script>


</head>

<body>

<header>
	<div class="container">

    	<div class="col-md-2"><a class="logo" href="#"><img class="img-responsive" src="{% static "admin/images/logo.png" %}"></a></div>

 <div class="col-md-2 pull-right">
            <div class="dropdown">
            <span class="users"><i class="fa fa-user" aria-hidden="true"></i></span>
              <a href="#" data-toggle="dropdown">{% firstof user.get_short_name user.get_username %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                  {% if user.has_usable_password %}
                <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> </li>
                {% endif %}
                <li><a href="{% url 'admin:logout' %}">Logout</a></li>
              </ul>
            </div>
		</div>

        <div class="col-md-2  pull-right">
        	<div class="dat_time">
            	<div class="date_area">
                	<p id="days"></p>
                    <p id="dates"></p>
                    <p id="motns"></p>
                </div>

                <div class="getTims">
                	<p id="times"></p>
                </div>

        	</div>
        </div>

	</div>
</header>


<section>
	<div class="container">
        {% include 'admin/side_bar.html' %}
        <div class="col-md-9 marginTop_btom">

            <div class="col-md-12 nopadding">

            	<div class="table_area">
                	<table class="table">
                    	<thead>
                        	<tr>
                                <th>Serial Number</th>
                                <th></th>
                                <th>Cluster Name</th>
                                <th>User Name</th>
                                <th>Created Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>

                        <tbody>
                        {% if professional_cluster %}

                            {% for item in professional_cluster %}
                              <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><img src="{% static "media/images/cluster/" %}{{ item.cluster_image }}" width="60px" height="60px" /> </td>
                                <td>{{ item.cluster_name }}</td>
                                <td>{{ item.user_details.full_name }}</td>
                                <td>{{ item.created_date}}</td>
                              <td>
                                  <a href="/admin/view_unpublished/{{ item.cluster_id }}" class="active"  >View</a>&nbsp;
                                  <a href="javascript:void(0)" class="active delete" cluster-id="{{ item.cluster_id }}"  >Delete</a>
                                </td>

                              </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="4">NO DATA FOUND</td>
                              </tr>
                            {% endif %}

                        </tbody>

            		</table>
                </div>

            </div>


        </div>



    </div>
</section>



<section class="footer_area">
	<div class="container-fluid">

        <div class="col-lg-2 col-md-2 col-xs-12 colcenter">
        	<p class="foterTxt">©2016 investak. All rights reserved.</p>
        </div>

    </div>
</section>

</body>
</html>