<!DOCTYPE html>

<html lang="en">

<head>
<meta charset="utf-8"/>
<title>Investak Dashboard</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
</head>
<body>
    <form name="frmUpload" id="frmUpload" method="post" action="/admin/upload_csv/" enctype="multipart/form-data" >{% csrf_token %}
        <table border="1" align="center" width="60%" >
            <tr>
                <td>Uplaod CSV File</td>
                <td><input type="file" name="file_csv" id="file_csv"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" name="btn_submit" id="btn_submit" value="Upload"></td>
            </tr>
        </table>
    </form>
</body>