{% load staticfiles %}
{% load i18n static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>

<title>Investak-user List</title>

    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/font-awesome/css/font-awesome.min.css" %}" >
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/stylesheet.css" %}" >
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/smoothness/jquery-ui.css">

    <script src="{% static "admin/js/jquery.1.11.3.min.js" %}"></script>
    <script src="{% static "admin/js/bootstrap.min.js" %}"></script>
    <script src="{% static "admin/js/datetime.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js" type="text/javascript"></script>
    <script src={% static "admin/js/jquery.blockUI.js" %}></script>
    <style type="text/css">
        .ui-dialog-osx {
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px; border-width: 0 8px 8px 8px;
}
    </style>
<script type="text/javascript">

$(document).ready(function(e) {


	$('.left_menu_area > ul > li:has(ul)').addClass("has-sub");

	$('.left_menu_area > ul > li > a').click(function() {
		var checkElement = $(this).next();

		$('.left_menu_area li').removeClass('active');
		$(this).closest('li').addClass('active');

		if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
		  $(this).closest('li').removeClass('active');
		  checkElement.slideUp('normal');
		}

		if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
		  $('.left_menu_area ul ul:visible').slideUp('normal');
		  checkElement.slideDown('normal');
		}

		if (checkElement.is('ul')) {
		  return false;
		} else {
		  return true;
		}
	});



	$("#inbox1").find('.arrowsClick').click(function(e){
		//alert(22);
		e.preventDefault();
		$(".inbox1").slideToggle();

	});

	$("#inbox2").find('.arrowsClick').click(function(e){
		//alert(22);
		e.preventDefault();
		$(".inbox2").slideToggle();
	});



});


$(window).load(function(){

	var winH = $(document).height();
	$(".left_menu_area").height(winH);

});


</script>
<script>

(function(w,d,s,g,js,fs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
  js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
  js.src='https://apis.google.com/js/platform.js';
  fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
}(window,document,'script'));
</script>
<script>

gapi.analytics.ready(function() {

  /**
   * Authorize the user immediately if the user has already granted access.
   * If no access has been created, render an authorize button inside the
   * element with the ID "embed-api-auth-container".
   */
  gapi.analytics.auth.authorize({
    container: 'embed-api-auth-container',
    clientid: '609509198392-j0o904pulscaj9ummia1ltama8k0gbhv.apps.googleusercontent.com'
  });


  /**
   * Create a new ViewSelector instance to be rendered inside of an
   * element with the id "view-selector-container".
   */
  var viewSelector = new gapi.analytics.ViewSelector({
    container: 'view-selector-container'
  });

  // Render the view selector to the page.
  viewSelector.execute();


  /**
   * Create a new DataChart instance with the given query parameters
   * and Google chart options. It will be rendered inside an element
   * with the id "chart-container".
   */
  var dataChart = new gapi.analytics.googleCharts.DataChart({
    query: {
     'ids': 'ga:138366394',
      metrics: 'ga:users',
      dimensions: 'ga:date',
      'start-date': '30daysAgo',
      'end-date': 'today'
    },
    chart: {
      container: 'chart-container',
      type: 'LINE',
      options: {
        width: '100%'
      }
    }
  });


  /**
   * Render the dataChart on the page whenever a new view is selected.
   */
  viewSelector.on('change', function(ids) {
    dataChart.set({query: {ids: ids}}).execute();
  });

});
</script>
</head>

<body>

<header>
	<div class="container">

    	<div class="col-md-2"><a class="logo" href="#"><img class="img-responsive" src="{% static "admin/images/logo.png" %}"></a></div>

 <div class="col-md-2 pull-right">
            <div class="dropdown">
            <span class="users"><i class="fa fa-user" aria-hidden="true"></i></span>
              <a href="#" data-toggle="dropdown">{% firstof user.get_short_name user.get_username %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(0)">Profile</a></li>
                  {% if user.has_usable_password %}
                <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> </li>
                {% endif %}
                <li><a href="{% url 'admin:logout' %}">Logout</a></li>
              </ul>
            </div>
		</div>

        <div class="col-md-2  pull-right">
        	<div class="dat_time">
            	<div class="date_area">
                	<p id="days"></p>
                    <p id="dates"></p>
                    <p id="motns"></p>
                </div>

                <div class="getTims">
                	<p id="times"></p>
                </div>

        	</div>
        </div>

	</div>
</header>


<section>
	<div class="container">
        {% include 'admin/side_bar.html' %}
        <div id="embed-api-auth-container" style="display:none;"></div>
        <div id="chart-container"></div>
        <div id="view-selector-container" style="display:none;"></div>
    </div>
</section>



<section class="footer_area">
	<div class="container-fluid">

        <div class="col-lg-2 col-md-2 col-xs-12 colcenter">
        	<p class="foterTxt">©2016 investak. All rights reserved.</p>
        </div>

    </div>
</section>
</body>
</html>