{% load staticfiles %}
{% load i18n static %}
{% load humanize %}
{% load investak_filters %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
<title>Investak Dashboard</title>


{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static "frontend/dashboard/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/font-awesome/css/font-awesome.min.css" %}" >
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/stylesheet.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "frontend/dashboard/dist/css/style_dashboard.css" %}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block js %}
    <script src="{% static "admin/js/jquery.1.11.3.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/js/bootstrap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin/js/datetime.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<script type="text/javascript">

$(document).ready(function(e) {


	$('.left_menu_area > ul > li:has(ul)').addClass("has-sub");

	$('.left_menu_area > ul > li > a').click(function() {
		var checkElement = $(this).next();

		$('.left_menu_area li').removeClass('active');
		$(this).closest('li').addClass('active');

		if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
		  $(this).closest('li').removeClass('active');
		  checkElement.slideUp('normal');
		}

		if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
		  $('.left_menu_area ul ul:visible').slideUp('normal');
		  checkElement.slideDown('normal');
		}

		if (checkElement.is('ul')) {
		  return false;
		} else {
		  return true;
		}
	});



	$("#inbox1").find('.arrowsClick').click(function(e){

		e.preventDefault();
		$(".inbox1").slideToggle();

	});

	$("#inbox2").find('.arrowsClick').click(function(e){

		e.preventDefault();
		$(".inbox2").slideToggle();
	});


$(document).ready(function(){

  $('.hoverPops').hover(function(){

       var tgt= $(".stock-info").html();
       var inx = $(this).parent().parent().index();

     $(this).parent().find('.pophover').append('<div id="feedback">'+tgt+'</div>');
     $(this).parent().find(".pophover").show();

  }, function() {

         $('.pophover #feedback').remove();
         $(this).parent().find(".pophover").hide();

  });


  $(".pan-menu").find('.pan-menu-ul').hide();

  $(".pan-menu-ul-title").find('a').click(function () {

   var adb = $(this).parent().parent().index();
   $(".pan-menu").find('.pan-menu-ul').eq(adb - 1).slideToggle();
   $(this).find('i').toggleClass('fa-chevron-up fa-chevron-down');

  });


  $(".arows").find('a').click(function(event){

    event.preventDefault();
    $(".dropdown_area").show();
  });


  $(".drop_cls").click(function(event){
    event.preventDefault();
    $(".dropdown_area").hide();

  });


        $('input.dropdown_area_checkbox').on('click', function(evt) {
   if($(".dropdown_area").find('input:checkbox:checked').length > 4) {

       alert('Can not checked more than 4 checkboxes');
       this.checked = false;
   }
});

     $("#btnHeader").click(function(e){
         $(".dropdown_area_checkbox").each(function(index){

            if(this.checked==false)
            {

                $("#th_"+$(this).attr('id')).hide();
            }
             else
            {

                $("#th_"+$(this).attr('id')).show();
            }
         });

         $(".inbox1").each(function(index){
            $(this).find('td').each (function() {
                alert($(this).attr('data-desc'));
            });
         });
    });


});

});


$(window).load(function(){

	var winH = $(document).height();
	$(".left_menu_area").height(winH);

});


</script>

<script src="https://code.highcharts.com/stock/highstock.js" type="text/javascript"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js" type="text/javascript"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<script type="text/javascript">
var exchange = 'NSE';
var cluster_id = '{{ cluster_details.0.id }}';
var prev_value = 0.00;
var company_array = new Array();
var sector_array = new Array();
var flag = 0;
var symbol = '';
var slider_counter = 0;
var slider_value = 0.00;
var tool_tip ='';
var select_exchange = 'NSE';
var select_value = 1;
var axis = '';
function calculate_total_weigh() {
        var total_weigh = 0;
        $(".amount_1a").each(function(index){
            total_weigh = parseFloat(parseFloat(total_weigh) + parseFloat($(this).val()));
        });
        $("#total-weigh").html('Total Weightage : '+parseFloat(total_weigh).toFixed(2)+'%');
        $("#remain-weigh").html('Remaining Weightage : '+parseFloat(100 - parseFloat(total_weigh).toFixed(2)).toFixed(2)+'%');
    }
    function generate_slider() {
    var co_code_list = '';
        var weigh_list = '';
        $(".slider-range-min_1a").each(function(index, Element){
             $(this ).slider({
              range: "min",
              step: 0.01,
              disabled: true,
              value: parseFloat($(this).attr('data-value')).toFixed(2),
              min: 0.00,
              max: 100.00,
              start: function(event, ui) {
                        prev_value = ui.value;
              },
              slide: function( event, ui ) {
                $( "#amount_1a_"+$( this).attr('data-id') ).val( ui.value.toFixed(2) );
              },
              change: function(event,ui) {

              },
                 stop: function(event,ui)
                 {
                     $( "#amount_1a_"+$( this).attr('data-id') ).val( ui.value.toFixed(2) );
                     change_slider_value(ui.value,$( this).attr('data-id'));


                 }
            });
            $( "#amount_1a_"+$( this).attr('data-id') ).val( $( this ).slider( "value" ).toFixed(2)  );
            co_code_list = co_code_list + $(this).attr('data-co-code') +",";
            weigh_list = weigh_list + $(this).slider('value') + ",";
        });

        historical_graph(cluster_id,co_code_list,weigh_list);
}

function historical_graph(cluster_id,co_code,weightage)
{
    $.ajax({
        url:"/frontend/historical_graph/",
        type:"GET",
        data:{cluster_id:cluster_id,co_code:co_code,exchange:exchange,weightage:weightage},
        success:function(response) {
            Investak_Historical(response);
        },
        error:function(xhr) {
            alert("Error occurred");
        }
    });
}


function Investak_Historical(response)
{
   var obj1 = $.parseJSON(JSON.stringify(response));
    //console.log(obj1);
    var object = new Object();
    var object1 = new Object();
    data_graph = new Array();
    data_graph_idx = new Array();
   for(var i=0;i<obj1['response']['data']['Companylist']['company'].length;i++)
   {
       var str = obj1['response']['data']['Companylist']['company'][i].date;
       str = str.replace("AM","");
       str = str.replace("12:00:00","");
       myDate = str.split("/");
       var newDate=myDate[1]+"/"+myDate[0]+"/"+myDate[2];
       if(select_value==1)
           {
                var cluster_value = parseFloat(obj1['response']['data']['Companylist']['company'][i].clustervalue);
                var index_value = parseFloat(obj1['response']['data']['Companylist']['company'][i].indexvalue);
                object.data = [new Date(myDate[2],myDate[0],myDate[1]).getTime(),parseFloat(cluster_value.toFixed(2))];
                object1.data = [new Date(myDate[2],myDate[0],myDate[1]).getTime(),parseFloat(index_value.toFixed(2))];

               axis =  {
                opposite:false,
                allowDecimals: false,
                 labels: {
                    formatter: function () {
                            return this.value;
                        }
                }
            };
               tool_tip = {
                   valuePrefix: 'Rs.',
                   valueSuffix: ' /-'
               };
           }
           else {
               var ret = parseFloat(obj1['response']['data']['Companylist']['company'][i].ret);
               var ret_idx =  parseFloat(obj1['response']['data']['Companylist']['company'][i].ret_idx);

                object.data = [new Date(myDate[2],myDate[0],myDate[1]).getTime(),parseFloat(ret.toFixed(2))];
                object1.data = [new Date(myDate[2],myDate[0],myDate[1]).getTime(),parseFloat(ret_idx.toFixed(2))];
               axis =  {
                opposite:false,
                allowDecimals: false,
                 labels: {
                    formatter: function () {
                            return this.value + "%";
                        }
                }
            };
                tool_tip = {
                   valuePrefix: '',
                   valueSuffix: ' %'
               };
           }

       data_graph.push(object.data);
       data_graph_idx.push(object1.data);
   }


    data_graph.sort();
    data_graph_idx.sort();
    display_graph();
}
function display_graph()
{
    $('#historicalgraph').closest('img').hide();
     Highcharts.setOptions({
		lang: {
			thousandsSep: ','
		}
	});
     $('#historicalgraph').highcharts('StockChart', {
     credits: {
            enabled: false
      },
      rangeSelector: {
            enabled: false
        },
     exporting: {
         enabled: false
        },
       chart: {
        renderTo: 'historicalgraph',
        zoomType: 'x'
            },
           xAxis: {
        events: {
            setExtremes: function (e) {
                if(typeof e.min == 'undefined' && typeof e.max == 'undefined'){
                     console.log('reset zoom clicked');
                } else {
                     console.log('zoom-in');
                }
            }
        }
    },
         tooltip: tool_tip,
         yAxis: axis,
            series : [{
                data : data_graph
            },
            {
                data: data_graph_idx
            }
            ]
        },
         function(chart) {

            chart.series[0].name = '{{ cluster_details.0.cluster_name }}';
            if(select_exchange == "BSE") {
                chart.series[1].name='Sensex';
            }
            else {
                chart.series[1].name='Nifty';
            }
            chart.redraw();


    });
}

$(document).ready(function(e) {
    calculate_total_weigh();
    generate_slider();

    $(".published").click(function(e){
        var cluster_id='{{ cluster_id }}';
        if(confirm("Are You Sure You Want To Publish This Cluster?"))
        {
            $.ajax({
           type:"POST",
           url:"/admin/make_published_cluster/",
           data:{cluster_id:cluster_id,csrfmiddlewaretoken:'{{ csrf_token }}'}
            }).done(function(response){
                if(response == 1) {
                    alert("Cluster Published Successfully");
                    window.location.href="/admin/unpublished_cluster_list/";
                }
            });
        }

    });
});

$(document).on('click','.stock-info',function(e){
            var stock_info = $(this).closest('tr').attr('data-stock-info');
            $("#txtNotify").val(stock_info);
             var rowIndex = $('.table > tbody > tr').index($(this).closest('tr'));
            $(".dialog-message").dialog({
            modal: true,
            draggable: false,
            resizable: false,
            position: ['center', 'middle'],
            show: 'blind',
            hide: 'blind',
            width: 400,
            dialogClass: 'ui-dialog-osx'
        });
});

</script>

<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>
</head>
{% load i18n %}

<body>

<!-- Container -->
<header>
<div id="container">
<div class="col-md-2"><a class="logo" href="#"><img class="img-responsive" src="{% static "admin/images/logo.png" %}"></a></div>
 <div class="col-md-2 pull-right">
            <div class="dropdown">
            <span class="users"><i class="fa fa-user" aria-hidden="true"></i></span>
              <a href="#" data-toggle="dropdown">{% firstof user.get_short_name user.get_username %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a  href="javascript:void(0)" data-toggle="modal" data-target="#modalChangeProfile">Profile</a></li>
                  {% if user.has_usable_password %}
                <li><a  href="javascript:void(0)" data-toggle="modal" data-target="#modalChangePwd">{% trans 'Change password' %}</a> </li>
                {% endif %}
                <li><a href="{% url 'admin:logout' %}">Logout</a></li>
              </ul>
            </div>
		</div>
    <div class="col-md-2  pull-right">
        	<div class="dat_time">
            	<div class="date_area">
                	<p id="days"></p>
                    <p id="dates"></p>
                    <p id="motns"></p>
                </div>

                <div class="getTims">
                	<p id="times"></p>
                </div>

        	</div>
        </div>

	</div>
</header>
<section>
	<div class="container" id="myPage">
        {% include 'admin/side_bar.html' %}
         <div class="col-md-10 marginTop_btom">
             <form  name="frmCluster" id="frmCluster" enctype="multipart/form-data" method="post">{% csrf_token %}
                        <input type="hidden" name="posted_by" id="posted_by" value="A" />
                         <input name="hid_cluster_id" id="hid_cluster_id" type="hidden" value="{{ cluster_details.0.id }}">
                        <input name="cluster_id" id="cluster_id" type="hidden" value="{{ cluster_details.0.id }}">
                        <input type="hidden" name="created_by" id="created_by" value="1" />
                        <input type="hidden" name="user_id" id="user_id" value="{{ cluster_details.0.created_by }}" />
                        <input type="hidden" name="hidden_old_cluster_image" id="hidden_old_cluster_image" value="{{ cluster_details.0.cluster_image }}" />
                        <input type="hidden" name="hidden_new_cluster_image" id="hidden_new_cluster_image"  />
                        <div class="row margisTop">
                            <div class="col-md-12">
                                <div class="img_area">
                                	<img src="/static/media/images/cluster/{{ cluster_details.0.cluster_image }}" id="img_preview" height="306px" width="100%">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="box_area_mofit">
                                    <div class="col-lg-4 col-md-4 col-xs-12">
                                        <div class="form-group">
                                        <input placeholder="" id="cluster_name" name="cluster_name" class="form-control" type="text" value="{{ cluster_details.0.cluster_name }}" readonly="readonly">
                                        </div>

                                    </div>
                                    <div class="col-lg-8 col-md-8 col-xs-12 nopadleft">
                                        <div class="create_box">
                                            <div class="col-lg-6 col-md-6 col-xs-12 nopadleft">
                                                <div class="category">
                                                    <div class="form-group">
                                                    <select class="form-control ddl-category" name="cluster_category" id="cluster_category" disabled="disabled">

                                                        {% if category_details %}
                                                            {% for cd in category_details %}
                                                                <option value="{{ cd.id }}" {% ifequal cd.id cluster_details.0.cluster_category %} selected="selected" {% endifequal %} >{{ cd.cat_name }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-xs-12 nopadleft">
                                                <div class="category">
                                                    <div class="form-group">
                                                    <select class="form-control" name="cluster_sub_category" id="cluster_sub_category" disabled="disabled">
                                                            <option value="">Select Any</option>
                                                            {% if sub_category_details %}
                                                                {% for scd in sub_category_details %}
                                                                    <option value="{{ scd.id }}" {% ifequal scd.id cluster_details.0.cluster_sub_category %} selected="selected" {% endifequal %} >{{ scd.cat_name }}</option>
                                                                {% endfor %}
                                                            {% endif %}
                                                    </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-xs-12 txtArea">
                                    	<textarea placeholder="Full Description........" name="cluster__desc" id="cluster_desc" readonly="readonly">{{ cluster_details.0.cluster_desc }}</textarea>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-xs-12 txtArea">
                                        <textarea placeholder="Please Enter Research Description.." name="research_desc" id="research_desc" readonly="readonly">{{ cluster_details.0.research_desc }}</textarea>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-xs-12 txtArea">
                                    	<textarea placeholder="Please Enter Weight Description.." name="weight_desc" id="weight_desc" readonly="readonly">{{ cluster_details.0.weight_desc }}</textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
        				</form>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="graph_box">
                                	<h2>Historical Graph</h2>
                                    <div class="boxes" id="historicalgraph">
                                    	<!--<img class="img-responsive" src="/static/frontend/dashboard/images/graph2.png">-->
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                    <div class="boxs_area">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>SEGMENT &amp; STOCKS</th>
                                                <th>WEIGHT</th>
                                                <th>SYMBOL</th>
                                                <th id="th_ltp">PRICE</th>
                                                <th id="th_mcap">MARKET CAP</th>
                                                <th id="th_r1_yearret">1 YR RETURN</th>
                                                <th id="th_pe">VALUATION (P/E)</th>
                                                <th id="th_div_yield" style="display: none;">Dividend Yield</th>
                                                <th id="th_r1_mret" style="display: none;"> 1 MN RETURN</th>
                                                <th id="th_r6_mret" style="display: none;">6 MN RETURN</th>
                                            </tr>
                                        </thead>

                                        <tbody class="tbody">
                                            {% if sub_cluster_details %}
                                                {% for scd in sub_cluster_details %}
                                                    <tr class="inbox1" cluster_id="{{ scd.cluster_id_id }}" company_code="{{ scd.co_code }}" company_name="{{ scd.co_name }}" dayopen="{{ scd.day_open }}" dayhigh="{{ scd.day_high }}" daylow="{{ scd.day_low }}" bidprice="{{ scd.bid_price }}" askprice="{{ scd.ask_price }}" price="{{ scd.ltp }}" dayvolume="{{ scd.day_volume }}" tradedate="{{ scd.trade_date }}" prevclose="{{ scd.prev_close }}" pricediff="{{ scd.price_diff }}" perchange="{{ scd.per_change }}" beta="{{ scd.beta }}" hi_52_wk="{{ scd.hi_52_wk }}" lo_52_wk="{{ scd.lo_52_wk }}" avgvol_3m="{{ scd.avg_vol_3m }}" eps="{{ scd.eps }}" divyield="{{ scd.div_yield }}" r1mret="{{ scd.r1_mret }}" r6mret="{{ scd.r6_mret }}" sectorname="{{ scd.sector_name }}" m_cap="{{ scd.mcap }}" r1yearret="{{ scd.r1_yearret }}" pe="{{ scd.pe }}" exchange="{{ scd.exchange }}" data-stock-info="{{ scd.stock_information }}" >
                                                        <td>{{ scd.co_name }}&nbsp;<span class="glyphicon glyphicon-share stock-info" data-toggle="tooltip" data-original-title="Share" style="cursor:pointer; padding-left:5px; font-size:12px;"></span></td>
                                                        <td>
                                                            <div class="slider_inpust"><div class="sliders">
                                                            <div id="slider-range-min_1a_{{ forloop.counter }}" data-id="{{ forloop.counter }}" data-co-code="{{ scd.co_code }}" data-value="{{ scd.weightage }}" class="slider-range-min_1a ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: {{ scd.weightage }}%;"></div><span tabindex="0" class="ui-slider-handle ui-state-default ui-corner-all" style="left: {{ scd.weightage }}%;"></span>  </div>
                </div> <input type="text" id="amount_1a_{{ forloop.counter }}" class="amount_1a"  value="{{ scd.weightage }}" text-data="{{ forloop.counter }}" readonly="readonly"> <span style="float: right;">%</span></div>
             </td>
                                                    <td>{{ scd.symbol }}</td>
                                                    <td data-desc="ltp">Rs.{{ scd.ltp }}</td>
                                                    <td data-desc="mcap">{{ scd.mcap|div:100|floatformat:2 }}B</td>

                                                    <td data-desc="r1_yearret">
                                                    {% if scd.r1_yearret >= 0.00  %}
              <div class="baseDecrese_up"><p><span><i aria-hidden="true" class="fa fa-long-arrow-up"></i></span>{{ scd.r1_yearret|floatformat:2 }}%</p></div>
                                                    {% else %}
                                                    <div class="baseDecrese_dwn"><p><span><i aria-hidden="true" class="fa fa-long-arrow-down"></i></span>{{ scd.r1_yearret|floatformat:2 }}%</p></div>
                                                   {% endif %}
                                                    </td>
                                                    <td>{{ scd.pe }}</td>
                                                    <td style="display:none;" data-desc="div_yield">{{ scd.div_yield|floatformat:2 }}</td>
                                                    <td style="display:none;" data-desc="r1_mret">{{ scd.r1_mret|floatformat:2 }}</td>
                                                    <td style="display:none;" data-desc="r6_mret">{{ scd.r6_mret|floatformat:2 }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            <div class="col-md-12 nopadright pull-right">
                                <span class="col-md-2 nopadright pull-right"><a href="javascript:void(0)" class="mybuttons hoverEffects dons published">Publish</a></span>
                                <p align="left" id="total-weigh">Total Weightage : <span>0.00%</span></p>
                                <p align="left" id="remain-weigh">Remaining Weightage : <span>100.00%</span></p>
                            </div>
                </div>
            </div>

        </div>
     </div>
</section>
<div class="dialog-message" title="Addtional Stock Info" style="display: none!important;"><textarea name="txtNotify" id="txtNotify" style="width: 100%;"></textarea> </div>
{% include 'admin/footer.html' %}
</body>
</html>
{% endblock %}