{% load staticfiles %}
{% load i18n static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>

<title>Investak-Analyze</title>

    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/font-awesome/css/font-awesome.min.css" %}" >
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/stylesheet.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/jquery-ui.css" %}" >

    <script src="{% static "admin/js/jquery.1.11.3.min.js" %}"></script>
    <script src="{% static "admin/js/bootstrap.min.js" %}"></script>
    <script src="{% static "admin/js/datetime.js" %}"></script>
    <script src={% static "admin/js/jquery-ui.js" %}></script>
    <script src={% static "admin/js/jquery.blockUI.js" %}></script>
<script type="text/javascript">

$(document).ready(function(e) {
    $("#image").change(function(e){
        readURL(this);
    });
	$('.left_menu_area > ul > li:has(ul)').addClass("has-sub");

	$('.left_menu_area > ul > li > a').click(function() {
		var checkElement = $(this).next();

		$('.left_menu_area li').removeClass('active');
		$(this).closest('li').addClass('active');

		if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
		  $(this).closest('li').removeClass('active');
		  checkElement.slideUp('normal');
		}

		if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
		  $('.left_menu_area ul ul:visible').slideUp('normal');
		  checkElement.slideDown('normal');
		}

		if (checkElement.is('ul')) {
		  return false;
		} else {
		  return true;
		}
	});

	$("#inbox1").find('.arrowsClick').click(function(e){
		e.preventDefault();
		$(".inbox1").slideToggle();

	});

	$("#inbox2").find('.arrowsClick').click(function(e){
		e.preventDefault();
		$(".inbox2").slideToggle();
	});
});
$(window).load(function(){
	var winH = $(document).height();
	$(".left_menu_area").height(winH);

});
function readURL(input){
    if (input.files && input.files[0]) {
        var f_name = input.files[0].name;
        var ext = f_name.split(".").pop();
        if(ext=="jpg" || ext=="JPG" || ext=="png" || ext=="PNG" || ext=="gif" || ext=="GIF" || ext=="bmp" || ext=="BMP") {

            var reader = new FileReader();

            reader.onload = function (e) {
                $("#hid_new_cluster_image").val(input.files[0].name);
                $('#img_preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
            $("#cluster_image-error").hide();
        }
        else {
            alert("Please Select Jpg Or png File");
            $('#img_preview').attr('src', '/static/frontend/dashboard/images/default_img.png');
        }
    }
}

</script>

    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(e){
        $(".mybuttons").click(function(e){
            $("#frmAna").submit();
        });
        $("#heading").keyup(function () {
            $("#heading").val($("#heading").val().replace(/^\s+/,""));
        });
        $("#description").keyup(function () {
            $("#description").val($("#description").val().replace(/^\s+/,""));
        });
        $.validator.addMethod("img_check", function(value, element) {
          return ($("#hid_analyze_id").val()!="" || $("#image").val()!="")
        }, "Please Select  Image");
        $("#frmAna").validate({
                rules: {
                    heading: {
                        required:true
                    },
                    description: {
                        required:true
                    },
                    image: {
                        img_check:true,
                        extension:'jpg|png|gif|bmp|JPG|PNG|GIF|BMP'
                    }                    
                },
                messages: {
                    heading: {
                        required:"Please Enter Heading"
                    },
                    description: {
                        required:"Enter Description"
                    },
                    image: {
                        extension:'Image Not Valid'
                    },                   
                },
                submitHandler:function(form)
                {
                    var data = new FormData($('form').get(0));
                    $.ajax({
                        type:"POST",
                        url:"/admin/analyze/insert/",
                        data:data,
                        cache: false,
                        processData: false,
                        contentType: false,
                        beforeSend:function() {
                            $.blockUI({ message: 'Please Wait...' });
                        },
                        success:function(response)
                        {
                            if(response==1)
                            {
                                $("#heading").val('');
                                $("#description").val('');
                                $("#image").val('');
                                window.location.href="/admin/analyze/";
                            }
                            $.unblockUI();
                        },
                        error:function(response)
                        {
                            $.unblockUI();
                            alert("Error Occured.....");
                        }
                    });

                }
            });
    });
    $(document).on('click','.delete',function(e) {
        var analyze_id = $(this).attr('data-id');
        if(analyze_id) {
            if(confirm("Are you want to delete?"))
            {
                $.ajax({
                type:"GET",
                url:"/admin/analyze/delete/",
                data:{analyze_id:analyze_id},
                async:false,
                beforeSend:function() {
                  $.blockUI({ message: 'Please Wait...' });
                },
                success:function(response) {
                    if(response==1){
                        window.location.href = "/admin/analyze/";
                    }
                    $.unblockUI();
                },
                error:function(xhr) {
                    $.unblockUI();
                    alert("Error Occurred");
                }
            });
            }

        }
    });
</script>


</head>

<body>

<header>
	<div class="container">

    	<div class="col-md-2"><a class="logo" href="#"><img class="img-responsive" src="{% static "admin/images/logo.png" %}"></a></div>

 <div class="col-md-2 pull-right">
            <div class="dropdown">
            <span class="users"><i class="fa fa-user" aria-hidden="true"></i></span>
              <a href="#" data-toggle="dropdown">{% firstof user.get_short_name user.get_username %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                  {% if user.has_usable_password %}
                <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> </li>
                {% endif %}
                <li><a href="{% url 'admin:logout' %}">Logout</a></li>
              </ul>
            </div>
		</div>

        <div class="col-md-2  pull-right">
        	<div class="dat_time">
            	<div class="date_area">
                	<p id="days"></p>
                    <p id="dates"></p>
                    <p id="motns"></p>
                </div>

                <div class="getTims">
                	<p id="times"></p>
                </div>

        	</div>
        </div>

	</div>
</header>


<section>
	<div class="container">
        {% include 'admin/side_bar.html' %}
        <div class="col-md-9 marginTop_btom">
        <form method="post" id="frmAna" name="frmAna" enctype="multipart/form-data">
         <input type="hidden" name="hid_analyze_id" id="hid_analyze_id" value="{{ analyze_id }}"/>
        <input type="hidden" name="hid_old_cluster_image" id="hid_old_cluster_image" value="{{ AllEditAnalyzeList.0.image }}">
        <input type="hidden" name="hid_new_cluster_image" id="hid_new_cluster_image">
            {% csrf_token %}
            <div class="col-md-12 nopadding">
            	<div class="upper_area">                
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Heading:</label>
                            <input id="heading" name="heading" class="form-control" type="text" placeholder="Enter Heading" value="{{AllEditAnalyzeList.0.heading}}">
                        </div>
                    </div>
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Description:</label>
                            <textarea id="description" rows="5" cols="60" name="description" placeholder="Enter Description..">{{AllEditAnalyzeList.0.description}}</textarea>
                        </div
                    </div>
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Image:</label>
                            {% if analyze_id %}
                                <img src="https://d1iedlxz1i0l9r.cloudfront.net/static/media/images/analyze/{{AllEditAnalyzeList.0.image}}" id="img_preview" width="100px" height="100px">
                            {% else %}
                                <img src="{% static "frontend/dashboard/images/default_img.png" %}" id="img_preview" width="100px" height="100px">
                            {% endif %}
                            <input type="file" name="image" id="image" value="{{AllEditAnalyzeList.0.image}}">
                        </div>
                    </div>
                    <div class="input_box">
                        <div align="center" class="col-md-2">
                            <a href="javascript:void(0)" class="mybuttons">Done</a>
                        </div>
                    </div>
                    <div class="underline"></div>
                </div>
            </div>
</form>

             <div class="col-md-12 nopadding">
                <div class="table_area">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Heading</th>
                                <th>Details</th>
                                <th>Image</th>
                                <th>Created On</th>
                                <th>Action</th>
                            </tr>
                        </thead
                        <tbody>
                        {% if AllAnalyzeList %}
                            {% for item in AllAnalyzeList %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ item.heading}}</td>
                                    <td>{{ item.description}}</td>
                                    <td><img src="https://d1iedlxz1i0l9r.cloudfront.net/static/media/images/analyze/{{ item.image}}" width="60px" height="60px" /> </td>
                                    <td>{{ item.created_date}}</td>
                                    <td>
                                        <a class="edit" href="/admin/analyze/edit/{{item.id}}">Edit</a> 
                                        <a class="deactive delete" href="javascript:void(0)" data-id="{{ item.id }}">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="5">NO DATA FOUND</td>
                              </tr>
                            {% endif %}

                        </tbody>

                    </table>
                </div>

            </div>
        </div>



    </div>
</section>



<section class="footer_area">
	<div class="container-fluid">

        <div class="col-lg-2 col-md-2 col-xs-12 colcenter">
        	<p class="foterTxt">©2016 investak. All rights reserved.</p>
        </div>

    </div>
</section>

</body>
</html>