{% load staticfiles %}
{% load i18n static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>

<title>Investak-Category</title>

    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/font-awesome/css/font-awesome.min.css" %}" >
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/stylesheet.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/jquery-ui.css" %}" >

    <script src="{% static "admin/js/jquery.1.11.3.min.js" %}"></script>
    <script src="{% static "admin/js/bootstrap.min.js" %}"></script>
    <script src="{% static "admin/js/datetime.js" %}"></script>
    <script src={% static "admin/js/jquery-ui.js" %}></script>

<script type="text/javascript">

$(document).ready(function(e) {

	$('.left_menu_area > ul > li:has(ul)').addClass("has-sub");

	$('.left_menu_area > ul > li > a').click(function() {
		var checkElement = $(this).next();

		$('.left_menu_area li').removeClass('active');
		$(this).closest('li').addClass('active');

		if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
		  $(this).closest('li').removeClass('active');
		  checkElement.slideUp('normal');
		}

		if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
		  $('.left_menu_area ul ul:visible').slideUp('normal');
		  checkElement.slideDown('normal');
		}

		if (checkElement.is('ul')) {
		  return false;
		} else {
		  return true;
		}
	});



	$("#inbox1").find('.arrowsClick').click(function(e){
		//alert(22);
		e.preventDefault();
		$(".inbox1").slideToggle();

	});

	$("#inbox2").find('.arrowsClick').click(function(e){
		//alert(22);
		e.preventDefault();
		$(".inbox2").slideToggle();
	});



});


$(window).load(function(){

	var winH = $(document).height();
	$(".left_menu_area").height(winH);

});


</script>

    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(e){
        $("#cat_name").keypress(function(e){
            if(e.which === 32 && e.target.selectionStart === 0) {
               return false;
           }
        });

        $("#cat_name").blur(function(e){
            var cat_name = $.trim($("#cat_name").val());
            if(cat_name.length > 0) {
                $.ajax({
                    type:"POST",
                    url:"/admin/duplicate_category/",
                    data:{cat_name:cat_name,csrfmiddlewaretoken:'{{ csrf_token }}'},
                    async:false,
                    success:function(response) {
                        if(response == 1) {
                            $('<label id="cat_name-error" class="error" for="cat_name">Duplicate category name</label>').insertAfter("#cat_name");
                            $("#cat_name").val('');
                        }
                        else {
                            $("#cat_name-error").remove();
                        }
                    },
                    error:function(xhr) {
                        alert("Error Occurred");
                    }
                });
            }

        });

        $(".mybuttons").click(function(e){
            $("#frmCategory").submit();
        });
        $("#search_category_name").autocomplete({
             minLength: 2,
             source: "/admin/get_category/",
             select:function(event, ui) {

             },
            focus: function (event, ui) {

            }
        });
        $("#frmCategory").validate({
                rules: {
                    cat_name: {
                        required:true
                    },
                    status: {
                        required:true
                    },
                    cat_type:{
                        required:true
                    }
                },
                messages: {
                     cat_name: {
                        required:"Please Enter Category Name"
                    },
                    status: {
                        required:"Please Select Status"
                    },
                    cat_type:{
                        required:"Please Select Category Type"
                    }
                },
                submitHandler:function(form)
                {
                    var cat_type = $('input[name=cat_type]:checked').val();
                    var p_id = $("#p_id").val();
                    var flag = 1;
                    if(cat_type=="No")
                    {
                        if(!p_id)
                        {
                            alert("Please Select Parent Category");
                            flag=0;
                        }
                    }
                    else if(cat_type=="Yes")
                    {
                        p_id = 0;
                    }
                    else {
                        alert("Please Select Category Type");
                        flag=0;
                    }
                    if(flag==1)
                    {
                        $.ajax({
                            type:"POST",
                            url:"/admin/category/insert/",
                            data:{cat_name:$("#cat_name").val(),p_id:p_id,status:$("#status").val(),id:$("#hid_cat_id").val(),csrfmiddlewaretoken:'{{ csrf_token }}'},
                            beforeSend:function()
                            {
                                 //$('body').fadeTo( "slow", 0.33 );
                            },
                            success:function(response)
                            {
                                if(response==1)
                                {
                                    $("#cat_name").val('');
                                    $("#p_id").val('');
                                    $("#status").val('');
                                    window.location.href="/admin/category/";
                                }
                            },
                            error:function(response)
                            {
                                //$('body').fadeTo( "slow", 1);
                                alert("Error Occured.....");
                            }
                        });
                    }

                }
            });
    });
    $(document).on('click','.status-change',function(e){
        var data_id = $(this).attr('data-id');
        var data_class = $(this).attr('data-class');
        var message = '';
        var change_class = '';
        if(data_class=="active")
        {
            message = "Do You Want To De-active The Selected Category?";
        }
        else {
            message = "Do You Want To Active The Selected Category?"
        }
        if(confirm(message))
        {
            $.ajax({
                type:"POST",
                url:"/admin/category/status_change/",
                data:{cat_id:data_id,data_class:data_class,csrfmiddlewaretoken:'{{ csrf_token }}'},
                async:false,
                beforeSend:function()
                {
                    //$('body').fadeTo( "slow", 0.33 );
                },
                success:function(response)
                {
                    if(response==1)
                    {
                        if(data_class=="active")
                        {
                            change_class="deactive";
                        }
                        else if(data_class=="deactive")
                        {
                            change_class="active";
                        }
                        window.location.href="/admin/category/";
                    }

                    //$('body').fadeTo( "slow", 1 );
                },
                error:function(xhr)
                {
                    alert("Error Occurred");
                    //$('body').fadeTo( "slow", 1 );
                }
            });
            if(change_class=="deactive")
            {

                $(this).removeClass('active').addClass('deactivate');
                $(this).html('Deactive')
            }
            else if(change_class=="active")
            {

                $(this).removeClass('deactive').addClass('active');
                $(this).html('Active')
            }
        }
    });
    $(document).on('click','.cat-delete',function(e){
       var category_id = $(this).attr('data-id');
       if(category_id) {
           var flag = 0;
          if(confirm("Are you sure you want to delete?")) {
              $.ajax({
                 type:"POST",
                 url:"/admin/category/delete/" ,
                 data:{category_id:category_id,csrfmiddlewaretoken:'{{ csrf_token }}'},
                 async:false,
                 success:function(response) {
                    if(response == 1) {
                        alert("Category can not be deleted. Cluster exists under this category");
                    }
                    else if(response == 2) {
                        alert("Category can not be deleted. Sub category exists under this category");
                    }
                    else if(response == 3) {

                        flag = 1
                    }
                 },
                 error:function(xhr) {
                     alert("Error Occurred");
                 }
              });
              if(flag == 1) {
                  $(this).closest('tr').remove();
                  alert("Category successfully deleted");
              }
          }
       }
    });

</script>


</head>

<body>

<header>
	<div class="container">

    	<div class="col-md-2"><a class="logo" href="#"><img class="img-responsive" src="{% static "admin/images/logo.png" %}"></a></div>

 <div class="col-md-2 pull-right">
            <div class="dropdown">
            <span class="users"><i class="fa fa-user" aria-hidden="true"></i></span>
              <a href="#" data-toggle="dropdown">{% firstof user.get_short_name user.get_username %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                  {% if user.has_usable_password %}
                <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> </li>
                {% endif %}
                <li><a href="{% url 'admin:logout' %}">Logout</a></li>
              </ul>
            </div>
		</div>

        <div class="col-md-2  pull-right">
        	<div class="dat_time">
            	<div class="date_area">
                	<p id="days"></p>
                    <p id="dates"></p>
                    <p id="motns"></p>
                </div>

                <div class="getTims">
                	<p id="times"></p>
                </div>

        	</div>
        </div>

	</div>
</header>


<section>
	<div class="container">
        {% include 'admin/side_bar.html' %}
        <div class="col-md-9 marginTop_btom">
<form method="post" id="frmCategory" name="frmCategory">
<input type="hidden" name="hid_cat_id" id="hid_cat_id" value="{{ one_category.id }}" />
    {% csrf_token %}
            <div class="col-md-12 nopadding">
            	<div class="upper_area">

                    <div class="input_box">

                    	<div class="col-md-6">
                        <label>Category Name:</label>
                        <input id="cat_name" name="cat_name" class="form-control" type="text" placeholder="Enter Category Name" value="{{ one_category.cat_name }}">
                        </div>

                        <div class="col-md-6">
                        <label>Status:</label>

                        <select name="status" id="status" >
                               <option value="">Select Any</option>

                                <option value="1" {% ifequal one_category.status 1 %} selected="selected" {% endifequal %}>Active</option>

                                <option value="0" {% ifequal one_category.status 0 %} selected="selected" {% endifequal %}>In-Active</option>
                        </select>
                        </div>

                    </div>

                    <div class="underline"></div>

                    <div class="parent_category">
                    	<h2>Select Parent Category</h2>

                        <div class="parent_category_radio">
                        	<p class="p_radio">Is this a Parent Category </p>

                            <div class="form-group">
                            <input type="radio" id="radio01" name="cat_type" value="Yes" {%  ifequal one_category.p_id 0 %} checked="checked" {% endifequal %} />
                            <label for="radio01"><span></span>Yes</label>
                            </div>

                            <div class="form-group">
                            <input type="radio" id="radio02" name="cat_type" value="No" {%  ifequal one_category.p_id 1 %} checked="checked" {% endifequal %} />
                            <label for="radio02"><span></span>No</label>
                            </div>

                        </div>

                        <div class="selt_Box">

                            <select name="p_id" id="p_id" >
                               <option value="">Select Any</option>
                               {% if category %}
                                   {% for item in category %}

                                       <option value="{{ item.id }}" {% ifequal item.id one_category.p_id %} selected="selected" {% endifequal %} >{{ item.cat_name }}</option>
                                       {% for sub_item in sub_category %}
                                           {% ifequal sub_item.p_id item.id %}
                                                <option value="{{ sub_item.id }}" {% ifequal sub_item.id one_category.p_id %} selected="selected" {% endifequal %} {% if one_category.p_id  %} disabled="disabled" {% endif %} >&nbsp;&nbsp;----{{ sub_item.cat_name }}</option>
                                           {% endifequal %}
                                       {% endfor %}
                                   {% endfor %}
                               {% endif %}
                            </select>
                        <a href="javascript:void(0)" class="mybuttons">Done</a>
                        </div>

                    </div>


                </div>
            </div>
</form>
            <div class="col-md-12 nopadding">
                <span><input type="text" name="search_category_name" id="search_category_name" placeholder="Enter Category Name For Search" class="form-control" style="width:30%!important;"></span>
            	<div class="table_area">
                	<table class="table">
                    	<thead>
                        	<tr>
                                <th>Serial Number</th>
                                <th>Category Name</th>
                                <th>Parent Category</th>
                                <th>Status</th>
                            </tr>
                        </thead>

                        <tbody>
                        {% if all_category_details_arr %}
                            {% for item in all_category_details_arr %}
                              <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.category_name }}</td>
                                <td>{{ item.parent_name }}</td>
                              <td>
                                	<a class="edit" href="/admin/category/edit/{{item.id}}">Edit</a>
                                  {% if item.status %} <a class="active status-change" data-class="active"  data-id="{{item.id}}" href="javascript:void(0)">Active</a> {% else %} <a class="deactive status-change" href="javascript:void(0)" data-class="deactive" data-id="{{item.id}}">Deactivate</a> {% endif %}
                                  <a href="javascript:void(0)" class="cat-delete deactive" data-id="{{ item.id }}" >Delete</a>

                                </td>

                              </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="4">NO DATA FOUND</td>
                              </tr>
                            {% endif %}

                        </tbody>

            		</table>
                </div>

            </div>


        </div>



    </div>
</section>



<section class="footer_area">
	<div class="container-fluid">

        <div class="col-lg-2 col-md-2 col-xs-12 colcenter">
        	<p class="foterTxt">©2016 investak. All rights reserved.</p>
        </div>

    </div>
</section>

</body>
</html>