{% extends "admin/base_site.html" %}
{% block title %}Category List{% endblock %}

{% block content %}
<h1>Category List</h1>
    <span><a href="/admin/category/insert/" >ADD</a></span>
<table width="90%" border="1" cellpadding="0" cellspacing="0" align="center">

<tr>
  <td>Category Name</td>
  <td>Date Created</td>
  <td>Status</td>
</tr>
{% if uList %}
{% for item in uList %}
  <tr align="center">
    <td>{{ item.category.cat_name }}</td>
    <td>{{ item.category.date_created }}</td>
   {% if item.category.status %} <td>Active</td> {% else %} <td>Inactive</td> {% endif %}
  <td><a href="/admin/category/edit/{{item.category.id}}">Edit</a></td>
  <td><a href="javascript:void(0)" data-id="{{item.category.id}}" class="delete">Delete</a></td>
  </tr>
{% endfor %}
{% else %}
<tr align="center">
    <td colspan="5">NO DATA FOUND</td>
  </tr>
{% endif %}
</table>
    <script type="text/javascript">
    $(document).ready(function(e){
        $(".delete").on('click',function(e){
            if(confirm('Are you want to delete?'))
            {
                var cat_id = $(this).attr('data-id');
                var flag=0;
                if(cat_id)
                {
                    $.ajax({
                        type:'POST',
                        url:'/admin/category/delete/',
                        async:false,
                        data:{category_id:cat_id, csrfmiddlewaretoken:'{{ csrf_token }}'},
                        beforeSend:function()
                        {

                        },
                        success:function(data)
                        {

                           if(data==1 || data=='Yes')
                           {
                               flag=1;
                           }
                           else if(data==2)
                           {
                               alert('This Category Can\'t be deleted. It\'s Someone parent category');
                           }
                            else
                           {
                               alert('There are some problem with delete...');
                           }
                        },
                        error:function(xhr)
                        {
                            alert("There is some error");
                        }
                    });

                    if(flag==1)
                    {
                       $(this).closest('tr').remove();
                    }
                }
            }

        });
    });
</script>
{% endblock %}
