{% extends "admin/base_site.html" %}
{% block title %}Add Category{% endblock %}
{% block content %}

<form method="post" id="frmCategoryInsert" name="frmCategoryInsert">
    {% csrf_token %}
    <label>Name: </label>
    <input name="cat_name" id="cat_name" value="{{ one_category.cat_name }}" >
    <br>
    <label>Parent Category: </label>
   <select name="p_id" id="p_id" >
       <option value="0">Select Any</option>
       {% if uList %}
           {% for item in uList %}

               <option value="{{ item.id }}"  >{{ item.cat_name }}</option>
           {% endfor %}
       {% endif %}
   </select>
    <br>
    <label>Status: </label>
    <select name="status" id="status" >
       <option value="">Select Any</option>

        <option value="1" {% ifequal one_category.status 1 %} selected="selected" {% endifequal %}>Active</option>

        <option value="0" {% ifequal one_category.status 0 %} selected="selected" {% endifequal %}>In-Active</option>

   </select>
    <br>
    <input type="hidden" name="cat_id" value="{{one_category.id}}">
    <input type="submit" value="Submit">
</form>
</body>
</html>
{% endblock %}