{% load staticfiles %}
{% load i18n static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>

<title>Investak-Faq</title>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/font-awesome/css/font-awesome.min.css" %}" >
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/stylesheet.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/jquery-ui.css" %}" >

    <script src="{% static "admin/js/jquery.1.11.3.min.js" %}"></script>
    <script src="{% static "admin/js/bootstrap.min.js" %}"></script>
    <script src="{% static "admin/js/datetime.js" %}"></script>
    <script src={% static "admin/js/jquery-ui.js" %}></script>
    <script src={% static "admin/js/jquery.blockUI.js" %}></script>

<script type="text/javascript">

$(document).ready(function(e) {

	$('.left_menu_area > ul > li:has(ul)').addClass("has-sub");

	$('.left_menu_area > ul > li > a').click(function() {
		var checkElement = $(this).next();

		$('.left_menu_area li').removeClass('active');
		$(this).closest('li').addClass('active');

		if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
		  $(this).closest('li').removeClass('active');
		  checkElement.slideUp('normal');
		}

		if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
		  $('.left_menu_area ul ul:visible').slideUp('normal');
		  checkElement.slideDown('normal');
		}

		if (checkElement.is('ul')) {
		  return false;
		} else {
		  return true;
		}
	});

	$("#inbox1").find('.arrowsClick').click(function(e){
		e.preventDefault();
		$(".inbox1").slideToggle();

	});

	$("#inbox2").find('.arrowsClick').click(function(e){
		e.preventDefault();
		$(".inbox2").slideToggle();
	});
});
$(window).load(function(){
	var winH = $(document).height();
	$(".left_menu_area").height(winH);
});


</script>

    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(e){
        $(".mybuttons").click(function(e){
            $("#frmFaq").submit();
        });
        
        $("#faq_qsn").keyup(function () {
            $("#faq_qsn").val($("#faq_qsn").val().replace(/^\s+/,""));
        });
        $("#faq_ans").keyup(function () {
            $("#faq_ans").val($("#faq_ans").val().replace(/^\s+/,""));
        });
        $("#frmFaq").validate({
            rules: {
               faq_catagory: {
                    required:true
                },
                faq_qsn: {
                    required:true,
                },
                faq_ans:{
                    required:true
                }
            },
            messages: {
                faq_catagory: {
                    required:"Please Enter Topic Name"
                },
                faq_qsn: {
                    required:"Please Enter Question"
                },
                faq_ans:{
                    required:"Please Enter Answer"
                }
            },
            submitHandler:function(form)
            {

                $.ajax({
                    type:"POST",
                    url:"/admin/faq/insert/",
                    data:{faq_catagory:$("#faq_catagory").val(),faq_qsn:$("#faq_qsn").val(),faq_ans:$("#faq_ans").val(),id:$("#hid_faq_id").val(),csrfmiddlewaretoken:'{{ csrf_token }}'},
                    success:function(response)
                    {
                        if(response==1)
                        {
                            $("#faq_catagory").val('');
                            $("#faq_qsn").val('');
                            $("#faq_ans").val('');
                            window.location.href="/admin/faq/";
                        }
                    },
                    error:function(response)
                    {
                        $('body').fadeTo( "slow", 1);
                        alert("Error Occured.....");
                    }
                });

            }
        });
    });
    $(document).on('click','.delete',function(e) {
        var faq_id = $(this).attr('data-id');
        if(faq_id) {
            if(confirm("Are you sure you want to delete?"))
            {
                $.ajax({
                type:"GET",
                url:"/admin/faq/delete/",
                data:{faq_id:faq_id},
                async:false,
                beforeSend:function() {
                  $.blockUI({ message: 'Please Wait...' });
                },
                success:function(response) {
                    if(response==1){
                        window.location.href = "/admin/faq/";
                    }
                    $.unblockUI();
                },
                error:function(xhr) {
                    $.unblockUI();
                    alert("Error Occurred");
                }
            });
            }

        }
    });
</script>


</head>

<body>

<header>
	<div class="container">

    	<div class="col-md-2"><a class="logo" href="#"><img class="img-responsive" src="{% static "admin/images/logo.png" %}"></a></div>

 <div class="col-md-2 pull-right">
            <div class="dropdown">
            <span class="users"><i class="fa fa-user" aria-hidden="true"></i></span>
              <a href="#" data-toggle="dropdown">{% firstof user.get_short_name user.get_username %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                  {% if user.has_usable_password %}
                <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> </li>
                {% endif %}
                <li><a href="{% url 'admin:logout' %}">Logout</a></li>
              </ul>
            </div>
		</div>

        <div class="col-md-2  pull-right">
        	<div class="dat_time">
            	<div class="date_area">
                	<p id="days"></p>
                    <p id="dates"></p>
                    <p id="motns"></p>
                </div>

                <div class="getTims">
                	<p id="times"></p>
                </div>

        	</div>
        </div>

	</div>
</header>


<section>
	<div class="container">
        {% include 'admin/side_bar.html' %}
        <div class="col-md-9 marginTop_btom">
<form method="post" id="frmFaq" name="frmFaq">
<input type="hidden" name="hid_faq_id" id="hid_faq_id" value="{{ AllEditFaqList.0.id }}" />
    {% csrf_token %}
            <div class="col-md-12 nopadding">
            	<div class="upper_area">
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Topic Name:</label>
                            <div class="selt_Box">
                                <select name="faq_catagory" id="faq_catagory" >
                                   <option value="">Select Topic Name</option>
                                   {% if topiclist %}
                                       {% for item in topiclist %}
                                            <option value="{{ item.id }}" {% ifequal item.id AllEditFaqList.0.faq_catagory %} selected="selected" {% endifequal %} >{{ item.topic_name }}</option>
                                       {% endfor %}
                                   {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Question:</label>
                            <input id="faq_qsn" name="faq_qsn" class="form-control" type="text" placeholder="Enter Question" value="{{ AllEditFaqList.0.faq_qsn }}">
                        </div>
                    </div>
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Answer:</label>
                            <textarea id="faq_ans" rows="5" cols="60" name="faq_ans" placeholder="Answer..">{{ AllEditFaqList.0.faq_ans}}</textarea>
                        </div>
                    </div>
                    <div class="input_box">
                        <div align="center" class="col-md-2">
                            <a href="javascript:void(0)" class="mybuttons">Done</a>
                        </div>
                    </div>
                    <div class="underline"></div>
                </div>
            </div>
</form>
            <div class="col-md-12 nopadding">

            	<div class="table_area">
                	<table class="table">
                    	<thead>
                        	<tr>
                                <th>#</th>
                                <th>Topic Name</th>
                                <th>Qusetion</th>
                                <th>Answer</th>
                                <th>Created On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if AllFaqList %}
                            {% for item in AllFaqList %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ item.faq_catagory}}</td>
                                    <td>{{ item.faq_qsn}}</td>
                                    <td>{{ item.faq_ans|slice:"0:100"}}</td>
                                    <td>{{ item.created_date}}</td>
                                    <td>
                                    	<a class="edit" href="/admin/faq/edit/{{item.id}}">Edit</a> 
                                        <a class="deactive delete" href="javascript:void(0)" data-id="{{ item.id }}">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="5">NO DATA FOUND</td>
                              </tr>
                            {% endif %}

                        </tbody>

            		</table>
                </div>

            </div>


        </div>



    </div>
</section>



<section class="footer_area">
	<div class="container-fluid">

        <div class="col-lg-2 col-md-2 col-xs-12 colcenter">
        	<p class="foterTxt">©2016 investak. All rights reserved.</p>
        </div>

    </div>
</section>

</body>
</html>