{% load staticfiles %}
{% load i18n static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>

<title>Investak-Faq Topic</title>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/font-awesome/css/font-awesome.min.css" %}" >
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/stylesheet.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/jquery-ui.css" %}" >

    <script src="{% static "admin/js/jquery.1.11.3.min.js" %}"></script>
    <script src="{% static "admin/js/bootstrap.min.js" %}"></script>
    <script src="{% static "admin/js/datetime.js" %}"></script>
    <script src={% static "admin/js/jquery-ui.js" %}></script>
    <script src={% static "admin/js/jquery.blockUI.js" %}></script>

<script type="text/javascript">

$(document).ready(function(e) {

	$('.left_menu_area > ul > li:has(ul)').addClass("has-sub");

	$('.left_menu_area > ul > li > a').click(function() {
		var checkElement = $(this).next();

		$('.left_menu_area li').removeClass('active');
		$(this).closest('li').addClass('active');

		if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
		  $(this).closest('li').removeClass('active');
		  checkElement.slideUp('normal');
		}

		if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
		  $('.left_menu_area ul ul:visible').slideUp('normal');
		  checkElement.slideDown('normal');
		}

		if (checkElement.is('ul')) {
		  return false;
		} else {
		  return true;
		}
	});

	$("#inbox1").find('.arrowsClick').click(function(e){
		e.preventDefault();
		$(".inbox1").slideToggle();

	});

	$("#inbox2").find('.arrowsClick').click(function(e){
		e.preventDefault();
		$(".inbox2").slideToggle();
	});
});
$(window).load(function(){
	var winH = $(document).height();
	$(".left_menu_area").height(winH);
});


</script>

    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(e){
        $(".mybuttons").click(function(e){
            $("#frmTopic").submit();
        });
        $("#topic_name").keyup(function () {
            $("#topic_name").val($("#topic_name").val().replace(/^\s+/,""));
        });
        $("#frmTopic").validate({
            rules: {
                topic_name: {
                    required:true
                }
            },
            messages: {
                topic_name: {
                    required:"Please Enter Topic Name"
                }
            },
            submitHandler:function(form)
            {

                $.ajax({
                    type:"POST",
                    url:"/admin/faqtopic/insert/",
                    data:{topic_name:$("#topic_name").val(),id:$("#hid_faqtopic_id").val(),csrfmiddlewaretoken:'{{ csrf_token }}'},
                    success:function(response)
                    {
                        if(response==1)
                        {
                            $("#topic_name").val('');
                            window.location.href="/admin/faqtopic/";
                        }
                    },
                    error:function(response)
                    {
                        $('body').fadeTo( "slow", 1);
                        alert("Error Occured.....");
                    }
                });

            }
        });
    });

     $(document).on('click','.status-change',function(e){
        var data_id = $(this).attr('data-id');
        var data_class = $(this).attr('data-class');
        var message = '';
        var change_class = '';
        if(data_class=="active")
        {
            message = "Do You Want To De-active The Topic name?";
        }
        else {
            message = "Do You Want To Active The Topic name?"
        }
        if(confirm(message))
        {
            $.ajax({
                type:"POST",
                url:"/admin/faqtopic/change_status/",
                data:{id:data_id,data_class:data_class,csrfmiddlewaretoken:'{{ csrf_token }}'},
                async:false,
                beforeSend:function()
                {
                    //$('body').fadeTo( "slow", 0.33 );
                },
                success:function(response)
                {
                    if(response==1)
                    {
                        if(data_class=="active")
                        {
                            change_class="deactive";
                        }
                        else if(data_class=="deactive")
                        {
                            change_class="active";
                        }
                        window.location.href="/admin/faqtopic/";
                    }
                   // $('body').fadeTo( "slow", 1 );
                },
                error:function(xhr)
                {
                    //$('body').fadeTo( "slow", 1 );
                }
            });
            if(change_class=="deactive")
            {

                $(this).removeClass('active').addClass('deactive');
                $(this).html('Deactive')
            }
            else if(change_class=="active")
            {

                $(this).removeClass('deactive').addClass('active');
                $(this).html('Active')
            }
        }
    });
    
    $(document).on('click','.delete',function(e) {
        var faqtopic_id = $(this).attr('data-id');
        if(faqtopic_id) {
            if(confirm("Are you want to delete?"))
            {
                $.ajax({
                type:"GET",
                url:"/admin/faqtopic/delete/",
                data:{faqtopic_id:faqtopic_id},
                async:false,
                beforeSend:function() {
                  $.blockUI({ message: 'Please Wait...' });
                },
                success:function(response) {
                    if(response==1){
                        window.location.href = "/admin/faqtopic/";
                    }
                    $.unblockUI();
                },
                error:function(xhr) {
                    $.unblockUI();
                    alert("Error Occurred");
                }
            });
            }

        }
    });
</script>


</head>

<body>

<header>
	<div class="container">

    	<div class="col-md-2"><a class="logo" href="#"><img class="img-responsive" src="{% static "admin/images/logo.png" %}"></a></div>

 <div class="col-md-2 pull-right">
            <div class="dropdown">
            <span class="users"><i class="fa fa-user" aria-hidden="true"></i></span>
              <a href="#" data-toggle="dropdown">{% firstof user.get_short_name user.get_username %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                  {% if user.has_usable_password %}
                <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> </li>
                {% endif %}
                <li><a href="{% url 'admin:logout' %}">Logout</a></li>
              </ul>
            </div>
		</div>

        <div class="col-md-2  pull-right">
        	<div class="dat_time">
            	<div class="date_area">
                	<p id="days"></p>
                    <p id="dates"></p>
                    <p id="motns"></p>
                </div>

                <div class="getTims">
                	<p id="times"></p>
                </div>

        	</div>
        </div>

	</div>
</header>


<section>
	<div class="container">
        {% include 'admin/side_bar.html' %}
        <div class="col-md-9 marginTop_btom">
<form method="post" id="frmTopic" name="frmTopic">
<input type="hidden" name="hid_faqtopic_id" id="hid_faqtopic_id" value="{{ loadEditFaqTopic.0.id }}" />
    {% csrf_token %}
            <div class="col-md-12 nopadding">
            	<div class="upper_area">
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Topic Name:</label>
                            <input id="topic_name" name="topic_name" class="form-control" type="text" placeholder="Enter Topic" value="{{ loadEditFaqTopic.0.topic_name }}">
                        </div>
                    </div>
                    <div class="input_box">
                        <div align="center" class="col-md-2">
                            <a href="javascript:void(0)" class="mybuttons">Done</a>
                        </div>
                    </div>
                    <div class="underline"></div>
                </div>
            </div>
</form>
            <div class="col-md-12 nopadding">

            	<div class="table_area">
                	<table class="table">
                    	<thead>
                        	<tr>
                                <th>#</th>
                                <th>Topic Name</th>
                                <th>Created On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if loadFaqTopic %}
                            {% for item in loadFaqTopic %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ item.topic_name}}</td>
                                    <td>{{ item.created_date}}</td>
                                    <td>
                                         {% if item.status %} <a class="active status-change" data-class="active"  data-id="{{item.id}}" href="javascript:void(0)">Active</a> {% else %} <a class="deactive status-change" href="javascript:void(0)" data-class="deactive" data-id="{{item.id}}">Deactivate</a> {% endif %}
                                    	<a class="edit" href="/admin/faqtopic/edit/{{item.id}}">Edit</a> 
                                       <a class="deactive delete" href="javascript:void(0)" data-id="{{ item.id }}">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="5">NO DATA FOUND</td>
                              </tr>
                            {% endif %}

                        </tbody>

            		</table>
                </div>

            </div>


        </div>



    </div>
</section>



<section class="footer_area">
	<div class="container-fluid">

        <div class="col-lg-2 col-md-2 col-xs-12 colcenter">
        	<p class="foterTxt">©2016 investak. All rights reserved.</p>
        </div>

    </div>
</section>

</body>
</html>