{% extends "admin/base_site.html" %}
{% block title %}Add Category{% endblock %}
{% block content %}

<form method="post" id="frmCategoryInsert" name="frmCategoryInsert">
    {% csrf_token %}
    <label>Name: </label>
    <input name="cat_name" id="cat_name" >
    <br>
    <label>Parent Category: </label>
   <select name="p_id" id="p_id" >
       <option value="0">Select Any</option>
       {% if uList %}
           {% for item in uList %}
               <option value="{{ item.category.id }}" >{{ item.category.cat_name }}</option>
           {% endfor %}
       {% endif %}
   </select>
    <br>
    <label>Status: </label>
    <select name="status" id="status" >
       <option value="">Select Any</option>
        <option value="1">Active</option>
        <option value="0">In-Active</option>
   </select>
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
{% endblock %}