{% load staticfiles %}
{% load i18n static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>

<title>Investak-Profile Update</title>

    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/font-awesome/css/font-awesome.min.css" %}" >
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/stylesheet.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/jquery-ui.css" %}" >

    <script src="{% static "admin/js/jquery.1.11.3.min.js" %}"></script>
    <script src="{% static "admin/js/bootstrap.min.js" %}"></script>
    <script src="{% static "admin/js/datetime.js" %}"></script>
    <script src={% static "admin/js/jquery-ui.js" %}></script>

<script type="text/javascript">

$(document).ready(function(e) {

	$('.left_menu_area > ul > li:has(ul)').addClass("has-sub");

	$('.left_menu_area > ul > li > a').click(function() {
		var checkElement = $(this).next();

		$('.left_menu_area li').removeClass('active');
		$(this).closest('li').addClass('active');

		if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
		  $(this).closest('li').removeClass('active');
		  checkElement.slideUp('normal');
		}

		if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
		  $('.left_menu_area ul ul:visible').slideUp('normal');
		  checkElement.slideDown('normal');
		}

		if (checkElement.is('ul')) {
		  return false;
		} else {
		  return true;
		}
	});

	$("#inbox1").find('.arrowsClick').click(function(e){
		e.preventDefault();
		$(".inbox1").slideToggle();

	});

	$("#inbox2").find('.arrowsClick').click(function(e){
		e.preventDefault();
		$(".inbox2").slideToggle();
	});
});
$(window).load(function(){
	var winH = $(document).height();
	$(".left_menu_area").height(winH);

});


</script>

    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(e){
        $(".mybuttons").click(function(e){
            $("#frmProfile").submit();
        });
        $("#first_name").blur(function(){
            if($("#frmProfile").val() == ''){
                alert(1);
            }
        });
        $("#frmProfile").validate({
                rules: {
                    first_name: {
                        required:true
                    },
                    last_name: {
                        required:true                   
                    },
                    email: {
                        required:true,
                        email:true                   
                    },                         
                },
                messages: {
                    first_name: {
                        required:"Please Enter First Name"
                    },
                    last_name: {
                        required:"Please Enter Last Name"
                    },
                    email: {
                        required:"Please Enter Email",
                        email   :"Enter valid email"
                    },                     
                },
                submitHandler:function(form){
                    $.ajax({
                        type:"POST",
                        url:"/admin/profile/insert/",
                        data:{first_name:$("#first_name").val(),last_name:$("#last_name").val(),email:$("#email").val(),id:$("#hid_auth_user_id").val(),csrfmiddlewaretoken:'{{ csrf_token }}'},
                        success:function(response){
                            if(response==1){
                                window.location.href="/admin/profile/";
                            }
                        },
                        error:function(response){
                            $('body').fadeTo( "slow", 1);
                            alert("Error Occured.....");
                        }
                    });
                }
            });
    });
    
</script>


</head>

<body>

<header>
	<div class="container">

    	<div class="col-md-2"><a class="logo" href="#"><img class="img-responsive" src="{% static "admin/images/logo.png" %}"></a></div>

 <div class="col-md-2 pull-right">
            <div class="dropdown">
            <span class="users"><i class="fa fa-user" aria-hidden="true"></i></span>
              <a href="#" data-toggle="dropdown">{% firstof user.get_short_name user.get_username %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                  {% if user.has_usable_password %}
                <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> </li>
                {% endif %}
                <li><a href="{% url 'admin:logout' %}">Logout</a></li>
              </ul>
            </div>
		</div>

        <div class="col-md-2  pull-right">
        	<div class="dat_time">
            	<div class="date_area">
                	<p id="days"></p>
                    <p id="dates"></p>
                    <p id="motns"></p>
                </div>

                <div class="getTims">
                	<p id="times"></p>
                </div>

        	</div>
        </div>

	</div>
</header>


<section>
	<div class="container">
        {% include 'admin/side_bar.html' %}
        <div class="col-md-9 marginTop_btom">
<form method="post" id="frmProfile" name="frmProfile">
<input type="hidden" name="hid_auth_user_id" id="hid_auth_user_id" value="{{ profileList.0.id }}" />
    {% csrf_token %}
            <div class="col-md-12 nopadding">
            	<div class="upper_area">
                    <div class="input_box">
                        <div class="col-md-12">
                           <label>First Name:</label>
                            <input id="first_name" name="first_name" class="form-control" type="text" placeholder="Enter First Name" value="{{ profileList.0.first_name }}"/>
                        </div>
                    </div>                
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Last Name</label>
                            <input id="last_name" name="last_name" class="form-control" type="text" placeholder="Enter Last Name" value="{{ profileList.0.last_name }}"/>
                        </div>
                    </div>
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Email:</label>
                            <input id="email" name="email" class="form-control" type="text" placeholder="Enter Email" value="{{ profileList.0.email }}"/>
                        </div
                    </div>    
                </div>
                <div class="input_box">
                    <div align="center" class="col-md-2">
                        <a href="javascript:void(0)" class="mybuttons">Done</a>
                    </div>
                </div>
                <div class="underline"></div>
                </div>
            </div>
            </form>
        </div>
    </div>
</section>



<section class="footer_area">
	<div class="container-fluid">

        <div class="col-lg-2 col-md-2 col-xs-12 colcenter">
        	<p class="foterTxt">©2016 investak. All rights reserved.</p>
        </div>

    </div>
</section>

</body>
</html>