{% load staticfiles %}
{% load i18n static %}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>

<title>Investak-Season Greetings</title>
<style>
.mail_check_bx{ padding-left: 15px; }
.mail_check_bx [type="checkbox"]:not(:checked), [type="checkbox"]:checked{ left: 15px !important; }
</style>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/font-awesome/css/font-awesome.min.css" %}" >
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/stylesheet.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/jquery-ui.css" %}" >

    <script src="{% static "admin/js/jquery.1.11.3.min.js" %}"></script>
    <script src="{% static "admin/js/bootstrap.min.js" %}"></script>
    <script src="{% static "admin/js/datetime.js" %}"></script>
    <script src={% static "admin/js/jquery-ui.js" %}></script>
    <script src={% static "admin/js/jquery.blockUI.js" %}></script>
    <script src="{% static "admin/js/ckeditor/ckeditor.js" %}" type="text/javascript"></script>
<script type="text/javascript">

$(document).ready(function(e) {


    $("#image").change(function(e){
        readURL(this);
    });
	$('.left_menu_area > ul > li:has(ul)').addClass("has-sub");

	$('.left_menu_area > ul > li > a').click(function() {
		var checkElement = $(this).next();

		$('.left_menu_area li').removeClass('active');
		$(this).closest('li').addClass('active');

		if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
		  $(this).closest('li').removeClass('active');
		  checkElement.slideUp('normal');
		}

		if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
		  $('.left_menu_area ul ul:visible').slideUp('normal');
		  checkElement.slideDown('normal');
		}

		if (checkElement.is('ul')) {
		  return false;
		} else {
		  return true;
		}
	});

	$("#inbox1").find('.arrowsClick').click(function(e){
		e.preventDefault();
		$(".inbox1").slideToggle();

	});

	$("#inbox2").find('.arrowsClick').click(function(e){
		e.preventDefault();
		$(".inbox2").slideToggle();
	});
});
$(window).load(function(){
	var winH = $(document).height();
	$(".left_menu_area").height(winH);

});


</script>

    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>
<script type="text/javascript">
var email_content = '';
    $(document).ready(function(e){
        $(".mybuttons").click(function(e){ //alert();
            $("#frmSeasonGreetings").submit();
        });
        $("#heading").keyup(function () {
            $("#heading").val($("#heading").val().replace(/^\s+/,""));
        });
        $("#subject").keyup(function () {
            $("#subject").val($("#subject").val().replace(/^\s+/,""));
        });


        $("#frmSeasonGreetings").validate({
                rules: {
                    heading: {
                        required:true
                    },
                    subject: {
                        required:true
                    }
                },
                messages: {
                    heading: {
                        required:"Please Enter Heading"
                    },
                    subject: {
                        required:"Please Enter Subject"
                    }
                },
                submitHandler:function(form)
                {
                    $.ajax({
                        type:"POST",
                        url:"/admin/season_greetings/insert/",
                        async:false,
                        data:{hid_greetings_id:$("#hid_greetings_id").val(),heading:$("#heading").val(),description:CKEDITOR.instances['description'].getData(),subject:$("#subject").val(),csrfmiddlewaretoken:'{{ csrf_token }}'},
                        success:function(response)
                        {
                            if(response==1)
                            {
                                $("#heading").val('');
                                $("#subject").val('');
                                $("#description").val('');
                                window.location.href="/admin/season_greetings/";
                            }
                        },
                        error:function(response)
                        {
                            $.unblockUI();
                            alert("Error Occured.....");
                        }
                  });

                }
            });



        $("#sendEmailAllBtn").click(function(e){ //alert();
            $("#sendEmailAllFrm").submit();
        });

        $("#sendEmailAllFrm").validate({
                rules: {
                   /* templatename: {
                        required:true
                    }  */
                },
                messages: {
                    /*templatename: {
                        required:"Please Enter Heading"
                    }*/

                },
                submitHandler:function(form)
                {
                    var email_arr = new Array();
                    $('.group1:checked').each(function(index){
                       if($(this).is(':checked')){
                        email_arr.push($(this).val());
                       }
                    });
                    //console.log(email_arr);
                     email_content = $('.txt_desc').html();
                     //alert(email_content);
                    $.ajax({
                        type:"POST",
                        url:"/admin/season_greetings/send_season_greetings/",
                        async:false,
                        data:{season_greetings_id:$("#season_greetings_id").val(),email_ids:JSON.stringify(email_arr),csrfmiddlewaretoken:'{{ csrf_token }}',email_content:email_content},
                        beforeSend:function() {
                                $.blockUI({ message: 'Please Wait...' });
                            },
                        success:function(response)
                        {
                            //alert(response);
                            if(response==1)
                            {

                                window.location.href="/admin/season_greetings/";
                            }
                            $.unblockUI();
                        },
                        error:function(response)
                        {
                            $.unblockUI();
                            alert("Error Occured.....");
                        }
                  });

                }
            });
    });
    $(document).on('click','.delete',function(e) {
        var season_greetings_id = $(this).attr('data-id');
        if(season_greetings_id) {
            if(confirm("Are you want to delete?"))
            {
                $.ajax({
                type:"GET",
                url:"/admin/season_greetings/delete/",
                data:{season_greetings_id:season_greetings_id},
                async:false,
                beforeSend:function() {
                  $.blockUI({ message: 'Please Wait...' });
                },
                success:function(response) {
                    if(response==1){
                        window.location.href = "/admin/season_greetings/";
                    }
                    $.unblockUI();
                },
                error:function(xhr) {
                    $.unblockUI();
                    alert("Error Occurred");
                }
            });
            }

        }
    });
    //View notification section
     $(document).on('click','.viewusrdtls',function(e) {
            $('.viewusrdtls').removeClass('deactive').addClass('active');
            $(this).removeClass('active').addClass('deactive');
            var infoModal = $('#usrModal');
            var season_greetings_id = $(this).attr('data-id');
            email_content = $(this).closest('.txt_desc').html();
            //alert(newsletter_id);
            $.ajax({
                type: "GET",
                url:"/admin/season_greetings/view_alluser/",
                data:{season_greetings_id:season_greetings_id},
                async:false,
                beforeSend:function() {
                 $.blockUI({ message: 'Please Wait...' });
                },
                success:function(response){
                //alert(response);
                    var content = '<table class="table"><thead><tr><th><span class="mail_check_bx"><input type="checkbox" class="parent" data-group=".group1" value="Bike"> Check All</span></th><th width="5%">Email</th></tr></thead><tbody>';
                    if(response.length>0)
                    {
                       var i=1;
                        $.each(response, function (index, value) {
                         //content += '<tr><td>' +  i + '</td>';
                         content += '<tr><td><input type="hidden" name="season_greetings_id" id="season_greetings_id" value="' +  value.season_greetings_id + '" ><span class="mail_check_bx"><input type="checkbox"  class="group1" id="email_ids" name="email_ids[]" value="' +  value.email + '"></span></td>';
                         content += '<td>' +  value.email + '</td></tr>';
                         i++;
                        });

                    }else{
                         content += '<tr><td colspan="3">NO DATA FOUND.</td>';
                    }
                    content += "</tbody></table>";
                    $('#notificationsection').html(content);
                    infoModal.find('#modal-body')[0].innerHTML = content;
                    infoModal.modal();
                    $.unblockUI();
                },
                error:function(xhr) {
                    $.unblockUI();
                    alert("Error Occurred");
                }

            });
    });


    $(document).on('click','.parent',function(e){
        if($(this).is(':checked')) {
            $(".group1").prop('checked', true);
        }
        else {
            $(".group1").prop('checked', false);
        }
    });
</script>


</head>

<body>

<header>
	<div class="container">

    	<div class="col-md-2"><a class="logo" href="#"><img class="img-responsive" src="{% static "admin/images/logo.png" %}"></a></div>

 <div class="col-md-2 pull-right">
            <div class="dropdown">
            <span class="users"><i class="fa fa-user" aria-hidden="true"></i></span>
              <a href="#" data-toggle="dropdown">{% firstof user.get_short_name user.get_username %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                  {% if user.has_usable_password %}
                <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> </li>
                {% endif %}
                <li><a href="{% url 'admin:logout' %}">Logout</a></li>
              </ul>
            </div>
		</div>

        <div class="col-md-2  pull-right">
        	<div class="dat_time">
            	<div class="date_area">
                	<p id="days"></p>
                    <p id="dates"></p>
                    <p id="motns"></p>
                </div>

                <div class="getTims">
                	<p id="times"></p>
                </div>

        	</div>
        </div>

	</div>

</header>


<section>
	<div class="container">
        {% include 'admin/side_bar.html' %}
        <div class="col-md-9 marginTop_btom">
        <form method="post" id="frmSeasonGreetings" name="frmSeasonGreetings" enctype="multipart/form-data">
         <input type="hidden" name="hid_greetings_id" id="hid_greetings_id" value="{{ season_greetings_id }}"/>

            {% csrf_token %}
            <div class="col-md-12 nopadding">
            	<div class="upper_area">
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Email Heading:</label>
                            <input id="heading" name="heading" class="form-control" type="text" placeholder="Enter Heading" value="{{season_greetings_array.0.heading}}">
                        </div>
                    </div>

                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Subject:</label>
                            <input id="subject" name="subject" class="form-control" type="text" placeholder="Enter Subject" value="{{season_greetings_array.0.subject}}">
                        </div>
                    </div>

                    <div class="input_box">
                        <div class="col-md-12">
                            <label style="float:left;width:100%">Description:</label>
                            <div style="float:left;width:100%">
                            <textarea id="description" name="description" placeholder="Enter Description.." class="ckeditor">{{season_greetings_array.0.description|safe}}</textarea>

                            </div>
                        </div>
                    </div>


                    <div class="input_box">
                        <div align="center" class="col-md-2">
                            <a href="javascript:void(0)" class="mybuttons">Done</a>
                        </div>
                    </div>
                    <div class="underline"></div>
                </div>
            </div>
        </form>

             <div class="col-md-12 nopadding">
                <div class="table_area">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Heading</th>
                                <th>Subject</th>
                                <th>Description</th>
                                <th>Created On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if all_greetings_list %}
                            {% for item in all_greetings_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ item.heading}}</td>
                                    <td>{{ item.subject}}</td>
                                    <td class="txt_desc">{{ item.description|safe }}</td>

                                    <td>{{ item.created_date}}</td>
                                    <td>
                                        <a class="edit" href="/admin/season_greetings/edit/{{item.id}}">Edit</a>
                                        <a class="deactive delete" href="javascript:void(0)" data-id="{{ item.id }}">Delete</a>
                                        <a href="javascript:void(0)" class="viewusrdtls active" data-toggle="modal" data-target="#usrModal"  data-id="{{ item.id }}">Send Email</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="5">NO DATA FOUND</td>
                              </tr>
                            {% endif %}

                        </tbody>

                    </table>
                </div>

            </div>

             <!-- User details here start -->
            <div class="modal fade" id="usrModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content" style="max-height:700px;overflow-y: scroll;">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Send Email <p id="user_nm_id"></p></h4>
                  </div>
                  <form class="form-horizontal" id="sendEmailAllFrm" role="form">
                      <div class="modal-body" id="modal-body"></div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="sendEmailAllBtn" class="btn btn-primary">Send</button>
                      </div>
                  </form>
                </div>
              </div>
            </div>

            <!--  User details here end -->
        </div>



    </div>
</section>

<div id="email_preview_div" style="display: none"></div>

<section class="footer_area">
	<div class="container-fluid">

        <div class="col-lg-2 col-md-2 col-xs-12 colcenter">
        	<p class="foterTxt">©2017 WIFT Cap Solutions Pvt. Ltd. All rights reserved. 
WIFT Cap Solutions Pvt. Ltd. is currently an authorized person to Angel Broking and the NSE/BSE (Code: AP0397154453 / AP0106120166420)</p>
        </div>

    </div>
</section>

</body>
</html>