{% load staticfiles %}
{% load i18n static %}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>

<title>Investak-Site Setting</title>

    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/font-awesome/css/font-awesome.min.css" %}" >
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/stylesheet.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/jquery-ui.css" %}" >

    <script src="{% static "admin/js/jquery.1.11.3.min.js" %}"></script>
    <script src="{% static "admin/js/bootstrap.min.js" %}"></script>
    <script src="{% static "admin/js/datetime.js" %}"></script>
    <script src={% static "admin/js/jquery-ui.js" %}></script>

<script type="text/javascript">

$(document).ready(function(e) {

    $('.left_menu_area > ul > li:has(ul)').addClass("has-sub");

    $('.left_menu_area > ul > li > a').click(function() {
        var checkElement = $(this).next();

        $('.left_menu_area li').removeClass('active');
        $(this).closest('li').addClass('active');

        if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
          $(this).closest('li').removeClass('active');
          checkElement.slideUp('normal');
        }

        if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
          $('.left_menu_area ul ul:visible').slideUp('normal');
          checkElement.slideDown('normal');
        }

        if (checkElement.is('ul')) {
          return false;
        } else {
          return true;
        }
    });

    $("#inbox1").find('.arrowsClick').click(function(e){
        e.preventDefault();
        $(".inbox1").slideToggle();

    });

    $("#inbox2").find('.arrowsClick').click(function(e){
        e.preventDefault();
        $(".inbox2").slideToggle();
    });
});
$(window).load(function(){
    var winH = $(document).height();
    $(".left_menu_area").height(winH);

});


</script>

    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(e){
        $("#stgSubbtn").click(function(e){ //alert();
            $("#frmSet").submit();
        });
        $("#banner_main_heading").keyup(function () {
            $("#banner_main_heading").val($("#banner_main_heading").val().replace(/^\s+/,""));
        });
        $("#banner_sub_heading").keyup(function () {
            $("#banner_sub_heading").val($("#banner_sub_heading").val().replace(/^\s+/,""));
        });
        $("#banner_text").keyup(function () {
            $("#banner_text").val($("#banner_text").val().replace(/^\s+/,""));
        });
        $("#about_us").keyup(function () {
            $("#about_us").val($("#about_us").val().replace(/^\s+/,""));
        });aboutus_customer
        $("#aboutus_customer").keyup(function () {
            $("#aboutus_customer").val($("#aboutus_customer").val().replace(/^\s+/,""));
        });
        $("#aboutus_aum").keyup(function () {
            $("#aboutus_aum").val($("#aboutus_aum").val().replace(/^\s+/,""));
        });
        $("#aboutus_page1_heading").keyup(function () {
            $("#aboutus_page1_heading").val($("#aboutus_page1_heading").val().replace(/^\s+/,""));
        });
        $("#aboutus_page2_heading").keyup(function () {
            $("#aboutus_page2_heading").val($("#aboutus_page2_heading").val().replace(/^\s+/,""));
        });
        $("#aboutus_page3_heading").keyup(function () {
            $("#aboutus_page3_heading").val($("#aboutus_page3_heading").val().replace(/^\s+/,""));
        });
        $("#aboutus_page4_heading").keyup(function () {
            $("#aboutus_page4_heading").val($("#aboutus_page4_heading").val().replace(/^\s+/,""));
        });
        $("#aboutus_page5_heading").keyup(function () {
            $("#aboutus_page5_heading").val($("#aboutus_page5_heading").val().replace(/^\s+/,""));
        });
        $("#description").keyup(function () {
            $("#description").val($("#description").val().replace(/^\s+/,""));
        });
        $("#address").keyup(function () {
            $("#address").val($("#address").val().replace(/^\s+/,""));
        });
        $("#phone").keyup(function () {
            $("#phone").val($("#phone").val().replace(/^\s+/,""));
        });
        $("#email").keyup(function () {
            $("#email").val($("#email").val().replace(/^\s+/,""));
        });
        $("#about_footer").keyup(function () {
            $("#about_footer").val($("#about_footer").val().replace(/^\s+/,""));
        });
        $("#footer_copyright").keyup(function () {
            $("#footer_copyright").val($("#footer_copyright").val().replace(/^\s+/,""));
        });
        $("#footer_sub_heading").keyup(function () {
            $("#footer_sub_heading").val($("#footer_sub_heading").val().replace(/^\s+/,""));
        });
        $("#terms_conditions").keyup(function () {
            $("#terms_conditions").val($("#terms_conditions").val().replace(/^\s+/,""));
        });
        $("#privacy_policy").keyup(function () {
            $("#privacy_policy").val($("#privacy_policy").val().replace(/^\s+/,""));
        });
        $("#frmSet").validate({
                rules: {
                    banner_main_heading: {
                        required:true
                    },
                    banner_sub_heading: {
                        required:true
                    },
                    banner_text: {
                        required:true
                    },
                    about_us: {
                        required:true
                    },
                    aboutus_customer: {
                        required:true,
                        number:true
                    },
                    aboutus_aum: {
                        required:true,
                        number:true
                    },
                    aboutus_page1_heading: {
                        required:true
                    },
                    aboutus_page2_heading: {
                        required:true
                    },
                    aboutus_page3_heading: {
                        required:true
                    },
                    aboutus_page4_heading: {
                        required:true
                    },
                    aboutus_page5_heading: {
                        required:true
                    },
                    description: {
                        required:true                   
                    },
                    address: {
                        required:true                   
                    },
                    phone: {
                        required:true                   
                    },    
                    email: {
                        required:true,
                        email:true                   
                    }, 
                    about_footer: {
                        required:true               
                    }, 
                    footer_copyright: {
                        required:true               
                    }, 
                    footer_sub_heading: {
                        required:true               
                    }
                },
                messages: {
                    banner_main_heading: {
                        required:"Please Enter Banner Main Heading"
                    },
                    banner_sub_heading: {
                        required:"Please Enter Banner Sub Heading"
                    },
                    banner_text: {
                        required:"Please Enter Banner Text"
                    },
                    about_us: {
                        required:"Please Enter About us Details"
                    },
                    aboutus_customer: {
                        required:"Please Enter Number of Customer",
                        number:"Please Enter Number Only"
                    },
                    aboutus_aum: {
                        required:"Please Enter value of transaction",
                        number:"Please Enter Number Only"
                    },
                    aboutus_page1_heading: {
                        required:"Please Enter Page1 Heading"
                    },
                    aboutus_page2_heading: {
                        required:"Please Enter Page2 Heading"
                    },
                    aboutus_page3_heading: {
                        required:"Please Enter Page3 Heading"
                    },
                    aboutus_page4_heading: {
                        required:"Please Enter Page4 Heading"
                    },
                    aboutus_page5_heading: {
                        required:"Please Enter Page5 Heading"
                    },
                    description: {
                        required:"Please Enter Contact Details"
                    },
                    address: {
                        required:"Please Enter Contact Address"
                    },  
                    phone: {
                        required:"Please Enter Phone No."
                    },  
                    email: {
                        required:"Please Enter Email",
                        email:"Invalid Email Type"
                    },
                    about_footer: {
                        required:"Please Enter Footer Text"
                    },
                    footer_copyright: {
                        required:"Please Enter Footer Copyright"
                    },
                    footer_sub_heading: {
                        required:"Please Enter Footer Heading"
                    }
                },
                submitHandler:function(form){

                    $.ajax({
                        type:"POST",
                        url:"/admin/sitesetting/insert/",
                        data:{email:$("#email").val(),phone:$("#phone").val(),address:$("#address").val(),banner_main_heading:$("#banner_main_heading").val(),banner_sub_heading:$("#banner_sub_heading").val(),banner_text:$("#banner_text").val(),about_us:$("#about_us").val(),aboutus_customer:$("#aboutus_customer").val(),aboutus_aum:$("#aboutus_aum").val(),aboutus_page1_heading:$("#aboutus_page1_heading").val(),aboutus_page2_heading:$("#aboutus_page2_heading").val(),aboutus_page3_heading:$("#aboutus_page3_heading").val(),aboutus_page4_heading:$("#aboutus_page4_heading").val(),aboutus_page5_heading:$("#aboutus_page5_heading").val(),about_footer:$("#about_footer").val(),footer_copyright:$("#footer_copyright").val(),footer_sub_heading:$("#footer_sub_heading").val(),description:$("#description").val(),id:$("#hid_sitesetting_id").val(),terms_conditions:$("#terms_conditions").val(),privacy_policy:$("#privacy_policy").val(),csrfmiddlewaretoken:'{{ csrf_token }}'},
                        success:function(response){
                            if(response==1){
                                window.location.href="/admin/sitesetting/";
                            }
                        },
                        error:function(response){
                            $('body').fadeTo( "slow", 1);
                            alert("Error Occured.....");
                        }
                    });
                }
            });
    });
    
</script>


</head>

<body>

<header>
    <div class="container">

        <div class="col-md-2"><a class="logo" href="#"><img class="img-responsive" src="{% static "admin/images/logo.png" %}"></a></div>

 <div class="col-md-2 pull-right">
            <div class="dropdown">
            <span class="users"><i class="fa fa-user" aria-hidden="true"></i></span>
              <a href="#" data-toggle="dropdown">{% firstof user.get_short_name user.get_username %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                  {% if user.has_usable_password %}
                <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> </li>
                {% endif %}
                <li><a href="{% url 'admin:logout' %}">Logout</a></li>
              </ul>
            </div>
        </div>

        <div class="col-md-2  pull-right">
            <div class="dat_time">
                <div class="date_area">
                    <p id="days"></p>
                    <p id="dates"></p>
                    <p id="motns"></p>
                </div>

                <div class="getTims">
                    <p id="times"></p>
                </div>

            </div>
        </div>

    </div>
</header>


<section>
    <div class="container">
        {% include 'admin/side_bar.html' %}
        <div class="col-md-9 marginTop_btom">
<form method="post" id="frmSet" name="frmSet" action="/admin/sitesetting/insert">
<input type="hidden" name="hid_sitesetting_id" id="hid_sitesetting_id" value="{{ AllEditSetList.0.id }}" />
    {% csrf_token %}
            <div class="col-md-12 nopadding">
                <div class="upper_area">
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Banner Main Heading:</label>
                            <textarea id="banner_main_heading" rows="5" cols="60" name="banner_main_heading" placeholder="Enter Banner Main Heading Content..">{{ AllEditSetList.0.banner_main_heading}}</textarea>
                        </div>
                    </div>
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Banner Sub Heading:</label>
                            <textarea id="banner_sub_heading" rows="5" cols="60" name="banner_sub_heading" placeholder="Enter Banner Sub Heading Content..">{{ AllEditSetList.0.banner_sub_heading}}</textarea>
                        </div>
                    </div>
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Banner Text:</label>
                            <textarea id="banner_text" rows="5" cols="60" name="banner_text" placeholder="Enter Banner Text Content..">{{ AllEditSetList.0.banner_text}}</textarea>
                        </div>
                    </div>
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>About Us:</label>
                            <textarea id="about_us" rows="5" cols="60" name="about_us" placeholder="Enter About us Content..">{{ AllEditSetList.0.about_us}}</textarea>
                        </div>
                    </div> 
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Number of Customers(About Us ):</label>
                            <input type="text" name="aboutus_customer" id="aboutus_customer" placeholder="Enter Number of Customers" value="{{ AllEditSetList.0.aboutus_customer}}">
                        </div>
                    </div> 
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Number of value of transactions(About Us ):</label>
                        <input type="text" name="aboutus_aum" id="aboutus_aum" placeholder="Enter Number of value of transactions" value="{{ AllEditSetList.0.aboutus_aum}}">
                        </div>
                    </div>
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Page1(About Us ):</label>
                    <input type="text" name="aboutus_page1_heading" id="aboutus_page1_heading" placeholder="Enter Page1 text" value="{{ AllEditSetList.0.aboutus_page1_heading}}">
                        </div>
                    </div> 
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Page2(About Us ):</label>
                    <input type="text" name="aboutus_page2_heading" id="aboutus_page2_heading" placeholder="Enter Page2 text" value="{{ AllEditSetList.0.aboutus_page2_heading}}">
                        </div>
                    </div> 
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Page3(About Us ):</label>
                    <input type="text" name="aboutus_page3_heading" id="aboutus_page3_heading" placeholder="Enter Page3 text" value="{{ AllEditSetList.0.aboutus_page3_heading}}">
                        </div>
                    </div> 
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Page4(About Us ):</label>
                    <input type="text" name="aboutus_page4_heading" id="aboutus_page4_heading" placeholder="Enter Page4 text" value="{{ AllEditSetList.0.aboutus_page4_heading}}">
                        </div>
                    </div> 
                     <div class="input_box">
                        <div class="col-md-12">
                            <label>Page5(About Us ):</label>
                    <input type="text" name="aboutus_page5_heading" id="aboutus_page5_heading" placeholder="Enter Page5 text" value="{{ AllEditSetList.0.aboutus_page5_heading}}">
                        </div>
                    </div>
                                 
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Contact Details:</label>
                            <textarea id="description" rows="5" cols="60" name="description" placeholder="Enter Text..">{{ AllEditSetList.0.description}}</textarea>
                        </div>
                    </div>
                    <div class="input_box">
                    <div class="col-md-12">
                        <label>Address:</label>
                        <textarea id="address" rows="5" cols="60" name="address" placeholder="Enter Address..">{{ AllEditSetList.0.address}}</textarea>
                    </div>
                </div>
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Phone:</label>
                            <input id="phone" name="phone" class="form-control" type="text" placeholder="Enter Phone" value="{{ AllEditSetList.0.phone }}"/>
                        </div
                    </div>
                </div>
                
                <div class="input_box">
                    <div class="col-md-12">
                        <label>Email:</label>
                        <input id="email" name="email" class="form-control" type="text" placeholder="Enter Email" value="{{ AllEditSetList.0.email }}"/>
                    </div>
                </div>
                <div class="input_box">
                    <div class="col-md-12">
                        <label>Footer Copyright:</label>
                        <textarea id="footer_copyright" rows="5" cols="60" name="footer_copyright" placeholder="Enter Footer Copyright..">{{ AllEditSetList.0.footer_copyright}}</textarea>
                    </div>
                </div>
                <div class="input_box">
                    <div class="col-md-12">
                        <label>Footer Heading:</label>
                        <textarea id="footer_sub_heading" rows="5" cols="60" name="footer_sub_heading" placeholder="Enter Footer Heading..">{{ AllEditSetList.0.footer_sub_heading}}</textarea>
                    </div>
                </div>
                <div class="input_box">
                    <div class="col-md-12">
                        <label>Footer Text:</label>
                        <textarea id="about_footer" rows="5" cols="60" name="about_footer" placeholder="Enter Footer Text..">{{ AllEditSetList.0.about_footer}}</textarea>
                    </div>
                </div>
                <div class="input_box">
                    <div class="col-md-12">
                        <label style="float:left;width:100%">Terms & Conditions:</label>
                        <div style="float:left;width:100%">
                        <textarea id="terms_conditions" rows="5" cols="60" name="terms_conditions" placeholder="Enter Terms & Conditions..">{{ AllEditSetList.0.terms_conditions}}</textarea>

                        </div>
                    </div>
                </div>
                <div class="input_box">
                    <div class="col-md-12">
                         <label style="float:left;width:100%">Privacy Policy:</label>
                        <div style="float:left;width:100%">
                        <textarea id="privacy_policy"  rows="5" cols="60" name="privacy_policy" placeholder="Enter Footer Text..">{{ AllEditSetList.0.privacy_policy}}</textarea>

                        </div>
                    </div>
                </div>
                    <div class="input_box">
                        <div align="center" class="col-md-2">
                            <a href="javascript:void(0)" class="mybuttons" id="stgSubbtn">Done</a>
                        </div>
                    </div>
                    <div class="underline"></div>
                </div>
            </div>
            </form>
        </div>
    </div>
</section>



<section class="footer_area">
    <div class="container-fluid">

        <div class="col-lg-2 col-md-2 col-xs-12 colcenter">
            <p class="foterTxt">©2016 investak. All rights reserved.</p>
        </div>

    </div>
</section>

</body>
</html>