{% load staticfiles %}
{% load i18n static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>

<title>Investak-Subscribe</title>

    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/font-awesome/css/font-awesome.min.css" %}" >
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/stylesheet.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/jquery-ui.css" %}" >

    <script src="{% static "admin/js/jquery.1.11.3.min.js" %}"></script>
    <script src="{% static "admin/js/bootstrap.min.js" %}"></script>
    <script src="{% static "admin/js/datetime.js" %}"></script>
    <script src={% static "admin/js/jquery-ui.js" %}></script>
    <script src={% static "admin/js/jquery.blockUI.js" %}></script>


<script type="text/javascript">

    $(document).on('click','.status-change',function(e){
        var data_id = $(this).attr('data-id');
        var data_class = $(this).attr('data-class');
        var message = '';
        var change_class = '';
        if(data_class=="active")
        {
            message = "Do You Want To De-active The Banner?";
        }
        else {
            message = "Do You Want To Active The Banner?"
        }
        if(confirm(message))
        {
            $.ajax({
                type:"POST",
                url:"/admin/banner/status_change/",
                data:{banner_id:data_id,data_class:data_class,csrfmiddlewaretoken:'{{ csrf_token }}'},
                async:false,
                beforeSend:function()
                {
                    $.blockUI({ message: 'Please Wait...' });
                },
                success:function(response)
                {
                    if(response==1)
                    {
                        if(data_class=="active")
                        {

                            change_class="deactive";
                        }
                        else if(data_class=="deactive")
                        {
                            change_class="active";
                        }
                        window.location.href="/admin/banner/"
                    }
                    $.unblockUI();
                },
                error:function(xhr)
                {
                    $.unblockUI();
                }
            });
            if(change_class=="deactive")
            {

                $(this).removeClass('active').addClass('deactive');
                $(this).html('Deactive')
            }
            else if(change_class=="active")
            {

                $(this).removeClass('deactive').addClass('active');
                $(this).html('Active')
            }
        }
    });

$(window).load(function(){
    var winH = $(document).height();
    $(".left_menu_area").height(winH);

});

function readURL(input){
    if (input.files && input.files[0]) {
        var f_name = input.files[0].name; //alert(f_name);
        var ext = f_name.split(".").pop();
        if(ext=="jpg" || ext=="JPG" || ext=="png" || ext=="PNG" || ext=="gif" || ext=="GIF" || ext=="bmp" || ext=="BMP") {

            var reader = new FileReader();

            reader.onload = function (e) {
                $("#hid_new_banner_image").val(input.files[0].name);
                $('#img_preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
            $("#cluster_image-error").hide();
        }
        else {
            alert("Please Select Jpg Or png File");
            $('#img_preview').attr('src', '/static/frontend/dashboard/images/default_img.png');
        }
    }
}
</script>

<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>
<script type="text/javascript">

    $(document).on('click','.delete',function(e) {
        var subscribe_id = $(this).attr('data-id');
        if(subscribe_id) {
            if(confirm("Are you want to delete?"))
            {
                $.ajax({
                type:"GET",
                url:"/admin/subscribe/delete/",
                data:{subscribe_id:subscribe_id},
                async:false,
                beforeSend:function() {
                  $.blockUI({ message: 'Please Wait...' });
                },
                success:function(response) {
                    if(response==1)
                    {

                        window.location.href = "/admin/subscribe/";
                    }
                    $.unblockUI();
                },
                error:function(xhr) {
                    $.unblockUI();
                    alert("Error Occurred");
                }
            });
            }

        }
    });
</script>


</head>

<body>

<header>
    <div class="container">

        <div class="col-md-2"><a class="logo" href="#"><img class="img-responsive" src="{% static "admin/images/logo.png" %}"></a></div>

 <div class="col-md-2 pull-right">
            <div class="dropdown">
            <span class="users"><i class="fa fa-user" aria-hidden="true"></i></span>
              <a href="#" data-toggle="dropdown">{% firstof user.get_short_name user.get_username %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                  {% if user.has_usable_password %}
                <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> </li>
                {% endif %}
                <li><a href="{% url 'admin:logout' %}">Logout</a></li>
              </ul>
            </div>
        </div>

        <div class="col-md-2  pull-right">
            <div class="dat_time">
                <div class="date_area">
                    <p id="days"></p>
                    <p id="dates"></p>
                    <p id="motns"></p>
                </div>

                <div class="getTims">
                    <p id="times"></p>
                </div>

            </div>
        </div>

    </div>
</header>


<section>
    <div class="container">
        {% include 'admin/side_bar.html' %}
        <div class="col-md-9">
        

             <div class="col-md-12 nopadding">
                <div class="table_area">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Subscribe Email</th>
                                <th>Created On</th>
                                <th>Action</th>
                            </tr>
                        </thead
                        <tbody>
                        {% if AllSubscribeList %}
                            {% for item in AllSubscribeList %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ item.email}}</td>
                                    <td>{{ item.created_date}}</td>
                                    <td><a class="deactive delete" href="javascript:void(0)" data-id="{{ item.id }}">Delete</a></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="5">NO DATA FOUND</td>
                            </tr>
                        {% endif %}

                        </tbody>

                    </table>
                </div>

            </div>
        </div>



    </div>
</section>



<section class="footer_area">
    <div class="container-fluid">

        <div class="col-lg-2 col-md-2 col-xs-12 colcenter">
            <p class="foterTxt">©2016 investak. All rights reserved.</p>
        </div>

    </div>
</section>

</body>
</html>