{% load staticfiles %}
{% load i18n static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>

<title>Investak-Team</title>

    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/font-awesome/css/font-awesome.min.css" %}" >
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/stylesheet.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/jquery-ui.css" %}" >

    <script src="{% static "admin/js/jquery.1.11.3.min.js" %}"></script>
    <script src="{% static "admin/js/bootstrap.min.js" %}"></script>
    <script src="{% static "admin/js/datetime.js" %}"></script>
    <script src={% static "admin/js/jquery-ui.js" %}></script>
    <script src={% static "admin/js/jquery.blockUI.js" %}></script>


<script type="text/javascript">

$(document).ready(function(e) {
    $("#profile_image").change(function(e){
        readURL(this);
    });
    $('.left_menu_area > ul > li:has(ul)').addClass("has-sub");

    $('.left_menu_area > ul > li > a').click(function() {
        var checkElement = $(this).next();

        $('.left_menu_area li').removeClass('active');
        $(this).closest('li').addClass('active');

        if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
          $(this).closest('li').removeClass('active');
          checkElement.slideUp('normal');
        }

        if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
          $('.left_menu_area ul ul:visible').slideUp('normal');
          checkElement.slideDown('normal');
        }

        if (checkElement.is('ul')) {
          return false;
        } else {
          return true;
        }
    });

    $("#inbox1").find('.arrowsClick').click(function(e){
        e.preventDefault();
        $(".inbox1").slideToggle();

    });

    $("#inbox2").find('.arrowsClick').click(function(e){
        e.preventDefault();
        $(".inbox2").slideToggle();
    });
});
$(window).load(function(){
    var winH = $(document).height();
    $(".left_menu_area").height(winH);

});

function readURL(input){
    if (input.files && input.files[0]) {
        var f_name = input.files[0].name;
        var ext = f_name.split(".").pop();
        if(ext=="jpg" || ext=="JPG" || ext=="png" || ext=="PNG" || ext=="gif" || ext=="GIF" || ext=="bmp" || ext=="BMP") {

            var reader = new FileReader();

            reader.onload = function (e) {
                $("#hid_new_cluster_image").val(input.files[0].name);
                $('#img_preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
            $("#cluster_image-error").hide();
        }
        else {
            alert("Please Select Jpg Or png File");
            $('#img_preview').attr('src', '/static/frontend/dashboard/images/default_img.png');
        }
    }
}
</script>

    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(e){
        $(".mybuttons").click(function(e){

            $("#frmTeam").submit();
        });
        $("#profile_name").keyup(function () {
            $("#profile_name").val($("#profile_name").val().replace(/^\s+/,""));
        });
        $("#designation").keyup(function () {
            $("#designation").val($("#designation").val().replace(/^\s+/,""));
        });
        $("#long_desc").keyup(function () {
            $("#long_desc").val($("#long_desc").val().replace(/^\s+/,""));
        });
        $.validator.addMethod("img_check", function(value, element) {
          return ($("#hid_team_id").val()!="" || $("#profile_image").val()!="")
        }, "Please Select Profile Image");

        $("#frmTeam").validate({
                rules: {
                    profile_name: {
                        required:true
                    },
                    designation: {
                        required:true
                    },
                    long_desc: {
                        required:true
                    },
                    profile_image: {
                        img_check:true,
                        extension:'jpg|JPG|gif|GIF|png|PNG|bmp|BMP|png|PNG'
                    }                    
                },
                messages: {
                    profile_name: {
                        required:"Please Enter Name"
                    },
                    designation: {
                        required:"Enter Designation"
                    },
                    long_desc: {
                        required:"Enter Description"
                    },
                    profile_image: {
                        extension:'Image Not Valid'
                    }
                },
                submitHandler:function(form)
                {
                    var data = new FormData($('form').get(0));
                    $.ajax({
                        type:"POST",
                        url:"/admin/team/insert/",
                        data:data,
                        cache: false,
                        processData: false,
                        contentType: false,
                        beforeSend:function() {
                            $.blockUI({ message: 'Please Wait...' });
                        },
                        success:function(response)
                        {
                            if(response==1)
                            {
                                $("#profile_name").val('');
                                $("#designation").val('');
                                $("#long_desc").val('');
                                $("#profile_image").val('');
                                window.location.href="/admin/team/";
                            }
                        },
                        error:function(response)
                        {
                            $.unblockUI();
                            alert("Error Occured.....");
                        }
                    });

                }
            });
    });

    $(document).on('click','.delete',function(e) {
        var team_id = $(this).attr('data-id');
        if(team_id) {
            if(confirm("Are you want to delete?"))
            {
                $.ajax({
                type:"GET",
                url:"/admin/team/delete/",
                data:{team_id:team_id},
                async:false,
                beforeSend:function() {
                  $.blockUI({ message: 'Please Wait...' });
                },
                success:function(response) {
                    if(response==1)
                    {

                        window.location.href = "/admin/team/";
                    }
                    $.unblockUI();
                },
                error:function(xhr) {
                    $.unblockUI();
                    alert("Error Occurred");
                }
            });
            }

        }
    });
</script>


</head>

<body>

<header>
    <div class="container">

        <div class="col-md-2"><a class="logo" href="#"><img class="img-responsive" src="{% static "admin/images/logo.png" %}"></a></div>

 <div class="col-md-2 pull-right">
            <div class="dropdown">
            <span class="users"><i class="fa fa-user" aria-hidden="true"></i></span>
              <a href="#" data-toggle="dropdown">{% firstof user.get_short_name user.get_username %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                  {% if user.has_usable_password %}
                <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> </li>
                {% endif %}
                <li><a href="{% url 'admin:logout' %}">Logout</a></li>
              </ul>
            </div>
        </div>

        <div class="col-md-2  pull-right">
            <div class="dat_time">
                <div class="date_area">
                    <p id="days"></p>
                    <p id="dates"></p>
                    <p id="motns"></p>
                </div>

                <div class="getTims">
                    <p id="times"></p>
                </div>

            </div>
        </div>

    </div>
</header>


<section>
    <div class="container">
        {% include 'admin/side_bar.html' %}
        <div class="col-md-9 marginTop_btom">
        <form method="post" id="frmTeam" name="frmTeam" enctype="multipart/form-data">
        <input type="hidden" name="hid_team_id" id="hid_team_id" value="{{ team_id }}"/>
        <input type="hidden" name="hid_old_cluster_image" id="hid_old_cluster_image" value="{{ AllEditTeamList.0.profile_image }}">
        <input type="hidden" name="hid_new_cluster_image" id="hid_new_cluster_image">
            {% csrf_token %}
            <div class="col-md-12 nopadding">
                <div class="upper_area">                
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Name:</label>
                            <input id="profile_name" name="profile_name" class="form-control" type="text" placeholder="Enter Name" value="{{AllEditTeamList.0.profile_name}}">
                        </div>
                    </div>
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Designation:</label>
                            <input id="designation" name="designation" class="form-control" type="text" placeholder="Enter Designation" value="{{AllEditTeamList.0.designation}}">
                        </div>
                    </div>
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Description:</label>
                            <textarea id="long_desc" rows="5" cols="60" name="long_desc" placeholder="Enter Text..">{{AllEditTeamList.0.long_desc}}</textarea>
                        </div
                    </div>
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Image:</label>
                            {% if team_id %}
                                <img src="https://d1iedlxz1i0l9r.cloudfront.net/static/media/images/team/{{AllEditTeamList.0.profile_image}}" id="img_preview" width="100px" height="100px">
                            {% else %}
                                <img src="{% static "frontend/dashboard/images/default_img.png" %}" id="img_preview" width="100px" height="100px">
                            {% endif %}

                            <input type="file" name="profile_image" id="profile_image" value="{{AllEditTeamList.0.profile_image}}">
                        </div>
                    </div>
                    <div class="input_box">
                        <div align="center" class="col-md-2">
                            <a href="javascript:void(0)" class="mybuttons">Done</a>
                        </div>
                    </div>
                    <div class="underline"></div>
                </div>
            </div>
</form>

             <div class="col-md-12 nopadding">
                <div class="table_area">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Designation</th>
                                <th>Details</th>
                                <th>Profile Image</th>
                                <th>Created On</th>
                                <th>Action</th>
                            </tr>
                        </thead
                        <tbody>
                        {% if AllTeamList %}
                            {% for item in AllTeamList %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ item.profile_name}}</td>
                                    <td>{{ item.designation}}</td>
                                    <td>{{ item.long_desc|slice:"0:100"}}</td>
                                    <td><img src="https://d1iedlxz1i0l9r.cloudfront.net/static/media/images/team/{{ item.profile_image }}" width="60px" height="60px" /> </td>
                                    <td>{{ item.created_date}}</td>
                                    <td>
                                        <a class="edit" href="/admin/team/edit/{{item.id}}">Edit</a> 
                                        <a class="deactive delete" href="javascript:void(0)" data-id="{{ item.id }}">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="5">NO DATA FOUND</td>
                              </tr>
                            {% endif %}

                        </tbody>

                    </table>
                </div>

            </div>
        </div>



    </div>
</section>



<section class="footer_area">
    <div class="container-fluid">

        <div class="col-lg-2 col-md-2 col-xs-12 colcenter">
            <p class="foterTxt">©2016 investak. All rights reserved.</p>
        </div>

    </div>
</section>

</body>
</html>