{% load staticfiles %}
{% load i18n static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>

<title>Investak-Testimonial</title>

    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/font-awesome/css/font-awesome.min.css" %}" >
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/stylesheet.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/jquery-ui.css" %}" >

    <script src="{% static "admin/js/jquery.1.11.3.min.js" %}"></script>
    <script src="{% static "admin/js/bootstrap.min.js" %}"></script>
    <script src="{% static "admin/js/datetime.js" %}"></script>
    <script src={% static "admin/js/jquery-ui.js" %}></script>
    <script src={% static "admin/js/jquery.blockUI.js" %}></script>

<script type="text/javascript">

$(document).ready(function(e) {

	$('.left_menu_area > ul > li:has(ul)').addClass("has-sub");

	$('.left_menu_area > ul > li > a').click(function() {
		var checkElement = $(this).next();

		$('.left_menu_area li').removeClass('active');
		$(this).closest('li').addClass('active');

		if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
		  $(this).closest('li').removeClass('active');
		  checkElement.slideUp('normal');
		}

		if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
		  $('.left_menu_area ul ul:visible').slideUp('normal');
		  checkElement.slideDown('normal');
		}

		if (checkElement.is('ul')) {
		  return false;
		} else {
		  return true;
		}
	});

	$("#inbox1").find('.arrowsClick').click(function(e){
		e.preventDefault();
		$(".inbox1").slideToggle();

	});

	$("#inbox2").find('.arrowsClick').click(function(e){
		e.preventDefault();
		$(".inbox2").slideToggle();
	});
});
$(window).load(function(){
	var winH = $(document).height();
	$(".left_menu_area").height(winH);

});


</script>

    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(e){
        $(".mybuttons").click(function(e){
            $("#frmTest").submit();
        });
        $("#short_desc").keyup(function () {
            $("#short_desc").val($("#short_desc").val().replace(/^\s+/,""));
        });
        $("#long_desc").keyup(function () {
            $("#long_desc").val($("#long_desc").val().replace(/^\s+/,""));
        });
        $("#frmTest").validate({
                rules: {
                   short_desc: {
                        required:true
                    },
                    long_desc: {
                        required:true
                    },                    
                },
                messages: {
                    short_desc: {
                        required:"Please Enter Name and Place"
                    },
                    long_desc: {
                        required:"Please Enter Testimonial Text"
                    },                   
                },
                submitHandler:function(form)
                {
                    var flag = 1;
                    if(flag==1)
                    {
                        $.ajax({
                            type:"POST",
                            url:"/admin/testimonial/insert/",
                            data:{short_desc:$("#short_desc").val(),long_desc:$("#long_desc").val(),id:$("#hid_testimonial_id").val(),csrfmiddlewaretoken:'{{ csrf_token }}'},
                            beforeSend:function() {
                              $.blockUI({ message: 'Please Wait...' });
                            },
                            success:function(response)
                            {
                                if(response==1)
                                {
                                    $("#short_desc").val('');
                                    $("#long_desc").val('');
                                    window.location.href="/admin/testimonial/";
                                }
                                $.unblockUI();
                            },
                            error:function(response)
                            {
                                $.unblockUI();
                                alert("Error Occured.....");
                            }
                        });
                    }

                }
            });
    });
     $(document).on('click','.delete',function(e) {
        var testimonial_id = $(this).attr('data-id');
        if(testimonial_id) {
            if(confirm("Are you want to delete?"))
            {
                $.ajax({
                type:"GET",
                url:"/admin/testimonial/delete/",
                data:{testimonial_id:testimonial_id},
                async:false,
                beforeSend:function() {
                  $.blockUI({ message: 'Please Wait...' });
                },
                success:function(response) {
                    if(response==1){
                        window.location.href = "/admin/testimonial/";
                    }
                    $.unblockUI();
                },
                error:function(xhr) {
                    $.unblockUI();
                    alert("Error Occurred");
                }
            });
            }

        }
    });
</script>


</head>

<body>

<header>
	<div class="container">

    	<div class="col-md-2"><a class="logo" href="#"><img class="img-responsive" src="{% static "admin/images/logo.png" %}"></a></div>

 <div class="col-md-2 pull-right">
            <div class="dropdown">
            <span class="users"><i class="fa fa-user" aria-hidden="true"></i></span>
              <a href="#" data-toggle="dropdown">{% firstof user.get_short_name user.get_username %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                  {% if user.has_usable_password %}
                <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> </li>
                {% endif %}
                <li><a href="{% url 'admin:logout' %}">Logout</a></li>
              </ul>
            </div>
		</div>

        <div class="col-md-2  pull-right">
        	<div class="dat_time">
            	<div class="date_area">
                	<p id="days"></p>
                    <p id="dates"></p>
                    <p id="motns"></p>
                </div>

                <div class="getTims">
                	<p id="times"></p>
                </div>

        	</div>
        </div>

	</div>
</header>


<section>
	<div class="container">
        {% include 'admin/side_bar.html' %}
        <div class="col-md-9 marginTop_btom">
<form method="post" id="frmTest" name="frmTest">
<input type="hidden" name="hid_testimonial_id" id="hid_testimonial_id" value="{{ AllEditTestList.0.id }}" />
    {% csrf_token %}
            <div class="col-md-12 nopadding">
            	<div class="upper_area">                
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Short Description:</label>
                            <input id="short_desc" name="short_desc" class="form-control" type="text" placeholder="Enter Name and place" value="{{ AllEditTestList.0.short_desc }}">
                        </div>
                    </div>
                    <div class="input_box">
                        <div class="col-md-12">
                            <label>Long Description:</label>
                            
                            <textarea id="long_desc" rows="5" cols="60" name="long_desc" placeholder="Enter Text..">{{ AllEditTestList.0.long_desc}}</textarea>
                        </div
                    </div>
                    <div class="input_box">
                        <div align="center" class="col-md-2">
                            <a href="javascript:void(0)" class="mybuttons">Done</a>
                        </div>
                    </div>
                    <div class="underline"></div>
                </div>
            </div>
</form>
            <div class="col-md-12 nopadding">

            	<div class="table_area">
                	<table class="table">
                    	<thead>
                        	<tr>
                                <th>#</th>
                                <th width="15%">Short Desc.</th>
                                <th>Long Desc.</th>
                                <th width="20%">Created On</th>
                                <th>Action</th>
                            </tr>

                        </thead
                        <tbody>
                        {% if AllTestList %}
                            {% for item in AllTestList %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ item.short_desc}}</td>
                                    <td>{{ item.long_desc|slice:"0:100"}}</td>
                                    <td>{{ item.created_date}}</td>
                                    <td>
                                    	<a class="edit" href="/admin/testimonial/edit/{{item.id}}">Edit</a> 
                                        <a class="deactive delete" href="javascript:void(0)" data-id="{{ item.id }}">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="5">NO DATA FOUND</td>
                              </tr>
                            {% endif %}

                        </tbody>

            		</table>
                </div>

            </div>


        </div>



    </div>
</section>



<section class="footer_area">
	<div class="container-fluid">

        <div class="col-lg-2 col-md-2 col-xs-12 colcenter">
        	<p class="foterTxt">©2016 investak. All rights reserved.</p>
        </div>

    </div>
</section>

</body>
</html>