/*!
 * Bootstrap v3.3.2 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 *//*! normalize.css v3.0.2 | MIT License | git.io/normalize | Begin */article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block
}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline
}
audio:not([controls]) {
	display: none;
	height: 0
}
[hidden], template {
display:none
}
abbr[title] {
	border-bottom: 1px dotted
}
b, strong {
	font-weight: bold
}
dfn {
	font-style: italic
}
h1 {
	margin: .67em 0;
	font-size: 2em
}
mark {
	color: #000;
	background: #ff0
}
small {
	font-size: 80%
}
sub, sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline
}
sup {
	top: -.5em
}
sub {
	bottom: -.25em
}
img {
	border: 0
}
svg:not(:root) {
	overflow: hidden
}
figure {
	margin: 1em 40px
}
hr {
	height: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}
pre {
	overflow: auto
}
code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em
}
button, input, optgroup, select, textarea {
	margin: 0;
	font: inherit;
	color: inherit;
	line-height: inherit
}
button {
	overflow: visible
}
button, select {
	text-transform: none
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}
button[disabled], html input[disabled] {
	cursor: default
}
button::-moz-focus-inner, input::-moz-focus-inner {
padding:0;
border:0
}
input[type="checkbox"], input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	line-height: normal;
	margin: 4px 0 0
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
height:auto
}
input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
-webkit-appearance:none
}
fieldset {
	padding: .35em .625em .75em;
	margin: 0 2px;
	border: 1px solid #c0c0c0
}
legend {
	padding: 0;
	border: 0
}
textarea {
	overflow: auto
}
optgroup {
	font-weight: bold
}
table {
	border-spacing: 0;
	border-collapse: collapse
}
td, th {
	padding: 0
}/*! normalize.css v3.0.2 | MIT License | git.io/normalize | End*//*! Grid Style | Begin*/
.container {
	margin: 0 auto
}
@media(min-width:768px) {
.container {
	width: 750px
}
}
@media(min-width:992px) {
.container {
	width: 970px
}
}
@media(min-width:1200px) {
.container {
	width: 1170px
}
}
.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: left
}
.col-xs-12 {
	width: 100%
}
.col-xs-11 {
	width: 91.66666667%
}
.col-xs-10 {
	width: 83.33333333%
}
.col-xs-9 {
	width: 75%
}
.col-xs-8 {
	width: 66.66666667%
}
.col-xs-7 {
	width: 58.33333333%
}
.col-xs-6 {
	width: 50%
}
.col-xs-5 {
	width: 41.66666667%
}
.col-xs-4 {
	width: 33.33333333%
}
.col-xs-3 {
	width: 25%
}
.col-xs-2 {
	width: 16.66666667%
}
.col-xs-1 {
	width: 8.33333333%
}
@media(min-width:768px) {
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	float: left
}
.col-sm-12 {
	width: 100%
}
.col-sm-11 {
	width: 91.66666667%
}
.col-sm-10 {
	width: 83.33333333%
}
.col-sm-9 {
	width: 75%
}
.col-sm-8 {
	width: 66.66666667%
}
.col-sm-7 {
	width: 58.33333333%
}
.col-sm-6 {
	width: 50%
}
.col-sm-5 {
	width: 41.66666667%
}
.col-sm-4 {
	width: 33.33333333%
}
.col-sm-3 {
	width: 25%
}
.col-sm-2 {
	width: 16.66666667%
}
.col-sm-1 {
	width: 8.33333333%
}
}
@media(min-width:992px) {
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float: left
}
.col-md-12 {
	width: 100%
}
.col-md-11 {
	width: 91.66666667%
}
.col-md-10 {
	width: 83.33333333%
}
.col-md-9 {
	width: 75%
}
.col-md-8 {
	width: 66.66666667%
}
.col-md-7 {
	width: 58.33333333%
}
.col-md-6 {
	width: 50%
}
.col-md-5 {
	width: 41.66666667%
}
.col-md-4 {
	width: 33.33333333%
}
.col-md-3 {
	width: 25%
}
.col-md-2 {
	width: 16.66666667%
}
.col-md-1 {
	width: 8.33333333%
}
}
@media(min-width:1200px) {
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	float: left
}
.col-lg-12 {
	width: 100%
}
.col-lg-11 {
	width: 91.66666667%
}
.col-lg-10 {
	width: 83.33333333%
}
.col-lg-9 {
	width: 75%
}
.col-lg-8 {
	width: 66.66666667%
}
.col-lg-7 {
	width: 58.33333333%
}
.col-lg-6 {
	width: 50%
}
.col-lg-5 {
	width: 41.66666667%
}
.col-lg-4 {
	width: 33.33333333%
}
.col-lg-3 {
	width: 25%
}
.col-lg-2 {
	width: 16.66666667%
}
.col-lg-1 {
	width: 8.33333333%
}
}/*! Grid Style | End*/
.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05)
}
.panel-body {
	padding: 15px
}
.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px
}
.panel-heading>.dropdown .dropdown-toggle {
	color: inherit
}
.panel-title {
	padding: 5px
}
.panel-footer {
	padding: 10px 15px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px
}
.panel-default {
	border-color: #ddd
}
.panel-default>.panel-heading {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #ddd
}
.panel-default>.panel-heading .badge {
	color: #f5f5f5;
	background-color: #333
}
.panel-default>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #ddd
}
.close {
	float: right;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2
}
.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=50);
	opacity: .5
}
button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0
}
.modal-open {
	overflow: hidden
}
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0
}
.modal.fade .modal-dialog {
	-webkit-transition: -webkit-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	-o-transform: translate(0, -25%);
	transform: translate(0, -25%)
}
.modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0)
}
.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto
}
.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px
}
.modal-content {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	box-shadow: 0 3px 9px rgba(0,0,0,.5)
}
.modal-backdrop {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background-color: #000
}
.modal-backdrop.fade {
	filter: alpha(opacity=0);
	opacity: 0
}
.modal-backdrop.in {
	filter: alpha(opacity=50);
	opacity: .5
}
.modal-header {
	min-height: 16.42857143px;
	padding: 15px;
	border-bottom: 1px solid #e5e5e5
}
.modal-header .close {
	margin-top: -2px
}
.modal-title {
	margin: 0;
	line-height: 1.42857143
}
.modal-body {
	position: relative;
	padding: 15px
}
.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5
}
.modal-footer .btn+.btn {
	margin-bottom: 0;
	margin-left: 5px
}
.modal-footer .btn-group .btn+.btn {
	margin-left: -1px
}
.modal-footer .btn-block+.btn-block {
	margin-left: 0
}
.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll
}
@media(min-width:768px) {
.modal-dialog {
	width: 624px;
	margin: 30px auto
}
.modal-content {
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
	box-shadow: 0 5px 15px rgba(0,0,0,.5)
}
.modal-sm {
	width: 300px
}
}
@media(min-width:992px) {
.modal-lg {
	width: 900px
}
}
.tooltip {
	position: absolute;
	z-index: 1070;
	display: block;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.4;
	visibility: visible;
	filter: alpha(opacity=0);
	opacity: 0
}
.tooltip.in {
	filter: alpha(opacity=90);
	opacity: .9
}
.tooltip.top {
	padding: 5px 0;
	margin-top: -3px
}
.tooltip.right {
	padding: 0 5px;
	margin-left: 3px
}
.tooltip.bottom {
	padding: 5px 0;
	margin-top: 3px
}
.tooltip.left {
	padding: 0 5px;
	margin-left: -3px
}
.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #fff;
	text-decoration: none;
	background-color: #000;
	border-radius: 4px
}
.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid
}
.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000
}
.tooltip.top-left .tooltip-arrow {
	right: 5px;
	bottom: 0;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000
}
.tooltip.top-right .tooltip-arrow {
	bottom: 0;
	left: 5px;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000
}
.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #000
}
.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #000
}
.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000
}
.tooltip.bottom-left .tooltip-arrow {
	top: 0;
	right: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000
}
.tooltip.bottom-right .tooltip-arrow {
	top: 0;
	left: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
	display: table;
	content: " "
}
.clearfix:after, .container:after, .container-fluid:after, .row:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .panel-body:after, .modal-footer:after {
	clear: both
}
.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto
}
.pull-right {
	float: right!important
}
.pull-left {
	float: left!important
}
.hide {
	display: none!important
}
.show {
	display: block!important
}
.invisible {
	visibility: hidden
}
.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0
}
.hidden {
	display: none!important;
	visibility: hidden!important
}
.fade {
	opacity: 0;
	-webkit-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear
}
.fade.in {
	opacity: 1
}
.collapse {
	display: none!important;
	visibility: hidden!important
}
.collapse.in {
	display: block!important;
	visibility: visible!important
}
.affix {
	position: fixed
}
@-ms-viewport {
width:device-width
}
.visible-xs, .visible-sm, .visible-md, .visible-lg {
	display: none!important
}
.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
	display: none!important
}
@media(max-width:767px) {
.visible-xs {
	display: block!important
}
}
@media(max-width:767px) {
.visible-xs-block {
	display: block!important
}
}
@media(max-width:767px) {
.visible-xs-inline {
	display: inline!important
}
}
@media(max-width:767px) {
.visible-xs-inline-block {
	display: inline-block!important
}
}
@media(min-width:768px) and (max-width:991px) {
.visible-sm {
	display: block!important
}
}
@media(min-width:768px) and (max-width:991px) {
.visible-sm-block {
	display: block!important
}
}
@media(min-width:768px) and (max-width:991px) {
.visible-sm-inline {
	display: inline!important
}
}
@media(min-width:768px) and (max-width:991px) {
.visible-sm-inline-block {
	display: inline-block!important
}
}
@media(min-width:992px) and (max-width:1199px) {
.visible-md {
	display: block!important
}
}
@media(min-width:992px) and (max-width:1199px) {
.visible-md-block {
	display: block!important
}
}
@media(min-width:992px) and (max-width:1199px) {
.visible-md-inline {
	display: inline!important
}
}
@media(min-width:992px) and (max-width:1199px) {
.visible-md-inline-block {
	display: inline-block!important
}
}
@media(min-width:1200px) {
.visible-lg {
	display: block!important
}
}
@media(min-width:1200px) {
.visible-lg-block {
	display: block!important
}
}
@media(min-width:1200px) {
.visible-lg-inline {
	display: inline!important
}
}
@media(min-width:1200px) {
.visible-lg-inline-block {
	display: inline-block!important
}
}
@media(max-width:767px) {
.hidden-xs {
	display: none!important
}
}
@media(min-width:768px) and (max-width:991px) {
.hidden-sm {
	display: none!important
}
}
@media(min-width:992px) and (max-width:1199px) {
.hidden-md {
	display: none!important
}
}
@media(min-width:1200px) {
.hidden-lg {
	display: none!important
}
}
.bbrow {
	margin-right: -15px;
	margin-left: -15px
}
.carousel {
	position: relative
}
.carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden
}
.carousel-inner>.item {
	position: relative;
	display: none;
	-webkit-transition: .6s ease-in-out left;
	transition: .6s ease-in-out left
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	display: block;
	max-width: 100%;
	height: auto;
	line-height: 1
}
.carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev {
	display: block
}
.carousel-inner>.active {
	left: 0
}
.carousel-inner>.next, .carousel-inner>.prev {
	position: absolute;
	top: 0;
	width: 100%
}
.carousel-inner>.next {
	left: 100%
}
.carousel-inner>.prev {
	left: -100%
}
.carousel-inner>.next.left, .carousel-inner>.prev.right {
	left: 0
}
.carousel-inner>.active.left {
	left: -100%
}
.carousel-inner>.active.right {
	left: 100%
}
.carousel-control {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 15%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
	filter: alpha(opacity=50);
	opacity: .5
}
.carousel-control:hover, .carousel-control:focus {
	color: #fff;
	text-decoration: none;
	filter: alpha(opacity=90);
	outline: 0;
	opacity: .9
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block
}
.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
	left: 50%
}
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
	right: 50%
}
.carousel-control .icon-prev, .carousel-control .icon-next {
	width: 20px;
	height: 20px;
	margin-top: -10px;
	margin-left: -10px;
	font-family: serif
}
.carousel-control .icon-prev:before {
	content: '\2039'
}
.carousel-control .icon-next:before {
	content: '\203a'
}
.carousel-indicators {
	position: absolute;
	bottom: 10px;
	left: 50%;
	z-index: 15;
	width: 60%;
	padding-left: 0;
	margin-left: -30%;
	text-align: center;
	list-style: none
}
.carousel-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #000 \9;
	background-color: rgba(0,0,0,0);
	border: 1px solid #fff;
	border-radius: 10px
}
.carousel-indicators .active {
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: #fff
}
@media screen and (min-width:768px) {
.carousel-control .glyphicons-chevron-left, .carousel-control .glyphicons-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
	width: 30px;
	height: 30px;
	margin-top: -15px;
	margin-left: -15px;
	font-size: 30px
}
.carousel-caption {
	right: 20%;
	left: 20%;
	padding-bottom: 30px
}
.carousel-indicators {
	bottom: 20px
}
}
* {
	box-sizing: border-box
}
html {
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}
body {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #34495e;
	line-height: 1.72222;
	margin: 0;
	padding: 0
}
a {
	text-decoration: none;
	color: #38acc9;
	transition: all .25s ease 0s
}
a:active, a:hover, a:focus, input:focus, textarea:focus, button:focus {
	outline: 0
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li {
	margin: 0;
	padding: 0;
	font-weight: normal;
	line-height: normal
}
ul, ol {
	list-style: none
}
address {
	font-style: normal
}
small, .small {
	font-size: 85%
}
mark, .mark {
	padding: .2em;
	background-color: #fcf8e3
}
.strike {
	text-decoration: line-through
}
.font-xs {
	font-size: 10px
}
.font-sm {
	font-size: 12px
}
.font-normal {
	font-size: 14px;
	line-height: 18px
}
.font-md {
	font-size: 16px;
	line-height: 20px
}
.font-lg {
	font-size: 18px;
	line-height: 22px
}
.font-xlg {
	font-size: 20px;
	line-height: 24px
}
.dontshow {
	display: none
}
.text-left {
	text-align: left
}
.text-right {
	text-align: right
}
.text-center {
	text-align: center
}
.text-justify {
	text-align: justify
}
.text-nowrap {
	white-space: nowrap
}
.text-lowercase {
	text-transform: lowercase
}
.text-uppercase {
	text-transform: uppercase
}
.text-capitalize {
	text-transform: capitalize
}
.text-muted {
	color: #777
}
.text-primary {
	color: #337ab7
}
a.text-primary:hover {
	color: #286090
}
.text-success {
	color: #3c763d
}
a.text-success:hover {
	color: #2b542c
}
.text-info {
	color: #31708f
}
a.text-info:hover {
	color: #245269
}
.text-warning {
	color: #8a6d3b
}
a.text-warning:hover {
	color: #66512c
}
.text-danger {
	color: #a94442
}
a.text-danger:hover {
	color: #843534
}
.vertical-align-ttop {
	vertical-align: text-top
}
.border-right {
	border-right: 1px solid #ccc
}
.show-on-tab {
	display: none!important
}
.show-on-mobile {
	display: none!important
}
img {
	vertical-align: middle
}
.app-submit-modal .app-submit-tc-txt ol li {
	list-style-type: decimal
}
.app-submit-modal .app-submit-tc-txt ol li li li {
	list-style-type: lower-alpha
}
.bank-prod-page .left-li-url a {
	color: #34495e
}
@media(max-width:767px) {
.hide-on-mobile {
	display: none!important
}
.show-on-mobile {
	display: block!important
}
}
@media only screen and (min-width:600px) and (max-width:1024px) {
.show-on-tab {
	display: block!important
}
.hide-on-tab {
	display: none!important
}
}
.btn {
	border: 0 none;
	border-radius: 4px;
	font-size: 15px;
	line-height: 1.4;
	padding: 10px 15px;
	cursor: pointer;
	transition: border .25s linear 0s, color .25s linear 0s, background-color .25s linear 0s;
	background-color: #e74c3c;
	color: #fff;
	text-decoration: none;
	display: inline-block
}
.fd-match .btn-info, .fd-match .btn {
	background-color: #fff
}
.btn:hover {
	background-color: #ec7063;
	text-decoration: none
}
.btn.disabled {
	cursor: not-allowed;
	opacity: .65;
	pointer-events: none
}
.btn-primary {
	background: #1abc9c
}
.btn-primary:hover {
	background: #48c9b0
}
.btn-secondary {
	background: #34495e
}
.btn-secondary:hover {
	background: #1abc9c
}
.btn-default {
	background-color: #bdc3c7;
	color: #fff
}
.btn-small {
	font-size: 12px;
	padding: 5px 10px
}
.btn-large {
	border-radius: 6px;
	font-size: 22px;
	padding: 12px 20px
}
.app-processing-button, .app-processing-button:hover {
	background: url(https://cdn2.bankbazaar.com/images/submit-loader.gif) no-repeat 0 0!important;
	height: 41px;
	overflow: hidden;
	text-indent: -9999px;
	width: 108px
}
@media only screen and (min-device-width :320px) and (max-device-width :480px) {
.btn {
	padding: 6px 10px
}
.btn-large {
	font-size: 18px;
	padding: 8px 15px
}
}
input[type="text"], input[type="email"], input[type="tel"], input[type="password"], select {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.modal {
	z-index: 1050
}
.modal-backdrop {
	background-color: #243342;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1040
}
.modal-backdrop.in {
	opacity: .95
}
.compressed-login {
	overflow-y: hidden
}
.compressed-login .modal-dialog {
	width: 318px;
	margin: 10% auto
}
.compressed-login .modal-content {
	border: 0 solid #ebedef
}
.compressed-login .modal-header {
	padding: 5px 15px;
	background: #1abc9c;
	border-radius: 6px 6px 0 0
}
.compressed-login .modal-header .modal-title {
	font-size: 18px;
	color: #fff;
	font-weight: normal
}
.compressed-login .modal-header .close {
	font-size: 24px
}
.compressed-login .modal-body p {
	font-weight: lighter;
	padding: 10px 0;
	line-height: 1.625
}
.compressed-login .btn-social {
	color: #fff;
	position: relative;
	border: 1px solid rgba(0,0,0,0.2);
	width: 220px;
	text-align: center;
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 12px
}
.compressed-login .btn-social span {
	width: 42px;
	height: 33px;
	display: block;
	position: absolute;
	top: 0;
	border-right: 1px solid rgba(0,0,0,0.2);
	left: 0
}
.compressed-login .modal-body {
	text-align: center
}
.compressed-login .btn-social span img {
	padding: 6px 0 0 0
}
.compressed-login .btn-facebook {
	background-color: #3b5998;
	padding: 8px 0 8px 40px
}
.compressed-login .btn-google-plus {
	background-color: #dd4b39;
	padding: 8px 0 8px 40px
}
@-webkit-keyframes bounce {
0%, 20%, 50%, 80%, 100% {
-webkit-transform:translateY(0)
}
40% {
-webkit-transform:translateY(-30px)
}
60% {
-webkit-transform:translateY(-15px)
}
}
@-moz-keyframes bounce {
0%, 20%, 50%, 80%, 100% {
-moz-transform:translateY(0)
}
40% {
-moz-transform:translateY(-30px)
}
60% {
-moz-transform:translateY(-15px)
}
}
@-ms-keyframes bounce {
0%, 20%, 50%, 80%, 100% {
-ms-transform:translateY(0)
}
40% {
-ms-transform:translateY(-30px)
}
60% {
-ms-transform:translateY(-15px)
}
}
@-o-keyframes bounce {
0%, 20%, 50%, 80%, 100% {
-o-transform:translateY(0)
}
40% {
-o-transform:translateY(-30px)
}
60% {
-o-transform:translateY(-15px)
}
}
@keyframes bounce {
0%, 20%, 50%, 80%, 100% {
transform:translateY(0)
}
40% {
transform:translateY(-30px)
}
60% {
transform:translateY(-15px)
}
}
.input-error-cl {
	position: relative;
	color: #fff;
	background: #f1c40f;
	border-radius: 6px;
	padding: 5px;
	line-height: normal;
	display: inline-block;
	font-weight: bold;
	width: 100%;
	Clear: both;
	-moz-animation: bounce 1s 1 alternate;
	-ms-animation: bounce 1s 1 alternate;
	-o-animation: bounce 1s 1 alternate;
	-webkit-animation: bounce 1s 1 alternate;
	animation: bounce 1s 1 alternate
}
.error-icon {
	display: block;
	float: left;
	padding-right: 5px
}
.error-info {
	padding: 5px 0 0 0;
	font-size: 15px;
	font-weight: bold;
	color: #fff
}
.input-error-cl:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	top: -18px;
	left: 11px;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136,183,213,0);
	border-bottom-color: #f1c40f;
	border-width: 10px
}
@font-face {
	font-family: 'Lato';
	src: url('https://cdn2.bankbazaar.com/styles/fonts/lato/lato-reg-webfont.eot');
	src: url('https://cdn2.bankbazaar.com/styles/fonts/lato/lato-reg-webfont.eot?#iefix') format('embedded-opentype'), url('https://cdn1.bankbazaar.com/styles/fonts/lato/lato-reg-webfont.woff') format('woff'), url('https://cdn1.bankbazaar.com/styles/fonts/lato/lato-reg-webfont.ttf') format('truetype'), url('https://cdn2.bankbazaar.com/styles/fonts/lato/lato-reg-webfont.svg#latoregular') format('svg');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: "Flat-UI-Icons";
	src: url('https://cdn4.bankbazaar.com/styles/fonts/flat-ui-icons-regular.eot');
	src: url('https://cdn4.bankbazaar.com/styles/fonts/flat-ui-icons-regular.eot?#iefix') format('embedded-opentype'), url('https://cdn1.bankbazaar.com/styles/fonts/flat-ui-icons-regular.woff') format('woff'), url('https://cdn3.bankbazaar.com/styles/fonts/flat-ui-icons-regular.ttf') format('truetype'), url('https://cdn4.bankbazaar.com/styles/fonts/flat-ui-icons-regular.svg#flat-ui-icons-regular') format('svg');
	font-weight: normal;
	font-style: normal
}
.fui-checkbox-checked, .fui-checkbox-unchecked, .fui-twitter, .fui-linkedin, .fui-facebook, .fui-youtube, .fui-googleplus, .fui-rupee, .fui-arrow-right, .fui-arrow-left {
	display: inline-block;
	font-family: 'Flat-UI-Icons';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.fui-checkbox-checked:before {
	content: "\e034"
}
.fui-checkbox-unchecked:before {
	content: "\e033"
}
.fui-twitter:before {
	content: "\e042"
}
.fui-linkedin:before {
	content: "\e049"
}
.fui-facebook:before {
	content: "\e03f"
}
.fui-youtube:before {
	content: "\e040"
}
.fui-googleplus:before {
	content: "\e04a"
}
.fui-rupee:before {
	content: "\e600"
}
.fui-arrow-right:before {
	content: "\e602"
}
.fui-arrow-left:before {
	content: "\e601"
}
.bbicons-rupee {
	background: url(https://cdn2.bankbazaar.com/images/newAppPage/rupee_symbol_bg.png) no-repeat 0 0;
	display: inline-block
}
.bbicons-rupee-big {
	background-position: -11px -2px;
	height: 16px;
	width: 13px
}
.bbicons-rupee-small {
	background-position: -6px -27px;
	height: 16px;
	width: 19px
}
.bbicons-rupee-big-white {
	background-position: -13px -121px;
	height: 15px;
	width: 9px
}
.bb-rupee-xs {
	font-size: 10px
}
.bb-rupee-sm {
	font-size: 12px
}
.bb-rupee-md {
	font-size: 14px
}
.bb-rupee-lg {
	font-size: 16px
}
.intAccess {
	background-color: #d9032c;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 100
}
.sv_msg, #sv_msg {
	background: 0 #ff0;
	font-size: 12px;
	left: 45%;
	padding: 0 13px;
	position: fixed;
	top: 0;
	z-index: 99
}
.checkbox .icons, .radio .icons {
	color: #bdc3c7;
	display: block;
	height: 20px;
	left: 0;
	position: absolute;
	top: 0;
	width: 20px;
	text-align: center;
	line-height: 21px;
	font-size: 20px;
	cursor: pointer;
	-webkit-transition: color .25s linear;
	transition: color .25s linear
}
.checkbox .icons .first-icon, .radio .icons .first-icon, .checkbox .icons .second-icon, .radio .icons .second-icon {
	display: inline-table;
	position: absolute;
	left: 0;
	top: 0;
	background-color: transparent;
	margin: 0;
	opacity: 1;
	filter: alpha(opacity=100)
}
.checkbox .icons .second-icon, .radio .icons .second-icon {
	opacity: 0;
	filter: alpha(opacity=0)
}
.checkbox.checked .first-icon, .radio.checked .first-icon {
	opacity: 0;
	filter: alpha(opacity=0)
}
.checkbox.checked .second-icon, .radio.checked .second-icon {
	opacity: 1;
	filter: alpha(opacity=100);
	color: #1abc9c;
	-webkit-transition: color .25s linear;
	transition: color .25s linear
}
.checkbox.disabled, .radio.disabled {
	cursor: default;
	color: #e6e8ea
}
.checkbox.disabled .icons, .radio.disabled .icons {
	color: #e6e8ea
}
.checkbox.disabled .first-icon, .radio.disabled .first-icon {
	opacity: 1;
	filter: alpha(opacity=100)
}
.checkbox.disabled .second-icon, .radio.disabled .second-icon {
	opacity: 0;
	filter: alpha(opacity=0)
}
.checkbox.disabled.checked .icons, .radio.disabled.checked .icons {
	color: #e6e8ea
}
.checkbox.disabled.checked .first-icon, .radio.disabled.checked .first-icon {
	opacity: 0;
	filter: alpha(opacity=0)
}
.checkbox.disabled.checked .second-icon, .radio.disabled.checked .second-icon {
	opacity: 1;
	filter: alpha(opacity=100);
	color: #e6e8ea
}
body {
	-webkit-text-size-adjust: 100%
}
.safari input:disabled {
	color: #3f4245
}
@media screen and (max-width:1024px) {
.font-xlg {
	font-size: 16px;
	line-height: 20px
}
}
.bb-app-footer-lw {
	padding: 10px 0;
	background: #323232;
	color: #75787c;
	font-size: 12px
}
.bb-app-footer-lw a {
	color: #75787c
}
#scrollup {
	position: fixed;
	bottom: 30px;
	right: 15px;
	z-index: 4444
}
#scrollup a {
	width: 48px;
	display: block;
	text-align: center;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s
}
#scrollup a:hover {
	color: #000
}
#scrollup span i {
	width: 46px;
	height: 46px;
	display: block;
	margin-bottom: 7px;
	background-color: #cbcbcb;
	padding: 16px 0 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	color: #fff!important
}
#scrollup a:hover span {
	background-color: #989898
}
.sprite-symbols {
	background-image: url(https://cdn2-bankbazaar-image.bankbazaar.com/images/sprite/sprite-for-symbols-v3.png);
	background-repeat: no-repeat
}
.symbols-down-arrow {
	background-position: -185px -128px
}
#error {
	background: #fff
}
.error-page-wrap {
	color: #343434;
	text-align: center;
	margin: 65px 0 0
}
.error-page-wrap p {
	font-size: 36px;
	padding: 0;
	margin: 25px 0;
	font-weight: lighter
}
.twi-accordion .panel {
	margin-bottom: 0;
	border-radius: 0;
	border: 0;
	background: #fbfbfb
}
.twi-accordion .panel p, .twi-accordion .panel ul li {
	list-style: disc;
	margin: 10px 0
}
.twi-accordion .panel ul li li {
	list-style: lower-alpha
}
.twi-accordion .panel-title span {
	margin-right: 5px;
	width: 15px;
	display: inline-block;
	text-align: center;
	font-size: 18px
}
.twi-accordion .panel ul, .twi-accordion .panel ul ul {
	padding: 0 0 0 15px;
	margin: 0
}
.twi-accordion .panel .panel-heading {
	padding: 3px 15px
}
.twi-accordion .panel .panel-heading h2 {
	margin: 10px 0;
	padding: 0;
	font-size: 16px
}
.twi-accordion .panel .panel-title a {
	color: #251f20
}
.twi-accordion .panel-heading a.accordion-toggle.collapsed span:before {
	content: "+"
}
.twi-accordion .panel-heading a.accordion-toggle span:before {
	content: "-"
}
.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition-timing-function: ease;
	-o-transition-timing-function: ease;
	transition-timing-function: ease;
	-webkit-transition-duration: .35s;
	-o-transition-duration: .35s;
	transition-duration: .35s;
	-webkit-transition-property: height, visibility;
	-o-transition-property: height, visibility;
	transition-property: height, visibility
}
@media only screen and (max-width:560px) {
.error-page-wrap {
	margin: 25px 0 0
}
.error-page-wrap p {
	font-size: 24px
}
}
@media only screen and (max-width:360px) {
.error-page-wrap img {
	width: 200px
}
.error-page-wrap p {
	font-size: 22px
}
}
.list-circle {
	list-style-type: circle
}
.list-square {
	list-style-type: square
}
.list-roman {
	list-style-type: lower-roman
}
.list-alpha {
	list-style-type: lower-alpha
}
.list-decimal {
	list-style-type: decimal
}
.list-decimal-zero {
	list-style-type: decimal-leading-zero
}
.list-upper-alpha {
	list-style-type: upper-alpha
}
.list-upper-roman {
	list-style-type: upper-roman
}
.star-rating {
	background: url(https://cdn1-bankbazaar-image.bankbazaar.com/images/sprite/star-rating.png) no-repeat 0 0;
	display: inline-block;
	height: 14px;
	width: 68px;
	vertical-align: middle
}
.star-rating-0-0 {
	background-position: 0 0
}
.star-rating-0-5 {
	background-position: 0 -20px
}
.star-rating-1-0 {
	background-position: 0 -40px
}
.star-rating-1-5 {
	background-position: 0 -60px
}
.star-rating-2-0 {
	background-position: 0 -80px
}
.star-rating-2-5 {
	background-position: 0 -100px
}
.star-rating-3-0 {
	background-position: 0 -120px
}
.star-rating-3-5 {
	background-position: 0 -140px
}
.star-rating-4-0 {
	background-position: 0 -160px
}
.star-rating-4-5 {
	background-position: 0 -180px
}
.star-rating-5-0 {
	background-position: 0 -200px
}
.partner-banks .star-rating {
	margin-right: 2px
}
.list-upper-roman {
	list-style-type: upper-roman
}
blockquote {
	border-left: 5px solid #c6c6c6;
	margin: 0 5px 20px;
	padding: 10px 20px;
	font-style: italic
}
blockquote strong, blockquote p {
	font-weight: normal
}
.modal-open {
	padding-right: 15px
}
.mobile .modal-open {
	padding-right: 0
}
.cl-lp.modal-open {
	padding-right: 0
}
header {
	background: #116a9e;
	height: 54px;
	position: relative
}
.landingpage-body {
	padding-top: 54px
}
.landingpage-sticky {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10001
}
.logo {
	float: left;
	margin: 6px 0 0 10px
}
.logo a {
	display: block
}
.logo img {
	width: 180px
}
.logo-border {
	border-right: 1px solid #4188b1;
	width: 1px;
	float: left;
	height: 35px;
	margin: 10px 15px 0 14px
}
.menu-left {
	float: left;
	padding: 0;
	z-index: 3;
	position: relative
}
.menu-left>li {
	float: left;
	margin: 0 10px;
	position: relative
}
.menu-left>li>a, .menu-right>li>a {
	color: #fff;
	text-decoration: none;
	padding: 19px 0;
	display: block;
	cursor: pointer
}
.menu-left>li>a:after, .side-menu-list>li>a:after, .after-login>a:after {
	content: "";
	width: 22px;
	height: 8px;
	background-image: url(https://cdn2-bankbazaar-image.bankbazaar.com/images/common/main-menu-arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transition: .5s all ease;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease
}
.menu-left>.investments-menu>a:hover, .menu-left>.cards-menu>a:hover, .menu-left>.credit-cards-menu>a:hover {
	cursor: default
}
.side-menu-list>li>a:after {
	background-image: url(https://cdn2-bankbazaar-image.bankbazaar.com/images/common/side-menu-arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	right: 0;
	top: 21px
}
.side-menu-list {
	margin-bottom: 20px
}
.menu-left>li:hover>a:after, .side-menu-list>li.open>a:after, .after-login:hover>a:after {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transition: .5s all ease;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease
}
.menu-right>.after-login>a {
	padding: 16px 0
}
.menu-left li:hover .child-main-menu, .menu-right li:hover .child-main-menu {
	display: block;
	position: absolute;
	top: 54px;
	width: 205px;
	background: #fff;
	color: #116a9e;
	border: 1px solid #d4d4d4;
	padding: 8px 0 10px 0;
	left: -26px
}
.after-login img {
	border-radius: 17px;
	margin-right: 5px
}
.menu-right>li>.flash-sale-icon {
	padding: 0
}
.menu-arrow-img {
	position: absolute;
	right: 0;
	top: 24px
}
.side-menu-list .menu-arrow-img {
	right: 17px
}
.menu-right li:hover .child-main-menu {
	left: 5px
}
.child-main-menu {
	display: none;
	z-index: 1
}
.after-login .child-main-menu {
	z-index: 10000
}
.menu-right .after-login:hover .child-main-menu {
	width: 156px
}
.child-main-menu a {
	color: #116a9e;
	padding: 9px 15px 9px 26px;
	display: block;
	line-height: normal
}
.child-main-menu a:hover {
	color: #116a9e;
	text-decoration: underline
}
.menu-right {
	float: right;
	padding: 0;
	margin: 0 16px 0 0
}
.menu-right>li {
	float: left;
	padding-left: 21px;
	position: relative
}
.menu-right .menu-track-app a {
	padding-left: 23px
}
.user-icon {
	border-radius: 15px;
	margin-top: -2px
}
.menu-user-name {
	padding-left: 5px;
	line-height: 24px
}
.side-menu {
	position: fixed;
	background: #fff;
	width: 278px;
	height: 100%;
	z-index: 10;
	right: -278px;
	padding: 0 15px;
	border-left: 3px solid #116a9e;
	overflow-y: auto;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease
}
.side-menu::-webkit-scrollbar-track {
-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
background-color:#f5f5f5
}
.side-menu::-webkit-scrollbar {
width:6px;
background-color:#f5f5f5
}
.side-menu::-webkit-scrollbar-thumb {
background-color:#999
}
.side-menu.side-menu-open {
	right: 0
}
.side-menu-list>li {
	position: relative;
	line-height: normal
}
.side-menu-list>li>a {
	color: #000;
	padding: 18px 0 18px 26px;
	border-bottom: 1px solid #ddd
}
.side-menu-list>li>a, .side-menu-list>li>a:hover {
	text-decoration: none;
	cursor: pointer
}
.side-menu-list li .child-main-menu li:first-child {
	margin-top: 5px
}
.side-menu-list li .child-main-menu li a {
	padding: 9px 0;
	display: block
}
.side-menu ul li ul {
	padding: 0;
	max-height: 0;
	list-style: none;
	font-size: 14px;
	overflow: hidden;
	-webkit-transition: max-height .5s cubic-bezier(0, 1.05, 0, 1);
	transition: max-height .5s cubic-bezier(0, 1.05, 0, 1);
	display: block
}
.side-menu ul li.active ul {
	-webkit-transition: max-height .5s ease-out;
	transition: max-height .5s ease-out;
	max-height: 500px
}
.child-main-menu li h3 {
	color: #929292;
	margin: 15px 0 4px 0;
	font-size: 14px;
	text-transform: uppercase
}
.side-menu-list i:before {
	right: 17px;
	top: 19px;
	color: #cfcfcf
}
.menu-left li i:before, .menu-right li i:before {
	top: 20px;
	right: -2px
}
.body-overflow {
	overflow: hidden;
	margin-right: 15px
}
.sprite-menu {
	background-repeat: no-repeat;
	display: block;
	background-position: 0 100px
}
.bbicons-menu-downloadApp {
	background-position: -15px -40px
}
.bbicons-menu-financeTools {
	background-position: -15px -162px
}
.bbicons-menu-cards {
	background-position: -15px -211px
}
.bbicons-menu-insurance {
	background-position: -15px -260px
}
.bbicons-menu-investments, .bbicons-menu-fixedDeposits {
	background-position: -15px -308px
}
.bbicons-menu-loans {
	background-position: -15px -357px
}
.bbicons-menu-more {
	background-position: -15px -402px
}
.bbicons-menu-track {
	background-position: -15px -450px
}
.bbicons-humbug-white {
	background-position: -9px -704px;
	width: 34px;
	height: 16px
}
header ul, header li {
	margin: 0;
	padding: 0
}
header ul li, header li {
	list-style-type: none
}
.menu-left>li>a, .menu-right>li>a {
	line-height: normal
}
.menu-right .flash-sale-img {
	position: inherit;
	padding: 0;
	right: 0
}
.menu-right .flash-sale-img img {
	max-width: 150px;
	max-height: 46px
}
.screen-block-hamburger {
	background-color: #000;
	opacity: .80;
	-ms-filter: "alpha(opacity=80)";
	filter: alpha(opacity=80);
	-khtml-opacity: .80;
	-moz-opacity: .80;
	left: 0;
	position: fixed;
	top: 0;
	transition: background-color .15s ease-out 0s;
	width: 100%;
	height: 100%;
	z-index: 10000
}
.side-menu {
	z-index: 99991
}
.side-menu-list>.no-arrow>a:after {
	background: 0
}
@media screen and (max-width:1024px) {
.logo {
	margin: 6px 0 0 5px
}
.body-overflow body {
	overflow: hidden;
	position: fixed;
	height: 100%;
	width: 100%
}
}
@media screen and (max-width:1110px) {
.menu-right .flash-sale-img img {
	max-width: 110px;
	max-height: 40px;
	padding-top: 5px
}
.menu-left>li {
	margin: 0 5px
}
}
@media screen and (max-width:1023px) {
.menu-left {
	display: none
}
}
.tab-content>.tab-pane {
	display: none
}
.tab-content>.active {
	display: block
}
header .navbar-header {
	float: left
}
header .navbar-collapse {
	display: block;
	visibility: visible;
	height: auto;
	overflow: visible;
	position: relative
}
@media(min-width:768px) {
header .navbar-collapse.collapse {
	display: block!important;
	height: auto!important;
	padding-bottom: 0;
	overflow: visible!important;
	visibility: visible!important
}
}
.offers-page header {
	background: #116a9e;
	position: fixed;
	width: 100%;
	z-index: 6
}
.offers-page .logo {
	position: relative;
	z-index: 100
}
.offers-page .menu-right li:hover .child-main-menu {
	left: auto;
	right: 0
}
.modal-open .landingpage-sticky {
	display: none
}
.breadcrumb {
	background-color: transparent;
	font-size: 10px;
	font-weight: normal;
	padding: 10px 0;
	margin: 0;
	overflow: hidden
}
.offers-page .breadcrumb {
	padding: 2px 10px 0 10px
}
.breadcrumb>li {
	border-right: 1px solid #bdc3c7;
	float: left;
	padding: 0 5px
}
.breadcrumb>li:after {
	display: none
}
.breadcrumb>li>a {
	color: #000
}
.breadcrumb>li:last-child, .breadcrumb>li:last-child span {
	border: 0;
	color: #1abc9c
}
@media(max-width:767px) {
.breadcrumb-section {
	display: none
}
}
.bbfooter {
	background-color: #323232;
	color: #75787c;
	padding: 60px 0 0;
	font-size: 12px
}
.bbfooter a {
	color: #75787c
}
.bbfooter a:hover {
	color: #ddd
}
.footer-title {
	color: #9c9c9c;
	margin-bottom: 10px
}
.footer-links li {
	line-height: 22px
}
.bbicons-iphone, .bbicons-gplay {
	background-image: url(https://cdn2-bankbazaar-image.bankbazaar.com/images/common/sprite/sprite-footer-app-store-v1.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	display: inline-block;
	height: 40px;
	margin-right: 10px;
	width: 119px
}
.bbicons-gplay {
	background-position: -168px 0
}
.bbicon-contact {
	background-image: url(https://cdn4.bankbazaar.com/images/sprite-for-symbols-v2.png);
	background-repeat: no-repeat;
	margin-right: 5px;
	height: 19px;
	float: left;
	width: 17px
}
.bbicons-phone {
	background-position: -6px -66px
}
.bbicons-whatsapp {
	background-position: -4px -181px
}
.bbicons-email {
	background-position: -73px -66px;
	margin-right: 10px
}
.bbicons-location {
	background-position: -41px -66px
}
.footer-contact {
	margin-bottom: 15px
}
.footer-contact address {
	padding-left: 10%
}
.bbfooter input[type='email'] {
	background-color: #565252;
	border: 0 none;
	border-radius: 0;
	color: #a4a6a6;
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	height: 42px;
	line-height: 1.467;
	margin: 5px 0;
	padding: 8px;
	vertical-align: baseline;
	width: 63%;
	display: inline-block
}
.bbfooter input[type='submit'], .bbfooter input[type='button'] {
	background-color: #2e2d2d;
	color: #666;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 11px 11px;
	vertical-align: baseline;
	border: 0;
	display: inline-block;
	cursor: pointer
}
.bbfooter input[type='submit']:hover, .bbfooter input[type='button']:hover {
	color: #fff
}
.bbfooter input[type='submit'][disabled], .bbfooter input[type='button'][disabled] {
	color: #fff;
	background-color: #bdc3c7;
	opacity: .7;
	cursor: default
}
.footer-subscribe {
	margin: 10px 0
}
.bbfooter-space {
	margin-top: 30px
}
.bb-footer-copyright {
	border-top: 1px solid #75787c;
	margin-top: 10px;
	padding: 10px 0
}
.bb-footer-copyright p {
	margin-bottom: 5px
}
.social-media {
	margin: 35px 0 10px
}
.social-icons a {
	color: #999;
	font-size: 22px
}
.social-icons a i {
	margin-right: 15px
}
.security-seals {
	margin: 10px 0
}
.security-seals div {
	display: inline-block;
	width: auto;
	margin-right: 5px
}
.security-seals img {
	max-height: 32px;
	max-width: 100px
}
.bb-video-modal .modal-header {
	border: 0;
	padding: 0
}
.bb-video-modal .modal-dialog {
	margin: 11% auto;
	width: 800px
}
.bb-video-modal .modal-dialog iframe {
	width: 800px;
	height: 450px
}
.bb-video-modal .modal-body {
	padding: 0;
	height: 380px;
	width: 800px
}
.bb-video-modal .loader-image {
	left: 46%;
	position: absolute;
	top: 40%
}
.bb-video-modal .modal-header .close {
	background: white;
	border-radius: 15px;
	color: #34495e;
	font-size: 26px;
	line-height: 20px;
	margin: 0;
	padding: 3px 5px 2px;
	opacity: 1;
	position: absolute;
	right: -20px;
	top: -3px;
	z-index: 2
}
.bbfooter .bottom_sept {
	padding-top: 20px
}
@media only screen and (min-width:768px) and (max-width:1023px) {
.bbfooter .col-md-4 {
	float: left;
	width: 32%
}
.bbfooter .col-md-3 {
	float: left;
	width: 50%
}
.bbfooter .bbfooter-section-one {
	padding: 0
}
.bbfooter-subscribe, .bbfooter-contact {
	margin-top: 30px
}
}
@media(max-width:799px) {
.bb-video-modal .modal-dialog {
	margin: 11% auto;
	width: 520px
}
.bb-video-modal .modal-dialog iframe {
	width: 520px;
	height: 320px
}
}
@media(max-width:580px) {
.bb-video-modal .modal-dialog {
	margin: 11% auto;
	width: 320px
}
.bb-video-modal .modal-dialog iframe {
	width: 320px;
	height: 250px
}
}
@media only screen and (min-width:320px) and (max-width:767px) {
.bb-video-modal .modal-dialog {
	margin: 11% auto;
	width: 280px
}
.bb-video-modal .modal-dialog iframe {
	width: 280px;
	height: 220px
}
.bb-footer-copyright p {
	text-align: center
}
.social-media {
	margin: 20px 0 10px
}
.ft-subscribe {
	overflow: visible
}
}
@media(max-width:480px) {
.bbfooter {
	padding: 20px 0 10px
}
.footer-links {
	margin-bottom: 30px
}
.bbfooter-space {
	margin-top: 0
}
.bbfooter .bbfooter-section-one {
	padding: 0
}
.bbfooter-subscribe {
	margin: 30px 0
}
.bb-footer-copyright {
	padding: 15px 0 5px
}
}
.alert-success-mc {
	background-color: #fff;
	border: 0 solid #e1ebe9;
	bottom: 0;
	box-shadow: 0 0 24px #000;
	display: none;
	height: 152px;
	left: 0;
	margin: auto;
	padding: 42px 0 0 27px;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	width: 262px;
	z-index: 999;
	border-radius: 6px
}
.alert .close {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 0 24px;
	color: #34495e;
	font-size: 20px;
	opacity: 1;
	padding: 0 4px;
	position: absolute;
	right: -18px;
	top: -16px
}
.alert-success-mc .success-img {
	background-image: url(https://cdn1-bankbazaar-image.bankbazaar.com/images/offerflow/success-img-mc-alert.png);
	background-repeat: no-repeat;
	bottom: -27px;
	display: block;
	height: 188px;
	left: -84px;
	position: absolute;
	width: 138px
}
.alert-success-mc strong {
	font-size: 18px;
	font-weight: normal
}
.alert p {
	font-size: 14px;
	line-height: normal
}
@media(max-width:480px) {
.alert-success-mc {
	left: 42px;
	width: 196px
}
.alert-success-mc strong {
	font-size: 16px
}
.alert p {
	font-size: 12px
}
}
.bbfooter .bbfooter-contact .title {
	color: #9c9c9c;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold
}
.bbfooter .phone_btm .fa {
	background-image: url(https://cdn2-bankbazaar-image.bankbazaar.com/images/sprite/sprite-for-symbols-v3.png);
	background-repeat: no-repeat
}
.bbfooter .phone_btm .fa {
	width: 17px;
	height: 19px;
	display: inline-block
}
.bbfooter h6.phone_btm {
	font-size: 16px;
	font-weight: bold;
	margin: 15px 0
}
.bbfooter .footer-whatsapp {
	background-position: -4px -177px;
	margin-right: 5px
}
.bbfooter .fa-mobile-phone {
	background-position: -6px -63px
}
.bbfooter .fa-envelope-o {
	background-position: -73px -64px
}
.bbfooter .fa-map-marker {
	background-position: -41px -66px
}
.bbfooter .phone_btm .cont_para {
	font-size: 14px;
	line-height: 18px;
	margin: 0;
	padding-left: 10%
}
.bbfooter .address-icon .fa {
	vertical-align: top
}
.bbfooter div.phone_btm {
	margin-bottom: 10px
}
.bbfooter .mrs {
	margin-right: 5px
}
.bbfooter .address-icon {
	float: left
}
.phone_btm a {
	font-size: 12px
}
div.phone_btm a {
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline
}
.bbfooter .footer-social-store {
	padding-top: 100px
}
.bbfooter .footer-social-store .title {
	color: #9c9c9c;
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 5px;
	white-space: nowrap
}
.bbfooter .social-media .footer-title {
	font-weight: 700
}
.bbfooter .get-app {
	float: left;
	padding-top: 5px;
	width: 300px
}
.bbfooter .social-store-thumb {
	background-image: url(https://cdn2-bankbazaar-image.bankbazaar.com/images/common/sprite/sprite-footer-app-store-v1.png);
	background-repeat: no-repeat;
	background-position: 0 0
}
.bbfooter .bottom-menu a {
	color: #75787c;
	font-size: 12px
}
.bbfooter .mobile_app_store a {
	background-position: 0 0;
	display: block;
	float: left;
	height: 41px;
	width: 129px
}
.bbfooter .footer_google_play {
	float: left
}
.bbfooter .footer_google_play a {
	background-position: -168px 0;
	display: block;
	height: 41px;
	width: 135px
}
.bb-new-footer {
	font-size: 14px
}
.bb-new-footer .container {
	padding: 0
}
.bb-new-footer li {
	list-style-type: none;
	margin: 0 20px 10px 0;
	line-height: normal
}
.footer-list {
	background: #323232;
	padding: 25px 0 0;
	color: #878787
}
.footer-list ul {
	padding: 0;
	margin: 0;
	line-height: normal
}
.other-list {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
	column-gap: 30px
}
.other-list li {
	display: block;
	margin-right: 0;
	display: inline-block;
	width: 98%
}
.footer-list .ft-finance-title {
	width: 8%;
	float: left;
	text-align: right
}
.footer-list .ft-finance-list {
	width: 92%;
	display: inline-block
}
.footer-list .single .ft-finance-links-single {
	margin: 10px auto 0
}
.footer-list a {
	color: #878787;
	line-height: normal
}
.footer-list a:hover {
	color: #fff
}
.footer-list .ft-finance-links {
	margin: 40px auto;
	text-align: left
}
.footer-list .double {
	margin: 10px auto 0
}
.footer-list .double .ft-finance-links-double {
	margin: 0 auto
}
.footer-list .ft-finance-links-single {
	margin: 20px auto 0;
	text-align: left
}
.footer-list .ft-finance-links a, .footer-list .ft-finance-links-single a, .footer-list .ft-finance-links-double a {
	margin: 0 10px;
	white-space: nowrap;
	display: inline-block
}
.footer-list .single .ft-finance-links-single, .footer-list .double .ft-finance-links-double {
	font-size: 11px
}
.footer-list .ft-finance-links-double {
	margin: 0 auto 40px;
	text-align: left
}
.footer-social {
	background: #323232;
	padding: 0;
	color: #fff;
	font-size: 14px;
	text-align: center
}
.footer-social a {
	color: #878787
}
.footer-social a:hover {
	color: #fff
}
.footer-social a:active, .footer-social a:focus, .footer-social a:focus:hover {
	color: #fff
}
.footer-social p {
	margin-bottom: 15px
}
.footer-social p, .footer-social p a {
	font-size: 12px;
	color: #878787
}
.footer-common-link {
	padding: 20px 0 0 0
}
.footer-common-link a {
	margin: 25px 15px 10px
}
.footer-social-icons {
	margin: 20px auto 10px
}
.footer-social-icons a {
	background-repeat: no-repeat;
	display: inline-block;
	height: 28px;
	margin: 0 7px;
	overflow: hidden;
	text-indent: -9999px;
	width: 28px
}
.bbicons-ft-fb {
	background-position: 0 0
}
.bbicons-ft-gp {
	background-position: -47px 0
}
.bbicons-ft-in {
	background-position: -96px 0
}
.bbicons-ft-tt {
	background-position: -141px 0
}
.bbicons-ft-instg {
	background-position: -188px 0
}
.ft-links-tittle {
	color: #aaa9a9;
	font-size: 16px
}
.footer-social-border {
	border-top: 1px dotted #989898;
	margin: 0 40px
}
.footer-list-subscribe {
	background: #323232;
	padding: 5px 0 10px 0
}
.ft-subscribe {
	margin: 10px auto;
	color: #878787
}
.ft-subscribe-form {
	margin: 0 0 0 20px;
	display: inline-block;
	position: relative
}
.ft-subscribe .form-control_2 {
	width: 200px;
	height: 31px;
	background: #3d3d3d;
	color: #878787;
	margin: 0;
	border: 0;
	display: inline-block;
	float: left
}
.ft-subscribe .form-control_2::-webkit-input-placeholder {
color:#878787
}
.ft-subscribe .btn-primary_2 {
	background: #2e2d2d;
	padding: 0 20px;
	color: #878787;
	font-size: 16px;
	font-weight: normal;
	height: 34px;
	margin: -1px 0 0 0;
	display: inline-block
}
.ft-subscribe .btn.disabled, .ft-subscribe .btn[disabled], .ft-subscribe fieldset[disabled] .btn {
	border-radius: 0;
	height: 30px;
	float: left;
	margin-top: 1px;
	background-color: #bdc3c7;
	opacity: .7;
	pointer-events: none;
	cursor: not-allowed;
	box-shadow: none;
	color: #fff
}
.ft-subscribe span {
	float: left;
	line-height: 31px
}
@media only screen and (max-width:1024px) {
.footer-social-border {
	border-top: 0 none;
	margin: 0
}
.footer-list, .ipad .footer-list {
	display: none
}
.footer-social .container {
	padding: 0;
	width: auto
}
.footer-social {
	padding: 0;
	border: 0
}
.footer-common-link a {
	font-size: 12px
}
.footer-common-link {
	background: #323232;
	padding: 5px 0;
	color: #878787;
	font-size: 18px;
	text-align: center
}
.footer-social .container {
	border: 0
}
.footer-social-icons {
	margin: 5px auto 5px
}
.ft-subscribe-form {
	display: inline-block;
	margin: 0 20px
}
.footer-list-subscribe {
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px dotted #989898
}
.footer-social p {
	margin-bottom: 5px
}
.footer-list-subscribe .ft-subscribe span {
	margin-bottom: 10px;
	display: block;
	float: none
}
.ft-subscribe .form-control_2 {
	text-align: center;
	float: left;
	font-size: 12px;
	font-weight: normal
}
.footer-social a, .footer-social a:hover, .footer-social a:active, .footer-social a:focus, .footer-social a:focus:hover {
	color: #878787
}
.ft-subscribe .btn-primary_2 {
	font-size: 12px;
	border-radius: 0;
	padding: 0 10px
}
.ft-subscribe span {
	float: left;
	line-height: 31px
}
}
@media only screen and (max-width:768px) {
.footer-social a, .footer-social a:hover, .footer-social a:active, .footer-social a:focus, .footer-social a:focus:hover {
	color: #878787
}
}
@media only screen and (max-width:480px) {
.footer-common-link a {
	margin: 10px 5px;
	padding: 10px 5px
}
.footer-list-subscribe .ft-subscribe span {
	width: 90%;
	line-height: normal;
	margin: 0 auto 10px
}
.ft-subscribe-form {
	margin: 0 auto;
	width: 236px
}
.ft-subscribe .form-control_2 {
	width: 160px;
	text-align: center;
	float: left
}
}
.ft-subscribe-form label.error {
	position: absolute;
	left: 0;
	font-size: 14px;
	top: 40px;
	border-radius: 6px;
	background-color: #f1c40f;
	color: #fff;
	font-weight: bold;
	padding: 10px;
	line-height: normal;
	min-width: 200px;
	text-align: left
}
.ft-subscribe-form label.error:after, .ft-subscribe-form label.error:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none
}
.ft-subscribe-form label.error:before {
	border-bottom-color: #f1c40f;
	border-width: 8px;
	margin-left: 8px;
	left: 5px
}
.bb-login .modal-dialog {
	width: 318px;
	margin: 40px auto
}
.bb-login .modal-body {
	padding: 15px 24px
}
.bb-login .modal-content {
	border: 0 solid #ebedef
}
.bb-login .nav-tabs {
	margin-bottom: 15px
}
.bb-login .modal-header {
	border-bottom: 0 solid #ebedef;
	padding: 15px 15px 5px 15px
}
.bb-login .close {
	background-color: #fff;
	border-radius: 3px;
	padding: 0 4px;
	opacity: 1;
	font-size: 20px;
	position: absolute;
	top: -14px;
	right: -17px;
	outline: 0
}
.bb-login .modal-header p {
	font-size: 10px
}
.bb-login .modal-body p {
	line-height: 1.625;
	font-weight: 300;
	text-align: center;
	padding-bottom: 10px
}
.bb-login .modal-header h4 {
	font-size: 22px;
	font-weight: normal;
	margin: 0
}
.bb-login .modal-header p {
	margin: 0
}
.bb-login .modal-body a {
	color: #fff;
	position: relative;
	text-align: center;
	border: 0 solid rgba(0,0,0,0.2);
	text-transform: uppercase;
	font-size: 14px;
	font-weight: normal;
	padding: 10px 0 10px 40px;
	width: 100%;
	margin: 0 auto 15px
}
.bb-login .modal-body a span {
	background-repeat: no-repeat;
	border-radius: 3px 0 0 3px;
	width: 52px;
	height: 39px;
	display: block;
	position: absolute;
	top: 0;
	left: 0
}
.bb-login .facebook {
	background-color: #2b5794;
	background-position: 13px -2px
}
.bb-login .google-plus {
	background-color: #db4a38;
	background-position: 11px -49px
}
.bb-login .btn-facebook {
	background-color: #3c6caf
}
.bb-login .btn-googleplus {
	background-color: #e16f60
}
.bb-login .nav-tabs {
	margin-top: 0
}
.bb-login .nav-tabs>li {
	width: 50%;
	float: left
}
.bb-login .nav-tabs>li>a {
	background-color: #f4f4f2;
	display: block;
	border-radius: 0;
	color: #000;
	padding: 10px;
	margin-bottom: 0;
	text-decoration: none;
	text-transform: none;
	text-align: center
}
.bb-login .modal-body .nav-tabs>li.active>a, .bb-login .modal-body .nav-tabs>li.active>a:hover, .bb-login .modal-body .nav-tabs>li.active>a:focus {
	background-color: #1abc9c!important;
	border: 0 solid #fff;
	color: #fff
}
.bb-login .nav-tabs>li>a, .bb-login .nav-tabs>li>a:hover, .bb-login .nav-tabs>li>a:focus {
	border: 0 solid #e1e4e7
}
.bb-login .tab-content {
	border: 0 solid #ddd;
	padding: 0;
	margin-bottom: 0
}
.bb-login .form-group {
	margin-bottom: 15px
}
.bb-login .form-control {
	border: 1px solid #d5d5d1;
	font-size: 14px
}
.bb-login .modal-body .tab-content .forget-password, .bb-login .modal-body .back {
	text-align: left;
	color: #3c6caf;
	display: block;
	text-decoration: none;
	font-size: 12px;
	text-transform: none;
	padding: 0 0 15px;
	margin: 0;
	line-height: normal
}
.bb-login .modal-body .back span {
	background: none repeat scroll 0 0 rgba(0,0,0,0);
	display: inline;
	position: relative;
	top: 0
}
.bb-login .btn.btn-primary {
	background-color: #1abc9c;
	width: 100%;
	font-size: 14px;
	font-weight: normal
}
.bb-login .title {
	background-color: #1abc9c;
	color: white;
	padding: 10px
}
.bb-login .resetpwd p {
	text-align: left;
	line-height: normal;
	padding-top: 10px
}
.bb-login .input-error-cl {
	background-color: #f1c40f;
	border-radius: 6px;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 10px 10px 47px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 0;
	line-height: normal;
	position: relative;
	-moz-animation: bounce 1s 1 alternate;
	-ms-animation: bounce 1s 1 alternate;
	-o-animation: bounce 1s 1 alternate;
	-webkit-animation: bounce 1s 1 alternate;
	animation: bounce 1s 1 alternate
}
.bb-login .input-error-cl:after {
	bottom: 100%;
	left: 40px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(241,196,15,0);
	border-bottom-color: #f1c40f;
	border-width: 10px;
	margin-left: -30px
}
.bb-login .input-error-cl img {
	left: 10px;
	position: absolute;
	top: 4px
}
.bb-login .checkbox label {
	display: block;
	line-height: 20px;
	font-size: 12px;
	padding-left: 12px
}
.bb-login .checkbox.checked .second-icon {
	color: #1abc9c
}
.bb-login .checkbox .icons {
	top: auto;
	color: #bdc3c7;
	line-height: 21px
}
.bb-login .section-title {
	font-size: 22px
}
@media(max-width:767px) {
.bb-login .modal-dialog {
	margin: 30px auto
}
.bb-login .modal-body {
	padding: 10px 15px
}
.bb-login .modal-body p {
	padding-bottom: 5px
}
.bb-login .modal-header {
	padding: 15px 12px 5px
}
.bb-login .modal-header .close {
	right: 9px;
	top: -15px
}
.bb-login .modal-dialog {
	width: 300px
}
.bb-login .modal-body {
	padding: 10px 15px
}
.bb-login .modal-body a {
	margin: 0 auto 5px
}
.bb-login .nav-tabs {
	margin-bottom: 12px;
	margin-top: 5px
}
.bb-login .nav-tabs>li>a {
	padding: 5px
}
.bb-login .form-control {
	height: 36px
}
.bb-login .form-group {
	margin-bottom: 10px
}
.bb-login .forget-password {
	margin: 0 0 10px
}
}
.flashsale-banner-img {
	width: 100%
}
.flashsale-cta-btn {
	width: 45%;
	position: absolute;
	bottom: 5%;
	right: 28%
}
.flashsale-gateway-banner {
	height: 105px;
	margin: 0 auto;
	position: relative;
	width: 320px;
	background-repeat: no-repeat;
	background-position: top center
}
.fs-gateway-banner {
	background-position: center top;
	background-repeat: no-repeat;
	border-radius: 5px;
	height: 250px;
	margin: 0 auto;
	position: relative;
	width: 286px
}
.fs-gateway-banner .carousel-inner img {
	border-radius: 5px
}
.fs-mob-banner-container {
	background-size: 100% auto;
	margin-bottom: 15px;
	width: 100%;
	background: #efefef none repeat scroll 0 0;
	border: 9px solid #efefef
}
.fs-gateway-banner .fs-sticky-controls {
	bottom: -22px
}
.flashsale-sticky {
	z-index: 1000;
	position: fixed;
	width: 285px;
	right: 0;
	top: 120px;
	line-height: 1.7222;
	font-size: 14px;
	animation: fs-anim 1s;
	-webkit-animation: fs-anim 1s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1
}
.flashsale-sticky-img {
	width: 100%
}
.flashsale-sticky .carousel {
	border: 9px solid #efefef;
	border-radius: 5px;
	background: #efefef
}
.fs-sticky-controls {
	bottom: -15px;
	display: block;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	width: 100%
}
.fs-sticky-controls-inner {
	background: #efefef none repeat scroll 0 0;
	border-radius: 10px;
	display: inline-block;
	width: 51%
}
.fs-sticky-controls .carousel-indicators {
	display: inline-block;
	position: relative;
	right: auto;
	top: 1px;
	left: auto;
	width: auto;
	margin: 0
}
.fs-sticky-controls .carousel-indicators li.active, .fs-sticky-controls .carousel-indicators li {
	margin: 0 0 0 6px;
	width: 10px;
	height: 10px
}
.fs-sticky-controls .carousel-indicators li {
	background-color: rgba(44,62,80,0.5);
	border: 0
}
.fs-sticky-controls .carousel-indicators li:last-child {
	margin-right: 6px
}
.fs-sticky-controls .carousel-indicators li.active {
	background-color: #059aed;
	width: 10px;
	height: 10px
}
.fs-sticky-close {
	background: #efefef none repeat scroll 0 0;
	border-radius: 5px;
	color: #777;
	font-size: 18px;
	height: 25px;
	line-height: 24px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 27px;
	z-index: 1
}
.fs-small-sticky {
	line-height: 1.72222;
	font-size: 14px;
	position: fixed;
	background-color: #1469a0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 10px 0;
	right: -48px;
	text-align: center;
	top: 26%;
	width: 140px;
	z-index: 1000;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg)
}
.fs-sticky-deal {
	color: #dee6ee;
	display: inline-block;
	font-weight: bold;
	padding: 0 7px;
	font-size: 14px;
	line-height: 1.72222
}
.fs-sticky-controls .sprite-fs-sticky, .fs-small-sticky .sprite-fs-sticky {
	background-image: url('https://cdn1.bankbazaar.com/images/gateway/sprite-fs-sticky.png');
	background-repeat: no-repeat;
	display: inline-block;
	background-color: transparent;
	vertical-align: middle
}
.fs-deal-arrow {
	width: 12px;
	height: 7px;
	background-position: -5px -5px
}
.fs-gateway-deal {
	width: 16px;
	height: 16px;
	background-position: -5px -22px
}
.fs-sticky-controls .carousel-control.left {
	background-position: -5px -48px;
	left: 0
}
.fs-sticky-controls .carousel-control.right {
	background-position: -5px -70px;
	right: 0
}
.fs-sticky-controls .carousel-control.left, .fs-sticky-controls .carousel-control.right {
	background-image: url('https://cdn1.bankbazaar.com/images/gateway/sprite-fs-sticky.png');
	border: 0;
	border-radius: 0;
	margin: 0;
	opacity: 1;
	height: 12px;
	top: auto;
	width: 8px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	background-color: transparent
}
.flashsale-sticky .item {
	padding-bottom: 0!important
}
.flashsale-sticky .carousel-inner {
	overflow: hidden!important;
	padding-bottom: 0
}
.fs-carousel .carousel-inner {
	width: 320px;
	height: 105px;
	margin: 0 auto
}
.fs-sm-close {
	position: fixed;
	width: 285px;
	right: 0;
	top: 18%;
	z-index: 9999;
	animation: fs-anim-rev 1s;
	-webkit-animation: fs-anim-rev 1s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1
}
.fs-icon-over {
	z-index: 4
}
@-webkit-keyframes fs-anim {
0% {
right:-290px;
top:120px
}
100% {
right:0;
top:120px
}
}
@keyframes fs-anim {
0% {
right:-290px;
top:120px
}
100% {
right:0;
top:120px
}
}
@-webkit-keyframes fs-anim-rev {
0% {
right:0;
top:120px
}
100% {
right:-300px;
top:120px
}
}
@keyframes fs-anim-rev {
0% {
right:0;
top:120px
}
100% {
right:-300px;
top:120px
}
}
